<article class="vf-media-object{% if modifier_class %} {{modifier_class}}{% endif %}">
  {% if media_object__image %}
  <img src="{{ media_object__image }}" alt="{{ media_object__image_alt }}" class="vf-media-object__image" height="{{ media_object__image_size }}" width="{{ media_object__image_size }}">
  {% endif %}
  <div class="vf-media-object__content">
    <h3 class="vf-media-object__title">{{ media_object__title }}</h3>
    <p class="vf-media-object__text"> {{ media_object__text }}</p>
  </div>
</article>
