<article class="vf-summary">
  <h3 class="vf-summary__title vf-text vf-text--heading-l">
    <a href="#" class="vf-link">{{ summary__title }}</a>
  </h3>
  <p class="vf-summary__text vf-text vf-text--body-r">{{ summary__text }}</p>
</article>
