.vf-summary--article {

  .vf-summary__date {
    margin-left: $vf-summary--article__date-margin-left;
    margin-right: $vf-summary--article__date-margin-right;
    position: relative;
  }

  .vf-summary__meta {
    align-items: center;
    display: flex;

    > * {
      margin-bottom: 0;
    }
  }

  .vf-summary__title {
    --vf-text-margin--bottom: 4px;
  }
}
