:root {
  --vf-color-white: rgb(255, 255, 255);
  --vf-color-off-white: rgb(250, 250, 250);
  --vf-color-black: rgb(40, 45, 35);
  --vf-color-gray: rgb(112, 115, 114);
  --vf-color-gray-bright: rgb(185, 179, 168);
  --vf-color-gray-dark: rgb(84, 88, 90);
  --vf-color-green: rgb(0, 159, 77);
  --vf-color-green-bright: rgb(108, 194, 74);
  --vf-color-green-dark: rgb(0, 123, 83);
  --vf-color-light-green: rgb(168, 199, 0);
  --vf-color-light-green-bright: rgb(226, 232, 104);
  --vf-color-light-green-dark: rgb(132, 189, 0);
  --vf-color-ruby: rgb(228, 0, 70);
  --vf-color-ruby-bright: rgb(229, 143, 158);
  --vf-color-ruby-dark: rgb(166, 9, 61);
  --vf-color-yellow: rgb(255, 205, 0);
  --vf-color-yellow-bright: rgb(253, 215, 87);
  --vf-color-yellow-dark: rgb(255, 184, 28);
  --vf-color-purple: rgb(130, 70, 175);
  --vf-color-purple-bright: rgb(203, 163, 216);
  --vf-color-purple-dark: rgb(86, 61, 130);
  --vf-color-amber: rgb(255, 163, 0);
  --vf-color-amber-bright: rgb(190, 84, 0);
  --vf-color-amber-dark: rgb(239, 192, 110);
  --vf-color-azure: rgb(40, 122, 226);
  --vf-color-azure-bright: rgb(139, 184, 232);
  --vf-color-azure-dark: rgb(0, 61, 165);
}

:root {
  --vf-ui-color-black: rgb(0, 0, 0);
  --vf-ui-color-gray: rgb(243, 243, 243);
  --vf-ui-color-gray-light: rgb(216, 216, 216);
  --vf-ui-color-yellow: rgb(255, 250, 220);
  --vf-ui-color-red: rgb(211, 47, 47);
}

.vf-summary {
  --vf-text-margin--bottom: 16px;
}

.vf-summary--profile {
  --vf-icon--avatar-width: 178px;
}

.vf-summary {
  --vf-text-margin--bottom: 16px;
}

.vf-summary--profile {
  --vf-icon--avatar-width: 178px;
}

.vf-summary {
  align-self: start;
  display: grid;
  grid-column-gap: 16px;
  margin-bottom: 2rem;
  position: relative;
}

.vf-summary > *:last-child {
  margin-bottom: 0;
}

.vf-summary__button {
  --vf-text-margin--bottom: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 16px 24px;
  text-decoration: none;
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 0;
}

.vf-summary__category {
  --vf-text-margin--bottom: 0;
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.57;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  color: #707372;
  margin-bottom: 0;
}

.vf-summary__date {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.57;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  color: #707372;
}

.vf-summary__link {
  border-bottom: none;
  text-decoration: underline;
  color: #287ae2;
  z-index: 5150;
}

.vf-summary__link:visited {
  color: #54585a;
  border-bottom: none;
  text-decoration: underline;
}

.vf-summary__link:hover {
  color: #4286ff;
  border-bottom: none;
  text-decoration: underline;
}

.vf-summary__link--overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.vf-summary__meta {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.57;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-summary__text {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  line-height: 1.421;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-summary__title {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.333;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-summary--article .vf-summary__date {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  position: relative;
}

.vf-summary--article .vf-summary__meta {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.vf-summary--article .vf-summary__meta > * {
  margin-bottom: 0;
}

.vf-summary--article .vf-summary__title {
  --vf-text-margin--bottom: 4px;
}

.vf-summary--job {
  grid-template-columns: auto 1fr;
}

.vf-summary--job .vf-summary__date {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.vf-summary--job .vf-summary__date span {
  color: #e40046;
}

.vf-summary--job .vf-summary__meta {
  --vf-text-margin--bottom: 4px;
  grid-column: 1 / -1;
}

.vf-summary--job .vf-summary__text {
  grid-column: 1 / -1;
}

.vf-summary--job .vf-summary__title {
  grid-column: 1 / -1;
}

.vf-summary--news {
  grid-column-gap: 0;
  grid-template-columns: minmax(0, auto) 1fr;
  grid-template-rows: auto;
  margin-bottom: 48px;
}

.vf-summary--news .vf-summary__image {
  grid-column: 1 / span 1;
  grid-row: 1 / span 4;
  margin-right: 30px;
  max-width: 180px;
  width: 100%;
}

.vf-summary--news .vf-summary__title {
  grid-column: 2 / -1;
}

.vf-summary--news .vf-summary__category {
  display: block;
  grid-column: 2 / -1;
  margin-bottom: 16px;
  margin-right: 1rem;
  position: relative;
  text-transform: uppercase;
}

.vf-summary--news .vf-summary__date {
  --vf-text-margin--bottom: 0px;
  grid-column: 2 / -1;
  grid-row: 1;
}

.vf-summary--news .vf-summary__text {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: block;
  grid-column: 2 / -1;
}

.vf-summary--news .vf-summary__text > .vf-summary__category {
  margin-top: -16px;
}

.vf-summary--profile {
  grid-column-gap: 16px;
  grid-template-columns: minmax(0, var(--vf-icon--avatar-width)) 1fr;
  grid-template-rows: auto;
  margin-bottom: 48px;
}

.vf-summary--profile .vf-summary__image {
  align-self: center;
  grid-column: 1 / span 1;
  grid-row: 1 / span 6;
  margin-right: 30px;
  max-width: 170px;
  width: 100%;
}

.vf-summary--profile .vf-summary__title {
  --vf-text-margin--bottom: 0;
  font-size: 19px;
  grid-column: 2 / -1;
  line-height: 1.5;
}

.vf-summary--profile .vf-summary__text {
  --vf-text-margin--bottom: 0;
}

.vf-summary__link {
  border-bottom: none;
  text-decoration: underline;
  color: #287ae2;
}

.vf-summary__link:visited {
  color: #54585a;
  border-bottom: none;
  text-decoration: underline;
}

.vf-summary__link:hover {
  color: #4286ff;
  border-bottom: none;
  text-decoration: underline;
}

.vf-summary__link--secondary {
  border-bottom: none;
  text-decoration: underline;
  color: #707372;
}

.vf-summary__link--secondary:visited {
  color: #b9b3a8;
  border-bottom: none;
  text-decoration: underline;
}

.vf-summary__link--secondary:hover {
  color: #4286ff;
  border-bottom: none;
  text-decoration: underline;
}

.vf-summary__image--avatar {
  border-radius: 50%;
}

.vf-summary__email {
  --vf-text-margin--bottom: 24px;
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  line-height: 1.421;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  z-index: 5150;
}

.vf-summary__phone {
  --vf-text-margin--bottom: 0;
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  line-height: 1.421;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-summary__phone + .vf-summary__phone {
  --vf-text-margin--bottom: 8px;
}

.vf-sumary--mobile {
  position: relative;
}

.vf-sumary--mobile::after {
  content: '(mobile)';
  margin-left: 4px;
  position: absolute;
}

.vf-summary__uuid {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.57;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-summary--profile-l {
  --vf-icon--avatar-width: 128px;
}

.vf-summary--profile-l .vf-summary__email {
  --vf-text-margin--bottom: 8px;
}

.vf-summary--profile-r {
  --vf-icon--avatar-width: 80px;
}

.vf-summary--profile-r .vf-summary__title {
  --vf-text-margin--bottom: 8px;
}

.vf-summary--profile-r .vf-summary__text {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.57;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-summary--profile-r .vf-summary__email {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.57;
  margin: 0 0 0 0;
}

.vf-summary--profile-r .vf-summary__image {
  margin-right: 16px;
}

.vf-summary--profile-s {
  --vf-icon--avatar-width: 60px;
}

.vf-summary--profile-s .vf-summary__image {
  margin-right: 8px;
}

.vf-summary--profile-s .vf-summary__title {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.57;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-summary--has-image {
  grid-column-gap: 18px;
  grid-template-columns: minmax(50px, auto) 1fr;
  grid-template-rows: auto;
  margin: 0 0 48px 0;
}

.vf-summary--has-image .vf-summary__image {
  grid-column: 1 / span 1;
  grid-row: 1 / span 4;
  width: 180px;
}

.vf-summary--has-image .vf-summary__image--thumbnail {
  width: 50px;
}

.vf-summary--has-image .vf-summary__title {
  grid-column: 2 / -1;
}

.vf-summary--has-image .vf-summary__text {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: block;
  grid-column: 2 / -1;
}
