.vf-summary--has-image {

  grid-column-gap: 18px;
  grid-template-columns: minmax($vf-summary--has-image-width, auto) 1fr;
  grid-template-rows: auto;
  @include margin--block(bottom, 48px);

  .vf-summary__image {
    grid-column: 1 / span 1;
    grid-row: 1 / span 4;
    width: 180px;
  }

  .vf-summary__image--thumbnail {
    width: $vf-summary--has-image-width;
  }

  .vf-summary__title {
    grid-column: 2 / -1;
  }

  .vf-summary__text {
    align-items: center;
    display: block;
    grid-column: 2 / -1;
  }

}
