:root {
  --vf-color--green: #009f4d;
  --vf-color--green--darkest: #115740;
  --vf-color--green--dark: #007a53;
  --vf-color--green--light: #6cc24a;
  --vf-color--green--lightest: #d0debb;
  --vf-color--grey: #707372;
  --vf-color--grey--darkest: #373a36;
  --vf-color--grey--dark: #54585a;
  --vf-color--grey--light: #d0d0ce;
  --vf-color--grey--lightest: #a8a99e;
  --vf-color--red: #e40046;
  --vf-color--red--dark: #a6093d;
  --vf-color--red--light: #e58f9e;
  --vf-color--blue: #307fe2;
  --vf-color--blue--dark: #003da5;
  --vf-color--blue--light: #8bb8e8;
  --vf-color--purple: #8246af;
  --vf-color--purple--dark: #563d82;
  --vf-color--purple--light: #cba3d8;
  --vf-color--orange: #ffa300;
  --vf-color--orange--dark: #be5400;
  --vf-color--orange--light: #efc06e;
  --vf-color--yellow: #ffcd00;
  --vf-color--yellow--dark: #ffb81c;
  --vf-color--yellow--light: #fdd757;
  --vf-color--bright-green: #a8c700;
  --vf-color--bright-green--dark: #84bd00;
  --vf-color--bright-green--light: #e2e868;
}

:root {
  --vf-ui-color--black: #000000;
  --vf-ui-color--grey: #f3f3f3;
  --vf-ui-color--grey--light: #d8d8d8;
  --vf-ui-color--yellow: #fffadc;
  --vf-ui-color--red: #d32f2f;
}

.vf-summary {
  --vf-text-margin--bottom: 16px;
}

.vf-summary--profile {
  --vf-icon--avatar-width: 178px;
}

.vf-summary {
  --vf-text-margin--bottom: 16px;
}

.vf-summary--profile {
  --vf-icon--avatar-width: 178px;
}

.vf-summary {
  align-self: start;
  display: grid;
  grid-column-gap: 16px;
  margin-bottom: 2rem;
  position: relative;
}

.vf-summary > *:last-child {
  margin-bottom: 0;
}

.vf-summary__button {
  --vf-text-margin--bottom: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 16px 24px;
  text-decoration: none;
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 0;
}

.vf-summary__category {
  --vf-text-margin--bottom: 0;
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.57;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  color: #707372;
  margin-bottom: 0;
}

.vf-summary__date {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.57;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  color: #707372;
}

.vf-summary__link {
  border-bottom: none;
  text-decoration: underline;
  color: #307fe2;
  z-index: 5150;
}

.vf-summary__link:visited {
  color: #54585a;
  border-bottom: none;
  text-decoration: underline;
}

.vf-summary__link:hover {
  color: #4a8bff;
  border-bottom: none;
  text-decoration: underline;
}

.vf-summary__link--overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.vf-summary__meta {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.57;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-summary__text {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  line-height: 1.421;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-summary__title {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.333;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-summary--article .vf-summary__date {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  position: relative;
}

.vf-summary--article .vf-summary__meta {
  align-items: center;
  display: flex;
}

.vf-summary--article .vf-summary__meta > * {
  margin-bottom: 0;
}

.vf-summary--article .vf-summary__title {
  --vf-text-margin--bottom: 4px;
}

.vf-summary--job {
  grid-template-columns: auto 1fr;
}

.vf-summary--job .vf-summary__date {
  align-self: flex-end;
}

.vf-summary--job .vf-summary__meta {
  --vf-text-margin--bottom: 4px;
  grid-column: 1 / -1;
}

.vf-summary--job .vf-summary__text {
  grid-column: 1 / -1;
}

.vf-summary--job .vf-summary__title {
  grid-column: 1 / -1;
}

.vf-summary--news {
  grid-column-gap: 0;
  grid-template-columns: minmax(0, auto) 1fr;
  grid-template-rows: auto;
  margin-bottom: 48px;
}

.vf-summary--news .vf-summary__image {
  grid-column: 1 / span 1;
  grid-row: 1 / span 4;
  margin-right: 30px;
  max-width: 180px;
  width: 100%;
}

.vf-summary--news .vf-summary__title {
  grid-column: 2 / -1;
}

.vf-summary--news .vf-summary__category {
  display: block;
  grid-column: 2 / -1;
  margin-bottom: 16px;
  margin-right: 1rem;
  position: relative;
  text-transform: uppercase;
}

.vf-summary--news .vf-summary__date {
  --vf-text-margin--bottom: 0px;
  grid-column: 2 / -1;
  grid-row: 1;
}

.vf-summary--news .vf-summary__text {
  align-items: center;
  display: block;
  grid-column: 2 / -1;
}

.vf-summary--news .vf-summary__text > .vf-summary__category {
  margin-top: -16px;
}

.vf-summary--profile {
  grid-column-gap: 16px;
  grid-template-columns: minmax(0, var(--vf-icon--avatar-width)) 1fr;
  grid-template-rows: auto;
  margin-bottom: 48px;
}

.vf-summary--profile .vf-summary__image {
  align-self: center;
  grid-column: 1 / span 1;
  grid-row: 1 / span 6;
  margin-right: 30px;
  max-width: 170px;
  width: 100%;
}

.vf-summary--profile .vf-summary__title {
  --vf-text-margin--bottom: 0;
  font-size: 19px;
  grid-column: 2 / -1;
  line-height: 1.5;
}

.vf-summary--profile .vf-summary__text {
  --vf-text-margin--bottom: 0;
}

.vf-summary__link {
  border-bottom: none;
  text-decoration: underline;
  color: #307fe2;
}

.vf-summary__link:visited {
  color: #54585a;
  border-bottom: none;
  text-decoration: underline;
}

.vf-summary__link:hover {
  color: #4a8bff;
  border-bottom: none;
  text-decoration: underline;
}

.vf-summary__link--secondary {
  border-bottom: none;
  text-decoration: underline;
  color: #707372;
}

.vf-summary__link--secondary:visited {
  border-bottom: none;
  text-decoration: underline;
}

.vf-summary__link--secondary:hover {
  color: #4a8bff;
  border-bottom: none;
  text-decoration: underline;
}

.vf-summary__image--avatar {
  border-radius: 50%;
}

.vf-summary__email {
  --vf-text-margin--bottom: 24px;
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  line-height: 1.421;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  z-index: 5150;
}

.vf-summary__phone {
  --vf-text-margin--bottom: 0;
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  line-height: 1.421;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-summary__phone + .vf-summary__phone {
  --vf-text-margin--bottom: 8px;
}

.vf-sumary--mobile {
  position: relative;
}

.vf-sumary--mobile::after {
  content: '(mobile)';
  margin-left: 4px;
  position: absolute;
}

.vf-summary__uuid {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.57;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-summary--profile-l {
  --vf-icon--avatar-width: 128px;
}

.vf-summary--profile-l .vf-summary__email {
  --vf-text-margin--bottom: 8px;
}

.vf-summary--profile-r {
  --vf-icon--avatar-width: 80px;
}

.vf-summary--profile-r .vf-summary__title {
  --vf-text-margin--bottom: 8px;
}

.vf-summary--profile-r .vf-summary__text {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.57;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-summary--profile-r .vf-summary__email {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.57;
  margin: 0 0 0 0;
}

.vf-summary--profile-r .vf-summary__image {
  margin-right: 16px;
}

.vf-summary--profile-s {
  --vf-icon--avatar-width: 60px;
}

.vf-summary--profile-s .vf-summary__image {
  margin-right: 8px;
}

.vf-summary--profile-s .vf-summary__title {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.57;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-summary--has-image {
  grid-column-gap: 18px;
  grid-template-columns: minmax(50px, auto) 1fr;
  grid-template-rows: auto;
  margin: 0 0 48px 0;
}

.vf-summary--has-image .vf-summary__image {
  grid-column: 1 / span 1;
  grid-row: 1 / span 4;
  width: 180px;
}

.vf-summary--has-image .vf-summary__image--thumbnail {
  width: 50px;
}

.vf-summary--has-image .vf-summary__title {
  grid-column: 2 / -1;
}

.vf-summary--has-image .vf-summary__text {
  align-items: center;
  display: block;
  grid-column: 2 / -1;
}
