// vf-video-teaser

@import 'package.variables.scss';
// Debug information from component's `package.json`:
// ---
/*!
 * Component: #{map-get($componentInfo, 'name')}
 * Version: #{map-get($componentInfo, 'version')}
 * Location: #{map-get($componentInfo, 'location')}
 */

.vf-video-teaser__image {
  display: block;
  margin-bottom: 16px;
}

.vf-video-teaser__title {
  @include set-type(text-heading--3);
  margin: 0 0 16px 0;
}
