<p class="vf-text--body vf-text--body-xs">This text is extra small</p>
<p class="vf-text--body vf-text--body-s">This text is small</p>
<p class="vf-text--body vf-text--body-r">This text is regular</p>
<p class="vf-text--body vf-text--body-l">This text is large</p>
<a class="vf-text--body vf-text--body-link" href="#">This text is a link</a>
