$componentInfo: (
             name: "@visual-framework/vf-form__legend",
             version: "1.0.1",
             location: "components/vf-form/vf-form__legend",
             vfCoreVersion: "2.2.3"
          );