$componentInfo: (
             name: "@visual-framework/vf-form__legend",
             version: "1.1.0",
             location: "components/vf-form/vf-form__legend",
             vfCoreVersion: "2.2.8",
             buildTimeStamp: "Tue, 20 Oct 2020 07:45:08 GMT"
          );