$componentInfo: (
             name: "@visual-framework/vf-form__legend",
             version: "1.1.0",
             location: "components/vf-form/vf-form__legend",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Fri, 30 Oct 2020 14:49:41 GMT"
          );