// setup files required

// sass-lint:disable clean-import-paths
@import './assets/scss/variables/vf-global-variables.scss';
@import './assets/scss/variables/variables.scss';
@import './assets/scss/functions/functions.scss';
@import './assets/scss/mixins/mixins.scss';

// pattern specific styles

@import 'vf-navigation.scss';
