$componentInfo: (
             name: "@visual-framework/vf-pagination",
             version: "1.0.0-rc.1",
             location: "components/vf-pagination",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Fri, 06 Nov 2020 14:56:35 GMT"
          );