$componentInfo: (
             name: "@visual-framework/vf-pagination",
             version: "1.0.0-rc.1",
             location: "components/vf-pagination",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Tue, 27 Oct 2020 11:08:48 GMT"
          );