:root {
  --vf-color--green: #009f4d;
  --vf-color--green--darkest: #115740;
  --vf-color--green--dark: #007a53;
  --vf-color--green--light: #6cc24a;
  --vf-color--green--lightest: #d0debb;
  --vf-color--grey: #707372;
  --vf-color--grey--darkest: #373a36;
  --vf-color--grey--dark: #54585a;
  --vf-color--grey--light: #a8a99e;
  --vf-color--grey--lightest: #d0d0ce;
  --vf-color--red: #e40046;
  --vf-color--red--dark: #a6093d;
  --vf-color--red--light: #e58f9e;
  --vf-color--blue: #307fe2;
  --vf-color--blue--dark: #003da5;
  --vf-color--blue--light: #8bb8e8;
  --vf-color--purple: #8246af;
  --vf-color--purple--dark: #563d82;
  --vf-color--purple--light: #cba3d8;
  --vf-color--orange: #ffa300;
  --vf-color--orange--dark: #be5400;
  --vf-color--orange--light: #efc06e;
  --vf-color--yellow: #ffcd00;
  --vf-color--yellow--dark: #ffb81c;
  --vf-color--yellow--light: #fdd757;
  --vf-color--bright-green: #a8c700;
  --vf-color--bright-green--dark: #84bd00;
  --vf-color--bright-green--light: #e2e868;
}

:root {
  --vf-ui-color--black: #000000;
  --vf-ui-color--grey: #f3f3f3;
  --vf-ui-color--grey--light: #d8d8d8;
  --vf-ui-color--yellow: #fffadc;
  --vf-ui-color--red: #d32f2f;
  --vf-ui-color--white: #ffffff;
  --vf-ui-color--off-white: #fafafa;
}

/*!
 * Component: @visual-framework/vf-pagination
 * Version: 1.0.0-alpha.6
 * Location: components/vf-pagination
 */
.vf-pagination__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  padding-left: 0;
}

.vf-pagination__item {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  text-align: center;
}

.vf-pagination__item--is-active {
  background-color: #707372;
}

.vf-pagination__item--is-active .vf-pagination__label {
  color: #ffffff;
}

.vf-pagination__label,
.vf-pagination__link {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.71;
  margin: 0 0 0 0;
  color: #707372;
  display: block;
  padding: 4px 8px;
  text-decoration: none;
}

.vf-pagination__link:hover {
  background-color: #707372;
  color: #ffffff;
}

.vf-pagination__item--jump-back {
  border-right: 1px solid #d0d0ce;
}

.vf-pagination__item--jump-forward {
  border-left: 1px solid #d0d0ce;
}

.vf-pagination__item--pages-per {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 0px;
          flex: 2 1 0;
  margin-left: 16px;
}

.vf-pagination__item--pages-per:hover {
  background: unset;
}
