$componentInfo: (
             name: "@visual-framework/vf-video",
             version: "1.0.0-beta.1",
             location: "components/vf-video",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Thu, 05 Nov 2020 09:33:31 GMT"
          );