$componentInfo: (
             name: "@visual-framework/vf-video",
             version: "1.0.0-beta.1",
             location: "components/vf-video",
             vfCoreVersion: "2.2.8",
             buildTimeStamp: "Mon, 26 Oct 2020 08:48:51 GMT"
          );