$componentInfo: (
             name: "@visual-framework/vf-video",
             version: "1.0.0-beta.1",
             location: "components/vf-video",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Thu, 29 Oct 2020 18:41:12 GMT"
          );