.vf-modular-footer .vf-logo__image {
  display: block;
  height: auto;
}

$vf-modular-footer-partner-logo-width: 174px;
$vf-modular-footer-partner-logo-height: 64px;
$vf-modular-footer-partner-rule-width: 8px;

// Keep spacing consistent across the three logical rows.
.vf-modular-footer {
  border-top: 4px solid color(green);
}

.vf-modular-footer__partners {
  border-top: $vf-modular-footer-partner-rule-width solid color(green);
}

.vf-modular-footer.vf-modular-footer--without-rule {
  border-top: 0;
}

.vf-modular-footer.vf-modular-footer--without-rule::after {
  display: none;
}

.vf-modular-footer__partners .vf-list__item {
  margin-bottom: 0 !important;
}

.vf-modular-footer__partners .vf-list__item img {
  width: $vf-modular-footer-partner-logo-width !important;
  height: $vf-modular-footer-partner-logo-height !important;
}

.vf-footer__social-link {
  text-decoration: none;
  margin: 0 6px;
}

.vf-modular-footer--light .vf-u-text-color--white {
  color: var(--vf-color--ui--black, #000);
}

.vf-modular-footer--light .vf-u-text-color--grey--lightest {
  color: var(--vf-color--grey--dark, #54585a);
}

.vf-modular-footer.vf-modular-footer--light .vf-footer__link:hover,
.vf-modular-footer__partners .vf-list__link,
.vf-modular-footer__partners .vf-list__item:hover {
  color: ui-color(black) !important;
}