.vf-form__select {
  @include set-type(text-body--3);

  appearance: none;
  background-color: set-ui-color(vf-ui-color--white);
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='18' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23707372' fill-rule='evenodd'%3E%3Cpath d='M6 0l6 8H0zM6 18l6-8H0z'/%3E%3C/g%3E%3C/svg%3E");
  background-position: right .7em top 50%, 0 0;
  background-repeat: no-repeat, repeat;
  background-size: .65em auto, 100%;
  border-color: set-ui-color(vf-ui-color--grey);
  border-radius: 0;
  border-style: solid;
  border-width: 3px;
  box-sizing: border-box;
  color: set-color(vf-color--grey--dark);;
  display: block;
  margin: 0;
  max-width: 100%;
  padding: 16px 24px;
  width: 100%;

  &:focus,
  &:hover {
    border-color: currentColor;
    color: set-ui-color(vf-ui-color--black);
    outline: 0;
  }

}

.vf-form__select::-ms-expand {
  display: none;
}



.vf-form__select option {
  font-weight: normal;
}
