.vf-form__select {
  appearance: none;
  background-color: #fff;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0iIzAwMCIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNNiAwbDYgOEgwek02IDE5bC02LThoMTJ6Ii8+PC9nPjwvc3ZnPg=='), linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-position: right .7em top 50%, 0 0;
  background-repeat: no-repeat, repeat;
  background-size: .65em auto, 100%;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
  box-sizing: border-box;
  color: #444;
  display: block;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3;
  margin: 0;
  max-width: 100%;
  padding: .6em 1.4em .5em .8em;
  width: 100%;
}

.vf-form__select::-ms-expand {
  display: none;
}

.vf-form__select:hover {
  border-color: #888;
}

.vf-form__select:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(40, 122, 226, .5);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  outline: none;
}

.vf-form__select option {
  font-weight: normal;
}
