$componentInfo: (
             name: "@visual-framework/vf-sass-utilities",
             version: "1.0.1",
             location: "components/vf-sass-utilities",
             vfCoreVersion: "2.2.8",
             buildTimeStamp: "Mon, 26 Oct 2020 12:47:22 GMT"
          );