$componentInfo: (
             name: "@visual-framework/vf-sass-utilities",
             version: "1.0.1",
             location: "components/vf-sass-utilities",
             vfCoreVersion: "2.2.8",
             buildTimeStamp: "Fri, 23 Oct 2020 09:53:36 GMT"
          );