$componentInfo: (
             name: "@visual-framework/vf-grid",
             version: "1.3.0",
             location: "components/vf-grid",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Fri, 06 Nov 2020 11:50:55 GMT"
          );