// vf-form__legend

// **Thinking about deleting this file?**
// If your component needs no CSS/Sass, we still recommend leaving the
// scss files in place. As this is primarily a CSS framework, it is better to
// leave the empty files so you know a file wasn't accidently omitted.
// If you don't have any Sass, you can trim this block down to:
// "This page was intentionally left blank"

@import 'package.variables.scss';
// Debug information from component's `package.json`:
// ---
/*!
 * Component: #{map-get($componentInfo, 'name')}
 * Version: #{map-get($componentInfo, 'version')}
 * Location: #{map-get($componentInfo, 'location')}
 */

@import 'vf-form__legend.variables.scss';

// You need to add this Sass file to ./components/vf-componenet-rollup/index.scss
// @import 'vf-form__legend/vf-form__legend.scss';
.vf-form__legend {
  @include set-type(text-heading--3, $custom-margin-bottom: 0);

  padding: 0;
}


.vf-form__legend--required {
  align-items: start;
  display: flex;

  .vf-icon {
    fill: set-color(vf-color--red);
    height: .5em;
    width: .5em;
  }

}
