---
title: Boilerplate for a generic page
subtitle: Use this boilerplate pattern for generic pages.
section: patterns
date: 2018-08-22 12:24:50
tags: posts
layout: layouts/boilerplate.njk
---
<!DOCTYPE html>
<html lang="en" class="vf-no-js">
<head>
  {% render "@vf-no-js" %}
  <title>{{ pagination.items[0].name or title or (renderData and renderData.title)}} | {{ siteConfig.siteInformation.title }}</title>

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, minimum-scale=1" name="viewport">

  {% render "@vf-favicon" %}
  {% render "@embl-content-meta-properties", {"meta_who": "Group Jane", "meta_where": "Barcelona", "meta_what": "research", "meta_active": "what"} %}

  <link rel="stylesheet" media="all" href="{{ '/css/styles.css' | url }}" />
  <link rel="stylesheet" media="all" href="{{ '/css/app.css' | url }}" />
</head>
<body>
  <header class="vf-header">
    {% render "@vf-global-header" %}
  </header>

  <!-- dismissible banner -->
  <section class="vf-banner vf-banner--fixed vf-banner--bottom vf-banner--phase" data-vf-js-banner data-vf-js-banner-state="dismissible" data-vf-js-banner-button-text="Close notice">
    <div class="vf-banner__content" data-vf-js-banner-text>
      <div>
        <h3 class="vf-text vf-text-heading--4">
          Don't need to customise the EMBL Design Language for Websites?
        </h3>
        <p class="vf-banner__text">Here's the core CSS and JS you need. Don't forget to <a href="http://dev.beta.embl.org/guidelines/visual-framework/dev-docs/" class="vf-link">consult the component library</a>.</p>
        {% codeblock 'html' -%}
<link rel="stylesheet" href="https://dev.assets.emblstatic.net/vf/develop/css/styles.css">
<script src="https://dev.assets.emblstatic.net/vf/develop/scripts/scripts.js"></script>
        {% endcodeblock %}
      </div>
    </div>
  </section>


  <div class="vf-body">
    {% render "@vf-intro" %}
  </div>

  {% render "@vf-footer" %}

  {% if serverInfo.environment == "development" %}
  <div class="vf-grid">
    <div class="vf-body--text">
      <p><code class="vf-code-example__pre"> ⚠️ You're running the {{serverInfo.environment}} command; Page location {{ page.inputPath }} </code></p>
    </div>
  </div>
  {% endif %}

  <!-- This page was generated on {{ site.buildTime | dateDisplay('LLL d, yyyy - HH:mm') }} -->
  <script src="{{ '/scripts/scripts.js' | url }}"></script>
</body>
</html>
