---
title: Directory page
subtitle: A gateway to many areas of child information and related content.
section: patterns
date: 2021-09-22 12:24:50
tags: posts
layout: layouts/boilerplate.njk
---
<!DOCTYPE html>
<html lang="en" class="vf-no-js">
<head>
  {% render "@vf-no-js" %}
  <title>{{ pagination.items[0].name or title or (renderData and renderData.title)}} | {{ siteConfig.siteInformation.title }}</title>

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, minimum-scale=1" name="viewport">

  {% render "@vf-favicon" %}
  {% render "@embl-content-meta-properties", {"meta_who": "Group Jane", "meta_where": "Barcelona", "meta_what": "research", "meta_active": "what"} %}

  <link rel="stylesheet" media="all" href="{{ '/css/styles.css' | url }}" />
</head>
<body class="vf-body vf-stack">
  <header class="vf-header">
    {% render "@vf-global-header" %}
  </header>
  {% include "./templates/breadcrumbs-boilerplate.njk" %}

  {% set context = {
    "vf_hero_kicker": "<a href=\"JavaScript:Void(0);\">VF Hamburg</a> | Structural Biology",
    "spacing": 400,
    "vf_hero_heading": title,
    "vf_hero_subheading": subtitle,
    "vf_hero_text": [
      "It is good to have a 20 to 40 words summary of the activity or action to be driven about the example pattern."
    ],
    "vf_hero_link_text": "See more Visual Framework patterns",
    "vf_hero_link_href": "/components",
    "vf_hero_image": "url('https://acxngcvroo.cloudimg.io/v7/https://www.embl.org/files/wp-content/uploads/vf-hero-intense.png');"
  }
  %}
  {% include "vf-core-components/vf-hero/vf-hero.njk" %}

  {% set context = {
    "component-type": "block",
    "classModifier": "main",
    "navigation": [
      {
        "text": "Home",
        "navigation_href": "JavaScript:Void(0);",
        "currentPage": "balls"
      },
      {
        "text": "Download",
        "navigation_href": "JavaScript:Void(0);"
      },
      {
        "text": "Release Notes",
        "navigation_href": "JavaScript:Void(0);"
      },
      {
        "text": "FAQ",
        "navigation_href": "JavaScript:Void(0);"
      },
      {
        "text": "Help",
        "navigation_href": "JavaScript:Void(0);"
      },
      {
        "text": "Licence",
        "navigation_href": "JavaScript:Void(0);"
      },
      {
        "text": "About",
        "navigation_href": "JavaScript:Void(0);"
      },
      {
        "text": "Feedback",
        "navigation_href": "JavaScript:Void(0);"
      }
    ]
  }
  %}
  {% include "vf-core-components/vf-navigation/vf-navigation.njk" %}

  {% set context = {
    "id": "intro",
    "vf_intro_heading": "Here you will find it",
    "vf_intro_badge": false,
    "vf_intro_subheading": false,
    "vf_intro_lede": "EMBL’s future directions will be driven by the goal of understanding life in the context of its environment.",
    "vf_intro_text": [
      "We now have the tools and technologies to explore these processes, allowing us to understand life in its natural context from the level of molecules to whole ecosystems."
    ]
  }
  %}
  {% include "vf-core-components/vf-intro/vf-intro.njk" %}

  <div class="embl-grid | vf-content">
    <div class="vf-section-header">
      <h2 class="vf-section-header__heading">
        Science is international
      </h2>
      <p class="vf-section-header__text"></p>
      </div>
    <div>
      <div class="vf-embed vf-embed--16x9" style=""><iframe src="https://www.youtube.com/embed/8mg5VhRF7Pk" controls="" allowfullscreen="" frameborder="0"></iframe></div>
    </div>
    <div>
      <p>Over 3/4 of our workforce has joined us from outside the UK and we are proud of the diverse and multicultural working environment we offer.</p>
      <p>Working at EMBL-EBI, you will join an inclusive community of 850+ amazing employees from 78 countries.</p>

      <p><a href="https://www.embl.org/editorhub/wp-content/uploads/2020/12/Current-staff-members-map.jpg" data-type="URL" data-id="https://www.embl.org/editorhub/wp-content/uploads/2020/12/Current-staff-members-map.jpg" target="_blank" rel="noreferrer noopener">See our employee map</a></p>
    </div>
  </div>

  {% set context = {
    "modifier": "vf-u-background-color--grey--lightest vf-u-fullbleed",
    "cards_aspect_ratio": "16 / 9",
    "container_section__header": {
      "section_title": "Missions",
      "href": "JavaScript:Void(0);",
      "vf_section__content": [
        "To promote molecular biology across Europe",
        "To create a centre of excellence for Europe's leading young molecular biologists"
      ]
    },
    "vf_cards": [
      {
        "variant": "bordered",
        "newTheme": "primary",
        "card_title": "One card",
        "card_href": "JavaScript:Void(0);",
        "card_image": "https://acxngcvroo.cloudimg.io/v7/https://www.embl.org/files/wp-content/uploads/2020/04/SCHOOLS_1011_ells-learninglab_hd_01_Cool_500px.jpg",
        "card_text": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente harum, omnis provident saepe aut eius aliquam sequi fugit incidunt reiciendis, mollitia quos? Sapiente harum, omnis provident saepe aut eius aliquam sequi fugit incidunt reiciendis, mollitia quos?"
      },
      {
        "variant": "bordered",
        "newTheme": "primary",
        "card_title": "A card here",
        "card_href": "JavaScript:Void(0);",
        "card_image": "https://acxngcvroo.cloudimg.io/v7/https://www.embl.org/files/wp-content/uploads/2020/04/SCHOOLS_1011_ells-learninglab_hd_01_Cool_500px.jpg",
        "card_text": "Lorem ipsum dolor sit amet, consectetur adipisicing elit."
      },
      {
        "variant": "bordered",
        "newTheme": "primary",
        "card_title": "Another card",
        "card_href": "JavaScript:Void(0);",
        "card_image": "https://acxngcvroo.cloudimg.io/v7/https://www.embl.org/files/wp-content/uploads/2020/04/SCHOOLS_1011_ells-learninglab_hd_01_Cool_500px.jpg",
        "card_text": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente harum, omnis provident saepe aut eius aliquam sequi fugit incidunt reiciendis, mollitia quos?"
      }
    ]
  }
  %}
  {% include "vf-core-components/vf-card-container/vf-card-container.njk" %}

  <section class="embl-grid embl-grid--has-centered-content">
    <div>
      {%- render '@vf-section-header--default', {
        "section_title": "You can include section headers too"
      } -%}
    </div>

    <div>
      {% render '@vf-content' %}
    </div>
  </section>

  {% include "./templates/source-link-boilerplate.njk" %}

  {% render "@vf-footer" %}
  {% include "./templates/notice-boilerplate.njk" %}
  {% include "scripts.njk" %}
</body>
</html>
