---
is_index: true
title: Patterns and boilerplates
subtitle: More than components, this is how you should do things.
intro: Where components offer technical implementations, patterns and boilerplates show how things should come together to facilitate tasks and goals.
section: patterns
tags: sections
date: 2019-07-22 12:24:50
layout: layouts/section.njk
---

If you're looking for guidance on how to integrate a different technical approach like React or a custom Sass build, [see the building guide]({{ '/building' | url }})
