---
title: Landing page
subtitle: Many types of users visit landing pages which guide users along their journey, and promote other content and actions.
section: patterns
date: 2021-09-22 12:24:50
tags: posts
layout: layouts/boilerplate.njk
---
<!DOCTYPE html>
<html lang="en" class="vf-no-js">
<head>
  {% render "@vf-no-js" %}
  <title>{{ pagination.items[0].name or title or (renderData and renderData.title)}} | {{ siteConfig.siteInformation.title }}</title>

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, minimum-scale=1" name="viewport">

  {% render "@vf-favicon" %}
  {% render "@embl-content-meta-properties", {"meta_who": "Group Jane", "meta_where": "Barcelona", "meta_what": "research", "meta_active": "what"} %}

  <link rel="stylesheet" media="all" href="{{ '/css/styles.css' | url }}" />
</head>
<body class="vf-body |  vf-stack vf-stack--400">
  <header class="vf-header">
    {% render "@vf-global-header" %}
  </header>
  {# {% include "./templates/breadcrumbs-boilerplate.njk" %} #}

  {% set context = {
    "component-type": "block",
    "classModifier": "main",
    "navigation": [
      {
        "text": "Quicklink 1",
        "navigation_href": "JavaScript:Void(0);",
        "currentPage": "balls"
      },
      {
        "text": "Quicklink 2",
        "navigation_href": "JavaScript:Void(0);"
      },
      {
        "text": "Quicklink 3",
        "navigation_href": "JavaScript:Void(0);"
      }
    ]
  }
  %}
  {% include "vf-core-components/vf-navigation/vf-navigation.njk" %}

  {% set context = {
    "vf_hero_kicker": "",
    "spacing": 400,
    "vf_hero_heading": title,
    "vf_hero_subheading": subtitle,
    "vf_hero_text": [
      "It is good to have a 20 to 40 words summary of the activity or action to be driven about the example pattern."
    ],
    "vf_hero_link_text": "Call to action",
    "vf_hero_link_href": "/components",
    "vf_hero_image": "url('https://acxngcvroo.cloudimg.io/v7/https://www.embl.org/files/wp-content/uploads/vf-hero-intense.png');"
  }
  %}
  {% include "vf-core-components/vf-hero/vf-hero.njk" %}

  {% set context = {
    "modifier": "vf-u-background-color--grey--lightest vf-u-fullbleed",
    "cards_aspect_ratio": "16 / 9",
    "cards_per_row": "4",
    "container_section__header": {
      "section_title": "Second-tier actions",
      "href": "",
      "vf_section__content": false
    },
    "vf_cards": [
      {
        "variant": "bordered",
        "newTheme": "primary",
        "card_title": "One card",
        "card_href": "JavaScript:Void(0);",
        "card_image": "",
        "card_text": "Lorem ipsum dolor sit amet, consectetur adipisicing elit."
      },
      {
        "variant": "bordered",
        "newTheme": "primary",
        "card_title": "A card here",
        "card_href": "JavaScript:Void(0);",
        "card_image": "",
        "card_text": "Lorem ipsum dolor sit amet, consectetur adipisicing elit."
      },
      {
        "variant": "bordered",
        "newTheme": "primary",
        "card_title": "Another card",
        "card_href": "JavaScript:Void(0);",
        "card_image": "",
        "card_text": "Lorem ipsum dolor sit amet, consectetur adipisicing elit."
      },
      {
        "variant": "bordered",
        "newTheme": "primary",
        "card_title": "Another card",
        "card_href": "JavaScript:Void(0);",
        "card_image": "",
        "card_text": "Lorem ipsum dolor sit amet, consectetur adipisicing elit."
      }

    ]
  }
  %}
  {% include "vf-core-components/vf-card-container/vf-card-container.njk" %}

  <section class="embl-grid embl-grid--has-centered-content">
    <div>
      {%- render '@vf-section-header--default', {
        "section_title": "You can include section headers too"
      } -%}
    </div>

    <div>
      {% render '@vf-content' %}
    </div>
  </section>

  {% include "./templates/source-link-boilerplate.njk" %}

  {% render "@vf-footer" %}
  {% include "./templates/notice-boilerplate.njk" %}
  {% include "scripts.njk" %}
</body>
</html>
