---
title: Online scientific resource
subtitle: An example landing page for an online scientific service such as a bioinformatics database, tool or similar.
section: patterns
date: 2018-08-22 12:24:50
tags: posts
layout: layouts/boilerplate.njk
---
<!DOCTYPE html>
<html lang="en" class="vf-no-js">
<head>
  {% render "@vf-no-js" %}
  <title>{{ pagination.items[0].name or title or (renderData and renderData.title)}} | {{ siteConfig.siteInformation.title }}</title>

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, minimum-scale=1" name="viewport">

  {% render "@vf-favicon" %}
  {% render "@embl-content-meta-properties", {"meta_who": "Group Jane", "meta_where": "Barcelona", "meta_what": "research", "meta_active": "what"} %}

  <link rel="stylesheet" media="all" href="{{ '/css/styles.css' | url }}" />
</head>
<body class="vf-body">
  <header class="vf-header">
    {% render "@vf-global-header" %}
  </header>
  {% include "./templates/breadcrumbs-boilerplate.njk" %}

  <!-- See the VF Hero docs: https://stable.visual-framework.dev/components/vf-hero/ -->
  {% set context = {
    "vf_hero_kicker": "<a href=\"//www.ebi.ac.uk/about\">Categorisation (Optional)</a> | Structural Biology",
    "spacing": 400,
    "vf_hero_heading": title,
    "vf_hero_subheading": "Open data resources of code, functions and things of data",
    "vf_hero_text": [
      subtitle
    ],
    "vf_hero_link_text": "See more Visual Framework patterns",
    "vf_hero_link_href": "/components",
    "vf_hero_image": "url('https://acxngcvroo.cloudimg.io/v7/https://www.embl.org/files/wp-content/uploads/EBI_webbanner_test_V3.jpg');"
  }
  %}
  {% include "vf-core-components/vf-hero/vf-hero.njk" %}

  <!-- See the VF Navigation docs: https://stable.visual-framework.dev/components/vf-navigation/ -->
  {% render '@vf-navigation--main' %}

  {% render '@vf-banner--info', {
    "alert_icon_text": "dismiss",
    "banner__info": true,
    "banner__dismissable": false,
    "banner__message": "This is a starting point for services that demonstrates an overall feel and how to structure the homepage navigation. Individual service design will vary greately depending on the needs addressed."
  } %}

  <section class="embl-grid embl-grid--has-centered-content | vf-u-padding__top--1200 vf-u-margin__top--800">
    <div><!-- empty --></div>
    <div class="vf-u-border-color-ui--grey--light vf-box vf-box--r">
      {% render '@vf-search', {
        "variant": "inline",
        "search_action": "JavaScript:Void(0);",
        "search_button": "Search",
        "search_label": "Inline search",
        "search_placeholder": "Search the service",
        "search_id": "inlinesearchitem",
        "search_value_default": ""
      } %}
      <p class="vf-text-body--5">
        We also offer an <a href="JavaScript:Void(0);" class="vf-link">advanced search</a> | Example searches: <a href="JavaScript:Void(0);" class="vf-link">Example</a>, <a href="JavaScript:Void(0);" class="vf-link">Example</a>, <a href="JavaScript:Void(0);" class="vf-link">Example</a>
      </p>

    </div>
  </section>

  <section class="vf-grid vf-grid__col-3 | vf-u-padding__top--200 vf-u-margin__bottom--1200">
    <div class="vf-grid__col--span-2">
      <div class="vf-grid vf-grid__col-2">
        {% render '@vf-section-header--has-a-link-and-text', {
          "section_title": "Browse",
          "href": "JavaScript:Void(0);",
          "vf_section__content": [
            "On the homepage, don't use a strip of navigation."
          ]
        } %}

        {% render '@vf-section-header--has-a-link-and-text', {
          "section_title": "Results",
          "href": "JavaScript:Void(0);",
          "vf_section__content": [
            "It's more user friendly to put the navigation into sqaures like these."
          ]
        } %}

        {% render '@vf-section-header--has-a-link-and-text', {
          "section_title": "Download",
          "href": "JavaScript:Void(0);",
          "vf_section__content": [
            "It allows users to explore the content."
          ]
        } %}

        {% render '@vf-section-header--has-a-link-and-text', {
          "section_title": "Help",
          "href": "JavaScript:Void(0);",
          "vf_section__content": [
            "And also read about what to expect in each section"
          ]
        } %}
      </div>
    </div>

    <div>
      {% render '@vf-section-header--has-a-link-and-text', {
        "section_title": "About this service",
        "href": "JavaScript:Void(0);",
        "vf_section__content": [
          "A thing provides functional analysis of proteins by classifying them into families and predicting domains and important sites."
        ]
      } %}
      {# <p class="vf-text-body vf-text-body--3">
        To classify proteins in this way, InterPro uses predictive models, known as signatures, provided by several different databases (referred to as member databases) that make up the InterPro consortium. We combine protein signatures from these member databases into a single searchable resource, capitalising on their individual strengths to produce a powerful integrated database and diagnostic tool.
      </p> #}

      {# {% render '@vf-box--normal-quaternary', {
        "box_heading": "Side item",
        "box_text": "This is some more content that would be in the box.",
        "theme": "quaternary",
        "variant": "normal"
      } %} #}
    </div>
  </section>

  <hr class="vf-divider" />

  <section class="embl-grid | vf-u-margin__top--1200">
    {%- render '@vf-section-header--default', {
      "section_title": "In the spotlight"
    } -%}
    <section class="vf-grid vf-grid__col-1 | vf-content">
      {% render '@vf-tabs--default', {
        "component-type": "block",
        "tabs": [
          {
            "tab_title": "Search by sequence",
            "tab_number": 1,
            "tab_heading": false,
            "tab_content": "This could be text information, or a nested form. Or you might not want tabs at all, use the code needed for your service. You can also include non-Visual Framework JS and CSS, as the VF won't break your other code."
          },
          {
            "tab_title": "Search by text",
            "tab_number": 2,
            "tab_heading": false,
            "tab_content": "Nullam at diam nec arcu suscipit auctor non a erat. Sed et magna semper, eleifend magna non, facilisis nisl. Proin et est et lorem dictum finibus ut nec turpis. Aenean nisi tortor, euismod a mauris a, mattis scelerisque tortor. Sed dolor risus, varius a nibh id, condimentum lacinia est. In lacinia cursus odio a aliquam. Curabitur tortor magna, laoreet ut rhoncus at, sodales consequat tellus."
          },
          {
            "tab_title": "Search by Domain Architecture",
            "tab_number": 3,
            "tab_heading": false,
            "tab_content": "Phasellus ac tristique orci. Nulla maximus <a class=\"vf-link\" href=\"#\">justo nec dignissim consequat</a>. Sed vehicula diam sit amet mi efficitur vehicula in in nisl. Aliquam erat volutpat. Suspendisse lorem turpis, accumsan consequat consectetur gravida, <a class=\"vf-link\" href=\"#\">pellentesque ac ante</a>. Aliquam in commodo ligula, sit amet mollis neque. Vestibulum at facilisis massa."
          }
        ]
      } %}
    </section>
  </section>

  <!-- See the VF Card container docs: https://stable.visual-framework.dev/components/vf-card-container/ -->
  {% set context = {
    "modifier": "vf-u-background-color--grey--lightest vf-u-fullbleed",
    "cards_aspect_ratio": "16 / 9",
    "container_section__header": {
      "section_title": "Missions",
      "href": "JavaScript:Void(0);",
      "vf_section__content": [
        "To promote molecular biology across Europe",
        "To create a centre of excellence for Europe's leading young molecular biologists"
      ]
    },
    "vf_cards": [
      {
        "variant": "bordered",
        "newTheme": "primary",
        "card_title": "One card",
        "card_href": "JavaScript:Void(0);",
        "card_image": "https://acxngcvroo.cloudimg.io/v7/https://www.embl.org/files/wp-content/uploads/2020/04/SCHOOLS_1011_ells-learninglab_hd_01_Cool_500px.jpg",
        "card_text": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente harum, omnis provident saepe aut eius aliquam sequi fugit incidunt reiciendis, mollitia quos? Sapiente harum, omnis provident saepe aut eius aliquam sequi fugit incidunt reiciendis, mollitia quos?"
      },
      {
        "variant": "bordered",
        "newTheme": "primary",
        "card_title": "A card here",
        "card_href": "JavaScript:Void(0);",
        "card_image": "https://acxngcvroo.cloudimg.io/v7/https://www.embl.org/files/wp-content/uploads/2020/04/SCHOOLS_1011_ells-learninglab_hd_01_Cool_500px.jpg",
        "card_text": "Lorem ipsum dolor sit amet, consectetur adipisicing elit."
      },
      {
        "variant": "bordered",
        "newTheme": "primary",
        "card_title": "Another card",
        "card_href": "JavaScript:Void(0);",
        "card_image": "https://acxngcvroo.cloudimg.io/v7/https://www.embl.org/files/wp-content/uploads/2020/04/SCHOOLS_1011_ells-learninglab_hd_01_Cool_500px.jpg",
        "card_text": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente harum, omnis provident saepe aut eius aliquam sequi fugit incidunt reiciendis, mollitia quos?"
      }
    ]
  }
  %}
  {% include "vf-core-components/vf-card-container/vf-card-container.njk" %}

  {% include "./templates/source-link-boilerplate.njk" %}

  {% render "@vf-footer" %}
  {% include "./templates/notice-boilerplate.njk" %}
  {% include "scripts.njk" %}
</body>
</html>
