<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" media="all" href="/vf-core/css/styles.css" />
    <title>Updating, versioning a component | Visual Framework 2.0</title>
    <link rel="shortcut icon" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/favicon.ico">
<link rel="apple-touch-icon" sizes="180x180" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/favicon-16x16.png">
<link rel="manifest" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/site.webmanifest">
<link rel="mask-icon" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/safari-pinned-tab.svg" color="#ffffff">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

    <!-- Descriptive meta -->
    <meta name="title" content="Updating, versioning a component">
    <meta name="author" content="EMBL">
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="">
    <meta name="description" content="Like the Visual Framework 2.0, components follow [semantic versioning](https://semver.org/) by increasing their full version number every time they have breaking changes.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://visual-framework.github.io/vf-core//developing/components/updating-a-component/">
    <meta property="og:title" content="Updating, versioning a component">
    <meta property="og:description" content="Like the Visual Framework 2.0, components follow [semantic versioning](https://semver.org/) by increasing their full version number every time they have breaking changes.">
    

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="og:url" content="https://visual-framework.github.io/vf-core//developing/components/updating-a-component/">
    <meta property="twitter:title" content="Updating, versioning a component">
    <meta property="twitter:description" content="Like the Visual Framework 2.0, components follow [semantic versioning](https://semver.org/) by increasing their full version number every time they have breaking changes.">
    
  </head>
  <body class=" vf-body" >
    <header class="vf-global-header | vf-search-client-side--no-index">

      <div class="vf-global-header__inner">
        
<a href="/vf-core/"
class="vf-logo | vf-logo--has-text">
  <img class="vf-logo__image" src="https://visual-framework.github.io/vf-core/assets/vf-logo/assets/logo.svg" alt="Visual Framework 2.0">
  <span class="vf-logo__text">Visual Framework 2.0</span>
</a>

        <nav class="vf-navigation vf-navigation--global">
          <ul class="vf-navigation__list | vf-list--inline">
            <li class="vf-navigation__item">
              <a href="/vf-core/" class="vf-navigation__link">About</a>
            </li>
            <li class="vf-navigation__item">
              <a href="/vf-core/components" class="vf-navigation__link">Components</a>
            </li>
            <li class="vf-navigation__item">
              <a href="/vf-core/developing" class="vf-navigation__link">Documentation</a>
            </li>
            <li class="vf-navigation__item">
              <a href="/vf-core/search" class="vf-navigation__link">Search</a>
            </li>
            <li class="vf-navigation__item">
              <a href="https://join.slack.com/t/visual-framework/shared_invite/enQtNDAxNzY0NDg4NTY0LWFhMjEwNGY3ZTk3NWYxNWVjOWQ1ZWE4YjViZmY1YjBkMDQxMTNlNjQ0N2ZiMTQ1ZTZiMGM4NjU5Y2E0MjM3ZGQ" class="vf-navigation__link">Help, chat</a>
            </li>
          </ul>
        </nav>
      </div>

    </header>
    
    
    <nav class="vf-breadcrumbs | vf-search-client-side--no-index" aria-label="Breadcrumb">
      <ul class="vf-breadcrumbs__list | vf-list vf-list--inline">
        <li class="vf-breadcrumbs__item">
          <a href="/vf-core/" class="vf-breadcrumbs__link">Visual Framework 2.0</a>
        </li>
        
        
          
          <li class="vf-breadcrumbs__item">
            <a href="." class="vf-breadcrumbs__link"></a>
          </li>
        
        
        
        
        <li class="vf-breadcrumbs__item">
          
            Updating, versioning a component
          
        </li>
      </ul>
    </nav>
    

    <section class="vf-intro | embl-grid embl-grid--has-centered-content">
  <div></div>
  <div>
    <h1 class="vf-intro__heading">Updating, versioning a component</h1>
<div class="vf-lede"><span class='vf-content'>Like the Visual Framework 2.0, components follow <a href="https://semver.org/">semantic versioning</a> by increasing their full version number every time they have breaking changes.</span>
</div>
<div class="vf-intro__text"><span class='vf-content'>However the version number of components its not tied to the version number of the Visual Framework's <code>vf-core</code>; that is:</span>
</div>
  </div>
</section>
<main class="vf-content | embl-grid embl-grid--has-centered-content">
<div></div>
<div>
<ul>
<li><code>vf-core​@2.1.2</code> might use <code>vf-button​@1.0.1</code> and <code>vf-component-x​@8.2.1</code></li>
<li><code>vf-button@1.0.1</code> might require <code>vf-link@3.0.1</code> or newer</li>
</ul>
<p>As such components should specify if they only support specific versions of <code>vf-core</code> or require other specific versions of patterns.</p>
<p>Other notes and tips on components:</p>
<ul>
<li>should use a <a href="https://semver.org/">semantic versioning</a> style of releases</li>
<li>must work with <code>vf-core v2.x</code>, but a component may specify a
minimum required minor version of vf-core</li>
<li>may indicate any required versions of peer-components in your component's README.md.
<ul>
<li><code>vf-component-x</code>@<code>2.1.2</code> requires <code>vf-component-y</code>@<code>^8.1.0</code></li>
</ul>
</li>
<li>can live as part of the <code>vf-core</code> <a href="https://gomonorepo.org/">monorepo</a>
<ul>
<li>Interested in adding a component? <a href="https://join.slack.com/t/visual-framework/shared_invite/enQtNDAxNzY0NDg4NTY0LWFhMjEwNGY3ZTk3NWYxNWVjOWQ1ZWE4YjViZmY1YjBkMDQxMTNlNjQ0N2ZiMTQ1ZTZiMGM4NjU5Y2E0MjM3ZGQ">Get in touch</a> or <a href="https://github.com/visual-framework/vf-core/issues/new/choose">make an issue</a></li>
</ul>
</li>
<li>read more about <a href="https://github.com/visual-framework/vf-core/issues/119">component versioning in this issue</a></li>
</ul>
<p><span class="vf-badge vf-badge--tertiary">Related</span> <a href="/vf-core/developing/guidelines/versioning">Notes on VF versioning</a>.</p>
  <cite class="vf-cite">
    Last updated on <time datetime="Tue Apr 09 2019 12:24:50 GMT+0000 (Coordinated Universal Time)">Apr 9, 2019</time>
  </cite>
</div>
</main>
<!-- layout: layouts/developing.njk -->

    

<!-- This page was generated on Invalid DateTime -->
<script src="/vf-core/scripts/scripts.js"></script>

  </body>
</html>
