.vf-chatbot-action-prompts {
  width: max-content;
  &__list{
    display: flex;
    flex-direction: row;
    gap: 8px;
  }
}

.vf-chatbot-modal .vf-chatbot-action-prompts {
  &__list{
    flex-direction: column;
  }
}

.vf-chatbot-action-prompt {
  display: inline-block;

  &__link {
    @include set-type(text-body--5);
    padding: 11px;
    border-radius: $vf-radius--xs;
    display: inline-block;
    border: 1px solid var(--vf-color__link);
    color: var(--vf-color__link);
    background-color: #FFFFFF;
    text-align: left;
    text-decoration: none; // No underline
    cursor: pointer;
    transition: background-color 0.2s ease;
    width: 100%; // Width based on content
    height: 100%;
    box-sizing: border-box;
    margin: 0;

    @media (max-width: $vf-breakpoint--sm) {
      white-space: normal;
    }

    @media (max-width: 480px) {
      width: auto;
    }
  }
  @media (max-width:$vf-breakpoint--md) {
    display: contents;
  }
}

// If inside vf-chatbot-modal, override width
.vf-chatbot-modal .vf-chatbot-action-prompt {
  &__link {
    width: unset;
  }
}

.vf-chatbot-modal .vf-chatbot-message .vf-chatbot-action-prompt {
  &__link {
      width: max-content;
  }
}
