<div class="vf-chatbot-action-prompt">
  {% if action_url %}
    <a href="{{ action_url }}"
       class="vf-chatbot-action-prompt__link"
       role="button"
       {% if action_target %}target="{{ action_target }}"{% endif %}>
      {{ action_text }}
    </a>
  {% else %}
    <button class="vf-chatbot-action-prompt__link">
      {{ action_text }}
    </button>
  {% endif %}
</div>
