
.vf-navigation--global {
  
  .vf-navigation__item:not(:first-child) {
    margin-left: 24px;
  }

  .vf-navigation__link {
    @include inline-link(
      $vf-link-color: set-color(vf-color-gray-dark),
      $vf-link-hover-color: set-color(vf-color-black)
    );

    text-decoration: none;
  }
}
