html:not(.vf-disable-deprecated) {
  @warn 'The variant has been deprecated.';

  @import 'vf-navigation.variables.scss';

  .vf-navigation--additional {
    background-color: color(grey--dark);
    box-sizing: border-box;
    display: flex;
    margin: 0 auto;
    max-width: $vf-layout--comfortable;
    padding: 4px 0;
    position: relative;
    text-transform: uppercase;
    width: 100%;

    .vf-navigation__heading {
      color: ui-color(white);
      margin: 0;
      padding-top: 6px; // magic number
      z-index: set-layer(vf-z-index--pseudo-element-fix);
    }

    .vf-navigation__list {
      margin-left: auto;
      padding-top: 5px; // magic number
      z-index: set-layer(vf-z-index--pseudo-element-fix);
    }

    .vf-navigation__item:not(:first-child) {
      margin-left: 24px;
    }


    .vf-navigation__link {
      @include inline-link(
        $vf-link--color: ui-color(off-white),
        $vf-link--visited-color: ui-color(white),
        $vf-link--hover-color: ui-color(white)
      );

      text-decoration: none;
    }

  }

}

