{% render '@vf-navigation', {
  "classModifier": "on-this-page",
  "heading": heading,
  "navigation": navigation
} %}


<div class="vf-links vf-links__list--easy vf-grid  vf-u-fullbleed vf-u-padding__top--200 vf-u-padding__bottom--200 | vf-sticky">
  <ul class="vf-list vf-list--inline" data-vf-js-scroll-activate-container="true">
    <li class="vf-navigation__item">
      <span class="vf-list__item">On this page</span>
    </li>
    <li class="vf-list__item">
      <a class="vf-list__link | active" href="#container-1">
        Container 1
      </a>
    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="#container-2">
        Container 2
      </a>
    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="#container-3">
        Container 3
      </a>
    </li>
  </ul>
</div>

<br/>

<section class="embl-grid embl-grid--has-sidebar" data-vf-js-scroll-activate="true" id="container-1">
  {% render '@vf-section-header', {
    "component-type": "block",
    "section_title": "Projects",
    "id": "section-link",
    "href": "container-1"
  } %}
  <div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget massa dolor. Morbi suscipit lorem in volutpat
      sollicitudin. Pellentesque cursus consequat mi, sed lobortis enim aliquet ac. Morbi eu tincidunt lorem. Cras eget
      leo rhoncus, ultrices erat quis, commodo lorem. Fusce placerat urna vitae eleifend tincidunt. Integer lobortis
      erat in ante mollis, in tincidunt erat varius. Cras quis erat ac lorem mollis vulputate. Fusce pulvinar
      condimentum cursus. Proin quis ligula lacinia, elementum eros dignissim, pretium libero. Vivamus dignissim nisi
      urna, sed elementum nisi egestas sed. Nulla at sagittis leo. Sed ut odio a libero pretium tempus at in odio.
      Praesent suscipit tellus urna, non eleifend enim fringilla in. Ut interdum, arcu a suscipit accumsan, metus felis
      aliquet tellus, quis maximus est massa nec eros. Duis egestas, elit ut tempor lobortis, dolor ligula iaculis
      nulla, at hendrerit enim diam eu sapien.
    </p>
    <p>
      Vivamus gravida scelerisque nibh eu blandit. Vivamus et varius mi. Vivamus ut dictum leo, vitae commodo leo.
      Curabitur sed diam tristique velit laoreet cursus. Pellentesque ultricies ullamcorper neque malesuada scelerisque.
      Proin varius sodales ante, sed accumsan risus dapibus sed. Nam eget dignissim tortor, sed pulvinar sapien. In
      congue, augue in lacinia congue, nunc lacus sagittis lacus, et gravida tortor nisl vitae turpis. Donec id libero
      tempor orci bibendum interdum. Sed nisl purus, tempor quis enim quis, laoreet fermentum lacus.
    </p>

  </div>
</section>

<section class="embl-grid embl-grid--has-sidebar" data-vf-js-scroll-activate="true" id="container-2">
  {% render '@vf-section-header', {
    "component-type": "block",
    "section_title": "Projects",
    "id": "section-link",
    "href": "JavaScript:Void(0);"
  } %}
  <div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget massa dolor. Morbi suscipit lorem in volutpat
      sollicitudin. Pellentesque cursus consequat mi, sed lobortis enim aliquet ac. Morbi eu tincidunt lorem. Cras eget
      leo rhoncus, ultrices erat quis, commodo lorem. Fusce placerat urna vitae eleifend tincidunt. Integer lobortis
      erat in ante mollis, in tincidunt erat varius. Cras quis erat ac lorem mollis vulputate. Fusce pulvinar
      condimentum cursus. Proin quis ligula lacinia, elementum eros dignissim, pretium libero. Vivamus dignissim nisi
      urna, sed elementum nisi egestas sed. Nulla at sagittis leo. Sed ut odio a libero pretium tempus at in odio.
      Praesent suscipit tellus urna, non eleifend enim fringilla in. Ut interdum, arcu a suscipit accumsan, metus felis
      aliquet tellus, quis maximus est massa nec eros. Duis egestas, elit ut tempor lobortis, dolor ligula iaculis
      nulla, at hendrerit enim diam eu sapien.
    </p>
    <p>
      Cras ultrices cursus odio, vel cursus justo ultrices ut. Vestibulum non eros eu nunc tristique bibendum. Integer
      leo neque, varius et varius molestie, mattis eu orci. Suspendisse ullamcorper augue ut ex eleifend iaculis. Donec
      lacus dolor, sodales id urna ut, placerat eleifend nisi. Aliquam sollicitudin nibh sodales ex sagittis aliquet.
      Etiam nec tempor metus. Nam quis tincidunt massa, fringilla fringilla metus. Orci varius natoque penatibus et
      magnis dis parturient montes, nascetur ridiculus mus.
    </p>
  </div>
</section>

<section class="embl-grid embl-grid--has-sidebar" data-vf-js-scroll-activate="true" id="container-3">
  {% render '@vf-section-header', {
    "component-type": "block",
    "section_title": "Projects",
    "id": "section-link",
    "href": "JavaScript:Void(0);"
  } %}
  <div>
    <p>
      Sed fringilla pretium quam vehicula viverra. Etiam sed augue vitae ante consectetur auctor id eget urna.
      Vestibulum bibendum vulputate ultrices. Proin euismod est felis, eu egestas ligula laoreet eu. Sed eget tincidunt
      libero, in posuere mauris. Phasellus vel urna faucibus nunc congue pulvinar. Aliquam massa ipsum, euismod semper
      arcu nec, luctus hendrerit nisl. Vivamus ultrices mattis dui at sagittis. Phasellus ac erat dui. Aliquam erat
      volutpat. Cras ac elit non quam maximus congue. Sed mi justo, bibendum eu lacinia nec, lobortis ac purus. Duis
      elementum orci sit amet pulvinar malesuada. Mauris luctus risus et ipsum eleifend pharetra.
    </p>
    <p>
      Cras ultrices cursus odio, vel cursus justo ultrices ut. Vestibulum non eros eu nunc tristique bibendum. Integer
      leo neque, varius et varius molestie, mattis eu orci. Suspendisse ullamcorper augue ut ex eleifend iaculis. Donec
      lacus dolor, sodales id urna ut, placerat eleifend nisi. Aliquam sollicitudin nibh sodales ex sagittis aliquet.
      Etiam nec tempor metus. Nam quis tincidunt massa, fringilla fringilla metus. Orci varius natoque penatibus et
      magnis dis parturient montes, nascetur ridiculus mus.
    </p>
  </div>
</section>
