// vf-navigation

@import 'package.variables.scss';
// Debug information from component's `package.json`:
// ---
/*!
 * Component: #{map-get($componentInfo, 'name')}
 * Version: #{map-get($componentInfo, 'version')}
 * Location: #{map-get($componentInfo, 'location')}
 */

@import 'vf-navigation.variables.scss';


.vf-navigation__item {
  [aria-current='page'] {
    color: neutral(900);
    text-shadow: 1px 0 0 currentColor; // faux bold so there won't be any layour shift
  }
}

.vf-navigation__link {
  @include inline-link(
    $vf-link--color: neutral(700),
    $vf-link--visited-color: neutral(700),
    $vf-link--hover-color: neutral(900)
  );

  &:focus,
  &:hover {
    text-decoration: underline;
  }
}

.vf-navigation--main {
  .vf-navigation__link {
    @include set-type(text-body--2, $custom-margin-bottom: 0);
  }
}

.vf-navigation--global {
  // This is needed as part of the global header.
  // It tells the navigation to go to the end of the available space.
  @media (min-width: $vf-breakpoint--lg) {
    margin-left: auto;
  }
}


// conceptual

.vf-links__list--easy .vf-list__link {
  display: inline-block;
}
.vf-list__link.active {
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-underline-offset: 10px;
}
.vf-sticky {
  position: sticky;
  top: 0;
  background: white;
  z-index: 1001;
}
.vf-sticky:before {
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, .2);
}

/* list spacing */
.vf-links__list .vf-list__item {
  --vf-text-margin--bottom: 1rem;
}
.vf-links__list--easy {
  overflow: unset;
}

//  make it work right on mobile
@media only screen and (max-device-width: 900px) {
  .vf-links.vf-links__list--easy {
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    left: -20px;
    padding-left: 20px;
    width: calc(100% + 15px);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, .2);
  }

  .vf-links.vf-links__list--easy.vf-u-fullbleed::before {
    box-shadow: none;
    display:  none;
  }

  .vf-links.vf-links__list--easy > .vf-list{
  flex-wrap: nowrap;
    margin-right: 0 !important;
  }

  .vf-links.vf-links__list--easy  [class*="__item"] {
    flex-shrink: 0;
  }
}
