// vf-navigation
@import 'vf-navigation.variables.scss';

.vf-navigation--main {
  margin-top: space(400);

  .vf-navigation__item {

    [aria-current] {
      color: ui-color(black);
      text-shadow: 1px 0 0 currentColor; // faux bold so there won't be any layour shift
    }
  }

  .vf-navigation__link {
    @include set-type(text-body--2, $custom-margin-bottom: 0);

    color: color(grey--dark);
    text-decoration: none;

    &:focus,
    &:hover {
      border-bottom: 1px solid currentColor;
      color: ui-color(black);
    }
  }
}
