<nav class="vf-navigation
  {%- if classModifier %} vf-navigation--{{ classModifier }}{% endif -%}
  {%- if classModifier == 'additional' %} | vf-u-fullbleed{% else %} | vf-cluster{%- endif -%}">
  {% if heading %}
  <h3 class="vf-navigation__heading">{{ heading }}</h3>
  {% endif %}
  <ul class="vf-navigation__list | vf-list | vf-cluster__inner">
    {% for item in navigation %}
    <li class="vf-navigation__item">
      <a
      href="{{ item.navigation_href }}"
      class="vf-navigation__link"
      {% if item.currentPage %} aria-current="page"{%- endif -%}>

      {{- item.text -}}

      </a>
    </li>
    {% endfor %}
  </ul>
</nav>
