{% if global_layout %} <div class="vf-global-layout--{{ global_layout}}{% if global_theme %} vf-global-theme--{{ global_theme}}{% endif %}">{% endif %}
<nav class="vf-navigation {%- if classModifier %} vf-navigation--{{ classModifier }}{% endif %}">
  {% if heading %}
  <h3 class="vf-navigation__heading">{{ heading }}</h3>
  {% endif %}
  <ul class="vf-navigation__list | vf-list--inline">
    {% for item in navigation %}
    <li class="vf-navigation__item">
      <a
      href="{{ item.navigation_href }}"
      class="vf-navigation__link"
      {% if item.currentPage %} aria-current="page"{%- endif -%}>

      {{- item.text -}}

      </a>
    </li>
    {% endfor %}
  </ul>
</nav>
{% if global_layout %}</div>{% endif %}
