
.vf-navigation--global {

  .vf-navigation__item:not(:last-child) {
    margin-right: 24px;
  }

  .vf-navigation__link {
    @include inline-link(
      $vf-link--color: color(grey--dark),
      $vf-link--visited-color: color(grey--dark),
      $vf-link--hover-color: ui-color(black)
    );
  }

  @media (min-width: $vf-breakpoint--lg) {
    margin-left: auto;
  }
}
