// vf-navigation
@import 'vf-navigation.variables.scss';

.vf-navigation--main {
  background-color: set-color(vf-color--grey--dark);
  grid-column: main;
  position: relative;

  &::before {
    background-color: inherit;
    content: '';
    height: 100%;
    left: 50%;
    margin: 0 -50vw;
    position: absolute;
    right: 50%;
    width: 100vw;
    z-index: -1;
  }

  .vf-navigation__list {
    display: block;
    @media (min-width: $vf-breakpoint--lg) {
      align-items: center;
      display: flex;
      height: 100%;
    }
  }

  .vf-navigation__item {
    @include set-type(text-heading--5);

    display: block;
    margin: 0;

    &.is-active {
      background-color: set-ui-color(vf-ui-color--white);

      .vf-navigation__link {
        color: set-ui-color(vf-ui-color--black);
      }
    }

    &:hover {
      align-items: center;
      background-color: set-ui-color(vf-ui-color--white);
      display: flex;
      height: 100%;

      .vf-navigation__link {
        color: set-ui-color(vf-ui-color--black);
        display: block;
      }
    }

    @media (min-width: $vf-breakpoint--lg) {
      padding: 4px $vf-navigation__item-gap;
    }
  }

  .vf-navigation__link {
    @include inline-link(
      $vf-link--color: set-ui-color(vf-ui-color--white),
      $vf-link--hover-color: set-ui-color(vf-ui-color--white)
    );

    text-decoration: none;

    &:visited {
      color: set-ui-color(vf-ui-color--white);
    }
  }

  @media (max-width: $vf-breakpoint--lg - 1) {
    padding: 0 1rem;
  }
}
