// // vf-navigation
// @import 'vf-navigation.variables.scss';
//
// .vf-navigation--main {
//   background-color: set-color(vf-color--grey--dark);
//   grid-column: main;
//   margin: 0 auto;
//   max-width: 76.5em;
//   position: relative;
//   width: 100%;
//
//   &::before {
//     background-color: inherit;
//     content: '';
//     height: 100%;
//     left: 50%;
//     margin: 0 -50vw;
//     position: absolute;
//     right: 50%;
//     width: 100vw;
//     z-index: set-layer(vf-z-index--negative);
//   }
//
//   .vf-navigation__list {
//     display: block;
//
//     @media (min-width: $vf-breakpoint--lg) {
//       align-items: center;
//       display: flex;
//       height: 100%;
//       margin-left: -1rem;
//     }
//   }
//
//   .vf-navigation__item {
//     @include set-type(text-heading--5);
//
//     display: block;
//     margin: 0;
//
//     &.is-active {
//       background-color: set-ui-color(vf-ui-color--white);
//
//       .vf-navigation__link {
//         color: set-ui-color(vf-ui-color--black);
//       }
//     }
//
//     &:hover {
//       align-items: center;
//       background-color: set-ui-color(vf-ui-color--white);
//       display: flex;
//       height: 100%;
//
//       .vf-navigation__link {
//         color: set-ui-color(vf-ui-color--black);
//         display: block;
//       }
//     }
//
//     @media (min-width: $vf-breakpoint--lg) {
//       padding: 4px $vf-navigation__item-gap;
//     }
//   }
//
//   .vf-navigation__link {
//     @include inline-link(
//       $vf-link--color: set-ui-color(vf-ui-color--white),
//       $vf-link--hover-color: set-ui-color(vf-ui-color--white)
//     );
//
//     text-decoration: none;
//
//     &:visited {
//       color: set-ui-color(vf-ui-color--white);
//     }
//   }
//
//   @media (max-width: $vf-breakpoint--lg - 1) {
//     box-sizing: border-box;
//     padding: 0 1rem;
//   }
// }


.vf-navigation--main {

  .vf-navigation__list {
    padding: .75rem 1rem;
  }

  .vf-navigation__item {
    @include set-type(text-body--5, $custom-margin-bottom: 0);

    &:not(:first-child) {
      margin-left: 2rem;
    }
  }

  .vf-navigation__link {
    color: set-color(vf-color--grey--dark);
    padding: .75rem 0;
    text-decoration: none;
    text-transform: uppercase;

    &:focus,
    &:hover {
      color: set-color(vf-color--grey--darkest);
    }
  }
}

.vf-global-layout--very-easy {
  // intentionally blank
}

.vf-global-layout--easy {

  .vf-navigation--main {
    border: 1px solid set-color(vf-color--grey--light);
    border-bottom: 0;
  }

}

.vf-global-layout--normal {

  .vf-navigation--main {
    border: 1px solid set-color(vf-color--grey--light);
    border-bottom: 0;

    .vf-navigation__list {
      padding-bottom: 1.25rem;
    }

  }

}


.vf-global-layout--hard {

  .vf-navigation--main {
    border: 1px solid set-color(vf-color--grey--light);
    border-bottom: 0;

    .vf-navigation__list {
      padding-bottom: 1.25rem;
      padding-top: calc(2px + .75em);
    }

    .vf-navigation__link {

      &:focus,
      &:hover {
        border-top: 3px solid var(--navigation--main--top-border-color, set-ui-color(vf-ui-color--black));
      }

    }

  }

}


.vf-global-layout--extreme {
  .vf-navigation--main {
    border-bottom: 1px solid set-color(vf-color--grey--light);
  }
}

// need to find a batter place to put this

.vf-global-theme--primary {
  --navigation--main--top-border-color: #{set-color(vf-color--green)};
}

.vf-global-theme--secondary {
  --navigation--main--top-border-color: #{set-color(vf-color--blue)};
}


html.vf-global-layout--normal {
  position: relative;

  &::before {
    background-color: set-ui-color(vf-ui-color--grey--light);
    content: '';
    height: 260px;
    position: absolute;
    width: 100%;
    z-index: -1;
  }
}


html.vf-global-layout--hard {
  position: relative;

  &::before {
    background-color: set-ui-color(vf-ui-color--grey--light);
    content: '';
    height: 480px;
    position: absolute;
    width: 100%;
    z-index: -1;
  }
}
