---
title: Code of conduct
date: 2019-04-09 12:24:50
layout: layouts/section.njk
section: developing
order: 4
tags:
  - getting started
  - developing
  - documentation
templateEngineOverride: njk, md
---

We don't yet have a full policy but, in general: be nice, respectful
and considerate. The maintainers will do the same.
