---
title: Naming components and patterns
subtitle: The Visual Framework uses a dual approach for the naming of things.
intro: At the lower level there are **components** which are a type of "ingredient" assembled into the higher level **patterns** that are richer templates with usability guidance.
date: 2019-04-09 12:24:50
layout: layouts/post.njk
order: 4
---

[This page has moved]({{ '/guidance/components-and-patterns' | url }})
