---
title: Creating a new component
subtitle: This codebase includes a folder and file creation tool.
intro: It allows you to quickly create all the required files to make a component -- it gives you the option to create am element, block, or container.
date: 2019-04-09 12:24:50
layout: layouts/post.njk
---

{% markdown %}

[This page has moved]({{ '/guidance/creating-components' | url }})

{% endmarkdown %}
