---
title: Deprecating components
subtitle: Inevitably code will be replaced and improved, leaving components stale and or outdated.
intro: So we should tell developers to not use them.
date: 2019-04-09 12:24:50
layout: layouts/section.njk
section: developing
order: 3
tags:
  - contributing components
  - developing
  - documentation
templateEngineOverride: njk, md
---

Here's what we need to make sure we do:

1. Developers can avoid installing and outdated component;
1. Developers can know to stop using a component; and
1. Components aren't removed so existing sites continue to function.

## How to deprecate an entire component

1. In the `component-name.config.yml` file add:
    - `status: deprecated`
    - `component-type: deprecated`
    - `hidden: true`
1. In the `component-name.scss` file wrap the sass with:
    - `html:not(.vf-disable-deprecated) {`
1. Update `README.md` with:
    - why the component has been deprecated
    - what component(s) developers should instead use
    - Use this template
    ```html
    <h2>This component has been <span style="color: rgb(228, 0, 70);">deprecated</span>. Please use the <a class="vf-link" href="#"new</a> component.</h2> in the README.md file.
    ```
1. Publish on npm
    - see [`PUBLISHING.md`](https://github.com/visual-framework/vf-core/blob/develop/PUBLISHING.md)
1. Remove the component from `vf-core`
1. Deprecate on npm
    - `npm deprecate @visual-framework/component "no longer supported use the @visual-framework/component instead"`

## Need to deprecate just one variant of a component?

1. Add a note to the `--variant.njk`
    - Use this template
    ```html
    <h2>This variant has been <span style="color: rgb(228, 0, 70);">deprecated</span>. Please use the <a class="vf-link" href="#"new</a> component.</h2> in the README.md file.
    ```
1. Wrap the relevant Sass in `html:not(.vf-disable-deprecated) {`
1. Hide the variant tab in `.config.yml`:
```
variants:
  - name: deprecated-variant
    hidden: true
```

<br/>

See also: [example `vf-deprecated` component](https://github.com/visual-framework/vf-core/tree/develop/components/vf-deprecated)
