---
title: Deprecating components
subtitle: Inevitably code will be replaced and improved, leaving components stale and or outdated.
intro: So we should tell developers to not use them.
date: 2019-04-09 12:24:50
layout: layouts/post.njk
order: 3
tags:
  - contributing components
templateEngineOverride: njk, md
---

[This page has moved](/guidance/deprecating-components/)
