---
title: Updating, versioning a component
subtitle: "Like the Visual Framework, components follow [semantic versioning](https://semver.org/) by increasing their full version number every time they have breaking changes."
intro: "However the version number of components its not tied to the version number of the Visual Framework's `vf-core`; that is:"
date: 2019-04-09 12:24:50
layout: layouts/post.njk
order: 2
tags:
  - documentation
---

[This page has moved]({{ '/guidance/versioning-and-component-interoperability' | url }})

