---
title: What's a component
subtitle: Components are a modular set of extendable Sass/CSS styling, JavaScript and templating (Nunjucks). 
intro: Think of components as lego blocks you can use to build the look, behaviour and content of your sites.
date: 2019-04-09 12:24:49
layout: layouts/developing.njk
templateEngineOverride: njk, md
order: 1
---

## What's in a component?

A component is made up of these files:

- CHANGELOG.md
  - Notable changes
- index.scss
  - Used to generate a standalone version of the component's CSS
- package.json
  - Version information and any npm required dependencies; you should avoid npm-requiring other VF components
- README.md
  - Information on the role and how to use a component
- vf-sample.config.yml
  - Configuration information about the compont, release status, type of component, variants
- vf-sample.njk
  - A Nunjuck-based template
- vf-sample.scss
  - Styling
- vf-sample.js
  - JavaScript

## Some files will also be dynamically made at build time

- _package.variables.scss_
  - Varaibles extratcted from pacakge.json that can be used in the Sass, such as a version number
- _vf-sample.precompiled.js_
  - A compiled version of the Nunjucks template
- _vf-sample.css_
  - Standoline CSS made from the index.scss

