---
title: What is a component
subtitle: Components are a modular set of extendable Sass/CSS styling, JavaScript and templating (Nunjucks).
intro: Think of components as lego blocks you can use to build the look, behaviour and content of your sites.
date: 2019-04-09 12:24:49
layout: layouts/section.njk
templateEngineOverride: njk, md
order: 1
---

[This page has moved]({{ '/guidance/components-and-patterns' | url }})
