
<div class="vf-grid vf-u-padding--lg">
<!-- Default -->
<a href="javascript:void(0);" class="vf-link ">A default link</a>
<!-- Default Hover -->
<a href="javascript:void(0);" class="vf-link vf-link--hover">A default:hover link</a>
<!-- Default Visited -->
<a href="javascript:void(0);" class="vf-link vf-link--visited">A default:visited link</a>
<!-- Default Disabled -->
<a href="javascript:void(0);" class="vf-link vf-link--disabled" disabled>A disabled default link</a>
</div>
<div class="vf-grid vf-u-background-color--grey--dark vf-u-padding--lg">
<!-- Default -->
<a href="javascript:void(0);" class="vf-link ">A default link</a>
<!-- Default Hover -->
<a href="javascript:void(0);" class="vf-link vf-link--hover">A default:hover link</a>
<!-- Default Visited -->
<a href="javascript:void(0);" class="vf-link vf-link--visited">A default:visited link</a>
<!-- Default Disabled -->
<a href="javascript:void(0);" class="vf-link vf-link--disabled" disabled>A disabled default link</a>
</div>
<div class="vf-grid vf-u-padding--lg">
<!-- Primary -->
<a href="javascript:void(0);" class="vf-link ">A primary link</a>
<!-- Primary Hover -->
<a href="javascript:void(0);" class="vf-link vf-link--hover">A primary:hover link</a>
<!-- Primary Visited -->
<a href="javascript:void(0);" class="vf-link vf-link--visited">A primary:visited link</a>
<!-- Primary Disabled -->
<a href="javascript:void(0);" class="vf-link vf-link--disabled" disabled>A disabled primary link</a>
</div>
<div class="vf-grid vf-u-background-color--grey--dark vf-u-padding--lg">
<!-- Primary -->
<a href="javascript:void(0);" class="vf-link ">A primary link</a>
<!-- Primary Hover -->
<a href="javascript:void(0);" class="vf-link vf-link--hover">A primary:hover link</a>
<!-- Primary Visited -->
<a href="javascript:void(0);" class="vf-link vf-link--visited">A primary:visited link</a>
<!-- Primary Disabled -->
<a href="javascript:void(0);" class="vf-link vf-link--disabled" disabled>A disabled primary link</a>
</div>
<div class="vf-grid vf-u-padding--lg">
<!-- Secondary -->
<a href="javascript:void(0);" class="vf-link vf-link--secondary ">A secondary link</a>
<!-- Secondary Hover -->
<a href="javascript:void(0);" class="vf-link vf-link--secondary vf-link--secondary--hover">A secondary:hover link</a>
<!-- Secondary Visited -->
<a href="javascript:void(0);" class="vf-link vf-link--secondary vf-link--secondary--visited">A secondary:visited link</a>
<!-- Secondary Disabled -->
<a href="javascript:void(0);" class="vf-link vf-link--secondary vf-link--disabled" disabled>A disabled secondary link</a>
<!-- Example -->
<a href="" class="vf-link "></a>
</div>
<div class="vf-grid vf-u-background-color--grey--dark vf-u-padding--lg">
  <!-- Secondary -->
  <a href="javascript:void(0);" class="vf-link vf-link--secondary ">A secondary link</a>
  <!-- Secondary Hover -->
  <a href="javascript:void(0);" class="vf-link vf-link--secondary vf-link--secondary--hover">A secondary:hover link</a>
  <!-- Secondary Visited -->
  <a href="javascript:void(0);" class="vf-link vf-link--secondary vf-link--secondary--visited">A secondary:visited link</a>
  <!-- Secondary Disabled -->
  <a href="javascript:void(0);" class="vf-link vf-link--secondary vf-link--disabled" disabled>A disabled secondary link</a>
  <!-- Example -->
  <a href="javascript:void(0);" class="vf-link "></a>
</div>
