<p class="vf-text">
  <a class="vf-link" href="#">An inline link</a>
</p>

<p class="vf-text">
  <a class="vf-link vf-link--hover" href="#">An inline link :hover</a>
</p>

<p class="vf-text">
  <a class="vf-link vf-link--visited" href="#">An inline link :visited</a>
</p>

<p class="vf-text">
  <a class="vf-link" href="#" disabled>An inline link :disabled</a>
</p>
