$vf-link--hover-color: lighten(saturate(adjust-hue($vf-link--color, 5), 32.54), 10.78);

$vf-link---secondary-color: set-color(vf-color--grey) !default;
$vf-link---secondary-color--hover: $vf-link--hover-color !default;
$vf-link---secondary-color--visited: set-color(vf-color--grey--lightest) !default;
