{# <div class="vf-grid vf-u-padding--lg">
  <!-- {{buttonType}} -->
  <a href="{{link_href}}" class="vf-link ">A {{buttonType}} link</a>
  <!-- {{buttonType}} Hover -->
  <a href="{{link_href}}" class="vf-link vf-link--hover">A {{buttonType}}:hover link</a>
  <!-- {{buttonType}} Visited -->
  <a href="{{link_href}}" class="vf-link vf-link--visited">A {{buttonType}}:visited link</a>
  <!-- {{buttonType}} Disabled -->
  <a href="{{link_href}}" class="vf-link vf-link--disabled" disabled>A disabled {{buttonType}} link</a>
</div>

<div class="vf-grid vf-u-background-color--grey--dark vf-u-padding--lg">
  <!-- Default -->
  <a href="{{link_href}}" class="vf-link ">A default link</a>
  <!-- Default Hover -->
  <a href="{{link_href}}" class="vf-link vf-link--hover">A default:hover link</a>
  <!-- Default Visited -->
  <a href="{{link_href}}" class="vf-link vf-link--visited">A default:visited link</a>
  <!-- Default Disabled -->
  <a href="{{link_href}}" class="vf-link vf-link--disabled" disabled>A disabled default link</a>
</div> #}
<div class="vf-grid vf-u-padding--lg">
  <!-- Primary -->
  <a href="{{link_href}}" class="vf-link vf-link--primary ">A primary link</a>
  <!-- Primary Hover -->
  <a href="{{link_href}}" class="vf-link vf-link--primary vf-link--hover">A primary:hover link</a>
  <!-- Primary Visited -->
  <a href="{{link_href}}" class="vf-link vf-link--primary vf-link--visited">A primary:visited link</a>
  <!-- Primary Disabled -->
  <a href="{{link_href}}" class="vf-link vf-link--primary vf-link--disabled" disabled>A disabled primary link</a>
</div>
<div class="vf-grid vf-u-background-color--grey--dark vf-u-padding--lg">
  <!-- Primary -->
  <a href="{{link_href}}" class="vf-link vf-link--primary ">A primary link</a>
  <!-- Primary Hover -->
  <a href="{{link_href}}" class="vf-link vf-link--primary vf-link--hover">A primary:hover link</a>
  <!-- Primary Visited -->
  <a href="{{link_href}}" class="vf-link vf-link--primary vf-link--visited">A primary:visited link</a>
  <!-- Primary Disabled -->
  <a href="{{link_href}}" class="vf-link vf-link--primary vf-link--disabled" disabled>A disabled primary link</a>
</div>
<div class="vf-grid vf-u-padding--lg">
  <!-- Secondary -->
  <a href="{{link_href}}" class="vf-link vf-link--secondary ">A secondary link</a>
  <!-- Secondary Hover -->
  <a href="{{link_href}}" class="vf-link vf-link--secondary vf-link--secondary--hover">A secondary:hover link</a>
  <!-- Secondary Visited -->
  <a href="{{link_href}}" class="vf-link vf-link--secondary vf-link--secondary--visited">A secondary:visited link</a>
  <!-- Secondary Disabled -->
  <a href="{{link_href}}" class="vf-link vf-link--secondary vf-link--disabled" disabled>A disabled secondary link</a>
</div>
<div class="vf-grid vf-u-background-color--grey--dark vf-u-padding--lg">
  <!-- Secondary -->
  <a href="{{link_href}}" class="vf-link vf-link--secondary ">A secondary link</a>
  <!-- Secondary Hover -->
  <a href="{{link_href}}" class="vf-link vf-link--secondary vf-link--secondary--hover">A secondary:hover link</a>
  <!-- Secondary Visited -->
  <a href="{{link_href}}" class="vf-link vf-link--secondary vf-link--secondary--visited">A secondary:visited link</a>
  <!-- Secondary Disabled -->
  <a href="{{link_href}}" class="vf-link vf-link--secondary vf-link--disabled" disabled>A disabled secondary link</a>
</div>


<div class="vf-grid vf-u-padding--lg vf-content">
  <p class="vf-u-margin__bottom--0 vf-text-body vf-text-body--2">This is an example of using <a href="{{link_href}}">inline links</a> when you are using the <code>.vf-content</code> container.</p>
</div>


<div class="vf-grid | vf-u-padding--lg vf-u-background-color--grey--dark | vf-content">
  <p class="vf-u-margin__bottom--0 vf-u-text-color--ui--white vf-text-body vf-text-body--2">This is an example of using <a href="{{link_href}}">inline links</a> when you are using the <code class="vf-u-text-color--ui--black">.vf-content</code> container and the parent of the text also has a class for dark backgrounds.</p>
</div>
