// vf-link--primary
@import 'vf-link.variables.scss';

.vf-link {
  @include inline-link;
}

.vf-link--visited {
  color: $vf-link--visited-color;
}

.vf-link--hover {
  color: $vf-link--hover-color;
}
