<a class="vf-link" href="#">An inline link</a>
<a class="vf-link vf-link--hover" href="#">An inline link :hover</a>
<a class="vf-link vf-link--visited" href="#">An inline link :visited</a>
<a class="vf-link" href="#" disabled>An inline link :disabled</a>
