<div class="vf-stack vf-stack--400">
  <!-- Primary -->
  <a href="{{link_href}}" class="vf-link">A text link</a>
  <!-- Primary Hover -->
  <a href="{{link_href}}" class="vf-link vf-link--hover">A text link with :hover</a>
  <!-- Primary Visited -->
  <a href="{{link_href}}" class="vf-link vf-link--visited">A text link with :visited</a>
  <!-- Primary Disabled -->
  <a href="{{link_href}}" class="vf-link" disabled>A text link that is disabled</a>

  <p class="vf-u-margin__bottom--0 vf-text-body vf-text-body--2">This is an example of using <a href="{{link_href}}">inline links</a> when you are using the <code>.vf-content</code> container.</p>
</div>
