// vf-link
@import 'vf-link.variables.scss';

.vf-link--secondary {
  @include inline-link(color(grey--dark), color(grey--dark), color(grey--dark), $vf-include-normalisations: true);
}

.vf-link--secondary--visited {
  color: color(grey--dark);
}

.vf-link--secondary--hover {
  color: color(grey--dark);
}

[class*='--dark']  {
  .vf-link--secondary {
    @include inline-link(ui-color(white), ui-color(white), ui-color(white), $vf-include-normalisations: true);
  }

  .vf-link--secondary--visited {
    color: ui-color(white);
  }

  .vf-link--secondary--hover {
    color: ui-color(white);
  }
}
