$componentInfo: (
             name: "@visual-framework/vf-explainer",
             version: "0.0.2",
             location: "components/vf-explainer",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Fri, 30 Oct 2020 15:59:25 GMT"
          );