$componentInfo: (
             name: "@visual-framework/vf-explainer",
             version: "0.0.2",
             location: "components/vf-explainer",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Wed, 28 Oct 2020 09:50:49 GMT"
          );