$componentInfo: (
             name: "@visual-framework/vf-explainer",
             version: "0.0.2",
             location: "components/vf-explainer",
             vfCoreVersion: "2.2.8",
             buildTimeStamp: "Fri, 23 Oct 2020 09:36:48 GMT"
          );