// vf-form__textarea

@import 'package.variables.scss';
// Debug information from component's `package.json`:
// ---
/*!
 * Component: #{map-get($componentInfo, 'name')}
 * Version: #{map-get($componentInfo, 'version')}
 * Location: #{map-get($componentInfo, 'location')}
 */

.vf-form__textarea {
  @include set-type(text-body--2);

  /* stylelint-disable */
  -webkit-appearance: none;
  appearance: none;
  /* stylelint-enable */
  border: 2px solid set-color(vf-color--grey);
  border-radius: 0;
  box-sizing: border-box;
  display: block;
  padding: map-get($vf-spacing-map, vf-spacing--200);
  position: relative;
  width: 100%;

  &:hover,
  &:focus {
    border-color: color(grey--dark);
    box-shadow: 0 0 0 .0625rem color(grey--dark);
    color: set-ui-color(vf-ui-color--black);
    outline: 0;
  }
}
