.vf-chatbot-message {

  &__avatar {
    @include set-type(text-body--5);
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__content {
    @include set-type(text-body--3);
    width: fit-content;
    border-radius: $vf-radius--xs;
    margin-bottom: 0px;
    overflow-wrap: break-word;
    max-width: 100%;
  }

  &--user {
    margin-left: auto;

    .vf-chatbot-message__avatar {
      justify-content: flex-end;
      // margin-bottom: 8px;
    }

    .vf-chatbot-message__content {
      background-color: var(--vf-color__text--primary);
      color: var(--vf-color--neutral--0);
      // margin-bottom: 16px;
    }
  }

  &--assistant {
    margin-right: auto;

    // .vf-chatbot-message__avatar {
    //   margin-bottom: 8px;
    // }

    .vf-chatbot-message__content {
      background-color: var(--vf-color--neutral--0);
      color: var(--vf-color__text--primary);
      // margin-bottom: 8px;
    }
  }

  @media (max-width: 768px) {
    // max-width: 90%;
  }
}
