
// vf-summmary Sass configuration file.
// ------------------------------------------------------------

// ------------------------------------------------------------
// Default component variables
// ------------------------------------------------------------

$vf-summary-margin-bottom: 2rem;

// vf-summary__title variables
$vf-summary__title-typography: heading--l;

// vf-summary__body variables
$vf-summary__body-typography: body--l;

// vf-summary__meta variables
$vf-summary__meta-typography: body--s;

// vf-summary__date variables
$vf-summary__date-typography: body--s;
$vf-summary__date-color--text: vf-color-gray;

// vf-summary__category variables
$vf-summary__category-typography: body--s;
$vf-summary__category-color--text: vf-color-gray;

// vf-summary__button variables
$vf-summary__button-typography: button--r;
$vf-summary__button__color--background: green;


// ------------------------------------------------------------
// vf-summary css custom properties
// ------------------------------------------------------------

.vf-summary {
  --vf-text-margin--bottom: 16px;
}


// ------------------------------------------------------------
// Variant component variables
// ------------------------------------------------------------

$vf-summary--article__date-margin-left: .75rem;
$vf-summary--article__date-margin-right: 1.5rem;


$vf-summary--news__category-margin-right: 1rem;
