<article class="vf-summary">
  <h3 class="vf-summary__title">
    <a href="#" class="vf-summary__link">{{ summary__title }}</a>
  </h3>
  <p class="vf-summary__text">{{ summary__text }}</p>
</article>
