.vf-summary--article {

  .vf-summary__date {
    margin-left: $vf-summary--article__date-margin-left;
    margin-right: $vf-summary--article__date-margin-right;
    position: relative;

    &::before {
      color: inherit;
      content: ',';
      font-family: inherit;
      font-size: inherit;
      left: -8px;
      position: absolute;
    }

    &::after {
      color: inherit;
      content: ' — ';
      font-family: inherit;
      font-size: inherit;
      position: absolute;
      right: -18px;
    }
  }

  .vf-summary__meta {
    align-items: center;
    display: flex;

    > * {
      margin-bottom: 0;
    }
  }

  .vf-summary__title {
    -vf-text-margin--bottom: 4px;
  }
}
