

<article class="vf-summary vf-summary--publication">
  <h3 class="vf-summary__title">
    <a href="{{ summary__href }}" class="vf-summary__link">
      {{summary__title}}
    </a>
  </h3>
  <p class="vf-summary__author">{{ summary__author | safe }}</p>
  <p class="vf-summary__source">
    {{summary__source | safe}}
    <span class="vf-summary__date">{{summary__date}}</span>
  </p>

  <p class="vf-summary__text">
    {{summary__text | safe }}
  </p>
</article>
