html:not(.vf-disable-deprecated) {
  .vf-summary--profile {
    column-gap: 16px;
    grid-template-columns: minmax( 0, var(--vf-icon--avatar-width) ) 1fr;
    grid-template-rows: auto;
    margin-bottom: 48px;

    .vf-summary__image{
      align-self: start;
      grid-column: 1 / span 1;
      grid-row: 1 / span 6;
      height: auto;
      margin-right: 30px;
      max-height: var(--vf-icon--avatar-width);
      max-width: var(--vf-icon--avatar-width);
      width: 100%;
    }

    .vf-summary__title {
      --vf-text-margin--bottom: 0;

      font-size: 19px;
      grid-column: 2 / -1;
      line-height: 1.5;
    }

    .vf-summary__text {
      --vf-text-margin--bottom: 0;
    }
  }

  .vf-summary__link {
    @include inline-link;
  }
  .vf-summary__link--secondary {
    @include inline-link(color(grey--darkest), ui-color(black), color(grey--darkest), $vf-include-normalisations: true);
  }

  .vf-summary__image--avatar {
    border-radius: 50%;
  }


  .vf-summary__email {
    --vf-text-margin--bottom: 24px;

    @include set-type($vf-summary__body-typography);
    word-break: break-all;
  }


  .vf-summary__phone {
    --vf-text-margin--bottom: 0;

    @include set-type($vf-summary__body-typography);

    & + & {
      --vf-text-margin--bottom: 8px;
    }
  }

  .vf-summary--mobile {
    position: relative;

    &::after {
      content: '(mobile)';
      margin-left: 4px;
      position: absolute;
    }
  }


  .vf-summary__uuid {
    @include set-type(text-body--5);
    color: set-color(color-grey-dark);
  }

  // variants

  .vf-summary--profile-l {
    --vf-icon--avatar-width: 128px;

    .vf-summary__email {
      --vf-text-margin--bottom: 8px;
    }
  }

  .vf-summary--profile-r {
    --vf-icon--avatar-width: 80px;

    .vf-summary__title {
      --vf-text-margin--bottom: 8px;
    }
    .vf-summary__text {
      @include set-type(text-body--5);
    }
    .vf-summary__email {
      @include set-type(text-body--5, $custom-margin-bottom: 0);
    }
    .vf-summary__image {
      margin-right: 16px;
    }
  }


  .vf-summary--profile-s {
    --vf-icon--avatar-width: 60px;

    .vf-summary__image {
      margin-right: 8px;
    }
    .vf-summary__title {
      @include set-type(text-body--5);
    }
  }
}
