{%- if context %}
  {% set summary__href = context.summary__href %}
  {% set summary__title = context.summary__title %}
  {% set summary__text = context.summary__text %}
  {% set summary__meta = context.summary__meta %}
  {% set summary__date = context.summary__date %}
  {% set summary__date_meta = context.summary__date_meta %}
{%- endif %}

<article class="vf-summary vf-summary--job">
  <p class="vf-summary__meta">{{summary__meta | safe }}</p>

  <h3 class="vf-summary__title">

    <a href="{{ summary__href }}" class="vf-summary__link">
      {{summary__title}}
    </a>

  </h3>

  <p class="vf-summary__text">{{summary__text}}</p>

  <p class="vf-summary__date">
    {%- if summary__date_meta %}
    <span>{{summary__date_meta}}</span>
    {% endif %}
    Posted {{summary__date}}</p>

</article>
