.vf-summary--news-has-image {
  grid-template-columns: min-content auto;
  grid-template-rows: auto;

  .vf-summary__date {
    --vf-text-margin--bottom: 4px;

    grid-column: 1 / -1;
    grid-row: 1;
  }

  .vf-summary__image{
    grid-column: 1 / span 1;
    grid-row: 2 / span 4;
  }

  .vf-summary__text {
    align-items: center;
    display: flex;
    grid-column: 2 / span 1;
    grid-row: 3;
  }

  .vf-summary__title {
    grid-column: 2 / span 1;
    grid-row: 2;
  }

}
