.vf-summary--profile {
  grid-column-gap: 16px;
  grid-template-columns: minmax( 0, var(--vf-icon--avatar-width) ) 1fr;
  grid-template-rows: auto;
  margin-bottom: 48px;

  .vf-summary__image{
    align-self: center;
    grid-column: 1 / span 1;
    grid-row: 1 / span 6;
    margin-right: 30px;
    max-width: 170px;
    width: 100%;
  }

  .vf-summary__title {
    --vf-text-margin--bottom: 0;

    font-size: 19px;
    grid-column: 2 / -1;
    line-height: 1.5;
  }

  .vf-summary__text {
    --vf-text-margin--bottom: 0;
  }
}

.vf-summary__link {
  @include inline-link;
}
.vf-summary__link--secondary {
  @include inline-link($vf-link--secondary-color, $vf-link--secondary-color--hover, $vf-link--secondary-color--visited, $vf-include-normalisations: true);
}

.vf-summary__image--avatar {
  border-radius: 50%;
}


.vf-summary__email {
  --vf-text-margin--bottom: 24px;

  @include set-type($vf-summary__body-typography);

  z-index: $vf-summary__link--z-index;
}


.vf-summary__phone {
  --vf-text-margin--bottom: 0;

  @include set-type($vf-summary__body-typography);

  & + & {
    --vf-text-margin--bottom: 8px;
  }
}

.vf-sumary--mobile {
  position: relative;

  &::after {
    content: '(mobile)';
    margin-left: 4px;
    position: absolute;
  }
}


.vf-summary__uuid {
  @include set-type(body--s);
  color: set-color(color-gray-dark);
}

// variants

.vf-summary--profile-l {
  --vf-icon--avatar-width: 128px;

  .vf-summary__email {
    --vf-text-margin--bottom: 8px;
  }
}

.vf-summary--profile-r {
  --vf-icon--avatar-width: 80px;

  .vf-summary__title {
    --vf-text-margin--bottom: 8px;
  }
  .vf-summary__text {
    @include set-type(body--s);
  }
  .vf-summary__email {
    @include set-type(body--s, $custom-margin-bottom: 0);
  }
  .vf-summary__image {
    margin-right: 16px;
  }
}


.vf-summary--profile-s {
  --vf-icon--avatar-width: 60px;

  .vf-summary__image {
    margin-right: 8px;
  }
  .vf-summary__title {
    @include set-type(body--s);
  }
}
