<article class="vf-summary vf-summary--event">
  <p class="vf-summary__date">04 September</p>
  <h3 class="vf-summary__title">
    <a href="###" class="vf-summary__link">Executive Masters in Management of Research Infrastructures</a>
  </h3>
  <p class="vf-summary__text">This Masters development programme is aimed at current Research Infrastructures managers and leaders who wish to develop the competencies required to meet the needs of Research Infrastructures in the planning, construction and operation phases.</p>
  <p class="vf-summary__text">EMBO Workshop</p>
  <p class="vf-summary__location">Heidelberg</p>

</article>
