<article class="vf-summary vf-summary--publication">
  <h3 class="vf-summary__title">
    <a href="{{ summary__href }}" class="vf-summary__link">
      {{ summary__text }}
    </a>
  </h3>
  <p class="vf-summary__author">
    {{summary__author_text}}
  </p>
  <p class="vf-summary__source">
    {{summary__source}}
    {% if summary__date %}
    <span class="vf-summary__date">{{summary__date}}</span>
    {% endif %}
  </p>

  <p class="vf-summary__text">
    {{summary__text}}
    <a class="vf-link" href="{{summary__linkA_href}}">{{summary__linkA}}</a>
    <a class="vf-link" href="{{ summary__linkB_href }}">{{summary__linkB}}</a>
  </p>
</article>
