<article class="vf-summary vf-summary--event">
  <p class="vf-summary__date">04 September</p>
  <h3 class="vf-summary__title">
    <a href="###" class="vf-summary__link">Protein Synthesis and Translational Control</a>
  </h3>
  <p class="vf-summary__text">EMBO Workshop</p>
  <p class="vf-summary__location">Heidelberg</p>
</article>
