.vf-summary--news {

  .vf-summary__category {
    margin-right: $vf-summary--news__category-margin-right;
    position: relative;
    text-transform: uppercase;

    &::after {
      content: '–';
      position: absolute;
      right: -12px;
    }
  }

  .vf-summary__date {
    --vf-text-margin--bottom: 4px;

    grid-column: 1 / -1;
    grid-row: 1;
  }

  .vf-summary__text {
    align-items: center;
    display: flex;
  }

}
