@import 'vf-summary.variables.scss';

// vf-summary
.vf-summary {
  align-self: start;
  display: grid;
  grid-column-gap: 16px;
  margin-bottom: $vf-summary-margin-bottom;
  position: relative;

  & > *:last-child {
    margin-bottom: 0;
  }

}

.vf-summary__button {
  --vf-text-margin--bottom: 0;

  @include vf-button;
  @include set-type($vf-summary__button-typography);

  margin-bottom: 0;
}

.vf-summary__category {
  --vf-text-margin--bottom: 0;

  @include set-type($vf-summary__category-typography);

  color: set-color($vf-summary__category-color--text);
  margin-bottom: 0;
}

.vf-summary__date {
  @include set-type($vf-summary__date-typography);

  color: set-color($vf-summary__date-color--text);
}

.vf-summary__link {
  @include inline-link();

  z-index: $vf-summary__link--z-index;
}

.vf-summary__link--overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.vf-summary__meta {
  @include set-type($vf-summary__meta-typography);
}

.vf-summary__text {
  @include set-type($vf-summary__body-typography);
}

.vf-summary__title {
  @include set-type($vf-summary__title-typography);
}
