// vf-summmary Sass configuration file.
// ------------------------------------------------------------

// ------------------------------------------------------------
// Default component variables
// ------------------------------------------------------------

$vf-summary-margin-bottom: 2rem;

// vf-summary__title variables
// $vf-summary__title-typography: text-heading--3; // replaced for 2020 homepage updates
$vf-summary__title-typography: text-heading--4;

// vf-summary__body variables
$vf-summary__body-typography: text-body--2;

// vf-summary__meta variables
$vf-summary__meta-typography: text-body--5;

// vf-summary__date variables
$vf-summary__date-typography: text-body--5;
$vf-summary__date-color--text: vf-color--grey;

// vf-summary__author variables
$vf-summary__author-typography: text-body--5;
$vf-summary__author-color--text: vf-color--grey;

// vf-summary__category variables
$vf-summary__category-typography: text-body--5;
$vf-summary__category-color--text: vf-color--grey;

// vf-summary__button variables
$vf-summary__button-typography: text-button--1;


// ------------------------------------------------------------
// vf-summary css custom properties
// ------------------------------------------------------------

.vf-summary {
  --vf-text-margin--bottom: 16px;
}

.vf-summary--profile {
  --vf-icon--avatar-width: 160px;
}

// ------------------------------------------------------------
// Variant component variables
// ------------------------------------------------------------

$vf-summary--article__date-margin-left: .75rem;
$vf-summary--article__date-margin-right: .75rem;


$vf-summary--news__category-margin-right: 1rem;

$vf-summary--has-image-width: 50px;


$vf-summary__publication__text-typography: text-body--5;
$vf-summary__publication-color--text: vf-color--grey;
