.vf-summary--job {

  grid-template-columns: auto 1fr;

  .vf-summary__date {
    align-self: flex-end;

    span {
      color: set-color(vf-color-ruby);
    }
  }

  .vf-summary__meta {
    --vf-text-margin--bottom: 4px;

    grid-column: 1 / -1;
  }

  .vf-summary__text {
    grid-column: 1 / -1;
  }

  .vf-summary__title {
    grid-column: 1 / -1;
  }

}
