{% extends "layouts/skeleton.njk" %}
{% import "macros/navigation.njk" as nav %}

{% block page %}

{% include 'partials/header.njk' %}

<section class="Frame-body vf-body" data-role="body">
  {% block content %}{% endblock %}
</section>

{% endblock %}
