// vf-form__radio

@import 'package.variables.scss';
// Debug information from component's `package.json`:
// ---
/*!
 * Component: #{map-get($componentInfo, 'name')}
 * Version: #{map-get($componentInfo, 'version')}
 * Location: #{map-get($componentInfo, 'location')}
 */

.vf-form__radio {
  opacity: 0; // hide it
  position: absolute; // take it out of document flow

  & + .vf-form__label {
    color: color(grey--dark);
    cursor: pointer;
    display: flex;
    padding: 0;
    position: relative;
  }

  // Box.
  & + .vf-form__label::before {
    background: ui-color(white);
    border: 2px solid color(grey);
    border-radius: 50%;
    content: '';
    display: inline-block;
    height: 16px;
    margin-right: 8px;
    position: relative;
    top: 2px; // need to look at a better way to do this that keeps the semantics of a label
    width: 16px;
  }

  // Box hover
  &:hover + .vf-form__label::before {
    border-color: color(grey--dark);
    box-shadow: 0 0 4px color(blue);

    @supports (filter: drop-shadow(0 0 .25rem blue)) {
      background-color: transparent;
      box-shadow: 0;
      filter: drop-shadow(0 0 4px color(blue--light))
    }
  }

  // Box focus
  &:focus + .vf-form__label::before {
    border-color: color(grey--dark);
    box-shadow: 0 0 4px color(blue);

    @supports (filter: drop-shadow(0 0 .25rem blue)) {
      background-color: transparent;
      box-shadow: 0;
      filter: drop-shadow(0 0 4px color(blue--light))
    }
  }

  // Box checked
  &:checked + .vf-form__label::before {
    background: color(blue);
    box-shadow: inset 0 0 0 2px ui-color(white);
    // border-color: color(blue);
  }

  // Disabled state .vf-form__label.
  &:disabled + .vf-form__label {
    color: color(grey--dark);
    cursor: auto;
  }

  // Disabled box.
  &:disabled + .vf-form__label::before {
    background: color(grey);
    box-shadow: none;
  }
}


.vf-form__item--radio--inline {
  display: inline-flex;

  & *:not(:first-of-type) {
    margin-left: 1rem;
  }
}
