<div class="vf-form__item vf-form__item--radio vf-form__item--radio--inline">

  <input type="radio" name="radio-button-group--2" id="radio-inline-1" class="vf-form__radio">
  <label for="radio-inline-1" class="vf-form__label">Form Label</label>
  <input type="radio" name="radio-button-group--2" id="radio-inline-2" class="vf-form__radio">
  <label for="radio-inline-2" class="vf-form__label">Form Label</label>
  <input type="radio" name="radio-button-group--2" id="radio-inline-3" class="vf-form__radio">
  <label for="radio-inline-3" class="vf-form__label">Form Label</label>
</div>
