$componentInfo: (
             name: "@visual-framework/vf-form__helper",
             version: "1.0.0",
             location: "components/vf-form/vf-form__helper",
             vfCoreVersion: "2.2.8",
             buildTimeStamp: "Fri, 23 Oct 2020 11:09:14 GMT"
          );