$componentInfo: (
             name: "@visual-framework/vf-form__helper",
             version: "1.0.0",
             location: "components/vf-form/vf-form__helper",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Fri, 30 Oct 2020 09:28:32 GMT"
          );