{%- render '@vf-breadcrumbs--with-related', {
  "breadcrumbs": [
    {
      "text": "Boilerplates",
      "breadcrumb_href": ".."
    },
    {
      "text": title
    }
  ],
  "related": [
    {
      "text": "Components",
      "breadcrumb_href": "../../components"
    }
  ]
} -%}
