{%- render '@vf-breadcrumbs--with-related', {
  "breadcrumbs": [
    {
      "text": "Components and patterns",
      "breadcrumb_href": "/components"
    },
    {
      "text": title,
      "currentPage": true
    }
  ],
  "related": [
    {
      "text": "Building a site",
      "breadcrumb_href": "/building"
    }
  ]
} -%}
