{# <!-- dismissible banner for information on using the design language -->
<!-- you can delete this on your page -->
<div class="vf-banner vf-banner--fixed vf-banner--bottom vf-banner--phase"
data-vf-js-banner
data-vf-js-banner-state="dismissible"
data-vf-js-banner-auto-accept="false">
  <div class="vf-banner__content" data-vf-js-banner-text>
    <div class="vf-banner__text">
      This is a demonstration "{{title}}" page.
    </div>
    <div class="vf-form__item--checkbox">
      <input type="checkbox" id="checkbox-01" class="vf-form__checkbox" checked>
      <label for="checkbox-01" class="vf-form__label | vf-u-margin--0">Show notes and usability tips</label>
    </div>
    <p class="vf-banner__text">Here's the core CSS and JS you need. Don't forget to <a href="{{ '/' | url }}" class="vf-banner__link">review the documentation</a> and <a href="{{ '/patterns' | url }}" class="vf-banner__link">see more boilerplates and patterns</a>.</p>
    {% codeblock 'html' -%}
<link rel="stylesheet" href="https://{{ siteConfig.vfVersionPrefix }}assets.emblstatic.net/vf/{{ siteConfig.vfVersion }}/css/styles.css">
<script src="https://{{ siteConfig.vfVersionPrefix }}assets.emblstatic.net/vf/{{ siteConfig.vfVersion }}/scripts/scripts.js"></script>
    {%- endcodeblock %}
  </div>
</div> #}
