<!-- dismissible banner for information on using the design language -->
<!-- you can delete this on your page -->
<div class="vf-banner vf-banner--fixed vf-banner--bottom vf-banner--phase"
data-vf-js-banner
data-vf-js-banner-state="dismissible"
data-vf-js-banner-button-text="Close notice"
{# data-vf-js-banner-cookie-name="environment-{{serverInfo.environment}}" #}
{# data-vf-js-banner-cookie-version="0.1" #}
data-vf-js-banner-auto-accept="false">
  <div class="vf-banner__content" data-vf-js-banner-text>
    <div>
      <h3 class="vf-text vf-text-heading--4">
        Building something with the EMBL Design Language for Websites?
      </h3>
      <p class="vf-banner__text">Here's the core CSS and JS you need. Don't forget to <a href="{{ '/' | url }}" class="vf-banner__link">review the documentation</a> and <a href="{{ '/patterns' | url }}" class="vf-banner__link">see more boilerplates and patterns</a>.</p>
      {% codeblock 'html' -%}
<link rel="stylesheet" href="https://dev.assets.emblstatic.net/vf/{{ siteConfig.vfVersion }}/css/styles.css">
<script src="https://dev.assets.emblstatic.net/vf/{{ siteConfig.vfVersion }}/scripts/scripts.js"></script>
      {%- endcodeblock %}
    </div>
  </div>
</div>
