$vf-font-plex-sans-prefix: '..' !default;
@font-face {
  font-family: 'IBM Plex Sans';
  src: url('https://cdn.jsdelivr.net/npm/@ibm/plex@4.0.2/IBM-Plex-Sans/fonts/complete/woff2/IBMPlexSans-Medium.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/npm/@ibm/plex@4.0.2/IBM-Plex-Sans/fonts/complete/woff/IBMPlexSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

// @import 'cyrillic';
// @import 'pi';
// @import 'latin3';
// @import 'latin2';
// @import 'latin1';
// @import 'greek';
