$componentInfo: (
             name: "@visual-framework/vf-blockquote",
             version: "1.0.2",
             location: "components/vf-blockquote",
             vfCoreVersion: "2.2.4"
          );