// vf-blockquote

@import 'package.variables.scss';
// Debug information from component's `package.json`:
// ---
/*!
 * Component: #{map-get($componentInfo, 'name')}
 * Version: #{map-get($componentInfo, 'version')}
 * Location: #{map-get($componentInfo, 'location')}
 */

.vf-blockquote {
  @include blockquote;
}

.vf-blockquote--pullquote {
  position: static;
}

.vf-blockquote--pullquote:before {
  content: 'This component variant has not yet been implement, see the README.md for more information.';
  display: block;
}
