.vf-form__item {
  display: block;
  margin-bottom: 32px;
  position: relative;
}

.vf-form__item--inline .vf-form__label {
  display: inline-block;
}

.vf-form__label {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.57;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  margin: 0 0 4px 0;
  color: #707372;
  display: block;
  left: 26px;
  position: relative;
}

.vf-form__checkbox {
  opacity: 0;
  position: absolute;
}

.vf-form__checkbox + .vf-form__label {
  color: #54585a;
  cursor: pointer;
  padding: 0;
  position: relative;
}

.vf-form__checkbox + .vf-form__label::before {
  background: white;
  border: 3px solid #f3f3f3;
  content: '';
  display: inline-block;
  height: 16px;
  margin-right: 10px;
  position: relative;
  top: 6px;
  vertical-align: center;
  width: 16px;
}

.vf-form__checkbox:hover + .vf-form__label:before {
  border-color: #54585a;
}

.vf-form__checkbox:focus + .vf-form__label:before {
  border-color: #54585a;
}

.vf-form__checkbox:checked + .vf-form__label:before {
  background: #287ae2;
  border-color: #287ae2;
}

.vf-form__checkbox:disabled + .vf-form__label {
  color: #54585a;
  cursor: auto;
}

.vf-form__checkbox:disabled + .vf-form__label:before {
  background: #707372;
  -webkit-box-shadow: none;
          box-shadow: none;
}
