// vf-banner

@import 'package.variables.scss';
// Debug information from component's `package.json`:
// ---
/*!
 * Component: #{map-get($componentInfo, 'name')}
 * Version: #{map-get($componentInfo, 'version')}
 * Location: #{map-get($componentInfo, 'location')}
 */

@import 'vf-banner.variables.scss';

.vf-banner {
  box-sizing: border-box;
  padding: 16px;

  .vf-badge {
    margin-right: 16px;
  }
}

// all vf-text links should be underlined in banners
.vf-banner [class*='vf-text'] .vf-link {
  text-decoration: underline;
}

.vf-banner--blocking {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: minmax(var(--page-grid-gap), auto) [main-start] minmax(288px, 76.5em) [main-end] minmax(var(--page-grid-gap), auto);
  height: 100%;
  left: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: set-layer(vf-z-index--banner);
}

.vf-banner__content {
  align-content: center;
  align-items: center;

  @media (max-width: 63.9375em) {
    display: block; // overrideing the .emlb-grid code
  }

  @media (min-width: $vf-breakpoint--lg) {
    grid-column: main;
  }
}

.vf-banner__text {
  @include set-type(text-body--3, $custom-margin-bottom: 0);
} 
.vf-banner__text--lg {
  @include set-type(text-body--2, $custom-margin-bottom: 0);
} 

.vf-banner--top {
  top: 0;
}

.vf-banner--bottom {
  bottom: 0;
}

.vf-banner--notice {
  background-color: $vf-notice-banner-color--background;

  .vf-banner__text,
  .vf-text { // as of 1.0.4 use of vf-text is not recommended and is subject to future removal
    color: $vf-notice-banner-color--text;
    margin-bottom: 24px;
    max-width: 64em;

    & .vf-link {
      color: $vf-banner-color--link;
    }

    @media (min-width: $vf-breakpoint--lg) {
      margin: 0;
    }
  }

  .vf-button {
    @media (min-width: $vf-breakpoint--lg) {
      align-self: center;
      justify-self: end;
    }
  }
}

.vf-banner--blocking.vf-banner--notice {
  @include padding--block(all, $vf-notice-banner-padding);

  background-color: rgba(0, 0, 0, .1); // to do: do we do an alpha mix in?
}

.vf-banner--blocking.vf-banner--notice .vf-banner__content {
  @include padding--block(all, $vf-notice-banner-padding);

  background-color: $vf-notice-banner-color--background;
}
