.vf-banner--phase {
  background-color: $vf-phase-banner-color--background;

  margin-bottom: 24px;

  [class*='vf-text'] {
    color: $vf-phase-banner-color--text;
    margin: 12px 0;

    & .vf-link {
      color: $vf-banner-color--link;
    }
  }

  .vf-banner__content {
    display: flex;
  }

  .vf-button {
    @media (min-width: $vf-breakpoint--lg) {
      margin-left: auto;
    }
  }


}
