@import 'vf-banner.variables.scss';

.vf-banner {
  box-sizing: border-box;
  padding: 0 12px;

  .vf-badge {
    margin-right: 16px;
  }
}


.vf-banner--blocking {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: minmax(var(--page-grid-gap), auto) [main-start] minmax(288px, 76.5em) [main-end] minmax(var(--page-grid-gap), auto);
  height: 100%;
  left: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: set-layer(vf-z-index--banner);
}

.vf-banner__content {
  align-content: center;
  align-items: center;

  @media (max-width: 63.9375em) {
    display: block; // overrideing the .emlb-grid code
  }

  @media (min-width: $vf-breakpoint--lg) {
    grid-column: main;
  }
}

.vf-banner__text {
  @include set-type(text-body--3);
}

.vf-banner--top {
  top: 0;
}

.vf-banner--bottom {
  bottom: 0;
}

.vf-banner--notice {
  @include padding--block(all, $vf-notice-banner-padding);

  background-color: $vf-notice-banner-color--background;

  .vf-text {
    color: $vf-notice-banner-color--text;
    margin-bottom: 24px;
    max-width: 64em;

    & .vf-link {
      color: $vf-banner-color--link;
    }

    @media (min-width: $vf-breakpoint--lg) {
      margin: 0;
    }
  }

  .vf-button {
    @media (min-width: $vf-breakpoint--lg) {
      align-self: center;
      justify-self: end;
    }
  }
}


.vf-banner--blocking.vf-banner--notice {
  @include padding--block(all, $vf-notice-banner-padding);

  background-color: rgba(0, 0, 0, .1); // to do: do we do an alpha mix in?
}

.vf-banner--blocking.vf-banner--notice .vf-banner__content {
  @include padding--block(all, $vf-notice-banner-padding);

  background-color: $vf-notice-banner-color--background;
}
