.vf-banner {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 12px;
}

.vf-banner .vf-badge {
  margin-right: 16px;
}

.vf-banner__content {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 63.9375em) {
  .vf-banner__content {
    display: block;
  }
}

@media (min-width: 1024px) {
  .vf-banner__content {
    grid-column: main;
  }
}

.vf-banner__text {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.71;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-banner--top {
  top: 0;
}

.vf-banner--bottom {
  bottom: 0;
}
