.vf-banner {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 12px;
}

.vf-banner .vf-badge {
  margin-right: 16px;
}

.vf-banner--blocking {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: minmax(var(--page-grid-gap), auto) [main-start] minmax(288px, 76.5em) [main-end] minmax(var(--page-grid-gap), auto);
  height: 100%;
  left: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5150;
}

.vf-banner__content {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 63.9375em) {
  .vf-banner__content {
    display: block;
  }
}

@media (min-width: 1024px) {
  .vf-banner__content {
    grid-column: main;
  }
}

.vf-banner__text {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.71;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-banner--top {
  top: 0;
}

.vf-banner--bottom {
  bottom: 0;
}

.vf-banner--notice {
  padding-bottom: 16px;
  padding-top: 16px;
  background-color: #54585a;
}

.vf-banner--notice .vf-text {
  color: white;
  margin-bottom: 24px;
  max-width: 64em;
}

.vf-banner--notice .vf-text .vf-link {
  color: inherit;
}

@media (min-width: 1024px) {
  .vf-banner--notice .vf-text {
    margin: 0;
  }
}

@media (min-width: 1024px) {
  .vf-banner--notice .vf-button {
    -ms-flex-item-align: center;
        align-self: center;
    justify-self: end;
  }
}

.vf-banner--blocking.vf-banner--notice {
  padding-bottom: 16px;
  padding-top: 16px;
  background-color: rgba(0, 0, 0, 0.1);
}

.vf-banner--blocking.vf-banner--notice .vf-banner__content {
  padding-bottom: 16px;
  padding-top: 16px;
  background-color: #54585a;
}

.vf-banner--fixed {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: minmax(var(--page-grid-gap), auto) [main-start] minmax(288px, 76.5em) [main-end] minmax(var(--page-grid-gap), auto);
  left: 0;
  padding: 0;
  position: fixed;
  width: 100%;
  z-index: 5150;
}

.vf-banner--phase {
  background-color: #fffadc;
  margin-bottom: 24px;
}

.vf-banner--phase [class*='vf-text'] {
  color: #54585a;
  margin: 12px 0;
}

.vf-banner--phase [class*='vf-text'] .vf-link {
  color: inherit;
}

.vf-banner--phase .vf-banner__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 1024px) {
  .vf-banner--phase .vf-button {
    margin-left: auto;
  }
}
