{# Make sure any variables are listed inside the following if statement #}
{% if context %}
  {# {% set vf-location-nearest = context.vf-location-nearest %} #}
{% endif %}

<div class="vf-location-nearest">
  /* This is a demo only, to use this utility component follow the README.md to graft onto your UI */
</div>

<script type="text/javascript">
  window.onload = function () {
    // You should do this in your central JS (scripts.js) as appropriate

    // Configure an object of your locations to detect
    let vfLocationNearestLocations = {
      default: {
        name: "Heidelberg",
        latlon: "49.40768, 8.69079"
      },
      barcelona: {
        name: "Barcelona",
        latlon: "0.40768, 0.69079"
      },
      grenoble: {
        name: "Grenoble",
        latlon: "45.16667, 5.71667"
      },
      hamburg: {
        name: "Hamburg",
        latlon: "53.57532, 10.01534"
      },
      heidelberg: {
        name: "Heidelberg",
        latlon: "49.40768, 8.69079"
      },
      hinxton: {
        name: "EMBL-EBI Hinxton",
        latlon: "0.40768, 0.69079"
      },
      rome: {
        name: "Rome",
        latlon: "0.40768, 0.69079"
      }
    }
    // Bootstrap location detection
    vfLocationNearest(vfLocationNearestLocations);
  };
</script>
