<div class="vf-chatbot-sources" data-vf-js-chatbot-sources>
  <h3>Sources</h3>
  <ul>
    {% for source in sources %}
      <li>
        <a href="{{ source.url }}" target="_blank">{{ source.title }}</a>
      </li>
    {% endfor %}
  </ul>
</div>
