<article class="vf-news-item vf-news-item--snippet">
  <h3 class="vf-news-item__title vf-text vf-text--heading-r">
    <a href="#" class="vf-link">Miniature testing of drug pairs on tumour biopsies</a>
    <span class="vf-news-item__source">Sanger Institute</span>
  </h3>
</article>
