<section class="vf-video-container | embl-grid embl-grid--labeled-with-sidebar">
  {{> '@vf-section-header'}}
  <div class="vf-video-container__content">
    {{ render '@vf-video' }}
  </div>
  {{ render '@vf-video-teaser'}}
</section>
