$componentInfo: (
             name: "@visual-framework/vf-header",
             version: "1.0.3",
             location: "components/vf-header",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Thu, 05 Nov 2020 12:33:55 GMT"
          );