$componentInfo: (
             name: "@visual-framework/vf-header",
             version: "1.0.2",
             location: "components/vf-header",
             vfCoreVersion: "2.2.8",
             buildTimeStamp: "Mon, 26 Oct 2020 17:23:38 GMT"
          );