/* stylelint-disable */
:root {
  --vf-color--green: #18974c;
  --vf-color--green--darkest: #0a5032;
  --vf-color--green--dark: #007b53;
  --vf-color--green--light: #6cc24a;
  --vf-color--green--lightest: #d0debb;
  --vf-color--grey: #707372;
  --vf-color--grey--darkest: #373a36;
  --vf-color--grey--dark: #54585a;
  --vf-color--grey--light: #a8a99e;
  --vf-color--grey--lightest: #d0d0ce;
  --vf-color--red: #d41645;
  --vf-color--red--dark: #a6093d;
  --vf-color--red--light: #e58f9e;
  --vf-color--blue: #3b6fb6;
  --vf-color--blue--dark: #193f90;
  --vf-color--blue--light: #8bb8e8;
  --vf-color--purple: #734595;
  --vf-color--purple--dark: #563d82;
  --vf-color--purple--light: #cba3d8;
  --vf-color--orange: #f49e17;
  --vf-color--orange--dark: #b65417;
  --vf-color--orange--light: #efc06e;
  --vf-color--yellow: #f4c61f;
  --vf-color--yellow--dark: #ffb81c;
  --vf-color--yellow--light: #fdd757;
  --vf-color--bright-green: #a1be1f;
  --vf-color--bright-green--dark: #7fb428;
  --vf-color--bright-green--light: #e2e868;
}

:root {
  --vf-ui-color--black: #000000;
  --vf-ui-color--grey: #d8d8d8;
  --vf-ui-color--grey--light: #f3f3f3;
  --vf-ui-color--yellow: #fffadc;
  --vf-ui-color--red: #d32f2f;
  --vf-ui-color--white: #ffffff;
  --vf-ui-color--off-white: #fafafa;
}

/* stylelint-enable */
/*!
 * Component: @visual-framework/vf-global-header
 * Version: 1.0.2
 * Location: components/vf-global-header
 */
.vf-global-header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: .5rem;
  grid-column: 1 / -1;
  height: auto;
  margin: 0 auto;
  max-width: 78.5rem;
  padding: .5rem 0;
  width: 100%;
}

.vf-global-header__site-name {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.71;
  margin: 0 0 0 0;
}

@media (min-width: 768px) {
  .vf-global-header__site-name {
    margin-left: .5rem;
    margin-right: .5rem;
  }
}

/*!
 * Component: @visual-framework/vf-masthead
 * Version: 1.0.3
 * Location: components/vf-masthead
 */
.vf-masthead {
  background-color: #ffffff;
  background-color: var(--vf-masthead__color--background-default, var(--global-theme-bg-color, #ffffff));
  color: #000000;
  color: var(--vf-masthead__color--foreground-default, var(--global-theme-fg-color, #000000));
  padding-bottom: 1.5em;
  padding-top: 1.5em;
}

.vf-masthead-theme--primary {
  --vf-masthead__color--background-default: #3b6fb6;
  --vf-masthead__color--foreground-default: #ffffff;
}

.vf-masthead-theme--secondary {
  --vf-masthead__color--background-default: #18974c;
  --vf-masthead__color--foreground-default: #ffffff;
}

.vf-masthead-theme--tertiary {
  --vf-masthead__color--background-default: #54585a;
  --vf-masthead__color--foreground-default: #ffffff;
}

.vf-masthead--has-image {
  background-repeat: no-repeat;
  background-size: cover;
}

.vf-masthead__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 76.5em;
  width: 100%;
}

.vf-masthead__title {
  -ms-flex-item-align: unset;
      align-self: unset;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.vf-masthead__heading {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.547;
  margin: 0 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.vf-masthead__heading--additional {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 500;
  line-height: 1.5;
  margin: 0 0 0 0;
  position: relative;
  top: -4px;
}

.vf-masthead__heading__link {
  color: inherit;
  text-decoration: none;
  z-index: 1984;
}

.vf-masthead__subheading {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.57;
  margin: 0 0 0 0;
  text-transform: uppercase;
}

.vf-masthead__subheading a {
  color: inherit;
  text-decoration: none;
  z-index: 1984;
}

.vf-masthead--with-title-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 0;
  padding-top: 60px;
}

.vf-masthead--with-title-block .vf-masthead__title {
  -ms-flex-item-align: end;
      align-self: flex-end;
  background-color: var(--vf-masthead__color--background-default, var(--global-theme-bg-color, #000000));
  color: var(--vf-masthead__color--foreground-default, var(--global-theme-fg-color, #ffffff));
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-right: 16px;
  padding-top: 16px;
  position: relative;
}

.vf-masthead--with-title-block .vf-masthead__title::before {
  background-color: var(--vf-masthead__color--background-default, var(--global-theme-bg-color, #000000));
  content: '';
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  height: 100%;
  padding-left: 16px;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50vw;
}

.vf-masthead--with-title-block .vf-masthead__subheading {
  z-index: 1984;
}

.vf-masthead__form--search {
  align-self: flex-end;
  grid-row: 2;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 12px;
  margin-left: auto;
  max-width: 288px;
  z-index: 1984;
}

.vf-masthead__form__item {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 6px;
}

.vf-masthead__button {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: #193f90;
  border: 0;
  color: #ffffff;
  margin-left: 8px;
  outline: 0;
  padding: 8px 12px;
}

.vf-masthead__button svg {
  fill: #ffffff;
  width: 16px;
}

.vf-masthead__form__label {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-bottom: 4px;
  text-shadow: 1px 1px 3px #ffffff;
}

.vf-masthead__form__input--text {
  -ms-flex-preferred-size: 79%;
      flex-basis: 79%;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-size: 18px;
  font-style: italic;
}

.search-examples {
  color: #ffffff;
  font-size: 12px;
  text-shadow: 1px 1px 0px #000000;
}

.search-examples a {
  color: #ffffff;
  text-shadow: 1px 1px 0px #000000;
}

/*!
 * Component: @visual-framework/vf-navigation
 * Version: 1.2.3
 * Location: components/vf-navigation
 */
.vf-navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.vf-navigation__heading {
  margin: 0;
}

/*!
 * Component: @visual-framework/vf-header
 * Version: 1.0.2
 * Location: components/vf-header
 */
.vf-header {
  background-position: top center;
  background-size: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: grid;
  grid-column: 1 / -1;
  width: 100%;
}

.vf-header .vf-navigation--main {
  grid-column: 1 / -1;
}

.vf-header .vf-navigation--additional {
  grid-column: 1 / -1;
  grid-row: 2;
}

.vf-header__navigation--site {
  background-color: #54585a;
}

.vf-header__navigation--site > * {
  margin-left: -16px;
}

.vf-header__navigation--additional {
  background-color: #54585a;
  grid-row: 2;
}

.vf-header > .vf-global-header {
  margin-bottom: -1px;
}

.vf-header--inlay {
  grid-column: 2 / -2;
}

.vf-header--inlay .vf-navigation--main::before {
  display: none;
}
