// vf-form__label

.vf-form__label {
  @include set-type(text-body--5);
  @include margin--block(bottom, 4px);

  color: set-color(vf-color--grey);
  display: block;
  left: 24px;
  position: absolute;
  top: 0;
}


.vf-form__label--required {
  color: set-ui-color(vf-ui-color--red);
  left: unset;
  right: 24px;
}
