// vf-form__label

@import 'package.variables.scss';
// Debug information from component's `package.json`:
// ---
/*!
 * Component: #{map-get($componentInfo, 'name')}
 * Version: #{map-get($componentInfo, 'version')}
 * Location: #{map-get($componentInfo, 'location')}
 */

.vf-form__label {
  @include set-type(text-body--3, $custom-margin-bottom: map-get($vf-spacing-map, vf-spacing--200));

  color: set-color(vf-ui-color--black);
  display: block;
}

.vf-form__label--required {
  float: right;
  margin-bottom: 0;
  .vf-icon svg {
    fill: set-color(vf-color--blue);
    height: 12px;
    width: 16px;
  }
}
