// vf-form__label

@import 'package.variables.scss';
// Debug information from component's `package.json`:
// ---
/*!
 * Component: #{map-get($componentInfo, 'name')}
 * Version: #{map-get($componentInfo, 'version')}
 * Location: #{map-get($componentInfo, 'location')}
 */

.vf-form__label {
  @include set-type(text-body--2, $custom-margin-bottom: 0);
  color: set-color(vf-ui-color--black);
  display: flex;
}

.vf-form__label--required {

  .vf-icon {
    fill: set-color(vf-color--red);
    height: .5em;
    width: .5em;
  }
}
