# Deploy the pattern library to gh-pages
language: node_js
node_js:
  - 10

branches:
  except:
    - /^.visual-framework\/.*$/

stages:
  - deploy

before_script:
  - npm install
  - npm install -g gulp-cli

deploy:
  script:
    - gulp build
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN  # Set in the settings page of your repository, as a secure variable
  keep-history: true
  target-branch: gh-pages
  local-dir: build
  cache:
    paths:
      - node_modules
  on:
    branch:
      - develop
      - travis-test
      - "travis-test"
