// vf-breadcrumbs

$vf-breadcrumbs__item-text--color: ui-color(black);
$vf-breadcrumbs__item-chevron--color: color(grey);
$vf-breadcrumbs__item-related-text--color: color(grey);
$vf-breadcrumbs__item-related-link--color: color(blue);
$vf-breadcrumbs__item-related-link--color--hover: color(grey);

$vf-breadcrumbs__margin--top: 1rem;
