<nav class="vf-breadcrumbs" aria-label="Breadcrumb">

  <ul class="vf-breadcrumbs__list | vf-list vf-list--inline">

    <li class="vf-breadcrumbs__item">
      <a href="JavaScript:Void(0);" class="vf-breadcrumbs__link">Dairy</a>
    </li>

    <li class="vf-breadcrumbs__item">
      <a href="JavaScript:Void(0);" class="vf-breadcrumbs__link">Cheese</a>
    </li>

    <li class="vf-breadcrumbs__item" aria-current="page">
      Gouda
    </li>

    <ul class="vf-breadcrumbs__list vf-breadcrumbs__list--related | vf-list vf-list--inline">

      <li class="vf-breadcrumbs__item">
        Related:
      </li>

      <li class="vf-breadcrumbs__item">
        <a href="JavaScript:Void(0);" class="vf-breadcrumbs__link">Biscuits</a>
      </li>

      <li class="vf-breadcrumbs__item">
        <a href="JavaScript:Void(0);" class="vf-breadcrumbs__link">
          Fruits For Cheese
        </a>
      </li>

    </ul>


  </ul>
</nav>
