<nav class="vf-breadcrumbs" aria-label="Breadcrumb">
  <ul class="vf-breadcrumbs__list | vf-list vf-list--inline">
    {% for breadcrumb in breadcrumbs %}
    <li class="vf-breadcrumbs__item">
      {% if breadcrumb.url %}
      <a href="{{ url }}" class="vf-breadcrumbs__link">{{ breadcrumb.text }}</a>
      {% else %}
      {{ breadcrumb.text }}
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</nav>
