// vf-breadcrumbs
@import 'vf-breadcrumbs.variables.scss';

.vf-breadcrumbs {
  grid-column: main;
  margin-bottom: $vf-breadcrumbs__margin--bottom;
  margin-left: auto;
  margin-top: $vf-breadcrumbs__margin--top;
  margin-right: auto;
  max-width: 76.5em;
  width: 100%;

  @media (min-width: $vf-breakpoint--l) {
    display: flex;
  }
}
@media (max-wdith: $vf-breakpoint--l - 1) {
  .vf-breadcrumbs__list:first-of-type {
    display: block;
  }
}

.vf-breadcrumbs__item {
  @include set-type(body--r);

  color: $vf-breadcrumbs__item-text--color;
  margin-right: 3px;
  position: relative;


  &:not(:last-of-type) {
    &::after {
      color: $vf-breadcrumbs__item-chevron--color;
      content: '>';
      display: inline-block;
      margin-left: 3px;
    }
  }
}

.vf-breadcrumbs__heading {
  @include set-type(body--r, $custom-margin-bottom: 0);

  display: inline;

  @media (min-width: $vf-breakpoint--l) {
    .vf-breadcrumbs__list + & {
      margin-left: 32px;
    }
  }
}

.vf-breadcrumbs__link {
  color: currentColor;
}
