.vf-breadcrumbs__list--related {

  .vf-breadcrumbs__item {
    color: $vf-breadcrumbs__item-related-text--color;
    margin-left: 8px;
    position: relative;

    &:not(:last-of-type) {
      &::after {
        content: '';
      }
    }
  }

  .vf-breadcrumbs__link {
    color: $vf-breadcrumbs__item-related-link--color;

    &:hover {
      color: $vf-breadcrumbs__item-related-link--color--hover;
    }
  }
}
