.vf-breadcrumbs__list--related {
  margin-left: 32px;

  .vf-breadcrumbs__item {
    margin-right: 8px;
    color: $vf-breadcrumbs__item-related-text--color;
    position: relative;

    &:first-of-type {
      margin-right: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }

    &:not(:last-of-type) {
      &::after {
        content: '';
      }
    }
  }

  .vf-breadcrumbs__link {
    color: $vf-breadcrumbs__item-related-link--color;

    &:hover {
      color: $vf-breadcrumbs__item-related-link--color--hover;
    }
  }
}
