// vf-breadcrumbs

$vf-breadcrumbs__item-text--color: set-color(vf-color-black);
$vf-breadcrumbs__item-chevron--color: set-color(vf-color-gray);
$vf-breadcrumbs__item-related-text--color: set-color(vf-color-gray);
$vf-breadcrumbs__item-related-link--color: set-color(vf-color-azure);
$vf-breadcrumbs__item-related-link--color--hover: set-color(vf-color-gray);

$vf-breadcrumbs__margin--bottom: 16px;
$vf-breadcrumbs__margin--top: 16px;
