$componentInfo: (
             name: "@visual-framework/vf-breadcrumbs",
             version: "1.0.4",
             location: "components/vf-breadcrumbs",
             vfCoreVersion: "2.2.8",
             buildTimeStamp: "Thu, 22 Oct 2020 12:35:45 GMT"
          );