$componentInfo: (
             name: "@visual-framework/vf-breadcrumbs",
             version: "1.0.5",
             location: "components/vf-breadcrumbs",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Mon, 02 Nov 2020 09:27:39 GMT"
          );