$componentInfo: (
             name: "@visual-framework/vf-breadcrumbs",
             version: "1.0.4",
             location: "components/vf-breadcrumbs",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Tue, 27 Oct 2020 10:25:50 GMT"
          );