<ul class="vf-breadcrumbs | vf-list vf-list--inline">
  <li class="vf-breadcrumbs__item">
    <a href="JavaScript:Void(0);" class="vf-breadcrumbs__link">Explore</a>
  </li>
  <li class="vf-breadcrumbs__item">
    <a href="JavaScript:Void(0);" class="vf-breadcrumbs__link">Topics</a>
  </li>
  <li class="vf-breadcrumbs__item">
    Center
  </li>
</ul>
