.vf-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.71;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-list__item {
  margin-bottom: 16px;
}

.vf-list--l {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  line-height: 1.421;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-list--ordered {
  margin: 0;
  list-style-type: decimal;
  padding-left: 16px;
}

.vf-list--ordered__item {
  margin-bottom: 16px;
}

.vf-list--unordered {
  margin: 0;
  padding-left: 16px;
  list-style-type: disc;
}

.vf-list--unordered__item {
  margin-bottom: 16px;
}

.vf-list--inline {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.vf-list--inline [class*=__item] {
  display: inline;
}

.vf-list--inline__item {
  margin-bottom: 16px;
}

.vf-list__link {
  color: #287ae2;
}

.vf-list__link:visited {
  color: #54585a;
}

.vf-list__link:hover {
  color: #003da5;
}

.vf-list__link[disabled] {
  color: #b9b3a8;
  cursor: not-allowed;
}

.vf-blockquote {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  line-height: 1.421;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  margin: 0;
  padding: 10px 8px 10px 32px;
  position: relative;
}

.vf-blockquote::before {
  content: '';
  border-left: 4px solid #b9b3a8;
  position: absolute;
  left: 12px;
  height: 100%;
  top: 0;
}

.vf-activity {
  margin-bottom: 54px;
}

.vf-activity__date {
  margin: 0 0 32px 0;
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 500;
  line-height: 1.5;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-activity__list {
  padding: 0;
}

.vf-activity__item {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  line-height: 1.421;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  margin: 0 0 8px 0;
  background-color: white;
  border: 1px solid #707372;
  padding: 22px 16px;
}

.vf-activity__item > a {
  color: #287ae2;
}

.vf-activity__item > a:visited {
  color: #54585a;
}

.vf-activity__item > a:hover {
  color: #003da5;
}

.vf-activity__item > a[disabled] {
  color: #b9b3a8;
  cursor: not-allowed;
}

.vf-activity__blockquote {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.57;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  color: #54585a;
  margin-bottom: 8px;
  margin-top: 16px;
}
