---
is_index: true
promoted: true
hideSubPosts: true
title: Design kit
subtitle: Use Figma software to design and collaborate on ideas without using code.
intro: Here you'll learn about how to use the Figma library, where it is and how to stay posted on updates.
date: 2020-12-14 18:24:50
section: building
order: 5
tags:
  - building
  - designkit
  - sections
layout: layouts/section.njk
templateEngineOverride: njk, md
---

The Figma library is in early development, watch this space for updates.

For more updates:

- [Slack group](https://join.slack.com/t/visual-framework/shared_invite/enQtNDAxNzY0NDg4NTY0LWFhMjEwNGY3ZTk3NWYxNWVjOWQ1ZWE4YjViZmY1YjBkMDQxMTNlNjQ0N2ZiMTQ1ZTZiMGM4NjU5Y2E0MjM3ZGQ)
- [Updates blog](/updates)
- [RSS Feed](/feed.xml)
