$componentInfo: (
             name: "@visual-framework/vf-button",
             version: "1.2.0",
             location: "components/vf-button",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Fri, 30 Oct 2020 11:11:57 GMT"
          );