/* stylelint-disable */
:root {
  --vf-color--green: #18974c;
  --vf-color--green--darkest: #0a5032;
  --vf-color--green--dark: #007b53;
  --vf-color--green--light: #6cc24a;
  --vf-color--green--lightest: #d0debb;
  --vf-color--grey: #707372;
  --vf-color--grey--darkest: #373a36;
  --vf-color--grey--dark: #54585a;
  --vf-color--grey--light: #a8a99e;
  --vf-color--grey--lightest: #d0d0ce;
  --vf-color--red: #d41645;
  --vf-color--red--dark: #a6093d;
  --vf-color--red--light: #e58f9e;
  --vf-color--blue: #3b6fb6;
  --vf-color--blue--dark: #193f90;
  --vf-color--blue--light: #8bb8e8;
  --vf-color--purple: #734595;
  --vf-color--purple--dark: #563d82;
  --vf-color--purple--light: #cba3d8;
  --vf-color--orange: #f49e17;
  --vf-color--orange--dark: #b65417;
  --vf-color--orange--light: #efc06e;
  --vf-color--yellow: #f4c61f;
  --vf-color--yellow--dark: #ffb81c;
  --vf-color--yellow--light: #fdd757;
  --vf-color--bright-green: #a1be1f;
  --vf-color--bright-green--dark: #7fb428;
  --vf-color--bright-green--light: #e2e868;
}

:root {
  --vf-ui-color--black: #000000;
  --vf-ui-color--grey: #d8d8d8;
  --vf-ui-color--grey--light: #f3f3f3;
  --vf-ui-color--yellow: #fffadc;
  --vf-ui-color--red: #d32f2f;
  --vf-ui-color--white: #ffffff;
  --vf-ui-color--off-white: #fafafa;
}

/* stylelint-enable */
/*!
* Component: @visual-framework/vf-button
* Version: 1.0.4
* Location: components/vf-button
*/
.vf-button {
  --vf-button__color__background--default: var(--vf-color--grey);
  --vf-button__color__background--default-dark: var(--vf-color--grey--darkest);
  --vf-button__color__border--default-visited: var(--vf-color--grey--lightest);
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background-color: #000000;
  background-color: var(--vf-button-background-color, var(--vf-button__color__background--default));
  border: 4px solid #000000;
  border: 4px solid var(--vf-button-border-color, var(--vf-button__color__background--default));
  -webkit-box-shadow: 8px 8px 0 var(--vf-button-shadow-background-color, var(--vf-button__color__background--default-dark)), -5px -5px rgba(0, 0, 0, 0);
          box-shadow: 8px 8px 0 var(--vf-button-shadow-background-color, var(--vf-button__color__background--default-dark)), -5px -5px rgba(0, 0, 0, 0);
  color: #ffffff;
  color: var(--vf-button-text-color, #ffffff);
  cursor: pointer;
  display: inline-block;
  margin: 0 16px 16px 0;
  outline: 0;
  padding: 12px 24px;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: all linear 125ms;
  transition: all linear 125ms;
}
.vf-button:focus, .vf-button:hover {
  -webkit-box-shadow: 4px 4px 0 var(--vf-button-shadow-background-color, var(--vf-button__color__background--default-dark)), 2px 2px 4px rgba(0, 0, 0, 0.25), -5px -5px rgba(0, 0, 0, 0);
          box-shadow: 4px 4px 0 var(--vf-button-shadow-background-color, var(--vf-button__color__background--default-dark)), 2px 2px 4px rgba(0, 0, 0, 0.25), -5px -5px rgba(0, 0, 0, 0);
  color: #ffffff;
  -webkit-transform: translate(4px, 4px);
          transform: translate(4px, 4px);
  -webkit-transition: all linear 125ms;
  transition: all linear 125ms;
}
.vf-button:active {
  -webkit-box-shadow: 0px 0px 0 var(--vf-button-shadow-background-color, var(--vf-button__color__background--default-dark)), 2px 2px 2px rgba(0, 0, 0, 0.125), -5px -5px rgba(0, 0, 0, 0);
          box-shadow: 0px 0px 0 var(--vf-button-shadow-background-color, var(--vf-button__color__background--default-dark)), 2px 2px 2px rgba(0, 0, 0, 0.125), -5px -5px rgba(0, 0, 0, 0);
  -webkit-transform: translate(8px, 8px) translateZ(1px);
          transform: translate(8px, 8px) translateZ(1px);
}

a.vf-button:hover, a.vf-button:focus {
  text-decoration: none;
}

.vf-button--primary {
  --vf-button-border-color: var(--vf-color--blue);
  --vf-button-background-color: var(--vf-color--blue);
  --vf-button-shadow-border-color: var(--vf-color--blue--dark);
  --vf-button-shadow-background-color: var(--vf-color--blue--dark);
  --vf-button-border-color--visited: var(--vf-color--blue--light);
}

.vf-button--secondary {
  --vf-button-border-color: var(--vf-color--green);
  --vf-button-background-color: var(--vf-color--green);
  --vf-button-shadow-border-color: var(--vf-color--green--dark);
  --vf-button-shadow-background-color: var(--vf-color--green--dark);
  --vf-button-border-color--visited: var(--vf-color--green--light);
}

.vf-button--tertiary {
  --vf-button-border-color: var(--vf-color--grey);
  --vf-button-background-color: var(--vf-color--grey);
  --vf-button-shadow-border-color: var(--vf-color--grey--dark);
  --vf-button-shadow-background-color: var(--vf-color--grey--dark);
  --vf-button-border-color--visited: var(--vf-color--grey--light);
}

.vf-button--outline {
  --vf-button-background-color: #ffffff;
  color: #3b6fb6;
  color: var(--vf-button-border-color, var(--vf-button__color__background--default));
}
.vf-button--outline:focus, .vf-button--outline:hover {
  color: #3b6fb6;
  color: var(--vf-button-border-color);
}

.vf-button--pill {
  border-radius: 500px;
}
.vf-button--pill::before {
  border-radius: 500px;
}

.vf-button--rounded {
  border-radius: 16px;
}

.vf-button--sm {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  padding: 8px;
}
.vf-button--sm.vf-button--rounded {
  border-radius: 8px;
}

.vf-button--lg {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  padding: 16px;
}

.vf-button--icon {
  background: none;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: currentColor;
  cursor: pointer;
  margin: 0;
  outline: none;
  padding: 0;
  -webkit-transform: none;
          transform: none;
}
.vf-button--icon:focus, .vf-button--icon:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: none;
          transform: none;
}

html:not(.vf-disable-deprecated) .vf-text-button--secondary {
  background-color: #18974c;
  border: 2px solid #18974c;
  color: #ffffff;
  -webkit-box-shadow: 0px 6px 0px 0px #007b53;
          box-shadow: 0px 6px 0px 0px #007b53;
  margin-bottom: 6px;
}
html:not(.vf-disable-deprecated) .vf-text-button--secondary:visited {
  background-color: #3b6fb6;
  border-color: #3b6fb6;
}
html:not(.vf-disable-deprecated) .vf-text-button--secondary:hover {
  background-color: #007b53;
  border-color: #007b53;
}
html:not(.vf-disable-deprecated) .vf-text-button--secondary:hover {
  -webkit-box-shadow: 0px 2px 0px 0px #007b53;
          box-shadow: 0px 2px 0px 0px #007b53;
}
html:not(.vf-disable-deprecated) .vf-button--outline.vf-text--button--secondary {
  background-color: #ffffff;
  color: #18974c;
}
html:not(.vf-disable-deprecated) .vf-button--outline.vf-text--button--secondary:visited {
  background-color: #3b6fb6;
  color: #ffffff;
}
html:not(.vf-disable-deprecated) .vf-text-button--2 {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  padding: 8px;
}
html:not(.vf-disable-deprecated) .vf-text-button--2.vf-text-button--rounded {
  border-radius: 8px;
}
html:not(.vf-disable-deprecated) .vf-text-button--1 {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  padding: 16px;
}