$componentInfo: (
             name: "@visual-framework/vf-cluster",
             version: "1.0.0",
             location: "components/vf-cluster",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Fri, 06 Nov 2020 11:21:26 GMT"
          );