$componentInfo: (
             name: "@visual-framework/vf-cluster",
             version: "0.0.1",
             location: "components/vf-cluster",
             vfCoreVersion: "2.2.8",
             buildTimeStamp: "Fri, 23 Oct 2020 09:36:48 GMT"
          );