<div class="vf-cluster
  {%- if cluster__spacing %} vf-cluster--{{cluster__spacing}}{%- endif -%}"
  {%- if cluster_custom_alignment or cluster_custom_spacing or cluster_child_flex %} style="
    {%- if cluster_custom_alignment %}--vf-cluster-alignment: {{cluster_custom_alignment}};{% endif -%}
    {%- if cluster_custom_spacing %} --vf-cluster-margin: {{cluster_custom_spacing}};{% endif -%}
    {%- if cluster_child_flex %} --vf-cluster__item--flex: {{cluster_child_flex}};{% endif -%}
  {%- endif -%}">

  <div class="vf-cluster__inner">

    <div class="vf-box vf-box-theme--primary vf-box--normal">
      <h3 class="vf-box__heading">Did you know?</h3>
      <p class="vf-box__text">This is some more content that would be in the box. These examples also have make use of the <code>--vf-cluster__item--width</code> to minimise the width so you can see the differences in alignment.</p>
    </div>
    <div class="vf-box vf-box-theme--primary vf-box--normal">
      <h3 class="vf-box__heading">Did you know?</h3>
      <p class="vf-box__text">This is even more content that would be in the box. So much information it spans multiple lines.</p>
    </div>
    <div class="vf-box vf-box-theme--primary vf-box--normal">
      <h3 class="vf-box__heading">Did you know?</h3>
      <p class="vf-box__text">This is some more content that would be in the box.</p>
    </div>
    <div class="vf-box vf-box-theme--primary vf-box--normal">
      <h3 class="vf-box__heading">Did you know?</h3>
      <p class="vf-box__text">This is even more content that would be in the box. So much information it spans multiple lines.</p>
    </div>
  </div>
</div>
