.vf-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.71;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-list__item {
  margin-bottom: 16px;
}

.vf-list--l {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  line-height: 1.421;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-list--ordered {
  margin: 0;
  list-style-type: decimal;
  padding-left: 16px;
}

.vf-list--ordered__item {
  margin-bottom: 16px;
}

.vf-list--unordered {
  margin: 0;
  padding-left: 16px;
  list-style-type: disc;
}

.vf-list--unordered__item {
  margin-bottom: 16px;
}

.vf-list--inline {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.vf-list--inline [class*=__item] {
  display: inline;
}

.vf-list--inline__item {
  margin-bottom: 16px;
}

.vf-list__link {
  color: #287ae2;
}

.vf-list__link:visited {
  color: #54585a;
}

.vf-list__link:hover {
  color: #003da5;
}

.vf-list__link[disabled] {
  color: #b9b3a8;
  cursor: not-allowed;
}

.vf-breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-column: main;
  margin-top: 16px;
}

.vf-breadcrumbs__item {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.71;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  color: #282d23;
  margin-right: 3px;
  position: relative;
}

.vf-breadcrumbs__item:not(:last-of-type)::after {
  color: #707372;
  content: '>';
  display: inline-block;
  margin-left: 3px;
}

.vf-breadcrumbs__heading {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.71;
  margin: 0 0 0 0;
  display: inline;
}

.vf-breadcrumbs__list + .vf-breadcrumbs__heading {
  margin-left: 32px;
}

.vf-breadcrumbs__link {
  color: currentColor;
}

.vf-breadcrumbs__list--related .vf-breadcrumbs__item {
  color: #707372;
  margin-left: 8px;
  position: relative;
}

.vf-breadcrumbs__list--related .vf-breadcrumbs__item:not(:last-of-type)::after {
  content: '';
}

.vf-breadcrumbs__list--related .vf-breadcrumbs__link {
  color: #287ae2;
}

.vf-breadcrumbs__list--related .vf-breadcrumbs__link:hover {
  color: #707372;
}
