:root {
  --vf-color--green: #009f4d;
  --vf-color--green--darkest: #115740;
  --vf-color--green--dark: #007a53;
  --vf-color--green--light: #6cc24a;
  --vf-color--green--lightest: #d0debb;
  --vf-color--grey: #707372;
  --vf-color--grey--darkest: #373a36;
  --vf-color--grey--dark: #54585a;
  --vf-color--grey--light: #a8a99e;
  --vf-color--grey--lightest: #d0d0ce;
  --vf-color--red: #e40046;
  --vf-color--red--dark: #a6093d;
  --vf-color--red--light: #e58f9e;
  --vf-color--blue: #307fe2;
  --vf-color--blue--dark: #003da5;
  --vf-color--blue--light: #8bb8e8;
  --vf-color--purple: #8246af;
  --vf-color--purple--dark: #563d82;
  --vf-color--purple--light: #cba3d8;
  --vf-color--orange: #ffa300;
  --vf-color--orange--dark: #be5400;
  --vf-color--orange--light: #efc06e;
  --vf-color--yellow: #ffcd00;
  --vf-color--yellow--dark: #ffb81c;
  --vf-color--yellow--light: #fdd757;
  --vf-color--bright-green: #a8c700;
  --vf-color--bright-green--dark: #84bd00;
  --vf-color--bright-green--light: #e2e868;
}

:root {
  --vf-ui-color--black: #000000;
  --vf-ui-color--grey: #f3f3f3;
  --vf-ui-color--grey--light: #d8d8d8;
  --vf-ui-color--yellow: #fffadc;
  --vf-ui-color--red: #d32f2f;
  --vf-ui-color--white: #ffffff;
  --vf-ui-color--off-white: #fafafa;
}

.vf-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.71;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-list__item {
  margin-bottom: 16px;
}

.vf-list--l {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  line-height: 1.421;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-list--ordered {
  margin: 0;
  list-style-type: decimal;
  padding-left: 16px;
}

.vf-list--ordered__item {
  margin-bottom: 16px;
}

.vf-list--unordered {
  margin: 0;
  padding-left: 16px;
  list-style-type: disc;
}

.vf-list--unordered__item {
  margin-bottom: 16px;
}

.vf-list--inline {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.vf-list--inline [class*=__item] {
  display: inline;
}

.vf-list--inline__item {
  margin-bottom: 16px;
}

.vf-list__link {
  border-bottom: none;
  text-decoration: underline;
  color: #307fe2;
}

.vf-list__link:visited {
  color: #54585a;
  border-bottom: none;
  text-decoration: underline;
}

.vf-list__link:hover {
  color: #003da5;
  border-bottom: none;
  text-decoration: underline;
}

.vf-breadcrumbs {
  grid-column: main;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  max-width: 76.5em;
  width: 100%;
}

@media (min-width: 1024px) {
  .vf-breadcrumbs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 1023px) {
  .vf-breadcrumbs__list:not(.vf-breadcrumbs__list--related) {
    display: block;
  }
}

.vf-breadcrumbs__item {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.71;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  color: #000000;
  margin-right: 3px;
  position: relative;
}

.vf-breadcrumbs__item:not(:last-of-type)::after {
  color: #707372;
  content: '>';
  display: inline-block;
  margin-left: 3px;
}

.vf-breadcrumbs__heading {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.71;
  margin: 0 0 0 0;
  display: inline;
}

@media (min-width: 1024px) {
  .vf-breadcrumbs__list + .vf-breadcrumbs__heading {
    margin-left: 32px;
  }
}

.vf-breadcrumbs__link {
  color: currentColor;
}

.vf-breadcrumbs__list--related .vf-breadcrumbs__item {
  color: #707372;
  margin-left: 8px;
  position: relative;
}

.vf-breadcrumbs__list--related .vf-breadcrumbs__item:not(:last-of-type)::after {
  content: '';
}

.vf-breadcrumbs__list--related .vf-breadcrumbs__link {
  color: #307fe2;
}

.vf-breadcrumbs__list--related .vf-breadcrumbs__link:hover {
  color: #707372;
}
