// vf-breadcrumbs

$vf-breadcrumbs__item-text--color: set-ui-color(vf-ui-color--black);
$vf-breadcrumbs__item-chevron--color: set-color(vf-color--grey);
$vf-breadcrumbs__item-related-text--color: set-color(vf-color--grey);
$vf-breadcrumbs__item-related-link--color: set-color(vf-color--blue);
$vf-breadcrumbs__item-related-link--color--hover: set-color(vf-color--grey);

$vf-breadcrumbs__margin--bottom: 16px;
$vf-breadcrumbs__margin--top: 16px;
