$componentInfo: (
             name: "@visual-framework/embl-grid",
             version: "1.0.4",
             location: "components/embl-grid",
             vfCoreVersion: "2.2.0-alpha.4"
          );