$componentInfo: (
             name: "@visual-framework/embl-grid",
             version: "2.1.0",
             location: "components/embl-grid",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Thu, 29 Oct 2020 16:53:17 GMT"
          );