$componentInfo: (
             name: "@visual-framework/embl-grid",
             version: "2.1.0",
             location: "components/embl-grid",
             vfCoreVersion: "2.2.8",
             buildTimeStamp: "Wed, 21 Oct 2020 07:28:23 GMT"
          );