// vf-global-header

$vf-global-header-background--color: set-color(vf-color-white);
$vf-global-header__link-text--color: set-color(vf-color-black);

.vf-global-header {
  align-items: center;
  background-color: $vf-global-header-background--color;
  display: flex;
  grid-column: 2 / -2;
  height: auto;
  margin-bottom: .25rem;
  margin-top: .25rem;
}

.vf-global-header {
  [class*='navigation'] {
    margin-left: auto;
  }
}
