html:not(.vf-disable-deprecated) {
  /* The simple contact component only contains the name, image, and job title.
  * With the same HTML being used we know the title should be the third
  * item being used in the component
  */
  /* The horizontal contact component has an image on the left and the text on
  * on the right.
  */
}

html:not(.vf-disable-deprecated) .vf-contact {
  --vf-contact__margin--bottom: 8px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-style: normal;
  margin: 0 0 24px 0;
  /* we don't want the last phone number or email to have any bottom margin */
  /* In the source order the image is at the bottom. For the layout
    * the image needs to be between the contact details and links. So we set
    * the order of these with CSS, targetting the elements, rather than classes
    */
  /* We are using CSS custom properties, for IE11 we need a generic fallback */
}

html:not(.vf-disable-deprecated) .vf-contact > a:last-child {
  margin-bottom: 0;
}

html:not(.vf-disable-deprecated) .vf-contact p {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

html:not(.vf-disable-deprecated) .vf-contact img {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

html:not(.vf-disable-deprecated) .vf-contact a {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

html:not(.vf-disable-deprecated) .vf-contact > * {
  margin: 0 0 12px 0;
}

html:not(.vf-disable-deprecated) .vf-contact__team {
  --vf-contact__margin--bottom: 24px;
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 21px;
  font-weight: 500;
  line-height: 1.29;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  margin: 0 0 var(--vf-contact__margin--bottom) 0;
}

html:not(.vf-disable-deprecated) .vf-contact__name {
  margin: 0 0 var(--vf-contact__margin--bottom) 0;
}

html:not(.vf-disable-deprecated) .vf-contact__job-title {
  margin: 0 0 var(--vf-contact__margin--bottom) 0;
}

html:not(.vf-disable-deprecated) .vf-contact__image {
  margin: 0 0 var(--vf-contact__margin--bottom) 0;
  -o-object-fit: contain;
     object-fit: contain;
}

html:not(.vf-disable-deprecated) .vf-contact__image--circle {
  border-radius: 50%;
}

html:not(.vf-disable-deprecated) .vf-contact__phone-number {
  color: #282d23;
  margin: 0 0 var(--vf-contact__margin--bottom) 0;
  position: relative;
  text-decoration: none;
}

html:not(.vf-disable-deprecated) .vf-contact__phone-number:hover {
  text-decoration: underline;
}

html:not(.vf-disable-deprecated) .vf-contact__phone-number--mobile::after {
  content: '(mobile)';
  margin-left: 8px;
  position: absolute;
}

html:not(.vf-disable-deprecated) .vf-contact__email {
  border-bottom: none;
  text-decoration: underline;
  color: #287ae2;
  margin-bottom: var(--vf-contact__margin--bottom);
}

html:not(.vf-disable-deprecated) .vf-contact__email:visited {
  color: #54585a;
  border-bottom: none;
  text-decoration: underline;
}

html:not(.vf-disable-deprecated) .vf-contact__email:hover {
  color: #003da5;
  border-bottom: none;
  text-decoration: underline;
}

html:not(.vf-disable-deprecated) .vf-contact__email[disabled] {
  color: #b9b3a8;
  cursor: not-allowed;
  border-bottom: none;
  text-decoration: underline;
}

html:not(.vf-disable-deprecated) .vf-contact--simple .vf-contact__job-title {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

html:not(.vf-disable-deprecated) .vf-contact--horizontal {
  display: grid;
  grid-column-gap: 32px;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(6, -webkit-min-content);
  grid-template-rows: repeat(6, min-content);
  /* As the text is on the right, having a bottom margin on the last phone-number or a element causes the
    * avatar to look misaligned, removing the maring-bottom on it fixes this.
    */
}

html:not(.vf-disable-deprecated) .vf-contact--horizontal > * {
  grid-column: 2;
}

html:not(.vf-disable-deprecated) .vf-contact--horizontal a:last-of-type {
  margin-bottom: 0;
}

html:not(.vf-disable-deprecated) .vf-contact--horizontal .vf-contact__email {
  --vf-contact__margin--bottom: 18px;
}

html:not(.vf-disable-deprecated) .vf-contact--horizontal .vf-contact__image {
  -ms-flex-item-align: center;
      align-self: center;
  grid-column: 1;
  grid-row: 1 / -1;
  margin-bottom: 0;
  max-width: 170px;
}
