// vf-badge

$vf-badge--primary-color--background: set-color(vf-color--blue) !default;
$vf-badge--primary-color--border: set-color(vf-color--blue) !default;
$vf-badge--primary-color--text: set-ui-color(vf-ui-color--white) !default;
$vf-badge--primary--hover-color--background: set-color(vf-color--blue--dark) !default;
$vf-badge--primary--hover-color--border: set-color(vf-color--blue--dark) !default;

$vf-badge-rounded-border--radius: $vf-radius--xs !default;
$vf-badge-pill-border--radius: vf-radius--pill !default;

$vf-badge--outline-color--background: transparent !default;
$vf-badge--outline-color--text: set-color(vf-color--blue) !default;

$vf-badge--secondary-color--background: set-color(vf-color--green) !default;
$vf-badge--secondary-color--border: set-color(vf-color--green) !default;
$vf-badge--secondary-color--text: set-ui-color(vf-ui-color--white) !default;

$vf-badge--tertiary-color--background: set-color(vf-color--grey--dark) !default;
$vf-badge--tertiary-color--border: set-color(vf-color--grey--dark) !default;
$vf-badge--tertiary-color--text: set-ui-color(vf-ui-color--white) !default;


.vf-badge {
  @include set-type(text-button--2, $custom-margin-bottom: disable);

  border: 1px solid currentColor;
  color: inherit;
  display: inline-flex;
  letter-spacing: .05em;
  padding: 4px 8px;
  text-decoration: none;
  text-transform: uppercase;
}

.vf-badge--pill {
  border-radius: $vf-radius--pill;
}

.vf-badge--rounded {
  border-radius: $vf-radius--xs;
}

.vf-badge--square {
  border: 0;
  height: 12px;
  margin: 0;
  padding: 0;
  position: relative;
  width: 12px;
}

.vf-badge--phases {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  margin: 0 12px 0 0;
  min-width: 52px;
}

.vf-badge--primary {
  background-color: $vf-badge--primary-color--background;
  border-color: $vf-badge--primary-color--border;
  color: $vf-badge--primary-color--text;

  @include inline-link($vf-badge--primary-color--text,$vf-badge--primary-color--text,$vf-badge--primary-color--text, $vf-include-normalisations: false);
}

a.vf-badge--primary:hover {
  background-color: $vf-badge--primary--hover-color--background;
  border-color: $vf-badge--primary--hover-color--border;
}

.vf-badge--secondary {
  background-color: $vf-badge--secondary-color--background;
  border-color: $vf-badge--secondary-color--border;
  color: $vf-badge--secondary-color--text;

  @include inline-link($vf-badge--secondary-color--text,$vf-badge--secondary-color--text,$vf-badge--secondary-color--text, $vf-include-normalisations: false);
}

.vf-badge--tertiary {
  background-color: $vf-badge--tertiary-color--background;
  border-color: $vf-badge--tertiary-color--border;
  color: $vf-badge--tertiary-color--text;

  @include inline-link($vf-badge--tertiary-color--text,$vf-badge--tertiary-color--text,$vf-badge--tertiary-color--text, $vf-include-normalisations: false);

}

.vf-badge--outline {
  background-color: $vf-badge--outline-color--background;
  color: $vf-badge--outline-color--text;

  @include inline-link($vf-badge--outline-color--text,$vf-badge--outline-color--text, $vf-include-normalisations: false);
}
