.vf-badge {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  border: 1px solid currentColor;
  color: inherit;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  letter-spacing: .05em;
  padding: 4px 8px;
  text-decoration: none;
  text-transform: uppercase;
}

.vf-badge--pill {
  border-radius: 500px;
}

.vf-badge--rounded {
  border-radius: 4px;
}

.vf-badge--square {
  border: 0;
  height: 12px;
  margin: 0;
  padding: 0;
  position: relative;
  width: 12px;
}

.vf-badge--phases {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 12px 0 0;
  min-width: 52px;
}

.vf-badge--primary {
  background-color: #287ae2;
  border-color: #287ae2;
  color: white;
  border-bottom: none;
  text-decoration: underline;
  color: white;
}

.vf-badge--primary:visited {
  color: white;
  border-bottom: none;
  text-decoration: underline;
}

.vf-badge--primary:hover {
  color: white;
  border-bottom: none;
  text-decoration: underline;
}

.vf-badge--primary[disabled] {
  color: white;
  cursor: not-allowed;
  border-bottom: none;
  text-decoration: underline;
}

a.vf-badge--primary:hover {
  background-color: #003da5;
  border-color: #003da5;
}

.vf-badge--secondary {
  background-color: #009f4d;
  border-color: #009f4d;
  color: white;
  border-bottom: none;
  text-decoration: underline;
  color: white;
}

.vf-badge--secondary:visited {
  color: white;
  border-bottom: none;
  text-decoration: underline;
}

.vf-badge--secondary:hover {
  color: white;
  border-bottom: none;
  text-decoration: underline;
}

.vf-badge--secondary[disabled] {
  color: white;
  cursor: not-allowed;
  border-bottom: none;
  text-decoration: underline;
}

.vf-badge--tertiary {
  background-color: #54585a;
  border-color: #54585a;
  color: white;
  border-bottom: none;
  text-decoration: underline;
  color: white;
}

.vf-badge--tertiary:visited {
  color: white;
  border-bottom: none;
  text-decoration: underline;
}

.vf-badge--tertiary:hover {
  color: white;
  border-bottom: none;
  text-decoration: underline;
}

.vf-badge--tertiary[disabled] {
  color: white;
  cursor: not-allowed;
  border-bottom: none;
  text-decoration: underline;
}

.vf-badge--outline {
  background-color: transparent;
  color: #287ae2;
  border-bottom: none;
  text-decoration: underline;
  color: #287ae2;
}

.vf-badge--outline:visited {
  color: #54585a;
  border-bottom: none;
  text-decoration: underline;
}

.vf-badge--outline:hover {
  color: #287ae2;
  border-bottom: none;
  text-decoration: underline;
}

.vf-badge--outline[disabled] {
  color: #b9b3a8;
  cursor: not-allowed;
  border-bottom: none;
  text-decoration: underline;
}
