# The title shown on the component page
title: Table
# Label shown on index pages
label: Table
status: alpha

variants:
  - name: default
  - name: striped
    hidden: true
    status: deprecated
    context:
      striped: true
  - name: bordered
    hidden: true
    status: deprecated
    context:
      bordered: true
  - name: compact
    hidden: true
    status: deprecated
    context:
      table_variant: "vf-table--tight"
  - name: loose
    hidden: true
    status: deprecated
    context:
      table_variant: "vf-table--loose"
  - name: has footer
    context:
      table_footer:
        - text: Hello
          colspans: 3
        - text: world
          colspans: 1
  - name: has caption
    context:
      table_caption: Hello Caption
  - name: has row heading
    context:
      firstCellIsHeader: true
  - name: fixed header
    hidden: true
    status: deprecated
    context:
      tableLayoutFixed: true
  - name: actions
    context:
      inline_actions:
        - edit
        - delete
  - name: sortable
    context:
      sortable: true
  - name: selectable
    context:
      selectable: true
  - name: selectable (selected)
    context:
      selected: true
      selectable: true
      actions:
        - edit
        - delete
        - download
        - cancel
  - name: kitchen sink
    hidden: true
    status: deprecated
    context:
      table_caption: Hello Caption
      firstCellIsHeader: true
      striped: true
      bordered: true
      table_footer:
        - text: Hello
          colspans: 5
        - text: world
          colspans: 1
      selected: true
      sortable: true
      selectable: true
      inline_actions:
        - edit
        - delete
      actions:
        - edit
        - delete
        - download
        - cancel

context:
  component-type: block

  count: 0

  table_headings:
    - title: Event
    - title: Date
    - title: Type
    - title: Location

  table_rows:
    -
      - selected_row: true
      - text: dave
      - text: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima accusamus a nostrum odit aliquid repudiandae architecto molestiae, dolores.
      - text: roger
      - text: London, U.K.
    -
      - text: dave
      - text: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio fugit illo officia dignissimos amet.
      - text: roger
      - text: London, U.K.
    -
      - text: dave
      - text: Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      - text: roger
      - text: London, U.K.
