// vf-table

// **Thinking about deleting this file?**
// If your component needs no CSS/Sass, we still recommend leaving the
// scss files in place. As this is primarily a CSS framework, it is better to
// leave the empty files so you know a file wasn't accidently omitted.
// If you don't have any Sass, you can trim this block down to:
// "This page was intentionally left blank"

@import 'package.variables.scss';
// Debug information from component's `package.json`:
// ---
/*!
* Component: #{map-get($componentInfo, 'name')}
* Version: #{map-get($componentInfo, 'version')}
* Location: #{map-get($componentInfo, 'location')}
*/

@import 'vf-table.variables.scss';


.vf-table {
  background-color: set-ui-color(vf-ui-color--white);
  border-collapse: collapse;
}

.vf-table--fixed {
  table-layout: fixed;
}

.vf-table__caption {
  @include set-type(text-heading--4);

  text-align: left;
}

.vf-table__header {
  background-color: set-color(vf-color--grey--lightest);

  .vf-table__heading {
    padding: 8px 16px;
  }
}

.vf-table__heading {
  @include set-type(text-heading--5, $custom-margin-bottom: 0);

  text-align: left;
}

.vf-table__cell {
  @include set-type(text-body--3, $custom-margin-bottom: 0);
  padding: 4px 16px;
}

.vf-table--tight {
  .vf-table__heading {
    padding: 4px 4px;
  }
  .vf-table__cell {
    padding: 4px 4px;
  }
}

.vf-table--loose {
  .vf-table__heading {
    padding: 16px 24px;
  }
  .vf-table__cell {
    padding: 8px 24px;
  }
}

.vf-table__row .vf-table__heading {
  @include set-type(text-heading--5, $custom-margin-bottom: 0);

  text-align: left;
}

.vf-table--striped {
  .vf-table__body {
    & .vf-table__row:nth-of-type(even) {
      background-color: set-ui-color(vf-ui-color--grey--light);
    }
    & .vf-table__row:hover {
      background-color: set-ui-color(vf-ui-color--yellow);
    }
  }
}

.vf-table--bordered {

  border: 1px solid set-color(vf-color--grey);

  .vf-table__heading {
    border: 1px solid set-color(vf-color--grey);
  }

  .vf-table__cell {
    border: 1px solid set-color(vf-color--grey);
  }
}


.vf-table__body {
  & .vf-table__row:hover {
    background-color: set-ui-color(vf-ui-color--yellow);
  }
}

.vf-table__label {
  margin: 0;
  text-align: center;
}
