{% if context %}
  {% set id = context.id %}
  {% set override_class = context.override_class %}
{% endif %}

<hr
{% if id %} id="{{-id-}}"{% endif %}
class="vf-divider
{%- if override_class %} | {{override_class}}{% endif -%}"
{%- if context_margin__inline %} style="--context-margin--inline: {{context_margin__inline}};"{% endif -%}>
