---
title: Governance of the Visual Framework
date: 2019-04-09 12:24:50
layout: layouts/section.njk
templateEngineOverride: njk, md
---

[This has been superseded by the consultation process]({{ '/about/consultation/' | url }}).
