---
title: Versioning
subtitle: The Visual Framework `vf-core` and its components have self-contained versions.
date: 2019-04-09 12:24:50
order: 10
tags:
  - documentation
layout: layouts/post.njk
---

[This page has moved]({{ '/guidance/versioning-and-component-interoperability' | url }})
