$componentInfo: (
             name: "@visual-framework/vf-analytics-google",
             version: "1.0.0-rc.7",
             location: "components/vf-analytics-google",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Thu, 29 Oct 2020 17:23:23 GMT"
          );