$componentInfo: (
             name: "@visual-framework/vf-analytics-google",
             version: "1.0.0",
             location: "components/vf-analytics-google",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Fri, 06 Nov 2020 14:56:35 GMT"
          );