// vf-pagination

@import 'package.variables.scss';
// Debug information from component's `package.json`:
// ---
/*!
 * Component: #{map-get($componentInfo, 'name')}
 * Version: #{map-get($componentInfo, 'version')}
 * Location: #{map-get($componentInfo, 'location')}
 */

@import 'vf-pagination.variables.scss';

.vf-pagination__list {
  display: flex;
  justify-content: center;
  padding-left: 0;
  list-style-type: none;
}
.vf-pagination__item {
  align-self: baseline;
  // flex: 1 1 0;
  text-align: center;
  @include padding--inline(all,map-get($vf-spacing-map, vf-spacing--200));
}

.vf-pagination__item--is-active {
  background-color: color(grey);

  .vf-pagination__label {
    color: ui-color(white);
  }
}

.vf-pagination__label,
.vf-pagination__link {
  @include set-type(text-body--3, $custom-margin-bottom: 0);

  color: color(grey);
  display: block;
  padding: 4px 8px;
  text-decoration: none;
}

.vf-pagination__link:hover {
  background-color: color(grey);
  color: ui-color(white);
}

.vf-pagination__item--jump-back {
  border-right: 1px solid color(grey--lightest);
}

.vf-pagination__item--jump-forward {
  border-left: 1px solid color(grey--lightest);
}
