$componentInfo: (
             name: "@visual-framework/vf-banner",
             version: "1.6.0",
             location: "components/vf-banner",
             vfCoreVersion: "2.2.8",
             buildTimeStamp: "Wed, 21 Oct 2020 09:23:50 GMT"
          );