$componentInfo: (
             name: "@visual-framework/vf-banner",
             version: "1.6.1",
             location: "components/vf-banner",
             vfCoreVersion: "2.2.10",
             buildTimeStamp: "Mon, 09 Nov 2020 11:42:24 GMT"
          );