$componentInfo: (
             name: "@visual-framework/vf-banner",
             version: "1.6.1",
             location: "components/vf-banner",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Mon, 09 Nov 2020 11:17:26 GMT"
          );