:root {
  --vf-color--green: #18974c;
  --vf-color--green--darkest: #0a5032;
  --vf-color--green--dark: #007b53;
  --vf-color--green--light: #6cc24a;
  --vf-color--green--lightest: #d0debb;
  --vf-color--grey: #707372;
  --vf-color--grey--darkest: #373a36;
  --vf-color--grey--dark: #54585a;
  --vf-color--grey--light: #a8a99e;
  --vf-color--grey--lightest: #d0d0ce;
  --vf-color--red: #d41645;
  --vf-color--red--dark: #a6093d;
  --vf-color--red--light: #e58f9e;
  --vf-color--blue: #3b6fb6;
  --vf-color--blue--dark: #193f90;
  --vf-color--blue--light: #8bb8e8;
  --vf-color--purple: #734595;
  --vf-color--purple--dark: #563d82;
  --vf-color--purple--light: #cba3d8;
  --vf-color--orange: #f49e17;
  --vf-color--orange--dark: #b65417;
  --vf-color--orange--light: #efc06e;
  --vf-color--yellow: #f4c61f;
  --vf-color--yellow--dark: #ffb81c;
  --vf-color--yellow--light: #fdd757;
  --vf-color--bright-green: #a1be1f;
  --vf-color--bright-green--dark: #7fb428;
  --vf-color--bright-green--light: #e2e868;
}

:root {
  --vf-ui-color--black: #000000;
  --vf-ui-color--grey: #f3f3f3;
  --vf-ui-color--grey--light: #d8d8d8;
  --vf-ui-color--yellow: #fffadc;
  --vf-ui-color--red: #d32f2f;
  --vf-ui-color--white: #ffffff;
  --vf-ui-color--off-white: #fafafa;
}

/*!
 * Component: @visual-framework/vf-banner
 * Version: 1.0.3
 * Location: components/vf-banner
 */
.vf-banner {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 16px;
}

.vf-banner .vf-badge {
  margin-right: 16px;
}

.vf-banner [class*='vf-text'] .vf-link {
  text-decoration: underline;
}

.vf-banner--blocking {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: minmax(var(--page-grid-gap), auto) [main-start] minmax(288px, 76.5em) [main-end] minmax(var(--page-grid-gap), auto);
  height: 100%;
  left: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5150;
}

.vf-banner__content {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 63.9375em) {
  .vf-banner__content {
    display: block;
  }
}

@media (min-width: 1024px) {
  .vf-banner__content {
    grid-column: main;
  }
}

.vf-banner__text {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.71;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-banner--top {
  top: 0;
}

.vf-banner--bottom {
  bottom: 0;
}

.vf-banner--notice {
  background-color: #54585a;
}

.vf-banner--notice .vf-text {
  color: #ffffff;
  margin-bottom: 24px;
  max-width: 64em;
}

.vf-banner--notice .vf-text .vf-link {
  color: inherit;
}

@media (min-width: 1024px) {
  .vf-banner--notice .vf-text {
    margin: 0;
  }
}

@media (min-width: 1024px) {
  .vf-banner--notice .vf-button {
    -ms-flex-item-align: center;
        align-self: center;
    justify-self: end;
  }
}

.vf-banner--blocking.vf-banner--notice {
  padding-bottom: 16px;
  padding-top: 16px;
  background-color: rgba(0, 0, 0, 0.1);
}

.vf-banner--blocking.vf-banner--notice .vf-banner__content {
  padding-bottom: 16px;
  padding-top: 16px;
  background-color: #54585a;
}

.vf-banner--fixed {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: minmax(var(--page-grid-gap), auto) [main-start] minmax(288px, 76.5em) [main-end] minmax(var(--page-grid-gap), auto);
  left: 0;
  margin: 0;
  position: fixed;
  width: 100%;
  z-index: 5150;
}

.vf-banner--phase {
  background-color: #fffadc;
  margin: 16px 0;
}

.vf-banner--phase [class*='vf-text'] {
  color: #54585a;
  margin: 0;
}

.vf-banner--phase [class*='vf-text'] .vf-link {
  color: inherit;
}

.vf-banner--phase .vf-banner__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 1024px) {
  .vf-banner--phase .vf-button {
    margin-left: auto;
  }
}
