// Note: deprecated, but I don't think we have a way to deprectate a variant alone?
.vf-body:not(.vf-disable-deprecated) {
  .vf-banner--gdpr {
    @include padding--block(all, $vf-gdpr-banner-padding);

    background-color: $vf-gdpr-banner-color--background;

    .vf-banner__text,
    .vf-text { // as of 1.0.4 use of vf-text is not recommended and is subject to future removal
      color: $vf-gdpr-banner-color--text;
      margin-bottom: 24px;
      max-width: 64em;

      & .vf-banner__link,
      & .vf-link {
        color: $vf-banner-color--link;
      }

      @media (min-width: $vf-breakpoint--lg) {
        margin: 0;
      }
    }

    .vf-button {
      @media (min-width: $vf-breakpoint--lg) {
        align-self: center;
        justify-self: end;
      }
    }
  }
}
