$componentInfo: (
             name: "@visual-framework/vf-card-container",
             version: "3.0.2",
             location: "components/vf-card-container",
             vfCoreVersion: "2.2.8",
             buildTimeStamp: "Fri, 23 Oct 2020 09:36:48 GMT"
          );