$componentInfo: (
             name: "@visual-framework/vf-card-container",
             version: "3.0.2",
             location: "components/vf-card-container",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Thu, 05 Nov 2020 09:33:30 GMT"
          );