$componentInfo: (
             name: "@visual-framework/vf-card-container",
             version: "3.0.2",
             location: "components/vf-card-container",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Tue, 27 Oct 2020 10:25:50 GMT"
          );