{% import "macros/status.njk" as status %}

{# Docs inside the component library should be thin,
   instead they should be on a centralised documentation site.
   https://github.com/visual-framework/vf-core/issues/447#issuecomment-507190595
   Rather linking to pages we make a container-ized list of the docs (the best nav is no nav) #}
{% asyncEach item in frctl.docs %}
  {% asyncEach menuitem in item %}
    {# {% if menuitem.isIndex == true %} #}
      <section class="embl-grid embl-grid--has-centered-content">
        <div>
          <h3 class="vf-text vf-text-heading--4">{{ menuitem.title }}</h3>
        </div>
        <div class="vf-content">
          <p class="vf-text--body vf-text-body--2">{{ menuitem.context.intro }}</p>

          {{ menuitem.content | markdown }}
          {# <li class="vf-navigation__item {% if doc.path == menuitem.path %}is-active{% endif %}">
            <a href="{{ path( (menuitem | url), request ) }}" class="vf-navigation__link">{{ menuitem.title }}</a>
          </li> #}
          {# <hr class="vf-divider" /> #}
        </div>
      </section>
    {# {% endif %} #}
  {% endeach %}
{% endeach %}

<div class="vf-grid vf-grid__col-1">
  <div class="">
    {% include 'partials/browser/component-list.njk' %}
  </div>
</div>
