$componentInfo: (
             name: "@visual-framework/vf-polyfill-js",
             version: "1.0.0-alpha.1",
             location: "components/vf-polyfill-js",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Fri, 30 Oct 2020 16:39:45 GMT"
          );