$componentInfo: (
             name: "@visual-framework/vf-polyfill-js",
             version: "1.0.0-alpha.1",
             location: "components/vf-polyfill-js",
             vfCoreVersion: "2.2.8",
             buildTimeStamp: "Tue, 20 Oct 2020 15:45:50 GMT"
          );