$componentInfo: (
             name: "@visual-framework/vf-polyfill-js",
             version: "1.0.0-alpha.1",
             location: "components/vf-polyfill-js",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Mon, 09 Nov 2020 11:17:26 GMT"
          );