$componentInfo: (
             name: "@visual-framework/vf-no-js",
             version: "1.0.1",
             location: "components/vf-no-js",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Fri, 30 Oct 2020 16:39:45 GMT"
          );