$componentInfo: (
             name: "@visual-framework/vf-no-js",
             version: "1.0.1",
             location: "components/vf-no-js",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Mon, 02 Nov 2020 09:27:39 GMT"
          );