$componentInfo: (
             name: "@visual-framework/embl-logo",
             version: "1.0.4",
             location: "components/embl-logo",
             vfCoreVersion: "2.2.8",
             buildTimeStamp: "Mon, 26 Oct 2020 17:23:38 GMT"
          );