$componentInfo: (
             name: "@visual-framework/embl-logo",
             version: "1.0.4",
             location: "components/embl-logo",
             vfCoreVersion: "2.2.8",
             buildTimeStamp: "Fri, 23 Oct 2020 10:02:05 GMT"
          );