:root {
  --vf-color-white: rgb(255, 255, 255);
  --vf-color-off-white: rgb(250, 250, 250);
  --vf-color-black: rgb(40, 45, 35);
  --vf-color-gray: rgb(112, 115, 114);
  --vf-color-gray-bright: rgb(185, 179, 168);
  --vf-color-gray-dark: rgb(84, 88, 90);
  --vf-color-green: rgb(0, 159, 77);
  --vf-color-green-bright: rgb(108, 194, 74);
  --vf-color-green-dark: rgb(0, 123, 83);
  --vf-color-light-green: rgb(168, 199, 0);
  --vf-color-light-green-bright: rgb(226, 232, 104);
  --vf-color-light-green-dark: rgb(132, 189, 0);
  --vf-color-ruby: rgb(228, 0, 70);
  --vf-color-ruby-bright: rgb(229, 143, 158);
  --vf-color-ruby-dark: rgb(166, 9, 61);
  --vf-color-yellow: rgb(255, 205, 0);
  --vf-color-yellow-bright: rgb(253, 215, 87);
  --vf-color-yellow-dark: rgb(255, 184, 28);
  --vf-color-purple: rgb(130, 70, 175);
  --vf-color-purple-bright: rgb(203, 163, 216);
  --vf-color-purple-dark: rgb(86, 61, 130);
  --vf-color-amber: rgb(255, 163, 0);
  --vf-color-amber-bright: rgb(190, 84, 0);
  --vf-color-amber-dark: rgb(239, 192, 110);
  --vf-color-azure: rgb(40, 122, 226);
  --vf-color-azure-bright: rgb(139, 184, 232);
  --vf-color-azure-dark: rgb(0, 61, 165);
}

:root {
  --vf-ui-color-black: rgb(0, 0, 0);
  --vf-ui-color-gray: rgb(243, 243, 243);
  --vf-ui-color-gray-light: rgb(216, 216, 216);
  --vf-ui-color-yellow: rgb(255, 250, 220);
  --vf-ui-color-red: rgb(211, 47, 47);
}

.vf-form__helper {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.57;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  margin: 0 0 4px 0;
  color: #707372;
}

.vf-form__input:not([type='file']) {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.71;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  border-color: #f3f3f3;
  border-style: solid;
  border-width: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #54585a;
  display: block;
  padding: 12px;
  width: 100%;
}

.vf-form__input:not([type='file']):focus, .vf-form__input:not([type='file']):hover {
  border-color: currentColor;
  color: #282d23;
  outline: 0;
}

.vf-form__wrap .vf-form__label {
  border-radius-top-left: 3px;
  display: block;
  line-height: 1;
  opacity: 0;
  position: absolute;
  top: -16px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  visibility: hidden;
  z-index: 1;
}

.vf-form__input .vf-form__wrap {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  position: relative;
  text-rendering: optimizeLegibility;
}

.vf-form__input::-webkit-input-placeholder,
.vf-form__select::-webkit-input-placeholder,
.vf-form__textarea::-webkit-input-placeholder {
  color: #54585a;
}

.vf-form__input:-ms-input-placeholder,
.vf-form__select:-ms-input-placeholder,
.vf-form__textarea:-ms-input-placeholder {
  color: #54585a;
}

.vf-form__input::-ms-input-placeholder,
.vf-form__select::-ms-input-placeholder,
.vf-form__textarea::-ms-input-placeholder {
  color: #54585a;
}

.vf-form__input::placeholder,
.vf-form__select::placeholder,
.vf-form__textarea::placeholder {
  color: #54585a;
}

.vf-form__input::-moz-placeholder,
.vf-form__select::-moz-placeholder,
.vf-form__textarea::-moz-placeholder {
  color: #54585a;
}

.vf-form__input:-ms-input-placeholder,
.vf-form__select:-ms-input-placeholder,
.vf-form__textarea:-ms-input-placeholder {
  color: #54585a;
}

.vf-form__input::-webkit-input-placeholder,
.vf-form__select::-webkit-input-placeholder,
.vf-form__textarea::-webkit-input-placeholder {
  color: #54585a;
}

.vf-form__input select.vf-form__select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #54585a;
  cursor: pointer;
  position: relative;
}

.vf-form__input select.vf-form__select::-ms-expand {
  display: none;
}

.vf-form__input .vf-form__is-active input.vf-form__input,
.vf-form__input .vf-form__is-active select.vf-form__select,
.vf-form__input .vf-form__is-active textarea.vf-form__textarea {
  background-color: white;
}

.vf-form__input .vf-form__has-focus input.vf-form__input,
.vf-form__input .vf-form__has-focus select.vf-form__select,
.vf-form__input .vf-form__has-focus textarea.vf-form__textarea {
  background-color: white;
  border-color: #282d23;
}

.vf-form__wrap .vf-form__input label.vf-form__label {
  border-radius-top-left: 3px;
  color: #54585a;
  display: block;
  left: 26px;
  opacity: 0;
  position: absolute;
  top: -24px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  visibility: hidden;
  z-index: 1;
}

.vf-form__input .vf-form__is-active label.vf-form__label {
  opacity: 1;
  visibility: visible;
}

.vf-form__input .vf-form__has-focus label.vf-form__label {
  color: #282d23;
}

.vf-form__input .vf-form__is-required::before {
  color: #d32f2f;
  content: '*';
  display: block;
  font-size: 16px;
  line-height: 1.75;
  opacity: 1;
  padding: 6px 0 0;
  position: absolute;
  right: 15px;
  top: 1px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  z-index: 1;
}

.vf-form__input .vf-form__is-required.vf-form__is-active::before {
  opacity: 0;
}

.vf-form__select {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.71;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: white;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='18' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23707372' fill-rule='evenodd'%3E%3Cpath d='M6 0l6 8H0zM6 18l6-8H0z'/%3E%3C/g%3E%3C/svg%3E");
  background-position: right .7em top 50%, 0 0;
  background-repeat: no-repeat, repeat;
  background-size: .65em auto, 100%;
  border-color: #f3f3f3;
  border-radius: 0;
  border-style: solid;
  border-width: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #54585a;
  display: block;
  margin: 0;
  max-width: 100%;
  padding: 16px 24px;
  width: 100%;
}

.vf-form__select:focus, .vf-form__select:hover {
  border-color: currentColor;
  color: #282d23;
  outline: 0;
}

.vf-form__select::-ms-expand {
  display: none;
}

.vf-form__select option {
  font-weight: normal;
}

.vf-form__checkbox {
  opacity: 0;
  position: absolute;
}

.vf-form__checkbox + .vf-form__label {
  color: #54585a;
  cursor: pointer;
  padding: 0;
  position: relative;
}

.vf-form__checkbox + .vf-form__label::before {
  background: white;
  border: 3px solid #f3f3f3;
  content: '';
  display: inline-block;
  height: 16px;
  margin-right: 10px;
  position: relative;
  top: 6px;
  vertical-align: center;
  width: 16px;
}

.vf-form__checkbox:hover + .vf-form__label:before {
  border-color: #54585a;
}

.vf-form__checkbox:focus + .vf-form__label:before {
  border-color: #54585a;
}

.vf-form__checkbox:checked + .vf-form__label:before {
  background: #287ae2;
  border-color: #287ae2;
}

.vf-form__checkbox:disabled + .vf-form__label {
  color: #54585a;
  cursor: auto;
}

.vf-form__checkbox:disabled + .vf-form__label:before {
  background: #707372;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.vf-form__radio {
  opacity: 0;
  position: absolute;
}

.vf-form__radio + .vf-form__label {
  color: #54585a;
  cursor: pointer;
  padding: 0;
  position: relative;
}

.vf-form__radio + .vf-form__label::before {
  background: white;
  border-color: #f3f3f3;
  border-radius: 50%;
  content: '';
  display: inline-block;
  height: 16px;
  margin-right: 10px;
  position: relative;
  top: 6px;
  vertical-align: center;
  width: 16px;
}

.vf-form__radio:hover + .vf-form__label::before {
  border-color: #54585a;
}

.vf-form__radio:focus + .vf-form__label::before {
  border-color: #54585a;
}

.vf-form__radio:checked + .vf-form__label::before {
  background: #003da5;
  border-color: #003da5;
}

.vf-form__radio:disabled + .vf-form__label {
  color: #54585a;
  cursor: auto;
}

.vf-form__radio:disabled + .vf-form__label::before {
  background: #707372;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.vf-form__textarea {
  border: 3px solid #f3f3f3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  padding: 12px;
  width: 100%;
}

.vf-form__textarea:focus {
  border-color: #54585a;
  outline: 0;
}

.vf-form__item {
  display: block;
  margin-bottom: 32px;
  position: relative;
}

.vf-form__item--inline .vf-form__label {
  display: inline-block;
}

.vf-form__label {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.57;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  margin: 0 0 4px 0;
  color: #707372;
  display: block;
  left: 26px;
  position: relative;
}
