.vf-form__helper {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.57;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  margin: 0 0 4px 0;
  color: #707372;
}

.vf-form__input:not([type='file']) {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.71;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  border-color: #707372;
  border-style: solid;
  border-width: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #54585a;
  display: block;
  padding: 16px 24px;
  width: 100%;
}

.vf-form__input:not([type='file']):focus, .vf-form__input:not([type='file']):hover {
  border-color: currentColor;
  color: #282d23;
  outline: 0;
}

.vf-form__wrap .vf-form__label {
  border-radius-top-left: 3px;
  display: block;
  line-height: 1;
  opacity: 0;
  position: absolute;
  top: -16px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  visibility: hidden;
  z-index: 1;
}

.vf-form__input .vf-form__wrap {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  position: relative;
  text-rendering: optimizeLegibility;
}

.vf-form__input input.vf-form__input:-moz-placeholder,
.vf-form__input select.vf-form__select:-moz-placeholder,
.vf-form__input textarea.vf-form__textarea:-moz-placeholder {
  color: #54585a;
}

.vf-form__input input.vf-form__input::-moz-placeholder,
.vf-form__input select.vf-form__select::-moz-placeholder,
.vf-form__input textarea.vf-form__textarea::-moz-placeholder {
  color: #54585a;
}

.vf-form__input input.vf-form__input:-ms-input-placeholder,
.vf-form__input select.vf-form__select:-ms-input-placeholder,
.vf-form__input textarea.vf-form__textarea:-ms-input-placeholder {
  color: #54585a;
}

.vf-form__input input.vf-form__input::-webkit-input-placeholder,
.vf-form__input select.vf-form__select::-webkit-input-placeholder,
.vf-form__input textarea.vf-form__textarea::-webkit-input-placeholder {
  color: #54585a;
}

.vf-form__input select.vf-form__select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #54585a;
  cursor: pointer;
  position: relative;
}

.vf-form__input select.vf-form__select::-ms-expand {
  display: none;
}

.vf-form__input .vf-form__is-active input.vf-form__input,
.vf-form__input .vf-form__is-active select.vf-form__select,
.vf-form__input .vf-form__is-active textarea.vf-form__textarea {
  background-color: #fff;
  border-color: #dfdfdf;
  color: #444;
}

.vf-form__input .vf-form__has-focus input.vf-form__input,
.vf-form__input .vf-form__has-focus select.vf-form__select,
.vf-form__input .vf-form__has-focus textarea.vf-form__textarea {
  background-color: #fff;
  border-color: #282d23;
}

.vf-form__wrap .vf-form__input label.vf-form__label {
  border-radius-top-left: 3px;
  color: #54585a;
  display: block;
  left: 26px;
  opacity: 0;
  position: absolute;
  top: -24px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  visibility: hidden;
  z-index: 1;
}

.vf-form__input .vf-form__is-active label.vf-form__label {
  opacity: 1;
  visibility: visible;
}

.vf-form__input .vf-form__has-focus label.vf-form__label {
  color: #282d23;
}

.vf-form__input .vf-form__is-required::before {
  color: #D32F2F;
  content: '*';
  display: block;
  font-size: 16px;
  line-height: 1.75;
  opacity: 1;
  padding: 6px 0 0;
  position: absolute;
  right: 15px;
  top: 1px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  z-index: 1;
}

.vf-form__input .vf-form__is-required.vf-form__is-active::before {
  opacity: 0;
}

.vf-form__select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0iIzAwMCIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNNiAwbDYgOEgwek02IDE5bC02LThoMTJ6Ii8+PC9nPjwvc3ZnPg=="), -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e5e5e5));
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0iIzAwMCIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNNiAwbDYgOEgwek02IDE5bC02LThoMTJ6Ii8+PC9nPjwvc3ZnPg=="), linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-position: right .7em top 50%, 0 0;
  background-repeat: no-repeat, repeat;
  background-size: .65em auto, 100%;
  border: 1px solid #000;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
          box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #444;
  display: block;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3;
  margin: 0;
  max-width: 100%;
  padding: .6em 1.4em .5em .8em;
  width: 100%;
}

.vf-form__select::-ms-expand {
  display: none;
}

.vf-form__select:hover {
  border-color: #888;
}

.vf-form__select:focus {
  border-color: #aaa;
  -webkit-box-shadow: 0 0 1px 3px rgba(40, 122, 226, 0.5);
          box-shadow: 0 0 1px 3px rgba(40, 122, 226, 0.5);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  outline: none;
}

.vf-form__select option {
  font-weight: normal;
}

.vf-form__checkbox {
  opacity: 0;
  position: absolute;
}

.vf-form__checkbox + .vf-form__label {
  color: #54585a;
  cursor: pointer;
  padding: 0;
  position: relative;
}

.vf-form__checkbox + .vf-form__label::before {
  background: white;
  border: 3px solid #707372;
  content: '';
  display: inline-block;
  height: 16px;
  margin-right: 10px;
  position: relative;
  top: 6px;
  vertical-align: center;
  width: 16px;
}

.vf-form__checkbox:hover + .vf-form__label:before {
  border-color: #54585a;
}

.vf-form__checkbox:focus + .vf-form__label:before {
  border-color: #54585a;
}

.vf-form__checkbox:checked + .vf-form__label:before {
  background: #287ae2;
  border-color: #287ae2;
}

.vf-form__checkbox:disabled + .vf-form__label {
  color: #54585a;
  cursor: auto;
}

.vf-form__checkbox:disabled + .vf-form__label:before {
  background: #707372;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.vf-form__radio {
  opacity: 0;
  position: absolute;
}

.vf-form__radio + .vf-form__label {
  color: #54585a;
  cursor: pointer;
  padding: 0;
  position: relative;
}

.vf-form__radio + .vf-form__label::before {
  background: white;
  border: 3px solid #707372;
  border-radius: 50%;
  content: '';
  display: inline-block;
  height: 16px;
  margin-right: 10px;
  position: relative;
  top: 6px;
  vertical-align: center;
  width: 16px;
}

.vf-form__radio:hover + .vf-form__label::before {
  border-color: #54585a;
}

.vf-form__radio:focus + .vf-form__label::before {
  border-color: #54585a;
}

.vf-form__radio:checked + .vf-form__label::before {
  background: #003da5;
  border-color: #003da5;
}

.vf-form__radio:disabled + .vf-form__label {
  color: #54585a;
  cursor: auto;
}

.vf-form__radio:disabled + .vf-form__label::before {
  background: #707372;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.vf-form__textarea {
  border: 3px solid #707372;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  padding: 16px 8px;
  width: 100%;
}

.vf-form__textarea:focus {
  border-color: #54585a;
  outline: 0;
}

.vf-form__item {
  display: block;
  margin-bottom: 32px;
  position: relative;
}

.vf-form__item--inline .vf-form__label {
  display: inline-block;
}

.vf-form__label {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.57;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  margin: 0 0 4px 0;
  color: #707372;
  display: block;
  left: 26px;
  position: relative;
}
