<!DOCTYPE html>
<!-- todo: update this to use the VF patterns -->
<html lang="en" dir="ltr" class="vf-no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
    window.frctl = {
        env: 'static'
    };
    </script>
    <script>var cl = document.querySelector('html').classList; cl.remove('vf-no-js'); cl.add('vf-js');</script>
    
<link rel="apple-touch-icon" sizes="180x180" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/favicon-16x16.png">
<link rel="manifest" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/site.webmanifest">
<link rel="mask-icon" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/safari-pinned-tab.svg" color="#ffffff">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">



<link rel="stylesheet" href="https://dev.assets.emblstatic.net/vf/css/styles.css?cachebust=1.2.0" type="text/css">


<link rel="stylesheet" href="../../local.css?cachebust=1.2.0" type="text/css">


<title>EMBL Content meta properties | Visual Framework 2.0</title>

</head>
<body>





<header class="vf-header">
  <div class="vf-global-header">
    <div class="vf-global-header__inner">
    <a href="/" class="vf-logo--responsive"></a>

    <p class="vf-global-header__site-name">Visual Framework for Life Science websites</p>
    </div>
  </div>
</header>


<section class="Frame-body" data-role="body">
<!--
embl-grid embl-grid--has-sidebar
-->
  


    
    

<div class="Pen" data-behaviour="pen" id="pen-99f400ddbc98652e489c86a75a6e1ed7">

    

    <div class="vf-body">
<header class="vf-grid vf-page-header | vf-u-padding-l">
  <h1 class="vf-page-header__heading | vf-text vf-text--heading-l vf-text--has-tag">
    EMBL Content meta properties
    



<span class="vf-badge" style="margin-right: 8px; position: relative; top: 1px; background-color: #DC0A28; border-color: #DC0A28;">alhpa</span>




  </h1>
</header>
</div>


    <div class="vf-body">
  <div class="vf-grid">
    <div>

    
    
    
    
    </div>
  </div>
</div>

<div class="Pen-panel Pen-preview Preview" data-behaviour="preview" id="preview-99f400ddbc98652e489c86a75a6e1ed7">
    <div class="Preview-wrapper" data-role="resizer-disabled">
      
       <iframe
          class="Preview-iframe"
          data-role="window"
          src="../preview/embl-content-meta-properties.html"
          sandbox="allow-same-origin allow-scripts allow-forms"

          marginwidth="0" marginheight="0" frameborder="1" vspace="0" hspace="0" scrolling="yes"
          onload="resizeIframe(this)"
        >
      </iframe>

      <div class="vf-body">
        <div class="vf-grid">
          <p class="vf-figure__caption">
            Open the above preview in a new window:
            <a data-no-pjax href="../preview/embl-content-meta-properties.html"><span>With layout</span> <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>
</a>
            <a data-no-pjax href="../render/embl-content-meta-properties.html"><span>Component only</span> <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>
</a>
          </p>
        </div>
      </div>

    </div>
</div>


    <div class="Pen-handle Pen-handle--browser" data-role="resize-handle"></div>

    <div class="vf-body">
  <div class="vf-grid vf-grid__col-1">

    <div class="pattern-info">
      
      <div class="pattern-library-notes">
      <h1 id="embl-content-meta-properties">EMBL Content Meta Properties</h1>
<p>These meta tags describe the role of page within the EMBL information architecture.</p>
<p>These consist of:</p>
<ul>
<li>Content descriptors<ul>
<li><code>embl:who</code> the people, groups and teams involved</li>
<li><code>embl:what</code> the activities covered</li>
<li><code>embl:where</code> at which EMBL sites the content applies</li>
<li><code>embl:active</code> which of the above three facets is most important for this content</li>
</ul>
</li>
<li>Content role:<ul>
<li><code>embl:utility</code> if content is task and work based or if is meant to inspire</li>
<li><code>embl:reach</code> if content is externally (public) or internally focused (those that work at EMBL)</li>
</ul>
</li>
<li>Page infromation:<ul>
<li><code>embl:maintainer</code> the contact person or group responsible for the page</li>
<li><code>embl:last-review</code> the last time the page was reviewed or updated</li>
<li><code>embl:review-cycle</code> how long in days before the page should be checked</li>
<li><code>embl:expiry</code> if there is a fixed point in time when the page is no longer relevant</li>
</ul>
</li>
</ul>
<p>These tags should be placed in your <code>&lt;head&gt;</code>.</p>
<h2 id="why-do-they-matter-">Why do they matter?</h2>
<ol>
<li>Ensures future quality of content</li>
<li>Will be programatically queried by other patterns to offer contextually-appropriate content and navigation</li>
<li>Can affect the look and feel of content</li>
</ol>

      </div>
      

      <div class="Pen-panel Pen-info" data-role="info">
          <div class="">

  

  <hr class="vf-divider vf-u-margin__bottom-xl vf-u-margin__top-xl">

  
<h3 class="vf-text vf-text--heading-r">Code example</h3>
<code class="Code Code--lang-html vf-code-example">
  
  <pre class="vf-code-example__pre">


<span class="hljs-comment">&lt;!-- Content descriptors --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">meta</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"embl:who"</span> <span class="hljs-attr">content</span>=<span class="hljs-string">"all"</span>&gt;</span>
<span class="hljs-comment">&lt;!-- the people, groups and teams involved --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">meta</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"embl:where"</span> <span class="hljs-attr">content</span>=<span class="hljs-string">"EMBL"</span>&gt;</span>
<span class="hljs-comment">&lt;!-- at which EMBL sites the content applies --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">meta</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"embl:what"</span> <span class="hljs-attr">content</span>=<span class="hljs-string">"services, websites"</span>&gt;</span>
<span class="hljs-comment">&lt;!-- the activities covered --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">meta</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"embl:active"</span> <span class="hljs-attr">content</span>=<span class="hljs-string">"what"</span>&gt;</span>
<span class="hljs-comment">&lt;!-- which of the who/what/where is active --&gt;</span>

<span class="hljs-comment">&lt;!-- Content role --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">meta</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"embl:utility"</span> <span class="hljs-attr">content</span>=<span class="hljs-string">"-8"</span>&gt;</span>
<span class="hljs-comment">&lt;!-- if content is task and work based or if is meant to inspire --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">meta</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"embl:reach"</span> <span class="hljs-attr">content</span>=<span class="hljs-string">"-5"</span>&gt;</span>
<span class="hljs-comment">&lt;!-- if content is externally (public) or internally focused (those that work at EMBL) --&gt;</span>
<span class="hljs-comment">&lt;!-- Page infromation --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">meta</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"embl:maintainer"</span> <span class="hljs-attr">content</span>=<span class="hljs-string">"Strategy and Communications"</span>&gt;</span>
<span class="hljs-comment">&lt;!-- the contact person or group responsible for the page --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">meta</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"embl:last-review"</span> <span class="hljs-attr">content</span>=<span class="hljs-string">"2019-01-20"</span>&gt;</span>
<span class="hljs-comment">&lt;!-- the last time the page was reviewed or updated --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">meta</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"embl:review-cycle"</span> <span class="hljs-attr">content</span>=<span class="hljs-string">"180"</span>&gt;</span>
<span class="hljs-comment">&lt;!-- how long in days before the page should be checked --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">meta</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"embl:expiry"</span> <span class="hljs-attr">content</span>=<span class="hljs-string">"2019-06-20"</span>&gt;</span>
<span class="hljs-comment">&lt;!-- if there is a fixed point in time when the page is no longer relevant --&gt;</span>

  </pre>
  
</code>



  <hr class="vf-divider vf-u-margin__bottom-xl vf-u-margin__top-xl">

  <div class="vf-grid vf-grid__col-3">
    <div class="vf-grid__col--span-2">
      


<h3 class="vf-text vf-text--heading-r">Resources and files</h3>

<div class="vf-tabs">
  <ul class="vf-tabs__list" data-vf-js-tabs>
    <!--<li class="vf-tabs__item">Pattern files</li>-->
    
      
      <li class="vf-tabs__item">
        <a class="vf-tabs__link" href="#vf-tabs__section--e24400aa680a15b7ea526d65db54ad75">CHANGELOG.md</a>
      </li>
      
    
      
      <li class="vf-tabs__item">
        <a class="vf-tabs__link" href="#vf-tabs__section--4ce80f6374beb040148f27cbe341492c">embl-content-meta-properties.js</a>
      </li>
      
    
      
      <li class="vf-tabs__item">
        <a class="vf-tabs__link" href="#vf-tabs__section--9510c87b9f11f86c63ccd5903ab79d00">embl-content-meta-properties.scss</a>
      </li>
      
    
      
      <li class="vf-tabs__item">
        <a class="vf-tabs__link" href="#vf-tabs__section--63b252bdffca02b454bfa68aa329698f">index.scss</a>
      </li>
      
    
      
      <li class="vf-tabs__item">
        <a class="vf-tabs__link" href="#vf-tabs__section--25a3baa04e697e6127c1fd8d469e1b08">package.json</a>
      </li>
      
    
  </ul>

</div>
<div class="vf-tabs-content" data-vf-js-tabs-content>
  
    
    <section class="vf-tabs__section" id="vf-tabs__section--e24400aa680a15b7ea526d65db54ad75">
    <!--  is-active -->
        <div class="FileBrowser-itemPreview">
          
          <code class="Code Code--lang-Markdown FileBrowser-code vf-code-example">
            <pre class="vf-code-example__pre"><span class="hljs-section"># 0.1.0</span>

<span class="hljs-section">### Added</span>
<span class="hljs-bullet">- </span>added this
<span class="hljs-bullet">- </span>added that

<span class="hljs-section">### Changes</span>

<span class="hljs-bullet">- </span>changed this
<span class="hljs-bullet">- </span>changed that

<span class="hljs-section">### Removed</span>

<span class="hljs-bullet">- </span>deleted this
<span class="hljs-bullet">- </span>deleted that
</pre>
          </code>
          
        </div>

        <strong class="Meta-key">URL:</strong>
        <span class="Meta-value"><a data-no-pjax href="../raw/embl-content-meta-properties/CHANGELOG.md"><span>/components/raw/embl-content-meta-properties/CHANGELOG.md</span></a></span>

        <strong class="Meta-key">Filesystem Path:</strong>
        <span class="Meta-value">components/embl-content-meta-properties/CHANGELOG.md</span>

        <strong class="Meta-key">Size:</strong>
        <span class="Meta-value">133 Bytes</span>
    </section>
    
  
    
    <section class="vf-tabs__section" id="vf-tabs__section--4ce80f6374beb040148f27cbe341492c">
    <!--  -->
        <div class="FileBrowser-itemPreview">
          
          <code class="Code Code--lang-JavaScript FileBrowser-code vf-code-example">
            <pre class="vf-code-example__pre"><span class="hljs-comment">// embl-content-meta-properties</span>

<span class="hljs-comment">// In addition to being queried by other patterns' JS, this could</span>
<span class="hljs-comment">// also add classes to a page to affect the overall look of a page.</span>


<span class="hljs-comment">/**
 * Read metaProperties from page's metatags
 * @example emblContentMetaProperties_Read()
 */</span>
<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">emblContentMetaProperties_Read</span>(<span class="hljs-params"></span>) </span>{
  <span class="hljs-keyword">var</span> metaProperties = {};
  <span class="hljs-comment">// &lt;!-- Content descriptors --&gt;</span>
  <span class="hljs-comment">// &lt;meta name="embl:who" content="{{ meta-who }}"&gt; &lt;!-- the people, groups and teams involved --&gt;</span>
  <span class="hljs-comment">// &lt;meta name="embl:what" content="{{ meta-what }}"&gt; &lt;!-- the activities covered --&gt;</span>
  <span class="hljs-comment">// &lt;meta name="embl:where" content="{{ meta-where }}"&gt; &lt;!-- at which EMBL sites the content applies --&gt;</span>
  <span class="hljs-comment">// &lt;meta name="embl:active" content="{{ meta-active }}"&gt; &lt;!-- which of the who/what/where is active --&gt;</span>
  metaProperties.who = metaProperties.who || <span class="hljs-built_in">document</span>.querySelector(<span class="hljs-string">"meta[name='embl:who']"</span>);
  metaProperties.what = metaProperties.what || <span class="hljs-built_in">document</span>.querySelector(<span class="hljs-string">"meta[name='embl:what']"</span>);
  metaProperties.where = metaProperties.where || <span class="hljs-built_in">document</span>.querySelector(<span class="hljs-string">"meta[name='embl:where']"</span>);
  metaProperties.active = metaProperties.active || <span class="hljs-built_in">document</span>.querySelector(<span class="hljs-string">"meta[name='embl:active']"</span>);

  <span class="hljs-comment">// &lt;!-- Content role --&gt;</span>
  <span class="hljs-comment">// &lt;meta name="embl:utility" content="-8"&gt; &lt;!-- if content is task and work based or if is meant to inspire --&gt;</span>
  <span class="hljs-comment">// &lt;meta name="embl:reach" content="-5"&gt; &lt;!-- if content is externally (public) or internally focused (those that work at EMBL) --&gt;</span>
  metaProperties.utility = metaProperties.utility || <span class="hljs-built_in">document</span>.querySelector(<span class="hljs-string">"meta[name='embl:utility']"</span>);
  metaProperties.reach = metaProperties.reach || <span class="hljs-built_in">document</span>.querySelector(<span class="hljs-string">"meta[name='embl:reach']"</span>);

  <span class="hljs-comment">// &lt;!-- Page infromation --&gt;</span>
  <span class="hljs-comment">// &lt;meta name="embl:maintainer" content="{{ meta-maintainer }}"&gt; &lt;!-- the contact person or group responsible for the page --&gt;</span>
  <span class="hljs-comment">// &lt;meta name="embl:last-review" content="{{ meta-last-review }}"&gt; &lt;!-- the last time the page was reviewed or updated --&gt;</span>
  <span class="hljs-comment">// &lt;meta name="embl:review-cycle" content="{{ meta-review-cycle }}"&gt; &lt;!-- how long in days before the page should be checked --&gt;</span>
  <span class="hljs-comment">// &lt;meta name="embl:expiry" content="{{ meta-expiry }}"&gt; &lt;!-- if there is a fixed point in time when the page is no longer relevant --&gt;</span>
  metaProperties.maintainer = metaProperties.maintainer || <span class="hljs-built_in">document</span>.querySelector(<span class="hljs-string">"meta[name='embl:maintainer']"</span>);
  metaProperties.lastReview = metaProperties.lastReview || <span class="hljs-built_in">document</span>.querySelector(<span class="hljs-string">"meta[name='embl:last-review']"</span>);
  metaProperties.reviewCycle = metaProperties.reviewCycle || <span class="hljs-built_in">document</span>.querySelector(<span class="hljs-string">"meta[name='embl:review-cycle']"</span>);
  metaProperties.expiry = metaProperties.expiry || <span class="hljs-built_in">document</span>.querySelector(<span class="hljs-string">"meta[name='embl:expiry']"</span>);

  <span class="hljs-keyword">for</span>(<span class="hljs-keyword">var</span> key <span class="hljs-keyword">in</span> metaProperties) {
    <span class="hljs-keyword">if</span> (metaProperties[key] != <span class="hljs-literal">null</span> &amp;&amp; metaProperties[key].getAttribute(<span class="hljs-string">"content"</span>).length != <span class="hljs-number">0</span>) {
      metaProperties[key] = metaProperties[key].getAttribute(<span class="hljs-string">"content"</span>);
    } <span class="hljs-keyword">else</span> {
      metaProperties[key] = <span class="hljs-string">'notSet'</span>;
    }
  }

  <span class="hljs-keyword">return</span> metaProperties;
}
</pre>
          </code>
          
        </div>

        <strong class="Meta-key">URL:</strong>
        <span class="Meta-value"><a data-no-pjax href="../raw/embl-content-meta-properties/embl-content-meta-properties.js"><span>/components/raw/embl-content-meta-properties/embl-content-meta-properties.js</span></a></span>

        <strong class="Meta-key">Filesystem Path:</strong>
        <span class="Meta-value">components/embl-content-meta-properties/embl-content-meta-properties.js</span>

        <strong class="Meta-key">Size:</strong>
        <span class="Meta-value">3 KB</span>
    </section>
    
  
    
    <section class="vf-tabs__section" id="vf-tabs__section--9510c87b9f11f86c63ccd5903ab79d00">
    <!--  -->
        <div class="FileBrowser-itemPreview">
          
          <code class="Code Code--lang-SCSS FileBrowser-code vf-code-example">
            <pre class="vf-code-example__pre"><span class="hljs-comment">// embl-content-meta-properties</span>

<span class="hljs-selector-class">.embl-content-meta-properties</span> {
}
</pre>
          </code>
          
        </div>

        <strong class="Meta-key">URL:</strong>
        <span class="Meta-value"><a data-no-pjax href="../raw/embl-content-meta-properties/embl-content-meta-properties.scss"><span>/components/raw/embl-content-meta-properties/embl-content-meta-properties.scss</span></a></span>

        <strong class="Meta-key">Filesystem Path:</strong>
        <span class="Meta-value">components/embl-content-meta-properties/embl-content-meta-properties.scss</span>

        <strong class="Meta-key">Size:</strong>
        <span class="Meta-value">67 Bytes</span>
    </section>
    
  
    
    <section class="vf-tabs__section" id="vf-tabs__section--63b252bdffca02b454bfa68aa329698f">
    <!--  -->
        <div class="FileBrowser-itemPreview">
          
          <code class="Code Code--lang-SCSS FileBrowser-code vf-code-example">
            <pre class="vf-code-example__pre"><span class="hljs-comment">// setup files required</span>

<span class="hljs-comment">// sass-lint:disable clean-import-paths</span>
@<span class="hljs-keyword">import</span> <span class="hljs-string">'vf-global-variables'</span>;
@<span class="hljs-keyword">import</span> <span class="hljs-string">'vf-variables'</span>;
@<span class="hljs-keyword">import</span> <span class="hljs-string">'vf-functions'</span>;
@<span class="hljs-keyword">import</span> <span class="hljs-string">'vf-mixins'</span>;

<span class="hljs-comment">// pattern specific styles</span>

@<span class="hljs-keyword">import</span> <span class="hljs-string">'embl-content-meta-properties.scss'</span>;
</pre>
          </code>
          
        </div>

        <strong class="Meta-key">URL:</strong>
        <span class="Meta-value"><a data-no-pjax href="../raw/embl-content-meta-properties/index.scss"><span>/components/raw/embl-content-meta-properties/index.scss</span></a></span>

        <strong class="Meta-key">Filesystem Path:</strong>
        <span class="Meta-value">components/embl-content-meta-properties/index.scss</span>

        <strong class="Meta-key">Size:</strong>
        <span class="Meta-value">239 Bytes</span>
    </section>
    
  
    
    <section class="vf-tabs__section" id="vf-tabs__section--25a3baa04e697e6127c1fd8d469e1b08">
    <!--  -->
        <div class="FileBrowser-itemPreview">
          
          <code class="Code Code--lang-JSON FileBrowser-code vf-code-example">
            <pre class="vf-code-example__pre">{
  <span class="hljs-attr">"version"</span>: <span class="hljs-string">"0.0.6"</span>,
  <span class="hljs-attr">"name"</span>: <span class="hljs-string">"@visual-framework/embl-content-meta-properties"</span>,
  <span class="hljs-attr">"description"</span>: <span class="hljs-string">"embl-content-meta-properties component"</span>,
  <span class="hljs-attr">"homepage"</span>: <span class="hljs-string">"http://dev.beta.embl.org/guidelines/visual-framework/dev-docs/"</span>,
  <span class="hljs-attr">"author"</span>: <span class="hljs-string">"VF"</span>,
  <span class="hljs-attr">"license"</span>: <span class="hljs-string">"Apache 2.0"</span>,
  <span class="hljs-attr">"style"</span>: <span class="hljs-string">"embl-content-meta-properties.css"</span>,
  <span class="hljs-attr">"sass"</span>: <span class="hljs-string">"index.scss"</span>,
  <span class="hljs-attr">"files"</span>: [
    <span class="hljs-string">"index.scss"</span>,
    <span class="hljs-string">"embl-content-meta-properties.scss"</span>,
    <span class="hljs-string">"embl-content-meta-properties.css"</span>
  ],
  <span class="hljs-attr">"test"</span>: <span class="hljs-string">"echo \"Error: no test specified\" &amp;&amp; exit 1"</span>,
  <span class="hljs-attr">"publishConfig"</span>: {
    <span class="hljs-attr">"access"</span>: <span class="hljs-string">"public"</span>
  },
  <span class="hljs-attr">"repo"</span>: <span class="hljs-string">"https://github.com/visual-framework/vf-core/tree/master/components/embl-content-meta-properties"</span>,
  <span class="hljs-attr">"bugs"</span>: {
    <span class="hljs-attr">"url"</span>: <span class="hljs-string">"https://github.com/visual-framework/vf-core/issues/new"</span>
  },
  <span class="hljs-attr">"dependencies"</span>: {
    <span class="hljs-attr">"@visual-framework/vf-sass-config"</span>: <span class="hljs-string">"^0.0.16"</span>,
    <span class="hljs-attr">"node-normalize-scss"</span>: <span class="hljs-string">"^8.0.0"</span>
  },
  <span class="hljs-attr">"keywords"</span>: [
    <span class="hljs-string">"fractal"</span>,
    <span class="hljs-string">"component"</span>
  ],
  <span class="hljs-attr">"gitHead"</span>: <span class="hljs-string">"2067886288c60dd8c5ba6e92a423ab7108d4206e"</span>
}
</pre>
          </code>
          
        </div>

        <strong class="Meta-key">URL:</strong>
        <span class="Meta-value"><a data-no-pjax href="../raw/embl-content-meta-properties/package.json"><span>/components/raw/embl-content-meta-properties/package.json</span></a></span>

        <strong class="Meta-key">Filesystem Path:</strong>
        <span class="Meta-value">components/embl-content-meta-properties/package.json</span>

        <strong class="Meta-key">Size:</strong>
        <span class="Meta-value">977 Bytes</span>
    </section>
    
  
</div>




    </div>
    <div class="vf-grid__col--span-1">
      <h3 class="vf-text vf-text--heading-r">Meta information</h3>
<ul class="Meta">
    <li class="Meta-item">
        <strong class="Meta-key">Handle:</strong>
        <span class="Meta-value">@embl-content-meta-properties</span>
    </li>
    
    
    
    <li class="Meta-item">
        <strong class="Meta-key">Filesystem Path:</strong>
        <span class="Meta-value">components/embl-content-meta-properties/embl-content-meta-properties.hbs</span>
    </li>
    
    
    <li class="Meta-item">
        <strong class="Meta-key">Referenced by <em class="Meta-count">(6)</em>:</strong>
        <span class="Meta-value Meta-value--linkList">
        
            <a href="embl-boilerplate-page.html">@<span>embl-boilerplate-page</span></a>, 
        
            <a href="embl-breadcrumbs-lookup.html">@<span>embl-breadcrumbs-lookup</span></a>, 
        
            <a href="embl-group-page.html">@<span>embl-group-page</span></a>, 
        
            <a href="embl-group-page--contact.html">@<span>embl-group-page--contact</span></a>, 
        
            <a href="embl-subsite-page.html">@<span>embl-subsite-page</span></a>, 
        
            <a href="vf-boilerplate-page.html">@<span>vf-boilerplate-page</span></a>
        
        </span>
    </li>
    
</ul>

    </div>
  </div>

</div>

      </div>
    </div>

    <!-- List all the patterns at the footer -->
    

      <div>
      

<h1 class="vf-text vf-text--heading-xl vf-text--invert">All the patterns</h1>




<section class="embl-grid embl-grid--with-label">
  <section data-description="label area">
    <h4 class="vf-text vf-text--heading-s">
      Grids
      <a id="grid"></a>
    </h4>
    <p class="vf-text--body vf-text--body-r">
      Put stuff in columns.
    </p>
  </section>
  <section data-description="pattern list">
    <div class="vf-grid vf-grid__col-3">
      
        
      
        
      
        
      
        
      
        
        <p class="vf-text">
          <a class="vf-link" href="embl-grid.html">EMBL Grid</a>
          



<span class="vf-badge vf-badge--square" style="background-color: #19993B;" title="live"></span>




        </p>
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
        <p class="vf-text">
          <a class="vf-link" href="vf-grid.html">Grid</a>
          



<span class="vf-badge vf-badge--square" style="background-color: #19993B;" title="live"></span>




        </p>
        
      
        
        <p class="vf-text">
          <a class="vf-link" href="vf-grid-page.html">Page Grid</a>
          



<span class="vf-badge vf-badge--square" style="background-color: #19993B;" title="live"></span>




        </p>
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
    </div>
  </section>
</section>
<hr class="vf-divider vf-u-margin__bottom-xl vf-u-margin__top-xl">



<section class="embl-grid embl-grid--with-label">
  <section data-description="label area">
    <h4 class="vf-text vf-text--heading-s">
      Elements
      <a id="element"></a>
    </h4>
    <p class="vf-text--body vf-text--body-r">
      The micro elements of the pattern library.
    </p>
  </section>
  <section data-description="pattern list">
    <div class="vf-grid vf-grid__col-3">
      
        
      
        
      
        
        <p class="vf-text">
          <a class="vf-link" href="embl-conditional-edit.html">EMBL Conditional Edit</a>
          



<span class="vf-badge vf-badge--square" style="background-color: #DC0A28;" title="alhpa"></span>




        </p>
        
      
        
      
        
      
        
      
        
        <p class="vf-text">
          <a class="vf-link" href="embl-logo.html">EMBL Logo</a>
          



<span class="vf-badge vf-badge--square" style="background-color: #DC0A28;" title="alhpa"></span>




        </p>
        
      
        
      
        
      
        
      
        
      
        
      
        
        <p class="vf-text">
          <a class="vf-link" href="vf-badge.html">Badges</a>
          



<span class="vf-badge vf-badge--square" style="background-color: #DC0A28;" title="alhpa"></span>




        </p>
        
      
        
      
        
        <p class="vf-text">
          <a class="vf-link" href="vf-blockquote.html">Blockquote</a>
          



<span class="vf-badge vf-badge--square" style="background-color: #E89300;" title="beta"></span>




        </p>
        
      
        
      
        
        <p class="vf-text">
          <a class="vf-link" href="vf-box.html">Box</a>
          



<span class="vf-badge vf-badge--square" style="background-color: #DC0A28;" title="alhpa"></span>




        </p>
        
      
        
      
        
        <p class="vf-text">
          <a class="vf-link" href="vf-button.html">Button</a>
          



<span class="vf-badge vf-badge--square" style="background-color: #E89300;" title="beta"></span>




        </p>
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
        <p class="vf-text">
          <a class="vf-link" href="vf-divider.html">Divider</a>
          



<span class="vf-badge vf-badge--square" style="background-color: #19993B;" title="live"></span>




        </p>
        
      
        
      
        
        <p class="vf-text">
          <a class="vf-link" href="vf-favicon.html">Favicon</a>
          



<span class="vf-badge vf-badge--square" style="background-color: #DC0A28;" title="alhpa"></span>




        </p>
        
      
        
        <p class="vf-text">
          <a class="vf-link" href="vf-figure.html">Figure</a>
          



<span class="vf-badge vf-badge--square" style="background-color: #DC0A28;" title="alhpa"></span>




        </p>
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
        <p class="vf-text">
          <a class="vf-link" href="vf-heading.html">Headings</a>
          



<span class="vf-badge vf-badge--square" style="background-color: #DC0A28;" title="alhpa"></span>




        </p>
        
      
        
      
        
      
        
        <p class="vf-text">
          <a class="vf-link" href="vf-link.html">Link</a>
          



<span class="vf-badge vf-badge--square" style="background-color: #DC0A28;" title="alhpa"></span>




        </p>
        
      
        
      
        
        <p class="vf-text">
          <a class="vf-link" href="vf-list.html">Lists</a>
          



<span class="vf-badge vf-badge--square" style="background-color: #DC0A28;" title="alhpa"></span>




        </p>
        
      
        
        <p class="vf-text">
          <a class="vf-link" href="vf-logo.html">Logo</a>
          



<span class="vf-badge vf-badge--square" style="background-color: #DC0A28;" title="alhpa"></span>




        </p>
        
      
        
      
        
      
        
      
        
      
        
        <p class="vf-text">
          <a class="vf-link" href="vf-no-js.html">No JS</a>
          



<span class="vf-badge vf-badge--square" style="background-color: #DC0A28;" title="alhpa"></span>




        </p>
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
        <p class="vf-text">
          <a class="vf-link" href="vf-text.html">Text</a>
          



<span class="vf-badge vf-badge--square" style="background-color: #DC0A28;" title="alhpa"></span>




        </p>
        
      
        
      
        
      
        
      
        
      
    </div>
  </section>
</section>
<hr class="vf-divider vf-u-margin__bottom-xl vf-u-margin__top-xl">



<section class="embl-grid embl-grid--with-label">
  <section data-description="label area">
    <h4 class="vf-text vf-text--heading-s">
      Blocks
      <a id="block"></a>
    </h4>
    <p class="vf-text--body vf-text--body-r">
      Simple patterns like sections headers, galleries and so on.
    </p>
  </section>
  <section data-description="pattern list">
    <div class="vf-grid vf-grid__col-3">
      
        
      
        
        <p class="vf-text">
          <a class="vf-link" href="embl-breadcrumbs-lookup.html">EMBL Breadcrumbs</a>
          



<span class="vf-badge vf-badge--square" style="background-color: #DC0A28;" title="alhpa"></span>




        </p>
        
      
        
      
        
        <p class="vf-text">
          <a class="vf-link" href="">EMBL Content meta properties</a>
          



<span class="vf-badge vf-badge--square" style="background-color: #DC0A28;" title="alhpa"></span>




        </p>
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
        <p class="vf-text">
          <a class="vf-link" href="vf-activity-list.html">Activity List</a>
          



<span class="vf-badge vf-badge--square" style="background-color: #DC0A28;" title="alhpa"></span>




        </p>
        
      
        
        <p class="vf-text">
          <a class="vf-link" href="vf-article-meta-information.html">Article Meta Information</a>
          



<span class="vf-badge vf-badge--square" style="background-color: #DC0A28;" title="alhpa"></span>




        </p>
        
      
        
      
        
      
        
      
        
      
        
      
        
        <p class="vf-text">
          <a class="vf-link" href="vf-breadcrumbs.html">Breadcrumbs</a>
          



<span class="vf-badge vf-badge--square" style="background-color: #DC0A28;" title="alhpa"></span>




        </p>
        
      
        
      
        
        <p class="vf-text">
          <a class="vf-link" href="vf-code-example.html">Code Example</a>
          



<span class="vf-badge vf-badge--square" style="background-color: #DC0A28;" title="alhpa"></span>




        </p>
        
      
        
      
        
      
        
      
        
        <p class="vf-text">
          <a class="vf-link" href="vf-data-protection-banner.html">Data Protection</a>
          



<span class="vf-badge vf-badge--square" style="background-color: #DC0A28;" title="alhpa"></span>




        </p>
        
      
        
      
        
      
        
        <p class="vf-text">
          <a class="vf-link" href="vf-factoid.html">Factoid</a>
          



<span class="vf-badge vf-badge--square" style="background-color: #DC0A28;" title="alhpa"></span>




        </p>
        
      
        
      
        
      
        
        <p class="vf-text">
          <a class="vf-link" href="vf-font-plex-mono.html">Plex Mono Font</a>
          



<span class="vf-badge vf-badge--square" style="background-color: #DC0A28;" title="alhpa"></span>




        </p>
        
      
        
        <p class="vf-text">
          <a class="vf-link" href="vf-font-plex-sans.html">Plex Sans Font</a>
          



<span class="vf-badge vf-badge--square" style="background-color: #DC0A28;" title="alhpa"></span>




        </p>
        
      
        
        <p class="vf-text">
          <a class="vf-link" href="vf-footer.html">Footer</a>
          



<span class="vf-badge vf-badge--square" style="background-color: #DC0A28;" title="alhpa"></span>




        </p>
        
      
        
        <p class="vf-text">
          <a class="vf-link" href="vf-form.html">Vf Form</a>
          



<span class="vf-badge vf-badge--square" style="background-color: #DC0A28;" title="alhpa"></span>




        </p>
        
      
        
        <p class="vf-text">
          <a class="vf-link" href="vf-global-header.html">Global Header</a>
          



<span class="vf-badge vf-badge--square" style="background-color: #DC0A28;" title="alhpa"></span>




        </p>
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
        <p class="vf-text">
          <a class="vf-link" href="vf-link-list.html">Links List</a>
          



<span class="vf-badge vf-badge--square" style="background-color: #DC0A28;" title="alhpa"></span>




        </p>
        
      
        
      
        
      
        
        <p class="vf-text">
          <a class="vf-link" href="vf-masthead.html">Masthead</a>
          



<span class="vf-badge vf-badge--square" style="background-color: #DC0A28;" title="alhpa"></span>




        </p>
        
      
        
        <p class="vf-text">
          <a class="vf-link" href="vf-navigation.html">Navigation</a>
          



<span class="vf-badge vf-badge--square" style="background-color: #DC0A28;" title="alhpa"></span>




        </p>
        
      
        
      
        
      
        
      
        
        <p class="vf-text">
          <a class="vf-link" href="vf-page-header.html">Page Header</a>
          



<span class="vf-badge vf-badge--square" style="background-color: #DC0A28;" title="alhpa"></span>




        </p>
        
      
        
      
        
      
        
        <p class="vf-text">
          <a class="vf-link" href="vf-section-header.html">Section Header</a>
          



<span class="vf-badge vf-badge--square" style="background-color: #DC0A28;" title="alhpa"></span>




        </p>
        
      
        
      
        
        <p class="vf-text">
          <a class="vf-link" href="vf-summary.html">Summary</a>
          



<span class="vf-badge vf-badge--square" style="background-color: #DC0A28;" title="alhpa"></span>




        </p>
        
      
        
      
        
        <p class="vf-text">
          <a class="vf-link" href="vf-tabs.html">Tabs</a>
          



<span class="vf-badge vf-badge--square" style="background-color: #DC0A28;" title="alhpa"></span>




        </p>
        
      
        
      
        
      
        
      
        
        <p class="vf-text">
          <a class="vf-link" href="vf-video.html">Video</a>
          



<span class="vf-badge vf-badge--square" style="background-color: #DC0A28;" title="alhpa"></span>




        </p>
        
      
        
      
        
        <p class="vf-text">
          <a class="vf-link" href="vf-video-teaser.html">Video Teaser</a>
          



<span class="vf-badge vf-badge--square" style="background-color: #DC0A28;" title="alhpa"></span>




        </p>
        
      
    </div>
  </section>
</section>
<hr class="vf-divider vf-u-margin__bottom-xl vf-u-margin__top-xl">



<section class="embl-grid embl-grid--with-label">
  <section data-description="label area">
    <h4 class="vf-text vf-text--heading-s">
      Container
      <a id="container"></a>
    </h4>
    <p class="vf-text--body vf-text--body-r">
      More complex patterns that sometimes have specific layout, like page intros, mastheads, news sections and so on.
    </p>
  </section>
  <section data-description="pattern list">
    <div class="vf-grid vf-grid__col-3">
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
        <p class="vf-text">
          <a class="vf-link" href="vf-activity-group.html">Acivity List Group</a>
          



<span class="vf-badge vf-badge--square" style="background-color: #DC0A28;" title="alhpa"></span>




        </p>
        
      
        
      
        
      
        
      
        
        <p class="vf-text">
          <a class="vf-link" href="vf-banner.html">Banner</a>
          



<span class="vf-badge vf-badge--square" style="background-color: #DC0A28;" title="alhpa"></span>




        </p>
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
        <p class="vf-text">
          <a class="vf-link" href="vf-content.html">Content</a>
          



<span class="vf-badge vf-badge--square" style="background-color: #DC0A28;" title="alhpa"></span>




        </p>
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
        <p class="vf-text">
          <a class="vf-link" href="vf-header.html">Site Header</a>
          



<span class="vf-badge vf-badge--square" style="background-color: #DC0A28;" title="alhpa"></span>




        </p>
        
      
        
      
        
        <p class="vf-text">
          <a class="vf-link" href="vf-intro.html">Intro</a>
          



<span class="vf-badge vf-badge--square" style="background-color: #DC0A28;" title="alhpa"></span>




        </p>
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
        <p class="vf-text">
          <a class="vf-link" href="vf-news-container.html">News Container</a>
          



<span class="vf-badge vf-badge--square" style="background-color: #DC0A28;" title="alhpa"></span>




        </p>
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
        <p class="vf-text">
          <a class="vf-link" href="vf-summary-container.html">Summary Container</a>
          



<span class="vf-badge vf-badge--square" style="background-color: #DC0A28;" title="alhpa"></span>




        </p>
        
      
        
      
        
      
        
      
        
      
        
      
        
        <p class="vf-text">
          <a class="vf-link" href="vf-video-container.html">Video Container</a>
          



<span class="vf-badge vf-badge--square" style="background-color: #DC0A28;" title="alhpa"></span>




        </p>
        
      
        
      
    </div>
  </section>
</section>
<hr class="vf-divider vf-u-margin__bottom-xl vf-u-margin__top-xl">



<section class="embl-grid embl-grid--with-label">
  <section data-description="label area">
    <h4 class="vf-text vf-text--heading-s">
      Boilerplates
      <a id="boilerplate"></a>
    </h4>
    <p class="vf-text--body vf-text--body-r">
      Whole-page templates that are a collection of many patterns.
    </p>
  </section>
  <section data-description="pattern list">
    <div class="vf-grid vf-grid__col-3">
      
        
        <p class="vf-text">
          <a class="vf-link" href="embl-boilerplate-page.html">EMBL Boilerplate</a>
          



<span class="vf-badge vf-badge--square" style="background-color: #DC0A28;" title="alhpa"></span>




        </p>
        
      
        
      
        
      
        
      
        
      
        
        <p class="vf-text">
          <a class="vf-link" href="embl-group-page.html">EMBL Group</a>
          



<span class="vf-badge vf-badge--square" style="background-color: #DC0A28;" title="alhpa"></span>




        </p>
        
      
        
      
        
        <p class="vf-text">
          <a class="vf-link" href="embl-subsite-page.html">EMBL Subsite</a>
          



<span class="vf-badge vf-badge--square" style="background-color: #DC0A28;" title="alhpa"></span>




        </p>
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
        <p class="vf-text">
          <a class="vf-link" href="vf-boilerplate-page.html">VF Boilerplate</a>
          



<span class="vf-badge vf-badge--square" style="background-color: #DC0A28;" title="alhpa"></span>




        </p>
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
    </div>
  </section>
</section>
<hr class="vf-divider vf-u-margin__bottom-xl vf-u-margin__top-xl">



<section class="embl-grid embl-grid--with-label">
  <section data-description="label area">
    <h4 class="vf-text vf-text--heading-s">
      Deprecated
      <a id="deprecated"></a>
    </h4>
    <p class="vf-text--body vf-text--body-r">
      These patterns are no longer maintained.
    </p>
  </section>
  <section data-description="pattern list">
    <div class="vf-grid vf-grid__col-3">
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
        <p class="vf-text">
          <a class="vf-link" href="vf-contact.html">Contact</a>
          



<span class="vf-badge vf-badge--square" style="background-color: #707372;" title="deprecated"></span>




        </p>
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
        <p class="vf-text">
          <a class="vf-link" href="vf-job-description.html">Job Description</a>
          



<span class="vf-badge vf-badge--square" style="background-color: #707372;" title="deprecated"></span>




        </p>
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
        <p class="vf-text">
          <a class="vf-link" href="vf-news-item.html">News Item</a>
          



<span class="vf-badge vf-badge--square" style="background-color: #707372;" title="deprecated"></span>




        </p>
        
      
        
      
        
      
        
      
        
      
        
      
        
        <p class="vf-text">
          <a class="vf-link" href="vf-snippet.html">Snippet</a>
          



<span class="vf-badge vf-badge--square" style="background-color: #707372;" title="deprecated"></span>




        </p>
        
      
        
      
        
      
        
      
        
        <p class="vf-text">
          <a class="vf-link" href="vf-tag.html">Tags</a>
          



<span class="vf-badge vf-badge--square" style="background-color: #707372;" title="deprecated"></span>




        </p>
        
      
        
      
        
      
        
      
        
      
        
      
    </div>
  </section>
</section>
<hr class="vf-divider vf-u-margin__bottom-xl vf-u-margin__top-xl">


      </div>

      

    
  </div>
</div>


    

</div>


</section>




<!--<script src="../../themes/mandelbrot/js/mandelbrot.js?cachebust=1.2.0"></script>-->


<script src="https://dev.assets.emblstatic.net/vf/scripts/scripts.js?cachebust=1.2.0"></script>


<script>
  var resizeIframeChecks = 0;
  function resizeIframe(obj) {
    var obj = obj || document.getElementsByClassName("Preview-iframe")[0];
    var newHeight = obj.contentWindow.document.body.scrollHeight;
    if (newHeight < 10) {
      if (resizeIframeChecks < 2) {
        // if less than 10px high, that's weird check again. maybe some JS is at play?
        setTimeout(resizeIframe, 1000);
        resizeIframeChecks ++;
      }
    } else {
      obj.style.height = newHeight + 'px';
    }
  }
</script>


</body>
</html>
