<!DOCTYPE html>
<html lang="en" dir="ltr" class="vf-no-js">
<head>
  <script>
// Detect if JS is on and swap vf-no-js for vf-js on the html element
(function(H){H.className=H.className.replace(/\bvf-no-js\b/,'vf-js')})(document.documentElement);
</script>

  <title>Preview: Default component | Visual Framework 2.0</title>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, minimum-scale=1" name="viewport">
  <link rel="apple-touch-icon" sizes="180x180" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/favicon-16x16.png">
<link rel="manifest" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/site.webmanifest">
<link rel="mask-icon" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/safari-pinned-tab.svg" color="#ffffff">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

  
  
  <script>
  window.frctl = {
    env: 'static'
  };
  </script>
  
<link rel="stylesheet" href="https://dev.assets.emblstatic.net/vf/develop/css/styles.css" type="text/css">


<link rel="stylesheet" href="../../themes/vf-frctl-theme/css/default.css?cachebust=0.0.1" type="text/css">


</head>
<body>


<header class="vf-header">
  <div class="vf-global-header">

    <div class="vf-global-header__inner">
      <a href="../../index.html"

class="vf-logo--responsive">
  <span class="vf-sr-only">Visual Framework 2.0</span>
</a>


      <nav class="vf-navigation vf-navigation--global">
        <ul class="vf-navigation__list | vf-list--inline">
          <li class="vf-navigation__item">
            <a href="https://visual-framework.github.io/vf-welcome/" class="vf-navigation__link">About the Visual Framework</a>
          </li>
          <li class="vf-navigation__item">
            <a href="https://visual-framework.github.io/vf-welcome/documentation" class="vf-navigation__link">Documentation</a>
          </li>
          <li class="vf-navigation__item">
            <a href="https://discord.gg/XHAvkUX" class="vf-navigation__link">Help, chat</a>
          </li>
        </ul>
      </nav>

    </div>

  </div>
</header>


<section class="Frame-body" data-role="body">
  


    
    

<div class="Pen" data-behaviour="pen" id="pen-73885f6f5b7f7e7eed16318d5e89b397">

  

  <div class="vf-body">
<header class="vf-grid vf-page-header | vf-u-padding--lg">
  <h1 class="vf-page-header__heading | vf-text vf-text-heading-2 vf-text--has-tag">
    Preview: Default
    



<span class="vf-badge" style="margin-right: 8px; position: relative; top: 1px; background-color: #DC0A28; border-color: #DC0A28;">alhpa</span>




  </h1>
</header>
</div>


  <div class="vf-body">
  <div class="vf-grid">
    <div>

    
    
    
    
        <div class="vf-tabs">
          <ul class="vf-tabs__list">
            <li class="vf-tabs__item">
              This component has variants:
            </li>
            

              
                <a class="vf-tabs__link is-active" href="#is-active">
                  Default
                </a>
               

            

              
                 
               

            

              
                 
               

            
          </ul>

      </div>

    
    </div>
  </div>
</div>



  <div class="Pen-panel Pen-preview Preview" data-behaviour="preview" id="preview-73885f6f5b7f7e7eed16318d5e89b397">
      <div class="Preview-wrapper" data-role="resizer-disabled">
        
         <iframe
            class="Preview-iframe"
            data-role="window"
            src="../preview/preview--default.html"
            sandbox="allow-same-origin allow-scripts allow-forms"

            marginwidth="0" marginheight="0" frameborder="1" vspace="0" hspace="0" scrolling="yes"
            onload="resizeIframe(this)"
          >
        </iframe>
        <div class="vf-body">
          <div class="vf-grid">
            <p class="vf-figure__caption">
              Open the above preview in a new window:
              <a href="../preview/preview--default.html"><span>With layout</span> Open</a>
              <a href="../render/preview--default.html"><span>Component only</span> Open</a>
            </p>
          </div>
        </div>

      </div>
  </div>


  <div class="vf-body">
  <div class="vf-grid vf-grid__col-1">

    <div class="component-info">
      
      <p class="Browser-isEmptyNote">There are no notes for this item.</p>
      

      <div class="Pen-panel Pen-info" data-role="info">
      <div class="">

  
  <h3 class="vf-text vf-text-heading--4">Component information</h3>
<ul class="vf-list vf-list--unordered">
    <li class="vf-list__item">
        Handle: @preview--default
    </li>
    
    <li class="vf-list__item">
        Filesystem path: components/_previews/_preview.njk
    </li>
    
    <li class="vf-list__item">
      References (2):
      
        <a href="vf-no-js.html">@vf-no-js</a>, 
      
        <a href="vf-favicon.html">@vf-favicon</a>
      
    </li>
    
    
</ul>


  

<h3 class="vf-text vf-text-heading--4">Code example</h3>

  
  <pre class="vf-code-example__pre"><code class="Code Code--lang-html vf-code-example"><span class="hljs-meta">&lt;!DOCTYPE html&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">html</span> <span class="hljs-attr">lang</span>=<span class="hljs-string">"en"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"vf-no-js"</span>&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-name">head</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">script</span>&gt;</span><span class="javascript">
        <span class="hljs-comment">// Detect if JS is on and swap vf-no-js for vf-js on the html element</span>
        (<span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">H</span>) </span>{
            H.className = H.className.replace(<span class="hljs-regexp">/\bvf-no-js\b/</span>, <span class="hljs-string">'vf-js'</span>)
        })(<span class="hljs-built_in">document</span>.documentElement);
    </span><span class="hljs-tag">&lt;/<span class="hljs-name">script</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">title</span>&gt;</span> | Visual Framework 2.0<span class="hljs-tag">&lt;/<span class="hljs-name">title</span>&gt;</span>

    <span class="hljs-tag">&lt;<span class="hljs-name">meta</span> <span class="hljs-attr">charset</span>=<span class="hljs-string">"utf-8"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">meta</span> <span class="hljs-attr">content</span>=<span class="hljs-string">"width=device-width, initial-scale=1, minimum-scale=1"</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"viewport"</span>&gt;</span>

    <span class="hljs-tag">&lt;<span class="hljs-name">link</span> <span class="hljs-attr">rel</span>=<span class="hljs-string">"apple-touch-icon"</span> <span class="hljs-attr">sizes</span>=<span class="hljs-string">"180x180"</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/apple-touch-icon.png"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">link</span> <span class="hljs-attr">rel</span>=<span class="hljs-string">"icon"</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"image/png"</span> <span class="hljs-attr">sizes</span>=<span class="hljs-string">"32x32"</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/favicon-32x32.png"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">link</span> <span class="hljs-attr">rel</span>=<span class="hljs-string">"icon"</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"image/png"</span> <span class="hljs-attr">sizes</span>=<span class="hljs-string">"16x16"</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/favicon-16x16.png"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">link</span> <span class="hljs-attr">rel</span>=<span class="hljs-string">"manifest"</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/site.webmanifest"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">link</span> <span class="hljs-attr">rel</span>=<span class="hljs-string">"mask-icon"</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/safari-pinned-tab.svg"</span> <span class="hljs-attr">color</span>=<span class="hljs-string">"#ffffff"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">meta</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"msapplication-TileColor"</span> <span class="hljs-attr">content</span>=<span class="hljs-string">"#ffffff"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">meta</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"theme-color"</span> <span class="hljs-attr">content</span>=<span class="hljs-string">"#ffffff"</span>&gt;</span>

    <span class="hljs-tag">&lt;<span class="hljs-name">link</span> <span class="hljs-attr">rel</span>=<span class="hljs-string">"stylesheet"</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"https://dev.assets.emblstatic.net/vf/develop/css/styles.css"</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">head</span>&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-name">body</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"vf-body"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"vf-grid"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"vf-component__container"</span>&gt;</span>

        <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>

    <span class="hljs-tag">&lt;<span class="hljs-name">script</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"../../scripts/scripts.js"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">script</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">body</span>&gt;</span>

<span class="hljs-tag">&lt;/<span class="hljs-name">html</span>&gt;</span>
</code></pre>
  

<hr class="vf-divider vf-u-margin__bottom--md vf-u-margin__top--md">



  <div class="vf-grid vf-grid__col-3">
    <div class="vf-grid__col--span-3">
      <hr class="vf-divider vf-u-margin__bottom--md vf-u-margin__top--md">
    </div>
    <div class="vf-grid__col--span-3">
      




    </div>
  </div>

</div>

      </div>
    </div>

    <!-- List all the components at the footer -->
    
      
      <div>
      
<a id="components"></a>
<h1 class="vf-text vf-text-heading--1 vf-text--invert">All the components </h1>




<section class="vf-grid">
  <section data-description="label area" style="grid-column: 1 / -1;">
    <h4 class="vf-text vf-text-heading--5">
      Grids
      <a id="grid"></a>
    </h4>
    <p class="vf-text--body vf-text-body--3">
      Put stuff in columns.
    </p>
  </section>
  <section data-description="component list" class="vf-grid vf-grid__col-4" style="grid-column: 1 / -1;">
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-grid.html">Grid</a>
        </p>
        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-grid-page.html">Page Grid</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-inlay.html">Inlay</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      
  </section>
</section>
<hr class="vf-divider vf-u-margin__bottom--md vf-u-margin__top--md">



<section class="vf-grid">
  <section data-description="label area" style="grid-column: 1 / -1;">
    <h4 class="vf-text vf-text-heading--5">
      Elements
      <a id="element"></a>
    </h4>
    <p class="vf-text--body vf-text-body--3">
      The micro elements of the component library.
    </p>
  </section>
  <section data-description="component list" class="vf-grid vf-grid__col-4" style="grid-column: 1 / -1;">
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-badge.html">Badges</a>
        </p>
        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-blockquote.html">Blockquote</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-button.html">Button</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-componenet-rollup.html">Visual Framework Componet Rollup</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-divider.html">Divider</a>
        </p>
        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-favicon.html">Favicon</a>
        </p>
        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-figure.html">Figure</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-heading.html">Headings</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-link.html">Link</a>
        </p>
        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-list.html">Lists</a>
        </p>
        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-logo.html">Logo</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-no-js.html">No JS</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-text.html">Text</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      
  </section>
</section>
<hr class="vf-divider vf-u-margin__bottom--md vf-u-margin__top--md">



<section class="vf-grid">
  <section data-description="label area" style="grid-column: 1 / -1;">
    <h4 class="vf-text vf-text-heading--5">
      Blocks
      <a id="block"></a>
    </h4>
    <p class="vf-text--body vf-text-body--3">
      Simple components like sections headers, galleries and so on.
    </p>
  </section>
  <section data-description="component list" class="vf-grid vf-grid__col-4" style="grid-column: 1 / -1;">
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-activity-list.html">Activity List</a>
        </p>
        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-article-meta-information.html">Article Meta Information</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-box.html">Box</a>
        </p>
        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-breadcrumbs.html">Breadcrumbs</a>
        </p>
        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-card.html">Card</a>
        </p>
        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-code-example.html">Code Example</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-discussion.html">Discussion</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-font-plex-mono.html">Plex Mono Font</a>
        </p>
        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-font-plex-sans.html">Plex Sans Font</a>
        </p>
        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-footer.html">Footer</a>
        </p>
        
      

        
        
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-global-header.html">Global Header</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-lede.html">Lede</a>
        </p>
        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-link-list.html">Links List</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-masthead.html">Masthead</a>
        </p>
        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-navigation.html">Navigation</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-page-header.html">Page Header</a>
        </p>
        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-pagination.html">Pagination</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-search.html">Search</a>
        </p>
        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-section-header.html">Section Header</a>
        </p>
        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-summary.html">Summary</a>
        </p>
        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-tabs.html">Tabs</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-video.html">Video</a>
        </p>
        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-video-teaser.html">Video Teaser</a>
        </p>
        
      
  </section>
</section>
<hr class="vf-divider vf-u-margin__bottom--md vf-u-margin__top--md">



<section class="vf-grid">
  <section data-description="label area" style="grid-column: 1 / -1;">
    <h4 class="vf-text vf-text-heading--5">
      Container
      <a id="container"></a>
    </h4>
    <p class="vf-text--body vf-text-body--3">
      More complex components that sometimes have specific layout, like page intros, mastheads, news sections and so on.
    </p>
  </section>
  <section data-description="component list" class="vf-grid vf-grid__col-4" style="grid-column: 1 / -1;">
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-activity-group.html">Acivity List Group</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-banner.html">Banner</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-content.html">Content</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        
          
            
          
            
              <p class="vf-text">
                <a class="vf-link--secondary" href="vf-form__core.html">Forms</a>
              </p>
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-header.html">Site Header</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-intro.html">Intro</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-news-container.html">News Container</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-sass-utilities.html">Sass utilities</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-summary-container.html">Summary Container</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-utility-classes.html">Utility classes</a>
        </p>
        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-video-container.html">Video Container</a>
        </p>
        
      

        
        

        
      
  </section>
</section>
<hr class="vf-divider vf-u-margin__bottom--md vf-u-margin__top--md">



<section class="vf-grid">
  <section data-description="label area" style="grid-column: 1 / -1;">
    <h4 class="vf-text vf-text-heading--5">
      Boilerplates
      <a id="boilerplate"></a>
    </h4>
    <p class="vf-text--body vf-text-body--3">
      Whole-page templates that are a collection of many components.
    </p>
  </section>
  <section data-description="component list" class="vf-grid vf-grid__col-4" style="grid-column: 1 / -1;">
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-boilerplate-page.html">VF Boilerplate</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      
  </section>
</section>
<hr class="vf-divider vf-u-margin__bottom--md vf-u-margin__top--md">



<section class="vf-grid">
  <section data-description="label area" style="grid-column: 1 / -1;">
    <h4 class="vf-text vf-text-heading--5">
      EMBL Grids
      <a id="embl-grid"></a>
    </h4>
    <p class="vf-text--body vf-text-body--3">
      EMBLs way to put stuff in columns.
    </p>
  </section>
  <section data-description="component list" class="vf-grid vf-grid__col-4" style="grid-column: 1 / -1;">
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="embl-grid.html">EMBL Grid</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      
  </section>
</section>
<hr class="vf-divider vf-u-margin__bottom--md vf-u-margin__top--md">



<section class="vf-grid">
  <section data-description="label area" style="grid-column: 1 / -1;">
    <h4 class="vf-text vf-text-heading--5">
      EMBL Elements
      <a id="embl-element"></a>
    </h4>
    <p class="vf-text--body vf-text-body--3">
      EMBLs micro elements of the component library.
    </p>
  </section>
  <section data-description="component list" class="vf-grid vf-grid__col-4" style="grid-column: 1 / -1;">
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="embl-conditional-edit.html">EMBL Conditional Edit</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="embl-logo.html">EMBL Logo</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      
  </section>
</section>
<hr class="vf-divider vf-u-margin__bottom--md vf-u-margin__top--md">



<section class="vf-grid">
  <section data-description="label area" style="grid-column: 1 / -1;">
    <h4 class="vf-text vf-text-heading--5">
      EMBL Blocks
      <a id="embl-block"></a>
    </h4>
    <p class="vf-text--body vf-text-body--3">
      Simple components from EMBL like sections headers, galleries and so on.
    </p>
  </section>
  <section data-description="component list" class="vf-grid vf-grid__col-4" style="grid-column: 1 / -1;">
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="embl-breadcrumbs-lookup.html">EMBL Breadcrumbs</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="embl-content-meta-properties.html">EMBL Content meta properties</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      
  </section>
</section>
<hr class="vf-divider vf-u-margin__bottom--md vf-u-margin__top--md">



<section class="vf-grid">
  <section data-description="label area" style="grid-column: 1 / -1;">
    <h4 class="vf-text vf-text-heading--5">
      EMBL Containers
      <a id="embl-container"></a>
    </h4>
    <p class="vf-text--body vf-text-body--3">
      More complex EMBL components that sometimes have specific layout, like page intros, mastheads, news sections and so on.
    </p>
  </section>
  <section data-description="component list" class="vf-grid vf-grid__col-4" style="grid-column: 1 / -1;">
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="embl-content-hub-loader.html">EMBL ContentHub Loader</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      
  </section>
</section>
<hr class="vf-divider vf-u-margin__bottom--md vf-u-margin__top--md">



<section class="vf-grid">
  <section data-description="label area" style="grid-column: 1 / -1;">
    <h4 class="vf-text vf-text-heading--5">
      EMBL Boilerplates
      <a id="embl-boilerplate"></a>
    </h4>
    <p class="vf-text--body vf-text-body--3">
      Whole-page templates that are a collection of many components.
    </p>
  </section>
  <section data-description="component list" class="vf-grid vf-grid__col-4" style="grid-column: 1 / -1;">
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="embl-subsite-page.html">EMBL Subsite</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      
  </section>
</section>
<hr class="vf-divider vf-u-margin__bottom--md vf-u-margin__top--md">



<section class="vf-grid">
  <section data-description="label area" style="grid-column: 1 / -1;">
    <h4 class="vf-text vf-text-heading--5">
      Deprecated
      <a id="deprecated"></a>
    </h4>
    <p class="vf-text--body vf-text-body--3">
      These components are no longer maintained.
    </p>
  </section>
  <section data-description="component list" class="vf-grid vf-grid__col-4" style="grid-column: 1 / -1;">
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-deprecated.html">Deprecated pattern</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      
  </section>
</section>
<hr class="vf-divider vf-u-margin__bottom--md vf-u-margin__top--md">


      </div>
    
  </div>
</div>


  

</div>


</section>



<!--<script src="../../themes/vf-frctl-theme/js/vf-frctl-theme.js?cachebust=0.0.1"></script>-->


<script src="https://dev.assets.emblstatic.net/vf/develop/scripts/scripts.js"></script>


<script>
  var resizeIframeChecks = 0;
  function resizeIframe(obj) {
    var obj = obj || document.getElementsByClassName("Preview-iframe")[0];
    var newHeight = obj.contentWindow.document.body.scrollHeight;
    if (newHeight < 10) {
      if (resizeIframeChecks < 2) {
        // if less than 10px high, that's weird check again. maybe some JS is at play?
        setTimeout(resizeIframe, 1000);
        resizeIframeChecks ++;
      }
    } else {
      obj.style.height = newHeight + 'px';
    }
  }
</script>

</body>
</html>
