<!DOCTYPE html>
<html lang="en" dir="ltr" class="vf-no-js">
<head>
  <script>
// Detect if JS is on and swap vf-no-js for vf-js on the html element
(function(H){H.className=H.className.replace(/\bvf-no-js\b/,'vf-js')})(document.documentElement);
</script>

  <title>Preview: Fullhtml pattern | Visual Framework 2.0</title>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, minimum-scale=1" name="viewport">
  <link rel="apple-touch-icon" sizes="180x180" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/favicon-16x16.png">
<link rel="manifest" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/site.webmanifest">
<link rel="mask-icon" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/safari-pinned-tab.svg" color="#ffffff">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

  
  
  <script>
  window.frctl = {
    env: 'static'
  };
  </script>
  
<link rel="stylesheet" href="https://dev.assets.emblstatic.net/vf/develop/css/styles.css?cachebust=0.0.1" type="text/css">


<link rel="stylesheet" href="../../themes/vf-frctl-theme/css/default.css?cachebust=0.0.1" type="text/css">


</head>
<body>


<header class="vf-header">
  <div class="vf-global-header">
    <div class="vf-global-header__inner">
      <a href="/" class="vf-logo--responsive"></a>

      <p class="vf-global-header__site-name">Visual Framework 2.0</p>
    </div>
  </div>
</header>


<section class="Frame-body" data-role="body">
<!--
embl-grid embl-grid--has-sidebar
-->
  


    
    

<div class="Pen" data-behaviour="pen" id="pen-c3067f85bd3d463ece8750516aa90b66">

  

  <div class="vf-body">
<header class="vf-grid vf-page-header | vf-u-padding-l">
  <h1 class="vf-page-header__heading | vf-text vf-text--heading-l vf-text--has-tag">
    Preview: Fullhtml
    



<span class="vf-badge" style="margin-right: 8px; position: relative; top: 1px; background-color: #DC0A28; border-color: #DC0A28;">alhpa</span>




  </h1>
</header>
</div>


  <div class="vf-body">
  <div class="vf-grid">
    <div>

    
    
    
    
        <div class="vf-tabs">
          <ul class="vf-tabs__list">
            <li class="vf-tabs__item">
              This pattern has variants:
            </li>
            

              
                 
               

            

              
                 
               

            

              
                <a class="vf-tabs__link is-active" href="#is-active">
                  Fullhtml
                </a>
               

            

              
                 
               

            

              
                 
               

            
          </ul>

      </div>

    
    </div>
  </div>
</div>



  <div class="Pen-panel Pen-preview Preview" data-behaviour="preview" id="preview-c3067f85bd3d463ece8750516aa90b66">
      <div class="Preview-wrapper" data-role="resizer-disabled">
        
         <iframe
            class="Preview-iframe"
            data-role="window"
            src="../preview/preview--fullhtml.html"
            sandbox="allow-same-origin allow-scripts allow-forms"

            marginwidth="0" marginheight="0" frameborder="1" vspace="0" hspace="0" scrolling="yes"
            onload="resizeIframe(this)"
          >
        </iframe>
        <div class="vf-body">
          <div class="vf-grid">
            <p class="vf-figure__caption">
              Open the above preview in a new window:
              <a href="../preview/preview--fullhtml.html"><span>With layout</span> Open</a>
              <a href="../render/preview--fullhtml.html"><span>Component only</span> Open</a>
            </p>
          </div>
        </div>

      </div>
  </div>


  <div class="vf-body">
  <div class="vf-grid vf-grid__col-1">

    <div class="pattern-info">
      
      <p class="Browser-isEmptyNote">There are no notes for this item.</p>
      

      <div class="Pen-panel Pen-info" data-role="info">
      <div class="">

  
  <h3 class="vf-text vf-text--heading-r">Pattern information</h3>
<ul class="vf-list vf-list--unordered">
    <li class="vf-list__item">
        Handle: @preview--fullhtml
    </li>
    
    <li class="vf-list__item">
        Filesystem path: components/_previews/_preview--fullhtml.njk
    </li>
    
    
</ul>


  

<h3 class="vf-text vf-text--heading-r">Code example</h3>
<code class="Code Code--lang-html vf-code-example">
  
  <pre class="vf-code-example__pre">


{{ yield | safe }}


  </pre>
  
</code>
<hr class="vf-divider vf-u-margin__bottom-r vf-u-margin__top-r">



  <div class="vf-grid vf-grid__col-3">
    <div class="vf-grid__col--span-3">
      <hr class="vf-divider vf-u-margin__bottom-r vf-u-margin__top-r">
    </div>
    <div class="vf-grid__col--span-3">
      


    </div>
  </div>

</div>

      </div>
    </div>

    <!-- List all the patterns at the footer -->
    
      <div>
      

<h1 class="vf-text vf-text--heading-xl vf-text--invert">All the patterns</h1>




<section class="vf-grid">
  <section data-description="label area" style="grid-column: 1 / -1;">
    <h4 class="vf-text vf-text--heading-s">
      Grids
      <a id="grid"></a>
    </h4>
    <p class="vf-text--body vf-text--body-r">
      Put stuff in columns.
    </p>
  </section>
  <section data-description="pattern list" class="vf-grid vf-grid__col-4" style="grid-column: 1 / -1;">
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        
          
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-grid.html">Grid</a>
        </p>
        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-grid-page.html">Page Grid</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-inlay.html">Inlay</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      
  </section>
</section>
<hr class="vf-divider vf-u-margin__bottom-r vf-u-margin__top-r">



<section class="vf-grid">
  <section data-description="label area" style="grid-column: 1 / -1;">
    <h4 class="vf-text vf-text--heading-s">
      Elements
      <a id="element"></a>
    </h4>
    <p class="vf-text--body vf-text--body-r">
      The micro elements of the pattern library.
    </p>
  </section>
  <section data-description="pattern list" class="vf-grid vf-grid__col-4" style="grid-column: 1 / -1;">
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-badge.html">Badges</a>
        </p>
        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-blockquote.html">Blockquote</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-button.html">Button</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        
          
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-divider.html">Divider</a>
        </p>
        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-favicon.html">Favicon</a>
        </p>
        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-figure.html">Figure</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-heading.html">Headings</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-link.html">Link</a>
        </p>
        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-list.html">Lists</a>
        </p>
        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-logo.html">Logo</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-no-js.html">No JS</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-text.html">Text</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      
  </section>
</section>
<hr class="vf-divider vf-u-margin__bottom-r vf-u-margin__top-r">



<section class="vf-grid">
  <section data-description="label area" style="grid-column: 1 / -1;">
    <h4 class="vf-text vf-text--heading-s">
      Blocks
      <a id="block"></a>
    </h4>
    <p class="vf-text--body vf-text--body-r">
      Simple patterns like sections headers, galleries and so on.
    </p>
  </section>
  <section data-description="pattern list" class="vf-grid vf-grid__col-4" style="grid-column: 1 / -1;">
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-activity-list.html">Activity List</a>
        </p>
        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-article-meta-information.html">Article Meta Information</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-box.html">Box</a>
        </p>
        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-breadcrumbs.html">Breadcrumbs</a>
        </p>
        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-code-example.html">Code Example</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        
          
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-discussion.html">Discussion</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-font-plex-mono.html">Plex Mono Font</a>
        </p>
        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-font-plex-sans.html">Plex Sans Font</a>
        </p>
        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-footer.html">Footer</a>
        </p>
        
      

        
        
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-global-header.html">Global Header</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-lede.html">Lede</a>
        </p>
        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-link-list.html">Links List</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-masthead.html">Masthead</a>
        </p>
        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-navigation.html">Navigation</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-page-header.html">Page Header</a>
        </p>
        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-pagination.html">Pagination</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-search.html">Search</a>
        </p>
        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-section-header.html">Section Header</a>
        </p>
        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-summary.html">Summary</a>
        </p>
        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-tabs.html">Tabs</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-video.html">Video</a>
        </p>
        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-video-teaser.html">Video Teaser</a>
        </p>
        
      
  </section>
</section>
<hr class="vf-divider vf-u-margin__bottom-r vf-u-margin__top-r">



<section class="vf-grid">
  <section data-description="label area" style="grid-column: 1 / -1;">
    <h4 class="vf-text vf-text--heading-s">
      Container
      <a id="container"></a>
    </h4>
    <p class="vf-text--body vf-text--body-r">
      More complex patterns that sometimes have specific layout, like page intros, mastheads, news sections and so on.
    </p>
  </section>
  <section data-description="pattern list" class="vf-grid vf-grid__col-4" style="grid-column: 1 / -1;">
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-activity-group.html">Acivity List Group</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-banner.html">Banner</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-content.html">Content</a>
        </p>
        
      

        
        
          
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        
          
            
          
            
              <p class="vf-text">
                <a class="vf-link--secondary" href="vf-form__core.html">Forms</a>
              </p>
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-header.html">Site Header</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-intro.html">Intro</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-news-container.html">News Container</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-summary-container.html">Summary Container</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-video-container.html">Video Container</a>
        </p>
        
      

        
        

        
      
  </section>
</section>
<hr class="vf-divider vf-u-margin__bottom-r vf-u-margin__top-r">



<section class="vf-grid">
  <section data-description="label area" style="grid-column: 1 / -1;">
    <h4 class="vf-text vf-text--heading-s">
      Boilerplates
      <a id="boilerplate"></a>
    </h4>
    <p class="vf-text--body vf-text--body-r">
      Whole-page templates that are a collection of many patterns.
    </p>
  </section>
  <section data-description="pattern list" class="vf-grid vf-grid__col-4" style="grid-column: 1 / -1;">
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-boilerplate-page.html">VF Boilerplate</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        
          
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      
  </section>
</section>
<hr class="vf-divider vf-u-margin__bottom-r vf-u-margin__top-r">



<section class="vf-grid">
  <section data-description="label area" style="grid-column: 1 / -1;">
    <h4 class="vf-text vf-text--heading-s">
      EMBL Grids
      <a id="embl-grid"></a>
    </h4>
    <p class="vf-text--body vf-text--body-r">
      EMBLs way to put stuff in columns.
    </p>
  </section>
  <section data-description="pattern list" class="vf-grid vf-grid__col-4" style="grid-column: 1 / -1;">
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="embl-grid.html">EMBL Grid</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        
          
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      
  </section>
</section>
<hr class="vf-divider vf-u-margin__bottom-r vf-u-margin__top-r">



<section class="vf-grid">
  <section data-description="label area" style="grid-column: 1 / -1;">
    <h4 class="vf-text vf-text--heading-s">
      EMBL Elements
      <a id="embl-element"></a>
    </h4>
    <p class="vf-text--body vf-text--body-r">
      EMBLs micro elements of the pattern library.
    </p>
  </section>
  <section data-description="pattern list" class="vf-grid vf-grid__col-4" style="grid-column: 1 / -1;">
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="embl-conditional-edit.html">EMBL Conditional Edit</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="embl-logo.html">EMBL Logo</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        
          
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      
  </section>
</section>
<hr class="vf-divider vf-u-margin__bottom-r vf-u-margin__top-r">



<section class="vf-grid">
  <section data-description="label area" style="grid-column: 1 / -1;">
    <h4 class="vf-text vf-text--heading-s">
      EMBL Blocks
      <a id="embl-block"></a>
    </h4>
    <p class="vf-text--body vf-text--body-r">
      Simple patterns from EMBL like sections headers, galleries and so on.
    </p>
  </section>
  <section data-description="pattern list" class="vf-grid vf-grid__col-4" style="grid-column: 1 / -1;">
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="embl-breadcrumbs-lookup.html">EMBL Breadcrumbs</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="embl-content-meta-properties.html">EMBL Content meta properties</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        
          
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      
  </section>
</section>
<hr class="vf-divider vf-u-margin__bottom-r vf-u-margin__top-r">



<section class="vf-grid">
  <section data-description="label area" style="grid-column: 1 / -1;">
    <h4 class="vf-text vf-text--heading-s">
      EMBL Containers
      <a id="embl-container"></a>
    </h4>
    <p class="vf-text--body vf-text--body-r">
      More complex EMBL patterns that sometimes have specific layout, like page intros, mastheads, news sections and so on.
    </p>
  </section>
  <section data-description="pattern list" class="vf-grid vf-grid__col-4" style="grid-column: 1 / -1;">
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="embl-content-hub-loader.html">EMBL ContentHub Loader</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        
          
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      
  </section>
</section>
<hr class="vf-divider vf-u-margin__bottom-r vf-u-margin__top-r">



<section class="vf-grid">
  <section data-description="label area" style="grid-column: 1 / -1;">
    <h4 class="vf-text vf-text--heading-s">
      EMBL Boilerplates
      <a id="embl-boilerplate"></a>
    </h4>
    <p class="vf-text--body vf-text--body-r">
      Whole-page templates that are a collection of many patterns.
    </p>
  </section>
  <section data-description="pattern list" class="vf-grid vf-grid__col-4" style="grid-column: 1 / -1;">
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="embl-boilerplate-page.html">EMBL Boilerplate</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="embl-group-page.html">EMBL Group</a>
        </p>
        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="embl-subsite-page.html">EMBL Subsite</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        
          
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      
  </section>
</section>
<hr class="vf-divider vf-u-margin__bottom-r vf-u-margin__top-r">



<section class="vf-grid">
  <section data-description="label area" style="grid-column: 1 / -1;">
    <h4 class="vf-text vf-text--heading-s">
      Deprecated
      <a id="deprecated"></a>
    </h4>
    <p class="vf-text--body vf-text--body-r">
      These patterns are no longer maintained.
    </p>
  </section>
  <section data-description="pattern list" class="vf-grid vf-grid__col-4" style="grid-column: 1 / -1;">
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-contact.html">Contact</a>
        </p>
        
      

        
        

        
      

        
        
          
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-data-protection-banner.html">Data Protection</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-factoid.html">Factoid</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-job-description.html">Job Description</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-news-item.html">News Item</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-snippet.html">Snippet</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-tag.html">Tags</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      
  </section>
</section>
<hr class="vf-divider vf-u-margin__bottom-r vf-u-margin__top-r">


      </div>
    
  </div>
</div>


  

</div>


</section>



<!--<script src="../../themes/vf-frctl-theme/js/vf-frctl-theme.js?cachebust=0.0.1"></script>-->


<script src="https://dev.assets.emblstatic.net/vf/develop/scripts/scripts.js?cachebust=0.0.1"></script>


<script>
  var resizeIframeChecks = 0;
  function resizeIframe(obj) {
    var obj = obj || document.getElementsByClassName("Preview-iframe")[0];
    var newHeight = obj.contentWindow.document.body.scrollHeight;
    if (newHeight < 10) {
      if (resizeIframeChecks < 2) {
        // if less than 10px high, that's weird check again. maybe some JS is at play?
        setTimeout(resizeIframe, 1000);
        resizeIframeChecks ++;
      }
    } else {
      obj.style.height = newHeight + 'px';
    }
  }
</script>

</body>
</html>
