<!DOCTYPE html>
<html lang="en" dir="ltr" class="vf-no-js">
<head>
  <script>
// Detect if JS is on and swap vf-no-js for vf-js on the html element
(function(H){H.className=H.className.replace(/\bvf-no-js\b/,'vf-js')})(document.documentElement);
</script>

  <title>No JS detection component | Visual Framework 2.0</title>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, minimum-scale=1" name="viewport">
  <link rel="apple-touch-icon" sizes="180x180" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/favicon-16x16.png">
<link rel="manifest" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/site.webmanifest">
<link rel="mask-icon" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/safari-pinned-tab.svg" color="#ffffff">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

  
  
  <script>
  window.frctl = {
    env: 'static'
  };
  </script>
  
<link rel="stylesheet" href="https://dev.assets.emblstatic.net/vf/develop/css/styles.css" type="text/css">


<link rel="stylesheet" href="../../themes/vf-frctl-theme/css/default.css?cachebust=0.0.1" type="text/css">


</head>
<body>


<header class="vf-header">
  <div class="vf-global-header">

    <div class="vf-global-header__inner">
      <a href="../../index.html"

class="vf-logo--responsive">
  <span class="vf-sr-only">Visual Framework 2.0</span>
</a>


      <nav class="vf-navigation vf-navigation--global">
        <ul class="vf-navigation__list | vf-list--inline">
          <li class="vf-navigation__item">
            <a href="https://visual-framework.github.io/vf-welcome/" class="vf-navigation__link">About the Visual Framework</a>
          </li>
          <li class="vf-navigation__item">
            <a href="https://visual-framework.github.io/vf-welcome/documentation" class="vf-navigation__link">Documentation</a>
          </li>
          <li class="vf-navigation__item">
            <a href="https://discord.gg/XHAvkUX" class="vf-navigation__link">Help, chat</a>
          </li>
        </ul>
      </nav>

    </div>

  </div>
</header>


<section class="Frame-body" data-role="body">
  


    
    

<div class="Pen" data-behaviour="pen" id="pen-be934c3c6d79b804313523f448971ded">

  

  <div class="vf-body">
<header class="vf-grid vf-page-header | vf-u-padding--lg">
  <h1 class="vf-page-header__heading | vf-text vf-text-heading-2 vf-text--has-tag">
    No JS detection
    



<span class="vf-badge" style="margin-right: 8px; position: relative; top: 1px; background-color: #19993B; border-color: #19993B;">live</span>




  </h1>
</header>
</div>


  <div class="vf-body">
  <div class="vf-grid">
    <div>

    
    
    
    
    </div>
  </div>
</div>



  <div class="Pen-panel Pen-preview Preview" data-behaviour="preview" id="preview-be934c3c6d79b804313523f448971ded">
      <div class="Preview-wrapper" data-role="resizer-disabled">
        
         <iframe
            class="Preview-iframe"
            data-role="window"
            src="../preview/vf-no-js.html"
            sandbox="allow-same-origin allow-scripts allow-forms"

            marginwidth="0" marginheight="0" frameborder="1" vspace="0" hspace="0" scrolling="yes"
            onload="resizeIframe(this)"
          >
        </iframe>
        <div class="vf-body">
          <div class="vf-grid">
            <p class="vf-figure__caption">
              Open the above preview in a new window:
              <a href="../preview/vf-no-js.html"><span>With layout</span> Open</a>
              <a href="../render/vf-no-js.html"><span>Component only</span> Open</a>
            </p>
          </div>
        </div>

      </div>
  </div>


  <div class="vf-body">
  <div class="vf-grid vf-grid__col-1">

    <div class="component-info">
      
      <div class="component-library-notes">
      <h1 id="no-js-component">No JS component</h1>
<p>Include this snippet directly in your <code>&lt;head&gt;</code> along with adding class <code>.vf-no-js</code> to your <code>&lt;html&gt;</code> (<code>&lt;html class=&quot;vf-no-js&quot;&gt;</code>).</p>
<p>If JS is enabled in a user’s browser, <code>.vf-no-js</code> will be swapped to <code>.vf-js</code>.</p>
<p>This method allows using CSS to conditionally show content.</p>
<pre><code class="language-css"><span class="hljs-selector-class">.vf-no-js</span> <span class="hljs-selector-class">.js-is-not-on</span> {
  <span class="hljs-comment">/* SHOW block that says you need js to use this site */</span>
}
<span class="hljs-selector-class">.vf-js</span> <span class="hljs-selector-class">.js-is-not-on</span> {
  <span class="hljs-comment">/* HIDE block that says you need js to use this site */</span>
}</code></pre>
      </div>
      

      <div class="Pen-panel Pen-info" data-role="info">
      <div class="">

  
  <h3 class="vf-text vf-text-heading--4">Component information</h3>
<ul class="vf-list vf-list--unordered">
    <li class="vf-list__item">
        Handle: @vf-no-js
    </li>
    
    <li class="vf-list__item">
        Filesystem path: components/vf-no-js/vf-no-js.njk
    </li>
    
    
    <li class="vf-list__item">
        Referenced by 4 components:
        
          <a href="embl-subsite-page.html">@embl-subsite-page</a>, 
        
          <a href="preview.html">@preview</a>, 
        
          <a href="preview--nogrid.html">@preview--nogrid</a>, 
        
          <a href="vf-boilerplate-page.html">@vf-boilerplate-page</a>
        
    </li>
    
</ul>


  

<h3 class="vf-text vf-text-heading--4">Code example</h3>

  
  <pre class="vf-code-example__pre"><code class="Code Code--lang-html vf-code-example"><span class="hljs-tag">&lt;<span class="hljs-name">script</span>&gt;</span><span class="javascript">
    <span class="hljs-comment">// Detect if JS is on and swap vf-no-js for vf-js on the html element</span>
    (<span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">H</span>) </span>{
        H.className = H.className.replace(<span class="hljs-regexp">/\bvf-no-js\b/</span>, <span class="hljs-string">'vf-js'</span>)
    })(<span class="hljs-built_in">document</span>.documentElement);
</span><span class="hljs-tag">&lt;/<span class="hljs-name">script</span>&gt;</span>
</code></pre>
  

<hr class="vf-divider vf-u-margin__bottom--md vf-u-margin__top--md">



  <div class="vf-grid vf-grid__col-3">
    <div class="vf-grid__col--span-3">
      <hr class="vf-divider vf-u-margin__bottom--md vf-u-margin__top--md">
    </div>
    <div class="vf-grid__col--span-3">
      


<h3 class="vf-text vf-text-heading--4">Resources and files</h3>

<div class="vf-tabs">
  <ul class="vf-tabs__list" data-vf-js-tabs>
    <!--<li class="vf-tabs__item">Component files</li>-->
    
      
      <li class="vf-tabs__item">
        <a class="vf-tabs__link" href="#vf-tabs__section--b29adac1b74da74acdf8cfe2829f982d">CHANGELOG.md</a>
      </li>
      
    
      
      <li class="vf-tabs__item">
        <a class="vf-tabs__link" href="#vf-tabs__section--056858286fb12384e9347132af7983b9">index.scss</a>
      </li>
      
    
      
      <li class="vf-tabs__item">
        <a class="vf-tabs__link" href="#vf-tabs__section--fa480106dea757b2065cc44e15461f7d">package.json</a>
      </li>
      
    
      
      <li class="vf-tabs__item">
        <a class="vf-tabs__link" href="#vf-tabs__section--1562f57377de50f80ce4a14e0dffa0da">vf-no-js.js</a>
      </li>
      
    
      
      <li class="vf-tabs__item">
        <a class="vf-tabs__link" href="#vf-tabs__section--f87e0641eaab4d76a223f93c00dab304">vf-no-js.scss</a>
      </li>
      
    
  </ul>
</div>

<div class="vf-tabs-content" data-vf-js-tabs-content>
  
    
    <section class="vf-tabs__section" id="vf-tabs__section--b29adac1b74da74acdf8cfe2829f982d">
      <div class="FileBrowser-itemPreview">
        
        <pre class="vf-code-example__pre">
          <code class="Code Code--lang-Markdown FileBrowser-code vf-code-example"><span class="hljs-section"># Change Log</span>

All notable changes to this project will be documented in this file.
See [<span class="hljs-string">Conventional Commits</span>](<span class="hljs-link">https://conventionalcommits.org</span>) for commit guidelines.

<span class="hljs-section"># 0.1.0</span>

<span class="hljs-section">### Added</span>
<span class="hljs-bullet">- </span>added this
<span class="hljs-bullet">- </span>added that

<span class="hljs-section">### Changes</span>
<span class="hljs-bullet">
- </span>changed this
<span class="hljs-bullet">- </span>changed that

<span class="hljs-section">### Removed</span>
<span class="hljs-bullet">
- </span>deleted this
<span class="hljs-bullet">- </span>deleted that
</code>
        </pre>
        
      </div>

      <h3 class="vf-text vf-text-heading--4">File information</h3>
      <ul class="vf-list vf-list--unordered">
        <li class="vf-list__item">
          URL:
          <a data-no-pjax href="../raw/vf-no-js/CHANGELOG.md">/components/raw/vf-no-js/CHANGELOG.md</a>
        </li>
        <li class="vf-list__item">
          Filesystem path: components/vf-no-js/CHANGELOG.md
        </li>
        <li class="vf-list__item">
          Size: 300 Bytes
        </li>
      </ul>
    </section>
    
  
    
    <section class="vf-tabs__section" id="vf-tabs__section--056858286fb12384e9347132af7983b9">
      <div class="FileBrowser-itemPreview">
        
        <pre class="vf-code-example__pre">
          <code class="Code Code--lang-SCSS FileBrowser-code vf-code-example"><span class="hljs-comment">// setup files required</span>

<span class="hljs-comment">// sass-lint:disable clean-import-paths</span>
@<span class="hljs-keyword">import</span> <span class="hljs-string">'vf-global-variables'</span>;
@<span class="hljs-keyword">import</span> <span class="hljs-string">'vf-variables'</span>;
@<span class="hljs-keyword">import</span> <span class="hljs-string">'vf-functions'</span>;
@<span class="hljs-keyword">import</span> <span class="hljs-string">'vf-mixins'</span>;

<span class="hljs-comment">// component specific styles</span>

<span class="hljs-comment">// @import 'vf-no-js.scss';</span>
</code>
        </pre>
        
      </div>

      <h3 class="vf-text vf-text-heading--4">File information</h3>
      <ul class="vf-list vf-list--unordered">
        <li class="vf-list__item">
          URL:
          <a data-no-pjax href="../raw/vf-no-js/index.scss">/components/raw/vf-no-js/index.scss</a>
        </li>
        <li class="vf-list__item">
          Filesystem path: components/vf-no-js/index.scss
        </li>
        <li class="vf-list__item">
          Size: 224 Bytes
        </li>
      </ul>
    </section>
    
  
    
    <section class="vf-tabs__section" id="vf-tabs__section--fa480106dea757b2065cc44e15461f7d">
      <div class="FileBrowser-itemPreview">
        
        <pre class="vf-code-example__pre">
          <code class="Code Code--lang-JSON FileBrowser-code vf-code-example">{
  <span class="hljs-attr">"version"</span>: <span class="hljs-string">"1.0.0-rc.4"</span>,
  <span class="hljs-attr">"name"</span>: <span class="hljs-string">"@visual-framework/vf-no-js"</span>,
  <span class="hljs-attr">"description"</span>: <span class="hljs-string">"vf-no-js component"</span>,
  <span class="hljs-attr">"homepage"</span>: <span class="hljs-string">"https://visual-framework.github.io/vf-core/"</span>,
  <span class="hljs-attr">"author"</span>: <span class="hljs-string">"VF"</span>,
  <span class="hljs-attr">"license"</span>: <span class="hljs-string">"Apache 2.0"</span>,
  <span class="hljs-attr">"style"</span>: <span class="hljs-string">"build/vf-no-js.css"</span>,
  <span class="hljs-attr">"main"</span>: <span class="hljs-string">"build/index.js"</span>,
  <span class="hljs-attr">"test"</span>: <span class="hljs-string">"echo \"Error: no test specified\" &amp;&amp; exit 1"</span>,
  <span class="hljs-attr">"publishConfig"</span>: {
    <span class="hljs-attr">"access"</span>: <span class="hljs-string">"public"</span>
  },
  <span class="hljs-attr">"repo"</span>: <span class="hljs-string">"https://github.com/visual-framework/vf-core/tree/master/components/elements/vf-no-js"</span>,
  <span class="hljs-attr">"bugs"</span>: {
    <span class="hljs-attr">"url"</span>: <span class="hljs-string">"https://github.com/visual-framework/vf-core/issues"</span>
  },
  <span class="hljs-attr">"keywords"</span>: [
    <span class="hljs-string">"fractal"</span>,
    <span class="hljs-string">"component"</span>
  ],
  <span class="hljs-attr">"gitHead"</span>: <span class="hljs-string">"7bb3e8605bb5e604a55e7480e8e0d7620cee1b7f"</span>
}
</code>
        </pre>
        
      </div>

      <h3 class="vf-text vf-text-heading--4">File information</h3>
      <ul class="vf-list vf-list--unordered">
        <li class="vf-list__item">
          URL:
          <a data-no-pjax href="../raw/vf-no-js/package.json">/components/raw/vf-no-js/package.json</a>
        </li>
        <li class="vf-list__item">
          Filesystem path: components/vf-no-js/package.json
        </li>
        <li class="vf-list__item">
          Size: 670 Bytes
        </li>
      </ul>
    </section>
    
  
    
    <section class="vf-tabs__section" id="vf-tabs__section--1562f57377de50f80ce4a14e0dffa0da">
      <div class="FileBrowser-itemPreview">
        
        <pre class="vf-code-example__pre">
          <code class="Code Code--lang-JavaScript FileBrowser-code vf-code-example"><span class="hljs-comment">// vf-no-js</span>
</code>
        </pre>
        
      </div>

      <h3 class="vf-text vf-text-heading--4">File information</h3>
      <ul class="vf-list vf-list--unordered">
        <li class="vf-list__item">
          URL:
          <a data-no-pjax href="../raw/vf-no-js/vf-no-js.js">/components/raw/vf-no-js/vf-no-js.js</a>
        </li>
        <li class="vf-list__item">
          Filesystem path: components/vf-no-js/vf-no-js.js
        </li>
        <li class="vf-list__item">
          Size: 12 Bytes
        </li>
      </ul>
    </section>
    
  
    
    <section class="vf-tabs__section" id="vf-tabs__section--f87e0641eaab4d76a223f93c00dab304">
      <div class="FileBrowser-itemPreview">
        
        <pre class="vf-code-example__pre">
          <code class="Code Code--lang-SCSS FileBrowser-code vf-code-example"><span class="hljs-comment">// vf-no-js</span>

<span class="hljs-comment">// "This page was intentionally left blank"</span>
</code>
        </pre>
        
      </div>

      <h3 class="vf-text vf-text-heading--4">File information</h3>
      <ul class="vf-list vf-list--unordered">
        <li class="vf-list__item">
          URL:
          <a data-no-pjax href="../raw/vf-no-js/vf-no-js.scss">/components/raw/vf-no-js/vf-no-js.scss</a>
        </li>
        <li class="vf-list__item">
          Filesystem path: components/vf-no-js/vf-no-js.scss
        </li>
        <li class="vf-list__item">
          Size: 57 Bytes
        </li>
      </ul>
    </section>
    
  
</div>




    </div>
  </div>

</div>

      </div>
    </div>

    <!-- List all the components at the footer -->
    
      
      <div>
      
<a id="components"></a>
<h1 class="vf-text vf-text-heading--1 vf-text--invert">All the components </h1>




<section class="vf-grid">
  <section data-description="label area" style="grid-column: 1 / -1;">
    <h4 class="vf-text vf-text-heading--5">
      Grids
      <a id="grid"></a>
    </h4>
    <p class="vf-text--body vf-text-body--3">
      Put stuff in columns.
    </p>
  </section>
  <section data-description="component list" class="vf-grid vf-grid__col-4" style="grid-column: 1 / -1;">
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-grid.html">Grid</a>
        </p>
        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-grid-page.html">Page Grid</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-inlay.html">Inlay</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      
  </section>
</section>
<hr class="vf-divider vf-u-margin__bottom--md vf-u-margin__top--md">



<section class="vf-grid">
  <section data-description="label area" style="grid-column: 1 / -1;">
    <h4 class="vf-text vf-text-heading--5">
      Elements
      <a id="element"></a>
    </h4>
    <p class="vf-text--body vf-text-body--3">
      The micro elements of the component library.
    </p>
  </section>
  <section data-description="component list" class="vf-grid vf-grid__col-4" style="grid-column: 1 / -1;">
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-badge.html">Badges</a>
        </p>
        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-blockquote.html">Blockquote</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-button.html">Button</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-componenet-rollup.html">Visual Framework Componet Rollup</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-divider.html">Divider</a>
        </p>
        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-favicon.html">Favicon</a>
        </p>
        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-figure.html">Figure</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-heading.html">Headings</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-link.html">Link</a>
        </p>
        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-list.html">Lists</a>
        </p>
        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-logo.html">Logo</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="">No JS</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-text.html">Text</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      
  </section>
</section>
<hr class="vf-divider vf-u-margin__bottom--md vf-u-margin__top--md">



<section class="vf-grid">
  <section data-description="label area" style="grid-column: 1 / -1;">
    <h4 class="vf-text vf-text-heading--5">
      Blocks
      <a id="block"></a>
    </h4>
    <p class="vf-text--body vf-text-body--3">
      Simple components like sections headers, galleries and so on.
    </p>
  </section>
  <section data-description="component list" class="vf-grid vf-grid__col-4" style="grid-column: 1 / -1;">
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-activity-list.html">Activity List</a>
        </p>
        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-article-meta-information.html">Article Meta Information</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-box.html">Box</a>
        </p>
        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-breadcrumbs.html">Breadcrumbs</a>
        </p>
        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-card.html">Card</a>
        </p>
        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-code-example.html">Code Example</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-discussion.html">Discussion</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-font-plex-mono.html">Plex Mono Font</a>
        </p>
        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-font-plex-sans.html">Plex Sans Font</a>
        </p>
        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-footer.html">Footer</a>
        </p>
        
      

        
        
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-global-header.html">Global Header</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-lede.html">Lede</a>
        </p>
        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-link-list.html">Links List</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-masthead.html">Masthead</a>
        </p>
        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-navigation.html">Navigation</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-page-header.html">Page Header</a>
        </p>
        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-pagination.html">Pagination</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-search.html">Search</a>
        </p>
        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-section-header.html">Section Header</a>
        </p>
        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-summary.html">Summary</a>
        </p>
        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-tabs.html">Tabs</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-video.html">Video</a>
        </p>
        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-video-teaser.html">Video Teaser</a>
        </p>
        
      
  </section>
</section>
<hr class="vf-divider vf-u-margin__bottom--md vf-u-margin__top--md">



<section class="vf-grid">
  <section data-description="label area" style="grid-column: 1 / -1;">
    <h4 class="vf-text vf-text-heading--5">
      Container
      <a id="container"></a>
    </h4>
    <p class="vf-text--body vf-text-body--3">
      More complex components that sometimes have specific layout, like page intros, mastheads, news sections and so on.
    </p>
  </section>
  <section data-description="component list" class="vf-grid vf-grid__col-4" style="grid-column: 1 / -1;">
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-activity-group.html">Acivity List Group</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-banner.html">Banner</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-content.html">Content</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        
          
            
          
            
              <p class="vf-text">
                <a class="vf-link--secondary" href="vf-form__core.html">Forms</a>
              </p>
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-header.html">Site Header</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-intro.html">Intro</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-news-container.html">News Container</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-sass-utilities.html">Sass utilities</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-summary-container.html">Summary Container</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-utility-classes.html">Utility classes</a>
        </p>
        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-video-container.html">Video Container</a>
        </p>
        
      

        
        

        
      
  </section>
</section>
<hr class="vf-divider vf-u-margin__bottom--md vf-u-margin__top--md">



<section class="vf-grid">
  <section data-description="label area" style="grid-column: 1 / -1;">
    <h4 class="vf-text vf-text-heading--5">
      Boilerplates
      <a id="boilerplate"></a>
    </h4>
    <p class="vf-text--body vf-text-body--3">
      Whole-page templates that are a collection of many components.
    </p>
  </section>
  <section data-description="component list" class="vf-grid vf-grid__col-4" style="grid-column: 1 / -1;">
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-boilerplate-page.html">VF Boilerplate</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      
  </section>
</section>
<hr class="vf-divider vf-u-margin__bottom--md vf-u-margin__top--md">



<section class="vf-grid">
  <section data-description="label area" style="grid-column: 1 / -1;">
    <h4 class="vf-text vf-text-heading--5">
      EMBL Grids
      <a id="embl-grid"></a>
    </h4>
    <p class="vf-text--body vf-text-body--3">
      EMBLs way to put stuff in columns.
    </p>
  </section>
  <section data-description="component list" class="vf-grid vf-grid__col-4" style="grid-column: 1 / -1;">
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="embl-grid.html">EMBL Grid</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      
  </section>
</section>
<hr class="vf-divider vf-u-margin__bottom--md vf-u-margin__top--md">



<section class="vf-grid">
  <section data-description="label area" style="grid-column: 1 / -1;">
    <h4 class="vf-text vf-text-heading--5">
      EMBL Elements
      <a id="embl-element"></a>
    </h4>
    <p class="vf-text--body vf-text-body--3">
      EMBLs micro elements of the component library.
    </p>
  </section>
  <section data-description="component list" class="vf-grid vf-grid__col-4" style="grid-column: 1 / -1;">
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="embl-conditional-edit.html">EMBL Conditional Edit</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="embl-logo.html">EMBL Logo</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      
  </section>
</section>
<hr class="vf-divider vf-u-margin__bottom--md vf-u-margin__top--md">



<section class="vf-grid">
  <section data-description="label area" style="grid-column: 1 / -1;">
    <h4 class="vf-text vf-text-heading--5">
      EMBL Blocks
      <a id="embl-block"></a>
    </h4>
    <p class="vf-text--body vf-text-body--3">
      Simple components from EMBL like sections headers, galleries and so on.
    </p>
  </section>
  <section data-description="component list" class="vf-grid vf-grid__col-4" style="grid-column: 1 / -1;">
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="embl-breadcrumbs-lookup.html">EMBL Breadcrumbs</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="embl-content-meta-properties.html">EMBL Content meta properties</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      
  </section>
</section>
<hr class="vf-divider vf-u-margin__bottom--md vf-u-margin__top--md">



<section class="vf-grid">
  <section data-description="label area" style="grid-column: 1 / -1;">
    <h4 class="vf-text vf-text-heading--5">
      EMBL Containers
      <a id="embl-container"></a>
    </h4>
    <p class="vf-text--body vf-text-body--3">
      More complex EMBL components that sometimes have specific layout, like page intros, mastheads, news sections and so on.
    </p>
  </section>
  <section data-description="component list" class="vf-grid vf-grid__col-4" style="grid-column: 1 / -1;">
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="embl-content-hub-loader.html">EMBL ContentHub Loader</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      
  </section>
</section>
<hr class="vf-divider vf-u-margin__bottom--md vf-u-margin__top--md">



<section class="vf-grid">
  <section data-description="label area" style="grid-column: 1 / -1;">
    <h4 class="vf-text vf-text-heading--5">
      EMBL Boilerplates
      <a id="embl-boilerplate"></a>
    </h4>
    <p class="vf-text--body vf-text-body--3">
      Whole-page templates that are a collection of many components.
    </p>
  </section>
  <section data-description="component list" class="vf-grid vf-grid__col-4" style="grid-column: 1 / -1;">
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="embl-subsite-page.html">EMBL Subsite</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      
  </section>
</section>
<hr class="vf-divider vf-u-margin__bottom--md vf-u-margin__top--md">



<section class="vf-grid">
  <section data-description="label area" style="grid-column: 1 / -1;">
    <h4 class="vf-text vf-text-heading--5">
      Deprecated
      <a id="deprecated"></a>
    </h4>
    <p class="vf-text--body vf-text-body--3">
      These components are no longer maintained.
    </p>
  </section>
  <section data-description="component list" class="vf-grid vf-grid__col-4" style="grid-column: 1 / -1;">
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
        <p class="vf-text">
          <a class="vf-link--secondary" href="vf-deprecated.html">Deprecated pattern</a>
        </p>
        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      

        
        

        
      
  </section>
</section>
<hr class="vf-divider vf-u-margin__bottom--md vf-u-margin__top--md">


      </div>
    
  </div>
</div>


  

</div>


</section>



<!--<script src="../../themes/vf-frctl-theme/js/vf-frctl-theme.js?cachebust=0.0.1"></script>-->


<script src="https://dev.assets.emblstatic.net/vf/develop/scripts/scripts.js"></script>


<script>
  var resizeIframeChecks = 0;
  function resizeIframe(obj) {
    var obj = obj || document.getElementsByClassName("Preview-iframe")[0];
    var newHeight = obj.contentWindow.document.body.scrollHeight;
    if (newHeight < 10) {
      if (resizeIframeChecks < 2) {
        // if less than 10px high, that's weird check again. maybe some JS is at play?
        setTimeout(resizeIframe, 1000);
        resizeIframeChecks ++;
      }
    } else {
      obj.style.height = newHeight + 'px';
    }
  }
</script>

</body>
</html>
