node_modules
# We commit `dist`
# So we don't have to npm install and gulp for ci to get 1 css file.
# Depending if we stick with this or use 11ty as a component/pattern library, we'll need revisit.
#dist
