// vf-content

// we use `not([class*='vf-'])` to ensure we only apply styling where a
// vf-* class hasn't been able to be applied

.vf-content {

  h1:not([class*='vf-']) {
    @include set-type(text-heading--1);

    margin: 0;

    + small {
      display: block;
      margin-bottom: 35px;
      margin-top: 22px;
    }
  }

  h2:not([class*='vf-']) {
    @include set-type(text-heading--2);

    display: block;
    margin-bottom: 39px;
    margin-top: 0;
    padding-top: 13px;
  }

  h3:not([class*='vf-']) {
    @include set-type(text-heading--3);

    display: block;
    margin: 24px 0 13px 0;
  }

  h4:not([class*='vf-']) {
    @include set-type(text-heading--4);

    display: block;
    margin: 24px 0 13px;
  }

  h5:not([class*='vf-']) {
    @include set-type(text-heading--5);

    display: block;
    margin: 24px 0 13px;
  }

  h6:not([class*='vf-']) {
    @include set-type(text-heading--5);

    display: block;
    margin: 24px 0 13px;
  }

  p:not([class*='vf-']) {
    @include set-type(text-body--2);

    margin: 0 0 24px 0;
  }

  a:not([class*='vf-']) {
    @include inline-link;

    &:visited {
      color: $vf-link--visited-color;
    }

    &:hover {
      color: $vf-link--hover-color;
    }
  }

  small:not([class*='vf-']) {
    @include set-type(text-body--5);

    display: block;
  }

  ol:not([class*='vf-']) {
    @include list(vf-list--ordered, ordered);
  }

  ul:not([class*='vf-']) {
    @include list(vf-list--unordered, unordered);
  }

  li:not([class*='vf-']) {
    @include set-type(text-body--2);

    margin-bottom: map-get($vf-spacing-map, vf-spacing--sm);

    > ul:not([class*='vf-']),
    > ol:not([class*='vf-']) {
      margin-top: map-get($vf-spacing-map, vf-spacing--sm);
    }
  }

  li:not([class*='vf-']):last-of-type {
    margin-bottom: map-get($vf-spacing-map, vf-spacing--md);
  }

  hr:not([class*='vf-']) {
    @include divider;
  }

  code:not([class*='vf-']) {
    background: set-color(vf-color--off-white);
    padding-left: 3px;
    padding-right: 3px;
  }

  blockquote:not([class*='vf-']) {
    @include blockquote;
  }
}

.vf-content__standfirst {
  font-size: 21px;
  line-height: 31px;
  margin-bottom: 46px;
  margin-top: 0;

  + .vf-content__standfirst {
    margin-bottom: 24px;
  }

  + small {
    margin-bottom: 42px;
  }
}
