$componentInfo: (
             name: "@visual-framework/vf-text",
             version: "1.0.2",
             location: "components/vf-text",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Thu, 29 Oct 2020 18:41:12 GMT"
          );