{# vf-minimal-footer #}
{% set _theme = footer__theme if footer__theme else 'dark' %}
{% set _isLight = true if _theme == 'light' else false %}
{% set _logoSrc = '../../assets/vf-minimal-footer/assets/embl-ebi-rgb-full-colour.svg' if _isLight else '../../assets/vf-minimal-footer/assets/embl-ebi-rgb-all-white.png' %}

{% if partner__variant %}
<div class="vf-footer vf-u-background-color-ui--white vf-footer__partners">
  <div class="vf-footer__inner">
      <h4 class="vf-u-type__text-body--4 vf-u-text-color--grey--dark">OUR PARTNERS/COLLABORATORS</h4>

      {% if partner__variant == 'logos' %}
      <ul class="vf-grid vf-grid__col-6 vf-list">
        <li class="vf-list__item">
          <a href="JavaScript:Void(0);" class="vf-list__link">
            <img src="../../assets/vf-minimal-footer/assets/landscape-placeholder.svg" alt="Partner logo" width="174" height="64">
          </a>
        </li>
        <li class="vf-list__item">
          <a href="JavaScript:Void(0);" class="vf-list__link">
            <img src="../../assets/vf-minimal-footer/assets/landscape-placeholder.svg" alt="Partner logo" width="174" height="64">
          </a>
        </li>
        <li class="vf-list__item">
          <a href="JavaScript:Void(0);" class="vf-list__link">
            <img src="../../assets/vf-minimal-footer/assets/landscape-placeholder.svg" alt="Partner logo" width="174" height="64">
          </a>
        </li>
        <li class="vf-list__item">
          <a href="JavaScript:Void(0);" class="vf-list__link">
            <img src="../../assets/vf-minimal-footer/assets/landscape-placeholder.svg" alt="Partner logo" width="174" height="64">
          </a>
        </li>
        <li class="vf-list__item">
          <a href="JavaScript:Void(0);" class="vf-list__link">
            <img src="../../assets/vf-minimal-footer/assets/landscape-placeholder.svg" alt="Partner logo" width="174" height="64">
          </a>
        </li>
        <li class="vf-list__item">
          <a href="JavaScript:Void(0);" class="vf-list__link">
            <img src="../../assets/vf-minimal-footer/assets/landscape-placeholder.svg" alt="Partner logo" width="174" height="64">
          </a>
        </li>
      </ul>

      {% elif partner__variant == 'columns' %}
      <div>
        <ul class="vf-grid vf-grid__col-3 vf-list">
          <li class="vf-list__item">
            <a href="JavaScript:Void(0);" class="vf-list__link">Partner 1</a>
          </li>
          <li class="vf-list__item">
            <a href="JavaScript:Void(0);" class="vf-list__link">Partner 2</a>
          </li>
          <li class="vf-list__item">
            <a href="JavaScript:Void(0);" class="vf-list__link">Partner 3</a>
          </li>
          <li class="vf-list__item">
            <a href="JavaScript:Void(0);" class="vf-list__link">Partner 4</a>
          </li>
          <li class="vf-list__item">
            <a href="JavaScript:Void(0);" class="vf-list__link">Partner 5</a>
          </li>
          <li class="vf-list__item">
            <a href="JavaScript:Void(0);" class="vf-list__link">Partner 6</a>
          </li>
          <li class="vf-list__item">
            <a href="JavaScript:Void(0);" class="vf-list__link">Partner 7</a>
          </li>
          <li class="vf-list__item">
            <a href="JavaScript:Void(0);" class="vf-list__link">Partner 8</a>
          </li>
          <li class="vf-list__item">
            <a href="JavaScript:Void(0);" class="vf-list__link">Partner 9</a>
          </li>
        </ul>
      </div>

      {% elif partner__variant == 'summary' %}
      <div class="vf-grid vf-grid__col-4">
        <div>
          <p>Partnership statement. A short description of the partnerships, collaborations or consortium.</p>
          <a class="vf-u-type__text-body--4 vf-u-text-color--grey--dark vf-pagination__link" href="JavaScript:Void(0);">See all collaborators</a>
        </div>
        <div class="vf-footer__stat vf-table__label">
          <p>35</p>
          <p>Data partners</p>
        </div>
        <div class="vf-footer__stat vf-table__label">
          <p>4</p>
          <p>Supporting funders</p>
        </div>
        <div class="vf-footer__stat vf-table__label">
          <p>35</p>
          <p>Research institutions</p>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
{% endif %}

<footer class="vf-footer {% if partner__variant %} vf-footer--without-rule{% endif %}{% if _isLight %} vf-footer--light{% endif %} | {% if _isLight %}vf-u-background-color-ui--white{% else %}vf-u-background-color-ui--dark-grey{% endif %}">
    <div class="vf-footer__inner">
      <div class="vf-minimal-footer__intro">
        <a href="https://www.ebi.ac.uk" class="vf-logo">
          <img class="vf-logo__image" src="{{ _logoSrc }}" alt="EMBL-EBI Logo" loading="eager">
        </a>
        <p class="vf-footer__notice">[Name of resource] is developed and maintained by EMBL-EBI, a world leader in biological data resources.</p>
      </div>
    <section class="vf-footer__legal vf-grid__col--span-all | vf-grid vf-grid__col-1">
    <span class="vf-footer__link vf-u-text-color--grey--lightest">Copyright © Your Organisation</span>
      <a class="vf-footer__link vf-u-text-color--white" href="JavaScript:Void(0);">Terms of use</a>
      <a class="vf-footer__link vf-u-text-color--grey--lightest" href="JavaScript:Void(0);">Another entry</a>
   </section>
    </div>
</footer>
