.vf-minimal-footer .vf-logo__image {
  display: block;
  height: auto;
  max-width: 100%;
  width: 100%;
}

@media (max-width: 768px) {
  .vf-minimal-footer .vf-logo__image {
    width: 80%;
  }
}
.vf-u-background-color-ui--white .vf-footer__link:hover {
    color: var(--vf-ui-color--black);
}