<footer class="vf-minimal-footer vf-footer vf-u-padding__top--600 vf-u-padding__bottom--800">
  <div class="vf-footer__inner">
    <div class="vf-footer__logo-mission | vf-grid vf-grid__col-4 vf-u-grid-gap--600 vf-u-margin__bottom--200">
      <a href="https://www.ebi.ac.uk" class="vf-logo vf-u-grid__col--span-1--md vf-u-grid__col--span-1--lg">
        <img class="vf-logo__image" src="../../assets/vf-minimal-footer/assets/embl-ebi-rgb-all-white.png" alt="EMBL-EBI" loading="eager">
      </a>
      <div class="vf-footer__mission vf-u-padding__top--200 vf-u-grid__col--span-3--md vf-u-grid__col--span-3--lg">
        <p class="vf-footer__notice vf-u-margin__bottom--0">[Name of resource] is developed and maintained by EMBL-EBI, a world leader in biological data resources.</p>
      </div>
    </div>

    <section class="vf-footer__legal | vf-grid vf-grid__col-1 | vf-u-padding__top--600 ">
      <a class="vf-footer__link" href="JavaScript:Void(0);">Copyright © EMBL 2026</a>
      <a class="vf-footer__link" href="JavaScript:Void(0);">EMBL-EBI contact</a>
      <a class="vf-footer__link" href="JavaScript:Void(0);">Terms of Use</a>
    </section>
  </div>
</footer>
</br>
</br>
<footer class="vf-minimal-footer vf-footer vf-footer--light vf-u-background-color-ui--white vf-u-padding__top--600 vf-u-padding__bottom--800">
  <div class="vf-footer__inner">
    <div class="vf-footer__logo-mission | vf-grid vf-grid__col-4 | vf-u-grid-gap--600 | vf-u-margin__bottom--200">
      <a href="https://www.ebi.ac.uk" class="vf-logo | vf-u-grid__col--span-1--md | vf-u-grid__col--span-1--lg">
        <img class="vf-logo__image" src="../../assets/vf-minimal-footer/assets/embl-ebi-rgb-full-colour.png" alt="EMBL-EBI" loading="eager">
      </a>
      <div class="vf-footer__mission |vf-u-padding__top--200 | vf-u-grid__col--span-3--md |vf-u-grid__col--span-3--lg">
        <p class="vf-footer__notice vf-u-margin__bottom--0 vf-u-text-color--ui--black">[Name of resource] is developed and maintained by EMBL-EBI, a world leader in biological data resources.</p>
      </div>
    </div>

    <section class="vf-footer__legal | vf-grid vf-grid__col-1 | vf-u-padding__top--600">
      <a class="vf-footer__link | vf-u-text-color--ui--black" href="JavaScript:Void(0);">Copyright © EMBL 2026</a>
      <a class="vf-footer__link | vf-u-text-color--ui--black" href="JavaScript:Void(0);">EMBL-EBI contact</a>
      <a class="vf-footer__link | vf-u-text-color--ui--black" href="JavaScript:Void(0);">Terms of Use</a>
    </section>
  </div>
</footer>
