@import "../vf-footer/vf-footer.scss";

.vf-minimal-footer__intro {
	align-items: center;
	column-gap: 1rem;
	display: flex;
}

.vf-minimal-footer__intro .vf-footer__notice {
	margin: 0;
    color: var(--vf-color--ui--grey-lightest, #D0D0CE);
}
