---
hideSubPosts: true
title: Discussions, exchanges and help
subtitle: Regardless of where, we welcome contribution, ideas and constructive criticism.
intro: We primarily use Slack and GitHub for discussions.
date: 2020-12-11 19:33:50
section: building
tags:
  - posts
  - guidance
layout: layouts/section.njk
templateEngineOverride: njk, md
---

{% set context = {
  "section_title": "Slack",
  "href": "https://join.slack.com/t/visual-framework/shared_invite/enQtNDAxNzY0NDg4NTY0LWFhMjEwNGY3ZTk3NWYxNWVjOWQ1ZWE4YjViZmY1YjBkMDQxMTNlNjQ0N2ZiMTQ1ZTZiMGM4NjU5Y2E0MjM3ZGQ",
  "id": "slack",
  "section__subheading": "",
  "vf_section__content": [
    "For early discussions, help and hellos."
  ]
} %}
{% include blocks.section_header %}

<br/>

{% set context = {
  "section_title": "Consultation meetings",
  "href": "mailto:ken.hawkins@embl.de",
  "id": "consultation",
  "section__subheading": "",
  "vf_section__content": [
    "We hold regular consultation meetings with developers, designers and UXers.",
    "Interested? email ken.hawkins@embl.de"
  ]
} %}
{% include blocks.section_header %}

<br/>

{% set context = {
  "section_title": "GitHub Discussions",
  "href": "https://github.com/visual-framework/vf-core/discussions",
  "id": "github-discussions",
  "section__subheading": "",
  "vf_section__content": [
    "For ideas that need to be tracked and may not yet have a clear course of action."
  ]
} %}
{% include blocks.section_header %}

<br/>

{% set context = {
  "section_title": "GitHub Issues",
  "href": "https://github.com/visual-framework/vf-core/issues",
  "id": "github-issues",
  "section__subheading": "",
  "vf_section__content": [
    "For ideas that can be auctioned into code, components and patterns."
  ]
} %}
{% include blocks.section_header %}


### See also

- [Code of conduct]({{ '/developing/getting-started/code-of-conduct/' | url }})
- [Consultation process](/about/consultation/)
