<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://assets.emblstatic.net/vf/v2.3.1/css/styles.css">
    <!--
      Want to build a site with the Visual Framework?
      ---
      You can copy the CSS and JS you find here, but for the best experience see the building guide:
      https://visual-framework.github.io/vf-core/building/
    -->
    <title>vf-social-links | The Visual Framework 2.0</title>
    <link rel="shortcut icon" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/favicon.ico">
<link rel="apple-touch-icon" sizes="180x180" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/favicon-16x16.png">
<link rel="manifest" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/site.webmanifest">
<link rel="mask-icon" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/safari-pinned-tab.svg" color="#ffffff">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

    <!-- Descriptive meta -->
    <meta name="title" content="Local components">
    <meta name="author" content="EMBL">
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://visual-framework.github.io/vf-core//components/vf-social-links/">
    <meta property="og:title" content="Local components">
    <meta property="og:description" content="">
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="og:url" content="https://visual-framework.github.io/vf-core//components/vf-social-links/">
    <meta property="twitter:title" content="Local components">
    <meta property="twitter:description" content="">
    <!-- Feed -->
    <link href="https://visual-framework.github.io/vf-core/feed.xml" type="application/rss+xml" rel="alternate" title="Visual Framework 2.0 Updates">
  </head>
  <body class=" vf-body" >
    <header class="vf-global-header | vf-search-client-side--no-index">

      <div class="vf-global-header__inner">
        
<a href="/vf-core/"
class="vf-logo | vf-logo--has-text">
  <img class="vf-logo__image" src="https://visual-framework.github.io/vf-core/assets/vf-logo/assets/logo.svg" alt="Visual Framework 2.0" loading="eager">
  <span class="vf-logo__text vf-u-sr-only">Visual Framework 2.0</span>
</a>

        <nav class="vf-navigation vf-navigation--global">
          <ul class="vf-navigation__list | vf-list--inline">
            <li class="vf-navigation__item">
              <a href="/vf-core/about" class="vf-navigation__link">About</a>
            </li>
            <li class="vf-navigation__item">
              <a href="/vf-core/components" class="vf-navigation__link">Components</a>
            </li>
            <li class="vf-navigation__item">
              <a href="/vf-core/patterns" class="vf-navigation__link">Examples</a>
            </li>
            <li class="vf-navigation__item">
              <a href="/vf-core/search" class="vf-navigation__link">Search</a>
            </li>
            <li class="vf-navigation__item">
              <a href="https://join.slack.com/t/visual-framework/shared_invite/enQtNDAxNzY0NDg4NTY0LWFhMjEwNGY3ZTk3NWYxNWVjOWQ1ZWE4YjViZmY1YjBkMDQxMTNlNjQ0N2ZiMTQ1ZTZiMGM4NjU5Y2E0MjM3ZGQ" class="vf-navigation__link">Help, chat</a>
            </li>
          </ul>
        </nav>
      </div>

    </header>
    
    
    <nav class="vf-breadcrumbs | vf-search-client-side--no-index" aria-label="Breadcrumb">
      <ul class="vf-breadcrumbs__list | vf-list vf-list--inline">
        <li class="vf-breadcrumbs__item">
          <a href="/vf-core/" class="vf-breadcrumbs__link">The Visual Framework 2.0</a>
        </li>
        
          
        
        
          
            
            
            <li class="vf-breadcrumbs__item">
              <a href="/vf-core/components" class="vf-breadcrumbs__link">Components</a>
            </li>
          
        
        
        
          
        
        
        <li class="vf-breadcrumbs__item">
          
            vf-social-links
          
        </li>
      </ul>
    </nav>
    

    



<div class="embl-grid">
  <nav class="vf-tree vf-search-client-side--no-index">
    <div class="vf-tree__inner | vf-u-padding--200">
            
            
            
            
            
            
            
            
            
            
            
            
            
            

<div class="vf-links vf-links--tight vf-links__list--s">
  <h3 class="vf-links__heading">Grid</h3>
  <ul class="vf-links__list vf-links__list--secondary | vf-list">
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/embl-grid">
        EMBL Grid
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-body">
        Body
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-cluster">
        Cluster
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-grid">
        Grid
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-inlay">
        Inlay
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-stack">
        Stack
      </a>

    </li>
  </ul>
</div>

            
            
            
            
            
            
            
            
            
            
            
            
            
            

<div class="vf-links vf-links--tight vf-links__list--s">
  <h3 class="vf-links__heading">Element</h3>
  <ul class="vf-links__list vf-links__list--secondary | vf-list">
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/embl-favicon">
        EMBL Favicon
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/embl-logo">
        EMBL Logo
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-badge">
        Badges
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-blockquote">
        Visual Framework Blockquote
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-button">
        Button
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-collapse">
        Collapse
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-divider">
        Visual Framework Divider
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-explainer">
        Explainer
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-favicon">
        Favicon
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-figure">
        Visual Framework Figure
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-heading">
        Visual Framework Headings
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-link">
        Visual Framework Link
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-list">
        Visual Framework Lists
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-logo">
        Logo
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-text">
        Visual Framework Text
      </a>

    </li>
  </ul>
</div>

            
            
            
            
            
            
            
            
            
            
            
            
            
            

<div class="vf-links vf-links--tight vf-links__list--s">
  <h3 class="vf-links__heading">Block</h3>
  <ul class="vf-links__list vf-links__list--secondary | vf-list">
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/embl-breadcrumbs-lookup">
        EMBL Breadcrumbs lookup
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-activity-list">
        Activity List
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-article-meta-information">
        Article Meta Information
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-box">
        Box
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-breadcrumbs">
        Breadcrumbs
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-card">
        Card
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-code-example">
        Code Example
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-details">
        Details
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-discussion">
        Discussion
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-embed">
        Embed
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-footer">
        Footer
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-global-header">
        Global Header
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-lede">
        Lede
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-link-list">
        Links List
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-masthead">
        Masthead
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-navigation">
        Navigation
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-page-header">
        Page Header
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-pagination">
        Pagination
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-profile">
        Profile
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-search">
        Search
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-section-header">
        Section Header
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-social-links">
        Social icons
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-summary">
        Summary
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-table">
        Table
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-tabs">
        Tabs
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-tree">
        Tree
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-video">
        Video
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-video-teaser">
        Video Teaser
      </a>

    </li>
  </ul>
</div>

            
            
            
            
            
              
              
            
            
            
            
            
            
            
            
            

<div class="vf-links vf-links--tight vf-links__list--s">
  <h3 class="vf-links__heading">Container</h3>
  <ul class="vf-links__list vf-links__list--secondary | vf-list">
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-activity-group">
        Acivity List Group
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-banner">
        Banner
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-card-container">
        Card Container
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-content">
        Content
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-form/vf-form__core">
        Forms
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-header">
        Header
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-hero">
        Hero
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-intro">
        Intro
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-news-container">
        News Container
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-summary-container">
        Summary Container
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-video-container">
        Video Container
      </a>

    </li>
  </ul>
</div>

            
            
            
            
            
            
            
            
            
            
            
            
            
            

<div class="vf-links vf-links--tight vf-links__list--s">
  <h3 class="vf-links__heading">Utility</h3>
  <ul class="vf-links__list vf-links__list--secondary | vf-list">
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/ebi-header-footer">
        EBI Header and Footer
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/ebi-vf1-integration">
        Compatibility with EBI-VF 1.x Component
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/embl-conditional-edit">
        EMBL Conditional Edit Links component
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/embl-content-hub-loader">
        EMBL ContentHub Loader component
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/embl-content-meta-properties">
        EMBL Content meta properties
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/embl-notifications">
        EMBL Notifications
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-analytics-google">
        Google Analytics enhancements
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-componenet-rollup">
        Visual Framework Componet Rollup
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-font-plex-mono">
        Plex Mono Font
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-font-plex-sans">
        Plex Sans Font
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-location-nearest">
        Nearest location
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-no-js">
        No JS detection
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-polyfill-js">
        JavaScript Polyfill
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-sass-config">
        Sass config and templates
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-sass-starter">
        Sass Starter
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-search-client-side">
        Search Client Side
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-show-more">
        Show more
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-u-fullbleed">
        Full Bleed
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-utility-classes">
        Utility Classes
      </a>

    </li>
  </ul>
</div>
</div>
  </nav>

  <section class="vf-content component-library-notes">
    
    <!-- no special content -->


    <h1>
      Social icons
      <span class="vf-text-body--4">
        
        
          <a class="vf-link" href="https://github.com/visual-framework/vf-core/tree/develop/components/vf-social-links"><img src="https://img.shields.io/badge/github-vf--social--links-blue" alt="github location" /></a>
          <a class="vf-link" href="https://badge.fury.io/js/%40visual-framework%2Fvf-social-links"><img src="https://badge.fury.io/js/%40visual-framework%2Fvf-social-links.svg" alt="npm version"></a>
          
        
      </span>
    </h1>

    

    
    
      
      
      

      

      
        <h2>Usage</h2>
        <h3>Variants Available</h3>
<ul>
<li><code>vf-social-links--outline</code> this removes the background and gives a border around each icon square.</li>
<li><code>dark-mode</code> if this is insdie a component that has <code>dark-mode</code> theeme then the colours swap.</li>
</ul>
<h3>SVG</h3>
<p>You will need to make sure the SVG code below is added somewhere in your HTML (preferably at the top).</p>
<pre><code>&lt;svg aria-hidden=&quot;true&quot; display=&quot;none&quot; class=&quot;vf-icon-collection vf-icon-collection--social&quot;&gt;
  &lt;defs&gt;
    &lt;g id=&quot;vf-social--linkedin&quot;&gt;
      &lt;rect xmlns=&quot;http://www.w3.org/2000/svg&quot; width=&quot;5&quot; height=&quot;14&quot; x=&quot;2&quot; y=&quot;8.5&quot; rx=&quot;.5&quot; ry=&quot;.5&quot;/&gt;&lt;ellipse xmlns=&quot;http://www.w3.org/2000/svg&quot; cx=&quot;4.48&quot; cy=&quot;4&quot; rx=&quot;2.48&quot; ry=&quot;2.5&quot;/&gt;&lt;path xmlns=&quot;http://www.w3.org/2000/svg&quot; d=&quot;M18.5,22.5h3A.5.5,0,0,0,22,22V13.6C22,9.83,19.87,8,16.89,8a4.21,4.21,0,0,0-3.17,1.27A.41.41,0,0,1,13,9a.5.5,0,0,0-.5-.5h-3A.5.5,0,0,0,9,9V22a.5.5,0,0,0,.5.5h3A.5.5,0,0,0,13,22V14.5a2.5,2.5,0,0,1,5,0V22A.5.5,0,0,0,18.5,22.5Z&quot;/&gt;
    &lt;/g&gt;
    &lt;g id=&quot;vf-social--facebook&quot;&gt;
      &lt;path xmlns=&quot;http://www.w3.org/2000/svg&quot; d=&quot;m18.14 7.17a.5.5 0 0 0 -.37-.17h-3.77v-1.41c0-.28.06-.6.51-.6h3a.44.44 0 0 0 .35-.15.5.5 0 0 0 .14-.34v-4a.5.5 0 0 0 -.5-.5h-4.33c-4.8 0-5.17 4.1-5.17 5.35v1.65h-2.5a.5.5 0 0 0 -.5.5v4a.5.5 0 0 0 .5.5h2.5v11.5a.5.5 0 0 0 .5.5h5a.5.5 0 0 0 .5-.5v-11.5h3.35a.5.5 0 0 0 .5-.45l.42-4a.5.5 0 0 0 -.13-.38z&quot;/&gt;
    &lt;/g&gt;
    &lt;g id=&quot;vf-social--twitter&quot;&gt;
      &lt;path xmlns=&quot;http://www.w3.org/2000/svg&quot; d=&quot;M23.32,6.44a.5.5,0,0,0-.2-.87l-.79-.2A.5.5,0,0,1,22,4.67l.44-.89a.5.5,0,0,0-.58-.7l-2,.56a.5.5,0,0,1-.44-.08,5,5,0,0,0-3-1,5,5,0,0,0-5,5v.36a.25.25,0,0,1-.22.25c-2.81.33-5.5-1.1-8.4-4.44a.51.51,0,0,0-.51-.15A.5.5,0,0,0,2,4a7.58,7.58,0,0,0,.46,4.92.25.25,0,0,1-.26.36L1.08,9.06a.5.5,0,0,0-.57.59,5.15,5.15,0,0,0,2.37,3.78.25.25,0,0,1,0,.45l-.53.21a.5.5,0,0,0-.26.69,4.36,4.36,0,0,0,3.2,2.48.25.25,0,0,1,0,.47A10.94,10.94,0,0,1,1,18.56a.5.5,0,0,0-.2,1,20.06,20.06,0,0,0,8.14,1.93,12.58,12.58,0,0,0,7-2A12.5,12.5,0,0,0,21.5,9.06V8.19a.5.5,0,0,1,.18-.38Z&quot;/&gt;
    &lt;/g&gt;
    &lt;g id=&quot;vf-social--youtube&quot;&gt;
      &lt;path xmlns=&quot;http://www.w3.org/2000/svg&quot; d=&quot;M20.06,3.5H3.94A3.94,3.94,0,0,0,0,7.44v9.12A3.94,3.94,0,0,0,3.94,20.5H20.06A3.94,3.94,0,0,0,24,16.56V7.44A3.94,3.94,0,0,0,20.06,3.5ZM16.54,12,9.77,16.36A.5.5,0,0,1,9,15.94V7.28a.5.5,0,0,1,.77-.42l6.77,4.33a.5.5,0,0,1,0,.84Z&quot;/&gt;
    &lt;/g&gt;
    &lt;g id=&quot;vf-social--instagram&quot;&gt;
      &lt;path xmlns=&quot;http://www.w3.org/2000/svg&quot; d=&quot;M17.5,0H6.5A6.51,6.51,0,0,0,0,6.5v11A6.51,6.51,0,0,0,6.5,24h11A6.51,6.51,0,0,0,24,17.5V6.5A6.51,6.51,0,0,0,17.5,0ZM12,17.5A5.5,5.5,0,1,1,17.5,12,5.5,5.5,0,0,1,12,17.5Zm6.5-11A1.5,1.5,0,1,1,20,5,1.5,1.5,0,0,1,18.5,6.5Z&quot;/&gt;
    &lt;/g&gt;
  &lt;/defs&gt;
&lt;/svg&gt;
</code></pre>
<p>This is in leiu of an icon system for you to pull things in automatically.</p>

      

      
      <details class="vf-details">
        <summary class="vf-details--summary">Installation info</summary>
        <p>This repository is distributed with [npm][https://www.npmjs.com/]. After [installing npm][https://www.npmjs.com/get-npm] and <a href="https://classic.yarnpkg.com/en/docs/install">yarn</a>, you can install <code>vf-social-links</code> with this command.</p>
<pre><code>$ yarn add --dev @visual-framework/vf-social-links
</code></pre>
<h3>JS</h3>
<p>If your component uses JS:</p>
<p>You should import this component in <code>./components/vf-component-rollup/scripts.js</code> or your other JS process:</p>
<pre><code class="language-js">import { vfcomponentName } from 'vf-social-links/vf-social-links';
// Or import directly
// import { vfcomponentName } from '../components/raw/vf-social-links/vf-social-links.js';
vfcomponentName(); // if needed, invoke it
</code></pre>
<h3>Sass/CSS</h3>
<p>If your component uses Sass:</p>
<p>The style files included are written in <a href="https://sass-lang.com/">Sass</a>. If you're using a VF-core project, you can import it like this:</p>
<pre><code>@import &quot;@visual-framework/vf-social-links/index.scss&quot;;
</code></pre>
<p>Make sure you import Sass requirements along with the modules. You can use a <a href="https://visual-framework.github.io/vf-core/building/">project boilerplate</a> or the <a href="https://visual-framework.github.io/vf-core/components/vf-sass-starter/"><code>vf-sass-starter</code></a></p>

      </details>
      

    

    
    
    

    
      

        
          

          <article class="vf-stack vf-stack--lg vf-u-margin__bottom--1200"
                   style="clear: both; /* insurance against strange components */"
          >

            
              <div class="vf-card vf-box"
                   style="grid-template-rows: auto; /* as we're cheating and have no image for vf-card */"
              >
                
                <svg aria-hidden="true" display="none" class="vf-icon-collection vf-icon-collection--social">
  <defs>
    <g id="vf-social--linkedin">
      <rect xmlns="http://www.w3.org/2000/svg" width="5" height="14" x="2" y="8.5" rx=".5" ry=".5"/><ellipse xmlns="http://www.w3.org/2000/svg" cx="4.48" cy="4" rx="2.48" ry="2.5"/><path xmlns="http://www.w3.org/2000/svg" d="M18.5,22.5h3A.5.5,0,0,0,22,22V13.6C22,9.83,19.87,8,16.89,8a4.21,4.21,0,0,0-3.17,1.27A.41.41,0,0,1,13,9a.5.5,0,0,0-.5-.5h-3A.5.5,0,0,0,9,9V22a.5.5,0,0,0,.5.5h3A.5.5,0,0,0,13,22V14.5a2.5,2.5,0,0,1,5,0V22A.5.5,0,0,0,18.5,22.5Z"/>
    </g>
    <g id="vf-social--facebook">
      <path xmlns="http://www.w3.org/2000/svg" d="m18.14 7.17a.5.5 0 0 0 -.37-.17h-3.77v-1.41c0-.28.06-.6.51-.6h3a.44.44 0 0 0 .35-.15.5.5 0 0 0 .14-.34v-4a.5.5 0 0 0 -.5-.5h-4.33c-4.8 0-5.17 4.1-5.17 5.35v1.65h-2.5a.5.5 0 0 0 -.5.5v4a.5.5 0 0 0 .5.5h2.5v11.5a.5.5 0 0 0 .5.5h5a.5.5 0 0 0 .5-.5v-11.5h3.35a.5.5 0 0 0 .5-.45l.42-4a.5.5 0 0 0 -.13-.38z"/>
    </g>
    <g id="vf-social--twitter">
      <path xmlns="http://www.w3.org/2000/svg" d="M23.32,6.44a.5.5,0,0,0-.2-.87l-.79-.2A.5.5,0,0,1,22,4.67l.44-.89a.5.5,0,0,0-.58-.7l-2,.56a.5.5,0,0,1-.44-.08,5,5,0,0,0-3-1,5,5,0,0,0-5,5v.36a.25.25,0,0,1-.22.25c-2.81.33-5.5-1.1-8.4-4.44a.51.51,0,0,0-.51-.15A.5.5,0,0,0,2,4a7.58,7.58,0,0,0,.46,4.92.25.25,0,0,1-.26.36L1.08,9.06a.5.5,0,0,0-.57.59,5.15,5.15,0,0,0,2.37,3.78.25.25,0,0,1,0,.45l-.53.21a.5.5,0,0,0-.26.69,4.36,4.36,0,0,0,3.2,2.48.25.25,0,0,1,0,.47A10.94,10.94,0,0,1,1,18.56a.5.5,0,0,0-.2,1,20.06,20.06,0,0,0,8.14,1.93,12.58,12.58,0,0,0,7-2A12.5,12.5,0,0,0,21.5,9.06V8.19a.5.5,0,0,1,.18-.38Z"/>
    </g>
    <g id="vf-social--youtube">
      <path xmlns="http://www.w3.org/2000/svg" d="M20.06,3.5H3.94A3.94,3.94,0,0,0,0,7.44v9.12A3.94,3.94,0,0,0,3.94,20.5H20.06A3.94,3.94,0,0,0,24,16.56V7.44A3.94,3.94,0,0,0,20.06,3.5ZM16.54,12,9.77,16.36A.5.5,0,0,1,9,15.94V7.28a.5.5,0,0,1,.77-.42l6.77,4.33a.5.5,0,0,1,0,.84Z"/>
    </g>
    <g id="vf-social--instagram">
      <path xmlns="http://www.w3.org/2000/svg" d="M17.5,0H6.5A6.51,6.51,0,0,0,0,6.5v11A6.51,6.51,0,0,0,6.5,24h11A6.51,6.51,0,0,0,24,17.5V6.5A6.51,6.51,0,0,0,17.5,0ZM12,17.5A5.5,5.5,0,1,1,17.5,12,5.5,5.5,0,0,1,12,17.5Zm6.5-11A1.5,1.5,0,1,1,20,5,1.5,1.5,0,0,1,18.5,6.5Z"/>
    </g>
  </defs>
</svg>


<div class="vf-social-links"><h3 class="vf-social-links__heading">
    Follow us
  </h3><ul class="vf-social-links__list"><li class="vf-social-links__item">

      <a class="vf-social-links__link" href="JavaScript:Void(0);">
        <span class="vf-u-sr-only">twitter</span>

        <svg aria-hidden="true" class="vf-icon vf-icon--social vf-icon--twitter" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" version="1.1" preserveAspectRatio="xMinYMin">
          <use xlink:href="#vf-social--twitter"></use>
        </svg>

      </a>

    </li><li class="vf-social-links__item">

      <a class="vf-social-links__link" href="JavaScript:Void(0);">
        <span class="vf-u-sr-only">facebook</span>

        <svg aria-hidden="true" class="vf-icon vf-icon--social vf-icon--facebook" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" version="1.1" preserveAspectRatio="xMinYMin">
          <use xlink:href="#vf-social--facebook"></use>
        </svg>

      </a>

    </li><li class="vf-social-links__item">

      <a class="vf-social-links__link" href="JavaScript:Void(0);">
        <span class="vf-u-sr-only">instagram</span>

        <svg aria-hidden="true" class="vf-icon vf-icon--social vf-icon--instagram" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" version="1.1" preserveAspectRatio="xMinYMin">
          <use xlink:href="#vf-social--instagram"></use>
        </svg>

      </a>

    </li><li class="vf-social-links__item">

      <a class="vf-social-links__link" href="JavaScript:Void(0);">
        <span class="vf-u-sr-only">youtube</span>

        <svg aria-hidden="true" class="vf-icon vf-icon--social vf-icon--youtube" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" version="1.1" preserveAspectRatio="xMinYMin">
          <use xlink:href="#vf-social--youtube"></use>
        </svg>

      </a>

    </li><li class="vf-social-links__item">

      <a class="vf-social-links__link" href="JavaScript:Void(0);">
        <span class="vf-u-sr-only">linkedin</span>

        <svg aria-hidden="true" class="vf-icon vf-icon--social vf-icon--linkedin" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" version="1.1" preserveAspectRatio="xMinYMin">
          <use xlink:href="#vf-social--linkedin"></use>
        </svg>

      </a>

    </li></ul>

</div>

              </div>
            

            
              
              <details class="vf-details vf-box vf-box--outline">
                <summary class="vf-details--summary">Nunjucks syntax</summary>
                <pre><code>{% render '@vf-social-links--default', {
  &quot;component-type&quot;: &quot;block&quot;,
  &quot;heading&quot;: &quot;Follow us&quot;,
  &quot;social_accounts&quot;: [
    {
      &quot;name&quot;: &quot;twitter&quot;,
      &quot;url&quot;: &quot;JavaScript:Void(0);&quot;,
      &quot;useUrl&quot;: &quot;#vf-social--twitter&quot;
    },
    {
      &quot;name&quot;: &quot;facebook&quot;,
      &quot;url&quot;: &quot;JavaScript:Void(0);&quot;,
      &quot;useUrl&quot;: &quot;#vf-social--facebook&quot;
    },
    {
      &quot;name&quot;: &quot;instagram&quot;,
      &quot;url&quot;: &quot;JavaScript:Void(0);&quot;,
      &quot;useUrl&quot;: &quot;#vf-social--instagram&quot;
    },
    {
      &quot;name&quot;: &quot;youtube&quot;,
      &quot;url&quot;: &quot;JavaScript:Void(0);&quot;,
      &quot;useUrl&quot;: &quot;#vf-social--youtube&quot;
    },
    {
      &quot;name&quot;: &quot;linkedin&quot;,
      &quot;url&quot;: &quot;JavaScript:Void(0);&quot;,
      &quot;useUrl&quot;: &quot;#vf-social--linkedin&quot;
    }
  ]
} %}
                </code></pre>
              </details>
            

            
            <details class="vf-details vf-box vf-box--outline">
              <summary class="vf-details--summary">HTML</summary>
              <pre><span class="hljs-tag">&lt;<span class="hljs-name">svg</span> <span class="hljs-attr">aria-hidden</span>=<span class="hljs-string">"true"</span> <span class="hljs-attr">display</span>=<span class="hljs-string">"none"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"vf-icon-collection vf-icon-collection--social"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">defs</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">g</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"vf-social--linkedin"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">rect</span> <span class="hljs-attr">xmlns</span>=<span class="hljs-string">"http://www.w3.org/2000/svg"</span> <span class="hljs-attr">width</span>=<span class="hljs-string">"5"</span> <span class="hljs-attr">height</span>=<span class="hljs-string">"14"</span> <span class="hljs-attr">x</span>=<span class="hljs-string">"2"</span> <span class="hljs-attr">y</span>=<span class="hljs-string">"8.5"</span> <span class="hljs-attr">rx</span>=<span class="hljs-string">".5"</span> <span class="hljs-attr">ry</span>=<span class="hljs-string">".5"</span> /&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">ellipse</span> <span class="hljs-attr">xmlns</span>=<span class="hljs-string">"http://www.w3.org/2000/svg"</span> <span class="hljs-attr">cx</span>=<span class="hljs-string">"4.48"</span> <span class="hljs-attr">cy</span>=<span class="hljs-string">"4"</span> <span class="hljs-attr">rx</span>=<span class="hljs-string">"2.48"</span> <span class="hljs-attr">ry</span>=<span class="hljs-string">"2.5"</span> /&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">path</span> <span class="hljs-attr">xmlns</span>=<span class="hljs-string">"http://www.w3.org/2000/svg"</span> <span class="hljs-attr">d</span>=<span class="hljs-string">"M18.5,22.5h3A.5.5,0,0,0,22,22V13.6C22,9.83,19.87,8,16.89,8a4.21,4.21,0,0,0-3.17,1.27A.41.41,0,0,1,13,9a.5.5,0,0,0-.5-.5h-3A.5.5,0,0,0,9,9V22a.5.5,0,0,0,.5.5h3A.5.5,0,0,0,13,22V14.5a2.5,2.5,0,0,1,5,0V22A.5.5,0,0,0,18.5,22.5Z"</span> /&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">g</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">g</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"vf-social--facebook"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">path</span> <span class="hljs-attr">xmlns</span>=<span class="hljs-string">"http://www.w3.org/2000/svg"</span> <span class="hljs-attr">d</span>=<span class="hljs-string">"m18.14 7.17a.5.5 0 0 0 -.37-.17h-3.77v-1.41c0-.28.06-.6.51-.6h3a.44.44 0 0 0 .35-.15.5.5 0 0 0 .14-.34v-4a.5.5 0 0 0 -.5-.5h-4.33c-4.8 0-5.17 4.1-5.17 5.35v1.65h-2.5a.5.5 0 0 0 -.5.5v4a.5.5 0 0 0 .5.5h2.5v11.5a.5.5 0 0 0 .5.5h5a.5.5 0 0 0 .5-.5v-11.5h3.35a.5.5 0 0 0 .5-.45l.42-4a.5.5 0 0 0 -.13-.38z"</span> /&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">g</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">g</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"vf-social--twitter"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">path</span> <span class="hljs-attr">xmlns</span>=<span class="hljs-string">"http://www.w3.org/2000/svg"</span> <span class="hljs-attr">d</span>=<span class="hljs-string">"M23.32,6.44a.5.5,0,0,0-.2-.87l-.79-.2A.5.5,0,0,1,22,4.67l.44-.89a.5.5,0,0,0-.58-.7l-2,.56a.5.5,0,0,1-.44-.08,5,5,0,0,0-3-1,5,5,0,0,0-5,5v.36a.25.25,0,0,1-.22.25c-2.81.33-5.5-1.1-8.4-4.44a.51.51,0,0,0-.51-.15A.5.5,0,0,0,2,4a7.58,7.58,0,0,0,.46,4.92.25.25,0,0,1-.26.36L1.08,9.06a.5.5,0,0,0-.57.59,5.15,5.15,0,0,0,2.37,3.78.25.25,0,0,1,0,.45l-.53.21a.5.5,0,0,0-.26.69,4.36,4.36,0,0,0,3.2,2.48.25.25,0,0,1,0,.47A10.94,10.94,0,0,1,1,18.56a.5.5,0,0,0-.2,1,20.06,20.06,0,0,0,8.14,1.93,12.58,12.58,0,0,0,7-2A12.5,12.5,0,0,0,21.5,9.06V8.19a.5.5,0,0,1,.18-.38Z"</span> /&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">g</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">g</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"vf-social--youtube"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">path</span> <span class="hljs-attr">xmlns</span>=<span class="hljs-string">"http://www.w3.org/2000/svg"</span> <span class="hljs-attr">d</span>=<span class="hljs-string">"M20.06,3.5H3.94A3.94,3.94,0,0,0,0,7.44v9.12A3.94,3.94,0,0,0,3.94,20.5H20.06A3.94,3.94,0,0,0,24,16.56V7.44A3.94,3.94,0,0,0,20.06,3.5ZM16.54,12,9.77,16.36A.5.5,0,0,1,9,15.94V7.28a.5.5,0,0,1,.77-.42l6.77,4.33a.5.5,0,0,1,0,.84Z"</span> /&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">g</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">g</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"vf-social--instagram"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">path</span> <span class="hljs-attr">xmlns</span>=<span class="hljs-string">"http://www.w3.org/2000/svg"</span> <span class="hljs-attr">d</span>=<span class="hljs-string">"M17.5,0H6.5A6.51,6.51,0,0,0,0,6.5v11A6.51,6.51,0,0,0,6.5,24h11A6.51,6.51,0,0,0,24,17.5V6.5A6.51,6.51,0,0,0,17.5,0ZM12,17.5A5.5,5.5,0,1,1,17.5,12,5.5,5.5,0,0,1,12,17.5Zm6.5-11A1.5,1.5,0,1,1,20,5,1.5,1.5,0,0,1,18.5,6.5Z"</span> /&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">g</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">defs</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">svg</span>&gt;</span>


<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"vf-social-links"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">h3</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"vf-social-links__heading"</span>&gt;</span>
    Follow us
  <span class="hljs-tag">&lt;/<span class="hljs-name">h3</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">ul</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"vf-social-links__list"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">li</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"vf-social-links__item"</span>&gt;</span>

      <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"vf-social-links__link"</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"JavaScript:Void(0);"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"vf-u-sr-only"</span>&gt;</span>twitter<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>

        <span class="hljs-tag">&lt;<span class="hljs-name">svg</span> <span class="hljs-attr">aria-hidden</span>=<span class="hljs-string">"true"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"vf-icon vf-icon--social vf-icon--twitter"</span> <span class="hljs-attr">width</span>=<span class="hljs-string">"24"</span> <span class="hljs-attr">height</span>=<span class="hljs-string">"24"</span> <span class="hljs-attr">viewBox</span>=<span class="hljs-string">"0 0 24 24"</span> <span class="hljs-attr">xmlns</span>=<span class="hljs-string">"http://www.w3.org/2000/svg"</span> <span class="hljs-attr">version</span>=<span class="hljs-string">"1.1"</span> <span class="hljs-attr">preserveAspectRatio</span>=<span class="hljs-string">"xMinYMin"</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-name">use</span> <span class="hljs-attr">xlink:href</span>=<span class="hljs-string">"#vf-social--twitter"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">use</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-name">svg</span>&gt;</span>

      <span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>

    <span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">li</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"vf-social-links__item"</span>&gt;</span>

      <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"vf-social-links__link"</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"JavaScript:Void(0);"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"vf-u-sr-only"</span>&gt;</span>facebook<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>

        <span class="hljs-tag">&lt;<span class="hljs-name">svg</span> <span class="hljs-attr">aria-hidden</span>=<span class="hljs-string">"true"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"vf-icon vf-icon--social vf-icon--facebook"</span> <span class="hljs-attr">width</span>=<span class="hljs-string">"24"</span> <span class="hljs-attr">height</span>=<span class="hljs-string">"24"</span> <span class="hljs-attr">viewBox</span>=<span class="hljs-string">"0 0 24 24"</span> <span class="hljs-attr">xmlns</span>=<span class="hljs-string">"http://www.w3.org/2000/svg"</span> <span class="hljs-attr">version</span>=<span class="hljs-string">"1.1"</span> <span class="hljs-attr">preserveAspectRatio</span>=<span class="hljs-string">"xMinYMin"</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-name">use</span> <span class="hljs-attr">xlink:href</span>=<span class="hljs-string">"#vf-social--facebook"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">use</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-name">svg</span>&gt;</span>

      <span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>

    <span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">li</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"vf-social-links__item"</span>&gt;</span>

      <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"vf-social-links__link"</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"JavaScript:Void(0);"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"vf-u-sr-only"</span>&gt;</span>instagram<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>

        <span class="hljs-tag">&lt;<span class="hljs-name">svg</span> <span class="hljs-attr">aria-hidden</span>=<span class="hljs-string">"true"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"vf-icon vf-icon--social vf-icon--instagram"</span> <span class="hljs-attr">width</span>=<span class="hljs-string">"24"</span> <span class="hljs-attr">height</span>=<span class="hljs-string">"24"</span> <span class="hljs-attr">viewBox</span>=<span class="hljs-string">"0 0 24 24"</span> <span class="hljs-attr">xmlns</span>=<span class="hljs-string">"http://www.w3.org/2000/svg"</span> <span class="hljs-attr">version</span>=<span class="hljs-string">"1.1"</span> <span class="hljs-attr">preserveAspectRatio</span>=<span class="hljs-string">"xMinYMin"</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-name">use</span> <span class="hljs-attr">xlink:href</span>=<span class="hljs-string">"#vf-social--instagram"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">use</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-name">svg</span>&gt;</span>

      <span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>

    <span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">li</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"vf-social-links__item"</span>&gt;</span>

      <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"vf-social-links__link"</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"JavaScript:Void(0);"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"vf-u-sr-only"</span>&gt;</span>youtube<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>

        <span class="hljs-tag">&lt;<span class="hljs-name">svg</span> <span class="hljs-attr">aria-hidden</span>=<span class="hljs-string">"true"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"vf-icon vf-icon--social vf-icon--youtube"</span> <span class="hljs-attr">width</span>=<span class="hljs-string">"24"</span> <span class="hljs-attr">height</span>=<span class="hljs-string">"24"</span> <span class="hljs-attr">viewBox</span>=<span class="hljs-string">"0 0 24 24"</span> <span class="hljs-attr">xmlns</span>=<span class="hljs-string">"http://www.w3.org/2000/svg"</span> <span class="hljs-attr">version</span>=<span class="hljs-string">"1.1"</span> <span class="hljs-attr">preserveAspectRatio</span>=<span class="hljs-string">"xMinYMin"</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-name">use</span> <span class="hljs-attr">xlink:href</span>=<span class="hljs-string">"#vf-social--youtube"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">use</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-name">svg</span>&gt;</span>

      <span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>

    <span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">li</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"vf-social-links__item"</span>&gt;</span>

      <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"vf-social-links__link"</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"JavaScript:Void(0);"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"vf-u-sr-only"</span>&gt;</span>linkedin<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>

        <span class="hljs-tag">&lt;<span class="hljs-name">svg</span> <span class="hljs-attr">aria-hidden</span>=<span class="hljs-string">"true"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"vf-icon vf-icon--social vf-icon--linkedin"</span> <span class="hljs-attr">width</span>=<span class="hljs-string">"24"</span> <span class="hljs-attr">height</span>=<span class="hljs-string">"24"</span> <span class="hljs-attr">viewBox</span>=<span class="hljs-string">"0 0 24 24"</span> <span class="hljs-attr">xmlns</span>=<span class="hljs-string">"http://www.w3.org/2000/svg"</span> <span class="hljs-attr">version</span>=<span class="hljs-string">"1.1"</span> <span class="hljs-attr">preserveAspectRatio</span>=<span class="hljs-string">"xMinYMin"</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-name">use</span> <span class="hljs-attr">xlink:href</span>=<span class="hljs-string">"#vf-social--linkedin"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">use</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-name">svg</span>&gt;</span>

      <span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>

    <span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">ul</span>&gt;</span>

<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
              </pre>
            </details>
          </article>
        

      <h3>Assets</h3>
<ul>
<li><a href="/vf-core/assets/vf-social-links/vf-social-links.njk">Nunjucks template</a></li>
<li><a href="/vf-core/assets/vf-social-links/vf-social-links.config.yml">Config</a></li>
<li><a href="/vf-core/assets/vf-social-links/CHANGELOG.md">CHANGELOG.md</a></li>
<li><a href="/vf-core/assets/vf-social-links/vf-social-links.css">vf-social-links.css</a></li>
<li><a href="/vf-core/assets/vf-social-links/vf-social-links.js">vf-social-links.js</a></li>
<li><a href="/vf-core/assets/vf-social-links/vf-social-links.scss">vf-social-links.scss</a></li>
<li><a href="/vf-core/assets/vf-social-links/vf-social-links.variables.scss">vf-social-links.variables.scss</a></li>
</ul>

    

    
      <hr>
<br/>
<p class="vf-text-body vf-text-body--4">
File system location: <code>components/vf-social-links</code>
</p>

    

  </section>
</div>

    <footer class="vf-footer">
  <div class="vf-footer__inner">
    <p class="vf-footer__notice">A toolkit to quickly build better life science websites.</p>
    <div class="vf-footer__links-group | vf-grid vf-grid__col-5">
      <div class="vf-links">
        <ul class="vf-links__list | vf-list">
          <li class="vf-list__item">
            <a class="vf-list__link" href="/vf-core/">About</a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="/vf-core/developing">Documentation</a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="https://join.slack.com/t/visual-framework/shared_invite/enQtNDAxNzY0NDg4NTY0LWFhMjEwNGY3ZTk3NWYxNWVjOWQ1ZWE4YjViZmY1YjBkMDQxMTNlNjQ0N2ZiMTQ1ZTZiMGM4NjU5Y2E0MjM3ZGQ">Help, chat</a>
          </li>
        </ul>
      </div>
      <div class="vf-links">
        <ul class="vf-links__list | vf-list">
          <li class="vf-list__item">
            <a class="vf-list__link" href="/vf-core/search">Search</a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="/vf-core/components">Components</a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="/vf-core/updates">Changelog, updates</a>
          </li>
        </ul>
      </div>
      <div class="vf-links">
        
        <ul class="vf-links__list | vf-list">
          <li class="vf-list__item">
            <a class="vf-list__link" href="/vf-core/feed.xml">RSS Feed</a>
          </li>
        </ul>
      </div>
      <div class="vf-links">
      </div>
      <div class="vf-links">
      </div>
    </div>
    <section class="vf-footer__legal | vf-grid vf-grid__col-1">
      <span class="vf-footer__legal-text">
        <a class="vf-footer__link" href="https://www.embl.org/">Brough to you by the developers, designers and UX teams at EMBL and EMBL-EBI</a>
      </span>
      <span class="vf-footer__legal-text">
        <a class="vf-footer__link" href="https://goo.gl/maps/nbxNg2HGXL1MTtzt9">Meyerhofstraße 1, 69117 Heidelberg, Germany</a>
      </span>
      <span class="vf-footer__legal-text">
        <a class="vf-footer__link" href="tel:004962213870">Tel: +49 6221 387-0</a>
      </span>
      
    </section>
    <section class="vf-footer__legal">
      <span class="vf-footer__legal-text">
        Latest release: <code>v2.3.1</code> <a href="/vf-core/updates" class="vf-footer__link">See more releases</a>
      </span>
      <span class="vf-footer__legal-text">
        Code license is Apache 2.0
      </span>
    </section>
  </div>
</footer>





<!-- This page was generated on 2020-10-27T16:00:24.366+00:00 -->
<script src="https://assets.emblstatic.net/vf/v2.3.1/scripts/scripts.js"></script>
  </body>
</html>
