---
title: The Visual Framework for life science websites
subtitle: With a focus on compatibility, portability and sane UX defaults
date: 2018-08-22 12:24:50
layout: layouts/base.njk
---

<section class="embl-grid embl-grid--has-centered-content">
{# Intro #}
{% render '@vf-intro', {
  "vf_intro_heading": "The Visual Framework",
  "vf_intro_lede": "Good defaults for life science websites, plus compatibility with existing CSS and JS. ",
  "vf_intro_subheading": "",
  "vf_intro_text": [
    'Bring your Bootstrap, React or vanilla code base. The VF will not break your existing code.',
    '<a href="about" class="vf-link">Learn more</a>, <a href="/building" class="vf-link">build something</a> or <a class="vf-link" href="guidance/discussing-the-vf/">get help</a>.'
  ],
  "vf_intro_badge": false
} %}
</section>

    {# '<a href="about" class="vf-button vf-button--primary">Learn more</a> or <a class="vf-button vf-button--primary vf-button--outline" href="guidance/discussing-the-vf/">Get help</a>' #}

<section class="embl-grid embl-grid--has-centered-content">
<div></div>
{% render '@vf-search-client-side--default', {
  "search_client_prompt": "Search components and documentation",
  "search_client_button": true,
  "search_client_button_text": "Search",
  "search_client_action": "/search/",
  "search_client_results": false
} %}
<div></div>
</section>

{% render '@vf-divider' %}

{# Installation #}
<section class="embl-grid embl-grid--has-centered-content">
  {% render '@vf-section-header', {
    "section_title": "Starter packages",
    "id": "install",
    "vf_section__content": [
      "Use an npm starter package for new projects or to graft existing code."
    ]
  } %}
  <div class="vf-content">
    {% markdown %}

    Build components into CSS and JS with <a href="https://github.com/visual-framework/vf-build-boilerplate">vf-build-boilerplate</a>:

    <pre class="vf-code-example vf-code-example__pre">
    yarn create <a href="https://github.com/visual-framework/create-vf-project">@visual-framework/vf-project</a> your-new-site-name <a href="https://github.com/visual-framework/vf-build-boilerplate">vf-build-boilerplate</a>
    </pre>

    <br/>

    A full static site generator based off 11ty with <a href="https://github.com/visual-framework/vf-eleventy">vf-eleventy</a>:

    <pre class="vf-code-example vf-code-example__pre">
    yarn create <a href="https://github.com/visual-framework/create-vf-project">@visual-framework/vf-project</a> your-new-site-name <a href="https://github.com/visual-framework/vf-eleventy">vf-eleventy</a>
    </pre>
    <br/>

    [More about the above and further options](building) and [follow a guide to setting up your development environment]({{ "/developing/getting-started/setting-up" | url }}).

    {% endmarkdown %}
  </div>
</section>

<section class="embl-grid embl-grid--has-centered-content">
  {% render '@vf-section-header', {
    "section_title": "Pick and choose",
    "id": "pick",
    "vf_section__content": [
      "Install the source Sass and JavaScript files via yarn to an existing project"
    ]
  } %}
  <div class="vf-content">

    {% markdown %}
    {% codeblock 'bash' -%}
    # 1. Add the Sass config, starter and any components

    yarn add @visual-framework/vf-sass-config @visual-framework/vf-sass-starter @visual-framework/vf-content @visual-framework/vf-analytics-google

    # 2. Import it in your Sass

    @import 'node_modules/@visual-framework/vf-sass-starter/index.scss';
    @import 'node_modules/@visual-framework/vf-content/vf-content.scss';

    # 3. Import JS modules

    import { vfGaTrackInteraction } from 'node_modules/@visual-framework/vf-analytics-google/vf-analytics-google.js';

    {%- endcodeblock %}

    <br/>

    [Browse all available components](components)

    {% endmarkdown %}

  </div>
</section>

{# Installation #}
<section class="embl-grid embl-grid--has-centered-content">
  {% render '@vf-section-header', {
    "section_title": "Prebuilt CDN",
    "id": "cdn",
    "vf_section__content": [
      "Get a kitchen sink of pre-compiled CSS and JS from the CDN."
    ]
  } %}
  <div class="vf-content">

    {% markdown %}
    {% codeblock 'html' -%}
    <!-- CSS only -->
    <link rel="stylesheet" href="https://{{ siteConfig.vfVersionPrefix }}assets.emblstatic.net/vf/{{ siteConfig.vfVersion }}/css/styles.css">
    <!-- JS -->
    <script src="https://{{ siteConfig.vfVersionPrefix }}assets.emblstatic.net/vf/{{ siteConfig.vfVersion }}/scripts/scripts.js"></script>
    {%- endcodeblock %}
    <br/>

    [See examples in our HTML boilerplates](/patterns) for quick starts and layouts.

    {% endmarkdown %}
  </div>
</section>

{% render '@vf-divider' %}

{# Sections #}
 {# vf-u-background-color--grey--lightest #}
<section class="vf-card-container | vf-u-fullbleed">
  <div class="vf-card-container__inner">
  {% render '@vf-section-header', {
    "section_title": "Sections",
    "id": "sections"
  } %}

  <style>
  .vf-card__image {
    --vf-card__image--aspect-ratio: 8/4;
  }
  </style>

  {#- show all pages classes as sections -#}
  {#- by default, 11ty sorts by `date` field -#}
  {%- for section in collections.sections | reverse %}
    {% if section.data.promoted == true %}
      {# Eventually these might have unique images, not sure yet #}
      {%- set absolutePostUrl %}{{ metadata.id }}{{ section.url }}{% endset %}
      {%- render '@vf-card', {
        "newTheme": "primary",
        "variant": "bordered",
        "card_title": section.data.title,
        "card_href": absolutePostUrl | url,
        "card_image": "https://acxngcvroo.cloudimg.io/v7/https://www.embl.org/files/wp-content/uploads/vf-hero-intense.png",
        "card_text": section.data.subtitle,
        "card_image__alt": section.data.title
      } %}
    {% endif %}
  {%- endfor %}
  </div>
</section>

{# what's current #}
<section class="embl-grid embl-grid--has-centered-content">
  {% render '@vf-section-header', {
    "section_title": "What's current?",
    "id": "current",
    "vf_section__content": [
      ""
    ]
  } %}
  <div class="vf-content">
    {% markdown %}

    - Latest stable release: `{{ siteConfig.vfVersion }}`
    - [View the latest in-development version](https://latest.visual-framework.dev/)
    - [See more releases and read about changes](updates)

    {% endmarkdown %}
  </div>
</section>
