---
title: The Visual Framework
subtitle: Tailored for life science websites
date: 2018-08-22 12:24:50
layout: layouts/base.njk
---


{% render '@vf-hero--intense', {
  "modifier_class": "vf-hero--intense",
  "vf_hero_subheading": "",
  "vf_hero_text": "Learn more about the Visual Framework",
  "vf_hero_link_text": "Learn more.",
  "vf_hero_heading": title,
  "vf_hero__initial_row": "384px;",
  "vf_hero_image": "url('https://acxngcvroo.cloudimg.io/v7/https://www.embl.org/files/wp-content/uploads/vf-hero-intense.png');",
  "vf_hero_summary_title": siteConfig.siteInformation.short_description,
  "vf_hero_href": "about"
} %}

<section class="vf-grid embl-grid--has-centered-content">
<div>
  <p class="vf-intro__text">
  The Visual Framework (VF) is designed with the <a href="https://blogs.embl.org/communications/2018/09/12/faster-scientific-websites-through-reusability" class="vf-link">needs</a> of life science websites and services. It goes beyond guidance for tables, graphs, data-heavy typography and focuses on being sane defaults and implements its CSS in a way that won't interfere with your existing components that use Bootstrap, Angular, or something else.
  </p>
</div>
</section>

{# Search #}
<section class="vf-content | embl-grid embl-grid--has-centered-content">
<div><!-- empty --></div>
<div class="">
{# {% markdown %}

## Guide: [Building a VF-powered system]({{ '/building' | url }})

The when and how to making a project powered with Visual Framework components. [See the building guide]({{ '/building' | url }}).

{% endmarkdown %} #}

{% render '@vf-search-client-side--default', {
  "search_client_prompt": "Search components and documentation",
  "search_client_button": true,
  "search_client_button_text": "Search",
  "search_client_action": "/vf-core/search/",
  "search_client_results": false
} %}

</div>
</section>

{# Installation #}
<section class="embl-grid embl-grid--has-centered-content">
  {% render '@vf-section-header', {
    "section_title": "Install, build",
    "id": "install",
    "vf_section__content": [
      "Install the source Sass and JavaScript files via npm"
    ]
  } %}
  <div class="vf-content">

    {% markdown %}

    Package managed installs don’t include documentation or our full build scripts.

    {% codeblock 'bash' -%}
    # Via npm
    npm install librarynamehere
    {%- endcodeblock %}

    <br/>

    You can also [use our templates](building) to quickly generate a Bootstrap project via npm.

    {% endmarkdown %}

  </div>
</section>

<hr class="vf-divider" />

{# Installation #}
<section class="embl-grid embl-grid--has-centered-content">
  {% render '@vf-section-header', {
    "section_title": "Prebuilt CDN",
    "id": "cdn",
    "vf_section__content": [
      "When you only need to include compiled CSS or JS, you can use the CDN."
    ]
  } %}
  <div class="vf-content">

    {% markdown %}
    See it in action with our simple starter template, or browse the examples to jumpstart your next project.

    [Explore the docs](#)

    {% codeblock 'html' -%}
    <!-- CSS only -->
    <link rel="stylesheet" href="https://dev.assets.emblstatic.net/vf/{{ siteConfig.vfVersion }}/css/styles.css">
    <!-- JS -->
    <script src="https://dev.assets.emblstatic.net/vf/{{ siteConfig.vfVersion }}/scripts/scripts.js"></script>
    {%- endcodeblock %}

    <br/>

    Latest release: `v{{ siteConfig.vfVersion }}` [See more releases](updates).

    {% endmarkdown %}

  </div>
</section>

<hr class="vf-divider" />


{# Sections #}
<section class="embl-grid embl-grid--has-centered-content">
  {% render '@vf-section-header', {
    "section_title": "Sections",
    "id": "sections"
  } %}
  <div class="vf-content">
    {# show all pages classes as sections #}
    {# by default, 11ty sorts by `date` field #}
    {%- for section in collections.sections  %}
      {% if section.data.is_index == true %}
        {% set absolutePostUrl %}{{ metadata.id }}{{ section.url }}{% endset %}

        {% markdown %}
        ## [{{ section.data.title }}]({{ absolutePostUrl | url }})

        {{ section.data.subtitle }}
        {% endmarkdown %}

      {% endif %}
    {%- endfor %}
  </div>
</section>
