---
title: Search
subtitle: Search documentation and guidance.
date: 2018-08-22 12:24:50
is_index: true
hideSubPosts: true
layout: layouts/section.njk
---

{% render '@vf-search-client-side--default', {
  "search_client_prompt": "Enter a search query",
  "search_client_autofocus": true,
  "search_client_button": true,
  "search_client_button_text": "Search",
  "search_client_action": "/search/",
  "search_client_script": "/search_index.js",
  "search_client_results": true
} %}
