$componentInfo: (
             name: "@visual-framework/vf-deprecated",
             version: "1.0.0",
             location: "components/vf-deprecated",
             vfCoreVersion: "2.2.6"
          );