$componentInfo: (
             name: "@visual-framework/vf-discussion",
             version: "1.0.0",
             location: "components/vf-discussion",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Thu, 05 Nov 2020 09:33:30 GMT"
          );