$componentInfo: (
             name: "@visual-framework/vf-discussion",
             version: "1.0.0",
             location: "components/vf-discussion",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Thu, 29 Oct 2020 19:57:08 GMT"
          );