$componentInfo: (
             name: "@visual-framework/vf-discussion",
             version: "1.0.0",
             location: "components/vf-discussion",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Tue, 27 Oct 2020 10:25:50 GMT"
          );