

<div class="vf-body">
  <div class="embl-grid">
    <div></div>
    <div></div>
  </div>
  <div class="embl-grid">
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="embl-grid">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="embl-grid embl-grid--has-sidebar">
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="embl-grid embl-grid--has-centered-content">
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>

<style>
.embl-grid > div {
  /* For illustrative use on component demo page */
  background-color: rgb(41, 141, 211);
  min-height: 5em;
  margin-bottom: 1em;
}
</style>

