

<div class="vf-box vf-box-vf-box--secondary vf-box--outline" data-embl-js-conditional-edit>
  <p class="vf-text vf-text--body-r">Sample content with a condtional edit link beneatht it.</p>
  <p class="vf-text vf-text--body-r">This is done through JavaScript where a parent element has <code>data-embl-js-conditional-edit</code> and <code>?embl-conditional-edit=enabled</code> is appended to the URL.</p>
  <p class="vf-text vf-text--body-r"><a class="vf-link embl-conditional-edit" href="#edit" target="_blank">Edit</a></p>
</div>

<div class="embl-coditional-edit__enabled | vf-box vf-box-vf-box--secondary vf-box--outline">
  <p class="vf-text vf-text--body-r">This section is a non-JS solution where a parent element has `.embl-coditional-edit__enabled`.</p>
  <p class="vf-text vf-text--body-r"><a class="vf-link embl-conditional-edit" href="#edit" target="_blank">Edit</a></p>
</div>

