

<aside class="vf-article-meta-information">
  <div class="vf-author | vf-article-meta-info__author">
    <p class="vf-author__name | vf-text--body-xs">
      <a class="vf-link" href="#">First-Name Surame</a>
    </p>
   <a class="vf-author--avatar__link | vf-link" href="#">
     <!-- wrapping the avatar in a link is optional -->
     <img class="vf-author--avatar" src="https://avatars3.githubusercontent.com/u/925197?s=88&v=4" alt="FirstName Surname" />
   </a>
  </div>
  <div class="vf-meta__details">
    <p class="vf-meta__topics | vf-text--body-xs">Topic:
      <a href="JavaScript:Void(0);" class="vf-link">cancer</a>
      <a href="JavaScript:Void(0);" class="vf-link">history</a>
    <p class="vf-meta__date | vf-text--body-xs">14th February 2019</p>
  </div>
  <div class="vf-meta__comments">
    <p class="vf-text--body-xs">Comments — <a href="JavaScript:Void(0);" class="vf-link">61</a></p>
  </div>
  <div class="vf-links | vf-article-meta-info__links">
    <h6 class="vf-text vf-text--body-xs">On This Page</h6>
      <a href="JavaScript:Void(0);" class="vf-link | vf-text--body-xs">heading link 1</a>
      <a href="JavaScript:Void(0);" class="vf-link | vf-text--body-xs">heading link 2</a>
      <a href="JavaScript:Void(0);" class="vf-link | vf-text--body-xs">heading link 3</a>
      <a href="JavaScript:Void(0);" class="vf-link | vf-text--body-xs">heading link 4</a>
      <a href="JavaScript:Void(0);" class="vf-link | vf-text--body-xs">heading link 5</a>
      <a href="JavaScript:Void(0);" class="vf-link | vf-text--body-xs">heading link 6</a>
  </div>
</aside>

