

<aside class="vf-article-meta-information">
  <div class="vf-author | vf-article-meta-info__author">
    <p class="vf-author__name">
      <a class="vf-link" href="JavaScript:Void(0);">First-Name Surame</a>
    </p>
   <a class="vf-author--avatar__link | vf-link" href="JavaScript:Void(0);">
     <!-- wrapping the avatar in a link is optional -->
     <img class="vf-author--avatar" src="https://avatars3.githubusercontent.com/u/925197?s=88&v=4" alt="FirstName Surname" />
   </a>
  </div>
  <div class="vf-meta__details">
    <p class="vf-meta__date">14th February 2019</p>

    <p class="vf-meta__topics">Topics:
      <a href="JavaScript:Void(0);" class="vf-link">cancer</a>
      <a href="JavaScript:Void(0);" class="vf-link">history</a>
  </div>
  <div class="vf-meta__comments">
    <p class"vf-meta__text">Comments — <a href="JavaScript:Void(0);" class="vf-link">61</a></p>
  </div>
  <div class="vf-links vf-links--tight vf-links__list--s">
    <p class="vf-links__heading">On this page</p>
    <ul class="vf-links__list vf-links__list--secondary | vf-list">
      <li class="vf-list__item">
        <a class="vf-list__link" href="JavaScript:Void(0);">heading link 1</a>
      </li>
      <li class="vf-list__item">
        <a class="vf-list__link" href="JavaScript:Void(0);">heading link 2</a>
      </li>
      <li class="vf-list__item">
        <a class="vf-list__link" href="JavaScript:Void(0);">heading link 3</a>
      </li>
      <li class="vf-list__item">
        <a class="vf-list__link" href="JavaScript:Void(0);">heading link 4</a>
      </li>
      <li class="vf-list__item">
        <a class="vf-list__link" href="JavaScript:Void(0);">heading link 5</a>
      </li>
      <li class="vf-list__item">
        <a class="vf-list__link" href="JavaScript:Void(0);">heading link 6</a>
      </li>
    </ul>
  </div>
</aside>

