

<nav class="vf-breadcrumbs" aria-label="Breadcrumb">

  <ul class="vf-breadcrumbs__list | vf-list vf-list--inline">
    <li class="vf-breadcrumbs__item">
      <a href="" class="vf-breadcrumbs__link">Explore</a>
    </li>
    <li class="vf-breadcrumbs__item">
      <a href="" class="vf-breadcrumbs__link">Topics</a>
    </li>
    <li class="vf-breadcrumbs__item">
      Centre
    </li>
  </ul>

  <span class="vf-breadcrumbs__heading">Related:</span>
  <ul class="vf-breadcrumbs__list vf-breadcrumbs__list--related | vf-list vf-list--inline">

    <li class="vf-breadcrumbs__item">
      <a href="JavaScript:Void(0);" class="vf-breadcrumbs__link">Biscuits</a>
    </li>

    <li class="vf-breadcrumbs__item">
      <a href="JavaScript:Void(0);" class="vf-breadcrumbs__link">
        Fruits For Cheese
      </a>
    </li>

  </ul>

</nav>

