

<!DOCTYPE html>
<html lang="en" class="vf-no-js">
<head>
<script>
// Detect if JS is on and swap vf-no-js for vf-js on the html element
(function(H){H.className=H.className.replace(/\bvf-no-js\b/,'vf-js')})(document.documentElement);
</script>
  <title> | Visual Framework 2.0</title>

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, minimum-scale=1" name="viewport">

<link rel="shortcut icon" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/favicon.ico">
<link rel="apple-touch-icon" sizes="180x180" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/favicon-16x16.png">
<link rel="manifest" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/site.webmanifest">
<link rel="mask-icon" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/safari-pinned-tab.svg" color="#ffffff">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">
<!-- Content descriptors -->
<meta name="embl:who" content="Group Jane"> <!-- the people, groups and teams involved -->
<meta name="embl:where" content="Barcelona"> <!-- at which EMBL sites the content applies -->
<meta name="embl:what" content="research"> <!-- the activities covered -->
<meta name="embl:active" content="what"> <!-- which of the who/what/where is active -->

<!-- Content role -->
<meta name="embl:utility" content="-8"> <!-- if content is task and work based or if is meant to inspire -->
<meta name="embl:reach" content="-5"> <!-- if content is externally (public) or internally focused (those that work at EMBL) -->

<!-- Page infromation -->
<meta name="embl:maintainer" content=""> <!-- the contact person or group responsible for the page -->
<meta name="embl:last-review" content="NaN"> <!-- the last time the page was reviewed or updated -->
<meta name="embl:review-cycle" content=""> <!-- how long in days before the page should be checked -->
<meta name="embl:expiry" content=""> <!-- if there is a fixed point in time when the page is no longer relevant -->

  <link rel="stylesheet" href="https://dev.assets.emblstatic.net/vf/develop/css/styles.css">
</head>
<body>
  <header class="vf-header">
<header class="vf-global-header">

<a href="http://www.embl.de"
class="vf-logo | vf-logo--has-text">
  <img class="vf-logo__image" src="../../assets/vf-logo/assets/logo.svg" alt="Visual Framework 2.0">
  <span class="vf-logo__text">Visual Framework 2.0</span>
</a>

    <p class="vf-global-header__site-name">Visual Framework for Life Science websites</p>

<nav class="vf-navigation vf-navigation--global">
  <ul class="vf-navigation__list | vf-list--inline">
    <li class="vf-navigation__item">
      <a href="JavaScript:Void(0);" class="vf-navigation__link">services</a>
    </li>
    <li class="vf-navigation__item">
      <a href="JavaScript:Void(0);" class="vf-navigation__link">research</a>
    </li>
    <li class="vf-navigation__item">
      <a href="JavaScript:Void(0);" class="vf-navigation__link">training</a>
    </li>
    <li class="vf-navigation__item">
      <a href="JavaScript:Void(0);" class="vf-navigation__link">about us</a>
    </li>
  </ul>
</nav>

</header>
  </header>

  <!-- dismissible banner -->
  <section class="vf-banner vf-banner--fixed vf-banner--bottom vf-banner--phase" data-vf-js-banner data-vf-js-banner-state="dismissible" data-vf-js-banner-button-text="Close notice">
      <div class="vf-banner__content" data-vf-js-banner-text>
        <div>
          <h3 class="vf-text vf-text-heading--4">
            Don't need to customise the EMBL Design Language for Websites?
          </h3>
          <p class="vf-banner__text">Here's the core CSS and JS you need. Don't forget to <a href="http://www.embl.org/guidelines/visual-framework/dev-docs/" class="vf-link">consult the component library</a>.</p>
<pre class="vf-code-example__pre"><code class="Code Code--lang-html vf-code-example"><span class="hljs-tag">&lt;<span class="hljs-name">link</span> <span class="hljs-attr">rel</span>=<span class="hljs-string">&quot;stylesheet&quot;</span> <span class="hljs-attr">href</span>=<span class="hljs-string">&quot;https://dev.assets.emblstatic.net/vf/develop/css/styles.css&quot;</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">script</span> <span class="hljs-attr">src</span>=<span class="hljs-string">&quot;https://dev.assets.emblstatic.net/vf/develop/scripts/scripts.js&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">script</span>&gt;</span>
</code></pre>        </div>
      </div>
  </section>


  <div class="vf-body">

<section class="vf-intro | embl-grid embl-grid--has-centered-content">
  <div><!-- empty --></div>
  <div>

  <h1 class="vf-intro__heading vf-intro__heading--has-tag">Cancer      <a href="JavaScript:Void(0);" class="vf-badge vf-badge--primary vf-badge--phases">beta</a></h1>


<p class="vf-intro__text">Cancer is a multi-stage process. Normal cells begin to divide abnormally, spreading beyond their normal boundaries, and abnormal tissue growth causes swellings called tumours to form. Tumours can be benign – with no harmful effect on the body – or malignant, invading healthy tissue and interfering with normal bodily functions.</p><p class="vf-intro__text">There are more than 100 types of cancer and symptoms vary depending on the type. <a class="vf-link" href="JavaScript:Void(0);">Read more about Cancer</a>.</p>
  </div>
</section>
  </div>

<footer class="vf-footer">
  <div class="vf-footer__inner">
    <p class="vf-footer__notice">A description of a site or organisation and what its goals are.</p>
    <div class="vf-footer__links-group | vf-grid">
      <div class="vf-links">
        <h4 class="vf-links__heading">Category</h4>
        <ul class="vf-links__list | vf-list">
          <li class="vf-list__item">
            <a class="vf-list__link" href="JavaScript:Void(0);">A link</a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="JavaScript:Void(0);">Another link</a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="JavaScript:Void(0);">Third link</a>
          </li>
        </ul>
      </div>
      <div class="vf-links">
        <h4 class="vf-links__heading">Category</h4>
        <ul class="vf-links__list | vf-list">
          <li class="vf-list__item">
            <a class="vf-list__link" href="JavaScript:Void(0);">Entry</a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="JavaScript:Void(0);">Entry</a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="JavaScript:Void(0);">Entry</a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="JavaScript:Void(0);">Entry</a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="JavaScript:Void(0);">Entry</a>
          </li>
        </ul>
      </div>
      <div class="vf-links">
        <h4 class="vf-links__heading">Category</h4>
        <ul class="vf-links__list | vf-list">
          <li class="vf-list__item">
            <a class="vf-list__link" href="JavaScript:Void(0);">Entry</a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="JavaScript:Void(0);">Entry</a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="JavaScript:Void(0);">Entry</a>
          </li>
        </ul>
      </div>
      <div class="vf-links">
        <h4 class="vf-links__heading">Category</h4>
        <ul class="vf-links__list | vf-list">
          <li class="vf-list__item">
            <a class="vf-list__link" href="JavaScript:Void(0);">Entry</a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="JavaScript:Void(0);">Entry</a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="JavaScript:Void(0);">Entry</a>
          </li>
        </ul>
      </div>
      <div class="vf-links">
        <h4 class="vf-links__heading">Category</h4>
        <ul class="vf-links__list | vf-list">
          <li class="vf-list__item">
            <a class="vf-list__link" href="JavaScript:Void(0);">Entry</a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="JavaScript:Void(0);">Entry</a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="JavaScript:Void(0);">Entry</a>
          </li>
        </ul>
      </div>

    </div>
    <section class="vf-footer__legal | vf-grid vf-grid__col-1">
      <ul class="vf-footer__list vf-footer__list--legal | vf-list vf-list--inline">
        <li class="vf-list__item">
          <a href="JavaScript:Void(0);" class="vf-list__link">Entry</a>
        </li>
        <li class="vf-list__item">
          <a href="JavaScript:Void(0);" class="vf-list__link">Entry</a>
        </li>
        <li class="vf-list__item">
          <a href="JavaScript:Void(0);" class="vf-list__link">Entry</a>
        </li>
      </ul>
      <p class="vf-footer__legal-text">Copyright © Your Organisation.</p>
      <p class="vf-footer__legal-text">Maybe an address too, 5555, Somewhere, Earth.</p>
      <p class="vf-footer__legal-text">Tel: +49 00 000 000.</p>
      <a class="vf-footer__link" href="JavaScript:Void(0);">Another entry</a>
    </section>
  </div>
</footer>

  <script src="../../scripts/scripts.js"></script>
</body>
</html>

