

<!-- Start: @vf-badge--examples -->
<style>
li {
  color: black;
}
</style>
<h2>Default</h2>
<span class="vf-badge">alpha</span>

<h2>Colours</h2>
<span class="vf-badge vf-badge--primary">alpha</span>
<span class="vf-badge vf-badge--secondary">alpha</span>
<span class="vf-badge vf-badge--tertiary">alpha</span>

<ul class="vf-list vf-list--inline">
  <li>vf-badge--primary</li>
  <li>vf-badge--secondary</li>
  <li>vf-badge--tertiary</li>
</ul>
<h2>Variants</h2>
<span class="vf-badge vf-badge--primary vf-badge--rounded">alpha</span>
<span class="vf-badge vf-badge--primary vf-badge--pill">alpha</span>
<div class="vf-badge vf-badge--primary vf-badge--square" arta-label="alpha"></div>
<span class="vf-badge vf-badge--primary vf-badge--phases">alpha</span>
<span class="vf-badge vf-badge--primary vf-badge--phases">beta</span>

<ul class="vf-list vf-list--inline">
  <li>vf-badge--pill</li>
  <li>vf-badge--rounded</li>
  <li>vf-badge--square</li>
</ul>
<h2>Outlines</h2>
<span class="vf-badge vf-badge--primary vf-badge--outline">alpha</span>

<ul class="vf-list vf-list--inline">
  <li>vf-badge--outline</li>
</ul>
<!-- End: @vf-badge--examples -->

<!-- Start: @vf-badge--links -->
<a href=""class="vf-badge vf-badge--primary">alpha</a>
<!-- End: @vf-badge--links -->

