

<!DOCTYPE html>
<html lang="en" class="vf-no-js">
<head>
<script>
// Detect if JS is on and swap vf-no-js for vf-js on the html element
(function(H){H.className=H.className.replace(/\bvf-no-js\b/,'vf-js')})(document.documentElement);
</script>
  <title> | Visual Framework 2.0</title>

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, minimum-scale=1" name="viewport">

<link rel="apple-touch-icon" sizes="180x180" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/favicon-16x16.png">
<link rel="manifest" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/site.webmanifest">
<link rel="mask-icon" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/safari-pinned-tab.svg" color="#ffffff">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">
<!-- Content descriptors -->
<meta name="embl:who" content="Group Jane"> <!-- the people, groups and teams involved -->
<meta name="embl:where" content="Barcelona"> <!-- at which EMBL sites the content applies -->
<meta name="embl:what" content="research"> <!-- the activities covered -->
<meta name="embl:active" content="what"> <!-- which of the who/what/where is active -->

<!-- Content role -->
<meta name="embl:utility" content="-8"> <!-- if content is task and work based or if is meant to inspire -->
<meta name="embl:reach" content="-5"> <!-- if content is externally (public) or internally focused (those that work at EMBL) -->

<!-- Page infromation -->
<meta name="embl:maintainer" content=""> <!-- the contact person or group responsible for the page -->
<meta name="embl:last-review" content="NaN"> <!-- the last time the page was reviewed or updated -->
<meta name="embl:review-cycle" content=""> <!-- how long in days before the page should be checked -->
<meta name="embl:expiry" content=""> <!-- if there is a fixed point in time when the page is no longer relevant -->

  <link rel="stylesheet" href="https://dev.assets.emblstatic.net/vf/develop/css/styles.css">
</head>
<body>
  <header class="vf-header">
<header class="vf-global-header">

  <div class="vf-global-header__inner">

<a href="http://www.embl.de"

class="vf-logo--responsive">
  <span class="vf-sr-only">Visual Framework 2.0</span>
</a>

    <p class="vf-global-header__site-name">Visual Framework for Life Science websites</p>

<nav class="vf-navigation vf-navigation--global">
  <ul class="vf-navigation__list | vf-list--inline">
    <li class="vf-navigation__item">
      <a href="JavaScript:Void(0);" class="vf-navigation__link">services</a>
    </li>
    <li class="vf-navigation__item">
      <a href="JavaScript:Void(0);" class="vf-navigation__link">research</a>
    </li>
    <li class="vf-navigation__item">
      <a href="JavaScript:Void(0);" class="vf-navigation__link">training</a>
    </li>
    <li class="vf-navigation__item">
      <a href="JavaScript:Void(0);" class="vf-navigation__link">about us</a>
    </li>
  </ul>
</nav>

  </div>

</header>
  </header>

  <!-- dismissible banner -->
  <section class="vf-banner vf-banner--fixed vf-banner--bottom vf-banner--phase" data-vf-js-banner data-vf-js-banner-state="dismissible" data-vf-js-banner-button-text="Close notice">
      <div class="vf-banner__content" data-vf-js-banner-text>
        <div>
          <h3 class="vf-text vf-text--heading-r">
            Don't need to customise the EMBL Design Language for Websites?
          </h3>
          <p class="vf-banner__text">Here's the core CSS and JS you need. Don't forget to <a href="http://dev.beta.embl.org/guidelines/visual-framework/dev-docs/" class="vf-link">consult the component library</a>.</p>
<code class="Code Code--lang-html vf-code-example"><pre class="vf-code-example__pre"><span class="hljs-tag">&lt;<span class="hljs-name">link</span> <span class="hljs-attr">rel</span>=<span class="hljs-string">"stylesheet"</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"https://dev.assets.emblstatic.net/vf/develop/css/styles.css"</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">script</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"https://dev.assets.emblstatic.net/vf/develop/scripts/scripts.js"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">script</span>&gt;</span>
</pre></code>        </div>
      </div>
  </section>


  <div class="vf-body">
<section class="vf-intro | embl-grid embl-grid--has-centered-content">
  <div><!-- empty --></div>
  <div>
    <h1 class="vf-intro__heading vf-intro__heading--has-tag">Cancer <a href="" class="vf-badge vf-badge--primary vf-badge--phases">beta</a></h1>
<p class="vf-lede">Cancer is a generic term for lots of different diseases in which cells divide many more times than usual. This abnormal growth can affect many cell types in almost any part of the body.</p>
<p class="vf-intro__text">Cancer is a multi-stage process. Normal cells begin to divide abnormally, spreading beyond their normal boundaries, and abnormal tissue growth causes swellings called tumours to form. Tumours can be benign – with no harmful effect on the body – or malignant, invading healthy tissue and interfering with normal bodily functions.</p>
<p class="vf-intro__text">There are more than 100 types of cancer and symptoms vary depending on the type. <a class="vf-link" href="JavaScript:Void(0);">Read more about Cancer</a>.</p>
  </div>
</section>
  </div>

<footer class="vf-footer | vf-body">
  <div class="vf-footer__inner">
    <p class="vf-footer__notice">EMBL is Europe’s flagship laboratory for the life sciences – an intergovernmental organisation with more than 80 independent research groups covering the spectrum of molecular biology.</p>
    <div class="vf-footer__links-group | vf-grid">
      <div class="vf-links">
        <h4 class="vf-links__heading">Research</h3>
        <ul class="vf-links__list | vf-list">
          <li class="vf-list__item">
            <a class="vf-list__link" href="#">Research Units</a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="#">Research Groups</a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="#">Publications</a>
          </li>
        </ul>
      </div>
      <div class="vf-links">
        <h4 class="vf-links__heading">Services</h3>
        <ul class="vf-links__list | vf-list">
          <li class="vf-list__item">
            <a class="vf-list__link" href="#">By Topic</a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="#">By A-Z</a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="#">Microscopes</a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="#">Images</a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="#">Library</a>
          </li>
        </ul>
      </div>
      <div class="vf-links">
        <h4 class="vf-links__heading">Research</h3>
        <ul class="vf-links__list | vf-list">
          <li class="vf-list__item">
            <a class="vf-list__link" href="#">Research Units</a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="#">Research Groups</a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="#">Publications</a>
          </li>
        </ul>
      </div>
      <div class="vf-links">
        <h4 class="vf-links__heading">Research</h3>
        <ul class="vf-links__list | vf-list">
          <li class="vf-list__item">
            <a class="vf-list__link" href="#">Research Units</a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="#">Research Groups</a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="#">Publications</a>
          </li>
        </ul>
      </div>
      <div class="vf-links">
        <h4 class="vf-links__heading">Research</h3>
        <ul class="vf-links__list | vf-list">
          <li class="vf-list__item">
            <a class="vf-list__link" href="#">Research Units</a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="#">Research Groups</a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="#">Publications</a>
          </li>
        </ul>
      </div>

    </div>
    <section class="vf-footer__legal | vf-grid vf-grid__col-1">
      <ul class="vf-footer__list vf-footer__list--legal | vf-list vf-list--inline">
        <li class="vf-list__item">
          <a href="#" class="vf-list__link">Help</a>
        </li>
        <li class="vf-list__item">
          <a href="#" class="vf-list__link">Policies &amp; Guidelines</a>
        </li>
        <li class="vf-list__item">
          <a href="#" class="vf-list__link">Privacy Policy</a>
        </li>
      </ul>
      <p class="vf-footer__legal-text">Copyright © EMBL 2018.</p>
      <p class="vf-footer__legal-text">Meyerhofstraße 1, 69117 Heidelberg, Germany.</p>
      <p class="vf-footer__legal-text">Tel: +49 6221 387-0.</p>
      <a class="vf-footer__link" href="#">Full contact details</a>
    </section>
  </div>
</footer>

  <script src="../../scripts/scripts.js"></script>
</body>
</html>

