

<section class="vf-card-container | vf-u-background-color--grey--lightest">
  <div class="vf-card-container__inner">

 <div class="vf-section-header"><a class="vf-section-header__heading vf-section-header__heading--is-link"> Missions <svg class="vf-section-header__icon | vf-icon vf-icon-arrow--inline-end" width="24" height="24" xmlns="http://www.w3.org/2000/svg"><path d="M0 12c0 6.627 5.373 12 12 12s12-5.373 12-12S18.627 0 12 0C5.376.008.008 5.376 0 12zm13.707-5.209l4.5 4.5a1 1 0 010 1.414l-4.5 4.5a1 1 0 01-1.414-1.414l2.366-2.367a.25.25 0 00-.177-.424H6a1 1 0 010-2h8.482a.25.25 0 00.177-.427l-2.366-2.368a1 1 0 011.414-1.414z" fill="" fill-rule="nonzero"></path></svg></a><p class="vf-section-header__text">To promote molecular biology across Europe</p><p class="vf-section-header__text">To create a centre of excellence for Europe's leading young molecular biologists</p></div> 



<a
 href="http://www.hello.com"
  
  
  class="vf-card vf-card--is-link vf-card--easy">
  <img src="../../assets/vf-card/assets/vf-card-example.png" alt="" class="vf-card__image">
  <div class="vf-card__content">
    <h3 class="vf-card__title">
      A Easy Card Title 1
    </h3>
    <p class="vf-card__text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente harum, omnis provident saepe aut eius aliquam sequi fugit incidunt reiciendis, mollitia quos?
    </p>
  </div>
</a>



<a
 href="http://www.hello.com"
  
  
  class="vf-card vf-card--is-link vf-card--normal">
  <img src="../../assets/vf-card/assets/vf-card-example.png" alt="" class="vf-card__image">
  <div class="vf-card__content">
    <h3 class="vf-card__title">
      A Normal Card Title 1
    </h3>
    <p class="vf-card__text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente harum, omnis provident saepe aut eius aliquam sequi fugit incidunt reiciendis, mollitia quos?
    </p>
  </div>
</a>



<a
 href="http://www.hello.com"
  
  
  class="vf-card vf-card--is-link vf-card--normal vf-card-theme--primary">
  <img src="../../assets/vf-card/assets/vf-card-example.png" alt="" class="vf-card__image">
  <div class="vf-card__content">
    <h3 class="vf-card__title">
      A Normal Card Title 1.5
    </h3>
    <p class="vf-card__text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente harum, omnis provident saepe aut eius aliquam sequi fugit incidunt reiciendis, mollitia quos?
    </p>
  </div>
</a>



<div

  
  
  class="vf-card vf-card--normal vf-card-theme--secondary">
  <img src="../../assets/vf-card/assets/vf-card-example.png" alt="" class="vf-card__image">
  <div class="vf-card__content">
    <h3 class="vf-card__title">
      A Normal Card Title 2
    </h3>
    <p class="vf-card__text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente harum, omnis provident saepe aut eius aliquam sequi fugit incidunt reiciendis, mollitia quos?
    </p>
  </div>
</div>



<div

  
  
  class="vf-card vf-card--normal vf-card-theme--tertiary">
  <img src="../../assets/vf-card/assets/vf-card-example.png" alt="" class="vf-card__image">
  <div class="vf-card__content">
    <h3 class="vf-card__title">
      A Normal Card Title 3
    </h3>
    <p class="vf-card__text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente harum, omnis provident saepe aut eius aliquam sequi fugit incidunt reiciendis, mollitia quos?
    </p>
  </div>
</div>



<div

  
  
  class="vf-card vf-card--normal vf-card-theme--quaternary">
  <img src="../../assets/vf-card/assets/vf-card-example.png" alt="" class="vf-card__image">
  <div class="vf-card__content">
    <h3 class="vf-card__title">
      A Normal Card Title 4
    </h3>
    <p class="vf-card__text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente harum, omnis provident saepe aut eius aliquam sequi fugit incidunt reiciendis, mollitia quos?
    </p>
  </div>
</div>



<a
 href="http://www.hello.com"
  
  
  class="vf-card vf-card--is-link vf-card--medium">
  <img src="../../assets/vf-card/assets/vf-card-example.png" alt="" class="vf-card__image">
  <div class="vf-card__content">
    <h3 class="vf-card__title">
      A Medium Card Title 1
    </h3>
    <p class="vf-card__text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente harum, omnis provident saepe aut eius aliquam sequi fugit incidunt reiciendis, mollitia quos?
    </p>
  </div>
</a>



<a
 href="http://www.hello.com"
  
  
  class="vf-card vf-card--is-link vf-card--medium vf-card-theme--primary">
  <img src="../../assets/vf-card/assets/vf-card-example.png" alt="" class="vf-card__image">
  <div class="vf-card__content">
    <h3 class="vf-card__title">
      A Medium Card Title 1.5
    </h3>
    <p class="vf-card__text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente harum, omnis provident saepe aut eius aliquam sequi fugit incidunt reiciendis, mollitia quos?
    </p>
  </div>
</a>



<div

  
  
  class="vf-card vf-card--medium vf-card-theme--secondary">
  <img src="../../assets/vf-card/assets/vf-card-example.png" alt="" class="vf-card__image">
  <div class="vf-card__content">
    <h3 class="vf-card__title">
      A Medium Card Title 2
    </h3>
    <p class="vf-card__text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente harum, omnis provident saepe aut eius aliquam sequi fugit incidunt reiciendis, mollitia quos?
    </p>
  </div>
</div>



<div

  
  
  class="vf-card vf-card--medium vf-card-theme--tertiary">
  <img src="../../assets/vf-card/assets/vf-card-example.png" alt="" class="vf-card__image">
  <div class="vf-card__content">
    <h3 class="vf-card__title">
      A Medium Card Title 3
    </h3>
    <p class="vf-card__text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente harum, omnis provident saepe aut eius aliquam sequi fugit incidunt reiciendis, mollitia quos?
    </p>
  </div>
</div>



<div

  
  
  class="vf-card vf-card--medium vf-card-theme--quaternary">
  <img src="../../assets/vf-card/assets/vf-card-example.png" alt="" class="vf-card__image">
  <div class="vf-card__content">
    <h3 class="vf-card__title">
      A Medium Card Title 4
    </h3>
    <p class="vf-card__text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente harum, omnis provident saepe aut eius aliquam sequi fugit incidunt reiciendis, mollitia quos?
    </p>
  </div>
</div>

  </div>

</section>

