

<div class="vf-grid  vf-grid__col-3">

  <div class="vf-card vf-card--topic">
    <img src="/assets/vf-card/assets/vf-card-example.png" alt="" class="vf-card__image">
    <div class="vf-card__content">
      <h3 class="vf-card__title">
        Title Block
      </h3>
      <p class="vf-card__text">
        two lines of text
      </p>
    </div>
  </div>


  <div class="vf-card vf-card--navigation">
    <img src="/assets/vf-card/assets/vf-card-example.png" alt="" class="vf-card__image">
    <div class="vf-card__content">
      <h3 class="vf-card__title">
        <a href="#" class="vf-card__link">Title Block</a>
      </h3>
      <p class="vf-card__text">
        two lines of text
      </p>
    </div>
  </div>

</div>

