





<a
 href="JavaScript:Void(0);"
  
  
  class="vf-card vf-card--is-link vf-card--normal">
  <img src="../../assets/vf-card/assets/vf-card-example.png" alt="" class="vf-card__image">
  <div class="vf-card__content">
    <h3 class="vf-card__title">
      A Normal Card
    </h3>
    <p class="vf-card__text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente harum, omnis provident saepe aut eius aliquam sequi fugit incidunt reiciendis, mollitia quos?
    </p>
  </div>
</a>

