

<section class="vf-card-container | vf-u-background-color--grey--lightest">
  <div class="vf-card-container__inner">
 <div class="vf-section-header"><a class="vf-section-header__heading vf-section-header__heading--is-link" href="JavaScript:Void(0);"> Missions <svg aria-hidden="true" class="vf-section-header__icon | vf-icon vf-icon-arrow--inline-end" width="24" height="24" xmlns="http://www.w3.org/2000/svg"><path d="M0 12c0 6.627 5.373 12 12 12s12-5.373 12-12S18.627 0 12 0C5.376.008.008 5.376 0 12zm13.707-5.209l4.5 4.5a1 1 0 010 1.414l-4.5 4.5a1 1 0 01-1.414-1.414l2.366-2.367a.25.25 0 00-.177-.424H6a1 1 0 010-2h8.482a.25.25 0 00.177-.427l-2.366-2.368a1 1 0 011.414-1.414z" fill="" fill-rule="nonzero"></path></svg></a><p class="vf-section-header__text">To promote molecular biology across Europe</p><p class="vf-section-header__text">To create a centre of excellence for Europe's leading young molecular biologists</p></div> 
       




<article

  class="vf-card vf-card--easy">

  <img src="../../assets/vf-card/assets/vf-card-example.png" alt="" class="vf-card__image">

  <div class="vf-card__content">

    <h3 class="vf-card__title"><a class="vf-card__link" href="JavaScript:Void(0);">One card</a></h3>


    <p class="vf-card__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente harum, omnis provident saepe aut eius aliquam sequi fugit incidunt reiciendis, mollitia quos?</p>
  </div>

</article>
       




<article

  class="vf-card vf-card--normal">

  <img src="../../assets/vf-card/assets/vf-card-example.png" alt="" class="vf-card__image">

  <div class="vf-card__content">

    <h3 class="vf-card__title"><a class="vf-card__link" href="JavaScript:Void(0);">A card here</a></h3>


    <p class="vf-card__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente harum, omnis provident saepe aut eius aliquam sequi fugit incidunt reiciendis, mollitia quos?</p>
  </div>

</article>
       




<article

  class="vf-card vf-card-theme--primary vf-card--normal">

  <img src="../../assets/vf-card/assets/vf-card-example.png" alt="" class="vf-card__image">

  <div class="vf-card__content">

    <h3 class="vf-card__title"><a class="vf-card__link" href="JavaScript:Void(0);">Another card</a></h3>


    <p class="vf-card__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente harum, omnis provident saepe aut eius aliquam sequi fugit incidunt reiciendis, mollitia quos?</p>
  </div>

</article>
  </div>
</section>

