

<!-- Start: @vf-card--easy -->
<a
 href="JavaScript:Void(0);"
  
  
  class="vf-card vf-card--is-link vf-card--easy">
  <img src="../../assets/vf-card/assets/vf-card-example.png" alt="" class="vf-card__image">
  <div class="vf-card__content">
    <h3 class="vf-card__title">
      A Easy Card Title 1
    </h3>
    <p class="vf-card__text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente harum, omnis provident saepe aut eius aliquam sequi fugit incidunt reiciendis, mollitia quos?
    </p>
  </div>
</a>
<!-- End: @vf-card--easy -->

<!-- Start: @vf-card--normal -->
<a
 href="JavaScript:Void(0);"
  
  
  class="vf-card vf-card--is-link vf-card--normal">
  <img src="../../assets/vf-card/assets/vf-card-example.png" alt="" class="vf-card__image">
  <div class="vf-card__content">
    <h3 class="vf-card__title">
      A Normal Card Title 1
    </h3>
    <p class="vf-card__text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente harum, omnis provident saepe aut eius aliquam sequi fugit incidunt reiciendis, mollitia quos?
    </p>
  </div>
</a>
<!-- End: @vf-card--normal -->

<!-- Start: @vf-card--normal--primary -->
<a
 href="JavaScript:Void(0);"
  
  
  class="vf-card vf-card--is-link vf-card--normal vf-card-theme--primary">
  <img src="../../assets/vf-card/assets/vf-card-example.png" alt="" class="vf-card__image">
  <div class="vf-card__content">
    <h3 class="vf-card__title">
      Normal Card with primary accent
    </h3>
    <p class="vf-card__text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente harum, omnis provident saepe aut eius aliquam sequi fugit incidunt reiciendis, mollitia quos?
    </p>
  </div>
</a>
<!-- End: @vf-card--normal--primary -->

<!-- Start: @vf-card--normal--secondary -->
<div

  
  
  class="vf-card vf-card--normal vf-card-theme--secondary">
  <img src="../../assets/vf-card/assets/vf-card-example.png" alt="" class="vf-card__image">
  <div class="vf-card__content">
    <h3 class="vf-card__title">
      A Normal Card with secondary accent
    </h3>
    <p class="vf-card__text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente harum, omnis provident saepe aut eius aliquam sequi fugit incidunt reiciendis, mollitia quos?
    </p>
  </div>
</div>
<!-- End: @vf-card--normal--secondary -->

<!-- Start: @vf-card--normal--tertiary -->
<div

  
  
  class="vf-card vf-card--normal vf-card-theme--tertiary">
  <img src="../../assets/vf-card/assets/vf-card-example.png" alt="" class="vf-card__image">
  <div class="vf-card__content">
    <h3 class="vf-card__title">
      A Normal Card with tertiary accent
    </h3>
    <p class="vf-card__text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente harum, omnis provident saepe aut eius aliquam sequi fugit incidunt reiciendis, mollitia quos?
    </p>
  </div>
</div>
<!-- End: @vf-card--normal--tertiary -->

<!-- Start: @vf-card--normal--quaternary -->
<div

  
  
  class="vf-card vf-card--normal vf-card-theme--quaternary">
  <img src="../../assets/vf-card/assets/vf-card-example.png" alt="" class="vf-card__image">
  <div class="vf-card__content">
    <h3 class="vf-card__title">
      A Normal Card with quaternary accent
    </h3>
    <p class="vf-card__text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente harum, omnis provident saepe aut eius aliquam sequi fugit incidunt reiciendis, mollitia quos?
    </p>
  </div>
</div>
<!-- End: @vf-card--normal--quaternary -->

<!-- Start: @vf-card--medium -->
<a
 href="JavaScript:Void(0);"
  
  
  class="vf-card vf-card--is-link vf-card--medium">
  <img src="../../assets/vf-card/assets/vf-card-example.png" alt="" class="vf-card__image">
  <div class="vf-card__content">
    <h3 class="vf-card__title">
      A Medium Card
    </h3>
    <p class="vf-card__text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente harum, omnis provident saepe aut eius aliquam sequi fugit incidunt reiciendis, mollitia quos?
    </p>
  </div>
</a>
<!-- End: @vf-card--medium -->

<!-- Start: @vf-card--medium--primairy -->
<a
 href="JavaScript:Void(0);"
  
  
  class="vf-card vf-card--is-link vf-card--medium vf-card-theme--primary">
  <img src="../../assets/vf-card/assets/vf-card-example.png" alt="" class="vf-card__image">
  <div class="vf-card__content">
    <h3 class="vf-card__title">
      A Medium Card with primairy accent
    </h3>
    <p class="vf-card__text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente harum, omnis provident saepe aut eius aliquam sequi fugit incidunt reiciendis, mollitia quos?
    </p>
  </div>
</a>
<!-- End: @vf-card--medium--primairy -->

<!-- Start: @vf-card--medium--secondary -->
<div

  
  
  class="vf-card vf-card--medium vf-card-theme--secondary">
  <img src="../../assets/vf-card/assets/vf-card-example.png" alt="" class="vf-card__image">
  <div class="vf-card__content">
    <h3 class="vf-card__title">
      A Medium Card with secondary accent
    </h3>
    <p class="vf-card__text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente harum, omnis provident saepe aut eius aliquam sequi fugit incidunt reiciendis, mollitia quos?
    </p>
  </div>
</div>
<!-- End: @vf-card--medium--secondary -->

<!-- Start: @vf-card--medium--tertiary -->
<div

  
  
  class="vf-card vf-card--medium vf-card-theme--tertiary">
  <img src="../../assets/vf-card/assets/vf-card-example.png" alt="" class="vf-card__image">
  <div class="vf-card__content">
    <h3 class="vf-card__title">
      A Medium Card with tertiary accent
    </h3>
    <p class="vf-card__text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente harum, omnis provident saepe aut eius aliquam sequi fugit incidunt reiciendis, mollitia quos?
    </p>
  </div>
</div>
<!-- End: @vf-card--medium--tertiary -->

<!-- Start: @vf-card--medium--quaternary -->
<div

  
  
  class="vf-card vf-card--medium vf-card-theme--quaternary">
  <img src="../../assets/vf-card/assets/vf-card-example.png" alt="" class="vf-card__image">
  <div class="vf-card__content">
    <h3 class="vf-card__title">
      A Medium Card with quaternary accent
    </h3>
    <p class="vf-card__text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente harum, omnis provident saepe aut eius aliquam sequi fugit incidunt reiciendis, mollitia quos?
    </p>
  </div>
</div>
<!-- End: @vf-card--medium--quaternary -->

