

<div class="vf-content">
  <h1 id="embl-communications-strategy-2018-2020">EMBL communications strategy 2018-2020</h1>

  <small>Cian O'Luanaigh, 2 July 2018 at 12:55 pm</small>
  <p class="vf-content__standfirst">This <a href="#">communications strategy</a> outlines EMBL’s vision, mission and goals. It is intended to support everyone who communicates on behalf of EMBL, within and outside of the organisation, in order to provide aligned messaging and help EMBL to achieve its goals. The strategy is supported by an operational plan for the Strategy and Communications team.</p>
  <p class="vf-content__standfirst">The plan reflects the priorities defined in the communications strategy and translates them into a set of deliverables and projects managed by the Strategy and Communications team. This documentation will be regularly reviewed and revised. Your feedback is welcome at any time: please contact EMBL’s Strategy and Communications team.</p>
  <small><i>This document was last revised 7 March 2018</i></small>

<h2 id="section-1-embls-vision-and-mission">Section 1: EMBL’s vision and mission</h2>
<h3 id="embls-vision">EMBL’s vision</h3>
<p>Enabling scientists worldwide to discover the secrets of life</p>
<h3 id="embls-mission">EMBL’s mission</h3>
<ol>
<li>Uncovering the molecular basis of life through research</li>
<li>Providing research infrastructure and services</li>
<li>Training and inspiring the next generation of scientists</li>
<li>Driving research, innovation and progress through technology development</li>
<li>Interactions with industry and technology transfer</li>
<li>Playing a leading role in the integration of life science research</li>
</ol>
<h3 id="further-examples-of-bullets">Further examples of bullets</h3>
<ul>
<li>A bulleted item<ul>
<li>A nested bulleted item</li>
<li>A nested bulleted item</li>
</ul>
</li>
<li>A bulleted item</li>
<li>A bulleted item</li>
<li>A bulleted item</li>
<li>A bulleted item</li>
</ul>

  <h3>What is EMBL?</h3>
  <p>EMBL is Europe’s flagship laboratory for the life sciences. We are an intergovernmental organisation established in 1974 and are supported by over 20 member states.</p>
  <p>EMBL performs fundamental research in molecular biology, studying the story of life. We offer services to the scientific community; train the next generation of scientists and strive to integrate the life sciences across Europe.</p>
  <p>We are international, innovative and interdisciplinary. We are more than 1600 people, from over 80 countries, operating across six sites in Barcelona (Spain), Cambridge (UK), Grenoble (France), Hamburg (Germany), Heidelberg (Germany), and Rome (Italy). Our scientists work in independent groups and conduct research and offer services in all areas of molecular biology.</p>
  <p>Our research drives the development of new technology and methods in the life sciences. We work to transfer this knowledge for the benefit of society.</p>

  <h2>Section 2: EMBL’s goals</h2>

  <h3>Goal 1: Advancing society</h3>
  <p>The fundamental knowledge that we create, enable and share is immensely valuable to society. Life-science research and services help to address society’s grand challenges, from human health, agriculture, to the environment and beyond.</p>

  <h4>Communications goals:</h4>
  <p>Show the impact of our work in tackling society’s big challenges</p>

  <h3>Goal 2: Enable excellent science to advance our understanding of life</h3>
  <p>We support scientists worldwide with infrastructure, services, technologies, training and platforms for exchange to carry out the best possible research. We are driven by curiosity about life, the most exciting story in the universe. We believe that advancing humankind’s understanding of life is a noble goal in itself.</p>

  <h4>Communications goals:</h4>
  <ul>
    <li>Develop and sustain support for EMBL from important stakeholders</li>
    <li>Attract the best scientists, engineers, technicians and support staff</li>
    <li>Inform scientists about training opportunities and services</li>
  </ul>

  <blockquote>
    <p>We are a group of user experience specialists in an international scientific organisation</p><p>Our aim is to help teams design services to meet the needs of their users</p><p>We believe in openness , transparency, working collaboratively and iteratively, continuously learning and sharing knowledge throughout the organisation</p><p><cite>EMBl-EBI Web Development UX Team Mission</cite></p>
  </blockquote>
</div>

