

<div class="vf-activity">
  <p class="vf-activity__date">Tuesday 20th February 2018</p>
  <ul class="vf-activity__list | vf-list">
    <li class="vf-activity__item">
      <strong>Sonia Furtado Neves</strong> published <a href="JavaScript:Void(0);">'The Future of Training'</a> on <a href="JavaScript:Void(0);">EMBL News</a>.
    </li>
    <li class="vf-activity__item">
      <strong>Sonia Furtado Neves</strong> published <a href="JavaScript:Void(0);">'The Future of Training'</a> on <a href="JavaScript:Void(0);">EMBL News</a>.
    </li>
    <li class="vf-activity__item">
      <strong>Mark Boulton</strong> updated <a href="JavaScript:Void(0);">Digital Strategy</a> on <a href="JavaScript:Void(0);">Gitlab</a> to version 1.1, with the comment:
      <blockquote class="vf-activity__blockquote | vf-blockquote">Additional detail added to social section.</blockquote>
    </li>
  </ul>
</div>

