

<form action="" class="vf-form">
  <div class="vf-form__item">
    <label class="vf-form__label" for="text">Text</label>
    <input type="text" id="text" class="vf-form__input">
  </div>

  <div class="vf-form__item">
    <label class="vf-form__label" for="password">Password</label>
    <input type="password" id="password" class="vf-form__input">
  </div>

  <div class="vf-form__item">
    <label class="vf-form__label" for="email">Disabled email</label>
    <input type="email" id="email" class="vf-form__input" disabled>
  </div>
</form>

