

<form action="" class="vf-form">
  <div class="vf-form__item" data-vf-js-form-floatlabel>
    <label class="vf-form__label | vf-sr-only" for="text">Text</label>
    <input type="text" id="text" class="vf-form__input" placeholder="Text">
  </div>

  <div class="vf-form__item" data-vf-js-form-floatlabel>
    <label class="vf-form__label | vf-sr-only" for="password">Password</label>
    <input type="password" id="password" class="vf-form__input" placeholder="Password">
  </div>

  <div class="vf-form__item">
    <label class="vf-form__label | vf-sr-only" for="email">Disabled email</label>
    <input type="email" id="email" class="vf-form__input" disabled placeholder="disabled">
  </div>
</form>

