

<div class="vf-body">
  <div class="vf-grid">
    <div></div>
  </div>

  <div class="vf-grid">
    <div>auto layout</div>
    <div>auto layout</div>
    <div>auto layout</div>
    <div>auto layout</div>
    <div>auto layout</div>
  </div>

  <div class="vf-grid | vf-grid__col-2">
    <div>vf-grid__col-2</div>
    <div></div>
  </div>

  <div class="vf-grid | vf-grid__col-3">
    <div>vf-grid__col-3</div>
    <div></div>
    <div></div>
  </div>

  <div class="vf-grid | vf-grid__col-4">
    <div>vf-grid__col-4</div>
    <div></div>
    <div></div>
    <div></div>
  </div>

  <div class="vf-grid | vf-grid__col-5">
    <div>vf-grid__col-5</div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>

  <div class="vf-grid | vf-grid__col-6">
    <div>vf-grid__col-6</div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>

<style>
.vf-grid > div {
  /* For illustrative use on component demo page */
  background-color: rgb(41, 141, 211);
  min-height: 5em;
  margin-bottom: 1em;
}
</style>

