

<header class="vf-global-header">

  <div class="vf-global-header__inner">

<a href="/" class="vf-logo--responsive"></a>

    <p class="vf-global-header__site-name">Visual Framework for Life Science websites</p>

<nav class="vf-navigation vf-navigation--global">
  <ul class="vf-navigation__list | vf-list--inline">
    <li class="vf-navigation__item">
      <a href="JavaScript:Void(0);" class="vf-navigation__link">Explore</a>
    </li>
    <li class="vf-navigation__item">
      <a href="JavaScript:Void(0);" class="vf-navigation__link">Search</a>
    </li>
    <li class="vf-navigation__item">
      <a href="JavaScript:Void(0);" class="vf-navigation__link">Sign In</a>
    </li>
  </ul>
</nav>

  </div>

</header>

