

<header class="vf-global-header">

  <div class="vf-global-header__inner">

<a href="http://www.embl.de"

class="vf-logo--responsive">
  <span class="vf-sr-only">Visual Framework 2.0</span>
</a>

    <p class="vf-global-header__site-name">Visual Framework for Life Science websites</p>

<nav class="vf-navigation vf-navigation--global">
  <ul class="vf-navigation__list | vf-list--inline">
    <li class="vf-navigation__item">
      <a href="JavaScript:Void(0);" class="vf-navigation__link">services</a>
    </li>
    <li class="vf-navigation__item">
      <a href="JavaScript:Void(0);" class="vf-navigation__link">research</a>
    </li>
    <li class="vf-navigation__item">
      <a href="JavaScript:Void(0);" class="vf-navigation__link">training</a>
    </li>
    <li class="vf-navigation__item">
      <a href="JavaScript:Void(0);" class="vf-navigation__link">about us</a>
    </li>
  </ul>
</nav>

  </div>

</header>

