

<section class="vf-hero vf-hero--hard"style="--vf-hero-bg-image: url('../../assets/vf-hero/assets/vf-intro-group.png');">
  <div class="vf-hero__content">
 <h2 class="vf-hero__heading">About the Hentze group!</h2>      <p class="[ vf-summary__title ] vf-hero__subheading" role="doc-subtitle">dave</p>
<p class="vf-hero__text">
      The Hentze group combines biochemical and systems–level approaches to investigate the connections between gene expression and cell metabolism, and their roles in human disease.
    </p>
  </div>

</section>

