

<!-- Start: @vf-list--default -->
<ul class="vf-list">
  <li class="vf-list__item">a list item</li>
  <li class="vf-list__item">another list item</li>
  <li class="vf-list__item">and another list item</li>
  <li class="vf-list__item">yet another list item</li>
</ul>
<!-- End: @vf-list--default -->

<!-- Start: @vf-list--inline -->
<ul class="vf-list vf-list--inline">
  <li class="vf-list__item">a list item</li>
  <li class="vf-list__item">another list item</li>
  <li class="vf-list__item">and another list item</li>
  <li class="vf-list__item">yet another list item</li>
</ul>
<!-- End: @vf-list--inline -->

<!-- Start: @vf-list--ordered -->
<ol class="vf-list vf-list--ordered">
  <li class="vf-list__item">a list item</li>
  <li class="vf-list__item">another list item</li>
  <ol class="vf-list vf-list--ordered">
    <li class="vf-list__item">a list item</li>
    <li class="vf-list__item">another list item</li>
    <li class="vf-list__item">and another list item</li>
    <li class="vf-list__item">yet another list item</li>
    <ol class="vf-list vf-list--ordered">
      <li class="vf-list__item">a list item</li>
      <li class="vf-list__item">another list item</li>
    </ol>
  </ol>
</ol>
<!-- End: @vf-list--ordered -->

<!-- Start: @vf-list--unordered -->
<ul class="vf-list vf-list--unordered">
  <li class="vf-list__item">a list item</li>
  <li class="vf-list__item">another list item</li>
  <li class="vf-list__item">and another list item</li>
  <li class="vf-list__item">yet another list item</li>
</ul>
<!-- End: @vf-list--unordered -->

