



<div class="vf-links vf-links--tight vf-links__list--s vf-links__list--very-easy">
  <h3 class="vf-links__heading">In this section</h3>
  <ul class="vf-links__list vf-links__list--secondary | vf-list">
    <li class="vf-list__item">
      <a class="vf-list__link" href="JavaScript:Void(0);">
        All
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="JavaScript:Void(0);">
        Administration
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="JavaScript:Void(0);">
        Bioninformatics
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="JavaScript:Void(0);">
        Communication
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="JavaScript:Void(0);">
        Data Curation
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="JavaScript:Void(0);">
        General Support Services
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="JavaScript:Void(0);">
        IT and Infrastructure
      </a>

    </li>
  </ul>
</div>

