

<div class="vf-links vf-links--tight vf-links__list--s">
  <h3 class="vf-links__heading">Latest Posts</h3>
  <ul class="vf-links__list vf-links__list--secondary | vf-list">
    <li class="vf-list__item">
      <a class="vf-list__link" href="">
        All
      </a>
        <p class="vf-links__meta">39</p>
    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="">
        Administration
      </a>
        <p class="vf-links__meta">39</p>
    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="">
        Bioninformatics
      </a>
        <p class="vf-links__meta">39</p>
    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="">
        Communication
      </a>
        <p class="vf-links__meta">39</p>
    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="">
        Data Curation
      </a>
        <p class="vf-links__meta">39</p>
    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="">
        General Support Services
      </a>
        <p class="vf-links__meta">39</p>
    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="">
        IT and Infrastructure
      </a>
        <p class="vf-links__meta">39</p>
    </li>
  </ul>
</div>

