

<div class="vf-masthead vf-masthead--with-title-block" style="background-image: url('../../assets/vf-masthead/assets/group-bg.png')">
  <div class="vf-masthead__inner">
    <div class="vf-masthead__title">
      <h1 class="vf-masthead__heading">
        <a href="#" class="vf-masthead__heading__link">Strategy &amp; Communications</a>
      </h1>
      <h2 class="vf-masthead__subheading">
        <span class="vf-masthead__location">VF Hamburg</span>
        <span class="vf-masthead__group">Structural Biology</span>
      </h2>
    </div>

    <form action="" class="vf-masthead__form--search">
      <div class="vf-masthead__form__item">
        <label for="" class="vf-masthead__form__label">Search This Project</label>
        <input type="text" class="vf-masthead__form__input--text" placeholder="Enter gene query…">
        <button class="vf-masthead__button vf-u-text-replacement"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 451 451"><path d="M447.05 428l-109.6-109.6c29.4-33.8 47.2-77.9 47.2-126.1C384.65 86.2 298.35 0 192.35 0 86.25 0 .05 86.3.05 192.3s86.3 192.3 192.3 192.3c48.2 0 92.3-17.8 126.1-47.2L428.05 447c2.6 2.6 6.1 4 9.5 4s6.9-1.3 9.5-4c5.2-5.2 5.2-13.8 0-19zM26.95 192.3c0-91.2 74.2-165.3 165.3-165.3 91.2 0 165.3 74.2 165.3 165.3s-74.1 165.4-165.3 165.4c-91.1 0-165.3-74.2-165.3-165.4z"/></svg></button>
      </div>
      <span class="search-examples">Examples: <a href="">ASPM</a>, <a href="">Apoptosis</a>, <a href="">ENSMUSG00000021789</a></span>
    </form>
  </div>
</div>

