

<style>
:root {
  /* These CSS properties are theming variables. If used, add to your HTML
     after the VF CSS for vf-masthead and before the HTML for vf-masthead. */
  --vf-masthead__bg-image: url('../../assets/vf-masthead/assets/group-bg_2d4155.png');
}
</style>
<div data-vf-js-masthead class="vf-masthead" style="background-color: 'var(--vf-masthead__color--background', var(--vf-masthead__color--background-default)); color: var(--vf-masthead__color--foreground, var(--vf-masthead__color--foreground-default) );">
  <div class="vf-masthead__inner">
    <div class="vf-masthead__title">
      <h1 class="vf-masthead__heading">
        <a class="vf-masthead__heading__link" href="#">Häring Group</a>
        <span class="vf-masthead__heading--additional">Chromosome structure and dynamics</span>
      </h1>
    </div>
  </div>
</div>
<!--/vf-masthead-->

