

<article
  class="vf-profile vf-profile--very-easy vf-profile--small vf-profile--inline">
  <img class="vf-profile__image" src="https://content.embl.org//sites/default/files/styles/medium/public/persons/CP-60025009?itok=PBOnHEa_" alt="">

  <h3 class="vf-profile__title">
Annika Corinna Grandison  </h3>




        <p class="vf-profile__phone | vf-u-last-item ">
          <a href="tel:+49 6221 387-8443" class="vf-profile__link vf-profile__link--secondary">+49 6221 387-8443</a>
        </p>


</article>

