

<article
  class="vf-profile vf-profile--easy vf-profile--medium vf-profile--inline">
  <img class="vf-profile__image" src="https://content.embl.org//sites/default/files/styles/medium/public/persons/CP-60025009?itok=PBOnHEa_" alt="">

  <h3 class="vf-profile__title">
    <a href="http://www.whitehouse.com" class="vf-profile__link">Annika Corinna Grandison</a>
  </h3>

      <p class="vf-profile__job-title">Engagement Team Lead</p>

      <p class="vf-profile__text">Communications</p>

        <p class="vf-profile__email | vf-u-last-item ">
          <a href="annika.grandison@embl.org" class="vf-profile__link vf-profile__link--secondary">annika.grandison@embl.org</a>
        </p>

        <p class="vf-profile__phone">
          <a href="+49 6221 387-8443" class="vf-profile__link vf-profile__link--secondary">+49 6221 387-8443</a>
        </p>
        <p class="vf-profile__phone vf-profile__phone--mobile | vf-u-last-item ">
          <a href="+49 175 899 1179" class="vf-profile__link vf-profile__link--secondary">+49 175 899 1179</a>
        </p>

      <p class="vf-profile__uuid">
        <span>ORCID:</span>
        <a class="vf-profile__link vf-profile__link--secondary" href="https://europepmc.org/authors/JavaScript:Void(0);">0000 - 1234 - 4326 - XX03</a>
      </p>

</article>

