

<nav class="vf-pagination" aria-label="Pagination">
  <ul class="vf-pagination__list">
    <li class="vf-pagination__item vf-pagination__item--jump-back">
      <a
      href="JavaScript:Void(0);"
      class="vf-pagination__link">
        First<span class="vf-sr-only"> page</span>
      </a>
    </li>
    <li class="vf-pagination__item">
      <span class="vf-pagination__label">...</span>
    </li>
    <li class="vf-pagination__item">
      <a
      href="JavaScript:Void(0);"
      class="vf-pagination__link">
        6<span class="vf-sr-only"> page</span>
      </a>
    </li>
    <li class="vf-pagination__item">
      <a
      href="JavaScript:Void(0);"
      class="vf-pagination__link">
        7<span class="vf-sr-only"> page</span>
      </a>
    </li>
    <li class="vf-pagination__item">
      <a
      href="JavaScript:Void(0);"
      class="vf-pagination__link">
        8<span class="vf-sr-only"> page</span>
      </a>
    </li>
    <li class="vf-pagination__item vf-pagination__item--is-active">
      <span class="vf-pagination__label" aria-current="page">
        <span class="vf-sr-only">Page </span>9
      </span>
    </li>
    <li class="vf-pagination__item">
      <a
      href="JavaScript:Void(0);"
      class="vf-pagination__link">
        10<span class="vf-sr-only"> page</span>
      </a>
    </li>
    <li class="vf-pagination__item">
      <span class="vf-pagination__label">...</span>
    </li>
    <li class="vf-pagination__item vf-pagination__item--jump-forward">
      <a
      href="JavaScript:Void(0);"
      class="vf-pagination__link">
        Last<span class="vf-sr-only"> page</span>
      </a>
    </li>
  </ul>
</nav>

