

<nav class="vf-pagination" aria-label="Pagination">
  <ul class="vf-pagination__list">
    <li class="vf-pagination__item vf-pagination__item--previous-page">
      <a href="#" class="vf-pagination__link">
        Previous<span class="vf-sr-only"> page</span>
      </a>
    </li>
    <li class="vf-pagination__item">
      <a href="#" class="vf-pagination__link">
        <span class="vf-sr-only">Page </span>1
      </a>
    </li>
    <li class="vf-pagination__item">
      <a href="#" class="vf-pagination__link">
        <span class="vf-sr-only">Page </span>2
      </a>
    </li>
    <li class="vf-pagination__item vf-pagination__item--is-active">
      <a href="#" class="vf-pagination__link" aria-current="page">
        <span class="vf-sr-only">Page </span>3
      </a>
    </li>
    <li class="vf-pagination__item">
      <a href="#" class="vf-pagination__link">
        <span class="vf-sr-only">Page </span>4
      </a>
    </li>
    <li class="vf-pagination__item vf-pagination__item--next-page">
      <a href="#" class="vf-pagination__link">
        Next<span class="vf-sr-only"> page</span>
      </a>
    </li>
  </ul>
</nav>

