

<nav class="vf-pagination" aria-label="Pagination">
  <ul class="vf-pagination__list">
    <li class="vf-pagination__item vf-pagination__item--jump-back">
      <a
      href="JavaScript:Void(0);"
      class="vf-pagination__link">
        First (1)<span class="vf-u-sr-only"> page</span>
      </a>
    </li>
    <li class="vf-pagination__item">
      <a
      href="JavaScript:Void(0);"
      class="vf-pagination__link">
        Previous (5)<span class="vf-u-sr-only"> page</span>
      </a>
    </li>
    <li class="vf-pagination__item vf-pagination__item--is-active">
      <span class="vf-pagination__label" aria-current="page">
        <span class="vf-u-sr-only">Page </span>6
      </span>
    </li>
    <li class="vf-pagination__item">
      <a
      href="JavaScript:Void(0);"
      class="vf-pagination__link">
        Next (7)<span class="vf-u-sr-only"> page</span>
      </a>
    </li>
    <li class="vf-pagination__item vf-pagination__item--jump-forward">
      <a
      href="JavaScript:Void(0);"
      class="vf-pagination__link">
        Last (88)<span class="vf-u-sr-only"> page</span>
      </a>
    </li>
  </ul>
</nav>

