

<article class="vf-snippet">
  <h2 class="vf-snippet__heading | vf-text vf-text--heading-r">
    <a href="JavaScript:Void(0);" class="vf-snippet__link">EMBL&#x27;s top social media posts of 2017 and what we learned from them</a>
  </h2>
  <span class="vf-snippet__meta | vf-text vf-text--s">
    <a href="JavaScript:Void(0);" class="vf-snippet__link | vf-snippet__author">Laura Howes</a>
    <date class="vf-snippet__date">06 February 2018</date>
    <a href="JavaScript:Void(0);" class="vf-snippet__link">Leave Comment</a>
  </span>
  <p class="vf-snippet__teaser | vf-text vf-text--r">I want to take a look back at my first full year as EMBL&#x27;s social media manager. So what worked best over 2017 and what can I learn from this? My basic goals for VF’s social media are to build community and develop a shared understanding of who we as an organisation are. Consequently, I care about what resonates on the different social sites much more than driving traffic back to Visual Framework websites, although traffic is obviously a by-product.</p>
  <a class="vf-snippet__read-more | vf-text vf-text--r" href="JavaScript:Void(0);">Read More</a>
</article>

