

<!-- Start: @vf-search--default -->
<form action="" class="vf-form | vf-search">
  <div class="vf-form__item | vf-search__item">
    <label class="vf-form__label vf-sr-only | vf-search__label" for="text">Search</label>
    <input type="text" id="text" class="vf-form__input | vf-search__input">
  </div>
  <button type="submit" class="vf-search__button | vf-button vf-button--primary"> Search</button>
</form>
<!-- End: @vf-search--default -->

<!-- Start: @vf-search--inline -->
<form action="" class="vf-form | vf-search vf-search--inline">
  <div class="vf-form__item | vf-search__item">
    <label class="vf-form__label vf-sr-only | vf-search__label" for="text">Search</label>
    <input type="text" id="text" class="vf-form__input | vf-search__input">
  </div>
  <button type="submit" class="vf-search__button | vf-button vf-button--primary">Search</button>
</form>
<!-- End: @vf-search--inline -->

