

<article class="vf-summary vf-summary--profile">
  <img class="vf-summary__image vf-summary__image--avatar" src="/assets/vf-summary/assets/vf-icon--avatar.svg" alt="">
  <h3 class="vf-summary__title">
    <a href="javascript:void(0);" class="vf-summary__link">FirstName Surname</a>
  </h3>
  <p class="vf-summary__text">EMBL Press Office</p>
  <p class="vf-summary__email">
    <a href="mailto:contact@persons.com" class="vf-summary__link vf-summary__link--secondary">contact@persons.com</a>
  </p>
  <p class="vf-summary__phone">
    <a href="javascript:void(0);" class="vf-summary__link vf-summary__link--secondary">+49 6221 387 8443</a>
  </p>
  <p class="vf-summary__phone vf-vf-summary__phone--mobile">
    <a href="javascript:void(0);" class="vf-summary__link vf-summary__link--secondary">+49 1758 991 179</a>
  </p>
  <p class="vf-summary__uuid">
    <span>ORCID:</span>
    <a class="vf-summary__link--secondary" href="https://europepmc.org/authors/0000 - 1234 - 4326 - XX03">0000 - 1234 - 4326 - XX03</a>
  </p>
</article>

