

<div class="vf-content">

<h3 id="available-sass-utilities">Available Sass utilities</h3>
<h3 id="et-al">Et al.</h3>
<ul>
<li><code>.vf-et-al</code> for use in publications lists and similar</li>
</ul>
<p><span class="vf-et-al">Jon Smith, Jane Johnson, </span></p>
<h3 id="screenreader-text">Screenreader text</h3>
<ul>
<li><code>.vf-sr-only</code> some things should only be shown to screen readers</li>
</ul>
<p><span class="vf-sr-only">Like this text</span></p>
<h3 id="no-wrap">No-wrap.</h3>
<ul>
<li><code>.vf-no-wrap</code> keep text together, as much as possible</li>
</ul>
<p>I&#39;m some words that can break awkwardly but keep the <span class="vf-no-wrap">Company Name</span> together.</p>

</div>

