

<!-- Start: @vf-summary--default -->
<article class="vf-summary">
  <h3 class="vf-summary__title">
    <a href="#" class="vf-summary__link">What is Cancer?</a>
  </h3>
  <p class="vf-summary__text">Cancer is a group of diseases involving abnormal cell growth with the potential to invade or spread to other parts of the body.</p>
</article>
<!-- End: @vf-summary--default -->

<!-- Start: @vf-summary--article -->
<article class="vf-summary vf-summary--article">

  <h3 class="vf-summary__title">
    <a href="JavaScript:Void(0);" class="vf-summary__link">EMBL's top social media posts of 2017 and what we learned from them</a>
  </h3>

  <div class="vf-summary__meta">
    <a href="JavaScript:Void(0);" class="vf-summary__author vf-summary__link">Laura Howes</a>
    <p class="vf-summary__date">06 February 2018</p>
    <a href="JavaScript:Void(0);" class="vf-summary__link">Leave Comment</a>
  </div>

  <p class="vf-summary__text">I want to take a look back at my first full year as EMBL's social media manager. So what worked best over 2017 and what can I learn from this? My basic goals for VF’s social media are to build community and develop a shared understanding of who we as an organisation are. Consequently, I care about what resonates on the different social sites much more than driving traffic back to Visual Framework websites, although traffic is obviously a by-product.</p>

</article>
<!-- End: @vf-summary--article -->

<!-- Start: @vf-summary--job -->
<article class="vf-summary vf-summary--job">
  <p class="vf-summary__meta">
    <a href="JavaScript:Void(0);" class="vf-summary__link">Science Faculty</a>
     in
    <a href="JavaScript:Void(0);" class="vf-summary__link">Heidelberg</a>
  </p>

  <h3 class="vf-summary__title">

    <a href="#" class="vf-summary__link">
      Group Leader - Cell and Biophysics
    </a>
    
  </h3>

  <p class="vf-summary__text">
    We are seeking to recruit outstanding group leaders who wish to carry out cutting-edge molecular cell biology research and/or technology development.
  </p>

  <a href="JavaScript:Void(0);" class="vf-summary__button vf-button--tertiary">Apply Now</a>

  <p class="vf-summary__date"><span>Closes in 8 days.</span> Posted 11th August 2018</p>

</article>
<!-- End: @vf-summary--job -->

<!-- Start: @vf-summary--news -->
<article class="vf-summary vf-summary--news">
  <span class="vf-summary__date">22 June 2018</span>
  <h3 class="vf-summary__title">
    <a href="#" class="vf-summary__link">
      What is Cancer?
    </a>
  </h3>
  <p class="vf-summary__text">
    <span class="vf-summary__category">
      General
    </span>
    Combinations of cancer drugs can be quickly and cheaply tested using a novel microfluidic device.
  </p>
</article>
<!-- End: @vf-summary--news -->

<!-- Start: @vf-summary--news-has-image -->
<article class="vf-summary vf-summary--news">
  <span class="vf-summary__date">22 June 2018</span>
  <img class="vf-summary__image" src="../../assets/vf-summary/assets/vf-summary--news-has-image.jpg" alt="">
  <h3 class="vf-summary__title">
    <a href="#" class="vf-summary__link">
      What is Cancer?
    </a>
  </h3>
  <p class="vf-summary__text">
    Combinations of cancer drugs can be quickly and cheaply tested using a novel microfluidic device.
  </p>
</article>
<!-- End: @vf-summary--news-has-image -->

<!-- Start: @vf-summary--profile -->
<article class="vf-summary vf-summary--profile">
  <img class="vf-summary__image vf-summary__image--avatar" src="../../assets/vf-summary/assets/vf-summary--profile-img.png" alt="">
  <h3 class="vf-summary__title">EMBL Press Office</h3>
  <p class="vf-summary__text">Title If Relevant</p>
  <a href="##" class="vf-summary__email">Contact Person</a>
  <p class="vf-summary__phone">+49 6221 387 8443</p>
  <p class="vf-summary__phone vf-summary__phone--mobile">+49 1758 991 179</p>
</article>


<article class="vf-summary | vf-summary--profile vf-summary--profile-l">
  <img class="vf-summary__image vf-summary__image--avatar" src="../../assets/vf-summary/assets/vf-summary--profile-img.png" alt="">
  <h3 class="vf-summary__title">EMBL Press Office</h3>
  <p class="vf-summary__text">Title If Relevant</p>
  <a href="##" class="vf-summary__email">Contact Person</a>
  <p class="vf-summary__uuid"><span>ORCID ID:</span> 0000 - 1234 - 4326 - XX03</p>
</article>


<article class="vf-summary | vf-summary--profile vf-summary--profile-r">
  <img class="vf-summary__image vf-summary__image--avatar" src="../../assets/vf-summary/assets/vf-summary--profile-img.png" alt="">
  <h3 class="vf-summary__title">EMBL Press Office</h3>
  <p class="vf-summary__text">Title If Relevant</p>
  <a href="##" class="vf-summary__email">Contact Person</a>
</article>


<article class="vf-summary | vf-summary--profile vf-summary--profile-s">
  <img class="vf-summary__image vf-summary__image--avatar" src="../../assets/vf-summary/assets/vf-summary--profile-img.png" alt="">
  <p class="vf-summary__text">Title If Relevant</p>
</article>
<!-- End: @vf-summary--profile -->

