

<article class="vf-summary vf-summary--article">

  <h3 class="vf-summary__title">
    <a href="JavaScript:Void(0);" class="vf-summary__link">EMBL's top social media posts of 2017 and what we learned from them</a>
  </h3>

  <div class="vf-summary__meta">
    <a href="JavaScript:Void(0);" class="vf-summary__author vf-summary__link">Laura Howes</a>
    <p class="vf-summary__date">06 February 2018</p>
    <a href="JavaScript:Void(0);" class="vf-summary__link">Leave Comment</a>
  </div>

  <p class="vf-summary__text">I want to take a look back at my first full year as EMBL's social media manager. So what worked best over 2017 and what can I learn from this? My basic goals for VF’s social media are to build community and develop a shared understanding of who we as an organisation are. Consequently, I care about what resonates on the different social sites much more than driving traffic back to Visual Framework websites, although traffic is obviously a by-product.</p>

</article>

