

<table class="vf-table vf-table--bordered">

  <caption class="vf-table__caption">Hello Caption</caption>

  <thead class="vf-table__header">
    <tr class="vf-table__row">
        <th class="vf-table__heading" scope="col"
        >Event</th>
        <th class="vf-table__heading" scope="col"
        >Date</th>
        <th class="vf-table__heading" scope="col"
        >Type</th>
        <th class="vf-table__heading" scope="col"
        >Location</th>
    </tr>
  </thead>

  <tbody class="vf-table__body">    <tr class="vf-table__row">          <th class="vf-table__cell | vf-table__heading" scope="row"
          >dave</th><td class="vf-table__cell"
          >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima accusamus a nostrum odit aliquid repudiandae architecto molestiae, dolores.</td>
<td class="vf-table__cell"
          >roger</td>
<td class="vf-table__cell"
          >London, U.K.</td>
</tr>
    <tr class="vf-table__row">          <th class="vf-table__cell | vf-table__heading" scope="row"
          >dave</th><td class="vf-table__cell"
          >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio fugit illo officia dignissimos amet.</td>
<td class="vf-table__cell"
          >roger</td>
<td class="vf-table__cell"
          >London, U.K.</td>
</tr>
    <tr class="vf-table__row">          <th class="vf-table__cell | vf-table__heading" scope="row"
          >dave</th><td class="vf-table__cell"
          >Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
<td class="vf-table__cell"
          >roger</td>
<td class="vf-table__cell"
          >London, U.K.</td>
</tr>
  </tbody>

</table>

