

<svg class="vf-icon-sprite vf-icon-sprite--tables" display="none">
	<defs>
		<g id="vf-table-sortable--up">
			<path xmlns="http://www.w3.org/2000/svg" d="M17.485,5.062,12.707.284a1.031,1.031,0,0,0-1.415,0L6.515,5.062a1,1,0,0,0,.707,1.707H10.25a.25.25,0,0,1,.25.25V22.492a1.5,1.5,0,1,0,3,0V7.019a.249.249,0,0,1,.25-.25h3.028a1,1,0,0,0,.707-1.707Z"/>
		</g>
		<g id="vf-table-sortable--down">
			<path xmlns="http://www.w3.org/2000/svg" d="M17.7,17.838a1,1,0,0,0-.924-.617H13.75a.249.249,0,0,1-.25-.25V1.5a1.5,1.5,0,0,0-3,0V16.971a.25.25,0,0,1-.25.25H7.222a1,1,0,0,0-.707,1.707l4.777,4.778a1,1,0,0,0,1.415,0l4.778-4.778A1,1,0,0,0,17.7,17.838Z"/>
		</g>
		<g id="vf-table-sortable">
			<path xmlns="http://www.w3.org/2000/svg" d="M9,19a1,1,0,0,0-.707,1.707l3,3a1,1,0,0,0,1.414,0l3-3A1,1,0,0,0,15,19H13.5a.25.25,0,0,1-.25-.25V5.249A.25.25,0,0,1,13.5,5H15a1,1,0,0,0,.707-1.707l-3-3a1,1,0,0,0-1.414,0l-3,3A1,1,0,0,0,9,5h1.5a.25.25,0,0,1,.25.25v13.5a.25.25,0,0,1-.25.25Z"/>
		</g>
	</defs>
</svg>

<table class="vf-table vf-table--striped vf-table--sortable vf-table--bordered">

  <caption class="vf-table__caption">Hello Caption</caption>

  <thead class="vf-table__header">
    <tr class="vf-table__row"><th class="vf-table__heading" scope="col">
          <input type="checkbox" id="select-all" class="vf-form__checkbox | vf-table__checkbox">
          <label for="select-all" class="vf-form__label vf-table__label">
            <span class="vf-u-sr-only">Select all rows</span>
          </label>
        </th>        <th class="vf-table__heading" scope="col"
      ><button class="vf-button vf-button--sm vf-button--icon">
          Event
          <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" version="1.1" preserveAspectRatio="xMinYMin">
          	<use xlink:href="#vf-table-sortable"></use>
          </svg>
        </button>
      </th>
        <th class="vf-table__heading" scope="col"
      ><button class="vf-button vf-button--sm vf-button--icon">
          Date
          <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" version="1.1" preserveAspectRatio="xMinYMin">
          	<use xlink:href="#vf-table-sortable"></use>
          </svg>
        </button>
      </th>
        <th class="vf-table__heading" scope="col"
      ><button class="vf-button vf-button--sm vf-button--icon">
          Type
          <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" version="1.1" preserveAspectRatio="xMinYMin">
          	<use xlink:href="#vf-table-sortable"></use>
          </svg>
        </button>
      </th>
        <th class="vf-table__heading" scope="col"
      ><button class="vf-button vf-button--sm vf-button--icon">
          Location
          <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" version="1.1" preserveAspectRatio="xMinYMin">
          	<use xlink:href="#vf-table-sortable"></use>
          </svg>
        </button>
      </th>
<th class="vf-table__heading vf-table__heading--actions">
          Actions
        </th></tr>
  </thead>

  <tbody class="vf-table__body">    <tr class="vf-table__row
 vf-table__row--selected"><th class="vf-table__cell vf-table__cell--selectable" scope="row">
            <input type="checkbox" id="checkbox-1" class="vf-form__checkbox | vf-table__checkbox"
 checked>
            <label for="checkbox-1" class="vf-form__label vf-table__label">
              <span class="vf-u-sr-only">Form Label</span>
            </label>
        </th><td class="vf-table__cell"
            >dave</td>
<td class="vf-table__cell"
            >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima accusamus a nostrum odit aliquid repudiandae architecto molestiae, dolores.</td>
<td class="vf-table__cell"
            >roger</td>
<td class="vf-table__cell"
            >London, U.K.</td>
<td class="vf-table__cell vf-table__cell--actions">          <button class="vf-button vf-button--sm vf-button--icon">edit</button>          <button class="vf-button vf-button--sm vf-button--icon">delete</button></td></tr>
    <tr class="vf-table__row
"><th class="vf-table__cell vf-table__cell--selectable" scope="row">
            <input type="checkbox" id="checkbox-2" class="vf-form__checkbox | vf-table__checkbox"
>
            <label for="checkbox-2" class="vf-form__label vf-table__label">
              <span class="vf-u-sr-only">Form Label</span>
            </label>
        </th>            <th class="vf-table__cell | vf-table__heading" scope="row"
            >dave</th><td class="vf-table__cell"
            >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio fugit illo officia dignissimos amet.</td>
<td class="vf-table__cell"
            >roger</td>
<td class="vf-table__cell"
            >London, U.K.</td>
<td class="vf-table__cell vf-table__cell--actions">          <button class="vf-button vf-button--sm vf-button--icon">edit</button>          <button class="vf-button vf-button--sm vf-button--icon">delete</button></td></tr>
    <tr class="vf-table__row
"><th class="vf-table__cell vf-table__cell--selectable" scope="row">
            <input type="checkbox" id="checkbox-3" class="vf-form__checkbox | vf-table__checkbox"
>
            <label for="checkbox-3" class="vf-form__label vf-table__label">
              <span class="vf-u-sr-only">Form Label</span>
            </label>
        </th>            <th class="vf-table__cell | vf-table__heading" scope="row"
            >dave</th><td class="vf-table__cell"
            >Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
<td class="vf-table__cell"
            >roger</td>
<td class="vf-table__cell"
            >London, U.K.</td>
<td class="vf-table__cell vf-table__cell--actions">          <button class="vf-button vf-button--sm vf-button--icon">edit</button>          <button class="vf-button vf-button--sm vf-button--icon">delete</button></td></tr>
  </tbody>  <tfoot class="vf-table__footer">
    <tr class="vf-table__row">
      <td class="vf-table__cell"
 colspan="5"      >
        Hello
      </td>
      <td class="vf-table__cell"
 colspan="1"      >
        world
      </td>
    </tr>
  </tfoot></table>

<div class="vf-table__actions">  <button class="vf-button vf-button--sm vf-button--icon">edit</button>  <button class="vf-button vf-button--sm vf-button--icon">delete</button>  <button class="vf-button vf-button--sm vf-button--icon">download</button>  <button class="vf-button vf-button--sm vf-button--icon">cancel</button></div>

