



<div class="vf-tree vf-tree--collapsed" data-vf-tree--collapsed="true">
  <span class="vf-show-hide">
    <button class="vf-button | vf-show-hide__button">
      <svg width="13" height="13" xmlns="http://www.w3.org/2000/svg"><g stroke="" stroke-width="1.6" fill="none" fill-rule="evenodd" stroke-linecap="square"><path d="M6.583 11.725L2 6.674M2 6.895l4.583-5.61"/><path d="M11.583 11.725L7 6.674M7 6.895l4.583-5.61"/></g></svg>
    </button>
  </span>

  <ul class="vf-tree__list | vf-list" aria-role="tree">
      <ul class="vf-tree__list  vf-tree__list--1 | vf-list" aria-role="tree">
    <li class="vf-tree__item" aria-role="treeitem">
      <a href="JavaScript:Void(0);" class="vf-tree__link">Course Overview</a>
    </li>
    <li class="vf-tree__item" aria-role="treeitem">
      <a href="JavaScript:Void(0);" class="vf-tree__link">What is bioinformatics?</a>
<button href="JavaScript:Void(0);" class="vf-button vf-tree__button">
  <svg width="8" height="13" xmlns="http://www.w3.org/2000/svg"><g stroke="" stroke-width="1.6" fill="none" fill-rule="evenodd" stroke-linecap="square"><path d="M1.417 1.275L6 6.326M6 6.105l-4.583 5.61"/></g></svg>
</button>
    </li>
    <li class="vf-tree__item" aria-role="treeitem">
      <a href="JavaScript:Void(0);" class="vf-tree__link">The role of public databases</a>
<button href="JavaScript:Void(0);" class="vf-button vf-tree__button">
  <svg width="8" height="13" xmlns="http://www.w3.org/2000/svg"><g stroke="" stroke-width="1.6" fill="none" fill-rule="evenodd" stroke-linecap="square"><path d="M1.417 1.275L6 6.326M6 6.105l-4.583 5.61"/></g></svg>
</button>
    </li>
    <li class="vf-tree__item" aria-role="treeitem">
      <a href="JavaScript:Void(0);" class="vf-tree__link">What makes a good bioinformatics database?</a>
<button href="JavaScript:Void(0);" class="vf-button vf-tree__button">
  <svg width="8" height="13" xmlns="http://www.w3.org/2000/svg"><g stroke="" stroke-width="1.6" fill="none" fill-rule="evenodd" stroke-linecap="square"><path d="M1.417 1.275L6 6.326M6 6.105l-4.583 5.61"/></g></svg>
</button>
    </li>
    <li class="vf-tree__item" aria-role="treeitem">
      <a href="JavaScript:Void(0);" class="vf-tree__link">Tips on managing and sharing data?</a>
<button href="JavaScript:Void(0);" class="vf-button vf-tree__button">
  <svg width="8" height="13" xmlns="http://www.w3.org/2000/svg"><g stroke="" stroke-width="1.6" fill="none" fill-rule="evenodd" stroke-linecap="square"><path d="M1.417 1.275L6 6.326M6 6.105l-4.583 5.61"/></g></svg>
</button>
    </li>
    <li class="vf-tree__item" aria-role="treeitem">
      <a href="JavaScript:Void(0);" class="vf-tree__link">Where do I submit my data?</a>
<button href="JavaScript:Void(0);" class="vf-button vf-tree__button">
  <svg width="8" height="13" xmlns="http://www.w3.org/2000/svg"><g stroke="" stroke-width="1.6" fill="none" fill-rule="evenodd" stroke-linecap="square"><path d="M1.417 1.275L6 6.326M6 6.105l-4.583 5.61"/></g></svg>
</button>
    </li>
    <li class="vf-tree__item" aria-role="treeitem">
      <a href="JavaScript:Void(0);" class="vf-tree__link">Using ontologies to provide controlled vocabularies</a>
<button href="JavaScript:Void(0);" class="vf-button vf-tree__button">
  <svg width="8" height="13" xmlns="http://www.w3.org/2000/svg"><g stroke="" stroke-width="1.6" fill="none" fill-rule="evenodd" stroke-linecap="square"><path d="M1.417 1.275L6 6.326M6 6.105l-4.583 5.61"/></g></svg>
</button>
    </li>
    <li class="vf-tree__item" aria-role="treeitem">
      <a href="JavaScript:Void(0);" class="vf-tree__link">Summary</a>
<button href="JavaScript:Void(0);" class="vf-button vf-tree__button">
  <svg width="8" height="13" xmlns="http://www.w3.org/2000/svg"><g stroke="" stroke-width="1.6" fill="none" fill-rule="evenodd" stroke-linecap="square"><path d="M1.417 1.275L6 6.326M6 6.105l-4.583 5.61"/></g></svg>
</button>
    </li>
    <li class="vf-tree__item" aria-role="treeitem">
      <a href="JavaScript:Void(0);" class="vf-tree__link">Get help and support</a>
<button href="JavaScript:Void(0);" class="vf-button vf-tree__button">
  <svg width="8" height="13" xmlns="http://www.w3.org/2000/svg"><g stroke="" stroke-width="1.6" fill="none" fill-rule="evenodd" stroke-linecap="square"><path d="M1.417 1.275L6 6.326M6 6.105l-4.583 5.61"/></g></svg>
</button>
    </li>
  </ul>

  </ul>
</div>

