



<div class="vf-tree" data-vf-js-tree  aria-expanded="true">
  <div class="vf-tree__inner">
    <span class="vf-show-hide">
      <button class="vf-button | vf-show-hide__button" data-vf-js-tree--button>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>navigation-left-2</title><path d="M11.751,23.739a1.44,1.44,0,0,0,.36-2L5.528,12.272a.48.48,0,0,1,0-.549L12.111,2.26A1.44,1.44,0,0,0,9.746.616L3.164,10.079a3.372,3.372,0,0,0,0,3.837l6.582,9.463A1.44,1.44,0,0,0,11.751,23.739Z"/><path d="M16.473.89,9.889,10.353a2.892,2.892,0,0,0,0,3.289l6.584,9.464a.961.961,0,0,0,.788.411h3.213a.96.96,0,0,0,.788-1.508l-6.583-9.463a.965.965,0,0,1,0-1.1l6.583-9.464A.96.96,0,0,0,20.474.478H17.261A.96.96,0,0,0,16.473.89Z"/></svg>
      </button>
    </span>

    <ul class="vf-tree__list | vf-list" aria-role="tree">
        <ul class="vf-tree__list  vf-tree__list--1 | vf-list" aria-role="tree">
    <li class="vf-tree__item" data-vf-js-tree--collapsed="true" data-vf-js-tree aria-role="treeitem" aria-expanded="">
      <a href="JavaScript:Void(0);" class="vf-tree__link">Course Overview</a>
    </li>
    <li class="vf-tree__item" data-vf-js-tree--collapsed="true" data-vf-js-tree aria-role="treeitem" aria-expanded="false">
      <a href="JavaScript:Void(0);" class="vf-tree__link">What is bioinformatics?</a>
<button href="JavaScript:Void(0);" class="vf-button vf-tree__button" data-vf-js-tree--button>
  <svg id="Bold" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>arrow-right-1</title><path d="M19.5,12a2.3,2.3,0,0,1-.78,1.729L7.568,23.54a1.847,1.847,0,0,1-2.439-2.773l9.752-8.579a.25.25,0,0,0,0-.376L5.129,3.233A1.847,1.847,0,0,1,7.568.46l11.148,9.808A2.31,2.31,0,0,1,19.5,12Z"/></svg>
</button>
          <ul class="vf-tree__list vf-tree__list--additional vf-tree__list--2 | vf-list" aria-role="group">
    <li class="vf-tree__item" data-vf-js-tree--collapsed="true" data-vf-js-tree aria-role="treeitem" aria-expanded="">
      <a href="JavaScript:Void(0);" class="vf-tree__link">Subitems</a>
    </li>
  </ul>

    </li>
    <li class="vf-tree__item" data-vf-js-tree--collapsed="true" data-vf-js-tree aria-role="treeitem" aria-expanded="false">
      <a href="JavaScript:Void(0);" class="vf-tree__link">The role of public databases</a>
<button href="JavaScript:Void(0);" class="vf-button vf-tree__button" data-vf-js-tree--button>
  <svg id="Bold" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>arrow-right-1</title><path d="M19.5,12a2.3,2.3,0,0,1-.78,1.729L7.568,23.54a1.847,1.847,0,0,1-2.439-2.773l9.752-8.579a.25.25,0,0,0,0-.376L5.129,3.233A1.847,1.847,0,0,1,7.568.46l11.148,9.808A2.31,2.31,0,0,1,19.5,12Z"/></svg>
</button>
          <ul class="vf-tree__list vf-tree__list--additional vf-tree__list--2 | vf-list" aria-role="group">
    <li class="vf-tree__item" data-vf-js-tree--collapsed="true" data-vf-js-tree aria-role="treeitem" aria-expanded="">
      <a href="JavaScript:Void(0);" class="vf-tree__link">Subitems</a>
    </li>
  </ul>

    </li>
    <li class="vf-tree__item vf-tree__item--selected | vf-tree__item--expanded" data-vf-js-tree--collapsed="false" data-vf-js-tree aria-role="treeitem" aria-expanded="true">
      <a href="JavaScript:Void(0);" class="vf-tree__link" aria-current="page">What makes a good bioinformatics database?</a>
<button href="JavaScript:Void(0);" class="vf-button vf-tree__button" data-vf-js-tree--button>
  <svg id="Bold" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>arrow-right-1</title><path d="M19.5,12a2.3,2.3,0,0,1-.78,1.729L7.568,23.54a1.847,1.847,0,0,1-2.439-2.773l9.752-8.579a.25.25,0,0,0,0-.376L5.129,3.233A1.847,1.847,0,0,1,7.568.46l11.148,9.808A2.31,2.31,0,0,1,19.5,12Z"/></svg>
</button>
          <ul class="vf-tree__list vf-tree__list--additional vf-tree__list--2 | vf-list" aria-role="group">
    <li class="vf-tree__item" data-vf-js-tree--collapsed="true" data-vf-js-tree aria-role="treeitem" aria-expanded="">
      <a href="JavaScript:Void(0);" class="vf-tree__link">Primary and secondary databases</a>
    </li>
    <li class="vf-tree__item" data-vf-js-tree--collapsed="true" data-vf-js-tree aria-role="treeitem" aria-expanded="">
      <a href="JavaScript:Void(0);" class="vf-tree__link">Describing data consistently</a>
    </li>
    <li class="vf-tree__item" data-vf-js-tree--collapsed="true" data-vf-js-tree aria-role="treeitem" aria-expanded="">
      <a href="JavaScript:Void(0);" class="vf-tree__link">Minimum information standards</a>
    </li>
    <li class="vf-tree__item | vf-tree__item--expanded" data-vf-js-tree--collapsed="false" data-vf-js-tree aria-role="treeitem" aria-expanded="true">
      <a href="JavaScript:Void(0);" class="vf-tree__link">Controlled vocabularies</a>
<button href="JavaScript:Void(0);" class="vf-button vf-tree__button" data-vf-js-tree--button>
  <svg id="Bold" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>arrow-right-1</title><path d="M19.5,12a2.3,2.3,0,0,1-.78,1.729L7.568,23.54a1.847,1.847,0,0,1-2.439-2.773l9.752-8.579a.25.25,0,0,0,0-.376L5.129,3.233A1.847,1.847,0,0,1,7.568.46l11.148,9.808A2.31,2.31,0,0,1,19.5,12Z"/></svg>
</button>
          <ul class="vf-tree__list vf-tree__list--additional vf-tree__list--3 | vf-list" aria-role="group">
    <li class="vf-tree__item vf-tree__item--selected" data-vf-js-tree--collapsed="true" data-vf-js-tree aria-role="treeitem" aria-expanded="">
      <a href="JavaScript:Void(0);" class="vf-tree__link" aria-current="page">Non-heirarchial list</a>
    </li>
    <li class="vf-tree__item" data-vf-js-tree--collapsed="true" data-vf-js-tree aria-role="treeitem" aria-expanded="">
      <a href="JavaScript:Void(0);" class="vf-tree__link">Taxonomy</a>
    </li>
    <li class="vf-tree__item" data-vf-js-tree--collapsed="true" data-vf-js-tree aria-role="treeitem" aria-expanded="">
      <a href="JavaScript:Void(0);" class="vf-tree__link">Thesaurus</a>
    </li>
    <li class="vf-tree__item" data-vf-js-tree--collapsed="true" data-vf-js-tree aria-role="treeitem" aria-expanded="">
      <a href="JavaScript:Void(0);" class="vf-tree__link">Gene Ontology</a>
    </li>
  </ul>

    </li>
  </ul>

    </li>
    <li class="vf-tree__item" data-vf-js-tree--collapsed="true" data-vf-js-tree aria-role="treeitem" aria-expanded="false">
      <a href="JavaScript:Void(0);" class="vf-tree__link">Tips on managing and sharing data?</a>
<button href="JavaScript:Void(0);" class="vf-button vf-tree__button" data-vf-js-tree--button>
  <svg id="Bold" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>arrow-right-1</title><path d="M19.5,12a2.3,2.3,0,0,1-.78,1.729L7.568,23.54a1.847,1.847,0,0,1-2.439-2.773l9.752-8.579a.25.25,0,0,0,0-.376L5.129,3.233A1.847,1.847,0,0,1,7.568.46l11.148,9.808A2.31,2.31,0,0,1,19.5,12Z"/></svg>
</button>
          <ul class="vf-tree__list vf-tree__list--additional vf-tree__list--2 | vf-list" aria-role="group">
    <li class="vf-tree__item" data-vf-js-tree--collapsed="true" data-vf-js-tree aria-role="treeitem" aria-expanded="">
      <a href="JavaScript:Void(0);" class="vf-tree__link">Subitems</a>
    </li>
  </ul>

    </li>
    <li class="vf-tree__item" data-vf-js-tree--collapsed="true" data-vf-js-tree aria-role="treeitem" aria-expanded="false">
      <a href="JavaScript:Void(0);" class="vf-tree__link">Where do I submit my data?</a>
<button href="JavaScript:Void(0);" class="vf-button vf-tree__button" data-vf-js-tree--button>
  <svg id="Bold" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>arrow-right-1</title><path d="M19.5,12a2.3,2.3,0,0,1-.78,1.729L7.568,23.54a1.847,1.847,0,0,1-2.439-2.773l9.752-8.579a.25.25,0,0,0,0-.376L5.129,3.233A1.847,1.847,0,0,1,7.568.46l11.148,9.808A2.31,2.31,0,0,1,19.5,12Z"/></svg>
</button>
          <ul class="vf-tree__list vf-tree__list--additional vf-tree__list--2 | vf-list" aria-role="group">
    <li class="vf-tree__item" data-vf-js-tree--collapsed="true" data-vf-js-tree aria-role="treeitem" aria-expanded="">
      <a href="JavaScript:Void(0);" class="vf-tree__link">Subitems</a>
    </li>
  </ul>

    </li>
    <li class="vf-tree__item" data-vf-js-tree--collapsed="true" data-vf-js-tree aria-role="treeitem" aria-expanded="false">
      <a href="JavaScript:Void(0);" class="vf-tree__link">Using ontologies to provide controlled vocabularies</a>
<button href="JavaScript:Void(0);" class="vf-button vf-tree__button" data-vf-js-tree--button>
  <svg id="Bold" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>arrow-right-1</title><path d="M19.5,12a2.3,2.3,0,0,1-.78,1.729L7.568,23.54a1.847,1.847,0,0,1-2.439-2.773l9.752-8.579a.25.25,0,0,0,0-.376L5.129,3.233A1.847,1.847,0,0,1,7.568.46l11.148,9.808A2.31,2.31,0,0,1,19.5,12Z"/></svg>
</button>
          <ul class="vf-tree__list vf-tree__list--additional vf-tree__list--2 | vf-list" aria-role="group">
    <li class="vf-tree__item" data-vf-js-tree--collapsed="true" data-vf-js-tree aria-role="treeitem" aria-expanded="">
      <a href="JavaScript:Void(0);" class="vf-tree__link">Subitems</a>
    </li>
  </ul>

    </li>
    <li class="vf-tree__item" data-vf-js-tree--collapsed="true" data-vf-js-tree aria-role="treeitem" aria-expanded="false">
      <a href="JavaScript:Void(0);" class="vf-tree__link">Summary</a>
<button href="JavaScript:Void(0);" class="vf-button vf-tree__button" data-vf-js-tree--button>
  <svg id="Bold" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>arrow-right-1</title><path d="M19.5,12a2.3,2.3,0,0,1-.78,1.729L7.568,23.54a1.847,1.847,0,0,1-2.439-2.773l9.752-8.579a.25.25,0,0,0,0-.376L5.129,3.233A1.847,1.847,0,0,1,7.568.46l11.148,9.808A2.31,2.31,0,0,1,19.5,12Z"/></svg>
</button>
          <ul class="vf-tree__list vf-tree__list--additional vf-tree__list--2 | vf-list" aria-role="group">
    <li class="vf-tree__item" data-vf-js-tree--collapsed="true" data-vf-js-tree aria-role="treeitem" aria-expanded="">
      <a href="JavaScript:Void(0);" class="vf-tree__link">Subitems</a>
    </li>
  </ul>

    </li>
    <li class="vf-tree__item" data-vf-js-tree--collapsed="true" data-vf-js-tree aria-role="treeitem" aria-expanded="false">
      <a href="JavaScript:Void(0);" class="vf-tree__link">Get help and support</a>
<button href="JavaScript:Void(0);" class="vf-button vf-tree__button" data-vf-js-tree--button>
  <svg id="Bold" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>arrow-right-1</title><path d="M19.5,12a2.3,2.3,0,0,1-.78,1.729L7.568,23.54a1.847,1.847,0,0,1-2.439-2.773l9.752-8.579a.25.25,0,0,0,0-.376L5.129,3.233A1.847,1.847,0,0,1,7.568.46l11.148,9.808A2.31,2.31,0,0,1,19.5,12Z"/></svg>
</button>
          <ul class="vf-tree__list vf-tree__list--additional vf-tree__list--2 | vf-list" aria-role="group">
    <li class="vf-tree__item" data-vf-js-tree--collapsed="true" data-vf-js-tree aria-role="treeitem" aria-expanded="">
      <a href="JavaScript:Void(0);" class="vf-tree__link">Subitems</a>
    </li>
  </ul>

    </li>
  </ul>

    </ul>
  </div>
</div>

