

<style>
  .vf-utility__examples {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-column-gap: 1em;
  }
  .vf-utility--example {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-column: 1 / -1;
    grid-column-gap: 1em;
    grid-template-columns: subgrid;
  }
  .vf-utility--example p {
    grid-column: 1 / span 1;
  }
  .vf-utility--example span {
    grid-column: 2 / span 1;
    height: 1em;
    width: 100%;
  }

</style>
<div class="vf-content">

<h3 id="background-colours">Background Colours</h3>
<section class="vf-utility__examples">
<article class="vf-utility--example">
  <p><code>.vf-u-background-color--green</code></p>
  <span class="vf-u-background-color--green"></span>
</article>
<article class="vf-utility--example">
  <p><code>.vf-u-background-color--green--darkest</code></p>
  <span class="vf-u-background-color--green--darkest"></span>
</article>
<article class="vf-utility--example">
  <p><code>.vf-u-background-color--green--dark</code></p>
  <span class="vf-u-background-color--green--dark"></span>
</article>
<article class="vf-utility--example">
  <p><code>.vf-u-background-color--green--light</code></p>
  <span class="vf-u-background-color--green--light"></span>
</article>
<article class="vf-utility--example">
  <p><code>.vf-u-background-color--green--lightest</code></p>
  <span class="vf-u-background-color--green--lightest"></span>
</article>
<article class="vf-utility--example">
  <p><code>.vf-u-background-color--grey</code></p>
  <span class="vf-u-background-color--grey"></span>
</article>
<article class="vf-utility--example">
  <p><code>.vf-u-background-color--grey--darkest</code></p>
  <span class="vf-u-background-color--grey--darkest"></span>
</article>
<article class="vf-utility--example">
  <p><code>.vf-u-background-color--grey--dark</code></p>
  <span class="vf-u-background-color--grey--dark"></span>
</article>
<article class="vf-utility--example">
  <p><code>.vf-u-background-color--grey--light</code></p>
  <span class="vf-u-background-color--grey--light"></span>
</article>
<article class="vf-utility--example">
  <p><code>.vf-u-background-color--grey--lightest</code></p>
  <span class="vf-u-background-color--grey--lightest"></span>
</article>
<article class="vf-utility--example">
  <p><code>.vf-u-background-color--red</code></p>
  <span class="vf-u-background-color--red"></span>
</article>
<article class="vf-utility--example">
  <p><code>.vf-u-background-color--red--dark</code></p>
  <span class="vf-u-background-color--red--dark"></span>
</article>
<article class="vf-utility--example">
  <p><code>.vf-u-background-color--red--light</code></p>
  <span class="vf-u-background-color--red--light"></span>
</article>
<article class="vf-utility--example">
  <p><code>.vf-u-background-color--blue</code></p>
  <span class="vf-u-background-color--blue"></span>
</article>
<article class="vf-utility--example">
  <p><code>.vf-u-background-color--blue--dark</code></p>
  <span class="vf-u-background-color--blue--dark"></span>
</article>
<article class="vf-utility--example">
  <p><code>.vf-u-background-color--blue--light</code></p>
  <span class="vf-u-background-color--blue--light"></span>
</article>
<article class="vf-utility--example">
  <p><code>.vf-u-background-color--purple</code></p>
  <span class="vf-u-background-color--purple"></span>
</article>
<article class="vf-utility--example">
  <p><code>.vf-u-background-color--purple--dark</code></p>
  <span class="vf-u-background-color--purple--dark"></span>
</article>
<article class="vf-utility--example">
  <p><code>.vf-u-background-color--purple--light</code></p>
  <span class="vf-u-background-color--purple--light"></span>
</article>
<article class="vf-utility--example">
  <p><code>.vf-u-background-color--orange</code></p>
  <span class="vf-u-background-color--orange"></span>
</article>
<article class="vf-utility--example">
  <p><code>.vf-u-background-color--orange--dark</code></p>
  <span class="vf-u-background-color--orange--dark"></span>
</article>
<article class="vf-utility--example">
  <p><code>.vf-u-background-color--orange--light</code></p>
  <span class="vf-u-background-color--orange--light"></span>
</article>
<article class="vf-utility--example">
  <p><code>.vf-u-background-color--yellow</code></p>
  <span class="vf-u-background-color--yellow"></span>
</article>
<article class="vf-utility--example">
  <p><code>.vf-u-background-color--yellow--dark</code></p>
  <span class="vf-u-background-color--yellow--dark"></span>
</article>
<article class="vf-utility--example">
  <p><code>.vf-u-background-color--yellow--light</code></p>
  <span class="vf-u-background-color--yellow--light"></span>
</article>
<article class="vf-utility--example">
  <p><code>.vf-u-background-color--bright-green</code></p>
  <span class="vf-u-background-color--bright-green"></span>
</article>
<article class="vf-utility--example">
  <p><code>.vf-u-background-color--bright-green--dark</code></p>
  <span class="vf-u-background-color--bright-green--dark"></span>
</article>
<article class="vf-utility--example">
  <p><code>.vf-u-background-color--bright-green--light</code></p>
  <span class="vf-u-background-color--bright-green--light"></span>
</article>
<article class="vf-utility--example">
  <p><code>.vf-u-background-color-ui--black</code></p>
  <span class="vf-u-background-color-ui--black"></span>
</article>
<article class="vf-utility--example">
  <p><code>.vf-u-background-color-ui--grey</code></p>
  <span class="vf-u-background-color-ui--grey"></span>
</article>
<article class="vf-utility--example">
  <p><code>.vf-u-background-color-ui--grey--light</code></p>
  <span class="vf-u-background-color-ui--grey--light"></span>
</article>
<article class="vf-utility--example">
  <p><code>.vf-u-background-color-ui--yellow</code></p>
  <span class="vf-u-background-color-ui--yellow"></span>
</article>
<article class="vf-utility--example">
  <p><code>.vf-u-background-color-ui--red</code></p>
  <span class="vf-u-background-color-ui--red"></span>
</article>
<article class="vf-utility--example">
  <p><code>.vf-u-background-color-ui--white</code></p>
  <span class="vf-u-background-color-ui--white"></span>
</article>
<article class="vf-utility--example">
  <p><code>.vf-u-background-color-ui--off-white</code></p>
  <span class="vf-u-background-color-ui--off-white"></span>
</article>
</section>
</div>

