


<div class="vf-content">

<h3 id="et-al">Et al.</h3>
<ul>
<li><code>.vf-et-al</code> for use in publications lists and similar</li>
</ul>
<p><span class="vf-et-al">Jon Smith, Jane Johnson, </span></p>
<h3 id="screenreader-text">Screenreader text</h3>
<ul>
<li><code>.vf-sr-only</code> some things should only be shown to screen readers</li>
</ul>
<p><span class="vf-sr-only">Like this text</span></p>
<h3 id="no-wrap">No-wrap.</h3>
<ul>
<li><code>.vf-no-wrap</code> keep text together, as much as possible</li>
</ul>
<p>I&#39;m some words that can break awkwardly but keep the <span class="vf-no-wrap">Company Name</span> together.</p>
<h3 id="text-colours">Text-colours</h3>
<p>Same colour options as background colours, with a prefix of</p>

<pre class="vf-code-example__pre"><code class="Code Code--lang-css vf-code-example"><span class="hljs-selector-class">.vf-u-text-color--</span>
</code></pre>
<h3 id="text-and-heading-sizes">Text and heading sizes</h3>
<ul>
<li>Text: From 1 to 6, with 1 being the largest.</li>
<li>Button: From 1 to 2, with 1 being the largest.</li>
<li>Heading: From 1 to 5, with 1 being the largest.</li>
</ul>

<pre class="vf-code-example__pre"><code class="Code Code--lang-css vf-code-example"><span class="hljs-selector-class">.vf-u-type__text-body--1</span>
<span class="hljs-selector-class">.vf-u-type__text-body--6</span>

<span class="hljs-selector-class">.vf-u-type__text-button--1</span>
<span class="hljs-selector-class">.vf-u-type__text-button--2</span>

<span class="hljs-selector-class">.vf-u-type__text-heading--1</span>
<span class="hljs-selector-class">.vf-u-type__text-heading--5</span>
</code></pre>
<h3 id="grid-layout">Grid layout</h3>

<pre class="vf-code-example__pre"><code class="Code Code--lang-css vf-code-example"><span class="hljs-selector-class">.vf-u-grid--reset</span> {
  <span class="hljs-attribute">grid-column</span>: <span class="hljs-number">1</span> / -<span class="hljs-number">1</span>;
}
</code></pre>
<h3 id="visibility">Visibility</h3>

<pre class="vf-code-example__pre"><code class="Code Code--lang-css vf-code-example"><span class="hljs-selector-class">.vf-u-display-none</span> {
  <span class="hljs-attribute">display</span>: none;
}
</code></pre>
<h3 id="margins">Margins</h3>
<p>In t-shirt sizes from <code>0</code>,<code>xs</code>, <code>sm</code>, <code>md</code>, <code>lg</code>, <code>xl</code>, <code>xl</code>, <code>xxl</code></p>

<pre class="vf-code-example__pre"><code class="Code Code--lang-css vf-code-example"><span class="hljs-selector-class">.vf-u-margin--0</span>
<span class="hljs-selector-class">.vf-u-margin--xs</span>
<span class="hljs-selector-class">.vf-u-margin--sm</span>
<span class="hljs-selector-class">.vf-u-margin--md</span>
<span class="hljs-selector-class">.vf-u-margin--lg</span>
<span class="hljs-selector-class">.vf-u-margin--xl</span>
<span class="hljs-selector-class">.vf-u-margin--xxl</span>

<span class="hljs-selector-class">.vf-u-margin__bottom--0</span>
<span class="hljs-selector-class">.vf-u-margin__bottom--</span>..
<span class="hljs-selector-class">.vf-u-margin__bottom--xxl</span>

<span class="hljs-selector-class">.vf-u-margin__top--0</span>
<span class="hljs-selector-class">.vf-u-margin__top--</span>..
<span class="hljs-selector-class">.vf-u-margin__top--xxl</span>

<span class="hljs-selector-class">.vf-u-margin__left--0</span>
<span class="hljs-selector-class">.vf-u-margin__left--</span>..
<span class="hljs-selector-class">.vf-u-margin__left--xxl</span>

<span class="hljs-selector-class">.vf-u-margin__right--0</span>
<span class="hljs-selector-class">.vf-u-margin__right--</span>..
<span class="hljs-selector-class">.vf-u-margin__right--xxl</span>

</code></pre>
<h3 id="padding">Padding</h3>
<p>In t-shirt sizes from <code>0</code>,<code>xs</code>, <code>sm</code>, <code>md</code>, <code>lg</code>, <code>xl</code>, <code>xl</code>, <code>xxl</code></p>

<pre class="vf-code-example__pre"><code class="Code Code--lang-css vf-code-example"><span class="hljs-selector-class">.vf-u-padding--0</span>
<span class="hljs-selector-class">.vf-u-padding--xs</span>
<span class="hljs-selector-class">.vf-u-padding--sm</span>
<span class="hljs-selector-class">.vf-u-padding--md</span>
<span class="hljs-selector-class">.vf-u-padding--lg</span>
<span class="hljs-selector-class">.vf-u-padding--xl</span>
<span class="hljs-selector-class">.vf-u-padding--xxl</span>

<span class="hljs-selector-class">.vf-u-padding__bottom--0</span>
<span class="hljs-selector-class">.vf-u-padding__bottom--</span>..
<span class="hljs-selector-class">.vf-u-padding__bottom--xxl</span>

<span class="hljs-selector-class">.vf-u-padding__top--0</span>
<span class="hljs-selector-class">.vf-u-padding__top--</span>..
<span class="hljs-selector-class">.vf-u-padding__top--xxl</span>

<span class="hljs-selector-class">.vf-u-padding__left--0</span>
<span class="hljs-selector-class">.vf-u-padding__left--</span>..
<span class="hljs-selector-class">.vf-u-padding__left--xxl</span>

<span class="hljs-selector-class">.vf-u-padding__right--0</span>
<span class="hljs-selector-class">.vf-u-padding__right--</span>..
<span class="hljs-selector-class">.vf-u-padding__right--xxl</span>

</code></pre>
<p>Todo: This should be autogenerated from the Sass, but to best do that we might look at some sort of
css documentation tool.</p>

</div>

