

<section class="vf-video-container | embl-grid embl-grid--has-sidebar">
<div class="vf-section-header">
  <h2 class="vf-section-header__heading">Projects</h2>
</div>
<div class="vf-video">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/nGNvYjYQaaQ?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
<div class="vf-video-teaser">
  <h3 class="vf-video-teaser__title">More on our YouTube channel</h3>
  <a href="#"><img class="vf-video-teaser__image" src="../../assets/vf-video-teaser/assets/video-teaser.png" alt=""></a>
  <a href="#" class="vf-video-teaser__link vf-link">New theory deepens understanding of Turing patterns</a>
</div>
</section>

