$componentInfo: (
             name: "@visual-framework/vf-form__core",
             version: "1.0.5",
             location: "components/vf-form/vf-form__core",
             vfCoreVersion: "2.2.8",
             buildTimeStamp: "Fri, 23 Oct 2020 11:09:14 GMT"
          );