:root {
  --vf-color--green: #18974c;
  --vf-color--green--darkest: #0a5032;
  --vf-color--green--dark: #007b53;
  --vf-color--green--light: #6cc24a;
  --vf-color--green--lightest: #d0debb;
  --vf-color--grey: #707372;
  --vf-color--grey--darkest: #373a36;
  --vf-color--grey--dark: #54585a;
  --vf-color--grey--light: #a8a99e;
  --vf-color--grey--lightest: #d0d0ce;
  --vf-color--red: #d41645;
  --vf-color--red--dark: #a6093d;
  --vf-color--red--light: #e58f9e;
  --vf-color--blue: #3b6fb6;
  --vf-color--blue--dark: #193f90;
  --vf-color--blue--light: #8bb8e8;
  --vf-color--purple: #734595;
  --vf-color--purple--dark: #563d82;
  --vf-color--purple--light: #cba3d8;
  --vf-color--orange: #f49e17;
  --vf-color--orange--dark: #b65417;
  --vf-color--orange--light: #efc06e;
  --vf-color--yellow: #f4c61f;
  --vf-color--yellow--dark: #ffb81c;
  --vf-color--yellow--light: #fdd757;
  --vf-color--bright-green: #a1be1f;
  --vf-color--bright-green--dark: #7fb428;
  --vf-color--bright-green--light: #e2e868;
}

:root {
  --vf-ui-color--black: #000000;
  --vf-ui-color--grey: #d8d8d8;
  --vf-ui-color--grey--light: #f3f3f3;
  --vf-ui-color--yellow: #fffadc;
  --vf-ui-color--red: #d32f2f;
  --vf-ui-color--white: #ffffff;
  --vf-ui-color--off-white: #fafafa;
}

/*!
 * Component: @visual-framework/vf-form__helper
 * Version: 1.0.0
 * Location: components/vf-form/vf-form__helper
 */
.vf-form__helper {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.57;
  margin: 0 0 0 0;
  color: #707372;
}

.vf-form__helper--error {
  color: #d32f2f;
  margin-bottom: 4px;
}

/*!
 * Component: @visual-framework/vf-form__input
 * Version: 1.0.1
 * Location: components/vf-form/vf-form__input
 */
.vf-form__input:not([type='file']) {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.71;
  margin: 0 0 4px 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-color: #f3f3f3;
  border-radius: 0;
  border-style: solid;
  border-width: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #54585a;
  display: block;
  padding: 8px 12px;
  width: 100%;
}

.vf-form__input:not([type='file']):focus, .vf-form__input:not([type='file']):hover {
  border-color: currentColor;
  color: #000000;
  outline: 0;
}

.vf-form__wrap .vf-form__label {
  border-top-left-radius: 3px;
  display: block;
  line-height: 1;
  opacity: 0;
  position: absolute;
  top: -16px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  visibility: hidden;
  z-index: 1;
}

.vf-form__input .vf-form__wrap {
  -webkit-font-smoothing: antialiased;
  position: relative;
  text-rendering: optimizeLegibility;
}

.vf-form__input::-webkit-input-placeholder {
  opacity: 1;
}

.vf-form__input::-moz-placeholder {
  opacity: 1;
}

.vf-form__input:-ms-input-placeholder {
  opacity: 1;
}

.vf-form__input::-ms-input-placeholder {
  opacity: 1;
}

.vf-form__input::placeholder {
  opacity: 1;
}

.vf-form__input::-webkit-input-placeholder, .vf-form__select::-webkit-input-placeholder, .vf-form__textarea::-webkit-input-placeholder {
  color: #a8a99e;
}

.vf-form__input::-moz-placeholder, .vf-form__select::-moz-placeholder, .vf-form__textarea::-moz-placeholder {
  color: #a8a99e;
}

.vf-form__input:-ms-input-placeholder, .vf-form__select:-ms-input-placeholder, .vf-form__textarea:-ms-input-placeholder {
  color: #a8a99e;
}

.vf-form__input::-ms-input-placeholder, .vf-form__select::-ms-input-placeholder, .vf-form__textarea::-ms-input-placeholder {
  color: #a8a99e;
}

.vf-form__input::placeholder,
.vf-form__select::placeholder,
.vf-form__textarea::placeholder {
  color: #a8a99e;
}

.vf-form__input::-moz-placeholder,
.vf-form__select::-moz-placeholder,
.vf-form__textarea::-moz-placeholder {
  color: #a8a99e;
}

.vf-form__input:-ms-input-placeholder,
.vf-form__select:-ms-input-placeholder,
.vf-form__textarea:-ms-input-placeholder {
  color: #a8a99e;
}

.vf-form__input::-webkit-input-placeholder,
.vf-form__select::-webkit-input-placeholder,
.vf-form__textarea::-webkit-input-placeholder {
  color: #a8a99e;
}

.vf-form__input .vf-form__select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #a8a99e;
  cursor: pointer;
  position: relative;
}

.vf-form__input .vf-form__select::-ms-expand {
  display: none;
}

.vf-form__input .vf-form__is-active .vf-form__input,
.vf-form__input .vf-form__is-active .vf-form__select,
.vf-form__input .vf-form__is-active .vf-form__textarea {
  background-color: #ffffff;
}

.vf-form__input .vf-form__has-focus .vf-form__input,
.vf-form__input .vf-form__has-focus .vf-form__select,
.vf-form__input .vf-form__has-focus .vf-form__textarea {
  background-color: #ffffff;
  border-color: #000000;
}

.vf-form__wrap .vf-form__input .vf-form__label {
  border-radius-top-left: 3px;
  color: #54585a;
  display: block;
  left: 24px;
  opacity: 0;
  position: absolute;
  top: -24px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  visibility: hidden;
  z-index: 1;
}

.vf-form__input .vf-form__is-active .vf-form__label {
  opacity: 1;
  visibility: visible;
}

.vf-form__input .vf-form__has-focus .vf-form__label {
  color: #000000;
}

.vf-form__input .vf-form__is-required::before {
  color: #d32f2f;
  content: '*';
  display: block;
  font-size: 16px;
  line-height: 1.75;
  opacity: 1;
  padding: 6px 0 0;
  position: absolute;
  right: 15px;
  top: 1px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  z-index: 1;
}

.vf-form__input .vf-form__is-required.vf-form__is-active::before {
  opacity: 0;
}

.vf-form__input:disabled {
  background: #f3f3f3;
  cursor: not-allowed;
}

.vf-form__input:disabled::-moz-placeholder {
  color: #18974c;
}

.vf-form__input:disabled::placeholder, .vf-form__input:disabled::-moz-placeholder, .vf-form__input:disabled::-ms-input-placeholder, .vf-form__input:disabled::-webkit-input-placeholder {
  color: #18974c;
}

.vf-form__input:invalid {
  border-color: #d32f2f;
}

/*!
 * Component: @visual-framework/vf-form__legend
 * Version: 1.0.1
 * Location: components/vf-form/vf-form__legend
 */
.vf-form__legend {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.421;
  margin: 0 0 8px 0;
}

/*!
 * Component: @visual-framework/vf-form__fieldset
 * Version: 1.0.1
 * Location: components/vf-form/vf-form__fieldset
 */
.vf-form__fieldset {
  border: 0;
  margin-bottom: 20px;
  padding: 0;
}

/*!
 * Component: @visual-framework/vf-form__select
 * Version: 1.0.0
 * Location: components/vf-form/vf-form__select
 */
.vf-form__select {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.71;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='18' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23707372' fill-rule='evenodd'%3E%3Cpath d='M6 0l6 8H0zM6 18l6-8H0z'/%3E%3C/g%3E%3C/svg%3E");
  background-position: right .7em top 50%, 0 0;
  background-repeat: no-repeat, repeat;
  background-size: .65em auto, 100%;
  border-color: #f3f3f3;
  border-radius: 0;
  border-style: solid;
  border-width: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #54585a;
  display: block;
  margin: 0;
  max-width: 100%;
  padding: 16px 24px;
  width: 100%;
}

.vf-form__select:focus, .vf-form__select:hover {
  border-color: currentColor;
  color: #000000;
  outline: 0;
}

.vf-form__select::-ms-expand {
  display: none;
}

.vf-form__select option {
  font-weight: normal;
}

/*!
 * Component: @visual-framework/vf-form__checkbox
 * Version: 1.0.2
 * Location: components/vf-form/vf-form__checkbox
 */
.vf-form__item.vf-form__item--checkbox {
  margin-bottom: 16px;
}

.vf-form__item--checkbox .vf-form__checkbox + .vf-form__label::before {
  border-color: #f3f3f3;
  margin-right: 8px;
  top: 8px;
}

.vf-form__checkbox {
  opacity: 0;
  position: absolute;
}

.vf-form__checkbox + .vf-form__label {
  color: #54585a;
  cursor: pointer;
  padding: 0;
  position: relative;
}

.vf-form__checkbox + .vf-form__label::before {
  background: #ffffff;
  border: 3px solid;
  content: '';
  display: inline-block;
  height: 24px;
  position: relative;
  top: 3px;
  width: 24px;
}

.vf-form__checkbox:hover + .vf-form__label:before {
  border-color: #54585a;
}

.vf-form__checkbox:focus + .vf-form__label:before {
  border-color: #54585a;
}

.vf-form__checkbox:checked + .vf-form__label:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Ctitle%3Echeck%3C/title%3E%3Cpath d='M23.146,5.4,20.354,2.6a.5.5,0,0,0-.708,0L7.854,14.4a.5.5,0,0,1-.708,0L4.354,11.6a.5.5,0,0,0-.708,0L.854,14.4a.5.5,0,0,0,0,.707L7.146,21.4a.5.5,0,0,0,.708,0L23.146,6.1A.5.5,0,0,0,23.146,5.4Z' fill='%233b6fb6'/%3E%3C/svg%3E");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 80%;
  border-color: #3b6fb6;
}

.vf-form__checkbox:disabled + .vf-form__label {
  color: #54585a;
  cursor: auto;
}

.vf-form__checkbox:disabled + .vf-form__label:before {
  background: #707372;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*!
 * Component: @visual-framework/vf-form__radio
 * Version: 1.0.1
 * Location: components/vf-form/vf-form__radio
 */
.vf-form__radio {
  opacity: 0;
  position: absolute;
}

.vf-form__radio + .vf-form__label {
  color: #54585a;
  cursor: pointer;
  padding: 0;
  position: relative;
}

.vf-form__radio + .vf-form__label::before {
  background: #ffffff;
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  content: '';
  display: inline-block;
  height: 16px;
  margin-right: 8px;
  position: relative;
  top: 4px;
  width: 16px;
}

.vf-form__radio:hover + .vf-form__label::before {
  border-color: #54585a;
}

.vf-form__radio:focus + .vf-form__label::before {
  border-color: #54585a;
}

.vf-form__radio:checked + .vf-form__label::before {
  background: #3b6fb6;
  border-color: #3b6fb6;
}

.vf-form__radio:disabled + .vf-form__label {
  color: #54585a;
  cursor: auto;
}

.vf-form__radio:disabled + .vf-form__label::before {
  background: #707372;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*!
 * Component: @visual-framework/vf-form__textarea
 * Version: 1.0.1
 * Location: components/vf-form/vf-form__textarea
 */
.vf-form__textarea {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.71;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 3px solid #f3f3f3;
  border-radius: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  padding: 12px 22px;
  position: relative;
  top: 24px;
  width: 100%;
}

.vf-form__textarea:hover, .vf-form__textarea:focus {
  border-color: #54585a;
  outline: 0;
}

/*!
 * Component: @visual-framework/vf-form__item
 * Version: 1.0.0
 * Location: components/vf-form/vf-form__item
 */
.vf-form__item {
  margin-bottom: 32px;
}

.vf-form__item--inline .vf-form__label {
  display: inline-block;
}

/*!
 * Component: @visual-framework/vf-form__label
 * Version: 1.0.1
 * Location: components/vf-form/vf-form__label
 */
.vf-form__label {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.421;
  margin: 0 0 8px 0;
  display: block;
}

.vf-form__label--required {
  float: right;
  margin-bottom: 0;
}

.vf-form__label--required .vf-icon svg {
  fill: #3b6fb6;
  height: 12px;
  width: 16px;
}
