<div class="vf-u-margin__bottom--xxl">
  <p class="vf-text | vf-u-margin__bottom--l"><code class="vf-code-example">vf-form__item</code></p>
  {% render '@vf-form__item'%}
</div>
<div class="vf-u-margin__bottom--xxl">
  <p class="vf-text | vf-u-margin__bottom--l"><code class="vf-code-example">vf-form__label</code></p>
  {% render '@vf-form__label'%}
</div>
<div class="vf-u-margin__bottom--xxl">
  <p class="vf-text | vf-u-margin__bottom--l"><code class="vf-code-example">vf-form__label--required</code></p>
  {% render '@vf-form__label--required'%}
</div>
<div class="vf-u-margin__bottom--xxl">
  <p class="vf-text | vf-u-margin__bottom--l"><code class="vf-code-example">vf-form__input</code></p>
  {% render '@vf-form__input'%}
</div>
<div class="vf-u-margin__bottom--xxl">
  <p class="vf-text | vf-u-margin__bottom--l"><code class="vf-code-example">vf-form__helper</code></p>
  {% render '@vf-form__helper'%}
</div>
<div class="vf-u-margin__bottom--xxl">
  <p class="vf-text | vf-u-margin__bottom--l"><code class="vf-code-example">vf-form__helper--error</code></p>
  {% render '@vf-form__helper--error'%}
</div>
<div class="vf-u-margin__bottom--xxl">
  <p class="vf-text | vf-u-margin__bottom--l"><code class="vf-code-example">vf-form__legend</code></p>
  {% render '@vf-form__legend'%}
</div>
<div class="vf-u-margin__bottom--xxl">
  <p class="vf-text | vf-u-margin__bottom--l"><code class="vf-code-example">vf-form__fieldset</code> <em>(with no content)</em></p>
  {% render '@vf-form__fieldset'%}
</div>
<div class="vf-u-margin__bottom--xxl">
  <p class="vf-text | vf-u-margin__bottom--l"><code class="vf-code-example">vf-form__checkbox</code></p>
  {% render '@vf-form__checkbox'%}
</div>
<div class="vf-u-margin__bottom--xxl">
  <p class="vf-text | vf-u-margin__bottom--l"><code class="vf-code-example">vf-form__checkbox--inline</code></p>
  {% render '@vf-form__checkbox--inline'%}
</div>
<div class="vf-u-margin__bottom--xxl">
  <p class="vf-text | vf-u-margin__bottom--l"><code class="vf-code-example">vf-form__radio</code></p>
  {% render '@vf-form__radio'%}
</div>
<div class="vf-u-margin__bottom--xxl">
  <p class="vf-text | vf-u-margin__bottom--l"><code class="vf-code-example">vf-form__select</code></p>
  {% render '@vf-form__select'%}
</div>
<div class="vf-u-margin__bottom--xxl">
  <p class="vf-text | vf-u-margin__bottom--l"><code class="vf-code-example">vf-form__textarea</code></p>
  {% render '@vf-form__textarea'%}
</div>
