---
title: Consultation process
subtitle: The Visual Framework 2.0 is an open source project meant for the wider life science community, so we aim to be transparent about which components are canonized, what isn't and why decisions are made.
date: 2020-11-02 12:24:50
is_index: false
section: about
order: 2
tags:
  - about
  - sections
layout: layouts/base.njk
---

{% render '@vf-intro', {
  "vf_intro_heading": title,
  "vf_intro_lede": subtitle,
  "vf_intro_subheading": "",
  "vf_intro_text": [
    'With this wide remit, the VF needs to be disciplined and flexible — empathy, consideration and consultation are key to our governance approach.',
    "This process will help the overall quality of the VF and ensure users don’t need to fork code, can deliver quality sites and are able to deliver the correct corporate identity."
  ],
  "vf_intro_badge": false
} %}

{# <section class="embl-grid embl-grid--has-centered-content">
{% render '@vf-section-header', {
  "section_title": "The VF is",
  "id": "is",
  "vf_section__content": ""
} %}
<div class="vf-content">
{% markdown %}

- A singular code base
  - suitable for use by all EMBL sites and collaborations
- Good defaults
  - UX, appearance — and EMBL corporate brand
- Compatible
  - Use the VF without breaking your other tools (i.e. Bootstrap)
- Flexible
  - Overridable where necessary (i.e. “the button isn’t working for our use case”)

The VF enables all EMBL websites and collaborations to:
- be built better, faster, cheaper
- be built on brand
- use the same tooling as the corporate site
- retain choice of other technical tools
  - (i.e. Bootstrap, Tailwind, Angular, React, etc.)

### Pitfalls of not consulting

- Non-usage
  - “I don’t like it, I’ll use my own thing and stick the EMBL logo on it”
- Forking
  - “It’s alright, but I want feature X, Y and Z so I’ll fork v2.1.9”
- Confusion
  - “I have an idea, but don’t know how to get it included”
- Entropy

{% endmarkdown %}
</div>
</section> #}

<section class="embl-grid embl-grid--has-centered-content">
{% render '@vf-section-header', {
  "section_title": "Key considerations",
  "id": "considerations",
  "vf_section__content": ""
} %}
<div class="vf-content">

{% markdown %}

1. What is the use case being addressed?
1. What are some ways to facilitate the behaviour?
1. What is the most flexible approach?
      - Will it prevent the ability to deliver a corporate brand?
      - Does it break existing functionality?
      - Is it of general use beyond a particular “specialist area”?
1. What is the most technically compatible way?
1. What should it look like?
      - Is it good best practice (technically, visually, UX)?
1. Who will implement, how “expensive” is it?
      - We encourage code contributions

We aim to produce consistency and clear guidance on best practice. We also want to revise existing components to share lessons learned.

{% endmarkdown %}

</div>
</section>

<section class="embl-grid embl-grid--has-centered-content">
{% render '@vf-section-header', {
  "section_title": "The decision process",
  "id": "decisions",
  "vf_section__content": ""
} %}
<div class="vf-content">

{% markdown %}

1. Quarterly virtual meetings
      - Agenda-driven discussions
      - Discuss changes that have already occurred, and new requests
      - Establish goals, priorities for next period of time
1. Decisions stored in the VF documentation
      - What was agreed
      - Why it was agreed
1. Document and circulate
      - Conversation on [GitHub issues](https://github.com/visual-framework/vf-core/issues)
      - Discussions and ideas on [Slack](https://join.slack.com/t/visual-framework/shared_invite/enQtNDAxNzY0NDg4NTY0LWFhMjEwNGY3ZTk3NWYxNWVjOWQ1ZWE4YjViZmY1YjBkMDQxMTNlNjQ0N2ZiMTQ1ZTZiMGM4NjU5Y2E0MjM3ZGQ)

At a high level it [follows this flow diagram](https://coggle.it/diagram/V0hkiP976OIbGpy8/t/vanilla-pattern).

### Who

- VF core maintainers
- EMBL Communications' Digital and Design teams
- EMBL-EBI Web Development, UX and Communications teams
- Nominated service representatives
  - Relationship with EMBL-EBI Web Guidelines Committee
- The requestor(s) of a new component or change

### When

In addition to the quarterly consultation, we meet on regular basis in three channels:

- Design consultation, every other Monday
- UX consultation, every other Tuesday
- Technical consultation, monthly on the first Thursday

These form initial discussion and debate on new ideas before they are further tested and actioned on the GitHub issue queue.

{% endmarkdown %}

</div>
</section>

<section class="embl-grid embl-grid--has-centered-content">
{% render '@vf-section-header', {
  "section_title": "How to propose",
  "id": "propose",
  "vf_section__content": ""
} %}
<div class="vf-content">

{% markdown %}

If you have an idea you'd like to suggest, the best place to begin is to [raise the topic on Slack](https://visual-framework.slack.com/join/shared_invite/enQtNDAxNzY0NDg4NTY0LWFhMjEwNGY3ZTk3NWYxNWVjOWQ1ZWE4YjViZmY1YjBkMDQxMTNlNjQ0N2ZiMTQ1ZTZiMGM4NjU5Y2E0MjM3ZGQ#/).

If you have a more formal request, you can email it to ken.hawkins [at] embl.de, and we'll help you convert it to an actionable proposal for the correct group of consultation.

### What if my idea gets rejected?

The agreed implementation doesn't cover my needs?

Even if your need can't be accommodated:

- the Visual Framework accommodate customisation at the edge (in Sass or JavaScript) or core changes (by bringing your own build process or design tokens)
- you can [create and use a custom component in your local project]({{ '/building' | url }}) and share the component on npm for others to use

The Visual Framework allows "local rule". You won't be blocked from adding and overriding components.

{% endmarkdown %}
</div>
</section>

<section class="embl-grid embl-grid--has-centered-content">
{% render '@vf-section-header', {
  "section_title": "We achieve",
  "id": "achieve",
  "vf_section__content": ""
} %}
<div class="vf-content">

{% markdown %}

We work to avoid entropy and fragmentation of the VF through a consultative process that has been proven to work with the VF 1.x.

We strive for an inclusive process that guides the 300+ developers to make the right decisions. We avoid being website police — we know past experience that we neither have the resources to monitor all sites nor can we force services to do a re-development.

- we move forward with the VF as one system with many implementations
- the VF is as good as it can be
- we have a record of how and why things change
- we want bring more sites into the fold

We remain mindful to support communicating, collaborating, engaging.

{% endmarkdown %}

</div>
</section>
