---
title: FAQ
subtitle: Tailored for life science websites.
date: 2020-10-02 12:24:50
is_index: false
section: about
order: 4
tags:
  - about
  - sections
layout: layouts/base.njk
---

{% render '@vf-intro', {
  "vf_intro_heading": title,
  "vf_intro_lede": siteConfig.siteInformation.short_description,
  "vf_intro_subheading": "",
  "vf_intro_text": [
    'The Visual Framework (VF) is designed with the <a href="https://blogs.embl.org/communications/2018/09/12/faster-scientific-websites-through-reusability" class="vf-link">needs of life science websites and services</a>. It goes beyond guidance for tables, graphs, data-heavy typography and focuses on being sane defaults and implements its CSS in a way that will not interfere with your existing components that use Bootstrap, Angular, or something else.'
  ],
  "vf_intro_badge": false
} %}

<section class="embl-grid embl-grid--has-centered-content">
{% render '@vf-section-header', {
  "section_title": " ",
  "id": "faq"
} %}
<div class="vf-content">

<a name="faq"></a>

{% markdown %}

### Is VF Core just a Bootstrap with a different theme?

No. VF Core is an architecture to build extensible components that contain CSS/Sass, JS, Nunjucks templates, and image assets. You could use the VF Core to make a Bootstrap-style framework.

### I’m a small research team, should I use VF Core?

Yes, utilise the Visual Framework system with one of the above listed approaches.

### Does it have a specific look and feel?

No. It has a default look out of the box, but it is fully customisable by altering the [design tokens](/components/vf-design-tokens/).

### Is it really ready for use today?

[Yes!](https://www.covid19dataportal.org/)

### Shouldn’t I just use Bootstrap or Solution X?

No, but yes … do both, if you need to.

This question involve the Visual Framework's architecture which addresses common issues with code sharing and compatibility with life science websites. This project allows you to share Visual Framework components without disrupting your freedom to choose Bootstrap, Foundation, jQuery, React or another framework for the rest of your site.

### What components are available?

Many common component for tabs, boxes, links and so on [are available in the component library]({{ '/components' | url }}).

### Help!

Have a problem? See the [Troubleshooting guide]({{ '/troubleshooting' | url }}) or [chat the community on Slack](https://join.slack.com/t/visual-framework/shared_invite/enQtNDAxNzY0NDg4NTY0LWFhMjEwNGY3ZTk3NWYxNWVjOWQ1ZWE4YjViZmY1YjBkMDQxMTNlNjQ0N2ZiMTQ1ZTZiMGM4NjU5Y2E0MjM3ZGQ).

{% endmarkdown %}

</div>
</section>
