---
is_index: true
title: About the Visual Framework
subtitle: A toolkit tailored for better life science websites.
date: 2018-08-22 12:24:50
section: about
order: 1
tags:
  - about
  - sections
layout: layouts/section.njk
---

<main class="vf-grid vf-grid__col-3">
  <article class="vf-grid__col--span-2 | vf-content ">

{% markdown %}

The Visual Framework is designed with robust technical flexibility and goes beyond guidance for tables, graphs, data-heavy typography and focuses on bringing sane defaults.

The tooling implements its CSS and JS in a way that will not interfere with your existing components that use Bootstrap, Angular, or something else.

Above all, the VF is designed with the <a href="https://www.embl.org/about/info/communications/blog/2018/09/faster-scientific-websites-through-reusability/" class="vf-link">needs of life science websites and services</a>.

{% endmarkdown %}

  </article>
  <div></div>
</main>

{% include "navigation-in-this-section.njk" %}

{# <main class="vf-grid vf-grid__col-3">
  <article class="vf-grid__col--span-2 | vf-content ">


  </article>
  <div></div>
</main> #}
