
// vf-footer Sass variables file.
// ------------------------------------------------------------

// ------------------------------------------------------------
// Default component variables
// ------------------------------------------------------------

$vf-footer-link--color: ui-color(white);
$vf-footer-link--hover-color: color(grey--lightest);
$vf-footer-link--visited-color: color(grey--lightest);
