<footer class="vf-footer | vf-body">
  <div class="vf-footer__inner">
    <p class="vf-footer__notice">EMBL is Europe’s flagship laboratory for the life sciences – an intergovernmental organisation with more than 80 independent research groups covering the spectrum of molecular biology.</p>
    <div class="vf-footer__links-group | vf-grid">
      <div class="vf-links">
        <h4 class="vf-links__heading">Research</h3>
        <ul class="vf-links__list | vf-list">
          <li class="vf-list__item">
            <a class="vf-list__link" href="#">Research Units</a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="#">Research Groups</a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="#">Publications</a>
          </li>
        </ul>
      </div>
      <div class="vf-links">
        <h4 class="vf-links__heading">Services</h3>
        <ul class="vf-links__list | vf-list">
          <li class="vf-list__item">
            <a class="vf-list__link" href="#">By Topic</a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="#">By A-Z</a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="#">Microscopes</a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="#">Images</a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="#">Library</a>
          </li>
        </ul>
      </div>
      <div class="vf-links">
        <h4 class="vf-links__heading">Research</h3>
        <ul class="vf-links__list | vf-list">
          <li class="vf-list__item">
            <a class="vf-list__link" href="#">Research Units</a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="#">Research Groups</a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="#">Publications</a>
          </li>
        </ul>
      </div>
      <div class="vf-links">
        <h4 class="vf-links__heading">Research</h3>
        <ul class="vf-links__list | vf-list">
          <li class="vf-list__item">
            <a class="vf-list__link" href="#">Research Units</a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="#">Research Groups</a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="#">Publications</a>
          </li>
        </ul>
      </div>
      <div class="vf-links">
        <h4 class="vf-links__heading">Research</h3>
        <ul class="vf-links__list | vf-list">
          <li class="vf-list__item">
            <a class="vf-list__link" href="#">Research Units</a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="#">Research Groups</a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="#">Publications</a>
          </li>
        </ul>
      </div>

    </div>
    <section class="vf-footer__legal | vf-grid vf-grid__col-1">
      <ul class="vf-footer__list vf-footer__list--legal | vf-list vf-list--inline">
        <li class="vf-list__item">
          <a href="#" class="vf-list__link">Help</a>
        </li>
        <li class="vf-list__item">
          <a href="#" class="vf-list__link">Policies &amp; Guidelines</a>
        </li>
        <li class="vf-list__item">
          <a href="#" class="vf-list__link">Privacy Policy</a>
        </li>
      </ul>
      <p class="vf-footer__legal-text">Copyright © EMBL 2018.</p>
      <p class="vf-footer__legal-text">Meyerhofstraße 1, 69117 Heidelberg, Germany.</p>
      <p class="vf-footer__legal-text">Tel: +49 6221 387-0.</p>
      <a class="vf-footer__link" href="#">Full contact details</a>
    </section>
  </div>
</footer>
