
// vf-footer Sass variables file.
// ------------------------------------------------------------

// ------------------------------------------------------------
// Default component variables
// ------------------------------------------------------------

$vf-footer-link--color: set-ui-color(vf-ui-color--white);
$vf-footer-link--hover-color: set-color(vf-color--grey--lightest);
$vf-footer-link--visited-color: set-color(vf-color--grey--lightest);
