// vf-footer
@import 'vf-footer.variables.scss';

.vf-footer {
  background-color: set-color(vf-color-gray);
  border-top: 8px solid set-color(vf-color-green);
  padding-bottom: 60px;
  padding-top: 24px;

  .vf-links {
    padding-left: 0;
    padding-right: 0;
  }
}

.vf-footer__notice {
  @include set-type(body--r);

  color: set-color(vf-color-white);
  max-width: 52em;
}

.vf-footer__inner {
  grid-column: main;
}

.vf-footer__legal {
  color: set-color(vf-color-white);
  display: grid;
  grid-template-columns: repeat(4, max-content);

  .vf-footer__legal-text,
  .vf-footer__link {
    padding-top: 12px;
  }
}

.vf-footer__link {
  @include inline-link(
    $vf-link-color: set-color(vf-color-white),
    $vf-link-hover-color: set-color(vf-color-gray-bright),
    $vf-link-visited-color: $vf-link-visited-color
  );
}

.vf-footer__list--legal {
  grid-column: 1 / -1;
}

.vf-footer__links-group {
  border: solid 0px set-color(vf-color-gray-bright);
  border-width: 1px 0;
  margin-bottom: 12px;

  .vf-links__heading {
    @include set-type(body--xs);

    color: set-color(vf-color-gray-bright);
    text-transform: uppercase;
  }

  .vf-links {
    margin-bottom: 48px;
    padding-bottom: 0;
    padding-top: 12px;
  }

  .vf-links__item {
    margin-bottom: 0;
  }
}

.vf-footer .vf-links__link {
  @include inline-link(
    $vf-link-color: set-color(vf-color-white),
    $vf-link-hover-color: set-color(vf-color-gray-bright),
    $vf-link-visited-color: $vf-link-visited-color
  );
}

.vf-footer .vf-list__link {
  @include inline-link(
    $vf-link-color: set-color(vf-color-white),
    $vf-link-hover-color: set-color(vf-color-gray-bright),
    $vf-link-visited-color: $vf-link-visited-color
  );
  margin-right: 24px;
}
