$componentInfo: (
             name: "@visual-framework/embl-notifications",
             version: "1.0.0",
             location: "components/embl-notifications",
             vfCoreVersion: "2.2.8",
             buildTimeStamp: "Fri, 23 Oct 2020 11:09:14 GMT"
          );