$componentInfo: (
             name: "@visual-framework/embl-notifications",
             version: "1.0.0-beta.0",
             location: "components/embl-notifications",
             vfCoreVersion: "2.2.4"
          );