$componentInfo: (
             name: "@visual-framework/embl-notifications",
             version: "1.0.0",
             location: "components/embl-notifications",
             vfCoreVersion: "2.2.8",
             buildTimeStamp: "Wed, 21 Oct 2020 09:23:50 GMT"
          );