.vf-figure {
  margin: 0;
}

.vf-figure__image {
  margin: 0 0 21px 0;
}

.vf-figure__caption {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.57;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  color: #707372;
  font-style: italic;
}

.vf-figure__image {
  height: auto;
  width: 100%;
}
