$componentInfo: (
             name: "@visual-framework/vf-collapse",
             version: "0.0.2",
             location: "components/vf-collapse",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Thu, 29 Oct 2020 16:53:17 GMT"
          );