$componentInfo: (
             name: "@visual-framework/vf-collapse",
             version: "0.0.2",
             location: "components/vf-collapse",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Tue, 27 Oct 2020 10:25:50 GMT"
          );