{#- Make sure any variables are listed inside the following if statement -#}
{%- if context %}
  {% set logo = context.logo %}
  {% set name = context.name %}
  {% set description = context.description %}
  {% set link = context.link %}
{% endif -%}

<div class="vf-banner-elixir vf-banner
  {%- if banner__info == true %} {% endif -%}
  ">
  <div class="vf-banner__content">
    <p class="vf-banner__text">{{logo}}</p>
    <p class="vf-banner__text">{{name}}</p>
    <p class="vf-banner__text">{{description}}</p>
    <p class="vf-banner__text">{{link}}</p>
  </div>
</div>
