{# Make sure any variables are listed inside the following if statement #}
{% if context %}
  {# {% set vf-banner-elixir = context.vf-banner-elixir %} #}
{% endif %}

<div class="vf-banner-elixir">
  /* vf-banner-elixir template file */
</div>

{# You can do Nunjucks logic in your templates that references the .yml settings
   What's Nunjucks: https://mozilla.github.io/nunjucks/templating.html #}
{#
{% if item.image == "blank" %}
  <span><!-- no image --></span>
  {% else %}
  {{ item.image }}
{% endif %}
#}
