$componentInfo: (
             name: "@visual-framework/vf-form__textarea",
             version: "1.0.2",
             location: "components/vf-form/vf-form__textarea",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Thu, 05 Nov 2020 12:33:55 GMT"
          );