$componentInfo: (
             name: "@visual-framework/vf-form__textarea",
             version: "1.0.2",
             location: "components/vf-form/vf-form__textarea",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Fri, 06 Nov 2020 14:56:35 GMT"
          );