---
title: What's next for the Visual Framework, and why it is
subtitle: As the Visual Framework matures and is used by a mix of stakeholders, we're sharing more about the future roadmap and how we make decisions — and work together.
date: 2020-11-10 11:10:50
tags:
  - posts
  - changelog
  - blog
  - roadmap
  - consultation
layout: layouts/post.njk
---

{# {% render '@vf-box', {
  "variant": "easy",
  "box_heading": "tl;dr?",
  "box_text": "<code>vf-u-margin__bottom--xs</code> is now <code>vf-u-margin__bottom--100</code>"
} %}

<br/> #}

The Visual Framework development is led by [EMBL](https://www.embl.org/) (the European Molecular Biology Laboratory) and the project's components are already in use across projects with many needs that serve internal or external audiences, and intend to do a mix of various activities, ranging from inspirational to functional tasks.

To achieve such a broad range of functionality, there are often different priorities from tabs, to video embeds, to analytics tracking. And sometimes these needs conflict, where a button works well on an inspirational homepage it may not work as well for a task-oriented portal to download viral sequences.

So it's important to communicate to our users and stakeholders:

### What are major projects we intend to work on?

<a href="{{ '/about/roadmap' | url }}" class="vf-button vf-button--primary  vf-button--sm">View the Visual Framework a roadmap</a>

This is a snapshot of work planned in the Visual Framework <a href="https://github.com/visual-framework/vf-core/milestones">project milestones</a>. These are in addition to <a href="https://github.com/visual-framework/vf-core/issues">ongoing</a> feature development and support.

### How do you make decisions about what's correct and best?

<a href="{{ '/about/consultation' | url }}" class="vf-button vf-button--primary vf-button--sm">View the Visual Framework consultation process</a>

This process will help the overall quality of the VF and ensure users don’t need to fork code, can deliver quality sites and are able to deliver the correct corporate identity
