---
title: Rollup release 2.5.1
subtitle: This release brings a number of new components, documentation cleanups and deprecates old and unused code.
date: 2021-10-01 10:10:29
version: 2.5.1
tags:
  - posts
  - changelog
layout: layouts/post.njk
---

{%- import "component-release-links.njk" as releaseLinks -%}

{% markdown %}

In addition to three new prototype components focused on interactivity. This release contains a number of integration-focused refinements that reduce accidental whitespace between components, particularly when placing full-bleed containers with background image (like vf-hero) before other containers.

Read below for details on the changes in each component.

As always, you can [join the conversation on Slack](https://join.slack.com/t/visual-framework/shared_invite/enQtNDAxNzY0NDg4NTY0LWFhMjEwNGY3ZTk3NWYxNWVjOWQ1ZWE4YjViZmY1YjBkMDQxMTNlNjQ0N2ZiMTQ1ZTZiMGM4NjU5Y2E0MjM3ZGQ).

{% endmarkdown %}

{% set context = {
  "component_modifier": "vf-links__list--easy",
  "title": "On this page",
  "svg": true,
  "list": [
    {
      "text": "New components",
      "link_list_href": "#new"
    },
    {
      "text": "Refinements",
      "link_list_href": "#refinements"
    },
    {
      "text": "Deprecations",
      "link_list_href": "#deprecations"
    },
    {
      "text": "Bug fixes",
      "link_list_href": "#bugs"
    }
  ]
}
%}
{% include blocks.links_list %}

{% markdown %}

<section class="vf-u-fullbleed vf-u-background-color-ui--grey--light"><br/>
<article class="vf-box vf-box-theme--primary vf-box--easy">
<h3 class="vf-box__heading">
This releases {{version}} to the CDN
</h3>
<div class="vf-box__text">

[`https://assets.emblstatic.net/vf/v{{version}}/css/styles.css`](https://assets.emblstatic.net/vf/v{{version}}/css/styles.css) <br/>
[`https://assets.emblstatic.net/vf/v{{version}}/scripts/scripts.js`](https://assets.emblstatic.net/vf/v{{version}}/scripts/scripts.js)

As a reminder, the rollup CSS and JS are compilations of many independently versioned components and is likely to contain changes that may disrupt the look of your site. We advise testing. Even better is to build your own CSS rollup from the npm sources, [you can find a guide here]({{ '/building' | url }}).

{#- don't forget to add the latest version to /tools/vf-component-library/src/site/_data/siteConfig.js -#}

</div>
</article><br/>
</section>

<br/>

### New components <a href="#new" id="new"></a>



{{ releaseLinks.notes("vf-bookmark", "1.0.0-alpha.1", "d6e8380b1a77e54296b5529d47bc86773247e440") }}

* Creates an initial version of vf-bookmark.
  * https://github.com/visual-framework/vf-core/discussions/1654


{{ releaseLinks.notes("vf-progress-indicator", "1.0.0-alpha.3", "aad7b7ac8c75a3ecf4adf1788d7da5051a83f8d7") }}

* Basic implementation of vf-progress-indicator
* [Tracking discussion](https://github.com/visual-framework/vf-core/discussions/1648)


{{ releaseLinks.notes("vf-dropdown", "1.0.0-alpha.3", "4db92db5a905a2833a7778d525ca4deb74d2e7bb") }}

* Basic implementation of vf-dropdown component
* [Tracking issue](https://github.com/visual-framework/vf-core/discussions/1299)

### Refinements <a href="#refinements" id="refinements"></a>

{{ releaseLinks.notes("vf-button", "2.0.0-alpha.2", "a035dab03c373eb362475ca231ed10b75510f586") }}

* Adds experimental angular support. See README.md for more.

{{ releaseLinks.notes("vf-card-container", "3.2.0", "6578df441fc1493805dd1cdce70f99ff39c73560") }}

* Halves vertical spacing between `vf-section-header` and vf-cards.
* Refines container vertical by using `--page-grid-gap)`.
* Adds 4 column card support for when cards have no imagery.

{{ releaseLinks.notes("vf-hero", "3.3.1", "6578df441fc1493805dd1cdce70f99ff39c73560") }}

* Reduces vf-hero bottom margin.
* Makes vf-hero bottom margin "smarter" by no applying when the following element uses `vf-u-fullwidth` or `vf-navigation`. In these cases vf-stack is sufficient.

{{ releaseLinks.notes("vf-news-container", "1.1.0", "6578df441fc1493805dd1cdce70f99ff39c73560") }}

* Standardizes the featured news variant as 4 columns.

{{ releaseLinks.notes("vf-search", "3.0.0-alpha.1", "6578df441fc1493805dd1cdce70f99ff39c73560") }}

* Refine spacing when more than 1 inline `vf-form__item`.

{{ releaseLinks.notes("vf-stack", "2.1.2", "6578df441fc1493805dd1cdce70f99ff39c73560") }}

* vf-stack no longer applies between a `vf-hero` and `vf-u-fullbleed`.
* Gives more margin-top to `vf-u-fullbleed` after most items.

{{ releaseLinks.notes("vf-summary", "1.6.0", "6578df441fc1493805dd1cdce70f99ff39c73560") }}

* Removes support for styling of `vf-summary` inside of `vf-box`. (this is no longer encouraged)
* Adds support for conditional display of `vf-summary__text`.



### Deprecations <a href="#deprecations" id="deprecations"></a>

{{ releaseLinks.notes("vf-box", "2.4.0", "ad90662b87148957d29dda623fc3f5335bb0d96f") }}

* Deprecates `vf-box`. Most use cases should now use the `vf-card` component. A new layout-specific `vf-box` may be made in the future.

{{ releaseLinks.notes("vf-link-list", "1.5.0", "94e50cdff3c65a884fdce82bc3f3c13b56ae512f") }}

This deprecates vf-link-list as many components are either widely unused or only seldom used — for the components that aren't yet used much we also have major revisions coming and we wish to discourage use of components that are about to be overhauled.

* Links List Default: use vf-list + vf-heading
* Links List no heading: use vf-list
* Links List Tight: use vf-list  (we may add a vf-list--tight variant subject to demand)
* Links List Very Easy: see above
* Links List Easy: to be overhauled as vf-navigation--on-page
* Links List Has Images: use vf-summary--has-image or vf-flag--middle

Additionally there has been a confusion between when to use vf-list and vf-link-list that we're want to address.

https://github.com/visual-framework/vf-core/issues/1649

{{ releaseLinks.notes("vf-header", "1.1.0", "653dd33a626f2132ee3145ed9037da45910984b5") }}

* vf-header was an early concept on how we might accommodate multi-layers of branding ... but:
    * It was never successfully used in production
    * Is out of date technically and visually
    * Has questionable IA/UX merritt in the current context
* Therefore it is being deprecated.
    * No migration guidance is supplied as it is not used in production.
    * It is also being removed from the default rollup Sass/CSS.
* https://github.com/visual-framework/vf-core/pull/1656

{{ releaseLinks.notes("vf-activity-group", "1.0.0-alpha.12", "6105538bac4fc14b919f042d3d9016cbf21bed84") }}

* Deprecated as the component never saw wide adoption and neither the technical tooling nor use case was ever proven.
  * https://github.com/visual-framework/vf-core/pull/1650

{{ releaseLinks.notes("vf-activity-list", "1.0.0-alpha.11", "6105538bac4fc14b919f042d3d9016cbf21bed84") }}

* Deprecated as the component never saw wide adoption and neither the technical tooling nor use case was ever proven.
  * https://github.com/visual-framework/vf-core/pull/1650


### Bug fixes and accessibility <a href="#bugs" id="bugs"></a>

{{ releaseLinks.notes("vf-card", "2.6.0", "4fbffd6e837b74f14b43378f00893e191837223b") }}

* Resolves an accessibility issue with contrast for the striped card subheading variant.
  * https://github.com/visual-framework/vf-core/issues/1657

{{ releaseLinks.notes("vf-section-header", "1.5.2", "7e6f2ace2d60abd26b9d7355631fb5ae03f8a12e") }}

* Accessibility: When section header is a link, it should still be wrapped an `h2`
  * https://github.com/visual-framework/vf-core/issues/1683
* Whitespace control

{{ releaseLinks.notes("vf-banner", "1.9.1", "ad90662b87148957d29dda623fc3f5335bb0d96f") }}

* `--inline` variant Nunjucks template file cleanup.

{{ releaseLinks.notes("embl-content-hub-loader", "1.1.1", "65cbf595d19da8f6d41f62c11da550c41c36acdb") }}

* Avoid a null variable issue when contentHub returns no results.

{{ releaseLinks.notes("embl-notifications", "1.1.1", "65cbf595d19da8f6d41f62c11da550c41c36acdb") }}

* Adds `vf-u-margin__top--400` to handle cases of nested output where `vf-stack` may not reach.
* Remove use of long deprecated `vf-banner--phase` variant and replace with `vf-banner--alert vf-banner--info`.

{{ releaseLinks.notes("vf-card-container", "3.1.3", "b0b6af03959b3fd81bc05c92b8a5231e64a9c084") }}

* Fix README formatting.

{% endmarkdown %}
