---
title: Announcing rollup release 2.4.10
subtitle: Bug fixes, a facelift for the search form and a deprecation.
date: 2021-03-30 09:26:29
version: 2.4.10
tags:
  - posts
  - changelog
layout: layouts/post.njk
---

{%- import "component-release-links.njk" as releaseLinks -%}

{% markdown %}

Following the larger [2.4.9 release](/updates/2021-03-24-component-updates/) we had a few minor bugs and places for optimisation, as well as continuing to improve the usability and look of existing components.

{% endmarkdown %}

{% set context = {
  "component-type": "block",
  "component_modifier": "vf-links__list--easy",
  "title": "On this page",
  "svg": true,
  "list": [

    {
      "text": "Search",
      "link_list_href": "#search"
    },
    {
      "text": "Deprecation",
      "link_list_href": "#deprecation"
    },
    {
      "text": "Bugs",
      "link_list_href": "#bugs"
    }
  ]
}
%}
{% include blocks.links_list %}

{% markdown %}

<section class="vf-u-fullbleed vf-u-background-color-ui--grey--light"><br/>
<article class="vf-box vf-box-theme--primary vf-box--easy">
<h3 class="vf-box__heading">
This releases {{version}} to the CDN
</h3>
<div class="vf-box__text">

[`https://assets.emblstatic.net/vf/v{{version}}/css/styles.css`](https://assets.emblstatic.net/vf/v{{version}}/css/styles.css) <br/>
[`https://assets.emblstatic.net/vf/v{{version}}/scripts/scripts.js`](https://assets.emblstatic.net/vf/v{{version}}/scripts/scripts.js)

As a reminder, the rollup CSS and JS are compilations of many independently versioned components and is likely to contain changes that may disrupt the look of your site. We advise testing. Even better is to build your own CSS rollup from the npm sources, [you can find a guide here]({{ '/building' | url }}).

{#- don't forget to add the latest version to /tools/vf-component-library/src/site/_data/siteConfig.js -#}

</div>
</article><br/>
</section>

### Search form updates <a href="#search" id="search"></a>

Following [2.4.9's work on forms](/updates/2021-03-24-component-updates/#forms), we carried through optimising the behaviour of vf-search to behave better on smaller width screens, like mobile phones.

{{ releaseLinks.notes("vf-search", "3.0.0-alpha.0", "fc7c42b8f20e83dba11fe8fa2ce4bc8b23e98d08") }}

* updates to code and documentation based on consultation and decisions made.
* introduces the 'container' version
* notes that the 'mini' version should not be implemented.

### Deprecation <a href="#deprecation" id="deprecation"></a>

The vf-masthead had been eclipsed by the functionality of vf-hero. We've finally deprecated it and hidden it. You should migrate to vf-hero and the vf-masthead will be removed from the CDN css in the coming weeks.

{{ releaseLinks.notes("vf-masthead", "3.0.0", "cb8ee3a5f2936f56f52a6ffbd9a08a53c8bd02c7") }}

* Formally deprecates the vf-masthead.
* Reinstates stub JS so existing vf-scripts.js files won't fail.
  * https://github.com/visual-framework/vf-core/issues/1453

### Bugs and minor optimisations <a href="#bugs" id="bugs"></a>

{{ releaseLinks.notesTool("vf-sass-config", "2.5.2", "05ced3187663ff79eaa4e2b1a216a98c7f78a5b1") }}

* Fix key name in `vf-color--neutral` lookup.
  * https://github.com/visual-framework/vf-core/pull/1460

{{ releaseLinks.notesTool("vf-sass-config", "2.5.1", "fc7c42b8f20e83dba11fe8fa2ce4bc8b23e98d08") }}

* adds neutral colours in the custom variables import file

{{ releaseLinks.notes("vf-content", "1.5.1", "cb8ee3a5f2936f56f52a6ffbd9a08a53c8bd02c7") }}

* Fixes a bug with a non-existent @visual-framework/form was required.

{{ releaseLinks.notes("vf-body", "1.2.0", "e3bda5821977e3b386ca859005baf06bfaba0dd8") }}

* removes `box-sizing: border-box;`
* adds a little more to the documentation.

{{ releaseLinks.notes("vf-form__input", "3.0.0-alpha.1", "49f459acc4c85e5e1227b2bd80fb23531c46d7d9") }}

* changes out the CSS for `invalid` as an actual class `vf-form__input--invalid`.

{{ releaseLinks.notes("vf-sidebar", "1.0.0-alpha.2", "5c2fc0747cfea9f7d18893a0b06aeb2c3b7889de") }}

* updates examples to use image.

{{ releaseLinks.notes("vf-stack", "2.1.1", "64794d1292e683605e8d65046fe54082251c36f6") }}

* adds usage guideline for include the default `vf-stack` and the size variant.

{% endmarkdown %}
