---
title: Announcing rollup release 2.4.13
subtitle: A roundup of minor bug fixes.
date: 2021-04-20 14:49:29
version: 2.4.13
tags:
  - posts
  - changelog
layout: layouts/post.njk
---

{%- import "component-release-links.njk" as releaseLinks -%}

{% markdown %}

A minor release that introduces a new component, adds several fixes and [new accessibility guidance](/guidance/accessibility/).

Read on for more.

{% endmarkdown %}

{% set context = {
  "component_modifier": "vf-links__list--easy",
  "title": "On this page",
  "svg": true,
  "list": [
    {
      "text": "New component",
      "link_list_href": "#new"
    },
    {
      "text": "Table improvements",
      "link_list_href": "#tables"
    },
    {
      "text": "Refinements",
      "link_list_href": "#refinements"
    }
  ]
}
%}
{% include blocks.links_list %}


{% markdown %}

<section class="vf-u-fullbleed vf-u-background-color-ui--grey--light"><br/>
<article class="vf-box vf-box-theme--primary vf-box--easy">
<h3 class="vf-box__heading">
This releases {{version}} to the CDN
</h3>
<div class="vf-box__text">

[`https://assets.emblstatic.net/vf/v{{version}}/css/styles.css`](https://assets.emblstatic.net/vf/v{{version}}/css/styles.css) <br/>
[`https://assets.emblstatic.net/vf/v{{version}}/scripts/scripts.js`](https://assets.emblstatic.net/vf/v{{version}}/scripts/scripts.js)

As a reminder, the rollup CSS and JS are compilations of many independently versioned components and is likely to contain changes that may disrupt the look of your site. We advise testing. Even better is to build your own CSS rollup from the npm sources, [you can find a guide here]({{ '/building' | url }}).

{#- don't forget to add the latest version to /tools/vf-component-library/src/site/_data/siteConfig.js -#}

</div>
</article><br/>
</section>


### New component <a href="#new" id="new"></a>

{{ releaseLinks.notes("vf-back-to-top", "1.0.0-alpha.1", "9ae5261bdd7106160268a50fddbd575013c01d81") }}

Contributor Nitin Jadhav [has made his first new component](https://github.com/visual-framework/vf-core/pull/1490) 🥳

* Basic implementation of vf-back-to-top component
* [Tracking issue](https://github.com/visual-framework/vf-core/issues/1483)
* Further UX and visual design work will follow

### Tables <a href="#tables" id="tables"></a>

{{ releaseLinks.notes("vf-table", "1.2.0-rc.0", "1635ff3b77569cffe6f0c2766b2d008e0c2aaa47") }}

The vf-table component is [beginning a journey of improved UX, visual design and technical appearance](https://github.com/visual-framework/vf-core/discussions/1474).

* makes the `--striped` variant the default styling.
* deprecates `--striped`, `--bordered`, `--tight`, `--loose` variants.
* tidies up CSS ordering of rulesets to match more the component.
* makes the `--sortable` icons on by default before a bigger refactor.

### Refinements <a href="#refinements" id="refinements"></a>

{{ releaseLinks.notes("vf-card", "2.5.5", "c28239263fc988321e186446b66ac42c48ee9512") }}

* corrects colouring of visited link in heading on striped variant.

{{ releaseLinks.notes("vf-hero", "3.2.2", "939a35a9d82e74d0f3d17bab449bd0b018a5fe8c") }}

* Allows html (for links) in vf-hero__subheading (and a few other fields) when using the Nunjucks template.
  * https://github.com/visual-framework/vf-core/pull/1485

 {{ releaseLinks.notesTool("vf-component-generator", "1.1.4", "0b76ac1fc5ee937f7accc7d11f4b3babc2ef490d") }}

* Add accessibility section to README.md template.

{% endmarkdown %}
