---
title: Rollup release 2.5.0-beta.3
subtitle: As we move forward towards a more visually and technically consistent 2.5.0 rollup release. Beta 3 brings bug fixes and and improvement to documentation and accessibility.
date: 2021-06-21 15:20:29
version: 2.5.0-beta.3
tags:
  - posts
  - changelog
layout: layouts/post.njk
---

{% markdown %}

You'll find improvements to `vf-content` typography spacing, `vf-figure` type and assorted improvements to guidance and documentation on when to use which components.

Read on for more.

{% endmarkdown %}

{% set context = {
  "component_modifier": "vf-links__list--easy",
  "title": "On this page",
  "svg": true,
  "list": [
    {
      "text": "Notable improvements",
      "link_list_href": "#improvements"
    },
    {
      "text": "Documentation and accessibility",
      "link_list_href": "#documentation"
    },
    {
      "text": "Bug fixes",
      "link_list_href": "#bugs"
    }
  ]
}
%}
{% include blocks.links_list %}


{% macro notes(component='vf-xxx', componentVersion='9.9.9', commitId='0123456789') %}

#### [{{component}}](https://latest.visual-framework.dev/components/{{component}}/) <span class="vf-badge vf-badge--secondary">{{ componentVersion }}</span> <a href="https://www.npmjs.com/package/@visual-framework/{{component}}/v/{{componentVersion}}" class="vf-badge vf-badge--secondary">npm</a> <a href="https://github.com/visual-framework/vf-core/commit/{{commitId}}" class="vf-badge vf-badge--secondary">git diff</a>

{% endmacro %}

{% macro notesTool(component='vf-xxx', componentVersion='9.9.9', commitId='0123456789') %}
<!-- Tools don't have pages in the component library -->

#### [{{component}}](https://github.com/visual-framework/vf-core/tree/develop/tools/{{component}}/#readme) <span class="vf-badge vf-badge--secondary">{{ componentVersion }}</span> <a href="https://www.npmjs.com/package/@visual-framework/{{component}}/v/{{componentVersion}}" class="vf-badge vf-badge--secondary">npm</a> <a href="https://github.com/visual-framework/vf-core/commit/{{commitId}}" class="vf-badge vf-badge--secondary">git diff</a>

{% endmacro %}

{% macro componentLink(component='vf-xxx') %}[{{component}}](https://latest.visual-framework.dev/components/{{component}}/){% endmacro %}
{# endmacros ---/ #}

{% markdown %}

<section class="vf-u-fullbleed vf-u-background-color-ui--grey--light"><br/>
<article class="vf-box vf-box-theme--primary vf-box--easy">
<h3 class="vf-box__heading">
This releases {{version}} to the CDN
</h3>
<div class="vf-box__text">

[`https://assets.emblstatic.net/vf/v{{version}}/css/styles.css`](https://assets.emblstatic.net/vf/v{{version}}/css/styles.css) <br/>
[`https://assets.emblstatic.net/vf/v{{version}}/scripts/scripts.js`](https://assets.emblstatic.net/vf/v{{version}}/scripts/scripts.js)

As a reminder, the rollup CSS and JS are compilations of many independently versioned components and is likely to contain changes that may disrupt the look of your site. We advise testing. Even better is to build your own CSS rollup from the npm sources, [you can find a guide here]({{ '/building' | url }}).

{#- don't forget to add the latest version to /tools/vf-component-library/src/site/_data/siteConfig.js -#}

</div>
</article><br/>
</section>

<br/>

### Notable improvements <a href="#improvements" id="improvements"></a>

{{ notes("vf-content", "1.6.0", "cf627d23e5f53acf23a465d8ee4865a7324ae2a8") }}

* Use vf-spacing tokens for heading margins.
* Reduce bottom margin on headings to be more consistent with overall typography, design kit.
  * https://github.com/visual-framework/vf-core/pull/1589

{{ notes("vf-figure", "1.5.7", "103a719ec144b4148d25d4eacfb5cc6d6f2fde8b") }}

* Darken and increase figure text size
    * https://github.com/visual-framework/vf-core/issues/1582
* Figures take a responsive and centered layout, which is most typical.
    * https://github.com/visual-framework/vf-core/issues/1583

### Documentation and accessibility <a href="#documentation" id="documentation"></a>

{{ notes("vf-card", "2.5.8", "6a6513b093d4e888e51c72832ac8306a96851283") }}

* Documentation: clarity on using card vs summary components.
    * https://github.com/visual-framework/vf-core/issues/1592

{{ notes("vf-summary", "1.5.1", "6a6513b093d4e888e51c72832ac8306a96851283") }}

* Documentation: clarity on using card vs summary components.
    * https://github.com/visual-framework/vf-core/issues/1592

{{ notes("vf-search-client-side", "2.0.0-alpha.1", "bdbd0eecb53b971457bead7f2054d6097cecb00a") }}

* Accessibility: add `search_client_id` to configure `label` `for` and `input` `name` attributes.

### Bug fixes <a href="#bugs" id="bugs"></a>

{{ notes("embl-breadcrumbs-lookup", "1.1.1", "8d0beabc2958c4c83411a42ffd955b9bcaf4f1b0") }}

* Fix: Breadcrumbs repeat if init method is repeatedly called on same page.
    * https://github.com/visual-framework/vf-core/issues/1593

{{ notes("vf-code-example", "1.2.2", "cf627d23e5f53acf23a465d8ee4865a7324ae2a8") }}

* Add a bottom margin to `vf-code-example__pre`
    * https://github.com/visual-framework/vf-core/pull/1589


{{ notes("vf-sass-config", "2.5.4", "103a719ec144b4148d25d4eacfb5cc6d6f2fde8b") }}

* Darken and increase figure text size
    * https://github.com/visual-framework/vf-core/issues/1582

{{ notesTool("vf-core", "2.2.28", "879337aacdba5328aa41fb4059e91784b99f09e7") }}

* Pin `marked` dependency to 2.0.7, as 2.1.0 breaks support in node 12.
    * https://github.com/visual-framework/vf-core/pull/1590

{{ notes("vf-tabs", "2.0.1", "339256917e5c26546e8f10bff68a95a0d18e1049") }}

* Bug: Add missing `@import 'vf-global-variables';` to generate standalone `vf-tabs.css`.
    * https://github.com/visual-framework/vf-core/pull/1581

{% endmarkdown %}
