---
title: Announcing rollup release 2.4.15
subtitle: A roundup of minor work, more React support and small refinements to the component library.
date: 2021-05-19 10:20:29
version: 2.4.15
tags:
  - posts
  - changelog
layout: layouts/post.njk
---

{%- import "component-release-links.njk" as releaseLinks -%}

{% markdown %}

A minor release that allows for links to be added to `vf-section-header` text content and removes and deprecates various `vf-badge` variants.

Read on for more.

{% endmarkdown %}

{% set context = {
  "component_modifier": "vf-links__list--easy",
  "title": "On this page",
  "svg": true,
  "list": [
    {
      "text": "Bug fixes",
      "link_list_href": "#bugs"
    },
    {
      "text": "Optimisations",
      "link_list_href": "#optimisations"
    },
    {
      "text": "React support",
      "link_list_href": "#react"
    }
  ]
}
%}
{% include blocks.links_list %}

{% markdown %}

<section class="vf-u-fullbleed vf-u-background-color-ui--grey--light"><br/>
<article class="vf-box vf-box-theme--primary vf-box--easy">
<h3 class="vf-box__heading">
This releases {{version}} to the CDN
</h3>
<div class="vf-box__text">

[`https://assets.emblstatic.net/vf/v{{version}}/css/styles.css`](https://assets.emblstatic.net/vf/v{{version}}/css/styles.css) <br/>
[`https://assets.emblstatic.net/vf/v{{version}}/scripts/scripts.js`](https://assets.emblstatic.net/vf/v{{version}}/scripts/scripts.js)

As a reminder, the rollup CSS and JS are compilations of many independently versioned components and is likely to contain changes that may disrupt the look of your site. We advise testing. Even better is to build your own CSS rollup from the npm sources, [you can find a guide here]({{ '/building' | url }}).

{#- don't forget to add the latest version to /tools/vf-component-library/src/site/_data/siteConfig.js -#}

</div>
</article><br/>
</section>

### Bug fixes <a href="#bugs" id="bugs"></a>

{{ releaseLinks.notes("vf-section-header", "1.5.0", "8fa14b80d1dffc4cd8d81e00cf6143217c8e8842") }}

* makes it possible to use HTML in a section header text item

### Deprecations <a href="#deprecations" id="deprecations"></a>

{{ releaseLinks.notes("vf-badge", "1.3.0", "58b324dc50560f7e6f314d02250b8e3141150e34") }}

* deprecates secondary and tertiary variants
* makes the default the grey (tertiary) colour

{% endmarkdown %}
