---
title: Announcing rollup release 2.4.11
subtitle: Bug fixes, a facelift for the search form and a deprecation.
date: 2021-04-01 09:49:29
version: 2.4.11
tags:
  - posts
  - changelog
layout: layouts/post.njk
---
{% markdown %}

Hot off the heels of the [2.4.10 release](/updates/2021-03-29-component-updates/) we have updated some components, and updated the some pages on the documentation site. There are also a couple of `alpha` and `beta` releases of components making use of our layout components rather than component specifc CSS as well as deprecating variants that are no longer used or have been previously improved.

{% endmarkdown %}

{% set context = {
  "component-type": "block",
  "component_modifier": "vf-links__list--easy",
  "title": "On this page",
  "svg": true,
  "list": [

    {
      "text": "Search",
      "link_list_href": "#search"
    },
    {
      "text": "Deprecation",
      "link_list_href": "#deprecation"
    },
    {
      "text": "Bugs",
      "link_list_href": "#bugs"
    }
  ]
}
%}
{% include blocks.links_list %}

{# macros ---> #}
{% macro notes(component='vf-xxx', componentVersion='9.9.9', commitId='0123456789') %}

#### [{{component}}](https://latest.visual-framework.dev/components/{{component}}/) <span class="vf-badge">{{ componentVersion }}</span> <a href="https://www.npmjs.com/package/@visual-framework/{{component}}/v/{{componentVersion}}" class="vf-badge">npm</a> <a href="https://github.com/visual-framework/vf-core/commit/{{commitId}}" class="vf-badge">git diff</a>

{% endmacro %}

{% macro notesTool(component='vf-xxx', componentVersion='9.9.9', commitId='0123456789') %}
<!-- Tools don't have pages in the component library -->

#### [{{component}}](https://github.com/visual-framework/vf-core/tree/develop/tools/{{component}}/#readme) <span class="vf-badge">{{ componentVersion }}</span> <a href="https://www.npmjs.com/package/@visual-framework/{{component}}/v/{{componentVersion}}" class="vf-badge">npm</a> <a href="https://github.com/visual-framework/vf-core/commit/{{commitId}}" class="vf-badge">git diff</a>

{% endmacro %}

{% macro componentLink(component='vf-xxx') %}[{{component}}](https://latest.visual-framework.dev/components/{{component}}/){% endmacro %}
{# endmacros ---/ #}

{% markdown %}

<section class="vf-u-fullbleed vf-u-background-color-ui--grey--light"><br/>
<article class="vf-box vf-box-theme--primary vf-box--easy">
<h3 class="vf-box__heading">
This releases {{version}} to the CDN
</h3>
<div class="vf-box__text">

[`https://assets.emblstatic.net/vf/v{{version}}/css/styles.css`](https://assets.emblstatic.net/vf/v{{version}}/css/styles.css) <br/>
[`https://assets.emblstatic.net/vf/v{{version}}/scripts/scripts.js`](https://assets.emblstatic.net/vf/v{{version}}/scripts/scripts.js)

As a reminder, the rollup CSS and JS are compilations of many independently versioned components and is likely to contain changes that may disrupt the look of your site. We advise testing. Even better is to build your own CSS rollup from the npm sources, [you can find a guide here]({{ '/building' | url }}).

{#- don't forget to add the latest version to /tools/vf-component-library/src/site/_data/siteConfig.js -#}

</div>
</article><br/>
</section>


### Component Updates

{{ notes("vf-search-client-side", "3.0.0-alpha.0", "9d741e8e9d36cbffbbd8e9168599876b5f1f8b3e") }}

* Updates to replace v2.0.0 of vf-search--inline with `vf-form--search vf-form--search--responsive`

### Deprecation <a href="#deprecation" id="deprecation"></a>

{{ notes("vf-navigation", "3.0.0-beta.0", "596050e643bc453d1ffcf5e47f9ff58e69a0e9a4") }}

* deprecated the `--aditional` variant.
* removes `--main` and `--global` Sass files, incoroprating them into the base stylesheet.
* tidies up quite a bit of CSS.
* makes use of `vf-cluster` for layout in the markup.
* adds some documentation.

{{ notes("vf-componenet-rollup", "1.4.0", "596050e643bc453d1ffcf5e47f9ff58e69a0e9a4") }}

* removes navigation variants as they're now part of base Sass file.


### Bugs and minor optimisations <a href="#bugs" id="bugs"></a>

{{ notes("vf-hero", "3.2.1", "ada27b78684ed1145fd81b82107bcda5c8b11ee6") }}

* Resolves a Nunjucks bug on `vf_hero_text` from a yaml file under certain contexts.
  * https://github.com/visual-framework/vf-core/pull/1462
* Allows vf_hero_heading_href to be passed in yaml.
* Gobbles much of the whitespace.


{{ notes("vf-sass-starter", "0.1.19", "477df90cb04449b6649022c5cb1983562b2f4895") }}

* dependency bump.

{{ notes("vf-banner", "1.7.2", "9f61cefe98eeb1bb9f079ed4b538484a2710d207") }}

* adds deprecation notices around the `--phase` variant.

{{ notes("vf-design-tokens", "3.4.1", "114b4bfc175488b372b04e0c5b7a1136a0633fe4") }}

* Adds a gulp command vf-design-tokens alias for developers who easily forget.
{% endmarkdown %}
