html:not(.vf-disable-deprecated) .vf-tag {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  border: 1px solid currentColor;
  color: inherit;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  letter-spacing: .05em;
  padding: 4px 8px;
  text-decoration: none;
  text-transform: uppercase;
}

html:not(.vf-disable-deprecated) .vf-tag--pill {
  border-radius: 500px;
}

html:not(.vf-disable-deprecated) .vf-tag--rounded {
  border-radius: 4px;
}

html:not(.vf-disable-deprecated) .vf-tag--square {
  border: 0;
  display: inline-block;
  height: 12px;
  padding: 0;
  width: 12px;
}

html:not(.vf-disable-deprecated) .vf-tag--primary {
  background-color: #287ae2;
  border-color: #287ae2;
  color: white;
}

html:not(.vf-disable-deprecated) a.vf-tag--primary:hover {
  background-color: #003da5;
  border-color: #003da5;
}

html:not(.vf-disable-deprecated) .vf-tag--secondary {
  background-color: #009f4d;
  border-color: #009f4d;
  color: white;
}

html:not(.vf-disable-deprecated) .vf-tag--tertiary {
  background-color: #54585a;
  border-color: #54585a;
  color: white;
}

html:not(.vf-disable-deprecated) .vf-tag--outline {
  background-color: transparent;
  color: #287ae2;
}

html:not(.vf-disable-deprecated) .vf-tag--square {
  height: 12px;
  margin-left: 0;
  padding: 0;
  position: relative;
  width: 12px;
}

html:not(.vf-disable-deprecated) .vf-tag--phases {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 12px 0 0;
  min-width: 52px;
}
