:root {
  --vf-color--green: #18974c;
  --vf-color--green--darkest: #0a5032;
  --vf-color--green--dark: #007b53;
  --vf-color--green--light: #6cc24a;
  --vf-color--green--lightest: #d0debb;
  --vf-color--grey: #707372;
  --vf-color--grey--darkest: #373a36;
  --vf-color--grey--dark: #54585a;
  --vf-color--grey--light: #a8a99e;
  --vf-color--grey--lightest: #d0d0ce;
  --vf-color--red: #d41645;
  --vf-color--red--dark: #a6093d;
  --vf-color--red--light: #e58f9e;
  --vf-color--blue: #3b6fb6;
  --vf-color--blue--dark: #193f90;
  --vf-color--blue--light: #8bb8e8;
  --vf-color--purple: #734595;
  --vf-color--purple--dark: #563d82;
  --vf-color--purple--light: #cba3d8;
  --vf-color--orange: #f49e17;
  --vf-color--orange--dark: #b65417;
  --vf-color--orange--light: #efc06e;
  --vf-color--yellow: #f4c61f;
  --vf-color--yellow--dark: #ffb81c;
  --vf-color--yellow--light: #fdd757;
  --vf-color--bright-green: #a1be1f;
  --vf-color--bright-green--dark: #7fb428;
  --vf-color--bright-green--light: #e2e868;
}

:root {
  --vf-ui-color--black: #000000;
  --vf-ui-color--grey: #d8d8d8;
  --vf-ui-color--grey--light: #f3f3f3;
  --vf-ui-color--yellow: #fffadc;
  --vf-ui-color--red: #d32f2f;
  --vf-ui-color--white: #ffffff;
  --vf-ui-color--off-white: #fafafa;
}

/*!
 * Component: @visual-framework/vf-grid
 * Version: 1.0.4
 * Location: components/vf-grid
 */
/* stylelint-disable order/order */
.vf-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.vf-grid > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 10px 0 10px 1.6339%;
}

.vf-grid > *:first-child {
  margin-left: 0;
}

[class*='vf-grid__'] {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.vf-grid__col-2 > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 49.18305%;
          flex: 0 0 49.18305%;
}

.vf-grid__col-3 > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32.244066667%;
          flex: 0 0 32.244066667%;
}

.vf-grid__col-4 > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 23.774575%;
          flex: 0 0 23.774575%;
}

.vf-grid__col-5 > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 18.69288%;
          flex: 0 0 18.69288%;
}

.vf-grid__col-6 > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 15.305083333%;
          flex: 0 0 15.305083333%;
}

@media (max-width: 1023px) {
  .vf-grid {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .vf-grid > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 20px);
            flex: 0 0 calc(50% - 20px);
  }
}

@supports (display: grid) {
  .vf-grid {
    -webkit-column-gap: var(--page-grid-gap);
       -moz-column-gap: var(--page-grid-gap);
            column-gap: var(--page-grid-gap);
    display: grid;
    grid-column: main;
  }
  @media (min-width: 840px) {
    .vf-grid {
      grid-auto-flow: column;
    }
  }
  @media (max-width: 1299px) {
    .embl-grid .vf-grid {
      grid-column: 1 / -1;
    }
  }
  .vf-grid > * {
    margin: 0;
  }
  [class*='grid__'] {
    grid-auto-flow: unset;
  }
  .vf-grid__col-1 {
    grid-template-columns: repeat(1, 1fr);
  }
  @media (min-width: 768px) {
    .vf-grid__col-2 {
      grid-template-columns: repeat(2, 1fr);
    }
    .vf-grid__col-3 {
      grid-template-columns: repeat(3, 1fr);
    }
    .vf-grid__col-4 {
      grid-template-columns: repeat(2, 1fr);
    }
    .vf-grid__col-5 {
      grid-template-columns: repeat(3, 1fr);
    }
    .vf-grid__col-6 {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media (min-width: 1024px) {
    .vf-grid__col-4 {
      grid-template-columns: repeat(4, 1fr);
    }
    .vf-grid__col-5 {
      grid-template-columns: repeat(5, 1fr);
    }
    .vf-grid__col-6 {
      grid-template-columns: repeat(6, 1fr);
    }
  }
  .vf-grid__col--span-2 {
    grid-column-end: span 2;
  }
  .vf-grid__col--span-3 {
    grid-column-end: span 3;
  }
  .vf-grid__col--span-4 {
    grid-column-end: span 4;
  }
  .vf-grid__col--span-5 {
    grid-column-end: span 5;
  }
}

/* stylelint-enable order/order */
/*!
 * Component: @visual-framework/vf-masthead
 * Version: 1.0.0
 * Location: components/vf-masthead
 */
.vf-masthead {
  color: #000000;
}

.vf-masthead__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 76.5em;
  width: 100%;
}

.vf-masthead__title {
  -ms-flex-item-align: unset;
      align-self: unset;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.vf-masthead__heading {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.547;
  margin: 0 0 8px 0;
  color: #373a36;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.vf-masthead__heading--additional {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 500;
  line-height: 1.5;
  margin: 0 0 0 0;
  color: #707372;
  position: relative;
  top: -4px;
}

.vf-masthead__sub-heading {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 500;
  line-height: 1.5;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  color: #707372;
}

.vf-masthead__heading__link {
  color: #373a36;
  color: inherit;
  text-decoration: none;
  z-index: 1984;
}

.vf-masthead__heading__link:visited {
  color: #373a36;
}

.vf-masthead__heading__link:visited:hover {
  color: #373a36;
  text-decoration: underline;
}

.vf-masthead__heading__link:hover {
  color: #373a36;
}

.vf-masthead__subheading {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.57;
  margin: 0 0 0 0;
  color: #373a36;
  text-transform: uppercase;
}

.vf-masthead__subheading a {
  color: inherit;
  text-decoration: none;
  z-index: 1984;
}

.vf-masthead--with-title-block .vf-masthead__title {
  background-color: #000000;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-right: 16px;
  padding-top: 16px;
  position: relative;
}

.vf-masthead--with-title-block .vf-masthead__title::before {
  background-color: #000000;
  content: '';
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  height: 100%;
  padding-left: 16px;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50vw;
}

.vf-masthead--with-title-block .vf-masthead__subheading {
  z-index: 1984;
}

.vf-masthead__form--search {
  align-self: flex-end;
  grid-row: 2;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 12px;
  margin-left: auto;
  max-width: 288px;
  z-index: 1984;
}

.vf-masthead__form__item {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 6px;
}

.vf-masthead__button {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: #193f90;
  border: 0;
  color: #ffffff;
  margin-left: 8px;
  outline: 0;
  padding: 8px 12px;
}

.vf-masthead__button svg {
  fill: #ffffff;
  width: 16px;
}

.vf-masthead__form__label {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-bottom: 4px;
  text-shadow: 1px 1px 3px #ffffff;
}

.vf-masthead__form__input--text {
  -ms-flex-preferred-size: 79%;
      flex-basis: 79%;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-size: 18px;
  font-style: italic;
}

.search-examples {
  color: #ffffff;
  font-size: 12px;
  text-shadow: 1px 1px 0px #000000;
}

.search-examples a {
  color: #ffffff;
  text-shadow: 1px 1px 0px #000000;
}
