// setup files required

// sass-lint:disable clean-import-paths
@import 'vf-global-variables';
@import 'vf-variables';
@import 'vf-functions';
@import 'vf-mixins';

// pattern specific styles

@import '<%= componentName %>.variables.scss';
@import '<%= componentName %>.scss';

// pattern variant styles
// @import '<%= componentName %>--variant.scss';
