$componentInfo: (
             name: "@visual-framework/vf-form__checkbox",
             version: "1.0.2",
             location: "components/vf-form/vf-form__checkbox",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Thu, 05 Nov 2020 11:32:01 GMT"
          );