$componentInfo: (
             name: "@visual-framework/vf-form__checkbox",
             version: "1.0.2",
             location: "components/vf-form/vf-form__checkbox",
             vfCoreVersion: "2.2.8",
             buildTimeStamp: "Tue, 20 Oct 2020 08:09:51 GMT"
          );