/* stylelint-disable */
:root {
  --vf-color--green: #18974c;
  --vf-color--green--darkest: #0a5032;
  --vf-color--green--dark: #007b53;
  --vf-color--green--light: #6cc24a;
  --vf-color--green--lightest: #d0debb;
  --vf-color--grey: #707372;
  --vf-color--grey--darkest: #373a36;
  --vf-color--grey--dark: #54585a;
  --vf-color--grey--light: #a8a99e;
  --vf-color--grey--lightest: #d0d0ce;
  --vf-color--red: #d41645;
  --vf-color--red--dark: #a6093d;
  --vf-color--red--light: #e58f9e;
  --vf-color--blue: #3b6fb6;
  --vf-color--blue--dark: #193f90;
  --vf-color--blue--light: #8bb8e8;
  --vf-color--purple: #734595;
  --vf-color--purple--dark: #563d82;
  --vf-color--purple--light: #cba3d8;
  --vf-color--orange: #f49e17;
  --vf-color--orange--dark: #b65417;
  --vf-color--orange--light: #efc06e;
  --vf-color--yellow: #f4c61f;
  --vf-color--yellow--dark: #ffb81c;
  --vf-color--yellow--light: #fdd757;
  --vf-color--bright-green: #a1be1f;
  --vf-color--bright-green--dark: #7fb428;
  --vf-color--bright-green--light: #e2e868;
}

:root {
  --vf-ui-color--black: #000000;
  --vf-ui-color--grey: #d8d8d8;
  --vf-ui-color--grey--light: #f3f3f3;
  --vf-ui-color--yellow: #fffadc;
  --vf-ui-color--red: #d32f2f;
  --vf-ui-color--white: #ffffff;
  --vf-ui-color--off-white: #fafafa;
}

/* stylelint-enable */
/*!
 * Component: @visual-framework/vf-form__item
 * Version: 1.0.0
 * Location: components/vf-form/vf-form__item
 */
.vf-form__item {
  margin-bottom: 32px;
}

.vf-form__item--inline .vf-form__label {
  display: inline-block;
}

/*!
 * Component: @visual-framework/vf-form__label
 * Version: 1.0.1
 * Location: components/vf-form/vf-form__label
 */
.vf-form__label {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.421;
  margin: 0 0 8px 0;
  display: block;
}

.vf-form__label--required {
  float: right;
  margin-bottom: 0;
}

.vf-form__label--required .vf-icon svg {
  fill: #3b6fb6;
  height: 12px;
  width: 16px;
}

/*!
 * Component: @visual-framework/vf-form__checkbox
 * Version: 1.0.2
 * Location: components/vf-form/vf-form__checkbox
 */
.vf-form__item.vf-form__item--checkbox {
  margin-bottom: 16px;
}

.vf-form__item--checkbox .vf-form__checkbox + .vf-form__label::before {
  border-color: #f3f3f3;
  margin-right: 8px;
  top: 8px;
}

.vf-form__checkbox {
  opacity: 0;
  position: absolute;
}

.vf-form__checkbox + .vf-form__label {
  color: #54585a;
  cursor: pointer;
  padding: 0;
  position: relative;
}

.vf-form__checkbox + .vf-form__label::before {
  background: #ffffff;
  border: 3px solid;
  content: '';
  display: inline-block;
  height: 24px;
  position: relative;
  top: 3px;
  width: 24px;
}

.vf-form__checkbox:hover + .vf-form__label:before {
  border-color: #54585a;
}

.vf-form__checkbox:focus + .vf-form__label:before {
  border-color: #54585a;
}

.vf-form__checkbox:checked + .vf-form__label:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Ctitle%3Echeck%3C/title%3E%3Cpath d='M23.146,5.4,20.354,2.6a.5.5,0,0,0-.708,0L7.854,14.4a.5.5,0,0,1-.708,0L4.354,11.6a.5.5,0,0,0-.708,0L.854,14.4a.5.5,0,0,0,0,.707L7.146,21.4a.5.5,0,0,0,.708,0L23.146,6.1A.5.5,0,0,0,23.146,5.4Z' fill='%233b6fb6'/%3E%3C/svg%3E");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 80%;
  border-color: #3b6fb6;
}

.vf-form__checkbox:disabled + .vf-form__label {
  color: #54585a;
  cursor: auto;
}

.vf-form__checkbox:disabled + .vf-form__label:before {
  background: #707372;
  -webkit-box-shadow: none;
          box-shadow: none;
}
