{% if context %}
  {% set top = context.top %}
  {% set middle = context.middle %}
  {% set bottom = context.bottom %}
  {% set reversed = context.reversed %}
{% endif %}

<div class="vf-flag
            {%- if top %} vf-flag--top{% endif -%}
            {%- if middle %} vf-flag--middle{% endif -%}
            {%- if bottom %} vf-flag--bottom{% endif -%}
            {%- if reversed %} vf-flag--reversed{% endif -%}
">

  <div class="vf-flag__object">

  </div>

  <div class="vf-flag__body">

  </div>

</div>

