$componentInfo: (
             name: "@visual-framework/vf-boilerplate-page",
             version: "1.0.0-alpha.7",
             location: "components/vf-boilerplate-page",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Fri, 06 Nov 2020 15:17:54 GMT"
          );