$componentInfo: (
             name: "@visual-framework/vf-boilerplate-page",
             version: "1.0.0-alpha.7",
             location: "components/vf-boilerplate-page",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Fri, 30 Oct 2020 16:39:45 GMT"
          );