$componentInfo: (
             name: "@visual-framework/vf-boilerplate-page",
             version: "1.0.0-alpha.7",
             location: "components/vf-boilerplate-page",
             vfCoreVersion: "2.2.8",
             buildTimeStamp: "Fri, 23 Oct 2020 10:02:05 GMT"
          );