<!DOCTYPE html>
<html lang="en" class="vf-no-js">
<head>
  {{> @vf-no-js }}
  <title>{{ _target.title }} | {{ _config.project.title }}</title>

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, minimum-scale=1" name="viewport">

  {{> @vf-favicon}}
  {{> @embl-content-meta-properties meta-who="Strategy and Communications" meta-where="EMBL" meta-what="Visual Framework" meta-last-review="2019-01-20" meta-active="what"}}

  {{#if _config.project.environment.local }}
  <link rel="stylesheet" href="{{ '/css/styles.css' | path }}">
  {{/if}}
  {{#if _config.project.environment.production }}
  <link rel="stylesheet" href="https://dev.assets.emblstatic.net/vf/css/styles.css">
  {{/if}}
</head>
<body>
  <header class="vf-header">
    <link rel="import" href="https://dev.beta.embl.org/api/v1/pattern.html?filter-content-type=article&filter-id=574&pattern=node-body&source=contenthub" data-target="self" data-embl-js-content-hub-loader>
  </header>

  <!-- dismissible banner -->
  <section class="vf-banner vf-banner--fixed vf-banner--bottom vf-banner--phase" data-vf-js-banner data-vf-js-banner-state="dismissible" data-vf-js-banner-button-text="Close notice">
      <div class="vf-banner__content" data-vf-js-banner-text>
        <div>
          <h3 class="vf-text vf-text--heading-r">
            Don't need to customise the EMBL Design Language for Websites?
          </h3>
          <p class="vf-banner__text">Here's the core CSS and JS you need. Don't forget to <a href="http://dev.beta.embl.org/guidelines/visual-framework/dev-docs/" class="vf-link">consult the pattern library</a>.</p>
{{~#codeblockhtml~}}
<link rel="stylesheet" href="https://dev.assets.emblstatic.net/vf/css/styles.css">
<script src="https://dev.assets.emblstatic.net/vf/scripts/scripts.js"></script>
{{/codeblockhtml}}
        </div>
      </div>
  </section>

  <div class="vf-body vf-body__main-content embl-group-page--bg-color">

    <section class="embl-grid">
      <nav class="vf-breadcrumbs embl-breadcrumbs-lookup" aria-label="Breadcrumb" data-embl-js-breadcrumbs-lookup>
        <div class="vf-text embl-breadcrumbs-lookup--loading-text"></div>
      </nav>
    </section>

    <div class="vf-grid">
      <link rel="import" href="https://dev.beta.embl.org/api/v1/pattern.html?pattern=node-body&filter-content-type=article&filter-id=580&source=contenthub" data-target="self" data-embl-js-content-hub-loader="">
    </div>

    <header class="embl-group-header__header embl-group-page--vf-header--bg-color">

      <div class="vf-masthead">
        <div class="vf-masthead__inner">
          <div class="vf-masthead__title">
            <h1 class="vf-masthead__heading">
              <a href="#" class="vf-masthead__heading__link">Häring Group</a>
            </h1>
            <p class="vf-masthead__sub-heading">Chromosome structure and dynamics</p>
          </div>
        </div>
      </div>

      <div class="embl-group-header__navigation embl-group-header__navigation--main">
        {{render '@vf-navigation--main'}}
      </div>

    </header>

    <section class="vf-inlay">



      <section class="vf-inlay__content vf-u-background-color-white">

        <main class="vf-inlay__content--main">
          <div class="vf-text vf-text--body-xl">The Häring group aims to understand the molecular machinery that organises eukaryotic genomes. <a href="http://vfthemeprototype.lndo.site/about/">Read more about the Häring group</a></div>  </main>
        </main>

        <aside class="vf-inlay__content--additional">
          <article class="vf-summary | vf-summary--profile vf-summary--profile-r">
            <img class="vf-summary__image vf-summary__image--avatar" src="{{ '/assets/vf-summary/assets/vf-summary--profile-img.png' | path }}" alt="">
            <h3 class="vf-summary__title">Person Name</h3>
            <p class="vf-summary__text">Group Leader</p>
            <a href="##" class="vf-summary__email">Contact Person</a>
          </article>
        </aside>

        <hr class="vf-divider" />
      </section>

      <section class="vf-inlay__content vf-u-background-color-white">
        <main class="vf-inlay__content--main">
          {{> '@vf-content'}}
        </main>

        <aside class="vf-inlay__content--additional">
          {{> '@vf-box'}}
        </aside>

      </section>

    </section>
  </div>

  <div class="vf-body vf-body__additional-content">
    <section class="vf-news-container | embl-grid embl-grid--has-sidebar vf-u-margin__top-xl">

      {{> '@vf-section-header' section-title='Latest Press Releases'}}

      <div class="vf-news-container__content">
        {{ render '@vf-news-item' }}
        {{ render '@vf-news-item' }}
        {{ render '@vf-news-item' }}
        {{ render '@vf-news-item' }}
      </div>

      <div class="vf-news-container__sidebar">
        {{ render '@vf-news-item--snippet' }}
        {{ render '@vf-news-item--snippet' }}
        {{ render '@vf-news-item--snippet' }}
      </div>

    </section>

  </div>

  <link rel="import" href="https://dev.beta.embl.org/api/v1/pattern.html?filter-content-type=article&filter-id=569&pattern=node-body&source=contenthub" data-target="self" data-embl-js-content-hub-loader>

  <script src="{{ '/scripts/scripts.js' | path }}"></script>
</body>
</html>
