// embl-group-page
@import 'embl-group-page.variables.scss';

.embl-group-page--bg-color {
  background-color: $embl-group-page--background;
}

.embl-group-page--vf-header--bg-color {
  background-color: $embl-group-page--vf-header--background;
}

.embl-group-header__header {
  display: grid;
  grid-column: 2 / -2;
  /* stylelint-disable declaration-colon-space-after, indentation */
  grid-template-columns:
    minmax(var(--page-grid-gap), 60px)
    [main-start]
      auto
      minmax(auto, 18.125em)
    [main-end]
    minmax(var(--page-grid-gap), 60px)
  ;
  /* stylelint-enable */
}

.embl-group-header__navigation {
  background-color: set-color(vf-color--grey--dark);
  display: grid;
  grid-column: 1 / -1;
  /* stylelint-disable declaration-colon-space-after, indentation */
  grid-template-columns:
    minmax(var(--page-grid-gap), 60px)
    auto
    minmax(var(--page-grid-gap), 60px)
  ;
  /* stylelint-enable */
  > * {
    grid-column: 2 / -2;
    margin-left: -18px;
  }
}
