$componentInfo: (
             name: "@visual-framework/vf-article-meta-information",
             version: "1.0.1",
             location: "components/vf-article-meta-information",
             vfCoreVersion: "2.2.5"
          );