$componentInfo: (
             name: "@visual-framework/vf-article-meta-information",
             version: "1.1.0",
             location: "components/vf-article-meta-information",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Thu, 05 Nov 2020 11:32:01 GMT"
          );