$componentInfo: (
             name: "@visual-framework/vf-article-meta-information",
             version: "1.1.0",
             location: "components/vf-article-meta-information",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Tue, 27 Oct 2020 15:43:29 GMT"
          );