/* stylelint-disable */
:root {
  --vf-color--green: #18974c;
  --vf-color--green--darkest: #0a5032;
  --vf-color--green--dark: #007b53;
  --vf-color--green--light: #6cc24a;
  --vf-color--green--lightest: #d0debb;
  --vf-color--grey: #707372;
  --vf-color--grey--darkest: #373a36;
  --vf-color--grey--dark: #54585a;
  --vf-color--grey--light: #a8a99e;
  --vf-color--grey--lightest: #d0d0ce;
  --vf-color--red: #d41645;
  --vf-color--red--dark: #a6093d;
  --vf-color--red--light: #e58f9e;
  --vf-color--blue: #3b6fb6;
  --vf-color--blue--dark: #193f90;
  --vf-color--blue--light: #8bb8e8;
  --vf-color--purple: #734595;
  --vf-color--purple--dark: #563d82;
  --vf-color--purple--light: #cba3d8;
  --vf-color--orange: #f49e17;
  --vf-color--orange--dark: #b65417;
  --vf-color--orange--light: #efc06e;
  --vf-color--yellow: #f4c61f;
  --vf-color--yellow--dark: #ffb81c;
  --vf-color--yellow--light: #fdd757;
  --vf-color--bright-green: #a1be1f;
  --vf-color--bright-green--dark: #7fb428;
  --vf-color--bright-green--light: #e2e868;
}

:root {
  --vf-ui-color--black: #000000;
  --vf-ui-color--grey: #d8d8d8;
  --vf-ui-color--grey--light: #f3f3f3;
  --vf-ui-color--yellow: #fffadc;
  --vf-ui-color--red: #d32f2f;
  --vf-ui-color--white: #ffffff;
  --vf-ui-color--off-white: #fafafa;
}

/* stylelint-enable */
/*!
 * Component: @visual-framework/vf-article-meta-information
 * Version: 1.0.1
 * Location: components/vf-article-meta-information
 */
.vf-article-meta-information {
  display: grid;
}

.vf-article-meta-information > div {
  margin: 0 8px;
  margin-bottom: 12px;
  padding-top: 12px;
}

.vf-article-meta-information > div + div {
  border-top: 1px solid #d0d0ce;
}

.vf-article-meta-info__author {
  -ms-flex-line-pack: center;
      align-content: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.vf-article-meta-info__author .vf-author__name {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.71;
  margin: 0 0 0 0;
  -ms-flex-item-align: center;
      align-self: center;
  line-height: 1.3;
  margin: 0 0 0 8px;
}

.vf-article-meta-info__author .vf-author__title {
  -ms-flex-item-align: center;
      align-self: center;
  margin: 0 0 0 8px;
}

.vf-article-meta-info__author .vf-author--avatar,
.vf-article-meta-info__author .vf-link.vf-author--avatar__link {
  border-radius: 500px;
  height: 48px;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  width: 48px;
}

.vf-article-meta-info__author .vf-link.vf-author--avatar__link .vf-author--avatar {
  border-width: 0;
}

.vf-meta__details .vf-meta__topics {
  color: #707372;
  margin: 0 0 4px 0;
}

.vf-meta__details .vf-meta__topics .vf-link {
  color: inherit;
  position: relative;
}

.vf-meta__details .vf-meta__topics .vf-link:nth-last-child(n+2),
.vf-meta__details .vf-meta__topics .vf-link:nth-last-child(n+2) ~ .vf-link {
  margin-right: 4px;
}

.vf-meta__details .vf-meta__topics .vf-link:nth-last-child(n+2)::before,
.vf-meta__details .vf-meta__topics .vf-link:nth-last-child(n+2) ~ .vf-link::before {
  content: ',';
  position: absolute;
  right: -4px;
}

.vf-meta__details .vf-meta__topics .vf-link:last-of-type::before {
  content: '' !important;
}

.vf-meta__details .vf-meta__date {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.71;
  margin: 0 0 4px 0;
  color: #707372;
}

.vf-article-meta-info__links {
  padding: 0;
}

.vf-article-meta-info__links .vf-text {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.71;
  margin: 0 0 8px 0;
  color: #707372;
}

.vf-article-meta-info__links .vf-link {
  display: block;
  margin-bottom: 4px;
}

.vf-meta__text {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.71;
  margin: 0 0 0 0;
  color: #707372;
}
