<header class="vf-header">
  {{> @vf-global-header}}
</header>

<div class="vf-body">
  <section class="embl-grid embl-grid--with-label">
    <div></div>
    {{> @vf-intro }}
  </section>

</div>

{{> @vf-footer }}
