$componentInfo: (
             name: "@visual-framework/vf-divider",
             version: "2.0.0",
             location: "components/vf-divider",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Fri, 30 Oct 2020 09:28:32 GMT"
          );