{% import "macros/status.njk" as status %}
<a id="components"></a>
<h1 class="vf-text vf-text-heading--1 vf-text--invert">All the components </h1>

{% macro componentByType(displayName='Layout', type='layout', description='') %}
<section>
  <header data-description="label area" style="grid-column: 1 / -1;">
    <h4 class="vf-text vf-text-heading--5 | vf-u-margin--0">
      {{ displayName }}
      <a id="{{ type }}"></a>
    </h4>
    <p class="vf-text--body vf-text-body--3">
      {{ description }}
    </p>
  </header>
  <section data-description="component list" class="vf-grid vf-grid__col-4" style="grid-column: 1 / -1;">
      {% asyncEach component in frctl.components %}

        {# handle component collections, aka "subcomponents" #}
        {% if component.isCollection == true and component.isHidden == false %}
          {% for subcomponent in component %}
            {% if subcomponent.context['component-type'] == type and subcomponent.isHidden != true %}
              <p class="vf-text">
                <a class="vf-link--secondary" href="{{ path(frctl.theme.urlFromRoute('component', { handle: subcomponent.handle })) }}">{{ subcomponent.label }}</a>
              </p>
            {% endif %}
          {% endfor %}
        {% endif %}

        {% if component.context['component-type'] == type %}
        <p class="vf-text">
          <a class="vf-link--secondary" href="{{ path(frctl.theme.urlFromRoute('component', { handle: component.handle })) }}">{{ component.label }}</a>
        </p>
        {% endif %}
      {% endeach %}
  </section>
</section>
<hr class="vf-divider">
{% endmacro %}

{{ componentByType('Layout', type='layout', description='Put stuff in columns.') }}

{{ componentByType('Elements', type='element', description='The micro elements of the component library.') }}

{{ componentByType('Blocks', type='block', description='Simple components like sections headers, galleries and so on.') }}

{{ componentByType('Container', type='container', description='More complex components that sometimes have specific layout, like page intros, mastheads, news sections and so on.') }}

{{ componentByType('Boilerplates', type='boilerplate', description='Whole-page templates that are a collection of many components.') }}

{{ componentByType('Utilities', type='utility', description='Utility classes to help where neeed.') }}

{{ componentByType('EMBL Layout', type='embl-layout', description='EMBLs way to put stuff in columns.') }}

{{ componentByType('EMBL Elements', type='embl-element', description='EMBLs micro elements of the component library.') }}

{{ componentByType('EMBL Blocks', type='embl-block', description='Simple components from EMBL like sections headers, galleries and so on.') }}

{{ componentByType('EMBL Containers', type='embl-container', description='More complex EMBL components that sometimes have specific layout, like page intros, mastheads, news sections and so on.') }}

{{ componentByType('EMBL Boilerplates', type='embl-boilerplate', description='Whole-page templates that are a collection of many components.') }}

{{ componentByType('Deprecated', type='deprecated', description='These components are no longer maintained.') }}
