.vf-lede {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.3125;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  margin: 0 0 46px 0;
}

.vf-lede > a {
  color: #287ae2;
}

.vf-lede > a:visited {
  color: #54585a;
}

.vf-lede > a:hover {
  color: #003da5;
}

.vf-lede > a[disabled] {
  color: #b9b3a8;
  cursor: not-allowed;
}
