$componentInfo: (
             name: "@visual-framework/vf-hero",
             version: "1.7.1",
             location: "components/vf-hero",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Fri, 06 Nov 2020 14:56:35 GMT"
          );