<div class="vf-video-teaser">
  <h3 class="vf-video-teaser__title">{{ vf_video_teaser__title }}</h3>
  <a href="#"><img class="vf-video-teaser__image" src="{{ '/assets/vf-video-teaser/assets/video-teaser.png' | path }}" alt=""></a>
  <a href="#" class="vf-video-teaser__link vf-link">{{ vf_video_teaser__link }}</a>
</div>
