:root {
  --vf-color-white: rgb(255, 255, 255);
  --vf-color-off-white: rgb(250, 250, 250);
  --vf-color-black: rgb(40, 45, 35);
  --vf-color-gray: rgb(112, 115, 114);
  --vf-color-gray-bright: rgb(185, 179, 168);
  --vf-color-gray-dark: rgb(84, 88, 90);
  --vf-color-green: rgb(0, 159, 77);
  --vf-color-green-bright: rgb(108, 194, 74);
  --vf-color-green-dark: rgb(0, 123, 83);
  --vf-color-light-green: rgb(168, 199, 0);
  --vf-color-light-green-bright: rgb(226, 232, 104);
  --vf-color-light-green-dark: rgb(132, 189, 0);
  --vf-color-ruby: rgb(228, 0, 70);
  --vf-color-ruby-bright: rgb(229, 143, 158);
  --vf-color-ruby-dark: rgb(166, 9, 61);
  --vf-color-yellow: rgb(255, 205, 0);
  --vf-color-yellow-bright: rgb(253, 215, 87);
  --vf-color-yellow-dark: rgb(255, 184, 28);
  --vf-color-purple: rgb(130, 70, 175);
  --vf-color-purple-bright: rgb(203, 163, 216);
  --vf-color-purple-dark: rgb(86, 61, 130);
  --vf-color-amber: rgb(255, 163, 0);
  --vf-color-amber-bright: rgb(190, 84, 0);
  --vf-color-amber-dark: rgb(239, 192, 110);
  --vf-color-azure: rgb(40, 122, 226);
  --vf-color-azure-bright: rgb(139, 184, 232);
  --vf-color-azure-dark: rgb(0, 61, 165);
}

:root {
  --vf-ui-color-black: rgb(0, 0, 0);
  --vf-ui-color-gray: rgb(243, 243, 243);
  --vf-ui-color-gray-light: rgb(216, 216, 216);
  --vf-ui-color-yellow: rgb(255, 250, 220);
  --vf-ui-color-red: rgb(211, 47, 47);
}

.vf-footer {
  background-color: #707372;
  border-top: 8px solid #009f4d;
  padding-bottom: 60px;
  padding-top: 24px;
}

.vf-footer .vf-links {
  padding-left: 0;
  padding-right: 0;
}

.vf-footer__notice {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.71;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  color: white;
  max-width: 52em;
}

.vf-footer__inner {
  grid-column: main;
}

.vf-footer__legal {
  color: white;
  display: grid;
  grid-template-columns: repeat(4, -webkit-max-content);
  grid-template-columns: repeat(4, max-content);
}

.vf-footer__legal .vf-footer__legal-text,
.vf-footer__legal .vf-footer__link {
  padding-top: 12px;
}

.vf-footer__link {
  border-bottom: none;
  text-decoration: underline;
  color: white;
}

.vf-footer__link:visited {
  color: #54585a;
  border-bottom: none;
  text-decoration: underline;
}

.vf-footer__link:hover {
  color: #b9b3a8;
  border-bottom: none;
  text-decoration: underline;
}

.vf-footer__list--legal {
  grid-column: 1 / -1;
}

.vf-footer__links-group {
  border: solid 0px #b9b3a8;
  border-width: 1px 0;
  margin-bottom: 12px;
}

.vf-footer__links-group .vf-links__heading {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.5;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  color: #b9b3a8;
  text-transform: uppercase;
}

.vf-footer__links-group .vf-links {
  margin-bottom: 48px;
  padding-bottom: 0;
  padding-top: 12px;
}

.vf-footer__links-group .vf-links__item {
  margin-bottom: 0;
}

.vf-footer .vf-links__link {
  border-bottom: none;
  text-decoration: underline;
  color: white;
}

.vf-footer .vf-links__link:visited {
  color: #54585a;
  border-bottom: none;
  text-decoration: underline;
}

.vf-footer .vf-links__link:hover {
  color: #b9b3a8;
  border-bottom: none;
  text-decoration: underline;
}

.vf-footer .vf-list__link {
  border-bottom: none;
  text-decoration: underline;
  color: white;
  margin-right: 24px;
}

.vf-footer .vf-list__link:visited {
  color: #54585a;
  border-bottom: none;
  text-decoration: underline;
}

.vf-footer .vf-list__link:hover {
  color: #b9b3a8;
  border-bottom: none;
  text-decoration: underline;
}
