<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://assets.emblstatic.net/vf/v2.2.9/css/styles.css">
    <!--
      Want to build a site with the Visual Framework?
      ---
      You can copy the CSS and JS you find here, but for the best experience see the building guide:
      https://visual-framework.github.io/vf-core/building/
    -->
    <title>vf-embed | The Visual Framework 2.0</title>
    <link rel="shortcut icon" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/favicon.ico">
<link rel="apple-touch-icon" sizes="180x180" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/favicon-16x16.png">
<link rel="manifest" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/site.webmanifest">
<link rel="mask-icon" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/safari-pinned-tab.svg" color="#ffffff">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

    <!-- Descriptive meta -->
    <meta name="title" content="Local components">
    <meta name="author" content="EMBL">
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://visual-framework.github.io/vf-core//components/vf-embed/">
    <meta property="og:title" content="Local components">
    <meta property="og:description" content="">
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="og:url" content="https://visual-framework.github.io/vf-core//components/vf-embed/">
    <meta property="twitter:title" content="Local components">
    <meta property="twitter:description" content="">
    <!-- Feed -->
    <link href="https://visual-framework.github.io/vf-core/feed.xml" type="application/rss+xml" rel="alternate" title="Visual Framework 2.0 Updates">
  </head>
  <body class=" vf-body" >
    <header class="vf-global-header | vf-search-client-side--no-index">

      <div class="vf-global-header__inner">
        
<a href="/vf-core/"
class="vf-logo | vf-logo--has-text">
  <img class="vf-logo__image" src="https://visual-framework.github.io/vf-core/assets/vf-logo/assets/logo.svg" alt="Visual Framework 2.0" loading="eager">
  <span class="vf-logo__text vf-u-sr-only">Visual Framework 2.0</span>
</a>

        <nav class="vf-navigation vf-navigation--global">
          <ul class="vf-navigation__list | vf-list--inline">
            <li class="vf-navigation__item">
              <a href="/vf-core/about" class="vf-navigation__link">About</a>
            </li>
            <li class="vf-navigation__item">
              <a href="/vf-core/components" class="vf-navigation__link">Components</a>
            </li>
            <li class="vf-navigation__item">
              <a href="/vf-core/patterns" class="vf-navigation__link">Examples</a>
            </li>
            <li class="vf-navigation__item">
              <a href="/vf-core/search" class="vf-navigation__link">Search</a>
            </li>
            <li class="vf-navigation__item">
              <a href="https://join.slack.com/t/visual-framework/shared_invite/enQtNDAxNzY0NDg4NTY0LWFhMjEwNGY3ZTk3NWYxNWVjOWQ1ZWE4YjViZmY1YjBkMDQxMTNlNjQ0N2ZiMTQ1ZTZiMGM4NjU5Y2E0MjM3ZGQ" class="vf-navigation__link">Help, chat</a>
            </li>
          </ul>
        </nav>
      </div>

    </header>
    
    
    <nav class="vf-breadcrumbs | vf-search-client-side--no-index" aria-label="Breadcrumb">
      <ul class="vf-breadcrumbs__list | vf-list vf-list--inline">
        <li class="vf-breadcrumbs__item">
          <a href="/vf-core/" class="vf-breadcrumbs__link">The Visual Framework 2.0</a>
        </li>
        
          
        
        
          
            
            
            <li class="vf-breadcrumbs__item">
              <a href="/vf-core/components" class="vf-breadcrumbs__link">Components</a>
            </li>
          
        
        
        
          
        
        
        <li class="vf-breadcrumbs__item">
          
            vf-embed
          
        </li>
      </ul>
    </nav>
    

    <div class="embl-grid">
  <div class="vf-search-client-side--no-index">

<div class="vf-links vf-links--tight vf-links__list--s | vf-u-margin__top--md">
  <h3 class="vf-links__heading">Components</h3>
  <ul class="vf-links__list vf-links__list--secondary | vf-list">
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/ebi-header-footer">
        EBI Header and Footer
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/ebi-vf1-integration">
        Compatibility with EBI-VF 1.x Component
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/embl-breadcrumbs-lookup">
        EMBL Breadcrumbs lookup
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/embl-conditional-edit">
        EMBL Conditional Edit Links component
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/embl-content-hub-loader">
        EMBL ContentHub Loader component
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/embl-content-meta-properties">
        EMBL Content meta properties
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/embl-favicon">
        EMBL Favicon
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/embl-grid">
        EMBL Grid
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/embl-logo">
        EMBL Logo
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/embl-notifications">
        EMBL Notifications
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-activity-group">
        Acivity List Group
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-activity-list">
        Activity List
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-analytics-google">
        Google Analytics enhancements
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-article-meta-information">
        Article Meta Information
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-badge">
        Badges
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-banner">
        Banner
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-blockquote">
        Visual Framework Blockquote
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-body">
        Body
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-boilerplate-page">
        VF Boilerplate page
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-box">
        Box
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-breadcrumbs">
        Breadcrumbs
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-button">
        Button
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-card">
        Card
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-card-container">
        Card Container
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-code-example">
        Code Example
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-collapse">
        Collapse
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-componenet-rollup">
        Visual Framework Componet Rollup
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-content">
        Content
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-deprecated">
        Demonstration deprecated pattern
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-design-tokens">
        Design Tokens
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-details">
        Details
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-discussion">
        Discussion
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-divider">
        Visual Framework Divider
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-embed">
        Embed
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-explainer">
        Explainer
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-favicon">
        Favicon
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-figure">
        Visual Framework Figure
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-font-plex-mono">
        Plex Mono Font
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-font-plex-sans">
        Plex Sans Font
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-footer">
        Footer
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-form">
        Vf Form
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-global-header">
        Global Header
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-grid">
        Grid
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-grid-page">
        Page Grid
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-header">
        Header
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-heading">
        Visual Framework Headings
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-hero">
        Hero
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-inlay">
        Inlay
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-intro">
        Intro
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-lede">
        Lede
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-link">
        Visual Framework Link
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-link-list">
        Links List
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-list">
        Visual Framework Lists
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-location-nearest">
        Nearest location
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-logo">
        Logo
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-masthead">
        Masthead
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-navigation">
        Navigation
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-news-container">
        News Container
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-no-js">
        No JS detection
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-page-header">
        Page Header
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-pagination">
        Pagination
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-polyfill-js">
        JavaScript Polyfill
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-profile">
        Profile
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-sass-config">
        Sass config and templates
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-sass-starter">
        Sass Starter
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-search">
        Search
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-search-client-side">
        Search Client Side
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-section-header">
        Section Header
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-show-more">
        Show more
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-social-links">
        Social icons
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-stack">
        Stack
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-summary">
        Summary
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-summary-container">
        Summary Container
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-table">
        Table
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-tabs">
        Tabs
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-text">
        Visual Framework Text
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-tree">
        Tree
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-u-fullbleed">
        Full Bleed
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-utility-classes">
        Utility Classes
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-video">
        Video
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-video-container">
        Video Container
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-video-teaser">
        Video Teaser
      </a>

    </li>
  </ul>
</div>

  </div>

  <section class="vf-content component-library-notes">
    
    <!-- no special content -->


    
    
    

    
    
      <h1>vf-embed Component</h1>
<p><a href="https://badge.fury.io/js/%40visual-framework%2Fvf-embed"><img src="https://badge.fury.io/js/%40visual-framework%2Fvf-embed.svg" alt="npm version"></a></p>
<h2>Usage</h2>
<p>The <code>vf-embed</code> component can currently give two different aspect ratios by adding a class variant. You can also define a max-width for the embed if needed.</p>
<h3>Nunjucks Props</h3>
<p>To avoid any mistyping, forgetfulness, and to aid in future proofing the component. We are using 'pseudo props' in nunjucks to determine which CSS selectors to use. All props do nothing unless included in your data for the component.</p>
<h4>Props available</h4>
<ul>
<li><code>vf_embed_max_width</code>: required a number and CSS unit to give <code>vf-embed</code> as maximum width. This number is applied to the CSS custom property <code>--vf-embed-max-width</code>.</li>
<li><code>vf_embed_variant_16x9</code>: if set to true (<code>vf_embed_variant_16x9: true</code>) it will apply the class selector <code>vf-embed--16x9</code> to <code>vf-embed</code>.</li>
<li><code>vf_embed_variant_4x3</code>: if set to true (<code>vf_embed_variant_4x3: true</code>) it will apply the class selector <code>vf-embed--4x3</code> to <code>vf-embed</code>.</li>
<li><code>vf_embed_variant_custom</code>: if set to true ('vf_embed_variant_custom: true') it will apply the class selector <code>vf-embed--custom-ratio</code> to <code>vf-embed</code>. When this is applied the two CSS custom properties <code>--vf-embed-custom-ratio-x</code> and <code>--vf-embed-custom-ratio-y</code> can be used to define the X and Y ratio.</li>
</ul>
<h3>Aspect Ratios</h3>
<p>Aspect Ratios available are 16x9 and 4x3 or one defined using CSS custom properties.</p>
<h4>Class Variants</h4>
<ul>
<li><code>vf-embed--16x9</code> for embedable content that is has an aspect ratio of 16x9.</li>
<li><code>vf-embed--4x3</code> for embedable content that is has an aspect ratio of 4x3.</li>
<li><code>vf-embed--custom-ratio</code> for embedable content that requires a unique aspect ratio.</li>
</ul>
<h4>Custom Ratios</h4>
<p>If you use <code>vf-embed--custom-ratio</code> you will need to set the X and Y ratio using CSS Custom Properties.</p>
<p>The CSS Custom Properties available when using <code>vf-embed--custom-ratio</code> are:</p>
<ul>
<li><code>--vf-embed-custom-ratio-x</code> for the X value.</li>
<li><code>--vf-embed-custom-ratio-y</code> for the Y value.</li>
</ul>
<p>For example. If you need an aspect ratio of 11x6 your HTML output could look like:</p>
<pre><code>&lt;div class=&quot;vf-embed vf-embed--custom-ratio&quot; style=&quot;--vf-embed-custom-ratio-x: 11; --vf-embed-custom-ratio-y: 6&quot;&gt;
  &lt;!-- embedded content goes here --&gt;
&lt;/div&gt;
</code></pre>
<h3>Max Width</h3>
<p>You can also set a max width for the <code>vf-emded</code>. If you do this in the nunjucks file with the key of <code>maxWidth:</code> the nunjucks template will output an inline style onto the <code>vf-embed</code>. You can add this however fits best your product (in the <code>:root</code>, in a stylesheet, etc).</p>
<p>If you do not set a <code>--vf-embed-max-width</code> value then the component is set to a maximum width of <code>100%</code>.</p>
<p>For example. If you need a <code>vf-embed</code> with the aspect ratio of 16x9 but with a maximum width of 400px your HTML out could look like:</p>
<pre><code>&lt;div class=&quot;vf-embed vf-embed--16x9&quot; style=&quot;--vf-embed-max-width: 400px&quot;&gt;
  &lt;!-- embedded content goes here --&gt;
&lt;/div&gt;
</code></pre>
<h2>Install</h2>
<p>This repository is distributed with [npm][https://www.npmjs.com/]. After [installing npm][https://www.npmjs.com/get-npm] and <a href="https://classic.yarnpkg.com/en/docs/install">yarn</a>, you can install <code>vf-embed</code> with this command.</p>
<pre><code>$ yarn add --dev @visual-framework/vf-embed
</code></pre>
<h2>JS</h2>
<p>If your component uses JS:</p>
<p>You should import this component in <code>./components/vf-component-rollup/scripts.js</code> or your other JS process:</p>
<pre><code class="language-js">import { vfcomponentName } from 'vf-embed/vf-embed';
// Or import directly
// import { vfcomponentName } from '../components/raw/vf-embed/vf-embed.js';
vfcomponentName(); // if needed, invoke it
</code></pre>
<h2>Sass/CSS</h2>
<p>If your component uses Sass:</p>
<p>The source files included are written in [Sass][sass] (<code>scss</code>) You can simply point your sass <code>include-path</code> at your <code>node_modules</code> directory and import it like this.</p>
<pre><code>@import &quot;@visual-framework/vf-embed/index.scss&quot;;
</code></pre>
<p><em>Make sure you import Sass requirements along with the modules.</em></p>
<h2>Help</h2>
<ul>
<li><a href="https://visual-framework.github.io/vf-welcome/troubleshooting/">Read the Visual Framework troubleshooting</a></li>
<li><a href="https://github.com/visual-framework/vf-core/issues">Open a ticket</a></li>
<li><a href="https://join.slack.com/t/visual-framework/shared_invite/enQtNDAxNzY0NDg4NTY0LWFhMjEwNGY3ZTk3NWYxNWVjOWQ1ZWE4YjViZmY1YjBkMDQxMTNlNjQ0N2ZiMTQ1ZTZiMGM4NjU5Y2E0MjM3ZGQ">Chat on Slack</a></li>
</ul>

    

    
    
    

    
      <section>
         <h1 class="vf-text vf-text-heading--display vf-text--invert">Variants</h1> 
      </section>
        <hr class="vf-divider" />

        <h3>
          Variant: 16x9
           <span class="vf-badge vf-badge--tertiary vf-badge--">live</span> 

           <span class="vf-badge vf-badge--tertiary vf-badge--">Type: block</span> 
        </h3>


        
        

        <h4>Nunjucks demo</h4>


        <pre><code>{% render '@vf-embed--default', {
  &quot;component-type&quot;: &quot;block&quot;,
  &quot;vf_embedded_content&quot;: &quot;&lt;iframe src=\&quot;https://www.youtube.com/embed/nGNvYjYQaaQ?rel=0\&quot; frameborder=\&quot;0\&quot; allow=\&quot;autoplay; encrypted-media\&quot; allowfullscreen&gt;&lt;/iframe&gt;&quot;,
  &quot;vf_embed_variant_16x9&quot;: true
} %}
        </code></pre>

        

        <h4>Sample output</h4>


        
          <div class="vf-grid">
            <section class="">
              <div
  class="vf-embed vf-embed--16x9"

  style=""
><iframe src="https://www.youtube.com/embed/nGNvYjYQaaQ?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>

            </section>
          </div>
        

        <h4>Sample output as HTML</h4>


        
        <pre><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;vf-embed vf-embed--16x9&quot;</span> <span class="hljs-attr">style</span>=<span class="hljs-string">&quot;&quot;</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">iframe</span> <span class="hljs-attr">src</span>=<span class="hljs-string">&quot;https://www.youtube.com/embed/nGNvYjYQaaQ?rel=0&quot;</span> <span class="hljs-attr">frameborder</span>=<span class="hljs-string">&quot;0&quot;</span> <span class="hljs-attr">allow</span>=<span class="hljs-string">&quot;autoplay; encrypted-media&quot;</span> <span class="hljs-attr">allowfullscreen</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">iframe</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
        </pre>

      
        <hr class="vf-divider" />

        <h3>
          Variant: 4 X 3
           <span class="vf-badge vf-badge--tertiary vf-badge--">live</span> 

           <span class="vf-badge vf-badge--tertiary vf-badge--">Type: block</span> 
        </h3>


        
        

        <h4>Nunjucks demo</h4>


        <pre><code>{% render '@vf-embed--4x3', {
  &quot;component-type&quot;: &quot;block&quot;,
  &quot;vf_embedded_content&quot;: &quot;&lt;iframe src=\&quot;https://www.youtube.com/embed/nGNvYjYQaaQ?rel=0\&quot; frameborder=\&quot;0\&quot; allow=\&quot;autoplay; encrypted-media\&quot; allowfullscreen&gt;&lt;/iframe&gt;&quot;,
  &quot;vf_embed_variant_4x3&quot;: true
} %}
        </code></pre>

        

        <h4>Sample output</h4>


        
          <div class="vf-grid">
            <section class="">
              <div
  class="vf-embed vf-embed--4x3"

  style=""
><iframe src="https://www.youtube.com/embed/nGNvYjYQaaQ?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>

            </section>
          </div>
        

        <h4>Sample output as HTML</h4>


        
        <pre><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;vf-embed vf-embed--4x3&quot;</span> <span class="hljs-attr">style</span>=<span class="hljs-string">&quot;&quot;</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">iframe</span> <span class="hljs-attr">src</span>=<span class="hljs-string">&quot;https://www.youtube.com/embed/nGNvYjYQaaQ?rel=0&quot;</span> <span class="hljs-attr">frameborder</span>=<span class="hljs-string">&quot;0&quot;</span> <span class="hljs-attr">allow</span>=<span class="hljs-string">&quot;autoplay; encrypted-media&quot;</span> <span class="hljs-attr">allowfullscreen</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">iframe</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
        </pre>

      
        <hr class="vf-divider" />

        <h3>
          Variant: 16 X 9 And Max Width
           <span class="vf-badge vf-badge--tertiary vf-badge--">live</span> 

           <span class="vf-badge vf-badge--tertiary vf-badge--">Type: block</span> 
        </h3>


        
        

        <h4>Nunjucks demo</h4>


        <pre><code>{% render '@vf-embed--16x9-and-max-width', {
  &quot;component-type&quot;: &quot;block&quot;,
  &quot;vf_embedded_content&quot;: &quot;&lt;iframe src=\&quot;https://www.youtube.com/embed/nGNvYjYQaaQ?rel=0\&quot; frameborder=\&quot;0\&quot; allow=\&quot;autoplay; encrypted-media\&quot; allowfullscreen&gt;&lt;/iframe&gt;&quot;,
  &quot;vf_embed_variant_16x9&quot;: true,
  &quot;vf_embed_max_width&quot;: &quot;480px&quot;
} %}
        </code></pre>

        

        <h4>Sample output</h4>


        
          <div class="vf-grid">
            <section class="">
              <div
  class="vf-embed vf-embed--16x9"

  style="--vf-embed-max-width: 480px;
"
><iframe src="https://www.youtube.com/embed/nGNvYjYQaaQ?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>

            </section>
          </div>
        

        <h4>Sample output as HTML</h4>


        
        <pre><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;vf-embed vf-embed--16x9&quot;</span> <span class="hljs-attr">style</span>=<span class="hljs-string">&quot;--vf-embed-max-width: 480px;
&quot;</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">iframe</span> <span class="hljs-attr">src</span>=<span class="hljs-string">&quot;https://www.youtube.com/embed/nGNvYjYQaaQ?rel=0&quot;</span> <span class="hljs-attr">frameborder</span>=<span class="hljs-string">&quot;0&quot;</span> <span class="hljs-attr">allow</span>=<span class="hljs-string">&quot;autoplay; encrypted-media&quot;</span> <span class="hljs-attr">allowfullscreen</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">iframe</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
        </pre>

      
        <hr class="vf-divider" />

        <h3>
          Variant: Custom
           <span class="vf-badge vf-badge--tertiary vf-badge--">live</span> 

           <span class="vf-badge vf-badge--tertiary vf-badge--">Type: block</span> 
        </h3>


        
        

        <h4>Nunjucks demo</h4>


        <pre><code>{% render '@vf-embed--custom', {
  &quot;component-type&quot;: &quot;block&quot;,
  &quot;vf_embedded_content&quot;: &quot;&lt;iframe src=\&quot;https://www.youtube.com/embed/nGNvYjYQaaQ?rel=0\&quot; frameborder=\&quot;0\&quot; allow=\&quot;autoplay; encrypted-media\&quot; allowfullscreen&gt;&lt;/iframe&gt;&quot;,
  &quot;vf_embed_variant_custom&quot;: true,
  &quot;vf_embed_custom_ratio_X&quot;: 7,
  &quot;vf_embed_custom_ratio_Y&quot;: 2
} %}
        </code></pre>

        

        <h4>Sample output</h4>


        
          <div class="vf-grid">
            <section class="">
              <div
  class="vf-embed vf-embed--custom-ratio"

  style="    --vf-embed-custom-ratio-x: 7;
    --vf-embed-custom-ratio-y: 2;"
><iframe src="https://www.youtube.com/embed/nGNvYjYQaaQ?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>

            </section>
          </div>
        

        <h4>Sample output as HTML</h4>


        
        <pre><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;vf-embed vf-embed--custom-ratio&quot;</span> <span class="hljs-attr">style</span>=<span class="hljs-string">&quot;    --vf-embed-custom-ratio-x: 7;
    --vf-embed-custom-ratio-y: 2;&quot;</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">iframe</span> <span class="hljs-attr">src</span>=<span class="hljs-string">&quot;https://www.youtube.com/embed/nGNvYjYQaaQ?rel=0&quot;</span> <span class="hljs-attr">frameborder</span>=<span class="hljs-string">&quot;0&quot;</span> <span class="hljs-attr">allow</span>=<span class="hljs-string">&quot;autoplay; encrypted-media&quot;</span> <span class="hljs-attr">allowfullscreen</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">iframe</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
        </pre>

      
        <hr class="vf-divider" />

        <h3>
          Variant: Custom And Max Width
           <span class="vf-badge vf-badge--tertiary vf-badge--">live</span> 

           <span class="vf-badge vf-badge--tertiary vf-badge--">Type: block</span> 
        </h3>


        
        

        <h4>Nunjucks demo</h4>


        <pre><code>{% render '@vf-embed--custom-and-max-width', {
  &quot;component-type&quot;: &quot;block&quot;,
  &quot;vf_embedded_content&quot;: &quot;&lt;iframe src=\&quot;https://www.youtube.com/embed/nGNvYjYQaaQ?rel=0\&quot; frameborder=\&quot;0\&quot; allow=\&quot;autoplay; encrypted-media\&quot; allowfullscreen&gt;&lt;/iframe&gt;&quot;,
  &quot;vf_embed_max_width&quot;: &quot;600px&quot;,
  &quot;vf_embed_variant_custom&quot;: true,
  &quot;vf_embed_custom_ratio_X&quot;: 11,
  &quot;vf_embed_custom_ratio_Y&quot;: 4
} %}
        </code></pre>

        

        <h4>Sample output</h4>


        
          <div class="vf-grid">
            <section class="">
              <div
  class="vf-embed vf-embed--custom-ratio"

  style="--vf-embed-max-width: 600px;
    --vf-embed-custom-ratio-x: 11;
    --vf-embed-custom-ratio-y: 4;"
><iframe src="https://www.youtube.com/embed/nGNvYjYQaaQ?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>

            </section>
          </div>
        

        <h4>Sample output as HTML</h4>


        
        <pre><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;vf-embed vf-embed--custom-ratio&quot;</span> <span class="hljs-attr">style</span>=<span class="hljs-string">&quot;--vf-embed-max-width: 600px;
    --vf-embed-custom-ratio-x: 11;
    --vf-embed-custom-ratio-y: 4;&quot;</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">iframe</span> <span class="hljs-attr">src</span>=<span class="hljs-string">&quot;https://www.youtube.com/embed/nGNvYjYQaaQ?rel=0&quot;</span> <span class="hljs-attr">frameborder</span>=<span class="hljs-string">&quot;0&quot;</span> <span class="hljs-attr">allow</span>=<span class="hljs-string">&quot;autoplay; encrypted-media&quot;</span> <span class="hljs-attr">allowfullscreen</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">iframe</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
        </pre>

      <h3>Assets</h3>
<ul>
<li><a href="/vf-core/assets/vf-embed/vf-embed.njk">Nunjucks template</a></li>
<li><a href="/vf-core/assets/vf-embed/vf-embed.config.yml">Config</a></li>
<li><a href="/vf-core/assets/vf-embed/CHANGELOG.md">CHANGELOG.md</a></li>
<li><a href="/vf-core/assets/vf-embed/vf-embed.css">vf-embed.css</a></li>
<li><a href="/vf-core/assets/vf-embed/vf-embed.js">vf-embed.js</a></li>
<li><a href="/vf-core/assets/vf-embed/vf-embed.scss">vf-embed.scss</a></li>
<li><a href="/vf-core/assets/vf-embed/vf-embed.variables.scss">vf-embed.variables.scss</a></li>
</ul>

    

    <hr>
<br/>
<p class="vf-text-body vf-text-body--4">
File system location: <code>components/vf-embed</code>
</p>


  </section>
</div>

    <footer class="vf-footer">
  <div class="vf-footer__inner">
    <p class="vf-footer__notice">A toolkit to quickly build better life science websites.</p>
    <div class="vf-footer__links-group | vf-grid vf-grid__col-5">
      <div class="vf-links">
        <ul class="vf-links__list | vf-list">
          <li class="vf-list__item">
            <a class="vf-list__link" href="/vf-core/">About</a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="/vf-core/developing">Documentation</a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="https://join.slack.com/t/visual-framework/shared_invite/enQtNDAxNzY0NDg4NTY0LWFhMjEwNGY3ZTk3NWYxNWVjOWQ1ZWE4YjViZmY1YjBkMDQxMTNlNjQ0N2ZiMTQ1ZTZiMGM4NjU5Y2E0MjM3ZGQ">Help, chat</a>
          </li>
        </ul>
      </div>
      <div class="vf-links">
        <ul class="vf-links__list | vf-list">
          <li class="vf-list__item">
            <a class="vf-list__link" href="/vf-core/search">Search</a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="/vf-core/components">Components</a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="/vf-core/updates">Changelog, updates</a>
          </li>
        </ul>
      </div>
      <div class="vf-links">
        
        <ul class="vf-links__list | vf-list">
          <li class="vf-list__item">
            <a class="vf-list__link" href="/vf-core/feed.xml">RSS Feed</a>
          </li>
        </ul>
      </div>
      <div class="vf-links">
      </div>
      <div class="vf-links">
      </div>
    </div>
    <section class="vf-footer__legal | vf-grid vf-grid__col-1">
      <span class="vf-footer__legal-text">
        <a class="vf-footer__link" href="https://www.embl.org/">Brough to you by the developers, designers and UX teams at EMBL and EMBL-EBI</a>
      </span>
      <span class="vf-footer__legal-text">
        <a class="vf-footer__link" href="https://goo.gl/maps/nbxNg2HGXL1MTtzt9">Meyerhofstraße 1, 69117 Heidelberg, Germany</a>
      </span>
      <span class="vf-footer__legal-text">
        <a class="vf-footer__link" href="tel:004962213870">Tel: +49 6221 387-0</a>
      </span>
      
    </section>
    <section class="vf-footer__legal">
      <span class="vf-footer__legal-text">
        Latest release: <code>v2.2.9</code> <a href="/vf-core/updates" class="vf-footer__link">See more releases</a>
      </span>
      <span class="vf-footer__legal-text">
        Code license is Apache 2.0
      </span>
    </section>
  </div>
</footer>





<!-- This page was generated on 2020-10-19T14:32:38.217+00:00 -->
<script src="https://assets.emblstatic.net/vf/v2.2.9/scripts/scripts.js"></script>
  </body>
</html>
