<div class="vf-embed {{ AspectRatio -}}"
  {%- if maxWidth %} style="--vf-embed-max-width: {{maxWidth}};"{% endif -%}
  >
  <iframe width="560" height="315" src="{{ video_href }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
