$componentInfo: (
             name: "@visual-framework/vf-link",
             version: "1.0.3",
             location: "components/vf-link",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Tue, 27 Oct 2020 10:25:50 GMT"
          );