$componentInfo: (
             name: "@visual-framework/vf-link",
             version: "1.0.3",
             location: "components/vf-link",
             vfCoreVersion: "2.2.8",
             buildTimeStamp: "Fri, 23 Oct 2020 09:53:36 GMT"
          );