$componentInfo: (
             name: "@visual-framework/vf-link",
             version: "1.0.3",
             location: "components/vf-link",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Fri, 30 Oct 2020 16:39:45 GMT"
          );