/* stylelint-disable */
:root {
  --vf-color--green: #18974c;
  --vf-color--green--darkest: #0a5032;
  --vf-color--green--dark: #007b53;
  --vf-color--green--light: #6cc24a;
  --vf-color--green--lightest: #d0debb;
  --vf-color--grey: #707372;
  --vf-color--grey--darkest: #373a36;
  --vf-color--grey--dark: #54585a;
  --vf-color--grey--light: #a8a99e;
  --vf-color--grey--lightest: #d0d0ce;
  --vf-color--red: #d41645;
  --vf-color--red--dark: #a6093d;
  --vf-color--red--light: #e58f9e;
  --vf-color--blue: #3b6fb6;
  --vf-color--blue--dark: #193f90;
  --vf-color--blue--light: #8bb8e8;
  --vf-color--purple: #734595;
  --vf-color--purple--dark: #563d82;
  --vf-color--purple--light: #cba3d8;
  --vf-color--orange: #f49e17;
  --vf-color--orange--dark: #b65417;
  --vf-color--orange--light: #efc06e;
  --vf-color--yellow: #f4c61f;
  --vf-color--yellow--dark: #ffb81c;
  --vf-color--yellow--light: #fdd757;
  --vf-color--bright-green: #a1be1f;
  --vf-color--bright-green--dark: #7fb428;
  --vf-color--bright-green--light: #e2e868;
}

:root {
  --vf-ui-color--black: #000000;
  --vf-ui-color--grey: #d8d8d8;
  --vf-ui-color--grey--light: #f3f3f3;
  --vf-ui-color--yellow: #fffadc;
  --vf-ui-color--red: #d32f2f;
  --vf-ui-color--white: #ffffff;
  --vf-ui-color--off-white: #fafafa;
}

/* stylelint-enable */
/*!
 * Component: @visual-framework/vf-link
 * Version: 1.0.3
 * Location: components/vf-link
 */
.vf-link {
  border-bottom: none;
  text-decoration: none;
  color: #3b6fb6;
}
.vf-link:visited {
  color: #3b6fb6;
  border-bottom: none;
}
.vf-link:visited:hover {
  color: #3b6fb6;
  text-decoration: underline;
}
.vf-link:hover {
  color: #193f90;
  border-bottom: none;
  text-decoration: underline;
}

.vf-link--visited {
  color: #3b6fb6;
}

.vf-link--hover {
  color: #193f90;
}

[class*="--dark"] .vf-link {
  border-bottom: none;
  text-decoration: none;
  color: #a8d2ff;
}
[class*="--dark"] .vf-link:visited {
  color: #a8d2ff;
  border-bottom: none;
}
[class*="--dark"] .vf-link:visited:hover {
  color: #a8d2ff;
  text-decoration: underline;
}
[class*="--dark"] .vf-link:hover {
  color: #a8d2ff;
  border-bottom: none;
  text-decoration: underline;
}
[class*="--dark"] .vf-link--visited {
  color: #a8d2ff;
}
[class*="--dark"] .vf-link--hover {
  color: #a8d2ff;
}

.vf-link--secondary {
  border-bottom: none;
  text-decoration: none;
  color: #54585a;
}
.vf-link--secondary:visited {
  color: #54585a;
  border-bottom: none;
}
.vf-link--secondary:visited:hover {
  color: #54585a;
  text-decoration: underline;
}
.vf-link--secondary:hover {
  color: #54585a;
  border-bottom: none;
  text-decoration: underline;
}

.vf-link--secondary--visited {
  color: #54585a;
}

.vf-link--secondary--hover {
  color: #54585a;
}

[class*="--dark"] .vf-link--secondary {
  border-bottom: none;
  text-decoration: none;
  color: #ffffff;
}
[class*="--dark"] .vf-link--secondary:visited {
  color: #ffffff;
  border-bottom: none;
}
[class*="--dark"] .vf-link--secondary:visited:hover {
  color: #ffffff;
  text-decoration: underline;
}
[class*="--dark"] .vf-link--secondary:hover {
  color: #ffffff;
  border-bottom: none;
  text-decoration: underline;
}
[class*="--dark"] .vf-link--secondary--visited {
  color: #ffffff;
}
[class*="--dark"] .vf-link--secondary--hover {
  color: #ffffff;
}