$componentInfo: (
             name: "@visual-framework/vf-inlay",
             version: "1.0.0-rc.3",
             location: "components/vf-inlay",
             vfCoreVersion: "2.2.0-alpha.4"
          );