:root {
  --vf-color--green: #18974c;
  --vf-color--green--darkest: #0a5032;
  --vf-color--green--dark: #007b53;
  --vf-color--green--light: #6cc24a;
  --vf-color--green--lightest: #d0debb;
  --vf-color--grey: #707372;
  --vf-color--grey--darkest: #373a36;
  --vf-color--grey--dark: #54585a;
  --vf-color--grey--light: #a8a99e;
  --vf-color--grey--lightest: #d0d0ce;
  --vf-color--red: #d41645;
  --vf-color--red--dark: #a6093d;
  --vf-color--red--light: #e58f9e;
  --vf-color--blue: #3b6fb6;
  --vf-color--blue--dark: #193f90;
  --vf-color--blue--light: #8bb8e8;
  --vf-color--purple: #734595;
  --vf-color--purple--dark: #563d82;
  --vf-color--purple--light: #cba3d8;
  --vf-color--orange: #f49e17;
  --vf-color--orange--dark: #b65417;
  --vf-color--orange--light: #efc06e;
  --vf-color--yellow: #f4c61f;
  --vf-color--yellow--dark: #ffb81c;
  --vf-color--yellow--light: #fdd757;
  --vf-color--bright-green: #a1be1f;
  --vf-color--bright-green--dark: #7fb428;
  --vf-color--bright-green--light: #e2e868;
}

:root {
  --vf-ui-color--black: #000000;
  --vf-ui-color--grey: #f3f3f3;
  --vf-ui-color--grey--light: #d8d8d8;
  --vf-ui-color--yellow: #fffadc;
  --vf-ui-color--red: #d32f2f;
  --vf-ui-color--white: #ffffff;
  --vf-ui-color--off-white: #fafafa;
}

/*!
 * Component: @visual-framework/vf-inlay
 * Version: 1.0.0-rc.1
 * Location: components/vf-inlay
 */
.vf-inlay {
  display: grid;
  grid-column: 1 / -1;
  /* stylelint-disable  declaration-colon-space-after, indentation */
  grid-template-columns: minmax(var(--page-grid-gap), auto) [main-start] minmax(auto, 76.5em) [main-end] minmax(var(--page-grid-gap), auto);
  /* stylelint-enable */
}

.vf-inlay:last-of-type {
  margin: 0 0 36px 0;
}

@media (min-width: 1024px) {
  .vf-inlay:last-of-type {
    margin: 0 0 100px 0;
  }
}

@media (max-width: 1299px) {
  .vf-inlay .vf-grid {
    grid-column: main;
  }
}

@media (min-width: 1024px) {
  .vf-inlay {
    --page-grid-gap: 36px;
  }
}

.vf-inlay__content {
  display: grid;
  grid-column: 2 / 3;
  /* stylelint-disable declaration-colon-space-after, indentation */
  grid-template-columns: minmax(var(--page-grid-gap), 1em) [main-start] minmax(auto, 100%) minmax(auto, 22.125em) [main-end] minmax(var(--page-grid-gap), 1em);
  padding-top: 36px;
  /* stylelint-enable */
  padding-bottom: calc(var(--page-grid-gap)/2);
}

@media (max-width: 1023px) {
  .vf-inlay__content {
    grid-template-columns: var(--page-grid-gap) [main-start] minmax(auto, 100%) minmax(auto, 22.125em) [main-end] var(--page-grid-gap);
  }
}

.vf-inlay__content--full-width {
  grid-column: 2 / -2;
  margin: 0 0 20px 0;
}

.vf-inlay__content--main {
  grid-column: 2 / -2;
  margin: 0 0 20px 0;
}

@media (min-width: 1024px) {
  .vf-inlay__content--main {
    padding-right: calc(var(--page-grid-gap) / 2);
    grid-column: 2 / 3;
  }
}

.vf-inlay__content--additional {
  grid-column: 2 / -2;
}

@media (min-width: 1024px) {
  .vf-inlay__content--additional {
    grid-column: 3 / 4;
  }
}

@media (max-width: 1024px) and (min-width: 600px) {
  .vf-inlay__content--additional {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    grid-column-gap: var(--page-grid-gap);
  }
}
