// vf-lede

// **Thinking about deleting this file?**
// If your component needs no CSS/Sass, we still recommend leaving the
// scss files in place. As this is primarily a CSS framework, it is better to
// leave the empty files so you know a file wasn't accidently omitted.
// If you don't have any Sass, you can trim this block down to:
// "This page was intentionally left blank"

@import 'vf-lede.variables.scss';

.vf-lede {
  @include set-type(text-body--1, $custom-margin-bottom: 0);

  & > a {
    @include inline-link;
  }
}
