---
title: Pattern naming
---

The Visual Framework uses a dual approach for naming of patterns.

## Tip!

Confused? Rule of thumb: if you use a pattern to make other patterns, name it for what is (i.e. "vf-box"). If a pattern has a particular style and personality, name it for the role it performs (i.e. "vf-yourbrand-photo-gallery-tiles").

## A: Is it a utility pattern? Name it for what it is

For reusable patterns that are (or are intended to be) part of the Visual Framework core, name for what it is; that is:

- vf-box (not "vf-introduction")
- [vf-button](/components/detail/vf-button--sizes) (not "vf-call-to-action")
- vf-grid (not "vf-wide-layout")
- vf-header (not "vf-big-headline")

Why? This ensures that that a box will always be rectangular-ish pattern on pages, whereas an "introduction" may be a box today, but become simply large text after a redesign.

## B: Specific to you sites/brand? Name it for its role

If your pattern is primarily intended to be used for particular websites or a brand, give it a name that is attached to the role it performs; that is:

- vf-yourbrand-masthead
- vf-yourbrand-group-activity-list
- vf-yourbrand-display-headline

Why? Naming for the role the pattern does allows us to change the future visual structure, so a "display headline" today may have a black background, but tomorrow might have no background and be large and italic text.

## Language and spelling of documentation, code

The `vf-core` project is being led by EMBL where British English and we're aware that most code is American English (`colour` vs `color`); so:

- 📚🇬🇧 Documentation is written in British English 💂‍ `Rarely use centred text, always use colours`
- ⌨️🇺🇸 Code is written in American english 🧢 `$vf-main-color: green;`
