<header class="vf-header">

  {{render '@vf-global-header'}}

  {{> '@vf-masthead'}}
  <div class="vf-header__navigation vf-header__navigation--main">
  {{render '@vf-navigation--main'}}
  </div>
  <div class="vf-header__navigation vf-header__navigation--additional">
  {{render '@vf-navigation--additional'}}
  </div>

</header>
