// vf-header

.vf-header {
  background-position: top center;
  background-size: cover;
  box-sizing: border-box;
  display: grid;
  grid-column: 1 / -1;
  // grid-auto-rows: min-content;
  grid-template-columns: minmax(1em, 1fr) 58.1875em 21.8125em minmax(1em, 1fr);
  height: 266px;
}
