// vf-header

.vf-header {
  background-position: top center;
  background-size: cover;
  box-sizing: border-box;
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: minmax(var(--page-grid-gap), auto) minmax(auto, 76.5em) minmax(var(--page-grid-gap), auto);
  height: 100%;
  max-height: 320px;
}
