<style>
:root {
  /* These CSS properties are theming variables. If used, add to your HTML
     after the VF CSS for vf-masthead and before the HTML for vf-masthead. */
  --vf-masthead__bg-image: url('{{ '/assets/vf-masthead/assets/group-bg_2d4155.png' | path }}');
}
</style>

<header class="vf-header vf-header--inlay">

  {% render '@vf-masthead--inlay' %}
  {% render '@vf-navigation--main' %}

</header>
