// vf-header

.vf-header {
  background-position: top center;
  background-size: cover;
  box-sizing: border-box;
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: minmax(var(--page-grid-gap), auto) minmax(auto, $global-page-max-width) minmax(var(--page-grid-gap), auto);
  height: 100%;
  margin-bottom: 1rem;
  max-height: 320px;
}

.vf-header > .vf-global-header {
  margin-bottom: -1px;
}

.vf-header__navigation {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: minmax(var(--page-grid-gap), auto) minmax(auto, $global-page-max-width) minmax(var(--page-grid-gap), auto);
  & > * {
    grid-column: 2 / -2;
  }
}

.vf-header__navigation--site {
  background-color: set-color(vf-color-gray-dark);
  & > * {
    margin-left: -16px;
  }
}

.vf-header__navigation--team {
  background-color: set-color(vf-color-gray-dark);
  grid-row: 2;
}
