// vf-header

.vf-header {
  background-position: top center;
  background-size: cover;
  box-sizing: border-box;
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: minmax(var(--page-grid-gap), auto) minmax(auto, $global-page-max-width) minmax(var(--page-grid-gap), auto);
}

.vf-header {
  .vf-navigation--main {
    grid-column: 2 / -2;
  }
  .vf-navigation--additional {
    grid-column: 1 / -1;
    grid-row: 2;
  }
}

.vf-header__navigation--site {
  background-color: set-color(vf-color--grey--dark);
  & > * {
    margin-left: -16px;
  }
}

.vf-header__navigation--additional {
  background-color: set-color(vf-color--grey--dark);
  grid-row: 2;
}

.vf-header > .vf-global-header {
  margin-bottom: -1px;
}

.vf-header--inlay {
  grid-column: 2 / -2;

  .vf-navigation--main {
    &::before {
      display: none;
    }
  }

  @media (min-width: $vf-breakpoint--l) {
    .vf-masthead__heading {
      padding: 0 3.75rem; // this makes the header have the same spacing as the rest of the inlay
    }
    .vf-navigation--main {
      padding: 0 3rem; // this is so the first list item lines up
    }
  }
}
