<header class="vf-header">

  {{render '@vf-global-header'}}

  {{> '@vf-masthead'}}
  <div class="vf-header__navigation vf-header__navigation--site">
  {{render '@vf-navigation--site'}}
  </div>
  <div class="vf-header__navigation vf-header__navigation--team">
  {{render '@vf-navigation--team'}}
  </div>

</header>
