$componentInfo: (
             name: "@visual-framework/vf-form__select",
             version: "1.0.1",
             location: "components/vf-form/vf-form__select",
             vfCoreVersion: "2.2.8",
             buildTimeStamp: "Fri, 23 Oct 2020 09:33:56 GMT"
          );