$componentInfo: (
             name: "@visual-framework/vf-form__select",
             version: "1.0.1",
             location: "components/vf-form/vf-form__select",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Tue, 27 Oct 2020 11:08:48 GMT"
          );