$componentInfo: (
             name: "@visual-framework/vf-news-container",
             version: "1.0.0-beta.1",
             location: "components/vf-news-container",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Wed, 28 Oct 2020 09:50:49 GMT"
          );