$componentInfo: (
             name: "@visual-framework/vf-news-container",
             version: "1.0.0-beta.1",
             location: "components/vf-news-container",
             vfCoreVersion: "2.2.8",
             buildTimeStamp: "Mon, 26 Oct 2020 15:18:49 GMT"
          );