$componentInfo: (
             name: "@visual-framework/vf-news-container",
             version: "1.0.0-beta.1",
             location: "components/vf-news-container",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Fri, 06 Nov 2020 11:50:55 GMT"
          );