<section class="vf-news-container | embl-grid embl-grid--has-sidebar">

  {% render '@vf-section-header'%}

  <div class="vf-news-container__content">
    {% render '@vf-summary--news' %}
    {% render '@vf-summary--news' %}
    {% render '@vf-summary--news' %}
    {% render '@vf-summary--news' %}
    {% render '@vf-summary--news' %}
    {% render '@vf-summary--news' %}
    {% render '@vf-summary--news' %}
    {% render '@vf-summary--news' %}
  </div>

  <div class="vf-news-container__sidebar">
  </div>

</section>
