:root {
  --vf-color--green: #009f4d;
  --vf-color--green--darkest: #115740;
  --vf-color--green--dark: #007a53;
  --vf-color--green--light: #6cc24a;
  --vf-color--green--lightest: #d0debb;
  --vf-color--grey: #707372;
  --vf-color--grey--darkest: #373a36;
  --vf-color--grey--dark: #54585a;
  --vf-color--grey--light: #a8a99e;
  --vf-color--grey--lightest: #d0d0ce;
  --vf-color--red: #e40046;
  --vf-color--red--dark: #a6093d;
  --vf-color--red--light: #e58f9e;
  --vf-color--blue: #307fe2;
  --vf-color--blue--dark: #003da5;
  --vf-color--blue--light: #8bb8e8;
  --vf-color--purple: #8246af;
  --vf-color--purple--dark: #563d82;
  --vf-color--purple--light: #cba3d8;
  --vf-color--orange: #ffa300;
  --vf-color--orange--dark: #be5400;
  --vf-color--orange--light: #efc06e;
  --vf-color--yellow: #ffcd00;
  --vf-color--yellow--dark: #ffb81c;
  --vf-color--yellow--light: #fdd757;
  --vf-color--bright-green: #a8c700;
  --vf-color--bright-green--dark: #84bd00;
  --vf-color--bright-green--light: #e2e868;
}

:root {
  --vf-ui-color--black: #000000;
  --vf-ui-color--grey: #f3f3f3;
  --vf-ui-color--grey--light: #d8d8d8;
  --vf-ui-color--yellow: #fffadc;
  --vf-ui-color--red: #d32f2f;
  --vf-ui-color--white: #ffffff;
  --vf-ui-color--off-white: #fafafa;
}

/*!
 * Component: @visual-framework/vf-grid
 * Version: 1.0.0-alpha.7
 * Location: components/vf-grid
 */
/* stylelint-disable order/order */
.vf-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.vf-grid > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 10px;
}

[class*='vf-grid__'] {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.vf-grid__col-2 > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 20px);
          flex: 0 0 calc(50% - 20px);
}

.vf-grid__col-3 > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(33.3333% - 20px);
          flex: 0 0 calc(33.3333% - 20px);
}

.vf-grid__col-4 > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(25% - 20px);
          flex: 0 0 calc(25% - 20px);
}

.vf-grid__col-5 > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(16% - 20px);
          flex: 0 0 calc(16% - 20px);
}

.vf-grid__col-6 > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(16.666666667% - 20px);
          flex: 0 0 calc(16.666666667% - 20px);
}

@media (max-width: 1023px) {
  .vf-grid {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .vf-grid > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 20px);
            flex: 0 0 calc(50% - 20px);
  }
}

@supports (display: grid) {
  .vf-grid {
    display: grid;
    grid-column: main;
    grid-column-gap: var(--page-grid-gap);
  }
  @media (min-width: 840px) {
    .vf-grid {
      grid-auto-flow: column;
    }
  }
  @media (max-width: 1299px) {
    .vf-grid {
      grid-column: 1 / -1;
    }
  }
  .vf-grid > * {
    margin: 0;
  }
  [class*='grid__'] {
    grid-auto-flow: unset;
  }
  .vf-grid__col-1 > * + * {
    border-top: 1px solid #707372;
  }
  .vf-grid__col-1 > * + *:last-of-type {
    margin-bottom: 0;
  }
  .vf-grid__col-1 {
    grid-template-columns: repeat(1, 1fr);
  }
  @media (min-width: 768px) {
    .vf-grid__col-2 {
      grid-template-columns: repeat(2, 1fr);
    }
    .vf-grid__col-3 {
      grid-template-columns: repeat(3, 1fr);
    }
    .vf-grid__col-4 {
      grid-template-columns: repeat(2, 1fr);
    }
    .vf-grid__col-5 {
      grid-template-columns: repeat(3, 1fr);
    }
    .vf-grid__col-6 {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media (min-width: 1024px) {
    .vf-grid__col-4 {
      grid-template-columns: repeat(4, 1fr);
    }
    .vf-grid__col-5 {
      grid-template-columns: repeat(5, 1fr);
    }
    .vf-grid__col-6 {
      grid-template-columns: repeat(6, 1fr);
    }
  }
  .vf-grid__col--span-2 {
    grid-column-end: span 2;
  }
  .vf-grid__col--span-3 {
    grid-column-end: span 3;
  }
  .vf-grid__col--span-4 {
    grid-column-end: span 4;
  }
  .vf-grid__col--span-5 {
    grid-column-end: span 5;
  }
}

/* stylelint-enable order/order */
/*!
 * Component: @visual-framework/vf-summary
 * Version: 1.0.0-beta.7
 * Location: components/vf-summary
 */
.vf-summary {
  --vf-text-margin--bottom: 16px;
}

.vf-summary--profile {
  --vf-icon--avatar-width: 178px;
}

.vf-summary {
  align-self: start;
  display: grid;
  grid-column-gap: 16px;
  margin-bottom: 2rem;
  position: relative;
}

.vf-summary > *:last-child {
  margin-bottom: 0;
}

.vf-box .vf-summary .vf-summary__title {
  color: inherit;
}

.vf-box .vf-summary .vf-summary__link {
  color: inherit;
}

.vf-box .vf-summary .vf-summary__date {
  color: inherit;
}

.vf-box .vf-summary .vf-summary__text {
  color: inherit;
}

.vf-box .vf-summary .vf-summary__source {
  color: inherit;
}

.vf-box .vf-summary .vf-summary__author {
  color: inherit;
}

.vf-box .vf-summary .vf-link {
  color: inherit;
}

.vf-summary__category {
  --vf-text-margin--bottom: 0;
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.57;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  color: #707372;
  margin-bottom: 0;
}

.vf-summary__date {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.57;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  color: #707372;
}

.vf-summary__source {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.57;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  color: #707372;
  font-style: italic;
}

.vf-summary__link {
  border-bottom: none;
  text-decoration: underline;
  color: #307fe2;
}

.vf-summary__link:visited {
  color: #54585a;
  border-bottom: none;
  text-decoration: underline;
}

.vf-summary__link:hover {
  color: #4a8bff;
  border-bottom: none;
  text-decoration: underline;
}

.vf-summary__link--overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.vf-summary__meta {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.57;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-summary__text {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  line-height: 1.421;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-summary__title {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.333;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-summary__author {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.57;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  color: #707372;
  font-style: italic;
}

.vf-summary--profile {
  grid-column-gap: 16px;
  grid-template-columns: minmax(0, var(--vf-icon--avatar-width)) 1fr;
  grid-template-rows: auto;
  margin-bottom: 48px;
}

.vf-summary--profile .vf-summary__image {
  align-self: center;
  grid-column: 1 / span 1;
  grid-row: 1 / span 6;
  margin-right: 30px;
  max-width: 170px;
  width: 100%;
}

.vf-summary--profile .vf-summary__title {
  --vf-text-margin--bottom: 0;
  font-size: 19px;
  grid-column: 2 / -1;
  line-height: 1.5;
}

.vf-summary--profile .vf-summary__text {
  --vf-text-margin--bottom: 0;
}

.vf-summary__link {
  border-bottom: none;
  text-decoration: underline;
  color: #307fe2;
}

.vf-summary__link:visited {
  color: #54585a;
  border-bottom: none;
  text-decoration: underline;
}

.vf-summary__link:hover {
  color: #4a8bff;
  border-bottom: none;
  text-decoration: underline;
}

.vf-summary__link--secondary {
  border-bottom: none;
  text-decoration: underline;
  color: #707372;
}

.vf-summary__link--secondary:visited {
  color: #d0d0ce;
  border-bottom: none;
  text-decoration: underline;
}

.vf-summary__link--secondary:hover {
  color: #4a8bff;
  border-bottom: none;
  text-decoration: underline;
}

.vf-summary__image--avatar {
  border-radius: 50%;
}

.vf-summary__email {
  --vf-text-margin--bottom: 24px;
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  line-height: 1.421;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-summary__phone {
  --vf-text-margin--bottom: 0;
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  line-height: 1.421;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-summary__phone + .vf-summary__phone {
  --vf-text-margin--bottom: 8px;
}

.vf-summary--mobile {
  position: relative;
}

.vf-summary--mobile::after {
  content: '(mobile)';
  margin-left: 4px;
  position: absolute;
}

.vf-summary__uuid {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.57;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-summary--profile-l {
  --vf-icon--avatar-width: 128px;
}

.vf-summary--profile-l .vf-summary__email {
  --vf-text-margin--bottom: 8px;
}

.vf-summary--profile-r {
  --vf-icon--avatar-width: 80px;
}

.vf-summary--profile-r .vf-summary__title {
  --vf-text-margin--bottom: 8px;
}

.vf-summary--profile-r .vf-summary__text {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.57;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-summary--profile-r .vf-summary__email {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.57;
  margin: 0 0 0 0;
}

.vf-summary--profile-r .vf-summary__image {
  margin-right: 16px;
}

.vf-summary--profile-s {
  --vf-icon--avatar-width: 60px;
}

.vf-summary--profile-s .vf-summary__image {
  margin-right: 8px;
}

.vf-summary--profile-s .vf-summary__title {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.57;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

/*!
 * Component: @visual-framework/vf-section-header
 * Version: 1.0.0-beta.7
 * Location: components/vf-section-header
 */
.vf-section-header__heading {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.333;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  margin: 0;
}

/*!
 * Component: @visual-framework/vf-news-container
 * Version: 1.0.0-alpha.7
 * Location: components/vf-news-container
 */
