{# Make sure any variables are listed inside the following if statement #}
<div class="vf-progress-indicator" style="width: {% if width %} {{width}} {% else %} var(--vf-progress-indicator__width) {% endif %}">
  <div class="vf-progress-indicator__mark" style="width: {{progressPercent}}%"></div>
  {% if helperText %}
  <div class="vf-progress-indicator__helper-text"> some helper text
  {% endif %}
  </div>
</div>
