<div class="vf-masthead">
  <div class="vf-masthead__inner">
    <div class="vf-masthead__title">
      <h1 class="vf-masthead__heading">Häring Group<span class="vf-sr-only">:</span> <span class="vf-masthead__heading--additional">Chromosome structure and dynamics</span></h1>
    </div>
  </div>
</div>
