// vf-masthead

@import 'package.variables.scss';
// Debug information from component's `package.json`:
// ---
/*!
 * Component: #{map-get($componentInfo, 'name')}
 * Version: #{map-get($componentInfo, 'version')}
 * Location: #{map-get($componentInfo, 'location')}
 */

.vf-masthead {
  background-color: set-ui-color(vf-ui-color--black);
  background-color: var(--local-theme-bg-color, var(--global-theme-bg-color, set-ui-color(vf-ui-color--black)));
  color: set-ui-color(vf-ui-color--white);
  color: var(--local-theme-fg-color, var(--global-theme-fg-color, set-ui-color(vf-ui-color--white)));
  padding-top: 24px;
  padding-bottom: 36px;
}


// Variants

.vf-masthead-theme--primary {
  --local-theme-bg-color: #{set-color(vf-color--blue)};
  --local-theme-fg-color: #{set-ui-color(vf-ui-color--white)};
}

.vf-masthead-theme--secondary {
  --local-theme-bg-color: #{set-color(vf-color--green)};
  --local-theme-fg-color: #{set-ui-color(vf-ui-color--white)};
}

.vf-masthead-theme--tertiary {
  --local-theme-bg-color: #{set-color(vf-color--grey--dark)};
  --local-theme-fg-color: #{set-ui-color(vf-ui-color--white)};
}

.vf-masthead--has-image {
  background-repeat: no-repeat;
  background-size: cover;

  &:not(.vf-masthead--with-title-block) .vf-masthead__title > * {
    text-shadow: 2px 2px 0px set-ui-color(vf-ui-color--black);
  }
}


.vf-masthead__inner {
  display: flex;
  margin: 0 auto;
  max-width: 76.5em;
  width: 100%;
}

.vf-masthead__title {
  align-self: unset;
  display: inline-flex;
  flex-direction: column-reverse;
}

.vf-masthead__heading {
  @include set-type(text-heading--1, $custom-margin-bottom: 8px);

  display: flex;
  flex-direction: column;
}

.vf-masthead__heading--additional {
  @include set-type(text-heading--5, $custom-margin-bottom: 0);

  position: relative;
  top: -4px;
}

.vf-masthead__heading__link {
  color: inherit;
  text-decoration: none;
  z-index: set-layer(vf-z-index--masthead);
}

.vf-masthead__subheading {
  @include set-type(text-body--4, $custom-margin-bottom: 0);

  text-transform: uppercase;
}

.vf-masthead__subheading a {
  color: inherit;
  text-decoration: none;
  z-index: set-layer(vf-z-index--masthead);
}




.vf-masthead--with-title-block {
  display: flex;
  padding-top: 60px;
  padding-bottom: 0;

  .vf-masthead__title {
    align-self: flex-end;
    background-color: var(--local-theme-bg-color, var(--global-theme-bg-color, set-ui-color(vf-ui-color--white)));
    color: var(--local-theme-fg-color, var(--global-theme-fg-color, set-ui-color(vf-ui-color--black)));
    display: inline-flex;
    padding-right: 16px;
    padding-top: 16px;
    position: relative;

    &::before {
      background-color: var(--local-theme-bg-color, var(--global-theme-bg-color, set-ui-color(vf-ui-color--white)));
      content: '';
      display: inline-flex;
      flex-direction: column-reverse;
      grid-auto-columns: max-content;
      height: 100%;
      padding-left: 16px;
      position: absolute;
      transform: translateX(-50%);
      width: 50vw;
    }
  }
  .vf-masthead__subheading {
    z-index: set-layer(vf-z-index--masthead);
  }
}





// This is code that should not be used

.vf-masthead__form--search {
  align-self: flex-end;
  grid-row: 2;
  justify-content: flex-end;
  margin-bottom: 12px;
  margin-left: auto;
  max-width: 288px;
  z-index: set-layer(vf-z-index--masthead);
}

.vf-masthead__form__item {
  color: set-ui-color(vf-ui-color--white);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 6px;
}

.vf-masthead__button {
  align-items: flex-end;
  background-color: set-color(vf-color--blue--dark);
  border: 0;
  color: set-ui-color(vf-ui-color--white);
  margin-left: 8px;
  outline: 0;
  padding: 8px 12px;

  svg {
    fill: set-ui-color(vf-ui-color--white);
    width: 16px;
  }
}

.vf-masthead__form__label {
  flex-basis: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  margin-bottom: 4px;
  text-shadow: 1px 1px 3px set-ui-color(vf-ui-color--white);
}

.vf-masthead__form__input--text {
  flex-basis: 79%;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 18px;
  font-style: italic;
  padding: map-get($vf-spacing-map, vf-spacing-tight);
}

.search-examples {
  // white-space: nowrap;
  color: set-ui-color(vf-ui-color--white);
  font-size: 12px;
  text-shadow: 1px 1px 0px set-ui-color(vf-ui-color--black);

  a {
    color: set-ui-color(vf-ui-color--white);
    text-shadow: 1px 1px 0px set-ui-color(vf-ui-color--black);
  }
}
