<style>
    .vf-masthead {
      --vf-masthead__bg-image: url({{ mastheadImage }});
    }
</style>
<div
  class="vf-masthead
  {%- if Primary %} vf-masthead-theme--primary{%- endif -%}
  {%- if Secondary %} vf-masthead-theme--secondary{%- endif -%}
  {%- if Tertiary %} vf-masthead-theme--tertiary{%- endif -%}

  {% if hasTitleBlock %} vf-masthead--with-title-block{% endif %}
  {%- if mastheadImageClass %} vf-masthead--has-image{% endif %}
  | vf-u-fullbleed"

  {% if mastheadImage %}
  style="background-image: var(--vf-masthead__bg-image)"
  data-vf-js-masthead
  {% endif %}
>
  {% if (mastheadImageClass) and (hasTitleBlock == null) %}
  <p style="font-size: 48px; color: red; text-shadow: 2px 2px 0px white; position: relative; z-index: 1812; text-align: center; text-transform: uppercase;">You need to include the title block</p>
  {% endif %}
  <div class="vf-masthead__inner">
    <div class="vf-masthead__title">
      <h1 class="vf-masthead__heading">
        <a href="{{ masthead_href }}" class="vf-masthead__heading__link">Strategy &amp; Communications</a>
        <span class="vf-masthead__heading--additional">Chromosome structure and dynamics</span>
      </h1>
      <h2 class="vf-masthead__subheading">
        <span class="vf-masthead__location">VF Hamburg</span>
        <span class="vf-masthead__group">Structural Biology</span>
      </h2>
    </div>
  </div>
</div>
