<style>
:root {
  /* --vf-masthead__color--background: none; */
  /* --vf-masthead__color--foreground: #000000; */
  /* --vf-masthead__bg-image: url('http://www.fillmurray.com/800/200'); */
}
</style>

<header class="vf-inlay__header">
  <div class="vf-masthead" style="background-color: var(--vf-masthead__color--background, #000000); color: var(--vf-masthead__color--foreground, #ffffff);">
    <div class="vf-masthead__title">
      <h1 class="vf-masthead__heading">
        <a class="vf-masthead__heading__link" href="http://dev-vf-theme-prototype.pantheonsite.io">Häring Group</a>
        <span class="vf-masthead__heading--additional">Chromosome structure and dynamics</span>
      </h1>
    </div>
  </div>  <!--/vf-masthead-->
  <nav class="vf-navigation vf-navigation--main">
    <ul class="vf-navigation__list | vf-list--inline">
      <li id="menu-item-119" class="vf-navigation__item"><a href="http://dev-vf-theme-prototype.pantheonsite.io/about/" class="vf-navigation__link">About</a></li>
      <li id="menu-item-191" class="vf-navigation__item"><a href="http://dev-vf-theme-prototype.pantheonsite.io/members/" class="vf-navigation__link">Members</a></li>
      <li id="menu-item-190" class="vf-navigation__item"><a href="http://dev-vf-theme-prototype.pantheonsite.io/publications/" class="vf-navigation__link">Publications</a></li>
      <li id="menu-item-162" class="vf-navigation__item"><a href="http://dev-vf-theme-prototype.pantheonsite.io/jobs/" class="vf-navigation__link">Jobs</a></li>
      <li id="menu-item-100" class="vf-navigation__item"><a href="http://dev-vf-theme-prototype.pantheonsite.io/blog/" class="vf-navigation__link">Blog</a></li>
      <li id="menu-item-358" class="vf-navigation__item"><a href="http://dev-vf-theme-prototype.pantheonsite.io/optional/" class="vf-navigation__link">Optional</a></li>
    </ul>
  </nav>
  <!--/vf-navigation-->
</header>
