---
title: Changelog
label: CHANGELOG
order: 200
isIndex: true
---

Releases of vf-core are done monthly on the last Thursday in each month. 

You can [view all releases in the GitHub release log](https://github.com/visual-framework/vf-core/releases).
