$componentInfo: (
             name: "@visual-framework/vf-video-teaser",
             version: "1.0.0",
             location: "components/vf-video-teaser",
             vfCoreVersion: "2.2.5"
          );