$componentInfo: (
             name: "@visual-framework/vf-video-teaser",
             version: "1.0.0",
             location: "components/vf-video-teaser",
             vfCoreVersion: "2.2.8",
             buildTimeStamp: "Wed, 21 Oct 2020 07:28:23 GMT"
          );