<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" media="all" href="/vf-core/css/styles.css" />
    <title>Creating a new component | Visual Framework 2.0</title>
    <link rel="shortcut icon" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/favicon.ico">
<link rel="apple-touch-icon" sizes="180x180" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/favicon-16x16.png">
<link rel="manifest" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/site.webmanifest">
<link rel="mask-icon" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/safari-pinned-tab.svg" color="#ffffff">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

    <!-- Descriptive meta -->
    <meta name="title" content="Creating a new component">
    <meta name="author" content="EMBL">
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="">
    <meta name="description" content="This codebase includes a folder and file creation tool.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://visual-framework.github.io/vf-core//developing/components/creating-new-components/">
    <meta property="og:title" content="Creating a new component">
    <meta property="og:description" content="This codebase includes a folder and file creation tool.">
    

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="og:url" content="https://visual-framework.github.io/vf-core//developing/components/creating-new-components/">
    <meta property="twitter:title" content="Creating a new component">
    <meta property="twitter:description" content="This codebase includes a folder and file creation tool.">
    
  </head>
  <body class=" vf-body" >
    <header class="vf-global-header | vf-search-client-side--no-index">

      <div class="vf-global-header__inner">
        
<a href="/vf-core/"
class="vf-logo | vf-logo--has-text">
  <img class="vf-logo__image" src="https://visual-framework.github.io/vf-core/assets/vf-logo/assets/logo.svg" alt="Visual Framework 2.0">
  <span class="vf-logo__text">Visual Framework 2.0</span>
</a>

        <nav class="vf-navigation vf-navigation--global">
          <ul class="vf-navigation__list | vf-list--inline">
            <li class="vf-navigation__item">
              <a href="/vf-core/" class="vf-navigation__link">About</a>
            </li>
            <li class="vf-navigation__item">
              <a href="/vf-core/components" class="vf-navigation__link">Components</a>
            </li>
            <li class="vf-navigation__item">
              <a href="/vf-core/developing" class="vf-navigation__link">Documentation</a>
            </li>
            <li class="vf-navigation__item">
              <a href="/vf-core/search" class="vf-navigation__link">Search</a>
            </li>
            <li class="vf-navigation__item">
              <a href="https://join.slack.com/t/visual-framework/shared_invite/enQtNDAxNzY0NDg4NTY0LWFhMjEwNGY3ZTk3NWYxNWVjOWQ1ZWE4YjViZmY1YjBkMDQxMTNlNjQ0N2ZiMTQ1ZTZiMGM4NjU5Y2E0MjM3ZGQ" class="vf-navigation__link">Help, chat</a>
            </li>
          </ul>
        </nav>
      </div>

    </header>
    
    
    <nav class="vf-breadcrumbs | vf-search-client-side--no-index" aria-label="Breadcrumb">
      <ul class="vf-breadcrumbs__list | vf-list vf-list--inline">
        <li class="vf-breadcrumbs__item">
          <a href="/vf-core/" class="vf-breadcrumbs__link">Visual Framework 2.0</a>
        </li>
        
        
          
          <li class="vf-breadcrumbs__item">
            <a href="." class="vf-breadcrumbs__link"></a>
          </li>
        
        
        
        
        <li class="vf-breadcrumbs__item">
          
            Creating a new component
          
        </li>
      </ul>
    </nav>
    

    <section class="vf-intro | embl-grid embl-grid--has-centered-content">
  <div></div>
  <div>
    <h1 class="vf-intro__heading">Creating a new component</h1>
<div class="vf-lede"><span class='vf-content'>This codebase includes a folder and file creation tool.</span>
</div>
<div class="vf-intro__text"><span class='vf-content'>It allows you to quickly create all the required files to make a component -- it gives you the option to create am element, block, or container.</span>
</div>
  </div>
</section>
<main class="vf-content | embl-grid embl-grid--has-centered-content">
<div></div>
<div>
<ol>
<li>Install Yeoman
<ul>
<li>If you've come this far and you don't have <code>yo</code>, you should be able to install it with <code>yarn global add yo@latest</code></li>
<li>If you get stuck, <a href="http://yeoman.io/codelab/setup.html">see the official install guide</a></li>
</ul>
</li>
<li>Create a new component
<ul>
<li>Run <a href="https://www.npmjs.com/package/@visual-framework/vf-component-generator"><code>vf-component-generator</code></a> and answer the questions when prompted.
<ul>
<li><strong>Type of component:</strong> We use a variation of the atomic design methodology, <a href="http://bradfrost.com/blog/post/atomic-web-design/#atoms">read about the differences here</a>. We use: elements, blocks, and containers.
<ul>
<li>an element would be a heading, or a button</li>
<li>a block would be a teaser, or a search form</li>
<li>a container would be a group of teasers</li>
</ul>
</li>
<li><strong>Name of component:</strong> Go for something simple and obvious (todo: we need a guide/documentation on how we name things). Don't worry about namespacing and prefixing, the tooling will take care of this.</li>
<li><strong>NPM package:</strong> If you're making something interesting (probably not an 'element'), then saying 'yes' will allow the component to be shared as an optional part of the framework on NPM.</li>
</ul>
</li>
<li>Your customised template component will is in the <code>/components</code> directory.</li>
</ul>
</li>
<li>Add the <code>@import 'vf-your-component.scss';</code> to <code>/assets/scss/styles.scss</code>.</li>
<li>Developing your component
<ul>
<li>Edit your template files in the <code>/components/your-component-name</code> folder
<ul>
<li>For further guidance on component configuration, <a href="https://github.com/visual-framework/vf-core/tree/develop/tools/component-generator/templates">consult the comments in the component template files</a>.</li>
</ul>
</li>
<li>Run <code>gulp vf-dev</code> to compile and preview the component</li>
</ul>
</li>
<li>Sharing you component back
<ul>
<li>Publish it to npm; and/or</li>
<li>If you think your component is useful to the global <code>vf-core</code> community, <a href="https://github.com/visual-framework/vf-core/pulls">make a Pull Request</a> or <a href="https://github.com/visual-framework/vf-core/issues/new/choose">open an issue</a> to discuss.</li>
</ul>
</li>
</ol>
 <div class="vf-box">
 Tip: also consult the [guidelines](/vf-core/developing/guidelines) for the naming of things and coding standards.
 </div>
<h2>Language and spelling of documentation, code</h2>
<p>The <code>vf-core</code> project is being led by EMBL where British English and we're aware that most code is American English (<code>colour</code> vs <code>color</code>); so:</p>
<ul>
<li>📚🇬🇧 Documentation is written in British English 💂‍ <code>Rarely use centred text, always use colours</code></li>
<li>⌨️🇺🇸 Code is written in American english 🧢 <code>$vf-main-color: green;</code></li>
</ul>
  <cite class="vf-cite">
    Last updated on <time datetime="Tue Apr 09 2019 12:24:50 GMT+0000 (Coordinated Universal Time)">Apr 9, 2019</time>
  </cite>
</div>
</main>
<!-- layout: layouts/developing.njk -->

    

<!-- This page was generated on Invalid DateTime -->
<script src="/vf-core/scripts/scripts.js"></script>

  </body>
</html>
