.vf-chatbot-fab {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 5000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
  padding: 0;
  border: none;
  border-radius: 50%;
  border-bottom-right-radius: 10%;
  background: #18974C;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.05);
    background: darken(#18974C, 10%);
  }

  &__icon {
    width: 24px;
    height: 24px;
    fill: #ffffff;
  }

  &--active {
    display: none;
  }
}
