$componentInfo: (
             name: "@visual-framework/vf-social-links",
             version: "0.0.1",
             location: "components/vf-social-links",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Fri, 06 Nov 2020 11:21:26 GMT"
          );