$componentInfo: (
             name: "@visual-framework/vf-social-links",
             version: "0.0.1",
             location: "components/vf-social-links",
             vfCoreVersion: "2.2.8",
             buildTimeStamp: "Fri, 23 Oct 2020 09:33:56 GMT"
          );