$componentInfo: (
             name: "@visual-framework/vf-social-links",
             version: "0.0.1",
             location: "components/vf-social-links",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Thu, 05 Nov 2020 12:33:55 GMT"
          );