$componentInfo: (
             name: "@visual-framework/vf-search-client-side",
             version: "1.0.0-alpha.3",
             location: "components/vf-search-client-side",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Thu, 05 Nov 2020 09:33:31 GMT"
          );