$componentInfo: (
             name: "@visual-framework/vf-search-client-side",
             version: "1.0.0-alpha.1",
             location: "components/vf-search-client-side",
             vfCoreVersion: "2.2.4"
          );