$componentInfo: (
             name: "@visual-framework/vf-search-client-side",
             version: "1.0.0-alpha.3",
             location: "components/vf-search-client-side",
             vfCoreVersion: "2.2.8",
             buildTimeStamp: "Tue, 20 Oct 2020 15:46:11 GMT"
          );