<div class="vf-grid{%- if vf_grid__columns %} vf-grid__col-{{vf_grid__columns}}{%- endif -%}">
  {% render '@vf-box--normal-primary' %}
  {% render '@vf-box--normal-primary' %}
  {% render '@vf-box--normal-primary' %}
  {% render '@vf-box--normal-primary' %}
  {% render '@vf-box--normal-primary' %}
  {% render '@vf-box--normal-primary' %}
  {% render '@vf-box--normal-primary' %}
  {% render '@vf-box--normal-primary' %}
</div>
