<style>
.vf-grid > p {
  background-color: rgb(141, 191, 226);
  margin-bottom: 12px;
}
.vf-pattern__container {
  /* max-width: 81.25em;
  margin: 0 auto; */
}

</style>

<div class="vf-grid">
  <p class="vf-text--body-r | vf-u-padding-l vf-u-text-color-white">1</p>
</div>


<div class="vf-grid">
  <p class="vf-text--body-r | vf-u-padding-l vf-u-text-color-white">1</p>
  <p class="vf-text--body-r | vf-u-padding-l vf-u-text-color-white">2</p>
</div>


<div class="vf-grid">
  <p class="vf-text--body-r | vf-u-padding-l vf-u-text-color-white">1</p>
  <p class="vf-text--body-r | vf-u-padding-l vf-u-text-color-white">2</p>
  <p class="vf-text--body-r | vf-u-padding-l vf-u-text-color-white">3</p>
</div>


<div class="vf-grid">
  <p class="vf-text--body-r | vf-u-padding-l vf-u-text-color-white">1</p>
  <p class="vf-text--body-r | vf-u-padding-l vf-u-text-color-white">2</p>
  <p class="vf-text--body-r | vf-u-padding-l vf-u-text-color-white">3</p>
  <p class="vf-text--body-r | vf-u-padding-l vf-u-text-color-white">4</p>
</div>


<div class="vf-grid">
  <p class="vf-text--body-r | vf-u-padding-l vf-u-text-color-white">1</p>
  <p class="vf-text--body-r | vf-u-padding-l vf-u-text-color-white">2</p>
  <p class="vf-text--body-r | vf-u-padding-l vf-u-text-color-white">3</p>
  <p class="vf-text--body-r | vf-u-padding-l vf-u-text-color-white">4</p>
  <p class="vf-text--body-r | vf-u-padding-l vf-u-text-color-white">5</p>
</div>


<div class="vf-grid">
  <p class="vf-text--body-r | vf-u-padding-l vf-u-text-color-white">1</p>
  <p class="vf-text--body-r | vf-u-padding-l vf-u-text-color-white">2</p>
  <p class="vf-text--body-r | vf-u-padding-l vf-u-text-color-white">3</p>
  <p class="vf-text--body-r | vf-u-padding-l vf-u-text-color-white">4</p>
  <p class="vf-text--body-r | vf-u-padding-l vf-u-text-color-white">5</p>
  <p class="vf-text--body-r | vf-u-padding-l vf-u-text-color-white">6</p>
</div>

<hr class="vf-divider" style="margin-bottom: 24px; margin-top: 12px;">

<div class="vf-grid vf-grid__col-2">
  <p class="vf-text--body-r | vf-u-padding-l vf-u-text-color-white">1</p>
  <p class="vf-text--body-r | vf-u-padding-l vf-u-text-color-white">2</p>
</div>

<div class="vf-grid vf-grid__col-3">
  <p class="vf-text--body-r | vf-u-padding-l vf-u-text-color-white">1</p>
  <p class="vf-text--body-r | vf-u-padding-l vf-u-text-color-white">2</p>
  <p class="vf-text--body-r | vf-u-padding-l vf-u-text-color-white">3</p>
</div>

<div class="vf-grid vf-grid__col-4">
  <p class="vf-text--body-r | vf-u-padding-l vf-u-text-color-white">1</p>
  <p class="vf-text--body-r | vf-u-padding-l vf-u-text-color-white">2</p>
  <p class="vf-text--body-r | vf-u-padding-l vf-u-text-color-white">3</p>
  <p class="vf-text--body-r | vf-u-padding-l vf-u-text-color-white">4</p>
</div>

<div class="vf-grid vf-grid__col-5">
  <p class="vf-text--body-r | vf-u-padding-l vf-u-text-color-white">1</p>
  <p class="vf-text--body-r | vf-u-padding-l vf-u-text-color-white">2</p>
  <p class="vf-text--body-r | vf-u-padding-l vf-u-text-color-white">3</p>
  <p class="vf-text--body-r | vf-u-padding-l vf-u-text-color-white">4</p>
  <p class="vf-text--body-r | vf-u-padding-l vf-u-text-color-white">5</p>
</div>

<div class="vf-grid vf-grid__col-6">
  <p class="vf-text--body-r | vf-u-padding-l vf-u-text-color-white">1</p>
  <p class="vf-text--body-r | vf-u-padding-l vf-u-text-color-white">2</p>
  <p class="vf-text--body-r | vf-u-padding-l vf-u-text-color-white">3</p>
  <p class="vf-text--body-r | vf-u-padding-l vf-u-text-color-white">4</p>
  <p class="vf-text--body-r | vf-u-padding-l vf-u-text-color-white">5</p>
  <p class="vf-text--body-r | vf-u-padding-l vf-u-text-color-white">6</p>

</div>
