// embl-logo

@import 'package.variables.scss';
// Debug information from component's `package.json`:
// ---
/*!
 * Component: #{map-get($componentInfo, 'name')}
 * Version: #{map-get($componentInfo, 'version')}
 * Location: #{map-get($componentInfo, 'location')}
 */

.embl-logo {
  background-image: url('../assets/embl-logo/assets/logo-medium.svg');
  background-repeat: no-repeat;
  background-size: auto 100%;
  color: set-ui-color(vf-ui-color--black);
  display: flex;
  height: 32px;
  text-decoration: none;
}

.embl-logo--extreme {
  height: 11vw;
  max-height: 96px;
  min-height: 32px;

  @media (min-width: 768px) {
    background-image: url('../assets/embl-logo/assets/logo.svg');
  }
}
