// embl-logo

@import 'package.variables.scss';
// Debug information from component's `package.json`:
// ---
/*!
 * Component: #{map-get($componentInfo, 'name')}
 * Version: #{map-get($componentInfo, 'version')}
 * Location: #{map-get($componentInfo, 'location')}
 */

.embl-logo {
  background-image: url('../assets/embl-logo/assets/logo-medium.svg');
  background-repeat: no-repeat;
  display: flex;
  flex: 1; // necessary for when embl-logo is inside flex-based containers like vf-global-header
  height: 2rem;
  text-decoration: none;

  @media (min-width: $vf-breakpoint--lg + 1) {
    background-image: url('../assets/embl-logo/assets/logo.svg');
    height: 3rem;
  }
}
