


.Preview-iframe {
  border: 1px solid #b3b3b3;
  padding: 0;
}
.Tree-depth-2 > h4 {
  font-size: 24px;
  margin-bottom: 12px;
}
.Tree-depth-3 {
  h4 {
    font-weight: 400;
  }
  ul {
    padding-left: 6px;
    margin-bottom: 12px;
  }
}

.Tree-depth-2 {
  & > h4 {
    margin-top: 24px;
  }
}

.select2 {
  display: none !important;
}

.Browser-controls {
  margin-bottom: 16px;
}


.Tree-entityLink {
  align-items: center;
  display: flex;
}


.Status,
.Status-dots {
  align-items: center;
  display: flex;
}

.Status-dot {
  background-color: white;
  border: 1px solid transparent;
  border-radius: 100%;
  height: .5rem;
  width: .5rem;
}

.Status-dot + .Status-dot {
  margin-left: 3px;
}

.Status-label {
  border-radius: 2rem;
  color: white;
  display: inline-block;
  font: normal .75rem/1.66667 'Open Sans', Helvetica, Arial, sans-serif;
  padding: .125rem .75rem;
  white-space: nowrap;
}

.Status-label + .Status-label {
  margin-left: 3px;
}

.Status--labelled {
  .Status-label {
    margin-right: 3px;
  }
}




/* this needs to become a 'vf-core-color'
   A proposal from Stu:
   - We keep vf-colors, and consider it the brand “theme colour stack” We stick with the set-color mixin for these.
   - We then have vf-core-colors for things that are agnostic to EMBL, uniprot etc (the light grey and light yellow for example) and have a set-core-color mixins for those things.
   - This paves the way for any future theming required but keeps colours that will forever be the same consistent.

   Ken: Yeah, I like that idea … `vf-colours` + an `embl-colours` that overrides some and adds more options that we need for EMBL.
   Mark: Me too. Almost like ‘interface colours’ > ‘brand colours’ > ‘sub-brand colours’ > ‘whatever’
*/
$colors-of-shame: (
  light-grey: #D8D8D8

)