


.Preview-iframe {
  border: 1px solid #b3b3b3;
  padding: 0;
}
.Tree-depth-2 > h4 {
  font-size: 24px;
  margin-bottom: 12px;
}
.Tree-depth-3 {
  h4 {
    font-weight: 400;
  }
  ul {
    padding-left: 6px;
    margin-bottom: 12px;
  }
}

.Tree-depth-2 {
  & > h4 {
    margin-top: 24px;
  }
}

.select2 {
  display: none !important;
}

.Browser-controls {
  margin-bottom: 16px;
}


.Tree-entityLink {
  align-items: center;
  display: flex;
}


.Status,
.Status-dots {
  align-items: center;
  display: flex;
}

.Status-dot {
  background-color: white;
  border: 1px solid transparent;
  border-radius: 100%;
  height: .5rem;
  width: .5rem;
}

.Status-dot + .Status-dot {
  margin-left: 3px;
}

.Status-label {
  border-radius: 2rem;
  color: white;
  display: inline-block;
  font: normal .75rem/1.66667 'Open Sans', Helvetica, Arial, sans-serif;
  padding: .125rem .75rem;
  white-space: nowrap;
}

.Status-label + .Status-label {
  margin-left: 3px;
}

.Status--labelled {
  .Status-label {
    margin-right: 3px;
  }
}
