

.Preview-iframe {
  border: 1px solid #b3b3b3;
  padding: 0;
}
.Tree-depth-2 > h4 {
  font-size: 24px;
  margin-bottom: 12px;
}
.Tree-depth-3 {
  h4 {
    font-weight: 400;
  }
  ul {
    padding-left: 6px;
    margin-bottom: 12px;
  }
}

.Tree-depth-2 {
  & > h4 {
    margin-top: 24px;
  }
}

.select2 {
  display: none !important;
}

.Browser-controls {
  margin-bottom: 16px;
}
