// retrieve color from $colors map ie. `set-color(base, primary)`

@function set-color($color-name) {
  @return map-get($vf-colors-map, $color-name);
}

@function set-ui-color($color-name) {
  @return map-get($vf-ui-colors-map, $color-name);
}


@function color($color-name) {
  $value: "vf-color--" + $color-name;
  @return map-get($vf-colors-map, $value);
}

@function ui-color($color-name) {
  $value: "vf-ui-color--" + $color-name;
  @return map-get($vf-ui-colors-map, $value);
}


@function neutral($color-name) {
  $value: "vf-color--" + $color-name;
  @return map-get($vf-color__neutral-map, $value);
}
