$componentInfo: (
             name: "@visual-framework/vf-search",
             version: "1.1.2",
             location: "components/vf-search",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Thu, 05 Nov 2020 11:32:01 GMT"
          );