:root {
  --vf-color-white: rgb(255, 255, 255);
  --vf-color-off-white: rgb(250, 250, 250);
  --vf-color-black: rgb(40, 45, 35);
  --vf-color-gray: rgb(112, 115, 114);
  --vf-color-gray-bright: rgb(185, 179, 168);
  --vf-color-gray-dark: rgb(84, 88, 90);
  --vf-color-green: rgb(0, 159, 77);
  --vf-color-green-bright: rgb(108, 194, 74);
  --vf-color-green-dark: rgb(0, 123, 83);
  --vf-color-light-green: rgb(168, 199, 0);
  --vf-color-light-green-bright: rgb(226, 232, 104);
  --vf-color-light-green-dark: rgb(132, 189, 0);
  --vf-color-ruby: rgb(228, 0, 70);
  --vf-color-ruby-bright: rgb(229, 143, 158);
  --vf-color-ruby-dark: rgb(166, 9, 61);
  --vf-color-yellow: rgb(255, 205, 0);
  --vf-color-yellow-bright: rgb(253, 215, 87);
  --vf-color-yellow-dark: rgb(255, 184, 28);
  --vf-color-purple: rgb(130, 70, 175);
  --vf-color-purple-bright: rgb(203, 163, 216);
  --vf-color-purple-dark: rgb(86, 61, 130);
  --vf-color-amber: rgb(255, 163, 0);
  --vf-color-amber-bright: rgb(190, 84, 0);
  --vf-color-amber-dark: rgb(239, 192, 110);
  --vf-color-azure: rgb(40, 122, 226);
  --vf-color-azure-bright: rgb(139, 184, 232);
  --vf-color-azure-dark: rgb(0, 61, 165);
}

:root {
  --vf-ui-color-black: rgb(0, 0, 0);
  --vf-ui-color-gray: rgb(243, 243, 243);
  --vf-ui-color-gray-light: rgb(216, 216, 216);
  --vf-ui-color-yellow: rgb(255, 250, 220);
  --vf-ui-color-red: rgb(211, 47, 47);
}

.vf-article-meta-information {
  display: grid;
}

.vf-article-meta-information > div {
  margin: 0 8px;
  margin-bottom: 12px;
  padding-top: 12px;
}

.vf-article-meta-information > div + div {
  border-top: 1px solid #b9b3a8;
}

.vf-article-meta-info__author {
  -ms-flex-line-pack: center;
      align-content: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.vf-article-meta-info__author .vf-author__name {
  -ms-flex-item-align: center;
      align-self: center;
  margin: 0 0 0 8px;
  word-spacing: 100vw;
}

.vf-article-meta-info__author .vf-author__title {
  -ms-flex-item-align: center;
      align-self: center;
  margin: 0 0 0 8px;
}

.vf-article-meta-info__author .vf-author--avatar,
.vf-article-meta-info__author .vf-link.vf-author--avatar__link {
  border: 1px solid black;
  border-radius: 500px;
  height: 48px;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  width: 48px;
}

.vf-article-meta-info__author .vf-link.vf-author--avatar__link .vf-author--avatar {
  border-width: 0;
}

.vf-meta__details .vf-meta__topics {
  color: #707372;
  margin: 0 0 4px 0;
}

.vf-meta__details .vf-meta__topics .vf-link {
  color: inherit;
  position: relative;
}

.vf-meta__details .vf-meta__topics .vf-link:nth-last-child(n+2),
.vf-meta__details .vf-meta__topics .vf-link:nth-last-child(n+2) ~ .vf-link {
  margin-right: 4px;
}

.vf-meta__details .vf-meta__topics .vf-link:nth-last-child(n+2)::before,
.vf-meta__details .vf-meta__topics .vf-link:nth-last-child(n+2) ~ .vf-link::before {
  content: ',';
  position: absolute;
  right: -4px;
}

.vf-meta__details .vf-meta__topics .vf-link:last-of-type::before {
  content: '' !important;
}

.vf-meta__details .vf-meta__date {
  color: #707372;
  margin: 0;
}

.vf-article-meta-info__links {
  padding: 0;
}

.vf-article-meta-info__links h6.vf-text--body-xs {
  color: #707372;
  font-weight: 400;
  margin-bottom: 8px;
}

.vf-article-meta-info__links .vf-link {
  display: block;
  margin-bottom: 4px;
}

.vf-meta__comments .vf-text--body-xs {
  color: #707372;
  margin: 0;
}
