$componentInfo: (
             name: "@visual-framework/vf-summary-container",
             version: "1.0.0",
             location: "components/vf-summary-container",
             vfCoreVersion: "2.2.5"
          );