
$vf-font-plex-mono-prefix: '..' !default;

@import 'mono/index';
// @import 'sans/index';
// @import 'sans-condensed/index';
// @import 'sans-hebrew/index';
// @import 'sans-thai/index';
// @import 'serif/index';
