<address class="vf-contact vf-contact--simple">

  <p class="vf-contact__name">Laura Howes</p>

  <p class="vf-contact__job-title">Social media manager</p>

  <img class="vf-contact__image" src="http://dev-embl-communications.pantheonsite.io/wp-content/uploads/2018/07/female-head-300x300.jpg" alt="image of the contact">
</address>
