// vf-contact

.vf-contact {
  --vf-contact__margin--bottom: 8px;

  align-items: flex-start;
  display: flex;
  flex-direction: column;
  font-style: normal; // the address element italicises any typography
  margin: 0 0 24px 0;

  /* we don't want the last phone number or email to have any bottom margin */
  > a:last-child {
    margin-bottom: 0;
  }

  /* In the source order the image is at the bottom. For the layout
   * the image needs to be between the contact details and links. So we set
   * the order of these with CSS, targetting the elements, rather than classes
   */
  p {
    order: 1;
  }

  img {
    order: 2;
  }

  a {
    order: 3;
  }

  /* We are using CSS custom properties, for IE11 we need a generic fallback */
  > * {
    margin: 0 0 12px 0;
  }
}

.vf-contact__team {
  --vf-contact__margin--bottom: 24px;
  
  @include set-type(heading--r);

  margin: 0 0 var(--vf-contact__margin--bottom) 0;
}

.vf-contact__name {
  margin: 0 0 var(--vf-contact__margin--bottom) 0;
}

.vf-contact__job-title {
  margin: 0 0 var(--vf-contact__margin--bottom) 0;
}

.vf-contact__image {
  // the image will be as large as possible unless within a smaller grid item
  margin: 0 0 var(--vf-contact__margin--bottom) 0;
  object-fit: contain;
}

.vf-contact__image--circle {
  border-radius: 50%;
}

.vf-contact__phone-number {
  color: set-color(vf-color-black);
  margin: 0 0 var(--vf-contact__margin--bottom) 0;
  position: relative;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.vf-contact__phone-number--mobile {
  &::after {
    content: '(mobile)';
    margin-left: 8px;
    position: absolute;
  }
}

.vf-contact__email {
  @include inline-link;

  margin-bottom: var(--vf-contact__margin--bottom);
}

// ----------------------------------------------------------------------
// variants
// ----------------------------------------------------------------------

// ----------------------------------------------------------------------
// Simple Contact Details Component

/* The simple contact component only contains the name, image, and job title.
 * With the same HTML being used we know the title should be the third
 * item being used in the component
 */

.vf-contact--simple {
  .vf-contact__job-title {
    order: 3;
  }
}

// ----------------------------------------------------------------------
// Horizontal Contact Details Component

/* The horizontal contact component has an image on the left and the text on
 * on the right.
 */

.vf-contact--horizontal {
  display: grid;
  grid-column-gap: 32px;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(6, min-content);

  > * {
    // we want all details of the contact to be in the 2nd column of the grid.
    grid-column: 2;
  }

  /* As the text is on the right, having a bottom margin on the last phone-number or a element causes the
  * avatar to look misaligned, removing the maring-bottom on it fixes this.
  */
  a:last-of-type {
    margin-bottom: 0;
  }

  .vf-contact__email {
    --vf-contact__margin--bottom: 18px;
  }

  .vf-contact__image {
    align-self: center;
    grid-column: 1;
    grid-row: 1 / -1;
    margin-bottom: 0;
    max-width: 170px;
  }
}
