// vf-footer

.vf-footer {
  background: set-color(vf-color-gray-bright);
  padding: 10px 0;
}

.vf-footer-grid {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: minmax(16px, 1fr) 81em minmax(16px, 1fr);
  grid-template-rows: 1fr 40px;

  > * {
    grid-column: 2;
  }
}
