<div class="vf-footer vf-footer-grid">

    <div class="vf-grid vf-grid__col-3">

      <div data-description="coloumn-1">
        <a class="vf-link" href="#">An inline link</a><br/>
        <a class="vf-link vf-link--hover" href="#">An inline link :hover</a><br/>
        <a class="vf-link vf-link--visited" href="#">An inline link :visited</a><br/>
        <a class="vf-link" href="#" disabled>An inline link :disabled</a>
      </div>

      <div data-description="coloumn-2">
        <a class="vf-link" href="#">An inline link</a><br/>
        <a class="vf-link vf-link--hover" href="#">An inline link :hover</a><br/>
        <a class="vf-link vf-link--visited" href="#">An inline link :visited</a><br/>
        <a class="vf-link" href="#" disabled>An inline link :disabled</a>
      </div>

      <div data-description="coloumn-3">
        <a class="vf-link" href="#">An inline link</a><br/>
        <a class="vf-link vf-link--hover" href="#">An inline link :hover</a><br/>
        <a class="vf-link vf-link--visited" href="#">An inline link :visited</a><br/>
        <a class="vf-link" href="#" disabled>An inline link :disabled</a>
      </div>

    </div>

    <div class="vf-grid vf-grid__col-1">

      <div data-description="coloumn-1">
        <p class="vf-text--body vf-text--body-s">&copy; Copyright notice</p>
      </div>

    </div>


</div>
