<div class="vf-box vf-box-vf-box--secondary vf-box--outline">
  <p class="vf-text vf-text--body-r">Sample content with a condtional edit link beneatht it.</p>
  <p class="vf-text vf-text--body-r">To see the edit link, append <code>?embl-conditional-edit=enabled</code> to the URL.</p>
  <p class="vf-text vf-text--body-r"><a class="vf-link embl-conditional-edit" href="#edit" target="_blank">Edit</a></p>
</div>

<div class="embl-coditional-edit__enabled | vf-box vf-box-vf-box--secondary vf-box--outline">
  <p class="vf-text vf-text--body-r">This section is wrapped in `.embl-coditional-edit__enabled`.</p>
  <p class="vf-text vf-text--body-r"><a class="vf-link embl-conditional-edit" href="#edit" target="_blank">Edit</a></p>
</div>
