.vf-form__textarea {
  border: 3px solid #f3f3f3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  padding: 12px;
  width: 100%;
}

.vf-form__textarea:focus {
  border-color: #54585a;
  outline: 0;
}
