:root {
  --vf-color-white: rgb(255, 255, 255);
  --vf-color-off-white: rgb(250, 250, 250);
  --vf-color-black: rgb(40, 45, 35);
  --vf-color-gray: rgb(112, 115, 114);
  --vf-color-gray-bright: rgb(185, 179, 168);
  --vf-color-gray-dark: rgb(84, 88, 90);
  --vf-color-green: rgb(0, 159, 77);
  --vf-color-green-bright: rgb(108, 194, 74);
  --vf-color-green-dark: rgb(0, 123, 83);
  --vf-color-light-green: rgb(168, 199, 0);
  --vf-color-light-green-bright: rgb(226, 232, 104);
  --vf-color-light-green-dark: rgb(132, 189, 0);
  --vf-color-ruby: rgb(228, 0, 70);
  --vf-color-ruby-bright: rgb(229, 143, 158);
  --vf-color-ruby-dark: rgb(166, 9, 61);
  --vf-color-yellow: rgb(255, 205, 0);
  --vf-color-yellow-bright: rgb(253, 215, 87);
  --vf-color-yellow-dark: rgb(255, 184, 28);
  --vf-color-purple: rgb(130, 70, 175);
  --vf-color-purple-bright: rgb(203, 163, 216);
  --vf-color-purple-dark: rgb(86, 61, 130);
  --vf-color-amber: rgb(255, 163, 0);
  --vf-color-amber-bright: rgb(190, 84, 0);
  --vf-color-amber-dark: rgb(239, 192, 110);
  --vf-color-azure: rgb(40, 122, 226);
  --vf-color-azure-bright: rgb(139, 184, 232);
  --vf-color-azure-dark: rgb(0, 61, 165);
}

:root {
  --vf-ui-color-black: rgb(0, 0, 0);
  --vf-ui-color-gray: rgb(243, 243, 243);
  --vf-ui-color-gray-light: rgb(216, 216, 216);
  --vf-ui-color-yellow: rgb(255, 250, 220);
  --vf-ui-color-red: rgb(211, 47, 47);
}

/* stylelint-disable order/order */
.vf-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.vf-grid > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 10px;
}

[class*='vf-grid__'] {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.vf-grid__col-2 > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 20px);
          flex: 0 0 calc(50% - 20px);
}

.vf-grid__col-3 > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(33.3333% - 20px);
          flex: 0 0 calc(33.3333% - 20px);
}

.vf-grid__col-4 > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(25% - 20px);
          flex: 0 0 calc(25% - 20px);
}

.vf-grid__col-5 > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(16% - 20px);
          flex: 0 0 calc(16% - 20px);
}

.vf-grid__col-6 > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(16.666666667% - 20px);
          flex: 0 0 calc(16.666666667% - 20px);
}

@media (max-width: 1023px) {
  .vf-grid {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .vf-grid > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 20px);
            flex: 0 0 calc(50% - 20px);
  }
}

@supports (display: grid) {
  .vf-grid {
    display: grid;
    grid-column: main;
    grid-column-gap: var(--page-grid-gap);
  }
  @media (min-width: 840px) {
    .vf-grid {
      grid-auto-flow: column;
    }
  }
  @media (max-width: 1299px) {
    .vf-grid {
      grid-column: 1 / -1;
    }
  }
  .vf-grid > * {
    margin: 0;
  }
  [class*='grid__'] {
    grid-auto-flow: unset;
  }
  .vf-grid__col-1 > * + * {
    border-top: 1px solid #707372;
    padding-top: 32px;
  }
  .vf-grid__col-1 > * + *:last-of-type {
    margin-bottom: 0;
  }
  .vf-grid__col-1 {
    grid-template-columns: repeat(1, 1fr);
  }
  @media (min-width: 768px) {
    .vf-grid__col-2 {
      grid-template-columns: repeat(2, 1fr);
    }
    .vf-grid__col-3 {
      grid-template-columns: repeat(3, 1fr);
    }
    .vf-grid__col-4 {
      grid-template-columns: repeat(2, 1fr);
    }
    .vf-grid__col-5 {
      grid-template-columns: repeat(3, 1fr);
    }
    .vf-grid__col-6 {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media (min-width: 1024px) {
    .vf-grid__col-4 {
      grid-template-columns: repeat(4, 1fr);
    }
    .vf-grid__col-5 {
      grid-template-columns: repeat(5, 1fr);
    }
    .vf-grid__col-6 {
      grid-template-columns: repeat(6, 1fr);
    }
  }
  .vf-grid__col--span-2 {
    grid-column-end: span 2;
  }
  .vf-grid__col--span-3 {
    grid-column-end: span 3;
  }
  .vf-grid__col--span-4 {
    grid-column-end: span 4;
  }
  .vf-grid__col--span-5 {
    grid-column-end: span 5;
  }
}

/* stylelint-enable order/order */
