:root {
  --vf-color--green: #009f4d;
  --vf-color--green--darkest: #115740;
  --vf-color--green--dark: #007a53;
  --vf-color--green--light: #6cc24a;
  --vf-color--green--lightest: #d0debb;
  --vf-color--grey: #707372;
  --vf-color--grey--darkest: #373a36;
  --vf-color--grey--dark: #54585a;
  --vf-color--grey--light: #a8a99e;
  --vf-color--grey--lightest: #d0d0ce;
  --vf-color--red: #e40046;
  --vf-color--red--dark: #a6093d;
  --vf-color--red--light: #e58f9e;
  --vf-color--blue: #307fe2;
  --vf-color--blue--dark: #003da5;
  --vf-color--blue--light: #8bb8e8;
  --vf-color--purple: #8246af;
  --vf-color--purple--dark: #563d82;
  --vf-color--purple--light: #cba3d8;
  --vf-color--orange: #ffa300;
  --vf-color--orange--dark: #be5400;
  --vf-color--orange--light: #efc06e;
  --vf-color--yellow: #ffcd00;
  --vf-color--yellow--dark: #ffb81c;
  --vf-color--yellow--light: #fdd757;
  --vf-color--bright-green: #a8c700;
  --vf-color--bright-green--dark: #84bd00;
  --vf-color--bright-green--light: #e2e868;
}

:root {
  --vf-ui-color--black: #000000;
  --vf-ui-color--grey: #f3f3f3;
  --vf-ui-color--grey--light: #d8d8d8;
  --vf-ui-color--yellow: #fffadc;
  --vf-ui-color--red: #d32f2f;
  --vf-ui-color--white: #ffffff;
  --vf-ui-color--off-white: #fafafa;
}

.vf-button {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 12px;
  text-decoration: none;
  -webkit-transition: .01s ease-in-out;
  transition: .01s ease-in-out;
}

.vf-button--primary {
  background-color: #307fe2;
  border: 2px solid #307fe2;
  color: #ffffff;
  -webkit-box-shadow: 0px 6px 0px 0px #003da5;
          box-shadow: 0px 6px 0px 0px #003da5;
  margin-bottom: 6px;
}

.vf-button--primary:visited {
  background-color: #54585a;
  border-color: #54585a;
}

.vf-button--primary:hover {
  background-color: #003da5;
  border-color: #003da5;
}

.vf-button--primary:hover {
  -webkit-box-shadow: 0px 2px 0px 0px #003da5;
          box-shadow: 0px 2px 0px 0px #003da5;
}

.vf-button--primary:hover:hover {
  position: relative;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.vf-button--primary:hover:hover:after {
  content: '';
  height: calc(100% + 4px + 2px);
  left: -.05%;
  position: absolute;
  width: 101%;
  z-index: -1;
  bottom: 0;
  top: calc(-4px - 2px);
}

.vf-text-button--secondary {
  background-color: #009f4d;
  border: 2px solid #009f4d;
  color: #ffffff;
  -webkit-box-shadow: 0px 6px 0px 0px #007a53;
          box-shadow: 0px 6px 0px 0px #007a53;
  margin-bottom: 6px;
}

.vf-text-button--secondary:visited {
  background-color: #54585a;
  border-color: #54585a;
}

.vf-text-button--secondary:hover {
  background-color: #007a53;
  border-color: #007a53;
}

.vf-text-button--secondary:hover {
  -webkit-box-shadow: 0px 2px 0px 0px #007a53;
          box-shadow: 0px 2px 0px 0px #007a53;
}

.vf-text-button--secondary:hover:hover {
  position: relative;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.vf-text-button--secondary:hover:hover:after {
  content: '';
  height: calc(100% + 4px + 2px);
  left: -.05%;
  position: absolute;
  width: 101%;
  z-index: -1;
  bottom: 0;
  top: calc(-4px - 2px);
}

.vf-button--tertiary {
  background-color: #54585a;
  border: 2px solid #54585a;
  color: #ffffff;
  -webkit-box-shadow: 0px 6px 0px 0px #707372;
          box-shadow: 0px 6px 0px 0px #707372;
  margin-bottom: 6px;
}

.vf-button--tertiary:visited {
  background-color: #54585a;
  border-color: #54585a;
}

.vf-button--tertiary:hover {
  background-color: #707372;
  border-color: #707372;
}

.vf-button--tertiary:hover {
  -webkit-box-shadow: 0px 2px 0px 0px #707372;
          box-shadow: 0px 2px 0px 0px #707372;
}

.vf-button--tertiary:hover:hover {
  position: relative;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.vf-button--tertiary:hover:hover:after {
  content: '';
  height: calc(100% + 4px + 2px);
  left: -.05%;
  position: absolute;
  width: 101%;
  z-index: -1;
  bottom: 0;
  top: calc(-4px - 2px);
}

.vf-button--outline.vf-button--primary {
  background-color: #ffffff;
  color: #307fe2;
}

.vf-button--outline.vf-button--primary:visited {
  background-color: #54585a;
  color: #ffffff;
}

.vf-button--outline.vf-button--primary:hover {
  background-color: #003da5;
  color: #ffffff;
}

.vf-button--outline.vf-text-button--secondary {
  background-color: #ffffff;
  color: #009f4d;
}

.vf-button--outline.vf-text-button--secondary:visited {
  background-color: #54585a;
  color: #ffffff;
}

.vf-button--outline.vf-text-button--secondary:hover {
  background-color: #007a53;
  color: #ffffff;
}

.vf-button--outline.vf-button--tertiary {
  background-color: #ffffff;
  color: #54585a;
}

.vf-button--outline.vf-button--tertiary:visited {
  background-color: #54585a;
  color: #ffffff;
}

.vf-button--outline.vf-button--tertiary:hover {
  background-color: #707372;
  color: #ffffff;
}

.vf-button--pill {
  border-radius: 500px;
}

.vf-button--rounded {
  border-radius: 16px;
}

.vf-text-button--2 {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  padding: 8px;
}

.vf-text-button--2.vf-text-button--rounded {
  border-radius: 8px;
}

.vf-text-button--1 {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  padding: 16px;
}
