.vf-button {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 12px;
  text-decoration: none;
}

.vf-button--primary {
  background-color: #287ae2;
  border: 2px solid #287ae2;
  color: white;
  -webkit-box-shadow: 0px 6px 0px 0px #003da5;
          box-shadow: 0px 6px 0px 0px #003da5;
  margin-bottom: 6px;
}

.vf-button--primary:visited {
  background-color: #54585a;
  border-color: #54585a;
}

.vf-button--primary:hover {
  background-color: #003da5;
  border-color: #003da5;
}

.vf-button--primary[disabled] {
  background-color: #b9b3a8;
  cursor: not-allowed;
}

.vf-button--primary:hover {
  -webkit-box-shadow: 0px 2px 0px 0px #003da5;
          box-shadow: 0px 2px 0px 0px #003da5;
  position: relative;
  top: 4px;
}

.vf-button--secondary {
  background-color: #009f4d;
  border: 2px solid #009f4d;
  color: white;
  -webkit-box-shadow: 0px 6px 0px 0px #007b53;
          box-shadow: 0px 6px 0px 0px #007b53;
  margin-bottom: 6px;
}

.vf-button--secondary:visited {
  background-color: #54585a;
  border-color: #54585a;
}

.vf-button--secondary:hover {
  background-color: #007b53;
  border-color: #007b53;
}

.vf-button--secondary[disabled] {
  background-color: #b9b3a8;
  cursor: not-allowed;
}

.vf-button--secondary:hover {
  -webkit-box-shadow: 0px 2px 0px 0px #007b53;
          box-shadow: 0px 2px 0px 0px #007b53;
  position: relative;
  top: 4px;
}

.vf-button--tertiary {
  background-color: #54585a;
  border: 2px solid #54585a;
  color: white;
  -webkit-box-shadow: 0px 6px 0px 0px #707372;
          box-shadow: 0px 6px 0px 0px #707372;
  margin-bottom: 6px;
}

.vf-button--tertiary:visited {
  background-color: #54585a;
  border-color: #54585a;
}

.vf-button--tertiary:hover {
  background-color: #707372;
  border-color: #707372;
}

.vf-button--tertiary[disabled] {
  background-color: #b9b3a8;
  cursor: not-allowed;
}

.vf-button--tertiary:hover {
  -webkit-box-shadow: 0px 2px 0px 0px #707372;
          box-shadow: 0px 2px 0px 0px #707372;
  position: relative;
  top: 4px;
}

.vf-button--outline--primary {
  background-color: white;
  border: 2px solid #287ae2;
  color: #287ae2;
}

.vf-button--outline--primary:visited {
  background-color: #54585a;
  border-color: #54585a;
  color: white;
}

.vf-button--outline--primary:hover {
  background-color: #003da5;
  border-color: #003da5;
  color: white;
}

.vf-button--outline--primary[disabled] {
  background-color: #b9b3a8;
  cursor: not-allowed;
}

.vf-button--outline--secondary {
  background-color: white;
  border: 2px solid #009f4d;
  color: #009f4d;
}

.vf-button--outline--secondary:visited {
  background-color: #54585a;
  border-color: #54585a;
  color: white;
}

.vf-button--outline--secondary:hover {
  background-color: #007b53;
  border-color: #007b53;
  color: white;
}

.vf-button--outline--secondary[disabled] {
  background-color: #b9b3a8;
  cursor: not-allowed;
}

.vf-button--outline--tertiary {
  background-color: white;
  border: 2px solid #54585a;
  color: #54585a;
}

.vf-button--outline--tertiary:visited {
  background-color: #54585a;
  border-color: #54585a;
  color: white;
}

.vf-button--outline--tertiary:hover {
  background-color: #707372;
  border-color: #707372;
  color: white;
}

.vf-button--outline--tertiary[disabled] {
  background-color: #b9b3a8;
  cursor: not-allowed;
}

.vf-button--pill {
  border-radius: 500px;
}

.vf-button--rounded {
  border-radius: 16px;
}

.vf-button--s {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.57;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  padding: 8px;
}

.vf-button--s.vf-button--rounded {
  border-radius: 8px;
}

.vf-button--l {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  padding: 16px;
}

[span*='Examples '] {
  display: none;
}
