// vf-button

.vf-button {
  @include set-type(text-button--1);

  appearance: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 12px;
  text-decoration: none;
  transition: .01s ease-in-out;
}

.vf-button--primary {
  @include button-link($vf-link--color, $vf-link--hover-color);

  box-shadow: 0px 6px 0px 0px $vf-link--hover-color;
  margin-bottom: 6px; // because we're using box-shadow we need to 'create the space' again

  &:hover {
    box-shadow: 0px 2px 0px 0px $vf-link--hover-color;
    @include vf-slide-on-hover(4px, 'down');
  }
}

.vf-text-button--secondary {
  @include button-link($vf-link--color: set-color(vf-color--green), $vf-link--hover-color: set-color(vf-color--green--dark));

  box-shadow: 0px 6px 0px 0px set-color(vf-color--green--dark);
  margin-bottom: 6px; // because we're using box-shadow we need to 'create the space' again

  &:hover {
    box-shadow: 0px 2px 0px 0px set-color(vf-color--green--dark);
    @include vf-slide-on-hover(4px, 'down');
  }
}

.vf-button--tertiary {
  @include button-link($vf-link--color: set-color(vf-color--grey--dark), $vf-link--hover-color: set-color(vf-color--grey));

  box-shadow: 0px 6px 0px 0px set-color(vf-color--grey);
  margin-bottom: 6px; // because we're using box-shadow we need to 'create the space' again

  &:hover {
    box-shadow: 0px 2px 0px 0px set-color(vf-color--grey);
    @include vf-slide-on-hover(4px, 'down');
  }
}

.vf-button--outline {

  &.vf-button--primary {
    @include button-link--ghost;
  }

  &.vf-text-button--secondary {
    @include button-link--ghost($vf-link--color: set-color(vf-color--green), $vf-link--hover-color: set-color(vf-color--green--dark));
  }

  &.vf-button--tertiary {
    @include button-link--ghost($vf-link--color: set-color(vf-color--grey--dark), $vf-link--hover-color: set-color(vf-color--grey));
  }
}

.vf-button--pill {
  border-radius: 500px;
}

.vf-button--rounded {
  border-radius: $vf-radius--md;
}

.vf-text-button--2 {
  @include set-type(text-button--2);

  padding: 8px;
  // @include padding(all, map-get($vf-spacing-map, vf-spacing--sm));

  &.vf-text-button--rounded {
    border-radius: 8px;
  }
}

.vf-text-button--1 {
  @include set-type(text-button--1);

  padding: 16px;
}
