.vf-global-header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border-bottom: solid 1px #707372;
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: minmax(var(--page-grid-gap), auto) minmax(auto, 76.5em) minmax(var(--page-grid-gap), auto);
  height: auto;
  margin-bottom: 16px;
  padding: .5rem 0;
}

.vf-global-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-column: 2 / -2;
}

.vf-global-header__site-name {
  -ms-flex-item-align: center;
      align-self: center;
  display: block;
  margin: 0;
}

.vf-global-header [class*='navigation'] {
  -ms-flex-item-align: center;
      align-self: center;
  margin-left: auto;
}

.vf-header .vf-masthead {
  display: grid;
  grid-template-columns: minmax(var(--page-grid-gap), auto) minmax(auto, 76.5em) minmax(var(--page-grid-gap), auto);
}

.vf-masthead__inner {
  grid-column: 2 / -2;
}

@media (min-width: 1024px) {
  .vf-masthead__inner {
    display: grid;
    grid-template-columns: calc(var(--embl-grid-module--prime) + var(--embl-grid-spacing-normaliser)) repeat(auto-fit, minmax(288px, 1fr));
    grid-template-rows: 48px 1fr;
  }
}

.vf-masthead__title {
  -ms-flex-item-align: unset;
      align-self: unset;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  grid-column: 1 / span 3;
  grid-row: 2;
}

.vf-masthead__heading {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.547;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  color: white;
}

.vf-masthead__sub-heading {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 500;
  line-height: 1.5;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  color: white;
}

.vf-masthead__heading__link {
  border-bottom: none;
  text-decoration: underline;
  color: white;
  color: white;
  text-decoration: none;
  z-index: 5150;
}

.vf-masthead__heading__link:visited {
  color: white;
  border-bottom: none;
  text-decoration: underline;
}

.vf-masthead__heading__link:hover {
  color: white;
  border-bottom: none;
  text-decoration: underline;
}

.vf-masthead__heading__link[disabled] {
  color: white;
  cursor: not-allowed;
  border-bottom: none;
  text-decoration: underline;
}

.vf-masthead__subheading {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.57;
  margin: 0 0 0 0;
  color: white;
  text-transform: uppercase;
}

.vf-masthead__subheading a {
  color: inherit;
  text-decoration: none;
  z-index: 5150;
}

.vf-masthead--with-title-block {
  grid-column-gap: 0;
}

.vf-masthead--with-title-block::before {
  background-color: #282d23;
  content: '';
  grid-column: 1 / 2;
  grid-row: 2 / 2;
}

.vf-masthead--with-title-block .vf-masthead__title {
  -ms-flex-item-align: unset;
      align-self: unset;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  grid-column: 2 / span 1;
  padding-right: 16px;
}

.vf-masthead--with-title-block .vf-masthead__title .vf-masthead__title-inner {
  background-color: #282d23;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-column: 3 / -2;
  padding-left: 16px;
}

.vf-masthead__form--search {
  -ms-flex-item-align: end;
      align-self: flex-end;
  grid-row: 2;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 12px;
  z-index: 5150;
}

.vf-masthead__form__item {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 6px;
}

.vf-masthead__button {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: #003da5;
  border: 0;
  color: white;
  margin-left: 8px;
  outline: 0;
  padding: 8px 12px;
}

.vf-masthead__button svg {
  fill: white;
  width: 16px;
}

.vf-masthead__form__label {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-bottom: 4px;
  text-shadow: 1px 1px 3px white;
}

.vf-masthead__form__input--text {
  -ms-flex-preferred-size: 79%;
      flex-basis: 79%;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-size: 18px;
  font-style: italic;
}

.search-examples {
  color: white;
  font-size: 12px;
  text-shadow: 1px 1px 0px black;
}

.search-examples a {
  color: white;
  text-shadow: 1px 1px 0px black;
}

.vf-navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.vf-navigation__heading {
  margin: 0;
}

.vf-header {
  background-position: top center;
  background-size: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: minmax(var(--page-grid-gap), auto) minmax(auto, 76.5em) minmax(var(--page-grid-gap), auto);
}

.vf-header > .vf-global-header {
  margin-bottom: -1px;
}

.vf-header__navigation {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: minmax(var(--page-grid-gap), auto) minmax(auto, 76.5em) minmax(var(--page-grid-gap), auto);
}

.vf-header__navigation > * {
  grid-column: 2 / -2;
}

.vf-header__navigation--site {
  background-color: #54585a;
}

.vf-header__navigation--site > * {
  margin-left: -16px;
}

.vf-header__navigation--additional {
  background-color: #54585a;
  grid-row: 2;
}
