:root {
  --vf-color--green: #009f4d;
  --vf-color--green--darkest: #115740;
  --vf-color--green--dark: #007a53;
  --vf-color--green--light: #6cc24a;
  --vf-color--green--lightest: #d0debb;
  --vf-color--grey: #707372;
  --vf-color--grey--darkest: #373a36;
  --vf-color--grey--dark: #54585a;
  --vf-color--grey--light: #d0d0ce;
  --vf-color--grey--lightest: #a8a99e;
  --vf-color--red: #e40046;
  --vf-color--red--dark: #a6093d;
  --vf-color--red--light: #e58f9e;
  --vf-color--blue: #307fe2;
  --vf-color--blue--dark: #003da5;
  --vf-color--blue--light: #8bb8e8;
  --vf-color--purple: #8246af;
  --vf-color--purple--dark: #563d82;
  --vf-color--purple--light: #cba3d8;
  --vf-color--orange: #ffa300;
  --vf-color--orange--dark: #be5400;
  --vf-color--orange--light: #efc06e;
  --vf-color--yellow: #ffcd00;
  --vf-color--yellow--dark: #ffb81c;
  --vf-color--yellow--light: #fdd757;
  --vf-color--bright-green: #a8c700;
  --vf-color--bright-green--dark: #84bd00;
  --vf-color--bright-green--light: #e2e868;
}

:root {
  --vf-ui-color--black: #000000;
  --vf-ui-color--grey: #f3f3f3;
  --vf-ui-color--grey--light: #d8d8d8;
  --vf-ui-color--yellow: #fffadc;
  --vf-ui-color--red: #d32f2f;
  --vf-ui-color--white: #ffffff;
  --vf-ui-color--off-white: #fafafa;
}

.vf-global-header {
  align-items: center;
  background-color: #ffffff;
  border-bottom: solid 1px #707372;
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: minmax(var(--page-grid-gap), auto) minmax(auto, 76.5em) minmax(var(--page-grid-gap), auto);
  height: auto;
  padding: .5rem 0;
}

.vf-global-header__inner {
  display: flex;
  grid-column: 2 / -2;
}

.vf-global-header__site-name {
  align-self: center;
  display: block;
  margin: 0;
}

.vf-global-header [class*='navigation'] {
  align-self: center;
  margin-left: auto;
}

.vf-masthead {
  --vf-masthead__color--foreround-default: var(--vf-ui-color--white);
  --vf-masthead__color--background-default: var(--vf-color--green);
  background-color: #009f4d;
  background-image: var(--vf-masthead__bg-image, none);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}

@media (min-width: 1024px) {
  .vf-masthead {
    padding-top: 48px;
  }
}

.vf-masthead__inner {
  display: flex;
  margin: 0 auto;
  max-width: 76.5em;
  width: 100%;
}

.vf-masthead__title {
  align-self: unset;
  display: inline-flex;
  flex-direction: column-reverse;
  z-index: 2;
}

.vf-masthead__heading {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.547;
  margin: 0 0 8px 0;
  color: var(--vf-masthead__color--foreground, var(--vf-masthead__color--foreround-default));
  display: flex;
  flex-direction: column;
}

.vf-masthead__heading--additional {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 500;
  line-height: 1.5;
  margin: 0 0 0 0;
  color: var(--vf-masthead__color--foreground, var(--vf-masthead__color--foreround-default));
  position: relative;
  top: -8px;
}

.vf-masthead__sub-heading {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 500;
  line-height: 1.5;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  color: var(--vf-masthead__color--foreground, var(--vf-masthead__color--foreround-default));
}

.vf-masthead__heading__link {
  color: #ffffff;
  color: inherit;
  text-decoration: none;
  z-index: 5150;
}

.vf-masthead__heading__link:visited {
  color: #ffffff;
}

.vf-masthead__heading__link:hover {
  color: #ffffff;
}

.vf-masthead__subheading {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.57;
  margin: 0 0 0 0;
  color: #ffffff;
  text-transform: uppercase;
}

.vf-masthead__subheading a {
  color: inherit;
  text-decoration: none;
  z-index: 5150;
}

.vf-masthead--with-title-block .vf-masthead__title {
  display: inline-flex;
  padding-right: 16px;
  padding-top: 16px;
  position: relative;
}

.vf-masthead--with-title-block .vf-masthead__title::before {
  content: '';
  display: inline-flex;
  flex-direction: column-reverse;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  height: 100%;
  padding-left: 16px;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50vw;
}

.vf-masthead--with-title-block .vf-masthead__subheading {
  z-index: 5150;
}

.vf-masthead__form--search {
  align-self: flex-end;
  grid-row: 2;
  justify-content: flex-end;
  margin-bottom: 12px;
  margin-left: auto;
  max-width: 288px;
  z-index: 5150;
}

.vf-masthead__form__item {
  color: #ffffff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 6px;
}

.vf-masthead__button {
  align-items: flex-end;
  border: 0;
  color: #ffffff;
  margin-left: 8px;
  outline: 0;
  padding: 8px 12px;
}

.vf-masthead__button svg {
  fill: #ffffff;
  width: 16px;
}

.vf-masthead__form__label {
  flex-basis: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  margin-bottom: 4px;
  text-shadow: 1px 1px 3px #ffffff;
}

.vf-masthead__form__input--text {
  flex-basis: 79%;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 18px;
  font-style: italic;
}

.search-examples {
  color: #ffffff;
  font-size: 12px;
  text-shadow: 1px 1px 0px #000000;
}

.search-examples a {
  color: #ffffff;
  text-shadow: 1px 1px 0px #000000;
}

.vf-navigation__list {
  display: flex;
  flex-direction: row;
}

.vf-navigation__heading {
  margin: 0;
}

.vf-header {
  background-position: top center;
  background-size: cover;
  box-sizing: border-box;
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: minmax(var(--page-grid-gap), auto) minmax(auto, 76.5em) minmax(var(--page-grid-gap), auto);
}

.vf-header .vf-navigation--main {
  grid-column: 2 / -2;
}

.vf-header .vf-navigation--additional {
  grid-column: 1 / -1;
  grid-row: 2;
}

.vf-header__navigation--site {
  background-color: #54585a;
}

.vf-header__navigation--site > * {
  margin-left: -16px;
}

.vf-header__navigation--additional {
  background-color: #54585a;
  grid-row: 2;
}

.vf-header > .vf-global-header {
  margin-bottom: -1px;
}

.vf-header--inlay {
  grid-column: 2 / -2;
}

.vf-header--inlay .vf-masthead__heading {
  padding: 0 1rem;
}

.vf-header--inlay .vf-navigation {
  grid-column: 1 / -1;
}
