// vf-box

@import 'vf-box.variables.scss';

.vf-box {
  background-color: set-color(vf-color--grey--dark);
  border-color: set-color(vf-color--grey--dark);
  box-sizing: border-box;
  color: set-ui-color(vf-ui-color--white);
  margin-bottom: $vf-box-outer-spacing;
  padding: 24px 16px;
  width: 100%;

  // we don't want the the last element within the component to have a bottom margin.
  & :last-child {
    margin: 0;
  }
}

.vf-box__heading {
  @include set-type(text-heading--4);
}

.vf-box__text {
  @include set-type(text-body--3);
}

// The CSS below is on notice

.vf-box--s {
  padding: 16px;
}

.vf-box--r {
  padding: 24px;
}

.vf-box--l {
  padding: 32px;
}

.vf-box--primary {
  background-color: set-color(vf-color--blue--dark);
  border-color: set-color(vf-color--blue--dark);
  color: set-ui-color(vf-ui-color--white);
}

.vf-box--secondary {
  background-color: set-color(vf-color--green);
  border-color: set-color(vf-color--green);
  color: set-ui-color(vf-ui-color--white);
}

.vf-box--tertiary {
  background-color: set-color(vf-color--grey--dark);
  border-color: set-color(vf-color--grey--dark);
  color: set-ui-color(vf-ui-color--white);
}

.vf-box--rounded {
  border-radius: 8px;
}

.vf-box--outline {
  background-color: transparent;
  border-style: solid;
  border-width: 2px;
  color: set-ui-color(vf-ui-color--black);
}
