// vf-box

@import 'package.variables.scss';
// Debug information from component's `package.json`:
// ---
/*!
 * Component: #{map-get($componentInfo, 'name')}
 * Version: #{map-get($componentInfo, 'version')}
 * Location: #{map-get($componentInfo, 'location')}
 */

@import 'vf-box.variables.scss';

.vf-box {
  --box-text-color: var( --vf-box-theme-color--foreground, var(--vf-theme-color--foreground, #{set-ui-color(vf-ui-color--black)}));
  --box-background-color: var(--vf-box-theme-color--background, var(--vf-theme-color--background, #{set-ui-color(vf-ui-color--white)}));

  background-color: set-ui-color(vf-ui-color--white);
  background-color: var(--box-background-color);
  box-sizing: border-box;
  color: set-ui-color(vf-ui-color--black);
  color: var(--box-text-color);
  display: block;
  margin-bottom: $vf-box-outer-spacing;
  padding: 24px 16px;
  width: 100%;

  // the last element within the component shouldn't have a bottom margin
  & :last-child {
    margin-bottom: 0;
  }
}

.vf-box--is-link {
  text-decoration: none;
  transition-duration: 250ms;
  transition-property: box-shadow;
  transition-timing-function: ease-in-out;

  &:hover {
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, .2);
    transition-duration: 250ms;
    transition-property: box-shadow;
    transition-timing-function: ease-in-out;
  }
}

.vf-box__heading {
  @include set-type(text-heading--4);
}

.vf-box__text {
  @include set-type(text-body--3);
}

// The CSS below is on notice

.vf-box--s {
  padding: 16px;
}

.vf-box--r {
  padding: 24px;
}

.vf-box--l {
  padding: 32px;
}

.vf-box--easy {
  --box-text-color: var(--vf-box-theme-color--background, var(--vf-theme-color--background));
  --box-background-color: #{set-ui-color(vf-ui-color--white)};

  border-bottom: 4px solid;
}

.vf-box--normal {
  --box-text-color: var(--vf-box-theme-color--foreground, var(--vf-theme-color--foreground, #{set-ui-color(vf-ui-color--white)}));
  --box-background-color: var(--vf-box-theme-color--background, var(--vf-theme-color--background, #{set-ui-color(vf-ui-color--black)}));
}

.vf-box-theme--primary {
  --vf-box-theme-color--foreground: #{set-ui-color(vf-ui-color--white)};
  --vf-box-theme-color--background: #{set-color(vf-color--green)};
}

.vf-box-theme--secondary {
  --vf-box-theme-color--foreground: #{set-ui-color(vf-ui-color--white)};
  --vf-box-theme-color--background: #{set-color(vf-color--blue)};
}

.vf-box-theme--tertiary {
  --vf-box-theme-color--foreground: #{set-ui-color(vf-ui-color--white)};
  --vf-box-theme-color--background: #{set-color(vf-color--grey)};
}

.vf-box-theme--quaternary {
  --vf-box-theme-color--foreground: #{set-ui-color(vf-ui-color--black)};
  --vf-box-theme-color--background: #{set-color(vf-color--yellow)};
}

.vf-box-theme--quinary {
  --vf-box-theme-color--background: #{set-ui-color(vf-ui-color--grey)};
  --vf-box-theme-color--foreground: #{set-ui-color(vf-ui-color--black)};
}

.vf-box--rounded {
  border-radius: 8px;
}

.vf-box--outline {
  background-color: transparent;
  border-style: solid;
  border-width: 2px;
}
