.vf-box--factoid {
  background-color: set-color(vf-color--green);
  border-color: set-color(vf-color--green);
}

.vf-box--factoid,
.vf-box--factoid .vf-box__text,
.vf-box--factoid .vf-box__heading {
  color: set-ui-color(vf-ui-color--white);
}
