$componentInfo: (
             name: "@visual-framework/vf-global-header",
             version: "3.0.1",
             location: "components/vf-global-header",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Thu, 05 Nov 2020 09:33:30 GMT"
          );