$componentInfo: (
             name: "@visual-framework/vf-global-header",
             version: "2.0.2",
             location: "components/vf-global-header",
             vfCoreVersion: "2.2.3"
          );