$componentInfo: (
             name: "@visual-framework/vf-global-header",
             version: "3.0.1",
             location: "components/vf-global-header",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Wed, 28 Oct 2020 09:50:49 GMT"
          );