:root {
  --vf-color--green: #18974c;
  --vf-color--green--darkest: #0a5032;
  --vf-color--green--dark: #007b53;
  --vf-color--green--light: #6cc24a;
  --vf-color--green--lightest: #d0debb;
  --vf-color--grey: #707372;
  --vf-color--grey--darkest: #373a36;
  --vf-color--grey--dark: #54585a;
  --vf-color--grey--light: #a8a99e;
  --vf-color--grey--lightest: #d0d0ce;
  --vf-color--red: #d41645;
  --vf-color--red--dark: #a6093d;
  --vf-color--red--light: #e58f9e;
  --vf-color--blue: #3b6fb6;
  --vf-color--blue--dark: #193f90;
  --vf-color--blue--light: #8bb8e8;
  --vf-color--purple: #734595;
  --vf-color--purple--dark: #563d82;
  --vf-color--purple--light: #cba3d8;
  --vf-color--orange: #f49e17;
  --vf-color--orange--dark: #b65417;
  --vf-color--orange--light: #efc06e;
  --vf-color--yellow: #f4c61f;
  --vf-color--yellow--dark: #ffb81c;
  --vf-color--yellow--light: #fdd757;
  --vf-color--bright-green: #a1be1f;
  --vf-color--bright-green--dark: #7fb428;
  --vf-color--bright-green--light: #e2e868;
}

:root {
  --vf-ui-color--black: #000000;
  --vf-ui-color--grey: #d8d8d8;
  --vf-ui-color--grey--light: #f3f3f3;
  --vf-ui-color--yellow: #fffadc;
  --vf-ui-color--red: #d32f2f;
  --vf-ui-color--white: #ffffff;
  --vf-ui-color--off-white: #fafafa;
}

/*!
 * Component: @visual-framework/vf-logo
 * Version: 1.0.1
 * Location: components/vf-logo
 */
.vf-logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 32px;
  text-decoration: none;
}

.vf-logo__image {
  --vf-logo-margin-right: 8px;
  height: 32px;
  margin-right: 16px;
  margin-right: var(--vf-logo-margin-right);
}

@media (min-width: 500px) {
  .vf-logo__image {
    --vf-logo-margin-right: 16px;
  }
}

@media (min-width: 999px) {
  .vf-logo__image {
    --vf-logo-margin-right: 16px;
  }
}

.vf-logo--extreme .vf-logo__image {
  height: 11vw;
  max-height: 96px;
  min-height: 32px;
}

.vf-logo__text {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.71;
  margin: 0 0 0 0;
  -ms-flex-item-align: center;
      align-self: center;
}

/*!
 * Component: @visual-framework/vf-navigation
 * Version: 1.2.1
 * Location: components/vf-navigation
 */
.vf-navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.vf-navigation__heading {
  margin: 0;
}

/*!
 * Component: @visual-framework/vf-global-header
 * Version: 1.0.0
 * Location: components/vf-global-header
 */
.vf-global-header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  grid-column: 1 / -1;
  height: auto;
  margin: 0 auto;
  max-width: 78.5em;
  padding: .5rem;
  width: 100%;
}

.vf-global-header .vf-logo,
.vf-global-header .embl-logo {
  margin-bottom: 8px;
  margin-right: 16px;
}

.vf-global-header .vf-navigation--global .vf-navigation__item:not(:first-child) {
  margin-left: 8px;
}

@media (min-width: 1024px) {
  .vf-global-header {
    padding: .5em 1em;
  }
}

.vf-global-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.vf-global-header__site-name {
  -ms-flex-item-align: center;
      align-self: center;
  display: block;
  margin: 0 16px 8px 0;
}

.vf-global-header .vf-navigation {
  margin-bottom: 8px;
}

.vf-global-header [class*='navigation'] {
  -ms-flex-item-align: center;
      align-self: center;
}

@media (min-width: 1024px) {
  .vf-global-header [class*='navigation'] {
    margin-left: auto;
  }
}
