// vf-section-header

@import 'package.variables.scss';
// Debug information from component's `package.json`:
// ---
/*!
 * Component: #{map-get($componentInfo, 'name')}
 * Version: #{map-get($componentInfo, 'version')}
 * Location: #{map-get($componentInfo, 'location')}
 */

.vf-section-header__heading {
  @include set-type(text-heading--3);

  align-items: center;
  display: flex;
  margin: 0;
  & > svg {
    fill: currentColor;
    margin-left: 8px;
    transition-duration: 150ms;
    transition-property: transform;
    transition-timing-function: linear;
  }

  &:hover {
    & > svg {
      transform: translateX(2px);
      transition-duration: 150ms;
      transition-property: transform;
      transition-timing-function: linear;
    }
  }
}


a.vf-section-header__heading {
  color: set-color(vf-color--blue);
  text-decoration: none;
}
