// vf-section-header

@import 'package.variables.scss';
// Debug information from component's `package.json`:
// ---
/*!
 * Component: #{map-get($componentInfo, 'name')}
 * Version: #{map-get($componentInfo, 'version')}
 * Location: #{map-get($componentInfo, 'location')}
 */

.vf-section-header__heading {
  @include set-type(text-heading--3, $custom-margin-bottom: 24px);
}
a.vf-section-header__heading {
  color: set-color(vf-color--blue);
  cursor: pointer;

  .vf-section-header__icon {
    fill: currentColor;
    margin-left: 4px;
    transform: translateY(4px);
    transition-duration: 125ms;
    transition-property: transformX;
    transition-timing-function: cubic-bezier(.45, .05, .55, .95);
  }

  &:hover {
    .vf-section-header__icon {
      transform: translateX(4px) translateY(4px);
    }
  }
}

.vf-section-header__subheading {
  @include set-type(text-heading--3, $custom-margin-bottom: 0);
}
