{% if href %}
  {% set tags = 'a' %}
{% else %}
  {% set tags = 'span' %}
{% endif %}

<div class="vf-section-header">
  <{{tags}} {% if href %}href="{{href}}"{% endif %} class="vf-section-header__heading">{{ section_title }}</{{tags}}>
</div>
