// vf-navigation

.vf-navigation--inner {
  display: flex;
  grid-column: 2 / -2;
}

.vf-navigation__heading {
  color: set-color(vf-color-gray-bright);
  font-weight: 500;
  margin: 0 40px 0 0;
  text-transform: uppercase;
}

.vf-navigation__list {
  display: flex;
  flex-direction: row;
}

.vf-navigation--primary {
  background-color: set-color(vf-color-gray-dark);
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: minmax(var(--page-grid-gap), auto) minmax(auto, $global-page-max-width) minmax(var(--page-grid-gap), auto);
  // height: 60px;

  & > .vf-navigation {
    grid-column: 2 / -2;
    @media (min-width: $vf-breakpoint-l) {
      height: 100%;
    }
  }

  .vf-navigation__list {
    display: block;
    @media (min-width: $vf-breakpoint-l) {
      align-items: center;
      display: flex;
      height: 100%;
    }
  }

  .vf-navigation__item {
    @include set-type(heading--l);

    display: block;
    margin: 0;

    &:first-child {
      padding-left: 0;
    }

    &.is-active {
      align-items: center;
      background-color: set-color(vf-color-white);
      display: flex;
      height: 100%;

      .vf-navigation__link {
        color: set-color(vf-color-black);
        display: block;
      }
    }

    &:hover {
      align-items: center;
      background-color: set-color(vf-color-white);
      display: flex;
      height: 100%;

      .vf-navigation__link {
        color: set-color(vf-color-black);
        display: block;
      }
    }

    @media (min-width: $vf-breakpoint-l) {
      padding: 0 16px;
    }
  }

  .vf-navigation__link {
    @include inline-link(
      $vf-link-color: set-color(vf-color-white),
      $vf-link-hover-color: set-color(vf-color-white)
    );

    display: block;
    text-decoration: none;

    &:visited {
      color: set-color(vf-color-white);
    }
  }
}

.vf-navigation--secondary {
  align-items: center;
  background-color: set-color(vf-color-gray-dark);
  border: 0px solid set-color(vf-color-gray);
  border-width: 1px 0 1px 0;
  display: grid;
  grid-column: 1 / -1;
  grid-row: 2;
  grid-template-columns: minmax(var(--page-grid-gap), auto) minmax(auto, $global-page-max-width) minmax(var(--page-grid-gap), auto);
  padding: 4px 0;
  text-transform: uppercase;
}

.vf-navigation--secondary {
  .vf-navigation--inner {
    display: block;
    flex-direction: row;
    position: relative;

    @media (min-width: 800px) {
      display: grid;
      flex-direction: unset;
      grid-column: 1 / -1;
      grid-template-columns: minmax(var(--page-grid-gap), auto) minmax(auto, $global-page-max-width) minmax(var(--page-grid-gap), auto);
    }
  }

  .vf-navigation {

    @media (min-width: 800px) {
      align-self: center;
      display: flex;
      grid-column: 2 / span 1;
      position: absolute;
      right: 0;
    }
  }

  .vf-navigation__heading {
    grid-column: 2 / span 1;
    margin: 0;

    @media (max-width: 799px) {
      margin-bottom: 1rem;
    }
  }

  .vf-navigation__list {
    @media (max-width: 799px) {
      display: block;
    }
  }

  .vf-navigation__item:not(:first-child) {
    margin-left: 1rem;
    @media (min-width: 800px) {
      margin-left: 2rem;
    }
  }
  .vf-navigation__link {
    @include inline-link(
      $vf-link-color: #e1e1e1,
      $vf-link-hover-color: set-color(vf-color-white)
    );

    text-decoration: none;
  }
}

.vf-navigation--tertiary {
  .vf-navigation__item:not(:first-child) {
    margin-left: 24px;
  }

  .vf-navigation__link {
    @include inline-link(
      $vf-link-color: set-color(vf-color-gray-dark),
      $vf-link-hover-color: set-color(vf-color-black)
    );

    text-decoration: none;
  }
}
