// vf-navigation
@import 'vf-navigation.variables.scss';

.vf-navigation--additional {
  background-color: set-color(vf-color--grey--dark);
  border: 0px solid set-color(vf-color--grey);
  border-width: 1px 0 1px 0;
  box-sizing: border-box;
  display: flex;
  margin: 0 auto;
  max-width: 76.5em;
  padding: 4px 0;
  position: relative;
  text-transform: uppercase;
  width: 100%;

  &::before {
    background-color: inherit;
    border: 0px solid set-color(vf-color--grey);
    border-width: 1px 0 1px 0;
    box-sizing: border-box;
    content: '';
    height: calc(100% + 1px);
    left: 50%;
    margin: 0 -50vw;
    position: absolute;
    right: 50%;
    top: 0;
    width: 100vw;
    z-index: set-layer(vf-z-index--negative);
  }

  .vf-navigation__heading {
    color: set-ui-color(vf-ui-color--white);
    padding-top: 6px; // magic number
  }

  .vf-navigation__list {
    margin-left: auto;
    padding-top: 5px; // magic number
  }

  .vf-navigation__item:not(:first-child) {
    margin-left: 24px;
  }


  .vf-navigation__link {
    @include inline-link(
      $vf-link--color: set-ui-color(vf-ui-color--off-white),
      $vf-link--visited-color: set-ui-color(vf-ui-color--white),
      $vf-link--hover-color: set-ui-color(vf-ui-color--white)
    );

    text-decoration: none;
  }

}
