
.vf-navigation--global {
  
  .vf-navigation__item:not(:first-child) {
    margin-left: 24px;
  }

  .vf-navigation__link {
    @include inline-link(
      $vf-link--color: set-color(vf-color--grey--dark),
      $vf-link--hover-color: set-ui-color(vf-ui-color--black)
    );

    text-decoration: none;
  }
}
