.vf-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.71;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-list__item {
  margin-bottom: 16px;
}

.vf-list--l {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  line-height: 1.421;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-list--ordered {
  margin: 0;
  list-style-type: decimal;
  padding-left: 16px;
}

.vf-list--ordered__item {
  margin-bottom: 16px;
}

.vf-list--unordered {
  margin: 0;
  padding-left: 16px;
  list-style-type: disc;
}

.vf-list--unordered__item {
  margin-bottom: 16px;
}

.vf-list--inline {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.vf-list--inline [class*=__item] {
  display: inline;
}

.vf-list--inline__item {
  margin-bottom: 16px;
}

.vf-list__link {
  color: #287ae2;
}

.vf-list__link:visited {
  color: #54585a;
}

.vf-list__link:hover {
  color: #003da5;
}

.vf-list__link[disabled] {
  color: #b9b3a8;
  cursor: not-allowed;
}

.vf-navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.vf-navigation__heading {
  margin: 0;
}

.vf-navigation--global .vf-navigation__item:not(:first-child) {
  margin-left: 24px;
}

.vf-navigation--global .vf-navigation__link {
  color: #54585a;
  text-decoration: none;
}

.vf-navigation--global .vf-navigation__link:visited {
  color: #54585a;
}

.vf-navigation--global .vf-navigation__link:hover {
  color: #282d23;
}

.vf-navigation--global .vf-navigation__link[disabled] {
  color: #b9b3a8;
  cursor: not-allowed;
}

.vf-navigation--main {
  background-color: #54585a;
}

.vf-navigation--main .vf-navigation__list {
  display: block;
}

@media (min-width: 1024px) {
  .vf-navigation--main .vf-navigation__list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
  }
}

.vf-navigation--main .vf-navigation__item {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 500;
  line-height: 1.5;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  display: block;
  margin: 0;
}

.vf-navigation--main .vf-navigation__item.is-active {
  background-color: white;
}

.vf-navigation--main .vf-navigation__item.is-active .vf-navigation__link {
  color: #282d23;
}

.vf-navigation--main .vf-navigation__item:hover {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.vf-navigation--main .vf-navigation__item:hover .vf-navigation__link {
  color: #282d23;
  display: block;
}

@media (min-width: 1024px) {
  .vf-navigation--main .vf-navigation__item {
    padding: 0 calc(var(--page-grid-gap) / 2);
  }
}

.vf-navigation--main .vf-navigation__link {
  color: white;
  text-decoration: none;
}

.vf-navigation--main .vf-navigation__link:visited {
  color: #54585a;
}

.vf-navigation--main .vf-navigation__link:hover {
  color: white;
}

.vf-navigation--main .vf-navigation__link[disabled] {
  color: #b9b3a8;
  cursor: not-allowed;
}

.vf-navigation--main .vf-navigation__link:visited {
  color: white;
}

.vf-navigation--additional {
  background-color: #54585a;
  border: 0px solid #707372;
  border-width: 1px 0 1px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4px 0;
  text-transform: uppercase;
}

.vf-navigation--additional .vf-navigation__heading {
  color: white;
}

.vf-navigation--additional .vf-navigation__list {
  margin-left: auto;
}

.vf-navigation--additional .vf-navigation__item:not(:first-child) {
  margin-left: 24px;
}

.vf-navigation--additional .vf-navigation__link {
  color: #fafafa;
  text-decoration: none;
}

.vf-navigation--additional .vf-navigation__link:visited {
  color: #54585a;
}

.vf-navigation--additional .vf-navigation__link:hover {
  color: white;
}

.vf-navigation--additional .vf-navigation__link[disabled] {
  color: #b9b3a8;
  cursor: not-allowed;
}
