<aside class="vf-article-meta-information">
  <div class="vf-author | vf-article-meta-info__author">
    <p class="vf-author__name | vf-text--body-xs">
      <a class="vf-link" href="#">{{ author__name }}</a>
    </p>
   <a class="vf-author--avatar__link | vf-link" href="#">
     <!-- wrapping the avatar in a link is optional -->
     <img class="vf-author--avatar" src="{{ author__avatar }}" alt="FirstName Surname" />
   </a>
  </div>
  <div class="vf-meta__details">
    <p class="vf-meta__topics | vf-text--body-xs">Topic:
      {% for item in meta__topics %}
      <a href="JavaScript:Void(0);" class="vf-link">{{ item }}</a>
      {% endfor %}
    <p class="vf-meta__date | vf-text--body-xs">{{ meta__date }}</p>
  </div>
  <div class="vf-meta__comments">
    <p class="vf-text--body-xs">Comments — <a href="JavaScript:Void(0);" class="vf-link">{{ meta__comment_count }}</a></p>
  </div>
  <div class="vf-links | vf-article-meta-info__links">
    <h6 class="vf-text vf-text--body-xs">{{ meta__links_title}}</h6>
    {% for item in meta__links %}
      <a href="JavaScript:Void(0);" class="vf-link | vf-text--body-xs">{{ item }}</a>
    {% endfor %}
  </div>
</aside>
