// vf-article-meta-information

.vf-article-meta-information {
  display: grid;

  & > div {
    margin: 0 8px;
    margin-bottom: 12px;
    padding-top: 12px;
  }

  & > div + div {
    border-top: 1px solid set-color(vf-color--grey--light);
  }
}

.vf-article-meta-info__author {
  align-content: center;
  display: inline-flex;

  .vf-author__name {
    align-self: center;
    margin: 0 0 0 8px;
    word-spacing: 100vw; // so first name and surname split
  }

  .vf-author__title {
    align-self: center;
    margin: 0 0 0 8px;

    // span {
    //   display: block;
    // }
  }

  .vf-author--avatar,
  .vf-link.vf-author--avatar__link {
    border: 1px solid set-ui-color(vf-ui-color--black);
    border-radius: 500px;
    height: 48px;
    order: -1;
    width: 48px;
  }

  .vf-link.vf-author--avatar__link .vf-author--avatar {
    border-width: 0;
  }

}

.vf-meta__details {
  .vf-meta__topics {
    color: set-color(vf-color--grey);
    margin: 0 0 4px 0;
    .vf-link {
      color: inherit;
      position: relative;
    }
    .vf-link:nth-last-child(n+2),
    .vf-link:nth-last-child(n+2) ~ .vf-link {
      margin-right: 4px;

      &::before {
        content: ',';
        position: absolute;
        right: -4px;
      }
    }

    .vf-link:last-of-type {
      &::before {
        content: '' !important;
      }
    }
  }

  .vf-meta__date {
    color: set-color(vf-color--grey);
    margin: 0;
  }
}


.vf-article-meta-info__links {
  padding: 0;

  h6.vf-text--body-xs {
    color: set-color(vf-color--grey);
    font-weight: 400;
    margin-bottom: 8px;
  }

  .vf-link {
    display: block;
    margin-bottom: 4px;
  }
}


.vf-meta__comments {

  .vf-text--body-xs {
    color: set-color(vf-color--grey);
    margin: 0;
  }
}
