$componentInfo: (
             name: "@visual-framework/embl-conditional-edit",
             version: "1.0.2",
             location: "components/embl-conditional-edit",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Mon, 09 Nov 2020 11:16:18 GMT"
          );