$componentInfo: (
             name: "@visual-framework/embl-conditional-edit",
             version: "1.0.2",
             location: "components/embl-conditional-edit",
             vfCoreVersion: "2.2.8",
             buildTimeStamp: "Fri, 23 Oct 2020 10:02:05 GMT"
          );