$componentInfo: (
             name: "@visual-framework/embl-conditional-edit",
             version: "1.0.2",
             location: "components/embl-conditional-edit",
             vfCoreVersion: "2.2.8",
             buildTimeStamp: "Wed, 21 Oct 2020 09:23:50 GMT"
          );