<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://assets.emblstatic.net/vf/v2.2.9/css/styles.css">
    <!--
      Want to build a site with the Visual Framework?
      ---
      You can copy the CSS and JS you find here, but for the best experience see the building guide:
      https://visual-framework.github.io/vf-core/building/
    -->
    <title>vf-analytics-google | The Visual Framework 2.0</title>
    <link rel="shortcut icon" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/favicon.ico">
<link rel="apple-touch-icon" sizes="180x180" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/favicon-16x16.png">
<link rel="manifest" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/site.webmanifest">
<link rel="mask-icon" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/safari-pinned-tab.svg" color="#ffffff">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

    <!-- Descriptive meta -->
    <meta name="title" content="Local components">
    <meta name="author" content="EMBL">
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://visual-framework.github.io/vf-core//components/vf-analytics-google/">
    <meta property="og:title" content="Local components">
    <meta property="og:description" content="">
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="og:url" content="https://visual-framework.github.io/vf-core//components/vf-analytics-google/">
    <meta property="twitter:title" content="Local components">
    <meta property="twitter:description" content="">
    <!-- Feed -->
    <link href="https://visual-framework.github.io/vf-core/feed.xml" type="application/rss+xml" rel="alternate" title="Visual Framework 2.0 Updates">
  </head>
  <body class=" vf-body" >
    <header class="vf-global-header | vf-search-client-side--no-index">

      <div class="vf-global-header__inner">
        
<a href="/vf-core/"
class="vf-logo | vf-logo--has-text">
  <img class="vf-logo__image" src="https://visual-framework.github.io/vf-core/assets/vf-logo/assets/logo.svg" alt="Visual Framework 2.0" loading="eager">
  <span class="vf-logo__text vf-u-sr-only">Visual Framework 2.0</span>
</a>

        <nav class="vf-navigation vf-navigation--global">
          <ul class="vf-navigation__list | vf-list--inline">
            <li class="vf-navigation__item">
              <a href="/vf-core/about" class="vf-navigation__link">About</a>
            </li>
            <li class="vf-navigation__item">
              <a href="/vf-core/components" class="vf-navigation__link">Components</a>
            </li>
            <li class="vf-navigation__item">
              <a href="/vf-core/patterns" class="vf-navigation__link">Examples</a>
            </li>
            <li class="vf-navigation__item">
              <a href="/vf-core/search" class="vf-navigation__link">Search</a>
            </li>
            <li class="vf-navigation__item">
              <a href="https://join.slack.com/t/visual-framework/shared_invite/enQtNDAxNzY0NDg4NTY0LWFhMjEwNGY3ZTk3NWYxNWVjOWQ1ZWE4YjViZmY1YjBkMDQxMTNlNjQ0N2ZiMTQ1ZTZiMGM4NjU5Y2E0MjM3ZGQ" class="vf-navigation__link">Help, chat</a>
            </li>
          </ul>
        </nav>
      </div>

    </header>
    
    
    <nav class="vf-breadcrumbs | vf-search-client-side--no-index" aria-label="Breadcrumb">
      <ul class="vf-breadcrumbs__list | vf-list vf-list--inline">
        <li class="vf-breadcrumbs__item">
          <a href="/vf-core/" class="vf-breadcrumbs__link">The Visual Framework 2.0</a>
        </li>
        
          
        
        
          
            
            
            <li class="vf-breadcrumbs__item">
              <a href="/vf-core/components" class="vf-breadcrumbs__link">Components</a>
            </li>
          
        
        
        
          
        
        
        <li class="vf-breadcrumbs__item">
          
            vf-analytics-google
          
        </li>
      </ul>
    </nav>
    

    <div class="embl-grid">
  <div class="vf-search-client-side--no-index">

<div class="vf-links vf-links--tight vf-links__list--s | vf-u-margin__top--500">
  <h3 class="vf-links__heading">Components</h3>
  <ul class="vf-links__list vf-links__list--secondary | vf-list">
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/ebi-header-footer">
        EBI Header and Footer
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/ebi-vf1-integration">
        Compatibility with EBI-VF 1.x Component
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/embl-breadcrumbs-lookup">
        EMBL Breadcrumbs lookup
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/embl-conditional-edit">
        EMBL Conditional Edit Links component
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/embl-content-hub-loader">
        EMBL ContentHub Loader component
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/embl-content-meta-properties">
        EMBL Content meta properties
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/embl-favicon">
        EMBL Favicon
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/embl-grid">
        EMBL Grid
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/embl-logo">
        EMBL Logo
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/embl-notifications">
        EMBL Notifications
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-activity-group">
        Acivity List Group
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-activity-list">
        Activity List
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-analytics-google">
        Google Analytics enhancements
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-article-meta-information">
        Article Meta Information
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-badge">
        Badges
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-banner">
        Banner
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-blockquote">
        Visual Framework Blockquote
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-body">
        Body
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-boilerplate-page">
        VF Boilerplate page
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-box">
        Box
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-breadcrumbs">
        Breadcrumbs
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-button">
        Button
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-card">
        Card
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-card-container">
        Card Container
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-cluster">
        Cluster
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-code-example">
        Code Example
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-collapse">
        Collapse
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-componenet-rollup">
        Visual Framework Componet Rollup
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-content">
        Content
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-deprecated">
        Demonstration deprecated pattern
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-design-tokens">
        Design Tokens
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-details">
        Details
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-discussion">
        Discussion
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-divider">
        Visual Framework Divider
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-embed">
        Embed
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-explainer">
        Explainer
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-favicon">
        Favicon
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-figure">
        Visual Framework Figure
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-font-plex-mono">
        Plex Mono Font
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-font-plex-sans">
        Plex Sans Font
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-footer">
        Footer
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-form">
        Vf Form
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-global-header">
        Global Header
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-grid">
        Grid
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-grid-page">
        Page Grid
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-header">
        Header
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-heading">
        Visual Framework Headings
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-hero">
        Hero
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-inlay">
        Inlay
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-intro">
        Intro
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-lede">
        Lede
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-link">
        Visual Framework Link
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-link-list">
        Links List
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-list">
        Visual Framework Lists
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-location-nearest">
        Nearest location
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-logo">
        Logo
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-masthead">
        Masthead
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-navigation">
        Navigation
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-news-container">
        News Container
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-no-js">
        No JS detection
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-page-header">
        Page Header
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-pagination">
        Pagination
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-polyfill-js">
        JavaScript Polyfill
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-profile">
        Profile
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-sass-config">
        Sass config and templates
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-sass-starter">
        Sass Starter
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-search">
        Search
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-search-client-side">
        Search Client Side
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-section-header">
        Section Header
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-show-more">
        Show more
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-social-links">
        Social icons
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-stack">
        Stack
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-summary">
        Summary
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-summary-container">
        Summary Container
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-table">
        Table
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-tabs">
        Tabs
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-text">
        Visual Framework Text
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-tree">
        Tree
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-u-fullbleed">
        Full Bleed
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-utility-classes">
        Utility Classes
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-video">
        Video
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-video-container">
        Video Container
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-video-teaser">
        Video Teaser
      </a>

    </li>
  </ul>
</div>

  </div>

  <section class="vf-content component-library-notes">
    
    <!-- no special content -->


    
    
    

    
    
      <h1>Google Analytics enhancements component</h1>
<p><a href="https://badge.fury.io/js/%40visual-framework%2Fvf-analytics-google"><img src="https://badge.fury.io/js/%40visual-framework%2Fvf-analytics-google.svg" alt="npm version"></a></p>
<p>Supplementary behaviour (primarily JavaScript) to ease tracking with Google Analytics.</p>
<p>This component will grow over time with additional event tracking behaviours.</p>
<h2>Usage</h2>
<h3>User actions</h3>
<p>This component tracks three types of user engagement as actions in Google Analytics:</p>
<ol>
<li>General clicks in the browser as &quot;UI&quot; category</li>
</ol>
<ul>
<li>standard elements like <code>a</code> <code>button</code> <code>details</code></li>
<li>form elements like <code>input</code> <code>select</code> <code>textarea</code> <code>label</code></li>
</ul>
<ol start="2">
<li>Downloads of files as &quot;Downloads&quot; <code>zip|exe|pdf|doc*|xls*|ppt*|mp3|txt|fasta</code></li>
<li>Emails links as &quot;Email&quot; <code>mailto:</code></li>
</ol>
<p>Explicit labels can be provided with data attributes:</p>
<ul>
<li><code>data-vf-analytics-label=&quot;A special label&quot;</code></li>
</ul>
<h3>Meta tags</h3>
<p>Track dimensions:</p>
<pre><code class="language-html">&lt;meta name=&quot;vf:page-type&quot; content=&quot;category;pageTypeHere&quot;&gt;
</code></pre>
<p>How to add dimension to your property?</p>
<ul>
<li>https://developers.google.com/analytics/devguides/collection/analyticsjs/custom-dims-mets</li>
<li>https://support.google.com/analytics/answer/2709829?hl=en</li>
</ul>
<h3>Page region tracking</h3>
<p>You can track the region of the page where an event occurs:</p>
<pre><code class="language-html">&lt;div data-vf-google-analytics-region=&quot;main-content-area-OR-SOME-OTHER-NAME&quot;&gt;
  &lt;a href=&quot;//www.example.com&quot;&gt;My link here&lt;/a&gt;
&lt;/div&gt;
</code></pre>
<p>Notes:</p>
<ul>
<li>region names should not be repeated on the same page</li>
<li>nested regions are currently not fully supported</li>
</ul>
<h3>Verbose logging</h3>
<p><code>&lt;body data-vf-google-analytics-verbose=&quot;true&quot;&gt;</code></p>
<h3>JavaScript</h3>
<p>You should import this component in <code>./components/vf-component-rollup/scripts.js</code> or your other JS process:</p>
<pre><code class="language-js">import { vfGaIndicateLoaded } from 'vf-analytics-google/vf-analytics-google';
// Or import directly
// import { vfGaIndicateLoaded } from '../components/raw/vf-analytics-google/vf-analytics-google.js';

let vfGaTrackOptions = {
  vfGaTrackPageLoad: true,
  vfGaTrackNetwork: {
    serviceProvider: 'dimension2',
    networkDomain: 'dimension3',
    networkType: 'dimension4'
  }
};
vfGaIndicateLoaded(vfGaTrackOptions);
</code></pre>
<p><code>vfGaIndicateLoaded()</code> is the primary function and awaits and checks to see if Google Analytics client side JS has loaded. If it does, sets <code>&lt;body data-vf-google-analytics-loaded='true'&gt;</code></p>
<h4>Options</h4>
<p><code>vfGaIndicateLoaded()</code> accepts these options for object <code>vfGaTrackOptions</code>:</p>
<ul>
<li>Do not track the page load: <code>vfGaTrackOptions.vfGaTrackPageLoad</code> (defaults to true).
<ul>
<li>If you set to false, the function will <em>not</em> track the initial page view. Useful if you track the initial page view with JavaScript in your HTML.</li>
</ul>
</li>
<li>Track the users network: <code>vfGaTrackOptions.vfGaTrackNetwork</code>
<ul>
<li>As of February 2020 Google Analytics no longer tracks the network name of visitors</li>
<li>A 3rd party tool enables this, follow the setup guide at https://ipmeta.io/instructions
<ul>
<li>note there is no need to load https://ipmeta.io/plugin.js, this component includes it for you</li>
</ul>
</li>
<li>After configuring your property in Google Analytics, add the configuration below</li>
</ul>
</li>
</ul>
<h4>vfGaIndicateUnloaded()</h4>
<p>Utility method to invalidate prior GA check <code>&lt;body data-vf-google-analytics-loaded='false'&gt;</code></p>
<h4>vfGaTrackInteraction()</h4>
<p>Can be used to directly track events if you wish to use your own event handler.</p>
<pre><code class="language-js">/**
 * This code tracks the user's clicks in various parts of the site and logs them as GA events.
 *
 * Dev note:
 * add class verbose-analytics to your body for a readout to console on clicks.
 *
 * @param {element} actedOnItem
 * @param {string} customEventName Event action
 * @example
 * jQuery(&quot;.analytics-content-footer&quot;).on('mousedown', 'a, button', function(e) {
 *   vfGaTrackInteraction(e.target,'Content footer');
 * });
 * /
</code></pre>
<h2>Install</h2>
<p>This repository is distributed with [npm][npm]. After [installing npm][install-npm], you can install <code>vf-analytics-google</code> with this command.</p>
<pre><code>$ yarn add --dev @visual-framework/vf-analytics-google
</code></pre>
<h3>Sass/CSS installation</h3>
<ul>
<li>There is currently no Sass/css needed for this component.</li>
</ul>

    

    
    
    

    
      <section>
         <h1 class="vf-text vf-text-heading--display vf-text--invert">Variants</h1> 
      </section>
        <hr class="vf-divider" />

        <h3>
          Variant: Default
           <span class="vf-badge vf-badge--tertiary vf-badge--">alpha</span> 

           <span class="vf-badge vf-badge--tertiary vf-badge--">Type: utility</span> 
        </h3>


        

        <h4>Sample output</h4>


        
          <div class="vf-grid">
            <section class="">
              <div class="vf-analytics-google">
  /* vf-analytics-google template file */

  <h3>Example of form tracking attributes</h3>
  <input type="radio" name="radio-button-group" id="radio-2" class="vf-form__radio">
  <label for="radio-2" class="vf-form__label" data-vf-analytics-label="A special form option">Form Label</label>

  <input type="radio" name="radio-button-group" id="radio-3" class="vf-form__radio">
  <label for="radio-3" class="vf-form__label" data-vf-analytics-label="I am also a special label">Form Label</label>

</div>

            </section>
          </div>
        

        <h4>Sample output as HTML</h4>


        
        <pre><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;vf-analytics-google&quot;</span>&gt;</span>
  /* vf-analytics-google template file */

  <span class="hljs-tag">&lt;<span class="hljs-name">h3</span>&gt;</span>Example of form tracking attributes<span class="hljs-tag">&lt;/<span class="hljs-name">h3</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">type</span>=<span class="hljs-string">&quot;radio&quot;</span> <span class="hljs-attr">name</span>=<span class="hljs-string">&quot;radio-button-group&quot;</span> <span class="hljs-attr">id</span>=<span class="hljs-string">&quot;radio-2&quot;</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;vf-form__radio&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">for</span>=<span class="hljs-string">&quot;radio-2&quot;</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;vf-form__label&quot;</span> <span class="hljs-attr">data-vf-analytics-label</span>=<span class="hljs-string">&quot;A special form option&quot;</span>&gt;</span>Form Label<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>

  <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">type</span>=<span class="hljs-string">&quot;radio&quot;</span> <span class="hljs-attr">name</span>=<span class="hljs-string">&quot;radio-button-group&quot;</span> <span class="hljs-attr">id</span>=<span class="hljs-string">&quot;radio-3&quot;</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;vf-form__radio&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">for</span>=<span class="hljs-string">&quot;radio-3&quot;</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;vf-form__label&quot;</span> <span class="hljs-attr">data-vf-analytics-label</span>=<span class="hljs-string">&quot;I am also a special label&quot;</span>&gt;</span>Form Label<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>

<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
        </pre>

      <h3>Assets</h3>
<ul>
<li><a href="/vf-core/assets/vf-analytics-google/vf-analytics-google.njk">Nunjucks template</a></li>
<li><a href="/vf-core/assets/vf-analytics-google/vf-analytics-google.config.yml">Config</a></li>
<li><a href="/vf-core/assets/vf-analytics-google/CHANGELOG.md">CHANGELOG.md</a></li>
<li><a href="/vf-core/assets/vf-analytics-google/vf-analytics-google.css">vf-analytics-google.css</a></li>
<li><a href="/vf-core/assets/vf-analytics-google/vf-analytics-google.js">vf-analytics-google.js</a></li>
<li><a href="/vf-core/assets/vf-analytics-google/vf-analytics-google.scss">vf-analytics-google.scss</a></li>
<li><a href="/vf-core/assets/vf-analytics-google/vf-analytics-google.variables.scss">vf-analytics-google.variables.scss</a></li>
</ul>

    

    <hr>
<br/>
<p class="vf-text-body vf-text-body--4">
File system location: <code>components/vf-analytics-google</code>
</p>


  </section>
</div>

    <footer class="vf-footer">
  <div class="vf-footer__inner">
    <p class="vf-footer__notice">A toolkit to quickly build better life science websites.</p>
    <div class="vf-footer__links-group | vf-grid vf-grid__col-5">
      <div class="vf-links">
        <ul class="vf-links__list | vf-list">
          <li class="vf-list__item">
            <a class="vf-list__link" href="/vf-core/">About</a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="/vf-core/developing">Documentation</a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="https://join.slack.com/t/visual-framework/shared_invite/enQtNDAxNzY0NDg4NTY0LWFhMjEwNGY3ZTk3NWYxNWVjOWQ1ZWE4YjViZmY1YjBkMDQxMTNlNjQ0N2ZiMTQ1ZTZiMGM4NjU5Y2E0MjM3ZGQ">Help, chat</a>
          </li>
        </ul>
      </div>
      <div class="vf-links">
        <ul class="vf-links__list | vf-list">
          <li class="vf-list__item">
            <a class="vf-list__link" href="/vf-core/search">Search</a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="/vf-core/components">Components</a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="/vf-core/updates">Changelog, updates</a>
          </li>
        </ul>
      </div>
      <div class="vf-links">
        
        <ul class="vf-links__list | vf-list">
          <li class="vf-list__item">
            <a class="vf-list__link" href="/vf-core/feed.xml">RSS Feed</a>
          </li>
        </ul>
      </div>
      <div class="vf-links">
      </div>
      <div class="vf-links">
      </div>
    </div>
    <section class="vf-footer__legal | vf-grid vf-grid__col-1">
      <span class="vf-footer__legal-text">
        <a class="vf-footer__link" href="https://www.embl.org/">Brough to you by the developers, designers and UX teams at EMBL and EMBL-EBI</a>
      </span>
      <span class="vf-footer__legal-text">
        <a class="vf-footer__link" href="https://goo.gl/maps/nbxNg2HGXL1MTtzt9">Meyerhofstraße 1, 69117 Heidelberg, Germany</a>
      </span>
      <span class="vf-footer__legal-text">
        <a class="vf-footer__link" href="tel:004962213870">Tel: +49 6221 387-0</a>
      </span>
      
    </section>
    <section class="vf-footer__legal">
      <span class="vf-footer__legal-text">
        Latest release: <code>v2.2.9</code> <a href="/vf-core/updates" class="vf-footer__link">See more releases</a>
      </span>
      <span class="vf-footer__legal-text">
        Code license is Apache 2.0
      </span>
    </section>
  </div>
</footer>





<!-- This page was generated on 2020-10-20T07:19:57.184+00:00 -->
<script src="https://assets.emblstatic.net/vf/v2.2.9/scripts/scripts.js"></script>
  </body>
</html>
