<div class="vf-analytics-google">
  /* vf-analytics-google template file */

  <h3>Example of form tracking attributes</h3>
  <input type="radio" name="radio-button-group" id="radio-2" class="vf-form__radio">
  <label for="radio-2" class="vf-form__label" data-vf-analytics-label="A special form option">Form Label</label>

  <input type="radio" name="radio-button-group" id="radio-3" class="vf-form__radio">
  <label for="radio-3" class="vf-form__label" data-vf-analytics-label="I am also a special label">Form Label</label>

</div>
