<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://assets.emblstatic.net/vf/v2.3.1-rc.1/css/styles.css">
    <!--
      Want to build a site with the Visual Framework?
      ---
      You can copy the CSS and JS you find here, but for the best experience see the building guide:
      https://visual-framework.github.io/vf-core/building/
    -->
    <title>Component overview | The Visual Framework 2.0</title>
    <link rel="shortcut icon" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/favicon.ico">
<link rel="apple-touch-icon" sizes="180x180" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/favicon-16x16.png">
<link rel="manifest" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/site.webmanifest">
<link rel="mask-icon" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/safari-pinned-tab.svg" color="#ffffff">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

    <!-- Descriptive meta -->
    <meta name="title" content="Component overview">
    <meta name="author" content="EMBL">
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="">
    <meta name="description" content="These components are available.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://visual-framework.github.io/vf-core//components/">
    <meta property="og:title" content="Component overview">
    <meta property="og:description" content="These components are available.">
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="og:url" content="https://visual-framework.github.io/vf-core//components/">
    <meta property="twitter:title" content="Component overview">
    <meta property="twitter:description" content="These components are available.">
    <!-- Feed -->
    <link href="https://visual-framework.github.io/vf-core/feed.xml" type="application/rss+xml" rel="alternate" title="Visual Framework 2.0 Updates">
  </head>
  <body class=" vf-body" >
    <header class="vf-global-header | vf-search-client-side--no-index">

      <div class="vf-global-header__inner">
        
<a href="/vf-core/"
class="vf-logo | vf-logo--has-text">
  <img class="vf-logo__image" src="https://visual-framework.github.io/vf-core/assets/vf-logo/assets/logo.svg" alt="Visual Framework 2.0" loading="eager">
  <span class="vf-logo__text vf-u-sr-only">Visual Framework 2.0</span>
</a>

        <nav class="vf-navigation vf-navigation--global">
          <ul class="vf-navigation__list | vf-list--inline">
            <li class="vf-navigation__item">
              <a href="/vf-core/about" class="vf-navigation__link">About</a>
            </li>
            <li class="vf-navigation__item">
              <a href="/vf-core/components" class="vf-navigation__link">Components</a>
            </li>
            <li class="vf-navigation__item">
              <a href="/vf-core/patterns" class="vf-navigation__link">Examples</a>
            </li>
            <li class="vf-navigation__item">
              <a href="/vf-core/search" class="vf-navigation__link">Search</a>
            </li>
            <li class="vf-navigation__item">
              <a href="https://join.slack.com/t/visual-framework/shared_invite/enQtNDAxNzY0NDg4NTY0LWFhMjEwNGY3ZTk3NWYxNWVjOWQ1ZWE4YjViZmY1YjBkMDQxMTNlNjQ0N2ZiMTQ1ZTZiMGM4NjU5Y2E0MjM3ZGQ" class="vf-navigation__link">Help, chat</a>
            </li>
          </ul>
        </nav>
      </div>

    </header>
    
    
    <nav class="vf-breadcrumbs | vf-search-client-side--no-index" aria-label="Breadcrumb">
      <ul class="vf-breadcrumbs__list | vf-list vf-list--inline">
        <li class="vf-breadcrumbs__item">
          <a href="/vf-core/" class="vf-breadcrumbs__link">The Visual Framework 2.0</a>
        </li>
        
          
        
        
        
        
        
        <li class="vf-breadcrumbs__item">
          
            Component overview
          
        </li>
      </ul>
    </nav>
    

    <section class="vf-intro">
  <div><!-- empty --></div>
  <div class="vf-stack">
  <h1 class="vf-intro__heading ">Component overview</h1>
<p class="vf-lede">These components are available.</p>
<p class="vf-intro__text"></p>
  </div>
</section>
<main class="embl-grid embl-grid--has-centered-content">
  <div></div>
  <div class="vf-content">
<div class="vf-content">
<div class="vf-grid">
  <form action="/vf-core/search/" method="GET" class="vf-form | vf-search vf-search--inline">
    <div class="vf-form__item | vf-search__item">
      <input type="search" id="search" placeholder="Search components and documentation" name="search_query" class="vf-form__input | vf-search__input" data-vf-search-client-side-input>
    </div><button type="submit" class="vf-search__button | vf-button vf-button--primary">
      Search
    </button></form>
</div>
<h3>layout</h3>
<ul>
<li><a class="vf-link" href="vf-body">Body</a> <code> vf-body </code></li>
<li><a class="vf-link" href="vf-cluster">Cluster</a> <code> vf-cluster </code></li>
<li><a class="vf-link" href="vf-grid">Grid</a> <code> vf-grid </code></li>
<li><a class="vf-link" href="vf-stack">Stack</a> <code> vf-stack </code></li>
</ul>
<h3>element</h3>
<ul>
<li><a class="vf-link" href="vf-badge">Badges</a> <code> vf-badge </code></li>
<li><a class="vf-link" href="vf-blockquote">Visual Framework Blockquote</a> <code> vf-blockquote </code></li>
<li><a class="vf-link" href="vf-button">Button</a> <code> vf-button </code></li>
<li><a class="vf-link" href="vf-collapse">Collapse</a> <code> vf-collapse </code></li>
<li><a class="vf-link" href="vf-divider">Visual Framework Divider</a> <code> vf-divider </code></li>
<li><a class="vf-link" href="vf-explainer">Explainer</a> <code> vf-explainer </code></li>
<li><a class="vf-link" href="vf-favicon">Favicon</a> <code> vf-favicon </code></li>
<li><a class="vf-link" href="vf-figure">Visual Framework Figure</a> <code> vf-figure </code></li>
<li><a class="vf-link" href="vf-heading">Visual Framework Headings</a> <code> vf-heading </code></li>
<li><a class="vf-link" href="vf-link">Visual Framework Link</a> <code> vf-link </code></li>
<li><a class="vf-link" href="vf-list">Visual Framework Lists</a> <code> vf-list </code></li>
<li><a class="vf-link" href="vf-logo">Logo</a> <code> vf-logo </code></li>
<li><a class="vf-link" href="vf-text">Visual Framework Text</a> <code> vf-text </code></li>
</ul>
<h3>block</h3>
<ul>
<li><a class="vf-link" href="vf-activity-list">Activity List</a> <code> vf-activity-list </code></li>
<li><a class="vf-link" href="vf-article-meta-information">Article Meta Information</a> <code> vf-article-meta-information </code></li>
<li><a class="vf-link" href="vf-box">Box</a> <code> vf-box </code></li>
<li><a class="vf-link" href="vf-breadcrumbs">Breadcrumbs</a> <code> vf-breadcrumbs </code></li>
<li><a class="vf-link" href="vf-card">Card</a> <code> vf-card </code></li>
<li><a class="vf-link" href="vf-code-example">Code Example</a> <code> vf-code-example </code></li>
<li><a class="vf-link" href="vf-details">Details</a> <code> vf-details </code></li>
<li><a class="vf-link" href="vf-discussion">Discussion</a> <code> vf-discussion </code></li>
<li><a class="vf-link" href="vf-embed">Embed</a> <code> vf-embed </code></li>
<li><a class="vf-link" href="vf-footer">Footer</a> <code> vf-footer </code></li>
<li><a class="vf-link" href="vf-global-header">Global Header</a> <code> vf-global-header </code></li>
<li><a class="vf-link" href="vf-lede">Lede</a> <code> vf-lede </code></li>
<li><a class="vf-link" href="vf-link-list">Links List</a> <code> vf-link-list </code></li>
<li><a class="vf-link" href="vf-masthead">Masthead</a> <code> vf-masthead </code></li>
<li><a class="vf-link" href="vf-navigation">Navigation</a> <code> vf-navigation </code></li>
<li><a class="vf-link" href="vf-page-header">Page Header</a> <code> vf-page-header </code></li>
<li><a class="vf-link" href="vf-pagination">Pagination</a> <code> vf-pagination </code></li>
<li><a class="vf-link" href="vf-profile">Profile</a> <code> vf-profile </code></li>
<li><a class="vf-link" href="vf-search">Search</a> <code> vf-search </code></li>
<li><a class="vf-link" href="vf-section-header">Section Header</a> <code> vf-section-header </code></li>
<li><a class="vf-link" href="vf-social-links">Social icons</a> <code> vf-social-links </code></li>
<li><a class="vf-link" href="vf-summary">Summary</a> <code> vf-summary </code></li>
<li><a class="vf-link" href="vf-table">Table</a> <code> vf-table </code></li>
<li><a class="vf-link" href="vf-tabs">Tabs</a> <code> vf-tabs </code></li>
<li><a class="vf-link" href="vf-tree">Tree</a> <code> vf-tree </code></li>
<li><a class="vf-link" href="vf-video">Video</a> <code> vf-video </code></li>
<li><a class="vf-link" href="vf-video-teaser">Video Teaser</a> <code> vf-video-teaser </code></li>
</ul>
<h3>container</h3>
<ul>
<li><a class="vf-link" href="vf-activity-group">Acivity List Group</a> <code> vf-activity-group </code></li>
<li><a class="vf-link" href="vf-banner">Banner</a> <code> vf-banner </code></li>
<li><a class="vf-link" href="vf-card-container">Card Container</a> <code> vf-card-container </code></li>
<li><a class="vf-link" href="vf-content">Content</a> <code> vf-content </code></li>
<li><a class="vf-link" href="vf-header">Header</a> <code> vf-header </code></li>
<li><a class="vf-link" href="vf-hero">Hero</a> <code> vf-hero </code></li>
<li><a class="vf-link" href="vf-intro">Intro</a> <code> vf-intro </code></li>
<li><a class="vf-link" href="vf-news-container">News Container</a> <code> vf-news-container </code></li>
<li><a class="vf-link" href="vf-summary-container">Summary Container</a> <code> vf-summary-container </code></li>
<li><a class="vf-link" href="vf-video-container">Video Container</a> <code> vf-video-container </code></li>
</ul>
<h3>utility</h3>
<ul>
<li><a class="vf-link" href="ebi-header-footer">EBI Header and Footer</a> <code> ebi-header-footer </code></li>
<li><a class="vf-link" href="ebi-vf1-integration">Compatibility with EBI-VF 1.x Component</a> <code> ebi-vf1-integration </code></li>
<li><a class="vf-link" href="embl-conditional-edit">EMBL Conditional Edit Links component</a> <code> embl-conditional-edit </code></li>
<li><a class="vf-link" href="embl-content-hub-loader">EMBL ContentHub Loader component</a> <code> embl-content-hub-loader </code></li>
<li><a class="vf-link" href="embl-content-meta-properties">EMBL Content meta properties</a> <code> embl-content-meta-properties </code></li>
<li><a class="vf-link" href="embl-notifications">EMBL Notifications</a> <code> embl-notifications </code></li>
<li><a class="vf-link" href="vf-analytics-google">Google Analytics enhancements</a> <code> vf-analytics-google </code></li>
<li><a class="vf-link" href="vf-componenet-rollup">Visual Framework Componet Rollup</a> <code> vf-componenet-rollup </code></li>
<li><a class="vf-link" href="vf-font-plex-mono">Plex Mono Font</a> <code> vf-font-plex-mono </code></li>
<li><a class="vf-link" href="vf-font-plex-sans">Plex Sans Font</a> <code> vf-font-plex-sans </code></li>
<li><a class="vf-link" href="vf-location-nearest">Nearest location</a> <code> vf-location-nearest </code></li>
<li><a class="vf-link" href="vf-no-js">No JS detection</a> <code> vf-no-js </code></li>
<li><a class="vf-link" href="vf-polyfill-js">JavaScript Polyfill</a> <code> vf-polyfill-js </code></li>
<li><a class="vf-link" href="vf-sass-config">Sass config and templates</a> <code> vf-sass-config </code></li>
<li><a class="vf-link" href="vf-sass-starter">Sass Starter</a> <code> vf-sass-starter </code></li>
<li><a class="vf-link" href="vf-search-client-side">Search Client Side</a> <code> vf-search-client-side </code></li>
<li><a class="vf-link" href="vf-show-more">Show more</a> <code> vf-show-more </code></li>
<li><a class="vf-link" href="vf-u-fullbleed">Full Bleed</a> <code> vf-u-fullbleed </code></li>
<li><a class="vf-link" href="vf-utility-classes">Utility Classes</a> <code> vf-utility-classes </code></li>
</ul>
</div>
  </div>
</main>

    <footer class="vf-footer">
  <div class="vf-footer__inner">
    <p class="vf-footer__notice">A toolkit to quickly build better life science websites.</p>
    <div class="vf-footer__links-group | vf-grid vf-grid__col-5">
      <div class="vf-links">
        <ul class="vf-links__list | vf-list">
          <li class="vf-list__item">
            <a class="vf-list__link" href="/vf-core/">About</a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="/vf-core/developing">Documentation</a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="https://join.slack.com/t/visual-framework/shared_invite/enQtNDAxNzY0NDg4NTY0LWFhMjEwNGY3ZTk3NWYxNWVjOWQ1ZWE4YjViZmY1YjBkMDQxMTNlNjQ0N2ZiMTQ1ZTZiMGM4NjU5Y2E0MjM3ZGQ">Help, chat</a>
          </li>
        </ul>
      </div>
      <div class="vf-links">
        <ul class="vf-links__list | vf-list">
          <li class="vf-list__item">
            <a class="vf-list__link" href="/vf-core/search">Search</a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="/vf-core/components">Components</a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="/vf-core/updates">Changelog, updates</a>
          </li>
        </ul>
      </div>
      <div class="vf-links">
        
        <ul class="vf-links__list | vf-list">
          <li class="vf-list__item">
            <a class="vf-list__link" href="/vf-core/feed.xml">RSS Feed</a>
          </li>
        </ul>
      </div>
      <div class="vf-links">
      </div>
      <div class="vf-links">
      </div>
    </div>
    <section class="vf-footer__legal | vf-grid vf-grid__col-1">
      <span class="vf-footer__legal-text">
        <a class="vf-footer__link" href="https://www.embl.org/">Brough to you by the developers, designers and UX teams at EMBL and EMBL-EBI</a>
      </span>
      <span class="vf-footer__legal-text">
        <a class="vf-footer__link" href="https://goo.gl/maps/nbxNg2HGXL1MTtzt9">Meyerhofstraße 1, 69117 Heidelberg, Germany</a>
      </span>
      <span class="vf-footer__legal-text">
        <a class="vf-footer__link" href="tel:004962213870">Tel: +49 6221 387-0</a>
      </span>
      
    </section>
    <section class="vf-footer__legal">
      <span class="vf-footer__legal-text">
        Latest release: <code>v2.3.1-rc.1</code> <a href="/vf-core/updates" class="vf-footer__link">See more releases</a>
      </span>
      <span class="vf-footer__legal-text">
        Code license is Apache 2.0
      </span>
    </section>
  </div>
</footer>





<!-- This page was generated on 2020-10-30T14:50:00.449+00:00 -->
<script src="https://assets.emblstatic.net/vf/v2.3.1-rc.1/scripts/scripts.js"></script>
  </body>
</html>
