{{> @embl-content-meta-properties }}

<div class="embl-breadcrumbs-lookup">
  <ul class="vf-breadcrumbs | vf-list vf-list--inline">
    <li class="vf-breadcrumbs__item | embl-breadcrumbs-lookup__loading-text">
      Breadcrumbs are loading...
    </li>
    <!-- <li class="vf-breadcrumbs__item">
        <a href="JavaScript:Void(0);" class="vf-breadcrumbs__link">Explore</a>
    </li> -->
  </ul>
</div>
