{# {% render "@embl-content-meta-properties", {"meta_who": "Christian Löw", "meta_what": "Löw", "meta_where": "EMBL Barcelona", "meta_active": "what"} %} #}
{# {% render "@embl-content-meta-properties", {"meta_who": "Terry O'Connor",  "meta_active": "who"} %} #}
{# {% render "@embl-content-meta-properties", {"meta_who": "Cian O´Luanaigh", "meta_what": "Communications", "meta_where": "EMBL Heidelberg", "meta_active": "what" } %} #}
{# {% render "@embl-content-meta-properties", {"meta_who": "James Sharpe", "meta_what": "Sharpe Group", "meta_where": "EMBL Barcelona", "meta_active": "what"} %} #}
{# {% render "@embl-content-meta-properties", {"meta_who": "notSet", "meta_what": "Topics", "meta_where": "EMBL", "meta_active": "what"} %} #}

<nav class="vf-breadcrumbs embl-breadcrumbs-lookup" aria-label="Breadcrumb" data-embl-js-breadcrumbs-lookup>
  <div class="vf-list vf-list--inline | vf-breadcrumbs__list | embl-breadcrumbs-lookup--ghosting"></div>
</nav> 
