{{> @embl-content-meta-properties }}

<div class="embl-breadcrumbs-lookup">
  <ul class="vf-breadcrumbs | vf-list vf-list--inline">
    <li class="vf-breadcrumbs__item | embl-breadcrumbs-lookup__loading-text">
      Breadcrumbs are loading...
    </li>
    <!-- <li class="vf-breadcrumbs__item">
        <a href="JavaScript:Void(0);" class="vf-breadcrumbs__link">Explore</a>
    </li> -->


    <ul class="vf-breadcrumbs vf-breadcrumbs--related | vf-list vf-list--inline">
      <li class="vf-breadcrumbs__item">
        Related
      </li>

      <li class="vf-breadcrumbs__item">
        <a href="JavaScript:Void(0);" class="vf-breadcrumbs__link">Placeholder</a>
      </li>
    </ul>

  </ul>
</div>





<div class="vf-box vf-box--secondary vf-box--outline">

<code>
<strong>`what:Visual Framework`</strong>
`where:EMBL`
`who:Stategy and Communications`
`active:what`</code>


<div class="embl-breadcrumbs-lookup">
  <ul class="vf-breadcrumbs | vf-list vf-list--inline">
    <li class="vf-breadcrumbs__item">
        <a href="JavaScript:Void(0);" class="vf-breadcrumbs__link">Guidelines</a>
    </li>
    <li class="vf-breadcrumbs__item">
        <a href="JavaScript:Void(0);" class="vf-breadcrumbs__link">Visual Framework</a>
    </li>

    <ul class="vf-breadcrumbs vf-breadcrumbs--related | vf-list vf-list--inline">
      <li class="vf-breadcrumbs__item">Related</li>

      <li class="vf-breadcrumbs__item">
          <a href="JavaScript:Void(0);" class="vf-breadcrumbs__link">Strategy & Communications</a>
      </li>
      <li class="vf-breadcrumbs__item">
          <a href="JavaScript:Void(0);" class="vf-breadcrumbs__link">EMBL</a>
      </li>
    </ul>
  </ul>
  <h3>Visual Framework 2.0 changelog</h3>
</div>
</div>
</div>
