<div class="embl-breadcrumbs-lookup">
  <p>/* The are illustrative and conceptual mockups. */</p>
</div>

<hr class="vf-divider vf-u-margin__bottom-xl vf-u-margin__top-xl">

<code>
<strong>`what:Visual Framework`</strong>
`where:EMBL`
`who:Stategy and Communications`
`active:what`</code>

<div class="vf-focalpoint">
  {{> @vf-global-header }}

  <div class="embl-breadcrumbs-lookup">
    <ul class="vf-breadcrumbs | vf-list vf-list--inline">
      <li class="vf-breadcrumbs__item">
          <a href="JavaScript:Void(0);" class="vf-breadcrumbs__link">Guidelines</a>
      </li>
      <li class="vf-breadcrumbs__item">
          <a href="JavaScript:Void(0);" class="vf-breadcrumbs__link">Visual Framework</a>
      </li>

      <ul class="vf-breadcrumbs vf-breadcrumbs--related | vf-list vf-list--inline">
        <li class="vf-breadcrumbs__item">Related</li>

        <li class="vf-breadcrumbs__item">
            <a href="JavaScript:Void(0);" class="vf-breadcrumbs__link">Strategy & Communications</a>
        </li>
        <li class="vf-breadcrumbs__item">
            <a href="JavaScript:Void(0);" class="vf-breadcrumbs__link">EMBL</a>
        </li>
      </ul>
    </ul>
    <h3>Visual Framework 2.0 changelog</h3>

    <p>Some standard page content here.</p>
  </div>
</div>

<hr class="vf-divider vf-u-margin__bottom-xl vf-u-margin__top-xl">

<code>
`what:people`
`where:EMBL`
<strong>`who:Strategy and Communications team`</strong>
`active:who`</code>

<div class="vf-focalpoint">

  {{> @vf-global-header }}

  <ul class="vf-breadcrumbs | vf-list vf-list--inline">
    <li class="vf-breadcrumbs__item">
        <a href="JavaScript:Void(0);" class="vf-breadcrumbs__link">EMBL</a>
    </li>
    <li class="vf-breadcrumbs__item">
        <a href="JavaScript:Void(0);" class="vf-breadcrumbs__link">Admin Teams</a>
    </li>

    <ul class="vf-breadcrumbs vf-breadcrumbs--related | vf-list vf-list--inline">
      <li class="vf-breadcrumbs__item">Related</li>

      <li class="vf-breadcrumbs__item">
          <a href="JavaScript:Void(0);" class="vf-breadcrumbs__link">People</a>
      </li>
      <li class="vf-breadcrumbs__item">
          <a href="JavaScript:Void(0);" class="vf-breadcrumbs__link">EMBL</a>
      </li>
    </ul>

  </ul>


  <div class="vf-masthead | embl-grid embl-grid--with-sidebar" style="background-image: url('/assets/blocks/vf-masthead/assets/group-bg.png')">
    <div class="vf-masthead__title">
        <div class="vf-masthead__title-inner">
          <h1 class="vf-masthead__heading">Strategy & Communications</h1>
          <h2 class="vf-masthead__subheading">
          </h2>
        </div>
    </div>
  </div>

  <h3>Strategy & Communications team members</h3>

  <p>Some standard page content here.</p>
</div>

<hr class="vf-divider vf-u-margin__bottom-xl vf-u-margin__top-xl">

<code>
`what:people`
`where:grenoble`
<strong>`who:ciprani team`</strong>
`active:who`</code>

<div class="vf-focalpoint">

  {{> @vf-global-header }}

  <div class="embl-breadcrumbs-lookup">
    <ul class="vf-breadcrumbs | vf-list vf-list--inline">
      <li class="vf-breadcrumbs__item">
          <a href="JavaScript:Void(0);" class="vf-breadcrumbs__link">Research</a>
      </li>
      <li class="vf-breadcrumbs__item">
          <a href="JavaScript:Void(0);" class="vf-breadcrumbs__link">Structural Biology Technology and Instrumentation</a>
      </li>

      <ul class="vf-breadcrumbs vf-breadcrumbs--related | vf-list vf-list--inline">
        <li class="vf-breadcrumbs__item">Related</li>

        <li class="vf-breadcrumbs__item">
            <a href="JavaScript:Void(0);" class="vf-breadcrumbs__link">EMBL People</a>
        </li>
        <li class="vf-breadcrumbs__item">
            <a href="JavaScript:Void(0);" class="vf-breadcrumbs__link">EMBL Grenoble</a>
        </li>
      </ul>

    </ul>
    <div class="vf-masthead | embl-grid embl-grid--with-sidebar" style="background-image: url('/assets/blocks/vf-masthead/assets/group-bg.png')">
        <div class="vf-masthead__title">
            <div class="vf-masthead__title-inner">
                <h1 class="vf-masthead__heading">Cipriani Team</h1>
                <!-- <h2 class="vf-masthead__subheading">
                </h2> -->
            </div>
        </div>

    </div>

    <h3>Cipriani team members</h3>

  </div>
</div>

<hr class="vf-divider vf-u-margin__bottom-xl vf-u-margin__top-xl">

<code>
  `what:publications`
  `where:grenoble`
  <strong>`who:ciprani team`</strong>
  `active:who`</code>

<div class="vf-focalpoint">
  {{> @vf-global-header }}

  <div class="embl-breadcrumbs-lookup">
    <ul class="vf-breadcrumbs | vf-list vf-list--inline">
      <li class="vf-breadcrumbs__item">
          <a href="JavaScript:Void(0);" class="vf-breadcrumbs__link">Research</a>
      </li>
      <li class="vf-breadcrumbs__item">
          <a href="JavaScript:Void(0);" class="vf-breadcrumbs__link">Structural Biology Technology and Instrumentation</a>
      </li>

      <ul class="vf-breadcrumbs vf-breadcrumbs--related | vf-list vf-list--inline">
        <li class="vf-breadcrumbs__item">Related</li>

        <li class="vf-breadcrumbs__item">
            <a href="JavaScript:Void(0);" class="vf-breadcrumbs__link">EMBL Publications</a>
        </li>
        <li class="vf-breadcrumbs__item">
            <a href="JavaScript:Void(0);" class="vf-breadcrumbs__link">EMBL Grenoble</a>
        </li>
      </ul>

    </ul>
  </div>


  <div class="vf-masthead | embl-grid embl-grid--with-sidebar" style="background-image: url('/assets/blocks/vf-masthead/assets/group-bg.png')">
      <div class="vf-masthead__title">
          <div class="vf-masthead__title-inner">
              <h1 class="vf-masthead__heading">Cipriani Team</h1>
              <!-- <h2 class="vf-masthead__subheading">
              </h2> -->
          </div>
      </div>

  </div>


  <div class="embl-breadcrumbs-lookup">
    <h3>Publications</h3>
    <p>Some standard page content here.</p>

  </div>
</div>

<hr class="vf-divider vf-u-margin__bottom-xl vf-u-margin__top-xl">

<code>
  `what:florent ciprani team`
  `where:grenoble`
  <strong>`who:florent ciprani`</strong>
  `active:who`
</code>

<div class="vf-focalpoint">

  {{> @vf-global-header }}

  <div class="embl-breadcrumbs-lookup">
    <ul class="vf-breadcrumbs | vf-list vf-list--inline">
      <li class="vf-breadcrumbs__item">
          <a href="JavaScript:Void(0);" class="vf-breadcrumbs__link">People</a>
      </li>

      <ul class="vf-breadcrumbs vf-breadcrumbs--related | vf-list vf-list--inline">
        <li class="vf-breadcrumbs__item">Related</li>

        <li class="vf-breadcrumbs__item">
            <a href="JavaScript:Void(0);" class="vf-breadcrumbs__link">Florent Ciprani team</a>
        </li>
        <li class="vf-breadcrumbs__item">
            <a href="JavaScript:Void(0);" class="vf-breadcrumbs__link">EMBL Grenoble</a>
        </li>
      </ul>

    </ul>
    <h3>Florent Cipriani profile</h3>
    <p>Some standard page content here.</p>
  </div>
</div>


<hr class="vf-divider vf-u-margin__bottom-xl vf-u-margin__top-xl">

<code>
  `what:jobs`
  <strong>`where:barcelona`</strong>
  `who:none`
  `active:where`
</code>

<div class="vf-focalpoint">

  {{> @vf-global-header }}

  <ul class="vf-breadcrumbs | vf-list vf-list--inline">
    <li class="vf-breadcrumbs__item">
        <a href="JavaScript:Void(0);" class="vf-breadcrumbs__link">EMBL Barcelona</a>
    </li>
    <li class="vf-breadcrumbs__item">
        <a href="JavaScript:Void(0);" class="vf-breadcrumbs__link">Information</a>
    </li>

    <ul class="vf-breadcrumbs vf-breadcrumbs--related | vf-list vf-list--inline">
      <li class="vf-breadcrumbs__item">Related</li>

      <li class="vf-breadcrumbs__item">
          <a href="JavaScript:Void(0);" class="vf-breadcrumbs__link">EMBL Jobs</a>
      </li>
    </ul>

  </ul>


  <div class="vf-masthead | embl-grid embl-grid--with-sidebar" style="background-image: url('/assets/blocks/vf-masthead/assets/group-bg.png')">
      <div class="vf-masthead__title">
          <div class="vf-masthead__title-inner">
              <h1 class="vf-masthead__heading">(EMBL Barcelona) Jobs and Careers</h1>
              <h2 class="vf-masthead__subheading">
                <!-- Barcelona -->
              </h2>
          </div>
      </div>

  </div>
</div>


<hr class="vf-divider vf-u-margin__bottom-xl vf-u-margin__top-xl">

<code>
  <strong>`what:Protein sequence analysis and classification`</strong>
  `where:embl-ebi`
  `who:interpro`
  `active:what`
</code>

<div class="vf-focalpoint">

  {{> @vf-global-header }}

  <ul class="vf-breadcrumbs | vf-list vf-list--inline">
    <li class="vf-breadcrumbs__item">
        <a href="JavaScript:Void(0);" class="vf-breadcrumbs__link">Resources</a>
    </li>
    <li class="vf-breadcrumbs__item">
        <a href="JavaScript:Void(0);" class="vf-breadcrumbs__link">Proteins</a>
    </li>
    <li class="vf-breadcrumbs__item">
        <a href="JavaScript:Void(0);" class="vf-breadcrumbs__link">Protein sequence analysis and classification</a>
    </li>

    <ul class="vf-breadcrumbs vf-breadcrumbs--related | vf-list vf-list--inline">
      <li class="vf-breadcrumbs__item">Related</li>

      <li class="vf-breadcrumbs__item">
          <a href="JavaScript:Void(0);" class="vf-breadcrumbs__link">EMBL-EBI</a>
      </li>
      <li class="vf-breadcrumbs__item">
          <a href="JavaScript:Void(0);" class="vf-breadcrumbs__link">IntePro team</a>
      </li>
    </ul>

  </ul>


  <div class="vf-masthead | embl-grid embl-grid--with-sidebar" style="background: linear-gradient(to bottom right, #8d82b7, #908ba5)">
      <div class="vf-masthead__title">
          <div class="vf-masthead__title-inner">
              <h1 class="vf-masthead__heading">
                <img src="https://www.ebi.ac.uk/interpro/resources/images/logo_interpro_purple_01.png" alt="InterPro logo" />
                InterPro:
                Protein sequence analysis &amp; classification
              </h1>
              <h2 class="vf-masthead__subheading">
              </h2>
          </div>
      </div>

  </div>

</div>
