// vf-card

@import 'package.variables.scss';
// Debug information from component's `package.json`:
// ---
/*!
 * Component: #{map-get($componentInfo, 'name')}
 * Version: #{map-get($componentInfo, 'version')}
 * Location: #{map-get($componentInfo, 'location')}
 */

@import 'vf-card.variables.scss';

.vf-card {
  --card-text-color: var(--vf-card-theme-color--foreground, #{set-ui-color(vf-ui-color--black)});
  --card-background-color: var(--vf-card-theme-color--background , #{set-ui-color(vf-ui-color--white)});

  background-color: var(--card-background-color);
  display: grid;
  grid-template-rows: 216px 1fr;
  transition-duration: 250ms;
  transition-property: box-shadow;
  transition-timing-function: ease-in-out;

  &:hover {
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, .2);
    transition-duration: 250ms;
    transition-property: box-shadow;
    transition-timing-function: ease-in-out;
  }
}

.vf-card--is-link {
  cursor: pointer;
  text-decoration: none;
}

.vf-card__image {
  grid-column: 1 / -1;
  grid-row: 1 / span 3;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  width: 100%;
}

.vf-card__content {
  grid-column: 1 / -1;
  padding: 16px 24px;
}

.vf-card__title {
  @include set-type(text-heading--3);

  background-color: var(--card-background-color);
  color: set-ui-color(vf-ui-color--black);
  color: var( --card-text-color, #{set-ui-color(vf-ui-color--black)} );
  text-decoration: none;
}

.vf-card__text {
  @include set-type(text-body--2);

  color: set-ui-color(vf-ui-color--black);
  color: var( --card-text-color, #{set-ui-color(vf-ui-color--black)} );
}

.vf-card__link {
  @include inline-link;
}

// vf-card levels of design

.vf-card--easy {
  // comment here
}

.vf-card--normal {
  border-bottom: 8px solid set-ui-color(vf-ui-color--black);
  border-bottom-color: var(--vf-card-theme-color--border, #{set-ui-color(vf-ui-color--black)});

  .vf-card__title {
    --card-text-color: #{set-color(vf-color--blue)};
  }
  .vf-card__text {
    --card-text-color: #{set-ui-color(vf-ui-color--black)};
  }
}

.vf-card--medium {
  --card-text-color: var(--vf-card-theme-color--foreground, #{set-ui-color(vf-ui-color--white)});
  --card-background-color: var(--vf-card-theme-color--background, #{set-ui-color(vf-ui-color--black)});
}

.vf-card--hard {
  --card-text-color: var(--vf-card-theme-color--foreground, #{set-ui-color(vf-ui-color--white)});
  --card-background-color: var(--vf-card-theme-color--background, #{set-ui-color(vf-ui-color--black)});

  .vf-card__content {
    grid-row: 2 / -1;
  }

  .vf-card__title {
    @include set-type(text-body--5);

    display: inline-block;
    margin-bottom: 0;
    margin-left: -24px;
    margin-top: 2px; // because reasons
    padding: 16px 24px;
    text-transform: uppercase;
  }

  .vf-card__text {
    padding-top: 16px;
  }
}

// vf-card themes

[class*='ary'].vf-card--normal {
  --vf-card-theme-color--background: #{set-ui-color(vf-ui-color--white)};
}

.vf-card-theme--primary {
  --vf-card-theme-color--foreground: #{set-ui-color(vf-ui-color--white)};
  --vf-card-theme-color--border: #{set-color(vf-color--green)};
  --vf-card-theme-color--background: #{set-color(vf-color--green)};
}

.vf-card-theme--secondary {
  --vf-card-theme-color--foreground: #{set-ui-color(vf-ui-color--white)};
  --vf-card-theme-color--border: #{set-color(vf-color--blue)};
  --vf-card-theme-color--background: #{set-color(vf-color--blue)};
}

.vf-card-theme--tertiary {
  --vf-card-theme-color--foreground: #{set-ui-color(vf-ui-color--white)};
  --vf-card-theme-color--border: #{set-color(vf-color--grey)};
  --vf-card-theme-color--background: #{set-color(vf-color--grey)};
}

.vf-card-theme--quaternary {
  --vf-card-theme-color--foreground: #{set-ui-color(vf-ui-color--black)};
  --vf-card-theme-color--border: #{set-color(vf-color--yellow)};
  --vf-card-theme-color--background: #{set-color(vf-color--yellow)};
}
