<header class="vf-header">
  <div class="vf-global-header">
    <div class="vf-global-header__inner">
      <a href="#" class="embl-logo"></a>
      <nav class="vf-navigation vf-navigation--global">
        <ul class="vf-navigation__list | vf-list--inline">
          <li class="vf-navigation__item">
            This vf-header demonstrates message positioning.
            You do not need to use this njk template on your site.
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<div class="embl-notifications">
  /* embl-notifications template file */
</div>
