.vf-text {
  @include margin--block(bottom, 16px);
}

.vf-text--heading {

  &-s {
    @include set-type(heading--s);
  }
  &-r {
    @include set-type(heading--r);
  }
  &-alt {
    @include set-type(heading--l-alt);
  }
  &-l {
    @include set-type(heading--l);
  }
  &-xl {
    @include set-type(heading--xl);
  }
  &-default {
    // use this hook name + one of the above `@include`s
    // in other patterns' .scss to set a default
  }

}

.vf-text--has-tag {
  align-items: center;
  display: flex;

  .vf-tag {
    margin-left: 8px;
  }
}

.vf-text--invert {
  background-color: set-color(vf-color-black);
  color: set-color(vf-color-white);
  display: inline-block;
  padding: 4px 8px 4px 4px;
}
