.vf-text {
  @include margin--block(bottom, 16px);
}

.vf-text--heading-s {
  @include set-type(heading--s);
}
.vf-text--heading-r {
  @include set-type(heading--r);
}
.vf-text--heading-alt {
  @include set-type(heading--l-alt);
}
.vf-text--heading-l {
  @include set-type(heading--l);
}
.vf-text--heading-xl {
  @include set-type(heading--xl);
}

.vf-text--has-tag {
  align-items: center;
  display: flex;

  .vf-badge {
    margin-left: 8px;
  }
}

.vf-text--invert {
  background-color: set-color(vf-color-black);
  color: set-color(vf-color-white);
  display: inline-block;
  padding: 4px 8px 4px 4px;
}
