{% spaceless %}

{# Determine type of element to use, if not explicitly set -#}
{% if tags %}
{% else %}
  {% set tags = 'p' %}
{% endif %}

{# Work out what colour theme is needed for the styling #}
{% if style %}
  {% set style_class = style %}
{% endif %}

<{{tags}}

{# You're using an ID? Really?? That'll go here #}
{%- if id %} id="{{-id-}}"{% endif %}

class="vf-text

{%- if type %} vf-text-heading--{{type}}{% endif -%}

{%- if style_class %} vf-text--{{style_class}}{% endif -%}

{# You want a snowflake of a classname for something, here you go #}
{%- if override_class %} | {{override_class}}{% endif -%}
">

{{- html | safe if html else heading -}}

</{{tags}}>
{% endspaceless %}
