{#
  Pass in your display type and title:
  {% render '@vf-heading', {"type": "large", "title": "large"} %}
#}

{#
  Set our data for the template
#}

{%- if type and title -%}
  {%- if type == "display" -%}
    <h1 class="vf-text vf-text--heading-xl vf-text--invert">{{title}}</h1>
  {%- elif type == "extra-large" -%}
    <h2 class="vf-text vf-text--heading-xl">{{title}}</h2>
  {%- elif type == "large" -%}
    <h3 class="vf-text vf-text--heading-l">{{title}}</h3>
  {%- elif type == "regular" -%}
    <h4 class="vf-text vf-text--heading-r">{{title}}</h4>
  {%- elif type == "small" -%}
    <h5 class="vf-text vf-text--heading-s">{{title}}</h5>
  {%- else -%}
    {# catch all for if the heading type doesn't match #}
    <h5 class="vf-text vf-text--heading-s">{{title}}</h5>
  {% endif %}
{% endif %}
