$componentInfo: (
             name: "@visual-framework/vf-grid-page",
             version: "3.0.0",
             location: "components/vf-grid-page",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Fri, 06 Nov 2020 11:21:26 GMT"
          );