$componentInfo: (
             name: "@visual-framework/vf-grid-page",
             version: "3.0.0",
             location: "components/vf-grid-page",
             vfCoreVersion: "2.2.8",
             buildTimeStamp: "Fri, 23 Oct 2020 10:02:05 GMT"
          );