<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if serverInfo.environment == "development" -%}
    <link rel="stylesheet" media="all" href="{{ '/css/styles.css' | url }}" />
    {%- else -%}
    <link rel="stylesheet" href="https://{{ siteConfig.vfVersionPrefix }}assets.emblstatic.net/vf/{{ siteConfig.vfVersion }}/css/styles.css">
    {%- endif %}
    <!--
      Want to build a site with the Visual Framework?
      ---
      You can copy the CSS and JS you find here, but for the best experience see the building guide:
      https://stable.visual-framework.dev/building/
    -->
    <title>{{ pagination.items[0].name or title or (renderData and renderData.title)}} | {{ siteConfig.siteInformation.title }}</title>
    {% render '@vf-favicon' %}
    <!-- Descriptive meta -->
    <meta name="title" content="{{ title or (renderData and renderData.title) or siteConfig.siteInformation.title}}">
    <meta name="author" content="{{ meta.author or "EMBL" }}">
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="{{ meta.keywords }}">
    <meta name="description" content="{{ meta.description or subtitle}}">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{siteConfig.siteInformation.url}}{{ page.url }}">
    <meta property="og:title" content="{{ title or (renderData and renderData.title) or siteConfig.siteInformation.title}}">
    <meta property="og:description" content="{{ facebook.description or meta.description or subtitle }}">
    {% if meta.image -%}
    <meta property="og:image" content="{{ facebook.description or meta.image }}">
    {%- endif -%}

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="og:url" content="{{siteConfig.siteInformation.url}}{{ page.url }}">
    <meta property="twitter:title" content="{{ title or (renderData and renderData.title) or siteConfig.siteInformation.title}}">
    <meta property="twitter:description" content="{{ twitter.description or meta.description or subtitle }}">
    {% if meta.image -%}
    <meta property="twitter:image" content="{{ twitter.description or meta.image }}">
    {%- endif -%}

    <!-- Feed -->
    <link href="https://stable.visual-framework.dev/feed.xml" type="application/rss+xml" rel="alternate" title="Visual Framework 2.0 Updates">
  </head>
  <body class="{{ bodyClass }} vf-body vf-stack" >
    <header class="vf-global-header | vf-search-client-side--no-index">
      {% render '@vf-logo', {logo_href:  '/' | url, logo_text: 'Visual Framework 2.0', image: siteConfig.siteInformation.url + 'assets/vf-logo/assets/logo.svg', "hidden_text": true } %}
      <nav class="vf-navigation vf-navigation--global">
        <ul class="vf-navigation__list | vf-list--inline">
          {# <li class="vf-navigation__item">
            <a href="{{ '/about' | url }}" class="vf-navigation__link">About</a>
          </li>
          <li class="vf-navigation__item">
            <a href="{{ '/components' | url }}" class="vf-navigation__link">Components</a>
          </li>
          <li class="vf-navigation__item">
            <a href="{{ '/patterns' | url }}" class="vf-navigation__link">Examples</a>
          </li> #}
          <li class="vf-navigation__item">
            <a href="{{ '/search' | url }}" class="vf-navigation__link">Search</a>
          </li>
          <li class="vf-navigation__item">
            <a href="https://github.com/visual-framework/vf-core" class="vf-navigation__link">GitHub</a>
          </li>
          <li class="vf-navigation__item">
            <a href="https://join.slack.com/t/visual-framework/shared_invite/enQtNDAxNzY0NDg4NTY0LWFhMjEwNGY3ZTk3NWYxNWVjOWQ1ZWE4YjViZmY1YjBkMDQxMTNlNjQ0N2ZiMTQ1ZTZiMGM4NjU5Y2E0MjM3ZGQ" class="vf-navigation__link">Slack</a>
          </li>
        </ul>
      </nav>
    </header>

    {# Global navigation #}
    {% if page.url == '/' %}
      {% include "navigation.njk" %}
    {% endif %}

    {% if page.url != '/' and page.url != '/404.html' and is_index != true %}
    {# don't show breadcrumb on homepage #}
    <nav class="vf-breadcrumbs | vf-search-client-side--no-index" aria-label="Breadcrumb">
      <ul class="vf-breadcrumbs__list | vf-list vf-list--inline">
        {# <li class="vf-breadcrumbs__item">
          <a href="{{ '/' | url }}" class="vf-breadcrumbs__link">{{siteConfig.siteInformation.title}}</a>
        </li> #}
        {% if tags %}
          {% if 'changelog' in tags %}
            <li class="vf-breadcrumbs__item">
              <a href="{{ '/updates' | url }}" class="vf-breadcrumbs__link">Updates</a>
            </li>
          {% endif %}
        {% endif %}
        {% if section %}
          {# don't show section link on a section #}
          {# load section breadcrumbs from siteConfig.js #}
          <li class="vf-breadcrumbs__item">
            <a href="{{ siteConfig.sections[section].url | url }}" class="vf-breadcrumbs__link">{{ siteConfig.sections[section].title }}</a>
          </li>
        {% endif %}
        {# Handle child components #}
        {% if pagination.items[0] %}
          {% if pagination.items[0].name.split('__')[1] %}
            <li class="vf-breadcrumbs__item">
              <a href=".." class="vf-breadcrumbs__link">{{ pagination.items[0].name.split('__')[0] }}</a>
            </li>
          {% endif %}
        {% endif %}
        {# Standard page title #}
        <li class="vf-breadcrumbs__item" aria-current="location">
          {% if pagination.items[0].name %}
            {{ pagination.items[0].name }}
          {% else %}
            {{ title }}
          {% endif %}
        </li>
      </ul>
    </nav>
    {% endif %}

    {# Render sub nav for sections #}
    {% if section %}
      {%- set navigationList = [] -%}
      {%- for entry in collections[section] %}
        {%- if entry.data.layout %}
          {%- set isCurrent = false -%}
          {%- if entry.url == page.url %}
            {%- set isCurrent = true -%}
          {%- endif %}
          {% set navigationList = (navigationList.push({
            "text": entry.data.title,
            "order": entry.data.order,
            "navigation_href": entry.url | url,
            "currentPage": isCurrent
          }),navigationList) %}
        {%- endif %}
      {%- endfor -%}

      {# Order by page order #}
      {%- set navigationList = navigationList | sort(false, true, 'order') %}

      {% render '@vf-navigation', {
        "classModifier": "main",
        "navigation": navigationList
      } %}
    {%- endif %}

    {{ content | safe }}

    <p class="vf-text vf-text-body--3">
      Find an issue on this page?
      <a class="vf-link" href="{{ "https://github.com/visual-framework/vf-core/edit/develop/tools/vf-component-library/" + page.inputPath | url }}">Propose a change</a> or <a href="{{ "/guidance/discussing-the-vf" | url }}" class="vf-link">discuss it</a>.
    </p>
    {% include "footer.njk" %}
  </body>
</html>
