---
layout: layouts/base.njk
pageClass: components
templateEngineOverride: njk
---

<div class="embl-grid">

  <div class="vf-content">
  <ul>
  {%- for item in fractalEnvironment.localComponents %}
    {%- if item.isHidden == false %}
  <li><a class="vf-link" href="{{ '../' + item.handle | string | url }}">{{ item.title }}</a></li>
    {% endif %}
  {% endfor -%}
  </ul>
  </div>

  <section class="vf-content component-library-notes">

    {# for any content set in the page, this is most likely blank #}
    {{ content | safe }}

    {% set component = pagination.items[0] %}
    {% set collectionComponents = component.items %}
    {% set variants = component.variants.items %}

    {# readme.md #}
    {% if component.notes %}
      {{ component.notes | string | markdown | safe }}
    {% else %}
      {% markdown %}
        # {{ component.title }}
      {% endmarkdown %}
    {% endif %}

    <hr/>

    {% markdown %}
      File system location: `components/{{ component.baseHandle }}`
    {% endmarkdown %}

    {# any sub-components, like vf-form #}
    {# @todo, this is still not rendering correctly #}
    {% if collectionComponents %}
      {% render '@vf-heading--display', {
        "type": "display",
        "heading": "There are sub-components",
        "style": "invert",
        "tags": "h1"
      } %}

      <ul class="vf-list vf-list--unordered">
        {%- for component in collectionComponents %}
          {% if component.isHidden == false %}
            <li class="vf-list__item"><a class="vf-link" href="{{ component.handle}}">{{ component.title }}</a> <code> {{ component.name }} </code></li>
          {% endif %}
        {% endfor -%}
      </ul>
    {% endif %}

    {% if variants %}
      <section>
        {% render '@vf-heading--display', {
          "type": "display",
          "heading": "Variants",
          "style": "invert",
          "tags": "h1"
        } %}
      </section>

      {%- for variant in variants %}


        <hr class="vf-divider" />

        <h3>
          Variant: {{ variant.label }}
          {% render '@vf-badge--primary', {
            "style": [
              "pill"
            ],
            "text": variant.status.label
          } %}

          {% render '@vf-badge--primary', {
            "style": [
              "pill"
            ],
            "text": variant.context['component-type']
          } %}
        </h3>

        {% markdown %}

        #### Nunjucks demo
        {% endmarkdown %}

        <pre><code>
        {%- raw %}{% render '@{% endraw %}{{variant.handle}}', {{variant.context | dump(2)}} {% raw %}%}{% endraw %}
        </code></pre>

        {% markdown %}
          #### Sample output
        {% endmarkdown %}

        {% if variant.context['component-type'] == 'grid' %}
          <div class="vf-gridxx" style="grid-column: -1/1;">
            {% render '@'+variant.handle, variant.context %}
          </div>
        {% else %}
          <div class="vf-grid">
            <section class="">
              {% render '@'+variant.handle, variant.context %}
            </section>
          </div>
        {% endif %}

        {% markdown %}
          #### Sample output as HTML
        {% endmarkdown %}

        {# Show and escaped version of the html #}
        <pre>
          {%- render '@'+variant.handle, variant.context, false, { escape: false, beautify: true, highlight: true } %}
        </pre>

        {% markdown %}

          ### Assets

          - [Nunjucks template]({{ '/src/' + variant.viewPath.split('/src/')[1] | url }})
          {%- for asset in variant.resources.assets %}
            - [{{asset.base}}]({{asset.srcPath}})
          {%- endfor %}

        {% endmarkdown %}

      {% endfor -%}
    {% endif %}

  </section>
</div>

