---
layout: layouts/base.njk
pageClass: components
templateEngineOverride: njk
---
{% set component = pagination.items[0] %}
{% set collectionComponents = component.items %}
{% set variants = component.variants.items %}

<div class="embl-grid">
  <nav class="vf-tree vf-search-client-side--no-index">
    <div class="vf-tree__inner | vf-u-padding--200">
      {#- all component list -#}
      {#- we're half-implement vf-tree for now until we can ... things -#}
      {%- set types = ['grid', 'element', 'block', 'container', 'utility'] -%}

      {%- for type in types -%}

      {%- set componentList = [] -%}
      {%- for item in fractalEnvironment.localComponents -%}

        {# Normal "flat" components #}
        {%- if item.isHidden == false and (item.variants.items[0].context['component-type'] == type or item.variants.items[0].context['component-type'] == 'embl-' + type) -%}
          {% set componentList = (componentList.push({ "text": item.title, "link_list_href": ('/components/' + item.handle) | string | url }),componentList) %}
        {%- endif -%}

        {# Handle component collections #}
        {%- if item.isCollection == true %}
          {%- for collection in item.items %}
            {% if collection.isHidden == false and (collection.variants.items[0].context['component-type'] == type or collection.variants.items[0].context['component-type'] == 'embl-' + type) %}
              {# <pre>{{ item | dump(2)}}</pre> #}
              {% set componentList = (componentList.push({ "text": collection.title, "link_list_href": ('/components/' + item.handle + '/' + collection.handle) | string | url }),componentList) %}
            {%- endif %}
          {%- endfor %}
        {%- endif %}

      {%- endfor -%}

      {%- render '@vf-link-list--tight', {
        "component-type": "block",
        "component_modifier": "vf-links--tight vf-links__list--s",
        "title": type | title,
        "list_modifier": "secondary",
        "list":
          componentList
      } -%}

      {% endfor -%}
    </div>
  </nav>

  <section class="vf-content component-library-notes">
    {# for any content set in the page, this is most likely blank #}
    {{ content | safe }}

    <h1>
      {{ component.title }}
      <span class="vf-text-body--4">
        {# {{component.baseHandle}} #}
        {% if collectionComponents %}
        {% else %}
          <a class="vf-link" href="https://github.com/visual-framework/vf-core/tree/develop/components/{{component.baseHandle}}"><img src="https://img.shields.io/badge/github-{{component.baseHandle | replace("-","--")}}-blue" alt="github location" /></a>
          <a class="vf-link" href="https://badge.fury.io/js/%40visual-framework%2F{{component.baseHandle}}"><img src="https://badge.fury.io/js/%40visual-framework%2F{{component.baseHandle}}.svg" alt="npm version"></a>
          {# <a  href="https://www.npmjs.com/package/@visual-framework/{{component.baseHandle}}">npm</a> #}
        {% endif %}
      </span>
    </h1>

    {# <pre>{{ component | dump(2)}}</pre> #}

    {# readme.md #}
    {% if component.notes %}
      {% set readmeUsage = component.notes | string | stringBetween("## Usage", "\n## ") %}
      {% set readmeAbout = component.notes | string | stringBetween("## About", "\n## ") %}
      {% set readmeInstallation = component.notes | string | stringBetween("## Install", "\n## ") %}

      {% if readmeAbout %}{{ readmeAbout | markdown | safe }}{% endif %}

      {% if readmeUsage %}
        <h2>Usage</h2>
        {{ readmeUsage | markdown | safe }}
      {% endif %}

      {% if readmeInstallation %}
      <details class="vf-details">
        <summary class="vf-details--summary">Installation info</summary>
        {{ readmeInstallation | replace("## Install", "") | markdown | safe }}
      </details>
      {% endif %}

    {% else %}
      {% markdown %}
        {% if collectionComponents %}
        <p>This is a collection of components.</p>
        {% endif %}
      {% endmarkdown %}
    {% endif %}

    {# any sub-components, like vf-form #}
    {# @todo, this is still not rendering correctly #}
    {% if collectionComponents %}
      {# {% render '@vf-heading--display', {
        "type": "display",
        "heading": "There are sub-components",
        "style": "invert",
        "tags": "h1"
      } %} #}
      <ul class="vf-list vf-list--unordered">
        {%- for component in collectionComponents %}
          {% if  component.variants.isHidden ==  false %}
            <li class="vf-list__item"><a class="vf-link" href="{{ component.variants.items[0].alias }}">{{ component.variants.title }}</a> <code> {{ component.variants.items[0].alias }} </code></li>
            {#- <pre>{{ component.variants | dump(2)}}</pre> -#}
          {% endif -%}
        {% endfor -%}
      </ul>
    {% endif %}

    {% if variants %}
      {% if variants | length > 1 %}
        {# If more than 1 variant type, show a heading #}
        <section class="vf-u-margin__top--800">
          {% render '@vf-heading--display', {
            "type": 1,
            "heading": "Variants",
            "style": "invert",
            "tags": "h2"
          } %}
        </section>

        {# Variant table of contents #}
        {%- set variantList = [] -%}
        {%- for variant in variants %}
          {% if variant.isHidden == false%}
            {% set variantList = (variantList.push({
              "text": variant.title,
              "link_list_href": '#' + variant.handle
            }), variantList)
            %}
          {% endif %}
        {% endfor %}

        {% render '@vf-link-list', {
          "component_modifier": "vf-links__list--easy",
          "title": "",
          "svg": true,
          "list":
            variantList
        } %}

        <hr class="vf-divider vf-u-margin__top--1200 vf-u-margin__bottom--1200" />

      {% endif %}

      {%- for variant in variants %}

        {% if variant.isHidden == false%}
          {% if variants | length > 1 %}
            {# If more than 1 variant type, show variant specific details #}

            {% render '@vf-section-header--is-a-link', {
              "section_title": "Variant example: " + variant.label,
              "id": variant.handle,
              "href": "#" + variant.handle
            } %}
          {% endif %}

          <article class="vf-stack vf-stack--lg vf-u-margin__bottom--1200"
                   style="clear: both; /* insurance against strange components */"
          >

            {% if component.baseHandle == 'vf-u-fullbleed' %}
              {# these get a fake iframe #}
              <article class="vf-box vf-box--outline" style="
                overflow: scroll;
                margin: 0;
                padding: 0;
              ">
                {% render '@'+variant.handle, variant.context %}
              </article>

            {% else %}
              <div class="vf-card vf-box"
                   style="grid-template-rows: auto; /* as we're cheating and have no image for vf-card */"
              >
                {# When you want a box with a slight shadow #}
                {% render '@'+variant.handle, variant.context %}
              </div>
            {% endif %}

            {% if variant.context['component-type'] != "utility" and variant.context['component-type'] != "grid" and variant.context['component-type'] != "embl-grid" %}
              {# Utility and grid variants have no practical njk templates #}
              <details class="vf-details vf-box vf-box--outline">
                <summary class="vf-details--summary">Nunjucks syntax</summary>
                <pre><code>
                {%- raw %}{% render '@{% endraw %}{{variant.handle}}', {{variant.context | dump(2)}} {% raw %}%}{% endraw %}
                </code></pre>
              </details>
            {% endif %}

            {# Show and escaped version of the html #}
            <details class="vf-details vf-box vf-box--outline">
              <summary class="vf-details--summary">HTML</summary>
              <pre>
                {%- render '@'+variant.handle, variant.context, false, { escape: false, beautify: true, highlight: true } %}
              </pre>
            </details>
          </article>
        {% endif %}

      {% endfor -%}

      {% markdown %}

      ### Assets

      - [Nunjucks template]({{ ('/assets/' + component.baseHandle + '/' + component.baseHandle + '.njk') | url }})
      - [Config]({{ ('/assets/' + component.baseHandle + '/' + component.baseHandle + '.config.yml') | url }})

      {%- for asset in component.resources.assets %}
      - [{{asset.base}}]({{ ('/assets/' + asset.relPath ) | url }})
      {%- endfor %}

      {% endmarkdown %}
    {% endif %}

    {% if collectionComponents %}
    {% else %}
      {% markdown %}

        ---

        <br/>

        <p class="vf-text-body vf-text-body--4">
        File system location: <code>components/{{ component.baseHandle }}</code>
        </p>

      {% endmarkdown %}
    {% endif %}

  </section>
</div>
