---
layout: layouts/base.njk
pageClass: developing
templateEngineOverride: njk, md
---

<section class="vf-intro | embl-grid embl-grid--has-centered-content">
  <div></div>
  <div>
    <h1 class="vf-intro__heading">{{title}}</h1>
    {% if subtitle %}
<div class="vf-lede">{{subtitle | markdown | safe | replace("<p>", "<span class='vf-content'>") | replace("</p>", "</span>") }}</div>
    {% endif %}
    {% if intro %}
<div class="vf-intro__text">{{intro | markdown | safe | replace("<p>", "<span class='vf-content'>") | replace("</p>", "</span>") }}</div>
    {% endif %}
  </div>
</section>


<main class="vf-content | embl-grid embl-grid--has-centered-content">
<div></div>
<div>

  {{ content | safe }}
  <cite class="vf-cite">
    Last updated on <time datetime="{{ date }}">{{ date | dateDisplay }}</time>
  </cite>
</div>
</main>

<!-- layout: layouts/developing.njk -->
