---
layout: layouts/base.njk
pageClass: posts
templateEngineOverride: njk
---

{# Use this template for main sections of a site. #}
{% if is_index != true %}
{% render '@vf-intro', {
  "vf_intro_heading": title,
  "vf_intro_lede": subtitle,
  "vf_intro_text": [
    intro
  ],
  "vf_intro_subheading": subheading,
  "vf_intro_badge": false
} %}
{%- endif %}

{%- if content | length > 1 and is_index -%}
  {{ content | safe }}
{%- elseif content | length > 1 -%}
<main class="embl-grid embl-grid--has-centered-content">
  <div></div>
  <article class="vf-content">
{{ content | safe }}
  </article>
</main>
{%- endif %}
