---
layout: layouts/base.njk
pageClass: posts
templateEngineOverride: njk, md
---

{# Use this template for main tokens of a site. #}

  <h1 class="vf-intro__heading" style="margin-bottom: 0 !important;">{{ title }}</h1>
  <p class="vf-lede">{{ subtitle }}</p>

  {%- if content | length > 1 -%}
  {{ content | safe }}
  {%- endif %}

