{# <div class="vf-content">

{% markdown %}

### Et al.

- `.vf-et-al` for use in publications lists and similar

<span class="vf-et-al">Jon Smith, Jane Johnson, </span>

### Screenreader text

- `.vf-sr-only` some things should only be shown to screen readers

<span class="vf-sr-only">Like this text</span>

### No-wrap.

- `.vf-no-wrap` keep text together, as much as possible

I'm some words that can break awkwardly but keep the <span class="vf-no-wrap">Company Name</span> together.

### Background colours
{% endmarkdown %}

{% codeblock 'css' -%}
.vf-u-background-color--green
.vf-u-background-color--green--darkest
.vf-u-background-color--green--dark
.vf-u-background-color--green--light
.vf-u-background-color--green--lightest
.vf-u-background-color--grey
.vf-u-background-color--grey--darkest
.vf-u-background-color--grey--dark
.vf-u-background-color--grey--light
.vf-u-background-color--grey--lightest
.vf-u-background-color--red
.vf-u-background-color--red--dark
.vf-u-background-color--red--light
.vf-u-background-color--blue
.vf-u-background-color--blue--dark
.vf-u-background-color--blue--light
.vf-u-background-color--purple
.vf-u-background-color--purple--dark
.vf-u-background-color--purple--light
.vf-u-background-color--orange
.vf-u-background-color--orange--dark
.vf-u-background-color--orange--light
.vf-u-background-color--yellow
.vf-u-background-color--yellow--dark
.vf-u-background-color--yellow--light
.vf-u-background-color--bright-green
.vf-u-background-color--bright-green--dark
.vf-u-background-color--bright-green--light
.vf-u-background-color-ui--black
.vf-u-background-color-ui--grey
.vf-u-background-color-ui--grey--light
.vf-u-background-color-ui--yellow
.vf-u-background-color-ui--red
.vf-u-background-color-ui--white
.vf-u-background-color-ui--off-white
{% endcodeblock %}

{% markdown %}
### Border colours

Same colour options as background colours, with a prefix of
{% endmarkdown %}

{% codeblock 'css' -%}
.vf-u-border-color--
{% endcodeblock %}

{% markdown %}
### Text-colours

Same colour options as background colours, with a prefix of
{% endmarkdown %}

{% codeblock 'css' -%}
.vf-u-text-color--
{% endcodeblock %}

{% markdown %}
### Text and heading sizes

- Text: From 1 to 6, with 1 being the largest.
- Button: From 1 to 2, with 1 being the largest.
- Heading: From 1 to 5, with 1 being the largest.

{% endmarkdown %}

{% codeblock 'css' -%}
.vf-u-type__text-body--1
.vf-u-type__text-body--6

.vf-u-type__text-button--1
.vf-u-type__text-button--2

.vf-u-type__text-heading--1
.vf-u-type__text-heading--5
{% endcodeblock %}

{% markdown %}
### Grid layout
{% endmarkdown %}

{% codeblock 'css' -%}
.vf-u-grid--reset {
  grid-column: 1 / -1;
}
{% endcodeblock %}

{% markdown %}
### Visibility
{% endmarkdown %}

{% codeblock 'css' -%}
.vf-u-display-none {
  display: none;
}
{% endcodeblock %}

{% markdown %}
### Margins

In t-shirt sizes from `0`,`xs`, `sm`, `md`, `lg`, `xl`, `xl`, `xxl`
{% endmarkdown %}

{% codeblock 'css' -%}
.vf-u-margin--0
.vf-u-margin--xs
.vf-u-margin--sm
.vf-u-margin--md
.vf-u-margin--lg
.vf-u-margin--xl
.vf-u-margin--xxl

.vf-u-margin__bottom--0
.vf-u-margin__bottom--..
.vf-u-margin__bottom--xxl

.vf-u-margin__top--0
.vf-u-margin__top--..
.vf-u-margin__top--xxl

.vf-u-margin__left--0
.vf-u-margin__left--..
.vf-u-margin__left--xxl

.vf-u-margin__right--0
.vf-u-margin__right--..
.vf-u-margin__right--xxl

{% endcodeblock %}

{% markdown %}
### Padding

In t-shirt sizes from `0`,`xs`, `sm`, `md`, `lg`, `xl`, `xl`, `xxl`
{% endmarkdown %}

{% codeblock 'css' -%}
.vf-u-padding--0
.vf-u-padding--xs
.vf-u-padding--sm
.vf-u-padding--md
.vf-u-padding--lg
.vf-u-padding--xl
.vf-u-padding--xxl

.vf-u-padding__bottom--0
.vf-u-padding__bottom--..
.vf-u-padding__bottom--xxl

.vf-u-padding__top--0
.vf-u-padding__top--..
.vf-u-padding__top--xxl

.vf-u-padding__left--0
.vf-u-padding__left--..
.vf-u-padding__left--xxl

.vf-u-padding__right--0
.vf-u-padding__right--..
.vf-u-padding__right--xxl

{% endcodeblock %}



<p>Todo: This should be autogenerated from the Sass, but to best do that we might look at some sort of
css documentation tool.</p>

</div> #}
