<style>
  .vf-utility--example div {
    background: green;
    height: 40px;
  }
  .vf-utility--example p {
    grid-column: 1 / -1;
    margin-bottom: 0 !important;
  }
  .vf-utility__examples h4 {
  }
</style>
<div class="vf-content">

{% markdown %}

### Grid Gap
{% endmarkdown %}
  <section class="vf-utility__examples | vf-content">
    <h4>vf-u-grid-gap</h4>

    <article class="vf-utility--example vf-grid vf-grid__col-3 vf-u-grid-gap--100">
      <p><code>.vf-u-grid-gap--100</code></p>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </article>
    <br>
    <article class="vf-utility--example vf-grid vf-grid__col-3 vf-u-grid-gap--200">
      <p><code>.vf-u-grid-gap--200</code></p>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </article>
    <br>
    <article class="vf-utility--example vf-grid vf-grid__col-3 vf-u-grid-gap--400">
      <p><code>.vf-u-grid-gap--400</code></p>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </article>
    <br>
    <article class="vf-utility--example vf-grid vf-grid__col-3 vf-u-grid-gap--500">
      <p><code>.vf-u-grid-gap--500</code></p>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </article>
    <br>
    <article class="vf-utility--example vf-grid vf-grid__col-3 vf-u-grid-gap--600">
      <p><code>.vf-u-grid-gap--600</code></p>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </article>
    <br>
    <article class="vf-utility--example vf-grid vf-grid__col-3 vf-u-grid-gap--800">
      <p><code>.vf-u-grid-gap--800</code></p>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </article>
    <br>
    <br>
    <hr class="vf-divider">
    <h4>vf-u-grid-column-gap</h4>
    <article class="vf-utility--example vf-grid vf-grid__col-3 vf-u-grid-column-gap--100">
      <p><code>.vf-u-grid-gap--100</code></p>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </article>
    <br>
    <article class="vf-utility--example vf-grid vf-grid__col-3 vf-u-grid-column-gap--200">
      <p><code>.vf-u-grid-gap--200</code></p>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </article>
    <br>
    <article class="vf-utility--example vf-grid vf-grid__col-3 vf-u-grid-column-gap--400">
      <p><code>.vf-u-grid-gap--400</code></p>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </article>
    <br>
    <article class="vf-utility--example vf-grid vf-grid__col-3 vf-u-grid-column-gap--500">
      <p><code>.vf-u-grid-gap--500</code></p>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </article>
    <br>
    <article class="vf-utility--example vf-grid vf-grid__col-3 vf-u-grid-column-gap--600">
      <p><code>.vf-u-grid-gap--600</code></p>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </article>
    <br>
    <article class="vf-utility--example vf-grid vf-grid__col-3 vf-u-grid-column-gap--800">
      <p><code>.vf-u-grid-gap--800</code></p>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </article>
    <br>
    <br>
    <hr class="vf-divider">
    <h4>vf-u-grid-row-gap</h4>
    <article class="vf-utility--example vf-grid vf-grid__col-3 vf-u-grid-row-gap--100">
      <p><code>.vf-u-grid-gap--100</code></p>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </article>
    <br>
    <article class="vf-utility--example vf-grid vf-grid__col-3 vf-u-grid-row-gap--200">
      <p><code>.vf-u-grid-gap--200</code></p>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </article>
    <br>
    <article class="vf-utility--example vf-grid vf-grid__col-3 vf-u-grid-row-gap--400">
      <p><code>.vf-u-grid-gap--400</code></p>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </article>
    <br>
    <article class="vf-utility--example vf-grid vf-grid__col-3 vf-u-grid-row-gap--500">
      <p><code>.vf-u-grid-gap--500</code></p>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </article>
    <br>
    <article class="vf-utility--example vf-grid vf-grid__col-3 vf-u-grid-row-gap--600">
      <p><code>.vf-u-grid-gap--600</code></p>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </article>
    <br>
    <article class="vf-utility--example vf-grid vf-grid__col-3 vf-u-grid-row-gap--800">
      <p><code>.vf-u-grid-gap--800</code></p>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </article>

  </section>
</div>
