{# This file should eventually be deleted with each type of utility classes having its own variant documentation. #}
<div class="vf-content">

{% markdown %}

### Et al.

- `.vf-u-text--et-al` for use in publications lists and similar

<span class="vf-u-text--et-al">Jon Smith, Jane Johnson, </span>

### Screenreader text

- `.vf-u-sr-only` some things should only be shown to screen readers

<span class="vf-u-sr-only">Like this text</span>

### No wrap

- `.vf-u-text--nowrap` keep text together, as much as possible

I'm some words that can break awkwardly but keep the <span class="vf-u-text--nowrap">Company Name</span> together.

### Break text

- `.vf-u-text--break` break long strings of text

Here's some long text that would otherwise run off the side of the page <span class="vf-u-text--break">evock2OTIhUP5N9ZgsNCzgYrfFuKd3ktVLTYnVTfX1NPpzjxmYC0RwLiOxwqi7n7VLWgRFUiTa7UK77exxWkpbJwLoERCAU5L0Z8ebvYpjKCtCboKgAxYx4CxmlsP3U66rabF3nxA6sNDhZnYWW6zr1QfR7J7nzKhQG9P2oSnOFNoK7xPr6hgxpePl3Jq9Ml2n5eAeV6evock2OTIhUP5N9ZgsNCzgYrfFuKd3ktVLTYnVTfX1NPpzjxmYC0RwLiOxwqi7n7VLWgRFUiTa7UK77exxWkpbJwLoERCAU5L0Z8ebvYpjKCtCboKgAxYx4CxmlsP3U66rabF3nxA6sNDhZnYWW6zr1QfR7J7nzKhQG9P2oSnOFNoK7xPr6hgxpePl3Jq9Ml2n5eAeV6</span>.

### Text-colours

Same colour options as background colours, with a prefix of
{% endmarkdown %}

{% codeblock 'css' -%}
.vf-u-text-color--
{% endcodeblock %}

{% markdown %}
### Text and heading sizes

- Text: From 1 to 6, with 1 being the largest.
- Button: From 1 to 2, with 1 being the largest.
- Heading: From 1 to 5, with 1 being the largest.

{% endmarkdown %}

{% codeblock 'css' -%}
.vf-u-type__text-body--1
.vf-u-type__text-body--6

.vf-u-type__text-button--1
.vf-u-type__text-button--2

.vf-u-type__text-heading--1
.vf-u-type__text-heading--5
{% endcodeblock %}

{% markdown %}
### Grid layout
{% endmarkdown %}

{% codeblock 'css' -%}
.vf-u-grid--reset {
  grid-column: 1 / -1;
}
{% endcodeblock %}

{% markdown %}
### Visibility
{% endmarkdown %}

{% codeblock 'css' -%}
.vf-u-display-none {
  display: none;
}
{% endcodeblock %}

{% markdown %}
### Margins

In t-shirt sizes from `0`,`xs`, `sm`, `md`, `lg`, `xl`, `xl`, `xxl`
{% endmarkdown %}

{% codeblock 'css' -%}
.vf-u-margin--0
.vf-u-margin--xs
.vf-u-margin--sm
.vf-u-margin--md
.vf-u-margin--lg
.vf-u-margin--xl
.vf-u-margin--xxl

.vf-u-margin__bottom--0
.vf-u-margin__bottom--..
.vf-u-margin__bottom--xxl

.vf-u-margin__top--0
.vf-u-margin__top--..
.vf-u-margin__top--xxl

.vf-u-margin__left--0
.vf-u-margin__left--..
.vf-u-margin__left--xxl

.vf-u-margin__right--0
.vf-u-margin__right--..
.vf-u-margin__right--xxl

{% endcodeblock %}

{% markdown %}
### Padding

In t-shirt sizes from `0`,`xs`, `sm`, `md`, `lg`, `xl`, `xl`, `xxl`
{% endmarkdown %}

{% codeblock 'css' -%}
.vf-u-padding--0
.vf-u-padding--xs
.vf-u-padding--sm
.vf-u-padding--md
.vf-u-padding--lg
.vf-u-padding--xl
.vf-u-padding--xxl

.vf-u-padding__bottom--0
.vf-u-padding__bottom--..
.vf-u-padding__bottom--xxl

.vf-u-padding__top--0
.vf-u-padding__top--..
.vf-u-padding__top--xxl

.vf-u-padding__left--0
.vf-u-padding__left--..
.vf-u-padding__left--xxl

.vf-u-padding__right--0
.vf-u-padding__right--..
.vf-u-padding__right--xxl

{% endcodeblock %}

<p>Todo: This should be autogenerated from the Sass, but to best do that we might look at some sort of
css documentation tool.</p>

</div>
