<style>
.vf-u-grid-example {
  grid-row-gap: 16px;
  margin-bottom: 32px;
}
.vf-u-grid-example > div {
  background-color: var(--vf-color--green);
  padding: 16px;
}
</style>

<div class="vf-u-grid-example | vf-grid vf-grid__col-6">
  <div class="vf-u-grid__col--span-1--xs">.vf-u-grid__col--span-1--xs</div>
  <div class="vf-u-grid__col--span-2--xs">.vf-u-grid__col--span-2--xs</div>
  <div class="vf-u-grid__col--span-3--xs">.vf-u-grid__col--span-3--xs</div>
</div>


<div class="vf-content | vf-u-grid-example | vf-grid vf-grid__col-6">
  <div class="
    vf-u-grid__col--span-1--sm
    vf-u-grid__col--span-2--lg
    vf-u-grid__col--span-3--xl
  ">
    <p>.vf-u-grid__col--span-1--sm</p>
    <p>.vf-u-grid__col--span-2--lg</p>
    <p>.vf-u-grid__col--span-3--xl</p>
  </div>
  <div class="
    vf-u-grid__col--span-1--sm
    vf-u-grid__col--span-2--lg
    vf-u-grid__col--span-3--xl
  ">
    <p>.vf-u-grid__col--span-1--sm</p>
    <p>.vf-u-grid__col--span-2--lg</p>
    <p>.vf-u-grid__col--span-3--xl</p>
  </div>
  <div class="
    vf-u-grid__col--span-1--sm
    vf-u-grid__col--span-2--lg
    vf-u-grid__col--span-3--xl
  ">
    <p>.vf-u-grid__col--span-1--sm</p>
    <p>.vf-u-grid__col--span-2--lg</p>
    <p>.vf-u-grid__col--span-3--xl</p>
  </div>
</div>
