.vf-chatbot-feedback {
  font-family: inherit;

  &__actions {
    display: flex;
    gap: 0.5rem;
  }

  &__thumb {
    padding: 0;
    justify-content: center;
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    color: #666;
    transition: color 0.2s, transform 0.2s;
    display: inline-flex;
    align-items: center;

    &:hover {
      background-color: #E4E4E4;
    }

    &--solid {
      color: #000;

      svg {
        fill: currentColor;
      }
    }

    svg {
      display: block;
    }
  }

  &__form {
    margin-top: 1rem;

    &-content {
      background: #ffffff;
      border: 1px solid #e5e5e5;
      padding: 1rem;

      &-header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 24px;
      }
    }
  }

  &__title {
    color: #1A1C1A;
    font-size: 19px;
    font-weight: 500;
    line-height: 28.50px;
    word-wrap: break-word;
  }

  &__options {
    display: inline-flex;
    gap: 0.5rem;
    flex-direction: row;
    margin-bottom: 1rem;
    flex-wrap: wrap;

    @media (max-width: 480px) {
      grid-template-columns: 1fr;
    }
  }

  &__option {
    @extend .vf-chatbot-action-prompt;
    // width: 100%;
    text-align: left;
    padding: 10px;
    background-color: #ffffff;
    color: #3B6FB6;
    border-radius: 4px;
    border: 1px solid #224B9A;
    min-width: fit-content;
    cursor: pointer;
    // flex: 1 1 150px;
    transition: background 0.2s;
    font-size: 14px;
    font-weight: 400;
    line-height: 22.40px;
    word-wrap: break-word;

    &--selected {
      background-color: #D1E3F6;
    }
  }

  &__comment-title {
    color: #1A1C1A;
    font-size: 16px;
    font-weight: 400;
    line-height: 27.20px;
    word-wrap: break-word
  }

  &__comment {
    width: 99%;
    margin-bottom: 24px;
    font-family: inherit;
    font-size: 0.875rem;
    background: #ffffff;
  }

  &__submit {
    padding: 0.75rem;
    background: #FFFFFF;
    color: #3B6FB6;
    border: 2px solid #3B6FB6;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.2s;
  }

  .vf-banner {
    position: relative;
    padding: 1rem;
    border-radius: 4px;
    margin-top: 1rem;

    &__content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
    }

    &__close {
      background: none;
      border: none;
      padding: 0.25rem;
      cursor: pointer;
      color: currentColor;
      opacity: 0.7;
      transition: opacity 0.2s ease;

      &:hover {
        opacity: 1;
      }

      svg {
        display: block;
      }
    }

    &--success {
      background-color: #ffffff;
      color: #1A1C1A;
    }

    &--error {
      background-color: #ffffff;
      color: #1A1C1A;
    }
  }
}
