.vf-chatbot-feedback {

  &__actions {
    display: flex;
    gap: 0.5rem;
  }

  &__thumb {
    padding: 0;
    justify-content: center;
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: color 0.2s, transform 0.2s;
    display: inline-flex;
    align-items: center;

    &:hover {
      background-color: var(--vf-color--neutral--200);
    }

    &--solid {
      color: var(--vf-color--neutral--900);

      svg {
        fill: currentColor;
      }
    }

    svg {
      display: block;
    }
  }

  &__form {
    display: none;
    &-content {
      border-radius: $vf-radius--xs;
      background-color: var(--vf-color--neutral--0);

      &-header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 24px;
        @media (max-width: 480px) {
          margin-bottom: 16px;
        }
      }
    }
  }

  &__title {
    @include set-type(text-heading--5);
    margin-bottom: 0;
    word-wrap: break-word;
  }

  &__options {
    display: inline-flex;
    gap: 0.5rem;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px;
    @media (max-width: 480px) {
      grid-template-columns: 1fr;
    }
  }

  &__option {
    @include set-type(text-body--5);
    text-align: left;
    padding: 11px;
    background-color: var(--vf-color--neutral--0);
    color: var(--vf-color--blue--dark);
    border-radius: $vf-radius--xs;
    border: 1px solid var(--vf-color--blue);
    min-width: fit-content;
    cursor: pointer;
    transition: background 0.2s;
    word-wrap: break-word;
    margin: 0px;
    &--selected {
      background-color: #D1E3F6;
    }
  }

  &__comment-title {
    @include set-type(text-body--3);
    margin: 0px;
    display: block;
    word-wrap: break-word
  }

  &__comment {
    @include set-type(text-body--3);
    width: 99%;
    margin-right: auto;
    background-color: var(--vf-color--neutral--0);
    margin-bottom: 24px;

    @media (max-width: 480px) {
      width: 95%;
      margin-bottom: 16px;
    }
  }

  &__submit {
    @include set-type(text-heading--5);
    margin-bottom: 0;
    background-color: var(--vf-color--neutral--0);
    color: var(--vf-color--blue);
    border: 2px solid var(--vf-color--blue);
    cursor: pointer;
    transition: background 0.2s;
  }

  .vf-banner {
    @extend .vf-banner;
    background-color: var(--vf-color--neutral--0);
    &__content {
      display: flex;
    }
  }
}
