<div class="vf-chatbot-feedback" data-vf-js-chatbot-feedback>
  <div class="vf-chatbot-feedback__actions">
    <button class="vf-chatbot-feedback__thumb" data-vf-js-feedback-thumbs-up>
      <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
        <path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"></path>
      </svg>
    </button>
    <button class="vf-chatbot-feedback__thumb" data-vf-js-feedback-thumbs-down>
      <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
        <path d="M10 15v4a3 3 0 0 0 3 3l4-9V2H5.72a2 2 0 0 0-2 1.7l-1.38 9a2 2 0 0 0 2 2.3zm7-13h3a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2h-3"></path>
      </svg>
    </button>
  </div>
  <div class="vf-chatbot-feedback__form"></div>
</div>