@charset "UTF-8";
.vf-text {
  margin: 0 0 16px 0;
}

.vf-text--heading-s {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 500;
  line-height: 1.5;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-text--heading-r {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 21px;
  font-weight: 500;
  line-height: 1.29;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-text--heading-alt {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.333;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-text--heading-l {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.333;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-text--heading-xl {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.547;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-text--has-tag {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.vf-text--has-tag .vf-badge {
  margin-left: 8px;
}

.vf-text--invert {
  background-color: #282d23;
  color: white;
  display: inline-block;
  padding: 4px 8px 4px 4px;
}

.vf-text--body > a {
  color: #287ae2;
}

.vf-text--body > a:visited {
  color: #54585a;
}

.vf-text--body > a:hover {
  color: #003da5;
}

.vf-text--body > a[disabled] {
  color: #b9b3a8;
  cursor: not-allowed;
}

.vf-text--body-xs {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.5;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-text--body-s {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.57;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-text--body-s-alt {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.57;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-text--body-r {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.71;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-text--body-l {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  line-height: 1.421;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-text--body-xl {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.3125;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-text--body-link {
  color: #287ae2;
}

.vf-text--body-link:visited {
  color: #54585a;
}

.vf-text--body-link:hover {
  color: #003da5;
}

.vf-text--body-link[disabled] {
  color: #b9b3a8;
  cursor: not-allowed;
}

html:not(.vf-disable-deprecated) .vf-snippet {
  margin-bottom: 64px;
}

html:not(.vf-disable-deprecated) .vf-snippet + html:not(.vf-disable-deprecated) .vf-snippet {
  border-top: 1px solid #707372;
  padding-top: 32px;
}

html:not(.vf-disable-deprecated) .vf-snippet:last-of-type {
  margin-bottom: 0;
}

html:not(.vf-disable-deprecated) .vf-snippet__meta {
  margin: 0 0 32px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 600px) {
  html:not(.vf-disable-deprecated) .vf-snippet__meta {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

html:not(.vf-disable-deprecated) .vf-snippet__author {
  margin: 0;
}

@media (min-width: 600px) {
  html:not(.vf-disable-deprecated) .vf-snippet__date {
    margin-right: 30px;
    position: relative;
  }
  html:not(.vf-disable-deprecated) .vf-snippet__date::after {
    content: ' — ';
    font-family: inherit;
    font-size: inherit;
    position: absolute;
    right: -20px;
  }
  html:not(.vf-disable-deprecated) .vf-snippet__author {
    margin-right: 16px;
    position: relative;
  }
  html:not(.vf-disable-deprecated) .vf-snippet__author::after {
    color: #282d23;
    content: ',';
    font-family: inherit;
    font-size: inherit;
    position: absolute;
    right: -8px;
  }
}

html:not(.vf-disable-deprecated) .vf-snippet__link {
  color: #287ae2;
}

html:not(.vf-disable-deprecated) .vf-snippet__link:visited {
  color: #54585a;
}

html:not(.vf-disable-deprecated) .vf-snippet__link:hover {
  color: #003da5;
}

html:not(.vf-disable-deprecated) .vf-snippet__link[disabled] {
  color: #b9b3a8;
  cursor: not-allowed;
}

html:not(.vf-disable-deprecated) .vf-snippet__teaser:last-of-type {
  margin: 0;
}

html:not(.vf-disable-deprecated) .vf-snippet__read-more {
  margin: 20px 0 0 0;
  color: #287ae2;
  display: block;
}

html:not(.vf-disable-deprecated) .vf-snippet__read-more:visited {
  color: #54585a;
}

html:not(.vf-disable-deprecated) .vf-snippet__read-more:hover {
  color: #003da5;
}

html:not(.vf-disable-deprecated) .vf-snippet__read-more[disabled] {
  color: #b9b3a8;
  cursor: not-allowed;
}
