// vf-inlay

@import 'package.variables.scss';
// Debug information from component's `package.json`:
// ---
/*!
 * Component: #{map-get($componentInfo, 'name')}
 * Version: #{map-get($componentInfo, 'version')}
 * Location: #{map-get($componentInfo, 'location')}
 */

@import 'vf-inlay.variables.scss';

.vf-inlay {
  display: grid;
  grid-column: 1 / -1;
  /* stylelint-disable  declaration-colon-space-after, indentation */
  grid-template-columns:
    minmax(var(--page-grid-gap), auto)
    [main-start]
      minmax(auto, 76.5em)
    [main-end]
    minmax(var(--page-grid-gap), auto)
  ;
  /* stylelint-enable */

  &:last-of-type {
    @include margin--block(bottom, $vf-inlay__spacing--bottom--narrow);

    @media (min-width: 1024px) {
      @include margin--block(bottom, $vf-inlay__spacing--bottom);
    }
  }

  // overides vf-grid's natural inclination to be full width
  & .vf-grid {
    @media (max-width: 1299px) {
      grid-column: main;
    }
  }

  @media (min-width: 480px) {
    // grid-column: 2 / -2;
  }

  @media (min-width: 1024px) {
    --page-grid-gap: 36px;
  }
}

.vf-inlay__content {
  display: grid;
  grid-column: 2 / 3;
  /* stylelint-disable declaration-colon-space-after, indentation */
  grid-template-columns:
    minmax(var(--page-grid-gap), 1em)
    [main-start]
      minmax(auto, 100%)
      minmax(auto, 22.125em)
    [main-end]
    minmax(var(--page-grid-gap), 1em)
  ;
  padding-top: 36px;

  @media (max-width: 1023px) {
    grid-template-columns:
      var(--page-grid-gap)
      [main-start]
        minmax(auto, 100%)
        minmax(auto, 22.125em)
      [main-end]
      var(--page-grid-gap)
    ;
  }
  /* stylelint-enable */

  padding-bottom: calc(var(--page-grid-gap)/2);
}

.vf-inlay__content--full-width {
  grid-column: 2 / -2;
  @include margin--block(bottom, map-get($vf-spacing-map, vf-spacing--lg));
}

.vf-inlay__content--main {
  grid-column: 2 / -2;

  @media (min-width: $vf-breakpoint--lg) {
    padding-right: calc(var(--page-grid-gap) / 2);
    grid-column: 2 / 3   
  }

  @include margin--block(bottom, map-get($vf-spacing-map, vf-spacing--lg));
}

.vf-inlay__content--additional {
  grid-column: 2 / -2;

  @media (min-width: $vf-breakpoint--lg) {
    grid-column: 3 / 4;
  }

  // at a small-medium breakpoint the sidebar should allow for 2 columns of content
  @media (max-width: $vf-breakpoint--lg) and (min-width: $vf-breakpoint--sm) {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    grid-column-gap: var(--page-grid-gap);
  }

}
