.vf-inlay {
  display: grid;
  grid-column: 1 / -1;
  /* stylelint-disable  declaration-colon-space-after, indentation */
  grid-template-columns: minmax(var(--page-grid-gap), auto) [main-start] minmax(auto, 76.5em) [main-end] minmax(var(--page-grid-gap), auto);
  /* stylelint-enable */
}

.vf-inlay:last-of-type {
  margin: 0 0 100px 0;
}

@media (max-width: 1299px) {
  .vf-inlay .vf-grid {
    grid-column: main;
  }
}

@media (min-width: 1024px) {
  .vf-inlay {
    --page-grid-gap: 36px;
  }
}

.vf-inlay__content {
  display: grid;
  grid-column: 2 / 3;
  /* stylelint-disable declaration-colon-space-after, indentation */
  grid-template-columns: minmax(var(--page-grid-gap), 60px) [main-start] minmax(auto, 100%) minmax(auto, 22.125em) [main-end] minmax(var(--page-grid-gap), 60px);
  /* stylelint-enable */
  padding-top: 36px;
}

.vf-inlay__content--full-width {
  grid-column: 2 / -2;
  margin: 0 0 20px 0;
}

.vf-inlay__content--main {
  grid-column: 2 / -2;
  padding-right: var(--page-grid-gap);
  margin: 0 0 20px 0;
}

@media (min-width: 1100px) {
  .vf-inlay__content--main {
    grid-column: 2 / 3;
  }
}

.vf-inlay__content--additional {
  grid-column: 2 / -2;
}

@media (min-width: 1100px) {
  .vf-inlay__content--additional {
    grid-column: 3 / 4;
  }
}
