.vf-inlay {
  display: grid;
  grid-column: 1 / -1;
  /* stylelint-disable  declaration-colon-space-after, indentation */
  grid-template-columns: minmax(var(--page-grid-gap), auto) minmax(auto, 76.5em) minmax(var(--page-grid-gap), auto);
  /* stylelint-enable */
}

.vf-inlay:last-of-type {
  margin-bottom: 48px;
}

@media (max-width: 1299px) {
  .vf-inlay .vf-grid {
    grid-column: main;
  }
}

@media (min-width: 1024px) {
  .vf-inlay {
    --page-grid-gap: 36px;
  }
}

.vf-inlay__header {
  display: grid;
  grid-column: 2 / -2;
  /* stylelint-disable declaration-colon-space-after, indentation */
  grid-template-columns: minmax(var(--page-grid-gap), 60px) [main-start] auto minmax(auto, 18.125em) [main-end] minmax(var(--page-grid-gap), 60px);
  /* stylelint-enable */
}

.vf-inlay__navigation {
  background-color: #54585a;
  display: grid;
  grid-column: 1 / -1;
  /* stylelint-disable declaration-colon-space-after, indentation */
  grid-template-columns: minmax(var(--page-grid-gap), 60px) auto minmax(var(--page-grid-gap), 60px);
  /* stylelint-enable */
}

.vf-inlay__navigation > * {
  grid-column: 2 / -2;
  margin-left: -18px;
}

.vf-inlay__content {
  display: grid;
  grid-column: 2 / 3;
  /* stylelint-disable declaration-colon-space-after, indentation */
  grid-template-columns: minmax(var(--page-grid-gap), 60px) [main-start] minmax(auto, 100%) minmax(auto, 22.125em) [main-end] minmax(var(--page-grid-gap), 60px);
  /* stylelint-enable */
  padding-top: 36px;
}

.vf-inlay__content--main {
  grid-column: 2 / -2;
  padding-right: var(--page-grid-gap);
}

@media (min-width: 1100px) {
  .vf-inlay__content--main {
    grid-column: 2 / 3;
  }
}

.vf-inlay__content--additional {
  grid-column: 2 / -2;
}

@media (min-width: 1100px) {
  .vf-inlay__content--additional {
    grid-column: 3 / 4;
  }
}
