// vf-code-example
// sass-lint:disable force-element-nesting

.vf-content pre,
.vf-content code,
.vf-code-example__pre,
.vf-code-example {
  // pre and code should always be monospace
  @if $use-global-typography == true {
    font-family: $vf-font-family-monospace;
  }
  @include set-type(body--s);
}

.vf-code-example {
  display: grid;
  margin-bottom: map-get($vf-spacing-map, vf-spacing-xxl) * 2;
}

.vf-content pre,
.vf-code-example__pre {
  border: 1px;
  min-width: 0;
  overflow: auto;
}
