// vf-code-example
// sass-lint:disable force-element-nesting

$vf-code-example-enable-hljs: true !default;

.vf-content pre,
.vf-content code,
.vf-code-example__pre,
.vf-code-example {
  // pre and code should always be monospace
  @include set-type(text-body--1,$vf-font-family--monospace, $custom-margin-bottom: 0);
  @include padding--block(all,map-get($vf-spacing-map, vf-spacing--xs));

  background: set-ui-color(vf-ui-color--grey);
  border-radius: $vf-radius--xs;
}

.vf-content code,
.vf-code-example {
  font-size: inherit;
}

.vf-content pre,
.vf-code-example__pre {
  border: 1px;
  display: grid;
  min-width: 0;
  overflow: auto;
  white-space: pre-wrap;
  @include padding--inline(all,map-get($vf-spacing-map, vf-spacing--s));
}

@if $vf-code-example-enable-hljs == true {
  /* github.com style (c) Vasily Polovnyov <vast@whiteants.net> */
  .hljs {
    background: set-ui-color(vf-ui-color--grey);
    color: set-ui-color(vf-ui-color--black);
    display: block;
    overflow-x: auto;
    padding: .5em; }

  .hljs-comment,
  .hljs-quote {
    color: set-color(vf-color--grey--lightest);
    font-style: italic; }

  .hljs-keyword,
  .hljs-selector-tag,
  .hljs-subst {
    color: set-ui-color(vf-ui-color--black);
    font-weight: bold; }

  .hljs-number,
  .hljs-literal,
  .hljs-variable,
  .hljs-template-variable,
  .hljs-tag .hljs-attr {
    color: set-color(vf-color--blue---dark); }

  .hljs-string,
  .hljs-doctag {
    color: set-color(vf-color--red); }

  .hljs-title,
  .hljs-section,
  .hljs-selector-id {
    color: set-color(vf-color--red--dark);
    font-weight: bold; }

  .hljs-subst {
    font-weight: normal; }

  .hljs-type,
  .hljs-class .hljs-title {
    color: set-color(vf-color--blue);
    font-weight: bold; }

  .hljs-tag,
  .hljs-name,
  .hljs-attribute {
    color: set-color(vf-color--blue--dark);
    font-weight: normal; }

  .hljs-regexp,
  .hljs-link {
    color: set-color(vf-color--green); }

  .hljs-symbol,
  .hljs-bullet {
    color: set-color(vf-color--red--dark); }

  .hljs-built_in,
  .hljs-builtin-name {
    color: set-color(vf-color--blue); }

  .hljs-meta {
    color: set-color(vf-color--grey--lightest);
    font-weight: bold; }

  .hljs-deletion {
    background: set-color(vf-color--red--light); }

  .hljs-addition {
    background: set-color(vf-color--bright-green--light); }

  .hljs-emphasis {
    font-style: italic; }

  .hljs-strong {
    font-weight: bold; }
}
