<main class="vf-grid vf-grid__col-3">
{% for item in typography.properties %}

<article class="vf-card">
  <div style="padding: 16px;">
    <p style="font-size: {{ item.value.fontSize }}; font-weight: {{ item.value.fontWeight }}; line-height: {{ item.value.lineHeight }}">{{ item.meta.pangram }}</p>
  </div>

  <section class="vf-stack | vf-card__content" style="--vf-stack-margin: .5rem;">
    <h3>{{ item.meta.friendlyName }}</h3>
    <hr class="vf-divider">
    <p><span>Font Size: </span><code>{{ item.value.fontSize }}</code></p>
    <p><span>Font Weight: </span><code>{{ item.value.fontWeight }}</code></p>
    <p><span>Ling Height: </span><code>{{ item.value.lineHeight}}</code></p>
    <hr class="vf-divider">
    <p>Sass:</p>
    <code>@mixin set-type(`{{ item.meta.sassMap }}`)</code>
  </section>
</article>

{% else %}

<p>Something went wrong.</p>

{% endfor %}
</main>
