<main class="vf-swatches | vf-grid vf-grid__col-2">

{% for item in typography.properties %}

<article class="vf-swatch">
  <div class="vf-swatch__colour">
    <h3 class="vf-swatch__colour-name">
      {{ item.meta.friendlyName }}
    </h3>
  </div>

  <section class="vf-swatch__details">
    <p style="font-size: {{ item.value.fontSize }}; font-weight: {{ item.value.fontWeight }}; line-height: {{ item.value.lineHeight }}">{{ item.meta.pangram }}</p>
  </section>
  <ul class="">
    <li><span>Font Size: </span>{{ item.value.fontSize }}</li>
    <li><span>Font Weight: </span>{{ item.value.fontWeight }}</li>
    <li><span>Ling Height: </span>{{ item.value.lineHeight}}</li>
  </ul>
  {% markdown %}
  {% endmarkdown %}
  <ul>
    <li><span>Sass: </span><code>@mixin set-type(`{{ item.meta.sassMap }}`)</code></li>
  </ul>
</article>
{% else %}

<p>Something went wrong.</p>

{% endfor %}
</main>
