// vf-logo

.vf-logo {
  color: set-color(vf-color-black);
  display: flex;
  height: 41px;
  text-decoration: none;
}

.vf-logo__text {
  align-self: center;
  left: 100px;
  position: relative;

  @media (max-width: 767px) {
    display: none;
  }
}
