<a href="{{href}}"
{# You're using an ID? Really?? That'll go here #}
{% if id %} id="{{-id-}}"{% endif %}
class="vf-logo--responsive
{%- if override_class %} | {{override_class}}{% endif -%}">
  <span class="vf-sr-only">{{sreen_reader_text}}</span>
</a>
