<a href="{{href}}"
{# You're using an ID? Really?? That'll go here #}
{% if id %} id="{{-id-}}"{% endif %}
class="vf-logo
{%- if override_class %} | {{override_class}}{% endif -%}">
  <img src="{{ image | path }}" alt="{{ _config.project.title }}">
  <span class="vf-sr-only">{{sreen_reader_text}}</span>
</a>
