<a href="{{logo_href}}"
{# You're using an ID? Really?? That'll go here #}
{% if id %} id="{{-id-}}"{% endif %}
class="vf-logo {%- if override_class %} | {{override_class}}{% endif -%}">
  <img class="vf-logo__image" src="{{ image }}" alt="{{ logo_text }}">
  <span class="vf-logo__text{% if hidden_text %} vf-u-sr-only{% endif %}">{{logo_text}}</span>
</a>
{% if deprecated_text %}<!-- {{ deprecated_text }} -->{% endif %}
