// vf-font-plex-mono

// $use-global-typography: false;
$vf-font-family-monospace: 'IBM Plex Mono', Monaco, Consolas, 'Lucida Console',
  monospace;

// html,
// button {
//   font-family: $vf-font-family-monospace;
// }

$font-prefix: '../assets/vf-font-plex-mono/assets' !default;
@import 'assets/scss/ibm-plex.scss'
