$componentInfo: (
             name: "@visual-framework/embl-content-hub-loader",
             version: "1.0.6",
             location: "components/embl-content-hub-loader",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Thu, 05 Nov 2020 11:32:01 GMT"
          );