$componentInfo: (
             name: "@visual-framework/embl-content-hub-loader",
             version: "1.0.5",
             location: "components/embl-content-hub-loader",
             vfCoreVersion: "2.2.4"
          );