$componentInfo: (
             name: "@visual-framework/embl-content-hub-loader",
             version: "1.0.6",
             location: "components/embl-content-hub-loader",
             vfCoreVersion: "2.2.8",
             buildTimeStamp: "Fri, 23 Oct 2020 09:33:56 GMT"
          );