<div class="vf-links vf-links--tight">
  <h3 class="vf-links__heading | vf-text vf-text--heading-xs">Latest Posts</h3>
  <ul class="vf-links__list vf-links__list--s vf-links__list--secondary">
    <li class="vf-links__item">
      <a class="vf-links__link" href="JavaScript:Void(0);">All<span class="vf-link__quantity">39</span></a>
    </li>
    <li class="vf-links__item">
      <a class="vf-links__link" href="JavaScript:Void(0);">Administration<span class="vf-link__quantity">39</span></a>
    </li>
    <li class="vf-links__item">
      <a class="vf-links__link" href="JavaScript:Void(0);">Bioninformatics<span class="vf-link__quantity">39</span></a>
    </li>
    <li class="vf-links__item">
      <a class="vf-links__link" href="JavaScript:Void(0);">Communication<span class="vf-link__quantity">39</span></a>
    </li>
    <li class="vf-links__item">
      <a class="vf-links__link" href="JavaScript:Void(0);">Data Curation<span class="vf-link__quantity">39</span></a>
    </li>
    <li class="vf-links__item">
      <a class="vf-links__link" href="JavaScript:Void(0);">General Support Services<span class="vf-link__quantity">39</span></a>
    </li>
    <li class="vf-links__item">
      <a class="vf-links__link" href="JavaScript:Void(0);">IT and Infrastructure<span class="vf-link__quantity">39</span></a>
    </li>
  </ul>
</div>
