// vf-links

.vf-links {
  margin-bottom: map-get($vf-spacing-map, vf-spacing-xxl);
}

.vf-llnks__heading {
  @include set-type(heading--r);
}

.vf-links__list {

  .vf-list__item {
    @include set-type(body--l);
    @include margin--block(bottom, map-get($vf-spacing-map, vf-spacing-l));
  }

  .vf-badge {
    margin-left: 8px;
  }
}

.vf-links__meta {
  @include set-type(body--s);

  color: set-color(vf-color-gray-dark);
  display: inline;
  margin-left: 4px;
}

.vf-links__list--secondary {

  .vf-list__link {
    @include inline-link(
      $vf-link-color: set-color(vf-color-gray),
      $vf-link-hover-color: set-color(vf-color-gray-dark)
    );

    text-decoration: none;
  }

  .vf-link__quantity {
    color: set-color(vf-color-gray-dark);
    position: relative;

    &::before {
      content: '(';
    }

    &::after {
      content: ')';
    }
  }
}


.vf-links--tight {

  .vf-links__heading {
    @include set-type(heading--s);
  }

  .vf-links__item {
    margin-bottom: map-get($vf-spacing-map, vf-spacing-s);
  }
}

.vf-links__list--s {

  .vf-list__item {
    @include set-type(body--s, $custom-margin-bottom: 8px);
  }
}
