<div class="vf-links {%- if component_modifier %} {{ component_modifier }}{% endif %}">
  <h3 class="vf-links__heading">{{ title }}</h3>
  <ul class="vf-links__list {%- if list_modifier %} vf-links__list--{{ list_modifier}}{% endif %} | vf-list">
    {% for item in list %}
    <li class="vf-list__item">
      <a class="vf-list__link" href="{{ item.link_list_href }}">
        {% if item.image %}
          {% if item.image == "blank" %}
            <span><!-- no image --></span>
            {% else %}
            {{ item.image }}
          {% endif %}
        {% endif %}
        {{ item.text }}
      </a>
      {% if item.badge %}{% render '@vf-badge' %}{% endif %}
      {% if item.meta %}
        <p class="vf-links__meta">{{ item.meta }}</p>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>
