<div class="vf-links">
  <h3 class="vf-links__heading">Latest Posts</h3>
  <ul class="vf-links__list | vf-list">
    <li class="vf-list__item">
      <a class="vf-list__link" href="#">VF’s top social media posts of 2017 and what we learned from them</a>
    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="#">The VF Imaging Centre: all about visibility</a>
    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="#">Press office sprint 1: journalist personas</a>
    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="#">A colour scheme for VF</a>{% render '@vf-badge' %}<p class="vf-links__meta">Updated 14th February 2018</p>
    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="#">New team members</a>
    </li>
  </ul>
</div>
