<div class="vf-links vf-links--tight vf-links__list--s">
  <h3 class="vf-links__heading">Latest Posts</h3>
  <ul class="vf-links__list vf-links__list--secondary | vf-list">
    <li class="vf-list__item">
      <a class="vf-list__link" href="">All</a>
      <span class="vf-list__meta">39</span>
    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="">Administration</a>
      <span class="vf-list__meta">39</span>
    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="">Bioninformatics</a>
      <span class="vf-list__meta">39</span>
    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="">Communication</a>
      <span class="vf-list__meta">39</span>
    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="">Data Curation</a>
      <span class="vf-list__meta">39</span>
    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="">General Support Services</a>
      <span class="vf-list__meta">39</span>
    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="">IT and Infrastructure</a>
      <span class="vf-list__meta">39</span>
    </li>
  </ul>
</div>
