<header class="vf-page-header">
  <h1 class="vf-page-header__heading | vf-text vf-text--heading-l">Strategy &amp Communications</h1>
  <span class="vf-page-header__sub-heading  | vf-text vf-text--heading-r">Blog</span>
</header>
