{% if context %}
  {% set embl_grid__type = context.embl_grid__type %}
  {% set embl_grid__hairline = context.embl_grid__hairline %}
  {% set embl_grid__modifier = context.embl_grid__modifier %}
{% endif %}

<div class="embl-grid
  {%- if embl_grid__type == "centered" %} embl-grid--has-centered-content
  {%- elif embl_grid__type == "sidebar" %} embl-grid--has-sidebar{%- endif -%}
  {%- if embl_grid__hairline %} embl-grid-has-sidebar--hairline{%- endif -%}
  {%- if embl_grid__modifier %} | {{embl_grid__modifier}}{%- endif -%}
">
  {% block embl_grid__content %}
  {% endblock %}
</div>
