<style>
.embl-grid > * {
  background-color: rgb(41, 141, 211);
}
.vf-pattern__container {
  max-width: 81.25em;
  margin: 0 auto;
}
</style>

<section class="embl-grid">
  <p class="vf-text--body-r | vf-u-padding-l vf-u-text-color-white">embl grid</p>
</section>
<section class="embl-grid embl-grid--labeled-with-sidebar">
  <p class="vf-text--body-r | vf-u-padding-l vf-u-text-color-white">header</p>
  <p class="vf-text--body-r | vf-u-padding-l vf-u-text-color-white">content</p>
  <p class="vf-text--body-r | vf-u-padding-l vf-u-text-color-white">sidebar</p>
</section>
<section class="embl-grid embl-grid--with-sidebar">
  <p class="vf-text--body-r | vf-u-padding-l vf-u-text-color-white">content</p>
  <p class="vf-text--body-r | vf-u-padding-l vf-u-text-color-white">sidebar</p>
</section>
<section class="embl-grid embl-grid--with-label">
  <p class="vf-text--body-r | vf-u-padding-l vf-u-text-color-white">header</p>
  <p class="vf-text--body-r | vf-u-padding-l vf-u-text-color-white">content</p>
</section>
