{% if context %}
  {% set embl_grid__type = context.embl_grid__type %}
  {% set embl_grid__hairline = context.embl_grid__hairline %}
  {% set embl_grid__modifier = context.embl_grid__modifier %}
{% endif %}

<div class="embl-grid
  {%- if embl_grid__type == "centered" %} embl-grid--has-centered-content
  {%- elif embl_grid__type == "sidebar" %} embl-grid--has-sidebar{%- endif -%}
  {%- if embl_grid__hairline %} embl-grid-has-sidebar--hairline{%- endif -%}
  {%- if embl_grid__modifier %} | {{embl_grid__modifier}}{%- endif -%}
">
  <div></div>
  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus fugiat delectus dolore molestias rerum? Dolores doloribus impedit quasi provident odit perferendis vitae incidunt, mollitia repellendus a alias necessitatibus, molestiae! Nesciunt. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta dolor odit vel ipsa consequatur sunt, esse sapiente commodi harum velit asperiores quasi nostrum sint dolorem blanditiis eum magnam voluptatibus aliquam.</p>
  </div>
  <div></div>
</div>
