<style>
.filler {
  background-color: rgb(41, 141, 211);;
  height: 5em;
  margin-bottom: 1em;
}
</style>

<div class="vf-body">
  <div class="embl-grid">
    <div class="filler"></div>
    <div class="filler"></div>
  </div>
  <div class="embl-grid">
    <div class="filler"></div>
    <div class="filler"></div>
    <div class="filler"></div>
  </div>
  <div class="embl-grid">
    <div class="filler"></div>
    <div class="filler"></div>
    <div class="filler"></div>
    <div class="filler"></div>
  </div>
  <div class="embl-grid embl-grid--has-sidebar">
    <div class="filler"></div>
    <div class="filler"></div>
    <div class="filler"></div>
  </div>
  <div class="embl-grid embl-grid--has-centered-content">
    <div class="filler"></div>
    <div class="filler"></div>
    <div class="filler"></div>
  </div>
</div>
