<div class="vf-body">
  <div class="embl-grid">
    <div></div>
    <div></div>
  </div>
  <div class="embl-grid embl-grid--has-sidebar">
    <div></div>
    <div>
      <p style="color: var(--vf-ui-color--white);">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum autem hic accusamus suscipit id, et dolorum officiis, cum possimus, enim amet. Officiis sunt eum cum qui, impedit, magni quasi esse.</p>
    </div>
    <div></div>
  </div>
  <div class="embl-grid embl-grid--has-sidebar embl-grid-has-sidebar--hairline">
    <div></div>
    <div>
      <p style="color: var(--vf-ui-color--white);">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum autem hic accusamus suscipit id, et dolorum officiis, cum possimus, enim amet. Officiis sunt eum cum qui, impedit, magni quasi esse.</p>
    </div>
    <div></div>
  </div>
  <div class="embl-grid embl-grid--has-centered-content">
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>

<style>
.embl-grid > div {
  /* For illustrative use on component demo page */
  background-color: var(--vf-color--blue);
  min-height: 5em;
}
</style>
