.embl-grid {
  display: grid;
  grid-column: main;
  grid-column-gap: var(--page-grid-gap);
  grid-template-columns:
    calc(var(--embl-grid-module--prime) + var(--embl-grid-spacing-normaliser))
    repeat(auto-fit, minmax(288px, 1fr))
  ;
  margin-bottom: 48px;

  & > :first-child {
    margin-right: var(--embl-grid-spacing-normaliser);
  }
}

.embl-grid--has-centered-content {
  --embl-grid-spacing-normaliser: 0; // removes margin from first child
  --page-grid-gap: 36px; //

  grid-template-columns:
    var(--embl-grid-module--prime)
    auto
    var(--embl-grid-module--prime)
  ;
}

.embl-grid--has-sidebar {

  & > *:last-child {
    position: relative;
  }
  & > *:last-child::before {
    background-color: map-get($colors-of-shame, light-grey);
    content: '';
    height: 100%;
    left: -18px;
    position: absolute;
    width: 1px;
  }
  & > *:nth-child(3n+2) {
    grid-column: span 2;
  }
}
