.embl-grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.embl-grid > * {
  flex-basis: 100%;
}
@supports (display: grid) {
  .embl-grid {
    display: grid;
    grid-column: main-start / main-end;
    grid-column-gap: 16px;
  }
  .embl-grid--full {
    grid-column: 1 / -1;
    grid-template-columns: 0 1fr 0;
    > * {
      grid-column: 2 / -2;
    }
    @media (min-width: 1024px) {
      grid-template-columns: auto 250px 738px auto;
      > * {
        grid-column: 3 / 4;
      }
      > :first-child {
        grid-column: 2;
      }
    }
    @media (min-width: 1280px) {
      grid-template-columns: auto 250px 640px 350px auto;
      > * {
        grid-column-end: 5;
      }
    }
  }
  .embl-grid > * {
    align-self: flex-start;
  }
}

@media (min-width: 63.9375em) {
  @supports (display: grid) {
    .embl-grid--labeled-with-sidebar {
      grid-template-columns: 8.5fr minmax(350px, 3.5fr);
    }
    .embl-grid--labeled-with-sidebar > *:nth-child(2) {
      margin-right: 0;
    }
  }
}
@media (max-width: 81.1875em) {
  @supports (display: grid) {
    .embl-grid--labeled-with-sidebar > *:first-child {
      grid-column: 1 / -1;
    }
    .embl-grid--labeled-with-sidebar > :nth-child(2) {
      grid-column: 1;
    }
  }
}

@media (min-width: 81.25em) {
  @supports (display: grid) {
    .embl-grid--labeled-with-sidebar {
      grid-template-columns: minmax(250px, 2.5fr) 7fr minmax(350px, 3.5fr);
    }
    .embl-grid--labeled-with-sidebar > *:nth-child(1) {
      grid-column: 1;
    }
  }
}

@media (min-width: 63.9375em) {
  .embl-grid--with-sidebar > *:nth-child(1) {
    flex: 8.5;
    margin-right: 20px;
  }
  .embl-grid--with-sidebar > *:nth-child(2) {
    flex: 3.5;
  }
  @supports (display: grid) {
    .embl-grid--with-sidebar {
      grid-template-columns: 8.5fr 350px;
    }
    .embl-grid--with-sidebar > *:nth-child(1) {
      margin-right: 0;
    }
  }
}

@media (max-width: 81.1875em) {
  .embl-grid--with-label > *:first-child {
    grid-column: 1 / -1;
  }
}
@media (min-width: 81.25em) {
  .embl-grid--with-label > *:first-child {
    grid-column: 1;
    flex: 2.5;
    margin-right: 20px;
  }
  .embl-grid--with-label > *:nth-child(2) {
    flex: 9.5;
  }
  @supports (display: grid) {
    .embl-grid--with-label {
      grid-template-columns: 250px 9.5fr;
    }

    .embl-grid--with-label > *:nth-child(1) {
      margin-right: 0;
    }
  }
}
