// vf-text
.vf-text-body {
  > a {
    @include inline-link;
  }
}
.vf-text-body--6 {
  @include set-type(text-body--6);
}

.vf-text-body--5 {
  @include set-type(text-body--5);
}

.vf-text-body--4 {
  @include set-type(text-body--4);
}

.vf-text-body--3 {
  @include set-type(text-body--3);
}

.vf-text-body--2 {
  @include set-type(text-body--2);
}

.vf-text-body--1 {
  @include set-type(text-body--1);
}
