.vf-text--body > a {
  border-bottom: none;
  color: #287ae2;
}

.vf-text--body > a:visited {
  color: #54585a;
  border-bottom: none;
}

.vf-text--body > a:hover {
  color: #003da5;
  border-bottom: none;
}

.vf-text--body > a[disabled] {
  color: #b9b3a8;
  cursor: not-allowed;
  border-bottom: none;
}

.vf-text--body-xs {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.5;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-text--body-s {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.57;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-text--body-s-alt {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.57;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-text--body-r {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.71;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-text--body-l {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  line-height: 1.421;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-text--body-xl {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.3125;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-text--body-link {
  border-bottom: none;
  color: #287ae2;
}

.vf-text--body-link:visited {
  color: #54585a;
  border-bottom: none;
}

.vf-text--body-link:hover {
  color: #003da5;
  border-bottom: none;
}

.vf-text--body-link[disabled] {
  color: #b9b3a8;
  cursor: not-allowed;
  border-bottom: none;
}
