// vf-global-header

$vf-global-header-background--color: set-color(vf-color-white);
$vf-global-header__link-text--color: set-color(vf-color-black);

.vf-global-header {
  align-items: center;
  background-color: $vf-global-header-background--color;
  border-bottom: solid 1px set-color(vf-color-gray);
  display: flex;
  grid-column: 1 / -1;
  height: auto;
  margin-bottom: .25rem;
  margin-top: .25rem;
  padding-bottom: .5rem;
}

.vf-global-header__inner {
  max-width: 76.5em;
}

.vf-global-header {
  [class*='navigation'] {
    margin-left: auto;
  }
}
