// vf-global-header

$vf-global-header-background--color: set-color(vf-color-white);
$vf-global-header__link-text--color: set-color(vf-color-black);

.vf-global-header {
  align-items: center;
  background-color: $vf-global-header-background--color;
  border-bottom: solid 1px set-color(vf-color-gray);
  grid-column: 1 / -1;
  height: auto;
  margin-bottom: -1px; // this hides the border if it's part of a larger header
  padding: .5rem 0;
}

.vf-global-header__inner {
  display: flex;
  max-width: 76.5em;
  margin: 0 auto;
}

.vf-global-header {
  [class*='navigation'] {
    align-self: center;
    margin-left: auto;
  }
}
