// vf-global-header

@import 'package.variables.scss';
// Debug information from component's `package.json`:
// ---
/*!
 * Component: #{map-get($componentInfo, 'name')}
 * Version: #{map-get($componentInfo, 'version')}
 * Location: #{map-get($componentInfo, 'location')}
 */

$vf-global-header-background--color: set-ui-color(vf-ui-color--white);
$vf-global-header__link-text--color: set-ui-color(vf-ui-color--black);

.vf-global-header {
  align-items: center;
  background-color: $vf-global-header-background--color;
  box-sizing: border-box;
  grid-column: 1 / -1;
  height: auto;
  margin: 0 auto;
  max-width: 78.5em;
  padding: .5rem;
  width: 100%;

  .vf-logo {
    margin-bottom: 8px;
    margin-right: 16px;
  }
  .vf-navigation--global .vf-navigation__item:not(:first-child) {
    margin-left: 8px;
  }
  
  @media (min-width: $vf-breakpoint--lg) {
    padding: .5em 1em;
  }
}

.vf-global-header__inner {
  display: flex;
  flex-wrap: wrap;
}

.vf-global-header__site-name {
  align-self: center;
  display: block;
  margin: 0 16px 8px 0;
}

.vf-global-header {
  .vf-navigation {
    margin-bottom: 8px;
  }
  [class*='navigation'] {
    align-self: center;

    @media (min-width: $vf-breakpoint--lg) {
      margin-left: auto;
    }
  }

}
