$vf-global-header-background--color: set-ui-color(vf-ui-color--white);
$vf-global-header-text--color: set-color(vf-color--grey--dark);
$vf-global-header__link-text--color: set-ui-color(vf-ui-color--black);
