{% if context %}
  {% set global_logo = context.global_logo %}
{% endif %}


<header class="vf-global-header">

    {% render '@vf-logo', { 'context': global_logo } %}

    {% render '@vf-navigation--global' %}

</header>
