<div class="vf-cluster
  {%- if cluster__spacing %} vf-cluster--{{cluster__spacing}}{%- endif -%}"
  {%- if cluster_custom_alignment or cluster_custom_spacing or cluster_child_flex %} style="
    {%- if cluster_custom_alignment %}--vf-cluster-alignment: {{cluster_custom_alignment}};{% endif -%}
    {%- if cluster_custom_spacing %} --vf-cluster-margin: {{cluster_custom_spacing}};{% endif -%}
    {%- if cluster_child_flex %} --vf-cluster__item--flex: {{cluster_child_flex}};{% endif -%}
  {%- endif -%}
">

  <div class="vf-cluster__inner">

    <figure class="vf-figure">
      <img class="vf-figure__image" src="../../assets/vf-figure/assets/figure-example.png" alt="hello alt text" loading="lazy">
      <figcaption class="vf-figure__caption">Version, 1982, Adenovirus with 217 dots</figcaption>
    </figure>
    <figure class="vf-figure">
      <img class="vf-figure__image" src="../../assets/vf-figure/assets/figure-example.png" alt="hello alt text" loading="lazy">
      <figcaption class="vf-figure__caption">Version, 1982, Adenovirus with 217 dots</figcaption>
    </figure>
    <figure class="vf-figure">
      <img class="vf-figure__image" src="../../assets/vf-figure/assets/figure-example.png" alt="hello alt text" loading="lazy">
      <figcaption class="vf-figure__caption">Version, 1982, Adenovirus with 217 dots</figcaption>
    </figure>
    <figure class="vf-figure">
      <img class="vf-figure__image" src="../../assets/vf-figure/assets/figure-example.png" alt="hello alt text" loading="lazy">
      <figcaption class="vf-figure__caption">Version, 1982, Adenovirus with 217 dots</figcaption>
    </figure>
    <figure class="vf-figure">
      <img class="vf-figure__image" src="../../assets/vf-figure/assets/figure-example.png" alt="hello alt text" loading="lazy">
      <figcaption class="vf-figure__caption">Version, 1982, Adenovirus with 217 dots</figcaption>
    </figure>

  </div>
</div>
