<div class="vf-cluster
  {%- if cluster__spacing %} vf-cluster--{{cluster__spacing}}{%- endif -%}"
  {%- if cluster_custom_alignment or cluster_custom_spacing or cluster_child_flex %} style="
    {%- if cluster_custom_alignment %}--vf-cluster-alignment: {{cluster_custom_alignment}};{% endif -%}
    {%- if cluster_custom_spacing %} --vf-cluster-margin: {{cluster_custom_spacing}};{% endif -%}
    {%- if cluster_child_flex %} --vf-cluster__item--flex: {{cluster_child_flex}};{% endif -%}
  {%- endif -%}">

  <div class="vf-cluster__inner">

    {% render '@vf-box--normal-primary' %}
    {% render '@vf-box--normal-primary' %}
    {% render '@vf-box--normal-primary' %}
    {% render '@vf-box--normal-secondary' %}
    {% render '@vf-box--normal-secondary' %}
    {% render '@vf-box--normal-secondary' %}
    {% render '@vf-box--normal-tertiary' %}
    {% render '@vf-box--normal-tertiary' %}
    {% render '@vf-box--normal-tertiary' %}

  </div>
</div>
