<section class="vf-card-container | vf-hook-locations">
  <div class="vf-card-container__inner">

    {% include '@vf-section-header' %}

    {% asyncEach card in vf_cards %}
      {% include '@vf-card' %}
    {% endeach %}

  </div>

</section>
