<section class="vf-card-container">

  {% render '@vf-section-header'%}

  {% render '@vf-card--navigation-card' %}
  {% render '@vf-card--navigation-card' %}
  {% render '@vf-card--navigation-card' %}
  {% render '@vf-card--navigation-card' %}
  {% render '@vf-card--navigation-card' %}
  {% render '@vf-card--navigation-card' %}

</section>
