---
title: I'm pure 2.0
date: 2019-04-09 12:24:50
tags: posts
layout: layouts/base.njk
---

<link rel="import" href="https://dev.beta.embl.org/api/v1/pattern.html?pattern=vf-jobs-snippet&filter-content-type=jobs&filter-field-contains[field_jobs_description]=Cancer&filter-field-date-after[field_jobs_expiration]=today&limit=3&source=contenthub" data-target="self" data-embl-js-content-hub-loader>
