---
title: I'm an update
date: 2019-04-09 12:24:50
tags: posts
layout: layouts/base.njk
---




  <!-- CSS: implied media=all -->
  <!-- CSS concatenated and minified via ant build script-->

  <link rel="stylesheet" href="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.3/css/ebi-global.css" type="text/css" media="all" />
  <link rel="stylesheet" href="https://dev.ebi.emblstatic.net/web_guidelines/EBI-Icon-fonts/v1.3/fonts.css" type="text/css" media="all" />

  <!-- Use this CSS file for any custom styling -->
  <!--
    <link rel="stylesheet" href="css/custom.css" type="text/css" media="all" />
  -->

  <!-- If you have a custom header image or colour -->
  <!--
  <meta name="ebi:masthead-color" content="#000" />
  <meta name="ebi:masthead-image" content="//www.ebi.ac.uk/web_guidelines/EBI-Framework/images/backgrounds/embl-ebi-background.jpg" />
  -->

  <!-- you can replace this with theme-[projectname].css. See http://www.ebi.ac.uk/web/style/colour for details of how to do this -->
  <!-- also inform ES so we can host your colour palette file -->
  <link rel="stylesheet" href="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.3/css/theme-embl-petrol.css" type="text/css" media="all" />
  <!-- end CSS-->

  <header id="masthead-black-bar" class="clearfix masthead-black-bar">
  </header>
  <div id="content">
    <div data-sticky-container>
      <header id="masthead" class="masthead" data-sticky data-sticky-on="large" data-top-anchor="content:top" data-btm-anchor="content:bottom">
        <div class="masthead-inner row">
          <!-- local-title -->
          <div class="columns medium-12" id="local-title">
            <h1><a href="../../" title="Back to [service-name] homepage">EBI Framework</a></h1>
          </div>
          <!-- /local-title -->
          <!-- local-nav -->
          <nav >
            <ul id="local-nav" class="dropdown menu float-left" data-description="navigational">
              <li><a href="../../">Overview</a></li>
              <li><a data-open="modal-download">Download</a></li>
              <li><a href="#">Support <i class="icon icon-generic" data-icon="x"></i></a></li>
            </ul>
          </nav>
          <!-- /local-nav -->
        </div>
      </header>
    </div>
    <!-- Suggested layout containers -->
    <section id="main-content-area" class="row" role="main">
      <!-- Your menu structure should make a breadcrumb redundant, but if a breadcrump is needed uncomment the below -->
      <nav aria-label="You are here:" role="navigation">
        <ul class="breadcrumbs columns">
          <li><a href="../../">EBI Framework</a></li>
          <li><a href="../">Sample pages</a></li>
          <li>
            <span class="show-for-sr">Current: </span> Blank boilerplate
          </li>
        </ul>
      </nav>

      <div class="columns">
        <section>
          <h2>EBI Boilerplate + jobs widget</h2>

          <p>A quick port of https://www.ebi.ac.uk/style-lab/websites/sample-site/boilerplate/blank.html</p>

          <p><a href="https://www.ebi.ac.uk/style-lab/websites/patterns/" class="vf-link">Lot's more VF 1.x components to try out here</a>.</p>

          <link rel="import" href="https://dev.beta.embl.org/api/v1/pattern.html?pattern=vf-jobs-snippet&filter-content-type=jobs&filter-field-contains[field_jobs_description]=Cancer&filter-field-date-after[field_jobs_expiration]=today&limit=3&source=contenthub" data-target="self" data-embl-js-content-hub-loader>

        </section>
      </div>

    </section>
    <!-- Optional local footer (insert citation / project-specific copyright / etc here -->
    <!--
    <footer id="local-footer" class="local-footer" role="local-footer">
      <div class="row">
        <span class="reference">How to reference this page: ...</span>
      </div>
    </footer>
    -->
    <!-- End optional local footer -->
  </div>
  <!-- End suggested layout containers / #content -->

  <footer>
    <div id="global-footer" class="global-footer">
      <nav id="global-nav-expanded" class="global-nav-expanded row">
        <!-- Footer will be automatically inserted by footer.js -->
      </nav>
      <section id="ebi-footer-meta" class="ebi-footer-meta row">
        <!-- Footer meta will be automatically inserted by footer.js -->
      </section>
    </div>
  </footer>

  <!-- JavaScript -->
  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <!--
  <script>window.jQuery || document.write('<script src="../js/libs/jquery-1.10.2.min.js"><\/script>')</script>
  -->

  <script defer="defer" src="//ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.3/js/script.js"></script>

  <!-- The Foundation theme JavaScript -->
  <script src="//ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.3/libraries/foundation-6/js/foundation.js"></script>
  {# <script src="//ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.3/js/foundationExtendEBI.js"></script> #}
  <script type="text/JavaScript">$(document).foundation();</script>
  {# <script type="text/JavaScript">$(document).foundationExtendEBI();</script> #}
