:root {
  --vf-color-white: rgb(255, 255, 255);
  --vf-color-off-white: rgb(250, 250, 250);
  --vf-color-black: rgb(40, 45, 35);
  --vf-color-gray: rgb(112, 115, 114);
  --vf-color-gray-bright: rgb(185, 179, 168);
  --vf-color-gray-dark: rgb(84, 88, 90);
  --vf-color-green: rgb(0, 159, 77);
  --vf-color-green-bright: rgb(108, 194, 74);
  --vf-color-green-dark: rgb(0, 123, 83);
  --vf-color-light-green: rgb(168, 199, 0);
  --vf-color-light-green-bright: rgb(226, 232, 104);
  --vf-color-light-green-dark: rgb(132, 189, 0);
  --vf-color-ruby: rgb(228, 0, 70);
  --vf-color-ruby-bright: rgb(229, 143, 158);
  --vf-color-ruby-dark: rgb(166, 9, 61);
  --vf-color-yellow: rgb(255, 205, 0);
  --vf-color-yellow-bright: rgb(253, 215, 87);
  --vf-color-yellow-dark: rgb(255, 184, 28);
  --vf-color-purple: rgb(130, 70, 175);
  --vf-color-purple-bright: rgb(203, 163, 216);
  --vf-color-purple-dark: rgb(86, 61, 130);
  --vf-color-amber: rgb(255, 163, 0);
  --vf-color-amber-bright: rgb(190, 84, 0);
  --vf-color-amber-dark: rgb(239, 192, 110);
  --vf-color-azure: rgb(40, 122, 226);
  --vf-color-azure-bright: rgb(139, 184, 232);
  --vf-color-azure-dark: rgb(0, 61, 165);
}

:root {
  --vf-ui-color-black: rgb(0, 0, 0);
  --vf-ui-color-gray: rgb(243, 243, 243);
  --vf-ui-color-gray-light: rgb(216, 216, 216);
  --vf-ui-color-yellow: rgb(255, 250, 220);
  --vf-ui-color-red: rgb(211, 47, 47);
}

.vf-u-background-color-white {
  background-color: white;
}

.vf-u-background-color-off-white {
  background-color: #fafafa;
}

.vf-u-background-color-black {
  background-color: #282d23;
}

.vf-u-background-color-gray {
  background-color: #707372;
}

.vf-u-background-color-gray-bright {
  background-color: #b9b3a8;
}

.vf-u-background-color-gray-dark {
  background-color: #54585a;
}

.vf-u-background-color-green {
  background-color: #009f4d;
}

.vf-u-background-color-green-bright {
  background-color: #6cc24a;
}

.vf-u-background-color-green-dark {
  background-color: #007b53;
}

.vf-u-background-color-light-green {
  background-color: #a8c700;
}

.vf-u-background-color-light-green-bright {
  background-color: #e2e868;
}

.vf-u-background-color-light-green-dark {
  background-color: #84bd00;
}

.vf-u-background-color-ruby {
  background-color: #e40046;
}

.vf-u-background-color-ruby-bright {
  background-color: #e58f9e;
}

.vf-u-background-color-ruby-dark {
  background-color: #a6093d;
}

.vf-u-background-color-yellow {
  background-color: #ffcd00;
}

.vf-u-background-color-yellow-bright {
  background-color: #fdd757;
}

.vf-u-background-color-yellow-dark {
  background-color: #ffb81c;
}

.vf-u-background-color-purple {
  background-color: #8246af;
}

.vf-u-background-color-purple-bright {
  background-color: #cba3d8;
}

.vf-u-background-color-purple-dark {
  background-color: #563d82;
}

.vf-u-background-color-amber {
  background-color: #ffa300;
}

.vf-u-background-color-amber-bright {
  background-color: #be5400;
}

.vf-u-background-color-amber-dark {
  background-color: #efc06e;
}

.vf-u-background-color-azure {
  background-color: #287ae2;
}

.vf-u-background-color-azure-bright {
  background-color: #8bb8e8;
}

.vf-u-background-color-azure-dark {
  background-color: #003da5;
}

.vf-u-background-color-ui-black {
  background-color: black;
}

.vf-u-background-color-ui-gray {
  background-color: #f3f3f3;
}

.vf-u-background-color-ui-gray-light {
  background-color: #d8d8d8;
}

.vf-u-background-color-ui-yellow {
  background-color: #fffadc;
}

.vf-u-background-color-ui-red {
  background-color: #d32f2f;
}

.vf-u-border-color-white {
  border-color: white;
}

.vf-u-border-color-off-white {
  border-color: #fafafa;
}

.vf-u-border-color-black {
  border-color: #282d23;
}

.vf-u-border-color-gray {
  border-color: #707372;
}

.vf-u-border-color-gray-bright {
  border-color: #b9b3a8;
}

.vf-u-border-color-gray-dark {
  border-color: #54585a;
}

.vf-u-border-color-green {
  border-color: #009f4d;
}

.vf-u-border-color-green-bright {
  border-color: #6cc24a;
}

.vf-u-border-color-green-dark {
  border-color: #007b53;
}

.vf-u-border-color-light-green {
  border-color: #a8c700;
}

.vf-u-border-color-light-green-bright {
  border-color: #e2e868;
}

.vf-u-border-color-light-green-dark {
  border-color: #84bd00;
}

.vf-u-border-color-ruby {
  border-color: #e40046;
}

.vf-u-border-color-ruby-bright {
  border-color: #e58f9e;
}

.vf-u-border-color-ruby-dark {
  border-color: #a6093d;
}

.vf-u-border-color-yellow {
  border-color: #ffcd00;
}

.vf-u-border-color-yellow-bright {
  border-color: #fdd757;
}

.vf-u-border-color-yellow-dark {
  border-color: #ffb81c;
}

.vf-u-border-color-purple {
  border-color: #8246af;
}

.vf-u-border-color-purple-bright {
  border-color: #cba3d8;
}

.vf-u-border-color-purple-dark {
  border-color: #563d82;
}

.vf-u-border-color-amber {
  border-color: #ffa300;
}

.vf-u-border-color-amber-bright {
  border-color: #be5400;
}

.vf-u-border-color-amber-dark {
  border-color: #efc06e;
}

.vf-u-border-color-azure {
  border-color: #287ae2;
}

.vf-u-border-color-azure-bright {
  border-color: #8bb8e8;
}

.vf-u-border-color-azure-dark {
  border-color: #003da5;
}

.vf-u-border-color-ui-black {
  border-color: black;
}

.vf-u-border-color-ui-gray {
  border-color: #f3f3f3;
}

.vf-u-border-color-ui-gray-light {
  border-color: #d8d8d8;
}

.vf-u-border-color-ui-yellow {
  border-color: #fffadc;
}

.vf-u-border-color-ui-red {
  border-color: #d32f2f;
}

.vf-u-margin-0 {
  margin: 0;
}

.vf-u-margin-xs {
  margin: 4px;
}

.vf-u-margin-s {
  margin: 8px;
}

.vf-u-margin-r {
  margin: 16px;
}

.vf-u-margin-l {
  margin: 20px;
}

.vf-u-margin-xl {
  margin: 24px;
}

.vf-u-margin-xxl {
  margin: 32px;
}

.vf-u-margin__bottom-0 {
  margin-bottom: 0;
}

.vf-u-margin__bottom-xs {
  margin-bottom: 4px;
}

.vf-u-margin__bottom-s {
  margin-bottom: 8px;
}

.vf-u-margin__bottom-r {
  margin-bottom: 16px;
}

.vf-u-margin__bottom-l {
  margin-bottom: 20px;
}

.vf-u-margin__bottom-xl {
  margin-bottom: 24px;
}

.vf-u-margin__bottom-xxl {
  margin-bottom: 32px;
}

.vf-u-margin__top-0 {
  margin-top: 0;
}

.vf-u-margin__top-xs {
  margin-top: 4px;
}

.vf-u-margin__top-s {
  margin-top: 8px;
}

.vf-u-margin__top-r {
  margin-top: 16px;
}

.vf-u-margin__top-l {
  margin-top: 20px;
}

.vf-u-margin__top-xl {
  margin-top: 24px;
}

.vf-u-margin__top-xxl {
  margin-top: 32px;
}

.vf-u-margin__left-0 {
  margin-left: 0;
}

.vf-u-margin__left-xs {
  margin-left: 4px;
}

.vf-u-margin__left-s {
  margin-left: 8px;
}

.vf-u-margin__left-r {
  margin-left: 16px;
}

.vf-u-margin__left-l {
  margin-left: 20px;
}

.vf-u-margin__left-xl {
  margin-left: 24px;
}

.vf-u-margin__left-xxl {
  margin-left: 32px;
}

.vf-u-margin__right-0 {
  margin-right: 0;
}

.vf-u-margin__right-xs {
  margin-right: 4px;
}

.vf-u-margin__right-s {
  margin-right: 8px;
}

.vf-u-margin__right-r {
  margin-right: 16px;
}

.vf-u-margin__right-l {
  margin-right: 20px;
}

.vf-u-margin__right-xl {
  margin-right: 24px;
}

.vf-u-margin__right-xxl {
  margin-right: 32px;
}

.vf-u-padding-0 {
  padding: 0;
}

.vf-u-padding-xs {
  padding: 4px;
}

.vf-u-padding-s {
  padding: 8px;
}

.vf-u-padding-r {
  padding: 16px;
}

.vf-u-padding-l {
  padding: 20px;
}

.vf-u-padding-xl {
  padding: 24px;
}

.vf-u-padding-xxl {
  padding: 32px;
}

.vf-u-padding__bottom-0 {
  padding-bottom: 0;
}

.vf-u-padding__bottom-xs {
  padding-bottom: 4px;
}

.vf-u-padding__bottom-s {
  padding-bottom: 8px;
}

.vf-u-padding__bottom-r {
  padding-bottom: 16px;
}

.vf-u-padding__bottom-l {
  padding-bottom: 20px;
}

.vf-u-padding__bottom-xl {
  padding-bottom: 24px;
}

.vf-u-padding__bottom-xxl {
  padding-bottom: 32px;
}

.vf-u-padding__top-0 {
  padding-top: 0;
}

.vf-u-padding__top-xs {
  padding-top: 4px;
}

.vf-u-padding__top-s {
  padding-top: 8px;
}

.vf-u-padding__top-r {
  padding-top: 16px;
}

.vf-u-padding__top-l {
  padding-top: 20px;
}

.vf-u-padding__top-xl {
  padding-top: 24px;
}

.vf-u-padding__top-xxl {
  padding-top: 32px;
}

.vf-u-padding__left-0 {
  padding-left: 0;
}

.vf-u-padding__left-xs {
  padding-left: 4px;
}

.vf-u-padding__left-s {
  padding-left: 8px;
}

.vf-u-padding__left-r {
  padding-left: 16px;
}

.vf-u-padding__left-l {
  padding-left: 20px;
}

.vf-u-padding__left-xl {
  padding-left: 24px;
}

.vf-u-padding__left-xxl {
  padding-left: 32px;
}

.vf-u-padding__right-0 {
  padding-right: 0;
}

.vf-u-padding__right-xs {
  padding-right: 4px;
}

.vf-u-padding__right-s {
  padding-right: 8px;
}

.vf-u-padding__right-r {
  padding-right: 16px;
}

.vf-u-padding__right-l {
  padding-right: 20px;
}

.vf-u-padding__right-xl {
  padding-right: 24px;
}

.vf-u-padding__right-xxl {
  padding-right: 32px;
}

.vf-u-text-color-white {
  color: white;
}

.vf-u-text-color-off-white {
  color: #fafafa;
}

.vf-u-text-color-black {
  color: #282d23;
}

.vf-u-text-color-gray {
  color: #707372;
}

.vf-u-text-color-gray-bright {
  color: #b9b3a8;
}

.vf-u-text-color-gray-dark {
  color: #54585a;
}

.vf-u-text-color-green {
  color: #009f4d;
}

.vf-u-text-color-green-bright {
  color: #6cc24a;
}

.vf-u-text-color-green-dark {
  color: #007b53;
}

.vf-u-text-color-light-green {
  color: #a8c700;
}

.vf-u-text-color-light-green-bright {
  color: #e2e868;
}

.vf-u-text-color-light-green-dark {
  color: #84bd00;
}

.vf-u-text-color-ruby {
  color: #e40046;
}

.vf-u-text-color-ruby-bright {
  color: #e58f9e;
}

.vf-u-text-color-ruby-dark {
  color: #a6093d;
}

.vf-u-text-color-yellow {
  color: #ffcd00;
}

.vf-u-text-color-yellow-bright {
  color: #fdd757;
}

.vf-u-text-color-yellow-dark {
  color: #ffb81c;
}

.vf-u-text-color-purple {
  color: #8246af;
}

.vf-u-text-color-purple-bright {
  color: #cba3d8;
}

.vf-u-text-color-purple-dark {
  color: #563d82;
}

.vf-u-text-color-amber {
  color: #ffa300;
}

.vf-u-text-color-amber-bright {
  color: #be5400;
}

.vf-u-text-color-amber-dark {
  color: #efc06e;
}

.vf-u-text-color-azure {
  color: #287ae2;
}

.vf-u-text-color-azure-bright {
  color: #8bb8e8;
}

.vf-u-text-color-azure-dark {
  color: #003da5;
}

.vf-u-text-color--ui-black {
  color: black;
}

.vf-u-text-color--ui-gray {
  color: #f3f3f3;
}

.vf-u-text-color--ui-gray-light {
  color: #d8d8d8;
}

.vf-u-text-color--ui-yellow {
  color: #fffadc;
}

.vf-u-text-color--ui-red {
  color: #d32f2f;
}

.vf-u-type__body--l {
  font-size: 19px;
  font-weight: 400;
  line-height: 1.421;
}

.vf-u-type__body--r {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.71;
}

.vf-u-type__body--s {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.57;
}

.vf-u-type__body--s-alt {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.57;
}

.vf-u-type__body--xl {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.3125;
}

.vf-u-type__body--xs {
  font-size: 11px;
  font-weight: 600;
  line-height: 1.5;
}

.vf-u-type__button--r {
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
}

.vf-u-type__button--s {
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
}

.vf-u-type__heading--l {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.333;
}

.vf-u-type__heading--l-alt {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.333;
}

.vf-u-type__heading--r {
  font-size: 21px;
  font-weight: 500;
  line-height: 1.29;
}

.vf-u-type__heading--s {
  font-size: 19px;
  font-weight: 500;
  line-height: 1.5;
}

.vf-u-type__heading--xl {
  font-size: 42px;
  font-weight: 700;
  line-height: 1.547;
}

.vf-u-display-none {
  display: none;
}
