:root {
  --vf-color--green: #009f4d;
  --vf-color--green--darkest: #115740;
  --vf-color--green--dark: #007a53;
  --vf-color--green--light: #6cc24a;
  --vf-color--green--lightest: #d0debb;
  --vf-color--grey: #707372;
  --vf-color--grey--darkest: #373a36;
  --vf-color--grey--dark: #54585a;
  --vf-color--grey--light: #d0d0ce;
  --vf-color--grey--lightest: #a8a99e;
  --vf-color--red: #e40046;
  --vf-color--red--dark: #a6093d;
  --vf-color--red--light: #e58f9e;
  --vf-color--blue: #307fe2;
  --vf-color--blue--dark: #003da5;
  --vf-color--blue--light: #8bb8e8;
  --vf-color--purple: #8246af;
  --vf-color--purple--dark: #563d82;
  --vf-color--purple--light: #cba3d8;
  --vf-color--orange: #ffa300;
  --vf-color--orange--dark: #be5400;
  --vf-color--orange--light: #efc06e;
  --vf-color--yellow: #ffcd00;
  --vf-color--yellow--dark: #ffb81c;
  --vf-color--yellow--light: #fdd757;
  --vf-color--bright-green: #a8c700;
  --vf-color--bright-green--dark: #84bd00;
  --vf-color--bright-green--light: #e2e868;
}

:root {
  --vf-ui-color--black: #000000;
  --vf-ui-color--grey: #f3f3f3;
  --vf-ui-color--grey--light: #d8d8d8;
  --vf-ui-color--yellow: #fffadc;
  --vf-ui-color--red: #d32f2f;
  --vf-ui-color--white: #ffffff;
  --vf-ui-color--off-white: #fafafa;
}

.vf-u-background-color--green {
  background-color: #009f4d;
}

.vf-u-background-color--green--darkest {
  background-color: #115740;
}

.vf-u-background-color--green--dark {
  background-color: #007a53;
}

.vf-u-background-color--green--light {
  background-color: #6cc24a;
}

.vf-u-background-color--green--lightest {
  background-color: #d0debb;
}

.vf-u-background-color--grey {
  background-color: #707372;
}

.vf-u-background-color--grey--darkest {
  background-color: #373a36;
}

.vf-u-background-color--grey--dark {
  background-color: #54585a;
}

.vf-u-background-color--grey--light {
  background-color: #d0d0ce;
}

.vf-u-background-color--grey--lightest {
  background-color: #a8a99e;
}

.vf-u-background-color--red {
  background-color: #e40046;
}

.vf-u-background-color--red--dark {
  background-color: #a6093d;
}

.vf-u-background-color--red--light {
  background-color: #e58f9e;
}

.vf-u-background-color--blue {
  background-color: #307fe2;
}

.vf-u-background-color--blue--dark {
  background-color: #003da5;
}

.vf-u-background-color--blue--light {
  background-color: #8bb8e8;
}

.vf-u-background-color--purple {
  background-color: #8246af;
}

.vf-u-background-color--purple--dark {
  background-color: #563d82;
}

.vf-u-background-color--purple--light {
  background-color: #cba3d8;
}

.vf-u-background-color--orange {
  background-color: #ffa300;
}

.vf-u-background-color--orange--dark {
  background-color: #be5400;
}

.vf-u-background-color--orange--light {
  background-color: #efc06e;
}

.vf-u-background-color--yellow {
  background-color: #ffcd00;
}

.vf-u-background-color--yellow--dark {
  background-color: #ffb81c;
}

.vf-u-background-color--yellow--light {
  background-color: #fdd757;
}

.vf-u-background-color--bright-green {
  background-color: #a8c700;
}

.vf-u-background-color--bright-green--dark {
  background-color: #84bd00;
}

.vf-u-background-color--bright-green--light {
  background-color: #e2e868;
}

.vf-u-background-color-ui--black {
  background-color: #000000;
}

.vf-u-background-color-ui--grey {
  background-color: #f3f3f3;
}

.vf-u-background-color-ui--grey--light {
  background-color: #d8d8d8;
}

.vf-u-background-color-ui--yellow {
  background-color: #fffadc;
}

.vf-u-background-color-ui--red {
  background-color: #d32f2f;
}

.vf-u-background-color-ui--white {
  background-color: #ffffff;
}

.vf-u-background-color-ui--off-white {
  background-color: #fafafa;
}

.vf-u-border-color--green {
  border-color: #009f4d;
}

.vf-u-border-color--green--darkest {
  border-color: #115740;
}

.vf-u-border-color--green--dark {
  border-color: #007a53;
}

.vf-u-border-color--green--light {
  border-color: #6cc24a;
}

.vf-u-border-color--green--lightest {
  border-color: #d0debb;
}

.vf-u-border-color--grey {
  border-color: #707372;
}

.vf-u-border-color--grey--darkest {
  border-color: #373a36;
}

.vf-u-border-color--grey--dark {
  border-color: #54585a;
}

.vf-u-border-color--grey--light {
  border-color: #d0d0ce;
}

.vf-u-border-color--grey--lightest {
  border-color: #a8a99e;
}

.vf-u-border-color--red {
  border-color: #e40046;
}

.vf-u-border-color--red--dark {
  border-color: #a6093d;
}

.vf-u-border-color--red--light {
  border-color: #e58f9e;
}

.vf-u-border-color--blue {
  border-color: #307fe2;
}

.vf-u-border-color--blue--dark {
  border-color: #003da5;
}

.vf-u-border-color--blue--light {
  border-color: #8bb8e8;
}

.vf-u-border-color--purple {
  border-color: #8246af;
}

.vf-u-border-color--purple--dark {
  border-color: #563d82;
}

.vf-u-border-color--purple--light {
  border-color: #cba3d8;
}

.vf-u-border-color--orange {
  border-color: #ffa300;
}

.vf-u-border-color--orange--dark {
  border-color: #be5400;
}

.vf-u-border-color--orange--light {
  border-color: #efc06e;
}

.vf-u-border-color--yellow {
  border-color: #ffcd00;
}

.vf-u-border-color--yellow--dark {
  border-color: #ffb81c;
}

.vf-u-border-color--yellow--light {
  border-color: #fdd757;
}

.vf-u-border-color--bright-green {
  border-color: #a8c700;
}

.vf-u-border-color--bright-green--dark {
  border-color: #84bd00;
}

.vf-u-border-color--bright-green--light {
  border-color: #e2e868;
}

.vf-u-border-color-ui--black {
  border-color: #000000;
}

.vf-u-border-color-ui--grey {
  border-color: #f3f3f3;
}

.vf-u-border-color-ui--grey--light {
  border-color: #d8d8d8;
}

.vf-u-border-color-ui--yellow {
  border-color: #fffadc;
}

.vf-u-border-color-ui--red {
  border-color: #d32f2f;
}

.vf-u-border-color-ui--white {
  border-color: #ffffff;
}

.vf-u-border-color-ui--off-white {
  border-color: #fafafa;
}

.vf-u-margin--0 {
  margin: 0;
}

.vf-u-margin--xs {
  margin: 4px;
}

.vf-u-margin--s {
  margin: 8px;
}

.vf-u-margin--r {
  margin: 16px;
}

.vf-u-margin--l {
  margin: 20px;
}

.vf-u-margin--xl {
  margin: 24px;
}

.vf-u-margin--xxl {
  margin: 32px;
}

.vf-u-margin__bottom--0 {
  margin-bottom: 0;
}

.vf-u-margin__bottom--xs {
  margin-bottom: 4px;
}

.vf-u-margin__bottom--s {
  margin-bottom: 8px;
}

.vf-u-margin__bottom--r {
  margin-bottom: 16px;
}

.vf-u-margin__bottom--l {
  margin-bottom: 20px;
}

.vf-u-margin__bottom--xl {
  margin-bottom: 24px;
}

.vf-u-margin__bottom--xxl {
  margin-bottom: 32px;
}

.vf-u-margin__top--0 {
  margin-top: 0;
}

.vf-u-margin__top--xs {
  margin-top: 4px;
}

.vf-u-margin__top--s {
  margin-top: 8px;
}

.vf-u-margin__top--r {
  margin-top: 16px;
}

.vf-u-margin__top--l {
  margin-top: 20px;
}

.vf-u-margin__top--xl {
  margin-top: 24px;
}

.vf-u-margin__top--xxl {
  margin-top: 32px;
}

.vf-u-margin__left--0 {
  margin-left: 0;
}

.vf-u-margin__left--xs {
  margin-left: 4px;
}

.vf-u-margin__left--s {
  margin-left: 8px;
}

.vf-u-margin__left--r {
  margin-left: 16px;
}

.vf-u-margin__left--l {
  margin-left: 20px;
}

.vf-u-margin__left--xl {
  margin-left: 24px;
}

.vf-u-margin__left--xxl {
  margin-left: 32px;
}

.vf-u-margin__right--0 {
  margin-right: 0;
}

.vf-u-margin__right--xs {
  margin-right: 4px;
}

.vf-u-margin__right--s {
  margin-right: 8px;
}

.vf-u-margin__right--r {
  margin-right: 16px;
}

.vf-u-margin__right--l {
  margin-right: 20px;
}

.vf-u-margin__right--xl {
  margin-right: 24px;
}

.vf-u-margin__right--xxl {
  margin-right: 32px;
}

.vf-u-padding--0 {
  padding: 0;
}

.vf-u-padding--xs {
  padding: 4px;
}

.vf-u-padding--s {
  padding: 8px;
}

.vf-u-padding--r {
  padding: 16px;
}

.vf-u-padding--l {
  padding: 20px;
}

.vf-u-padding--xl {
  padding: 24px;
}

.vf-u-padding--xxl {
  padding: 32px;
}

.vf-u-padding__bottom--0 {
  padding-bottom: 0;
}

.vf-u-padding__bottom--xs {
  padding-bottom: 4px;
}

.vf-u-padding__bottom--s {
  padding-bottom: 8px;
}

.vf-u-padding__bottom--r {
  padding-bottom: 16px;
}

.vf-u-padding__bottom--l {
  padding-bottom: 20px;
}

.vf-u-padding__bottom--xl {
  padding-bottom: 24px;
}

.vf-u-padding__bottom--xxl {
  padding-bottom: 32px;
}

.vf-u-padding__top--0 {
  padding-top: 0;
}

.vf-u-padding__top--xs {
  padding-top: 4px;
}

.vf-u-padding__top--s {
  padding-top: 8px;
}

.vf-u-padding__top--r {
  padding-top: 16px;
}

.vf-u-padding__top--l {
  padding-top: 20px;
}

.vf-u-padding__top--xl {
  padding-top: 24px;
}

.vf-u-padding__top--xxl {
  padding-top: 32px;
}

.vf-u-padding__left--0 {
  padding-left: 0;
}

.vf-u-padding__left--xs {
  padding-left: 4px;
}

.vf-u-padding__left--s {
  padding-left: 8px;
}

.vf-u-padding__left--r {
  padding-left: 16px;
}

.vf-u-padding__left--l {
  padding-left: 20px;
}

.vf-u-padding__left--xl {
  padding-left: 24px;
}

.vf-u-padding__left--xxl {
  padding-left: 32px;
}

.vf-u-padding__right--0 {
  padding-right: 0;
}

.vf-u-padding__right--xs {
  padding-right: 4px;
}

.vf-u-padding__right--s {
  padding-right: 8px;
}

.vf-u-padding__right--r {
  padding-right: 16px;
}

.vf-u-padding__right--l {
  padding-right: 20px;
}

.vf-u-padding__right--xl {
  padding-right: 24px;
}

.vf-u-padding__right--xxl {
  padding-right: 32px;
}

.vf-u-text-color--green {
  color: #009f4d;
}

.vf-u-text-color--green--darkest {
  color: #115740;
}

.vf-u-text-color--green--dark {
  color: #007a53;
}

.vf-u-text-color--green--light {
  color: #6cc24a;
}

.vf-u-text-color--green--lightest {
  color: #d0debb;
}

.vf-u-text-color--grey {
  color: #707372;
}

.vf-u-text-color--grey--darkest {
  color: #373a36;
}

.vf-u-text-color--grey--dark {
  color: #54585a;
}

.vf-u-text-color--grey--light {
  color: #d0d0ce;
}

.vf-u-text-color--grey--lightest {
  color: #a8a99e;
}

.vf-u-text-color--red {
  color: #e40046;
}

.vf-u-text-color--red--dark {
  color: #a6093d;
}

.vf-u-text-color--red--light {
  color: #e58f9e;
}

.vf-u-text-color--blue {
  color: #307fe2;
}

.vf-u-text-color--blue--dark {
  color: #003da5;
}

.vf-u-text-color--blue--light {
  color: #8bb8e8;
}

.vf-u-text-color--purple {
  color: #8246af;
}

.vf-u-text-color--purple--dark {
  color: #563d82;
}

.vf-u-text-color--purple--light {
  color: #cba3d8;
}

.vf-u-text-color--orange {
  color: #ffa300;
}

.vf-u-text-color--orange--dark {
  color: #be5400;
}

.vf-u-text-color--orange--light {
  color: #efc06e;
}

.vf-u-text-color--yellow {
  color: #ffcd00;
}

.vf-u-text-color--yellow--dark {
  color: #ffb81c;
}

.vf-u-text-color--yellow--light {
  color: #fdd757;
}

.vf-u-text-color--bright-green {
  color: #a8c700;
}

.vf-u-text-color--bright-green--dark {
  color: #84bd00;
}

.vf-u-text-color--bright-green--light {
  color: #e2e868;
}

.vf-u-text-color--ui--black {
  color: #000000;
}

.vf-u-text-color--ui--grey {
  color: #f3f3f3;
}

.vf-u-text-color--ui--grey--light {
  color: #d8d8d8;
}

.vf-u-text-color--ui--yellow {
  color: #fffadc;
}

.vf-u-text-color--ui--red {
  color: #d32f2f;
}

.vf-u-text-color--ui--white {
  color: #ffffff;
}

.vf-u-text-color--ui--off-white {
  color: #fafafa;
}

.vf-u-type__body--l {
  font-size: 19px;
  font-weight: 400;
  line-height: 1.421;
}

.vf-u-type__body--r {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.71;
}

.vf-u-type__body--s {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.57;
}

.vf-u-type__body--s-alt {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.57;
}

.vf-u-type__body--xl {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.3125;
}

.vf-u-type__body--xs {
  font-size: 11px;
  font-weight: 600;
  line-height: 1.5;
}

.vf-u-type__button--r {
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
}

.vf-u-type__button--s {
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
}

.vf-u-type__heading--l {
  font-size: 30px;
  font-weight: 500;
  line-height: 1.333;
}

.vf-u-type__heading--l-alt {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.333;
}

.vf-u-type__heading--r {
  font-size: 21px;
  font-weight: 500;
  line-height: 1.29;
}

.vf-u-type__heading--s {
  font-size: 19px;
  font-weight: 500;
  line-height: 1.5;
}

.vf-u-type__heading--xl {
  font-size: 42px;
  font-weight: 700;
  line-height: 1.547;
}

.vf-u-grid--reset {
  grid-column: 1 / -1;
}

.vf-u-display-none {
  display: none;
}
