// vf-chatbot-modal.scss
.vf-chatbot-modal-container {
  background-color: var(--vf-color--neutral--0);
  border-radius: $vf-radius--sm;
  border-bottom-right-radius: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
}

.vf-chatbot-modal {
  
  display: flex;
  justify-content: end;
  flex-direction: column;
  height: 55vh;
  border-bottom-left-radius: $vf-radius--sm;
  border-bottom-right-radius: 0px;

  &__header {
    color: var(--vf-color--neutral--900);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 8px;
    min-height: 48px;
  }

  &__header-left {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__content {
    display: contents;
  }

  &__input-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    border-top: 2px solid var(--vf-color--grey);
  }

  &__input-wrapper {
    display: flex;
    align-items: flex-end;
    border: 1px solid transparent;
    label {
      visibility: hidden;
      position: absolute;
      border: 0;
      padding: 0;
      margin: 0;
      height: 1px; 
      width: 1px;
      overflow: hidden;
    }
  }

  &__input-wrapper:hover, &__input-wrapper:focus-within {
    border: 1px solid var(--vf-color--blue);
  }

  &__input {
    @include set-type(text-body--3);
    margin-bottom: 0;
    align-content: center;
    width: 100%;
    line-height: 2.1;
    border: none;
    resize: none;
    background: var(--vf-color--neutral--0);
    box-shadow: none !important;
    // /* When typing (not showing placeholder) */
    &:not(:placeholder-shown) {
      color: var(--vf-color__text--primary); /* Text color when typing */
    }

    // When content exceeds 5 rows, show scrollbar
    &--scrollable {
      overflow-y: auto;
    }
  }

  &__send-button {
    height: fit-content;
    background: #3A77BC;
    border: none;
    padding-inline: 0px;
    cursor: pointer;
    img {
        height: 45px !important;
        max-width: fit-content !important;
    }
  }

  &__messages {
    margin: 0 auto;
    flex-direction: column;
    overflow-y: auto;
    padding: 0 1.5rem;
    width: 88%;
  }

  &__messages-no-scrollbar {
    @extend .vf-chatbot-modal__messages;
    width: 89%;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
  }

  &__messages-no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }

  &__disclaimer {
    margin: 0 auto;
      padding: 0 1.5rem;
      width: 88%;
    button {
      padding: 12px;
    }
  }

  &__footnote {
    @include set-type(text-body--5);
    margin: 0 auto;
    text-align: center;
  }

  &__header-right {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__minimize,
  &__close {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: background 0.2s;
  }
}
