<section class="vf-summary-container | embl-grid">

  {% render '@vf-section-header'%}

  <div class="vf-section-content | vf-grid vf-grid__col-3">

  {% render '@vf-summary', {"summary__title": item01.summary__title, "summary__text": item01.summary__text} %}
  {% render '@vf-summary', {"summary__title": item02.summary__title, "summary__text": item02.summary__text} %}
  {% render '@vf-summary', {"summary__title": item03.summary__title, "summary__text": item03.summary__text} %}

  </div>

</section>
