// vf-form__input

.vf-form__input:not([type='file']) {
  @include set-type(text-body--3);

  border-color: set-ui-color(vf-ui-color--grey);
  border-style: solid;
  border-width: 3px;
  box-sizing: border-box;
  color: set-color(vf-color--grey--dark);
  display: block;
  padding: 12px 24px;
  width: 100%;

  &:focus,
  &:hover {
    border-color: currentColor;
    color: set-ui-color(vf-ui-color--black);
    outline: 0;
  }
}

.vf-form__wrap .vf-form__label {
  border-top-left-radius: 3px;
  display: block;
  line-height: 1;
  opacity: 0;
  position: absolute;
  top: -16px;
  transition: all .2s ease-in-out;
  visibility: hidden;
  z-index: 1;
}
.vf-form__input {
  position: relative;
  top: 24px;
}
.vf-form__input .vf-form__wrap {
  -webkit-font-smoothing: antialiased;
  position: relative;
  text-rendering: optimizeLegibility;
}


.vf-form__input::placeholder,
.vf-form__select::placeholder,
.vf-form__textarea::placeholder {
  color: set-color(vf-color--grey--dark);
}

.vf-form__input::-moz-placeholder,
.vf-form__select::-moz-placeholder,
.vf-form__textarea::-moz-placeholder {
  color: set-color(vf-color--grey--dark);
}

.vf-form__input:-ms-input-placeholder,
.vf-form__select:-ms-input-placeholder,
.vf-form__textarea:-ms-input-placeholder {
  color: set-color(vf-color--grey--dark);
}

.vf-form__input::-webkit-input-placeholder,
.vf-form__select::-webkit-input-placeholder,
.vf-form__textarea::-webkit-input-placeholder {
  color: set-color(vf-color--grey--dark);
}

.vf-form__input .vf-form__select {
  appearance: none;
  color: set-color(vf-color--grey--dark);
  cursor: pointer;
  position: relative;
}

.vf-form__input .vf-form__select::-ms-expand {
  display: none;
}

.vf-form__input .vf-form__is-active .vf-form__input,
.vf-form__input .vf-form__is-active .vf-form__select,
.vf-form__input .vf-form__is-active .vf-form__textarea {
  background-color: set-ui-color(vf-ui-color--white);
  border-color: set-ui-color(vf-ui-grey);
  color: set-color(vf-grey-dark);
}

.vf-form__input .vf-form__has-focus .vf-form__input,
.vf-form__input .vf-form__has-focus .vf-form__select,
.vf-form__input .vf-form__has-focus .vf-form__textarea {
  background-color: set-ui-color(vf-ui-color--white);
  border-color: set-ui-color(vf-ui-color--black);
}

.vf-form__wrap .vf-form__input .vf-form__label {
  border-radius-top-left: 3px;
  color: set-color(vf-color--grey--dark);
  display: block;
  left: 24px;
  opacity: 0;
  position: absolute;
  top: -24px;
  transition: all .2s ease-in-out;
  visibility: hidden;
  z-index: 1;
}

.vf-form__input .vf-form__is-active .vf-form__label {
  opacity: 1;
  visibility: visible;
}

.vf-form__input .vf-form__has-focus .vf-form__label {
  color: set-ui-color(vf-ui-color--black);
}

.vf-form__input .vf-form__is-required::before {
  color: set-ui-color(vf-ui-color--red);
  content: '*';
  display: block;
  font-size: 16px;
  line-height: 1.75;
  opacity: 1;
  padding: 6px 0 0;
  position: absolute;
  right: 15px;
  top: 1px;
  transition: all .2s ease-in-out;
  z-index: 1;
}

.vf-form__input .vf-form__is-required.vf-form__is-active::before {
  opacity: 0;
}

/*
* Default floatLabel theme.
* modify it as you wish!
*/

.vf-form__item.vf-form__floatlabel {
  position: relative;
}
.vf-form__floatlabel {
  .vf-form__label {
    position: absolute;
  }
}
