// vf-form__input

@import 'package.variables.scss';
// Debug information from component's `package.json`:
// ---
/*!
 * Component: #{map-get($componentInfo, 'name')}
 * Version: #{map-get($componentInfo, 'version')}
 * Location: #{map-get($componentInfo, 'location')}
 */

.vf-form__input:not([type='file']) {
  @include set-type(text-body--3, $custom-margin-bottom: 4px);

  appearance: none;
  border-color: set-ui-color(vf-ui-color--grey);
  border-style: solid;
  border-width: 3px;
  border-radius: 0;
  box-sizing: border-box;
  color: set-color(vf-color--grey--dark);
  display: block;
  padding: 8px 12px;
  width: 100%;

  &:focus,
  &:hover {
    border-color: currentColor;
    color: set-ui-color(vf-ui-color--black);
    outline: 0;
  }
}

.vf-form__wrap .vf-form__label {
  border-top-left-radius: 3px;
  display: block;
  line-height: 1;
  opacity: 0;
  position: absolute;
  top: -16px;
  transition: all .2s ease-in-out;
  visibility: hidden;
  z-index: set-layer(vf-z-index--form-label);
}

.vf-form__input .vf-form__wrap {
  -webkit-font-smoothing: antialiased;
  position: relative;
  text-rendering: optimizeLegibility;
}

// Avoids an issue with FireFox applying an opacity value on placeholders
// https://github.com/visual-framework/vf-core/issues/519#issuecomment-552398465
.vf-form__input::placeholder {
  opacity: 1;
}

.vf-form__input::placeholder,
.vf-form__select::placeholder,
.vf-form__textarea::placeholder {
  color: set-color(vf-color--grey--light);
}

.vf-form__input::-moz-placeholder,
.vf-form__select::-moz-placeholder,
.vf-form__textarea::-moz-placeholder {
  color: set-color(vf-color--grey--light);
}

.vf-form__input:-ms-input-placeholder,
.vf-form__select:-ms-input-placeholder,
.vf-form__textarea:-ms-input-placeholder {
  color: set-color(vf-color--grey--light);
}

.vf-form__input::-webkit-input-placeholder,
.vf-form__select::-webkit-input-placeholder,
.vf-form__textarea::-webkit-input-placeholder {
  color: set-color(vf-color--grey--light);
}

.vf-form__input .vf-form__select {
  appearance: none;
  color: set-color(vf-color--grey--light);
  cursor: pointer;
  position: relative;
}

.vf-form__input .vf-form__select::-ms-expand {
  display: none;
}

.vf-form__input .vf-form__is-active .vf-form__input,
.vf-form__input .vf-form__is-active .vf-form__select,
.vf-form__input .vf-form__is-active .vf-form__textarea {
  background-color: set-ui-color(vf-ui-color--white);
  border-color: set-ui-color(vf-ui-grey);
  color: set-color(vf-grey-dark);
}

.vf-form__input .vf-form__has-focus .vf-form__input,
.vf-form__input .vf-form__has-focus .vf-form__select,
.vf-form__input .vf-form__has-focus .vf-form__textarea {
  background-color: set-ui-color(vf-ui-color--white);
  border-color: set-ui-color(vf-ui-color--black);
}

.vf-form__wrap .vf-form__input .vf-form__label {
  border-radius-top-left: 3px;
  color: set-color(vf-color--grey--dark);
  display: block;
  left: 24px;
  opacity: 0;
  position: absolute;
  top: -24px;
  transition: all .2s ease-in-out;
  visibility: hidden;
  z-index: set-layer(vf-z-index--form-label);
}

.vf-form__input .vf-form__is-active .vf-form__label {
  opacity: 1;
  visibility: visible;
}

.vf-form__input .vf-form__has-focus .vf-form__label {
  color: set-ui-color(vf-ui-color--black);
}

.vf-form__input .vf-form__is-required::before {
  color: set-ui-color(vf-ui-color--red);
  content: '*';
  display: block;
  font-size: 16px;
  line-height: 1.75;
  opacity: 1;
  padding: 6px 0 0;
  position: absolute;
  right: 15px;
  top: 1px;
  transition: all .2s ease-in-out;
  z-index: set-layer(vf-z-index--form-input);
}

.vf-form__input .vf-form__is-required.vf-form__is-active::before {
  opacity: 0;
}


.vf-form__input:disabled {
  background: set-ui-color(vf-ui-color--grey);
  cursor: not-allowed;

  &::placeholder,
  &::-moz-placeholder,
  &::-ms-input-placeholder,
  &::-webkit-input-placeholder {
    color: set-color(vf-color--green);
  }
}


.vf-form__input:invalid {
  border-color: set-ui-color(vf-ui-color--red);
}
