<div class="vf-form__item" data-vf-js-form-floatlabel>
  <label class="vf-form__label | vf-sr-only" for="disabled-input">Email Address</label>
  <input type="disabled-input" id="email" class="vf-form__input" disabled placeholder="Email Address">
</div>
