  <div class="vf-form__item" data-vf-js-form-floatlabel>
    <label class="vf-form__label | vf-sr-only" for="password">Password</label>
    <input type="password" id="password" class="vf-form__input" placeholder="password">
  </div>
