<section class="vf-comments">
  <h3 class="vf-comments__title"><span>3</span> comments on 'EMBL's graphic design history'</h3>

  <ol class="vf-comments__list | vf-list">
    <li class="vf-comments__item">
      <div class="vf-comments__meta">
        <img class="vf-comments__author-avatar" src="{{ path './vf-summary/assets/vf-summary--profile-img.png' }}" alt="">
        <cite class="vf-comments__author">Title If Relevant</cite><span> says:</span>
        <p class="vf-comment__date">15th February 2018</p>
      </div>
      <div class="vf-comment | vf-content">
        <p>Really enjoyed reading this post, thank you.</p>

        <p>For me, any communications strategy should be deeply rooted in the organisational strategy. And yet, your closing question reminded me how the discussions we lead about communications can often result in much broader discussions on organisational goals, ambitions and approaches.</p>
      </div>
      <button class="vf-button vf-button--outline--primary | vf-comments__reply">Reply</button>
      <a href="#" class="vf-button vf-button--outline--tertiary | vf-comments__reply">Optional action</a>
    </li>

    <li class="vf-comments__item">
      <div class="vf-comments__meta">
        <img class="vf-comments__author-avatar" src="{{ path './vf-summary/assets/vf-summary--profile-img.png' }}" alt="">
        <cite class="vf-comments__author">Title If Relevant</cite><span> says:</span>
        <p class="vf-comment__date">15th February 2018</p>
      </div>
      <div class="vf-comment | vf-content">
        <p>Really enjoyed reading this post, thank you.</p>
      </div>
      <button class="vf-button vf-button--outline--primary | vf-comments__reply">Reply</button>

      <ol class="vf-comments__list | vf-list">
        <li class="vf-comments__item">
          <div class="vf-comments__meta">
            <img class="vf-comments__author-avatar" src="{{ path './vf-summary/assets/vf-summary--profile-img.png' }}" alt="">
            <cite class="vf-comments__author">Title If Relevant</cite><span> says:</span>
            <p class="vf-comment__date">15th February 2018</p>
          </div>
          <div class="vf-comment | vf-content">
            <p>Really enjoyed reading this post, thank you.</p>
          </div>
          <button class="vf-button vf-button--outline--primary | vf-comments__reply">Reply</button>
        </li>
      </ol>

    </li>

  </ol>
</section>
