// vf-discussion

// **Thinking about deleting this file?**
// If your component needs no CSS/Sass, we still recommend leaving the
// scss files in place. As this is primarily a CSS framework, it is better to
// leave the empty files so you know a file wasn't accidently omitted.
// If you don't have any Sass, you can trim this block down to:
// "This page was intentionally left blank"

@import 'vf-discussion.variables.scss';


.vf-discussion__title {
  @include set-type(heading--l);
}

.vf-discussion__item {
  border-top: 1px solid set-color(vf-color--grey--light);
  margin-bottom: 24px;
  padding-top: 24px;
}

.vf-discussion__meta {
  display: inline-block;
  margin-bottom: 16px;
}


.vf-discussion__author {
  @include set-type(heading--s, $custom-margin-bottom: 14);

  font-style: normal;
}

.vf-discussion__date {
  @include set-type(body--r, $custom-margin-bottom: 0);
  color: set-color(vf-color--grey--light);
}

.vf-discussion__author-avatar {
  border-radius: 50%;
  float: left;
  margin-right: 24px;
  width: 57px;
}

.vf-discussion__item {
  .vf-discussion__list {
    margin-top: 24px;
    .vf-discussion__item {
      padding-left: 40px;
    }
  }
}


.vf-discussion__comment {
  margin-bottom: 16px;
}
