<section class="vf-discussion">
  <h3 class="vf-discussion__title"><span>{{number}}</span> {{text}}</h3>

  <ol class="vf-discussion__list | vf-list">
    {% for item in discussions %}
    <li class="vf-discussion__item">
      <div class="vf-discussion__meta">
        <img class="vf-discussion__author-avatar" src="{{item.imageUrl | path  }}" alt="" loading="lazy">
        <cite class="vf-discussion__author">{{item.name}}</cite><span> says:</span>
        <p class="vf-discussion__date">{{item.date}}</p>
      </div>
      <div class="vf-discussion__comment | vf-content">
        {{item.content}}
      </div>
      <button class="vf-button vf-button--outline vf-button--primary | vf-discussion__reply">{{item.button_text}}</button>
      {% if item.secondary_button %}
      <a href="{{ item.vf_discussion_href }}" class="vf-button vf-button--outline vf-button--tertiary | vf-discussion__action">{{item.secondary_button}}</a>
      {% endif %}

      {% if item.nested %}
        <ol class="vf-discussion__list | vf-list">
          {% for item in item.nested %}
          <li class="vf-discussion__item">
            <div class="vf-discussion__meta">
              <img class="vf-discussion__author-avatar" src="{{item.imageUrl | path  }}" alt="" loading="lazy">
              <cite class="vf-discussion__author">{{item.name}}</cite><span> says:</span>
              <p class="vf-discussion__date">{{item.date}}</p>
            </div>
            <div class="vf-discussion__comment | vf-content">
              {{item.content}}
            </div>
            <button class="vf-button vf-button--outline vf-button--primary | vf-discussion__reply">{{item.button_text}}</button>
            {% if item.secondary_button %}
            <a href="{{ item.vf_discussion_href }}" class="vf-button vf-button--outline vf-button--tertiary | vf-discussion__action">{{item.secondary_button}}</a>
            {% endif %}
          </li>
          {% endfor %}
        </ol>
      {% endif %}

    </li>
    {% endfor %}

  </ol>
</section>
