$componentInfo: (
             name: "@visual-framework/vf-u-fullbleed",
             version: "1.1.0",
             location: "components/vf-u-fullbleed",
             vfCoreVersion: "2.2.4"
          );