$componentInfo: (
             name: "@visual-framework/vf-u-fullbleed",
             version: "1.2.1",
             location: "components/vf-u-fullbleed",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Thu, 29 Oct 2020 17:23:23 GMT"
          );