$componentInfo: (
             name: "@visual-framework/vf-u-fullbleed",
             version: "1.2.1",
             location: "components/vf-u-fullbleed",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Fri, 30 Oct 2020 15:59:26 GMT"
          );