$componentInfo: (
             name: "@visual-framework/vf-section-header",
             version: "1.2.1",
             location: "components/vf-section-header",
             vfCoreVersion: "2.2.7"
          );