$componentInfo: (
             name: "@visual-framework/vf-section-header",
             version: "1.3.0",
             location: "components/vf-section-header",
             vfCoreVersion: "2.2.10",
             buildTimeStamp: "Mon, 09 Nov 2020 11:48:35 GMT"
          );