// vf-grid-page

/* The Page Grid
 * -------------- // --------------
 *
 * All content except for a few design patterns are tied into a grid with a maximum
 * width of 1300px. We use CSS grid layout on the `body` element to set a simple
 * 3 column grid with the central grid set to a maximum of 81.25em (1300px).
 *
 * Because we are supporting IE11 we also need to include a similar page layout.
 * We initially set up the page layout without using CSS grid layout and make use
 * of `@supports` to invoke CSS grid layout on browsers that support it.
 *
 */

// Initial set up for browsers that do not support CSS grid layout
html {
  margin: 0 1.25em;
}

.vf-body {
  display: block;
  margin: 0 auto;
  max-width: 76.5em;
}

// If the browser does support grid it will get this
@supports (display: grid) {
  // first we need to unset some rulesets
  html {
    margin: unset;
  }

  .vf-body {
    display: grid;
    grid-template-columns: minmax(var(--page-grid-gap), auto) [main-start] minmax(288px, 76.5em) [main-end] minmax(var(--page-grid-gap), auto);
    margin: 0;
    max-width: unset;
  }
  
  // for the moment - we cannot rely on vf-body being applied to the body element so:
  body {
    margin: 0;
  }
}
