<!-- dismissible banner for information on using the design language -->
<!-- you can delete this on your page -->
<div class="vf-banner vf-banner--fixed vf-banner--bottom vf-banner--phase"
data-vf-js-banner
data-vf-js-banner-state="dismissible"
data-vf-js-banner-button-text="Close notice"


data-vf-js-banner-auto-accept="false">
  <div class="vf-banner__content" data-vf-js-banner-text>
    <div>
      <h3 class="vf-text vf-text-heading--4">
        Building something with the EMBL Design Language for Websites?
      </h3>
      <p class="vf-banner__text">Here's the core CSS and JS you need. Don't forget to <a href="/vf-core/" class="vf-banner__link">review the documentation</a> and <a href="/vf-core/patterns" class="vf-banner__link">see more boilerplates and patterns</a>.</p>
      <pre class="vf-code-example__pre"><code class="Code Code--lang-html vf-code-example"><span class="hljs-tag">&lt;<span class="hljs-name">link</span> <span class="hljs-attr">rel</span>=<span class="hljs-string">"stylesheet"</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"https://dev.assets.emblstatic.net/vf/v2.3.1-rc.1/css/styles.css"</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">script</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"https://dev.assets.emblstatic.net/vf/v2.3.1-rc.1/scripts/scripts.js"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">script</span>&gt;</span></code></pre>
    </div>
  </div>
</div>
