// vf-form__error
.vf-form__item--error .vf-form__input {
  border-color: set-color(vf-color--red);
}

.vf-form__error-text {
  @include set-type(text-body--5, $custom-margin-bottom: 4px);
  @include margin--block(bottom, 8px);

  align-items: center;
  background-image: url("../assets/vf-form/vf-form__core/assets/vf-form--error.svg");
  background-repeat: no-repeat;
  background-size: 24px 100%;
  backdrop-filter: hue-rotate(300deg);
  color: set-ui-color(vf-ui-color--red);
  display: flex;
  left: 24px;
  padding-left: 32px;
  position: relative;
}

.vf-form__input[aria-invalid="true"] {
  border-color: set-ui-color(vf-ui-color--red) !important;
}
