---
title: Local components
date: 2019-04-09 12:24:50
tags: posts
layout: layouts/components.njk
section: components
templateEngineOverride: njk, md
pagination:
  data: fractalEnvironment.childComponents
  size: 1
slug: "{{ pagination.items[0].name | slug }}"
---

{# For child components in things like vf-form #}

{# <pre>
{{ pagination.items[0] | dump(2)}}
</pre> #}

<!-- no special content -->
