---
title: Local components
date: 2019-04-09 12:24:50
tags: posts
layout: layouts/components.njk
section: components
templateEngineOverride: njk, md
pagination:
  data: fractalEnvironment.localComponents
  size: 1
slug: "{{ pagination.items[0].name | slug }}"
permalink: components/{{ pagination.items[0].name | slug }}/index.html
---

{# {% render '@vf-breadcrumbs--default', {
  "component-type": "block",
  "breadcrumbs": [
    {
      "text": "Components",
      "url": '/components' | url
    },
    {
      "text": pagination.items[0].title
    }
  ]
} %} #}

<!-- no special content -->
