// setup files required

// sass-lint:disable clean-import-paths
@import 'vf-global-variables';
@import 'vf-variables';
@import 'vf-functions';
@import 'vf-mixins';

// other components being used

@import '../vf-logo/vf-logo.scss';
@import '../vf-navigation/vf-navigation.scss';

// component specific styles

@import 'vf-global-header.scss';
