:root {
  --vf-color-white: rgb(255, 255, 255);
  --vf-color-off-white: rgb(250, 250, 250);
  --vf-color-black: rgb(40, 45, 35);
  --vf-color-gray: rgb(112, 115, 114);
  --vf-color-gray-bright: rgb(185, 179, 168);
  --vf-color-gray-dark: rgb(84, 88, 90);
  --vf-color-green: rgb(0, 159, 77);
  --vf-color-green-bright: rgb(108, 194, 74);
  --vf-color-green-dark: rgb(0, 123, 83);
  --vf-color-light-green: rgb(168, 199, 0);
  --vf-color-light-green-bright: rgb(226, 232, 104);
  --vf-color-light-green-dark: rgb(132, 189, 0);
  --vf-color-ruby: rgb(228, 0, 70);
  --vf-color-ruby-bright: rgb(229, 143, 158);
  --vf-color-ruby-dark: rgb(166, 9, 61);
  --vf-color-yellow: rgb(255, 205, 0);
  --vf-color-yellow-bright: rgb(253, 215, 87);
  --vf-color-yellow-dark: rgb(255, 184, 28);
  --vf-color-purple: rgb(130, 70, 175);
  --vf-color-purple-bright: rgb(203, 163, 216);
  --vf-color-purple-dark: rgb(86, 61, 130);
  --vf-color-amber: rgb(255, 163, 0);
  --vf-color-amber-bright: rgb(190, 84, 0);
  --vf-color-amber-dark: rgb(239, 192, 110);
  --vf-color-azure: rgb(40, 122, 226);
  --vf-color-azure-bright: rgb(139, 184, 232);
  --vf-color-azure-dark: rgb(0, 61, 165);
}

:root {
  --vf-ui-color-black: rgb(0, 0, 0);
  --vf-ui-color-gray: rgb(243, 243, 243);
  --vf-ui-color-gray-light: rgb(216, 216, 216);
  --vf-ui-color-yellow: rgb(255, 250, 220);
  --vf-ui-color-red: rgb(211, 47, 47);
}

.vf-logo {
  color: #282d23;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 41px;
  text-decoration: none;
}

.vf-logo--responsive {
  background-image: url("../assets/vf-logo/assets/logo-small.svg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 25px;
  min-width: 70px;
}

@media (min-width: 500px) {
  .vf-logo--responsive {
    background-image: url("../assets/vf-logo/assets/logo-medium.svg");
    height: 28px;
  }
}

@media (min-width: 999px) {
  .vf-logo--responsive {
    background-image: url("../assets/vf-logo/assets/logo.svg");
    height: 30px;
  }
}

.vf-navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.vf-navigation__heading {
  margin: 0;
}

.vf-global-header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border-bottom: solid 1px #707372;
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: minmax(var(--page-grid-gap), auto) minmax(auto, 76.5em) minmax(var(--page-grid-gap), auto);
  height: auto;
  padding: .5rem 0;
}

.vf-global-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-column: 2 / -2;
}

.vf-global-header__site-name {
  -ms-flex-item-align: center;
      align-self: center;
  display: block;
  margin: 0;
}

.vf-global-header [class*='navigation'] {
  -ms-flex-item-align: center;
      align-self: center;
  margin-left: auto;
}
