// vf-global-header

@import 'package.variables.scss';
// Debug information from component's `package.json`:
// ---
/*!
 * Component: #{map-get($componentInfo, 'name')}
 * Version: #{map-get($componentInfo, 'version')}
 * Location: #{map-get($componentInfo, 'location')}
 */

$vf-global-header-background--color: set-ui-color(vf-ui-color--white);
$vf-global-header__link-text--color: set-ui-color(vf-ui-color--black);

.vf-global-header {
  align-items: center;
  background-color: $vf-global-header-background--color;
  box-sizing: border-box;
  grid-column: 1 / -1;
  height: auto;
  margin: 0 auto;
  max-width: 78.5em;
  padding: .5rem 1rem;
  width: 100%;
}

.vf-global-header__inner {
  display: flex;
}

.vf-global-header__site-name {
  align-self: center;
  display: block;
  margin: 0;
}

.vf-global-header {

  [class*='navigation'] {
    align-self: center;
    margin-left: auto;
  }

}
