.vf-logo {
  color: #282d23;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 41px;
  text-decoration: none;
}

.vf-logo--responsive {
  background-image: url("../assets/vf-logo/assets/logo-small.svg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 25px;
  min-width: 70px;
}

@media (min-width: 500px) {
  .vf-logo--responsive {
    background-image: url("../assets/vf-logo/assets/logo-medium.svg");
    height: 28px;
  }
}

@media (min-width: 999px) {
  .vf-logo--responsive {
    background-image: url("../assets/vf-logo/assets/logo.svg");
    height: 30px;
  }
}

.vf-navigation--inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-column: 2 / -2;
}

.vf-navigation__heading {
  color: #b9b3a8;
  font-weight: 500;
  margin: 0 40px 0 0;
  text-transform: uppercase;
}

.vf-navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.vf-navigation--primary {
  background-color: #54585a;
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: minmax(var(--page-grid-gap), auto) minmax(auto, 76.5em) minmax(var(--page-grid-gap), auto);
}

.vf-navigation--primary > .vf-navigation {
  grid-column: 2 / -2;
}

@media (min-width: 1024px) {
  .vf-navigation--primary > .vf-navigation {
    height: 100%;
  }
}

.vf-navigation--primary .vf-navigation__list {
  display: block;
}

@media (min-width: 1024px) {
  .vf-navigation--primary .vf-navigation__list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
  }
}

.vf-navigation--primary .vf-navigation__item {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.333;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  display: block;
  margin: 0;
}

.vf-navigation--primary .vf-navigation__item:first-child {
  padding-left: 0;
}

.vf-navigation--primary .vf-navigation__item.is-active {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.vf-navigation--primary .vf-navigation__item.is-active .vf-navigation__link {
  color: #282d23;
  display: block;
}

.vf-navigation--primary .vf-navigation__item:hover {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.vf-navigation--primary .vf-navigation__item:hover .vf-navigation__link {
  color: #282d23;
  display: block;
}

@media (min-width: 1024px) {
  .vf-navigation--primary .vf-navigation__item {
    padding: 0 16px;
  }
}

.vf-navigation--primary .vf-navigation__link {
  color: white;
  display: block;
  text-decoration: none;
}

.vf-navigation--primary .vf-navigation__link:visited {
  color: #54585a;
}

.vf-navigation--primary .vf-navigation__link:hover {
  color: white;
}

.vf-navigation--primary .vf-navigation__link[disabled] {
  color: #b9b3a8;
  cursor: not-allowed;
}

.vf-navigation--primary .vf-navigation__link:visited {
  color: white;
}

.vf-navigation--secondary {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #54585a;
  border: 0px solid #707372;
  border-width: 1px 0 1px 0;
  display: grid;
  grid-column: 1 / -1;
  grid-row: 2;
  grid-template-columns: minmax(var(--page-grid-gap), auto) minmax(auto, 76.5em) minmax(var(--page-grid-gap), auto);
  padding: 4px 0;
  text-transform: uppercase;
}

.vf-navigation--secondary .vf-navigation--inner {
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

@media (min-width: 800px) {
  .vf-navigation--secondary .vf-navigation--inner {
    display: grid;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
    grid-column: 1 / -1;
    grid-template-columns: minmax(var(--page-grid-gap), auto) minmax(auto, 76.5em) minmax(var(--page-grid-gap), auto);
  }
}

@media (min-width: 800px) {
  .vf-navigation--secondary .vf-navigation {
    -ms-flex-item-align: center;
        align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-column: 2 / span 1;
    position: absolute;
    right: 0;
  }
}

.vf-navigation--secondary .vf-navigation__heading {
  grid-column: 2 / span 1;
  margin: 0;
}

@media (max-width: 799px) {
  .vf-navigation--secondary .vf-navigation__heading {
    margin-bottom: 1rem;
  }
}

@media (max-width: 799px) {
  .vf-navigation--secondary .vf-navigation__list {
    display: block;
  }
}

.vf-navigation--secondary .vf-navigation__item:not(:first-child) {
  margin-left: 1rem;
}

@media (min-width: 800px) {
  .vf-navigation--secondary .vf-navigation__item:not(:first-child) {
    margin-left: 2rem;
  }
}

.vf-navigation--secondary .vf-navigation__link {
  color: #e1e1e1;
  text-decoration: none;
}

.vf-navigation--secondary .vf-navigation__link:visited {
  color: #54585a;
}

.vf-navigation--secondary .vf-navigation__link:hover {
  color: white;
}

.vf-navigation--secondary .vf-navigation__link[disabled] {
  color: #b9b3a8;
  cursor: not-allowed;
}

.vf-navigation--tertiary .vf-navigation__item:not(:first-child) {
  margin-left: 24px;
}

.vf-navigation--tertiary .vf-navigation__link {
  color: #54585a;
  text-decoration: none;
}

.vf-navigation--tertiary .vf-navigation__link:visited {
  color: #54585a;
}

.vf-navigation--tertiary .vf-navigation__link:hover {
  color: #282d23;
}

.vf-navigation--tertiary .vf-navigation__link[disabled] {
  color: #b9b3a8;
  cursor: not-allowed;
}

.vf-global-header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border-bottom: solid 1px #707372;
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: minmax(var(--page-grid-gap), auto) minmax(auto, 76.5em) minmax(var(--page-grid-gap), auto);
  height: auto;
  margin-bottom: 16px;
  padding: .5rem 0;
}

.vf-global-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-column: 2 / -2;
}

.vf-global-header__site-name {
  -ms-flex-item-align: center;
      align-self: center;
  display: block;
  margin: 0;
}

.vf-global-header [class*='navigation'] {
  -ms-flex-item-align: center;
      align-self: center;
  margin-left: auto;
}
