// vf-form__item

@import 'package.variables.scss';
// Debug information from component's `package.json`:
// ---
/*!
 * Component: #{map-get($componentInfo, 'name')}
 * Version: #{map-get($componentInfo, 'version')}
 * Location: #{map-get($componentInfo, 'location')}
 */

.vf-form__item {
  display: block;
  margin-bottom: 32px;  
  position: relative;
}

.vf-form__item--inline {
  .vf-form__label {
    display: inline-block;
  }
}
