// vf-form__item

.vf-form__item:not(.vf-form__item--checkbox) {
  display: block;
  margin-bottom: 24px;
  margin-top: 12px;
  padding-top: 24px;
  position: relative;
}

.vf-form__item--inline {
  .vf-form__label {
    display: inline-block;
  }
}
