<form class="vf-stack vf-stack--400"
  {%- if form_action %}action="{{form_action}}"{% endif -%}
  {%- if form_method %}method="{{form_method}}"{% endif -%}
>
  {% render '@vf-form__item--example'%}

  {% render '@vf-form__item--example'%}

  {% render '@vf-form__checkbox--stacked'%}

  {% render '@vf-form__radio--stacked'%}

  {% render '@vf-form__select'%}

  {% render '@vf-form__textarea'%}

  <button class="vf-button vf-button--primary">Submit</button>

</form>
