$componentInfo: (
             name: "@visual-framework/vf-badge",
             version: "1.2.1",
             location: "components/vf-badge",
             vfCoreVersion: "2.2.8",
             buildTimeStamp: "Tue, 20 Oct 2020 08:09:51 GMT"
          );