$componentInfo: (
             name: "@visual-framework/vf-badge",
             version: "1.2.2",
             location: "components/vf-badge",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Fri, 30 Oct 2020 16:39:45 GMT"
          );