$componentInfo: (
             name: "@visual-framework/vf-badge",
             version: "1.2.2",
             location: "components/vf-badge",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Wed, 28 Oct 2020 09:50:49 GMT"
          );