---
title: Neutral Colours
date: 2018-10-19 12:24:50
section: designtokens
templateEngineOverride: njk
tags:
  - posts
  - sections
  - designtokens
layout: layouts/base.njk
---

<h1 class="vf-intro__heading">{{ title }}</h1>

<main class="vf-grid vf-grid__col-3">

{% for item in tokens.neutral_colours.properties %}

<article class="vf-card">
  <div style="background-color: {{ item.value}}; height: 200px; width: 100%;"></div>

  <section class="vf-stack | vf-card__content" style="--vf-stack-margin: .5rem;">
    <h3>{{ item.meta.friendlyName }}</h3>
    <hr class="vf-divider">
    <p class="vf-card__text">Value:</p>
    <p class="vf-card__text"><code>{{ item.value }}</code></p>
    <hr class="vf-divider">
    {% if item.meta.sassVariable %}
      <p class="vf-card__text">Sass Variable:</p>
      <p class="vf-card__text"><code>${{ item.meta.sassVariable }}</code></p>
    {% endif %}
    {% if item.meta.sassMap %}
      <p class="vf-card__text">Sass Function:</p>
      <p class="vf-card__text"><code>{{ item.meta.sassMap }}</code></p>
    {% endif %}
    {% if item.meta.CSSCustomProperty %}
      <hr class="vf-divider">
      <p class="vf-card__text">CSS:</p>
      <p class="vf-card__text"><code>{{ item.meta.CSSCustomProperty }}</code></p>
    {% endif %}
    {% if item.meta.comment %}
      <h4>notes:</h4>
      <p class="vf-card__text">
        {{ item.meta.comment }}
      </p>
    {% endif %}
  </section>
</article>

{% endfor %}

</main>
