---
title: Spacing
date: 2018-10-19 12:24:50
section: designtokens
templateEngineOverride: njk
tags:
  - posts
  - sections
  - designtokens
layout: layouts/base.njk
---

<h1 class="vf-intro__heading">{{ title }}</h1>

{% set type %}spacing{% endset %}
<main class="vf-grid vf-grid__col-3">
  {% for item in tokens.spacing.properties %}
    {% include "./token-card.njk" %}
  {% else %}
    <p>Something went wrong.</p>
  {% endfor %}
</main>

