---
title: Theming
date: 2018-10-19 12:24:50
section: designtokens
templateEngineOverride: njk
tags:
  - posts
  - sections
  - designtokens
layout: layouts/base.njk
---

{% set type %}color{% endset %}
<h1 class="vf-intro__heading">{{ title }}</h1>

<main class="vf-grid vf-grid__col-3">
  {% for item in tokens.theming.properties %}
    {% include "./token-card.njk" %}
  {% else %}
    <p>Something went wrong.</p>
  {% endfor %}
</main>
