---
title: Theming
date: 2018-10-19 12:24:50
section: designtokens
templateEngineOverride: njk
tags:
  - posts
  - sections
  - designtokens
layout: layouts/base.njk
---

{% set type %}color{% endset %}
<h1 class="vf-intro__heading">{{ title }}</h1>

<div class="vf-content">
<h3>Brand</h3>
</div>
{# <pre>{{ tokens.themeBrand.properties | dump(2 )}}</pre> #}
<main class="vf-grid vf-grid__col-3">
  {% set type %}color{% endset %}
  {% for item in tokens.themeBrand.properties %}
    {% include "./token-card.njk" %}
  {% else %}
    <p>Something went wrong.</p>
  {% endfor %}
</main>

<div class="vf-content">
<h3>Text</h3>
</div>
{# <pre>{{ tokens.themeText.properties | dump(2 )}}</pre> #}
<main class="vf-grid vf-grid__col-3">
  {% set type %}color{% endset %}
  {% for item in tokens.themeText.properties %}
    {% include "./token-card.njk" %}
  {% else %}
    <p>Something went wrong.</p>
  {% endfor %}
</main>

<div class="vf-content">
<h3>Buttons</h3>
</div>
{# <pre>{{ tokens.themeButtons.properties | dump(2 )}}</pre> #}
<main class="vf-grid vf-grid__col-3">
  {% set type %}color{% endset %}
  {% for item in tokens.themeButtons.properties %}
    {% include "./token-card.njk" %}
  {% else %}
    <p>Something went wrong.</p>
  {% endfor %}
</main>

<div class="vf-content">
<h3>Deprecated</h3>
</div>
<main class="vf-grid vf-grid__col-3">
  {% for item in tokens.theming.properties %}
    {% include "./token-card.njk" %}
  {% else %}
    <p>Something went wrong.</p>
  {% endfor %}
</main>

