{%- block tokenCard -%}
{%- if item.meta.Deprecated != true or showDeprecated %}
<article class="vf-card">
  {% if type == "color" -%}
    <div style="background-color: {{ item.value}}; height: 200px; width: 100%;"></div>
  {%- elseif type == "typography" -%}
    <div class="vf-box">
      <p style="font-size: {{ item.value.fontSize }}; font-weight: {{ item.value.fontWeight }}; line-height: {{ item.value.lineHeight }}">{{ item.meta.pangram }}</p>
    </div>
  {%- elseif type == "spacing" -%}
    <div style="display: flex; justify-content: center; align-items: center;">
      <div style="height: {{ item.value }}; width: {{ item.value }}; background: #009f4d;"></div>
    </div>
  {%- endif %}
  {%- if item.meta.Deprecated == true %}
    <div class="vf-banner vf-banner--alert vf-banner--danger">
      <div class="vf-banner__content">
        <p class="vf-banner__text">This Design Token has been <strong>deprecated</strong>.
          {%- if item.meta.DeprecatedText %}<br>{{ item.meta.DeprecatedText | safe }}{% endif -%}
        </p>
      </div>
    </div>
  {% endif -%}
  <section class="vf-card__content | vf-stack vf-stack--400">
    <h3>{{ item.meta.friendlyName }}</h3>
    {%- if type == "typography" -%}
    <p class="vf-card__text"><span>Font Size: </span><code class="vf-code-example">{{ item.value.fontSize }}</code></p>
    <p class="vf-card__text"><span>Font Weight: </span><code class="vf-code-example">{{ item.value.fontWeight }}</code></p>
    <p class="vf-card__text"><span>Line Height: </span><code class="vf-code-example">{{ item.value.lineHeight}}</code></p>
    {% else %}
    <p class="vf-card__text">Value:
      <code class="vf-code-example">{{ item.value }}</code></p>
    {% endif %}

    {% if item.meta.sassVariable %}
      <p class="vf-card__text">Sass variable:
        <code class="vf-code-example">${{ item.meta.sassVariable }}</code></p>
    {% endif %}

    {% if item.meta.sassMap %}
      <p class="vf-card__text">Sass function:
        <code class="vf-code-example">{{item.meta.sassFunction}}({{ item.meta.sassMap }})</code></p>
    {% endif %}
    {% if item.meta.CSSCustomProperty %}
      <p class="vf-card__text">CSS custom property:
        <code class="vf-code-example">{{ item.meta.CSSCustomProperty }}</code></p>
    {% endif %}
    {% if item.meta.comment %}
      <h4>notes:</h4>
      <p class="vf-card__text">
        {{ item.meta.comment }}
      </p>
    {% endif %}
  </section>
</article>
{% endif -%}
{%- endblock -%}
