{% block tokenCard %}
<article class="vf-card">
  {% if type == "color" -%}
    <div style="background-color: {{ item.value}}; height: 300px; width: 100%;"></div>
  {%- elseif type == "typography" -%}
    <div style="padding: 16px;">
      <p style="font-size: {{ item.value.fontSize }}; font-weight: {{ item.value.fontWeight }}; line-height: {{ item.value.lineHeight }}">{{ item.meta.pangram }}</p>
    </div>
  {%- elseif type == "spacing" -%}
    <div style="display: flex; justify-content: center; align-items: center;">
      <div style="height: {{ item.value }}; width: {{ item.value }}; background: #009f4d;"></div>
    </div>
  {%- endif %}
  {%- if item.meta.Deprecated == true %}
    <div class="vf-banner vf-banner--alert vf-banner--danger">
      <div class="vf-banner__content">
        <p class="vf-banner__text">This Design Token has been <strong>deprecated</strong>.
          {%- if item.meta.DeprecatedText %}<br>{{ item.meta.DeprecatedText | safe }}{% endif -%}
        </p>
      </div>
    </div>
  {% endif -%}
  <section class="vf-stack | vf-card__content" style="--vf-stack-margin: .5rem;">
    <h3>{{ item.meta.friendlyName }}</h3>
    <hr class="vf-divider">
    {%- if type == "typography" -%}
    <p class="vf-card__text"><span>Font Size: </span><code>{{ item.value.fontSize }}</code></p>
    <p class="vf-card__text"><span>Font Weight: </span><code>{{ item.value.fontWeight }}</code></p>
    <p class="vf-card__text"><span>Line Height: </span><code>{{ item.value.lineHeight}}</code></p>
    {% else %}
    <p class="vf-card__text">Value:</p>
    <p class="vf-card__text"><code>{{ item.value }}</code></p>
    {% endif %}

    <hr class="vf-divider">
    {% if item.meta.sassVariable %}
      <p class="vf-card__text">Sass Variable:</p>
      <p class="vf-card__text"><code>${{ item.meta.sassVariable }}</code></p>
    {% endif %}

    {% if item.meta.sassMap %}
      <p class="vf-card__text">Sass Function:</p>
      <p class="vf-card__text"><code>color({{ item.meta.sassMap }})</code></p>
    {% endif %}
    {% if item.meta.CSSCustomProperty %}
      <hr class="vf-divider">
      <p class="vf-card__text">CSS custom property:</p>
      <p class="vf-card__text"><code>{{ item.meta.CSSCustomProperty }}</code></p>
    {% endif %}
    {% if item.meta.comment %}
      <h4>notes:</h4>
      <p class="vf-card__text">
        {{ item.meta.comment }}
      </p>
    {% endif %}
  </section>
</article>
{% endblock %}
