---
title: Type sizes
date: 2021-06-22 12:24:50
section: designtokens
hideSectionNavigation: true
templateEngineOverride: njk
tags:
  - posts
  - sections
  - designtokens
layout: layouts/base.njk
---

{% set type %}typography{% endset %}
{% render '@vf-section-header', {
  "section_title": "Typography",
  "href": "https://github.com/visual-framework/vf-core/blob/develop/components/vf-design-tokens/dist/sass/vf-font--sans.scss",
  "id": "brand"
} %}

{# <pre>{{ tokens.themeBrand.properties | dump(2 )}}</pre> #}
{# <section class="embl-grid"> #}
<article class="vf-grid vf-grid__col-2">
  {% for item in tokens.typographySans.properties %}
    {% include "./token-card.njk" %}
  {% else %}
    <p>Something went wrong.</p>
  {% endfor %}
</article>
{# </section> #}

