// vf-blockquote

@import 'package.variables.scss';
// Debug information from component's `package.json`:
// ---
/*!
 * Component: #{map-get($componentInfo, 'name')}
 * Version: #{map-get($componentInfo, 'version')}
 * Location: #{map-get($componentInfo, 'location')}
 */

.vf-blockquote {
  @include blockquote;
  @include set-type(text-body--1);
  display: flex !important;
}

.vf-blockquote::before {
  margin-right: 1.5rem;
  border-left: 1px solid var( --vf-color--grey);
  left: 8px;
  content: "";
}

.vf-blockquote_author__link {
  @include inline-link();
}
