{% if context %}
  {% set id = context.id %}
  {% set override_class = context.override_class %}
  {% set blockquote_text = context.blockquote_text %}
  {% set blockquote_citation = context.blockquote_citation %}
{% endif %}

<blockquote{% if id %} id="{{-id-}}"{% endif %} class="vf-blockquote{%- if override_class %} | {{override_class}}{% endif %} | vf-stack vf-stack--400">
  {% if blockquote_text %}
    <p class="vf-blockquote__text">{{- blockquote_text | safe -}}</p>
  {% else %}
    {{- html | safe if html else text -}}
  {% endif %}

  {% if blockquote_citation %}
  <footer class="vf-blockquote__footer">
    <cite class="vf-blockquote__citation">
      {{- blockquote_citation | safe -}}
    </cite>
  </footer>
  {% endif %}

</blockquote>
