// vf-blockquote

@import 'package.variables.scss';
// Debug information from component's `package.json`:
// ---
/*!
 * Component: #{map-get($componentInfo, 'name')}
 * Version: #{map-get($componentInfo, 'version')}
 * Location: #{map-get($componentInfo, 'location')}
 */

.vf-blockquote {
  @include blockquote;
  padding: 0px;
  padding-left: 32px;
  margin: 32px 0px;
  color: #1A1C1A;
  font-size: 28px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.vf-blockquote::before {
  border-left: 1px solid #d0d0ce;
  left:8px;
}

.vf-blockquote-flex-container {
  display: flex;
}

.vf-blockquote-flex-container footer {
  margin-top: 24px;
}

.vf-blockquote-flex-container .vf-blockquote_author__image {
  margin-right: 24px;
  max-height: 160px;
  max-width: 160px;
}

.vf-blockquote-flex-container .vf-blockquote_author__image img {
  border-radius: 50%;
  height: 160px;
  width: 160px;
  max-height: 160px;
  max-width: 160px;
}

.vf-blockquote_author__link {
  @include inline-link();
  color: #2A57A3;
}

.vf-blockquote_author_details {
  font-size: 19px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 400;
  line-height: 26.6px;
}

