{% if context %}
  {% set id = context.id %}
  {% set override_class = context.override_class %}
  {% set blockquote_text = context.blockquote_text %}
  {% set blockquote_author = context.blockquote_author %}
  {% set blockquote_author_href = context.blockquote_author_href %}
  {% set blockquote_author_details = context.blockquote_author_details %}
  {% set blockquote_author_imageurl = context.blockquote_author_imageurl %}
{% endif %}

<blockquote{% if id %} id="{{-id-}}"{% endif %} class="vf-blockquote vf-u-margin__left--800{%- if override_class %} | {{override_class}}{% endif %}">

    {% if (blockquote_author_imageurl) %}
      <img class="vf-profile__image vf-u-margin__right--600" src="{{blockquote_author_imageurl}}" alt="" loading="lazy"/>
    {% endif %}
    <div>
      {% if (blockquote_text) or (html) or (text) %}
        <div>{{- (html) or (blockquote_text) | safe if (html) or (blockquote_text) else text -}}</div>
      {% endif %}

      <footer class="vf-u-margin__top--600">
      {% if blockquote_author_href %}
        <a href="{{ blockquote_author_href }}" class="vf-blockquote_author__link">
          <div>{{ blockquote_author }}</div>
        </a>
      {% else %}
          <div>{{ blockquote_author }}</div>
      {% endif %}
      {% if blockquote_author_details %}
        <div class="vf-text-body--2">{{ blockquote_author_details }}</div>
      {% endif %}
      </footer>
    </div>
</blockquote>
