<blockquote
{# You're using an ID? Really?? That'll go here #}
{% if id %} id="{{-id-}}"{% endif %}
{# Here is where we are adding the vf-text--body modifier #}
class="vf-blockquote vf-blockquote--pullquote
{%- if override_class %} | {{override_class}}{% endif -%}">
{{- html | safe if html else text -}}
</blockquote>
