// vf-form__checkbox

@import 'package.variables.scss';
// Debug information from component's `package.json`:
// ---
/*!
 * Component: #{map-get($componentInfo, 'name')}
 * Version: #{map-get($componentInfo, 'version')}
 * Location: #{map-get($componentInfo, 'location')}
 */

.vf-form__item.vf-form__item--checkbox {
  margin-bottom: 16px;
}
.vf-form__checkbox {
  opacity: 0; // hide it
  position: absolute; // take it out of document flow

  + .vf-form__label {
    color: set-color(vf-color--grey--dark);
    cursor: pointer;
    padding: 0;
    position: relative;
  }

  // Box.
  + .vf-form__label::before {
    background: set-ui-color(vf-ui-color--white);
    border: 3px solid set-ui-color(vf-ui-color--grey--dark);
    content: '';
    display: inline-block;
    height: 24px;
    position: relative;
    top: 3px;
    width: 24px;
  }

  // Box hover
  &:hover + .vf-form__label:before {
    border-color: set-color(vf-color--grey--dark);
  }

  // Box focus
  &:focus + .vf-form__label:before {
    border-color: set-color(vf-color--grey--dark);
  }

  // Box checked
  &:checked + .vf-form__label:before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Ctitle%3Echeck%3C/title%3E%3Cpath d='M23.146,5.4,20.354,2.6a.5.5,0,0,0-.708,0L7.854,14.4a.5.5,0,0,1-.708,0L4.354,11.6a.5.5,0,0,0-.708,0L.854,14.4a.5.5,0,0,0,0,.707L7.146,21.4a.5.5,0,0,0,.708,0L23.146,6.1A.5.5,0,0,0,23.146,5.4Z' fill='%233b6fb6'/%3E%3C/svg%3E");
    background-size: 80%;
    background-position: center center;
    background-repeat: no-repeat;
    border-color: set-color(vf-color--blue);
  }

  // Disabled state .vf-form__label.
  &:disabled + .vf-form__label {
    color: set-color(vf-color--grey--dark);
    cursor: auto;
  }

  // Disabled box.
  &:disabled + .vf-form__label:before {
    background: set-color(vf-color--grey);
    box-shadow: none;
  }

  // Checkmark. Could be replaced with an image
}
