<form class="vf-form">
  <div class="vf-form__item vf-form__item--inline vf-form__item--checkbox">
    <input type="checkbox" id="checkbox-inline-01" class="vf-form__checkbox">
    <label for="checkbox-inline-01" class="vf-form__label">Form Label</label>
  </div>

  <div class="vf-form__item vf-form__item--inline vf-form__item--checkbox">
    <input type="checkbox" id="checkbox-inline-02" class="vf-form__checkbox">
    <label for="checkbox-inline-02" class="vf-form__label">Form Label</label>
  </div>
</form>
