// vf-form__checkbox
.vf-form__checkbox {
  opacity: 0; // hide it
  position: absolute; // take it out of document flow

  + .vf-form__label {
    color: set-color(vf-color-gray-dark);
    cursor: pointer;
    padding: 0;
    position: relative;
  }

  // Box.
  + .vf-form__label::before {
    background: set-color(vf-color-white);
    border: 3px solid set-ui-color(vf-ui-color-gray);
    content: '';
    display: inline-block;
    height: 16px;
    margin-right: 10px;
    position: relative;
    top: 6px;
    vertical-align: center;
    width: 16px;
  }

  // Box hover
  &:hover + .vf-form__label:before {
    border-color: set-color(vf-color-gray-dark);
  }

  // Box focus
  &:focus + .vf-form__label:before {
    border-color: set-color(vf-color-gray-dark);
  }

  // Box checked
  &:checked + .vf-form__label:before {
    background: set-color(vf-color-azure);
    border-color: set-color(vf-color-azure);
  }

  // Disabled state .vf-form__label.
  &:disabled + .vf-form__label {
    color: set-color(vf-color-gray-dark);
    cursor: auto;
  }

  // Disabled box.
  &:disabled + .vf-form__label:before {
    background: set-color(vf-color-gray);
    box-shadow: none;
  }

  // Checkmark. Could be replaced with an image
}
