// vf-form__checkbox

@import 'package.variables.scss';
// Debug information from component's `package.json`:
// ---
/*!
 * Component: #{map-get($componentInfo, 'name')}
 * Version: #{map-get($componentInfo, 'version')}
 * Location: #{map-get($componentInfo, 'location')}
 */

.vf-form__item.vf-form__item--checkbox {
  margin-bottom: 16px;
}

// Because we want the checkbox to be used in various context. We need the context to define
// Any layout things, and colours like below
.vf-form__item--checkbox {
  .vf-form__checkbox {
    + .vf-form__label::before {
      // border-color: ui-color(grey--light);
      margin-right: 8px;
    }
  }
}

.vf-form__checkbox {
  opacity: 0; // hide it
  position: absolute; // take it out of document flow

  + .vf-form__label {
    color: color(grey--dark);
    cursor: pointer;
    padding: 0;
    position: relative;
  }

  // Box.
  + .vf-form__label::before {
    background-color: ui-color(white);
    border: 2px solid color(grey);
    content: '';
    display: inline-block;
    height: 16px;
    position: relative;
    top: 2px; // need to look at a better way to do this that keeps the semantics of a label
    width: 16px;
  }

  // Box hover
  &:hover + .vf-form__label:before {
    border-color: color(grey--dark);
    box-shadow: 0 0 4px color(blue);

    @supports (filter: drop-shadow(0 0 .25rem blue)) {
      background-color: transparent;
      box-shadow: 0;
      filter: drop-shadow(0 0 4px color(blue--light))
    }
  }

  // Box focus
  &:focus + .vf-form__label:before {
    border-color: color(grey--dark);
    box-shadow: 0 0 4px color(blue);

    @supports (filter: drop-shadow(0 0 .25rem blue)) {
      background-color: transparent;
      box-shadow: 0;
      filter: drop-shadow(0 0 4px color(blue--light))
    }
  }

  // Box checked
  &:checked + .vf-form__label:before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Ctitle%3Echeck%3C/title%3E%3Cpath d='M23.146,5.4,20.354,2.6a.5.5,0,0,0-.708,0L7.854,14.4a.5.5,0,0,1-.708,0L4.354,11.6a.5.5,0,0,0-.708,0L.854,14.4a.5.5,0,0,0,0,.707L7.146,21.4a.5.5,0,0,0,.708,0L23.146,6.1A.5.5,0,0,0,23.146,5.4Z' fill='%233b6fb6'/%3E%3C/svg%3E");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 84%;
  }

  // Disabled state .vf-form__label.
  &:disabled + .vf-form__label {
    color: color(grey--dark);
    cursor: auto;
  }

  // Disabled box.
  &:disabled + .vf-form__label:before {
    background: color(grey);
    box-shadow: none;
  }
  // Checkmark. Could be replaced with an image
}

.vf-form__item--checkbox--inline {
  display: inline-flex;

  &:not(:first-of-type) {
    margin-left: 1rem;
  }
}
