<div class="vf-form__item vf-form__item--checkbox">
  <input type="checkbox" id="checkbox-01" class="vf-form__checkbox">
  <label for="checkbox-01" class="vf-form__label">Form Label</label>
</div>
<div class="vf-form__item vf-form__item--checkbox">
  <input type="checkbox" id="checkbox-02" class="vf-form__checkbox">
  <label for="checkbox-02" class="vf-form__label">Form Label</label>
</div>

<div class="vf-form__item vf-form__item--checkbox">
  <input type="checkbox" id="checkbox-03" class="vf-form__checkbox">
  <label for="checkbox-03" class="vf-form__label">Form Label</label>
</div>
<div class="vf-form__item vf-form__item--checkbox">
  <input type="checkbox" id="checkbox-04" class="vf-form__checkbox">
  <label for="checkbox-04" class="vf-form__label">Form Label</label>
</div>

<div class="vf-form__item vf-form__item--checkbox">
  <input type="checkbox" id="checkbox-05" class="vf-form__checkbox" disabled>
  <label for="checkbox-05" class="vf-form__label">Form Label</label>
</div>
