:root {
  --vf-color--green: #009f4d;
  --vf-color--green--darkest: #115740;
  --vf-color--green--dark: #007a53;
  --vf-color--green--light: #6cc24a;
  --vf-color--green--lightest: #d0debb;
  --vf-color--grey: #707372;
  --vf-color--grey--darkest: #373a36;
  --vf-color--grey--dark: #54585a;
  --vf-color--grey--light: #a8a99e;
  --vf-color--grey--lightest: #d0d0ce;
  --vf-color--red: #e40046;
  --vf-color--red--dark: #a6093d;
  --vf-color--red--light: #e58f9e;
  --vf-color--blue: #307fe2;
  --vf-color--blue--dark: #003da5;
  --vf-color--blue--light: #8bb8e8;
  --vf-color--purple: #8246af;
  --vf-color--purple--dark: #563d82;
  --vf-color--purple--light: #cba3d8;
  --vf-color--orange: #ffa300;
  --vf-color--orange--dark: #be5400;
  --vf-color--orange--light: #efc06e;
  --vf-color--yellow: #ffcd00;
  --vf-color--yellow--dark: #ffb81c;
  --vf-color--yellow--light: #fdd757;
  --vf-color--bright-green: #a8c700;
  --vf-color--bright-green--dark: #84bd00;
  --vf-color--bright-green--light: #e2e868;
}

:root {
  --vf-ui-color--black: #000000;
  --vf-ui-color--grey: #f3f3f3;
  --vf-ui-color--grey--light: #d8d8d8;
  --vf-ui-color--yellow: #fffadc;
  --vf-ui-color--red: #d32f2f;
  --vf-ui-color--white: #ffffff;
  --vf-ui-color--off-white: #fafafa;
}

/*!
 * Component: @visual-framework/vf-heading
 * Version: 1.0.0-beta.6
 * Location: components/vf-heading
 */
.vf-text {
  margin: 0 0 16px 0;
}

.vf-text-heading--5 {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 500;
  line-height: 1.5;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-text-heading--4 {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 21px;
  font-weight: 500;
  line-height: 1.29;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-text-heading--3 {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.333;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-text-heading--2 {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.333;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-text-heading--1 {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.547;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-text--has-tag {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.vf-text--has-tag .vf-badge {
  margin-left: 8px;
}

.vf-text--invert {
  background-color: #000000;
  color: #ffffff;
  display: inline-block;
  padding: 4px 8px 4px 4px;
}

/*!
 * Component: @visual-framework/vf-link-list
 * Version: 1.0.0-beta.6
 * Location: components/vf-link-list
 */
.vf-links__heading {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 21px;
  font-weight: 500;
  line-height: 1.29;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-links__list .vf-list__item {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  line-height: 1.421;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  margin: 0 0 20px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vf-links__list .vf-badge {
  margin-left: 8px;
}

.vf-links__list--has-image .vf-list__link {
  display: grid;
  grid-template-columns: minmax(0, 60px) auto;
}

.vf-list__image {
  justify-self: center;
}

.vf-links__meta {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.57;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  color: #54585a;
  display: inline;
  margin-left: 4px;
}

.vf-links__list--secondary .vf-list__link {
  border-bottom: none;
  text-decoration: underline;
  color: #707372;
  text-decoration: none;
}

.vf-links__list--secondary .vf-list__link:visited {
  color: #54585a;
  border-bottom: none;
  text-decoration: underline;
}

.vf-links__list--secondary .vf-list__link:hover {
  color: #54585a;
  border-bottom: none;
  text-decoration: underline;
}

.vf-links__list--secondary .vf-list__meta {
  color: #54585a;
  position: relative;
}

.vf-links__list--secondary .vf-list__meta::before {
  content: '(';
}

.vf-links__list--secondary .vf-list__meta::after {
  content: ')';
}

.vf-links--tight .vf-links__heading {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 500;
  line-height: 1.5;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-links--tight .vf-links__item {
  margin-bottom: 8px;
}

.vf-links__list--s .vf-list__item {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.57;
  margin: 0 0 8px 0;
}
