/* stylelint-disable */
:root {
  --vf-color--green: #18974c;
  --vf-color--green--darkest: #0a5032;
  --vf-color--green--dark: #007b53;
  --vf-color--green--light: #6cc24a;
  --vf-color--green--lightest: #d0debb;
  --vf-color--grey: #707372;
  --vf-color--grey--darkest: #373a36;
  --vf-color--grey--dark: #54585a;
  --vf-color--grey--light: #a8a99e;
  --vf-color--grey--lightest: #d0d0ce;
  --vf-color--red: #d41645;
  --vf-color--red--dark: #a6093d;
  --vf-color--red--light: #e58f9e;
  --vf-color--blue: #3b6fb6;
  --vf-color--blue--dark: #193f90;
  --vf-color--blue--light: #8bb8e8;
  --vf-color--purple: #734595;
  --vf-color--purple--dark: #563d82;
  --vf-color--purple--light: #cba3d8;
  --vf-color--orange: #f49e17;
  --vf-color--orange--dark: #b65417;
  --vf-color--orange--light: #efc06e;
  --vf-color--yellow: #f4c61f;
  --vf-color--yellow--dark: #ffb81c;
  --vf-color--yellow--light: #fdd757;
  --vf-color--bright-green: #a1be1f;
  --vf-color--bright-green--dark: #7fb428;
  --vf-color--bright-green--light: #e2e868;
}

:root {
  --vf-ui-color--black: #000000;
  --vf-ui-color--grey: #d8d8d8;
  --vf-ui-color--grey--light: #f3f3f3;
  --vf-ui-color--yellow: #fffadc;
  --vf-ui-color--red: #d32f2f;
  --vf-ui-color--white: #ffffff;
  --vf-ui-color--off-white: #fafafa;
}

/* stylelint-enable */
/*
 *
 * Here lies a set of corrections that make components from VF1 look like VF2, in terms of colour
 * and typography. So as not to have to make too many 'hacks' in VF2.0
 *
 */
/*!
 * Component: @visual-framework/ebi-vf1-integration
 * Version: 1.0.2
 * Location: components/ebi-vf1-integration
 */
.ebi-vf1-integration,
html body.ebi-vf1-integration {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
}

.ebi-vf1-integration h1, .ebi-vf1-integration .h1, .ebi-vf1-integration h2, .ebi-vf1-integration .h2, .ebi-vf1-integration h3, .ebi-vf1-integration .h3, .ebi-vf1-integration h4, .ebi-vf1-integration .h4, .ebi-vf1-integration h5, .ebi-vf1-integration .h5, .ebi-vf1-integration h6, .ebi-vf1-integration .h6, .ebi-vf1-integration p,
html body.ebi-vf1-integration h1,
html body.ebi-vf1-integration .h1,
html body.ebi-vf1-integration h2,
html body.ebi-vf1-integration .h2,
html body.ebi-vf1-integration h3,
html body.ebi-vf1-integration .h3,
html body.ebi-vf1-integration h4,
html body.ebi-vf1-integration .h4,
html body.ebi-vf1-integration h5,
html body.ebi-vf1-integration .h5,
html body.ebi-vf1-integration h6,
html body.ebi-vf1-integration .h6,
html body.ebi-vf1-integration p {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
}

body.ebi-vf1-integration,
.ebi-vf1-integration p {
  -webkit-font-smoothing: unset !important;
  text-rendering: initial;
}

.ebi-vf1-integration h1 {
  color: unset;
}

.ebi-vf1-integration .masthead-black-bar {
  background-color: #373a36;
}

.ebi-vf1-integration #masthead-black-bar .row,
.ebi-vf1-integration #global-footer .row {
  max-width: 76.5rem;
}

.ebi-vf1-integration #global-nav,
.ebi-vf1-integration #global-footer {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
}

.ebi-vf1-integration a {
  border: unset;
  text-decoration: underline;
}

.ebi-vf1-integration a:hover {
  text-decoration: unset;
  border-bottom-style: unset;
}

.ebi-vf1-integration #local-title a,
.ebi-vf1-integration .masthead-black-bar .global-nav a,
.ebi-vf1-integration .masthead ul li a,
.ebi-vf1-integration ul.menu.secondary-menu a,
.ebi-vf1-integration .secondary-menu ul.menu a {
  text-decoration: none;
}

.ebi-vf1-integration #local-title a:hover,
.ebi-vf1-integration .masthead-black-bar .global-nav a:hover,
.ebi-vf1-integration .masthead ul li a:hover,
.ebi-vf1-integration ul.menu.secondary-menu a:hover,
.ebi-vf1-integration .secondary-menu ul.menu a:hover {
  text-decoration: underline;
}

.ebi-vf1-integration .no-underline a,
.ebi-vf1-integration a.no-underline {
  text-decoration: none;
  border-bottom: none;
}

.ebi-vf1-integration .vf-button {
  text-decoration: none;
}

.ebi-vf1-integration .vf-button--primary:hover, .ebi-vf1-integration .vf-button--primary:visited,
.ebi-vf1-integration .vf-button--secondary:hover,
.ebi-vf1-integration .vf-button--secondary:visited,
.ebi-vf1-integration .vf-button--tertiary:hover,
.ebi-vf1-integration .vf-button--tertiary:visited {
  color: white;
}

.ebi-vf1-integration a.vf-button {
  border: 4px solid #000000 !important;
  border: 4px solid var(--vf-button-border-color, var(--default-bg-colour)) !important;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  opacity: 1;
}

.ebi-vf1-integration a.vf-button:hover {
  opacity: 1;
}

.ebi-vf1-integration #data-protection-banner {
  background-color: #373a36 !important;
}

.ebi-vf1-integration #data-protection-banner .row {
  max-width: 76.5em;
}

.ebi-vf1-integration .vf-form__input:not([type=file]) {
  height: unset;
  background: unset;
}

.ebi-vf1-integration .vf-form__input:not([type=file]):focus, .ebi-vf1-integration .vf-form__input:not([type=file]):hover {
  border-width: unset;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.ebi-vf1-integration hr.vf-divider {
  max-width: unset;
}

/*!
 * Component: @visual-framework/vf-font-plex-sans
 * Version: 1.1.0
 * Location: components/vf-font-plex-sans
 */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  src: local("IBM Plex Sans Bold"), local("IBMPlexSans-Bold"), url("../assets/vf-font-plex-sans/assets/IBM-Plex-Sans/fonts/complete/woff/IBMPlexSans-Bold.woff") format("woff");
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 700;
  src: local("IBM Plex Sans Bold Italic"), local("IBMPlexSans-BoldItalic"), url("../assets/vf-font-plex-sans/assets/IBM-Plex-Sans/fonts/complete/woff/IBMPlexSans-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 200;
  src: local("IBM Plex Sans ExtraLight"), local("IBMPlexSans-ExtraLight"), url("../assets/vf-font-plex-sans/assets/IBM-Plex-Sans/fonts/complete/woff/IBMPlexSans-ExtraLight.woff") format("woff");
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 200;
  src: local("IBM Plex Sans ExtraLight Italic"), local("IBMPlexSans-ExtraLightItalic"), url("../assets/vf-font-plex-sans/assets/IBM-Plex-Sans/fonts/complete/woff/IBMPlexSans-ExtraLightItalic.woff") format("woff");
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 400;
  src: local("IBM Plex Sans Italic"), local("IBMPlexSans-Italic"), url("../assets/vf-font-plex-sans/assets/IBM-Plex-Sans/fonts/complete/woff/IBMPlexSans-Italic.woff") format("woff");
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 300;
  src: local("IBM Plex Sans Light"), local("IBMPlexSans-Light"), url("../assets/vf-font-plex-sans/assets/IBM-Plex-Sans/fonts/complete/woff/IBMPlexSans-Light.woff") format("woff");
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 300;
  src: local("IBM Plex Sans Light Italic"), local("IBMPlexSans-LightItalic"), url("../assets/vf-font-plex-sans/assets/IBM-Plex-Sans/fonts/complete/woff/IBMPlexSans-LightItalic.woff") format("woff");
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  src: local("IBM Plex Sans Medium"), local("IBMPlexSans-Medium"), url("../assets/vf-font-plex-sans/assets/IBM-Plex-Sans/fonts/complete/woff/IBMPlexSans-Medium.woff") format("woff");
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 500;
  src: local("IBM Plex Sans Medium Italic"), local("IBMPlexSans-MediumItalic"), url("../assets/vf-font-plex-sans/assets/IBM-Plex-Sans/fonts/complete/woff/IBMPlexSans-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  src: local("IBM Plex Sans"), local("IBMPlexSans"), url("../assets/vf-font-plex-sans/assets/IBM-Plex-Sans/fonts/complete/woff/IBMPlexSans-Regular.woff") format("woff");
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  src: local("IBM Plex Sans SemiBold"), local("IBMPlexSans-SemiBold"), url("../assets/vf-font-plex-sans/assets/IBM-Plex-Sans/fonts/complete/woff/IBMPlexSans-SemiBold.woff") format("woff");
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 600;
  src: local("IBM Plex Sans SemiBold Italic"), local("IBMPlexSans-SemiBoldItalic"), url("../assets/vf-font-plex-sans/assets/IBM-Plex-Sans/fonts/complete/woff/IBMPlexSans-SemiBoldItalic.woff") format("woff");
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 450;
  src: local("IBM Plex Sans Text"), local("IBMPlexSans-Text"), url("../assets/vf-font-plex-sans/assets/IBM-Plex-Sans/fonts/complete/woff/IBMPlexSans-Text.woff") format("woff");
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 450;
  src: local("IBM Plex Sans Text Italic"), local("IBMPlexSans-TextItalic"), url("../assets/vf-font-plex-sans/assets/IBM-Plex-Sans/fonts/complete/woff/IBMPlexSans-TextItalic.woff") format("woff");
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 100;
  src: local("IBM Plex Sans Thin"), local("IBMPlexSans-Thin"), url("../assets/vf-font-plex-sans/assets/IBM-Plex-Sans/fonts/complete/woff/IBMPlexSans-Thin.woff") format("woff");
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 100;
  src: local("IBM Plex Sans Thin Italic"), local("IBMPlexSans-ThinItalic"), url("../assets/vf-font-plex-sans/assets/IBM-Plex-Sans/fonts/complete/woff/IBMPlexSans-ThinItalic.woff") format("woff");
}

.vf-font-plex-sans {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.71;
  margin: 0 0 0 0;
}

/*!
 * Component: @visual-framework/vf-font-plex-mono
 * Version: 1.1.0
 * Location: components/vf-font-plex-mono
 */
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  src: local("IBM Plex Mono"), local("IBMPlexMono"), url("../assets/vf-font-plex-mono/assets/IBM-Plex-Mono/fonts/complete/woff/IBMPlexMono-Regular.woff") format("woff");
}

.vf-font-plex-mono {
  font-family: "IBM Plex Mono", Monaco, Consolas, "Lucida Console", monospace;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.57;
  margin: 0 0 0 0;
}
