$componentInfo: (
             name: "@visual-framework/ebi-vf1-integration",
             version: "1.0.4",
             location: "components/ebi-vf1-integration",
             vfCoreVersion: "2.2.8",
             buildTimeStamp: "Tue, 20 Oct 2020 07:45:08 GMT"
          );