$componentInfo: (
             name: "@visual-framework/ebi-vf1-integration",
             version: "1.0.4",
             location: "components/ebi-vf1-integration",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Tue, 27 Oct 2020 16:00:05 GMT"
          );