$componentInfo: (
             name: "@visual-framework/ebi-vf1-integration",
             version: "1.0.4",
             location: "components/ebi-vf1-integration",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Fri, 30 Oct 2020 16:39:45 GMT"
          );