// setup files required

@import 'vf-global-variables';
@import 'vf-variables';
@import 'vf-functions';
@import 'vf-mixins';
@import 'vf-utility-mixins';
// other components being used

@import 'vf-heading/vf-heading.scss';
@import 'vf-badge/vf-badge.scss';
@import 'vf-text/vf-text.scss';
@import 'vf-link/vf-link.scss';
@import 'vf-form__core/vf-form__core.scss';
@import 'vf-button/vf-button.scss';
@import 'vf-figure/vf-figure.scss';
@import 'vf-list/vf-list.scss';
@import 'vf-blockquote/vf-blockquote.scss';
@import 'vf-divider/vf-divider.scss';
@import 'vf-box/vf-box.scss';

// component specific styles

@import 'vf-content.scss';
