.vf-text {
  margin: 0 0 16px 0;
}

.vf-text--heading-s {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 500;
  line-height: 1.5;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-text--heading-r {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 21px;
  font-weight: 500;
  line-height: 1.29;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-text--heading-alt {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.333;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-text--heading-l {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.333;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-text--heading-xl {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.547;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-text--has-tag {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.vf-text--has-tag .vf-badge {
  margin-left: 8px;
}

.vf-text--invert {
  background-color: #282d23;
  color: white;
  display: inline-block;
  padding: 4px 8px 4px 4px;
}

.vf-badge {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  border: 1px solid currentColor;
  color: inherit;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  letter-spacing: .05em;
  padding: 4px 8px;
  text-decoration: none;
  text-transform: uppercase;
}

.vf-badge--pill {
  border-radius: 500px;
}

.vf-badge--rounded {
  border-radius: 4px;
}

.vf-badge--square {
  border: 0;
  height: 12px;
  padding: 0;
  width: 12px;
  margin: 0;
  position: relative;
}

.vf-badge--phases {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 12px 0 0;
  min-width: 52px;
}

.vf-badge--primary {
  background-color: #287ae2;
  border-color: #287ae2;
  color: white;
}

a.vf-badge--primary:hover {
  background-color: #003da5;
  border-color: #003da5;
}

.vf-badge--secondary {
  background-color: #009f4d;
  border-color: #009f4d;
  color: white;
}

.vf-badge--tertiary {
  background-color: #54585a;
  border-color: #54585a;
  color: white;
}

.vf-badge--outline {
  background-color: transparent;
  color: #287ae2;
}

.vf-text--body > a {
  color: #287ae2;
}

.vf-text--body > a:visited {
  color: #54585a;
}

.vf-text--body > a:hover {
  color: #003da5;
}

.vf-text--body > a[disabled] {
  color: #b9b3a8;
  cursor: not-allowed;
}

.vf-text--body-xs {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.5;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-text--body-s {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.57;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-text--body-s-alt {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.57;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-text--body-r {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.71;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-text--body-l {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  line-height: 1.421;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-text--body-xl {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.3125;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-text--body-link {
  color: #287ae2;
}

.vf-text--body-link:visited {
  color: #54585a;
}

.vf-text--body-link:hover {
  color: #003da5;
}

.vf-text--body-link[disabled] {
  color: #b9b3a8;
  cursor: not-allowed;
}

.vf-link {
  color: #287ae2;
}

.vf-link:visited {
  color: #54585a;
}

.vf-link:hover {
  color: #003da5;
}

.vf-link[disabled] {
  color: #b9b3a8;
  cursor: not-allowed;
}

.vf-link--visited {
  color: #54585a;
}

.vf-link--hover {
  color: #4286ff;
}

.vf-form__helper {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.57;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  margin: 0 0 4px 0;
  color: #707372;
}

.vf-form__input:not([type='file']) {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.71;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  border-color: #707372;
  border-style: solid;
  border-width: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #54585a;
  display: block;
  padding: 16px 24px;
  width: 100%;
}

.vf-form__input:not([type='file']):focus, .vf-form__input:not([type='file']):hover {
  border-color: currentColor;
  color: #282d23;
  outline: 0;
}

.vf-form__wrap .vf-form__label {
  border-radius-top-left: 3px;
  display: block;
  line-height: 1;
  opacity: 0;
  position: absolute;
  top: -16px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  visibility: hidden;
  z-index: 1;
}

.vf-form__form .vf-form__wrap {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  position: relative;
  text-rendering: optimizeLegibility;
}

.vf-form__form input.vf-form__input:-moz-placeholder,
.vf-form__form select.vf-form__select:-moz-placeholder,
.vf-form__form textarea.vf-form__textarea:-moz-placeholder {
  color: #54585a;
}

.vf-form__form input.vf-form__input::-moz-placeholder,
.vf-form__form select.vf-form__select::-moz-placeholder,
.vf-form__form textarea.vf-form__textarea::-moz-placeholder {
  color: #54585a;
}

.vf-form__form input.vf-form__input:-ms-input-placeholder,
.vf-form__form select.vf-form__select:-ms-input-placeholder,
.vf-form__form textarea.vf-form__textarea:-ms-input-placeholder {
  color: #54585a;
}

.vf-form__form input.vf-form__input::-webkit-input-placeholder,
.vf-form__form select.vf-form__select::-webkit-input-placeholder,
.vf-form__form textarea.vf-form__textarea::-webkit-input-placeholder {
  color: #54585a;
}

.vf-form__form select.vf-form__select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #54585a;
  cursor: pointer;
  position: relative;
}

.vf-form__form select.vf-form__select::-ms-expand {
  display: none;
}

.vf-form__form .vf-form__is-active input.vf-form__input,
.vf-form__form .vf-form__is-active select.vf-form__select,
.vf-form__form .vf-form__is-active textarea.vf-form__textarea {
  background-color: #fff;
  border-color: #dfdfdf;
  color: #444;
}

.vf-form__form .vf-form__has-focus input.vf-form__input,
.vf-form__form .vf-form__has-focus select.vf-form__select,
.vf-form__form .vf-form__has-focus textarea.vf-form__textarea {
  background-color: #fff;
  border-color: #282d23;
}

.vf-form__wrap .vf-form__form label.vf-form__label {
  border-radius-top-left: 3px;
  color: #54585a;
  display: block;
  left: 26px;
  opacity: 0;
  position: absolute;
  top: -24px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  visibility: hidden;
  z-index: 1;
}

.vf-form__form .vf-form__is-active label.vf-form__label {
  opacity: 1;
  visibility: visible;
}

.vf-form__form .vf-form__has-focus label.vf-form__label {
  color: #282d23;
}

.vf-form__form .vf-form__is-required::before {
  color: #D32F2F;
  content: '*';
  display: block;
  font-size: 16px;
  line-height: 1.75;
  opacity: 1;
  padding: 6px 0 0;
  position: absolute;
  right: 15px;
  top: 1px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  z-index: 1;
}

.vf-form__form .vf-form__is-required.vf-form__is-active::before {
  opacity: 0;
}

.vf-form__select-container {
  background: white;
  height: 61.5px;
  position: relative;
}

.vf-form__select-container::after {
  border-color: #707372 transparent transparent transparent;
  border-style: solid;
  border-width: 9px 9px 0 9px;
  bottom: 0;
  content: '';
  height: 0;
  margin: auto;
  pointer-events: none;
  position: absolute;
  right: 21px;
  top: 0;
  width: 0;
}

.vf-form__select-container::before {
  border-left: 3px solid #707372;
  bottom: 1px;
  content: '';
  pointer-events: none;
  position: absolute;
  right: 1px;
  top: 1px;
  width: 56px;
}

.vf-form__select-container:hover::after {
  border-color: #282d23 transparent transparent transparent;
}

.vf-form__select-container:hover::before {
  border-left: 3px solid #282d23;
}

.vf-form__select-container .vf-form__select {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.71;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  border: none;
  border: 3px solid #707372;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #54585a;
  cursor: pointer;
  height: 100%;
  outline: none;
  padding-left: 15px;
  padding-right: 35px;
  width: 100%;
}

.vf-form__select-container .vf-form__select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0;
}

.vf-form__select-container .vf-form__select::-ms-expand {
  display: none;
}

.vf-form__select-container .vf-form__select:hover {
  border-color: #282d23;
  color: #282d23;
}

.vf-form__select-container .vf-form__select:focus {
  border-color: #282d23;
  color: #282d23;
}

@media all and (min-width: 0\0) and (min-resolution: 0.001dpcm) {
  .vf-form__select-container .vf-form__select {
    padding-right: 0;
  }
  .vf-form__select-container::after, .vf-form__select-container::before {
    display: none;
  }
}

.vf-form__checkbox {
  opacity: 0;
  position: absolute;
}

.vf-form__checkbox + .vf-form__label {
  color: #54585a;
  cursor: pointer;
  padding: 0;
  position: relative;
}

.vf-form__checkbox + .vf-form__label::before {
  background: white;
  border: 3px solid #707372;
  content: '';
  display: inline-block;
  height: 16px;
  margin-right: 10px;
  position: relative;
  top: 6px;
  vertical-align: center;
  width: 16px;
}

.vf-form__checkbox:hover + .vf-form__label:before {
  border-color: #54585a;
}

.vf-form__checkbox:focus + .vf-form__label:before {
  border-color: #54585a;
}

.vf-form__checkbox:checked + .vf-form__label:before {
  background: #287ae2;
  border-color: #287ae2;
}

.vf-form__checkbox:disabled + .vf-form__label {
  color: #54585a;
  cursor: auto;
}

.vf-form__checkbox:disabled + .vf-form__label:before {
  background: #707372;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.vf-form__radio {
  opacity: 0;
  position: absolute;
}

.vf-form__radio + .vf-form__label {
  color: #54585a;
  cursor: pointer;
  padding: 0;
  position: relative;
}

.vf-form__radio + .vf-form__label::before {
  background: white;
  border: 3px solid #707372;
  border-radius: 50%;
  content: '';
  display: inline-block;
  height: 16px;
  margin-right: 10px;
  position: relative;
  top: 6px;
  vertical-align: center;
  width: 16px;
}

.vf-form__radio:hover + .vf-form__label::before {
  border-color: #54585a;
}

.vf-form__radio:focus + .vf-form__label::before {
  border-color: #54585a;
}

.vf-form__radio:checked + .vf-form__label::before {
  background: #003da5;
  border-color: #003da5;
}

.vf-form__radio:disabled + .vf-form__label {
  color: #54585a;
  cursor: auto;
}

.vf-form__radio:disabled + .vf-form__label::before {
  background: #707372;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.vf-form__textarea {
  border: 3px solid #707372;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  padding: 16px 8px;
  width: 100%;
}

.vf-form__textarea:focus {
  border-color: #54585a;
  outline: 0;
}

.vf-form__item {
  display: block;
  margin-bottom: 32px;
  position: relative;
}

.vf-form__item--inline .vf-form__label {
  display: inline-block;
}

.vf-form__label {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.57;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  margin: 0 0 4px 0;
  color: #707372;
  display: block;
  left: 26px;
  position: relative;
}

.vf-button {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 16px 24px;
  text-decoration: none;
}

.vf-button--primary {
  background-color: #287ae2;
  border: 2px solid #287ae2;
  color: white;
}

.vf-button--primary:visited {
  background-color: #54585a;
}

.vf-button--primary:hover {
  background-color: #003da5;
  border-color: #003da5;
}

.vf-button--primary[disabled] {
  background-color: #b9b3a8;
  cursor: not-allowed;
}

.vf-button--secondary {
  background-color: #009f4d;
  border: 2px solid #009f4d;
  color: white;
}

.vf-button--secondary:visited {
  background-color: #54585a;
}

.vf-button--secondary:hover {
  background-color: #007b53;
  border-color: #007b53;
}

.vf-button--secondary[disabled] {
  background-color: #b9b3a8;
  cursor: not-allowed;
}

.vf-button--tertiary {
  background-color: #54585a;
  border: 2px solid #54585a;
  color: white;
}

.vf-button--tertiary:visited {
  background-color: #54585a;
}

.vf-button--tertiary:hover {
  background-color: #707372;
  border-color: #707372;
}

.vf-button--tertiary[disabled] {
  background-color: #b9b3a8;
  cursor: not-allowed;
}

.vf-button--outline--primary {
  background-color: white;
  border: 2px solid #287ae2;
  color: #287ae2;
}

.vf-button--outline--primary:visited {
  background-color: #54585a;
}

.vf-button--outline--primary:hover {
  background-color: #003da5;
  border-color: #003da5;
  color: white;
}

.vf-button--outline--primary[disabled] {
  background-color: #b9b3a8;
  cursor: not-allowed;
}

.vf-button--outline--secondary {
  background-color: white;
  border: 2px solid #009f4d;
  color: #009f4d;
}

.vf-button--outline--secondary:visited {
  background-color: #54585a;
}

.vf-button--outline--secondary:hover {
  background-color: #007b53;
  border-color: #007b53;
  color: white;
}

.vf-button--outline--secondary[disabled] {
  background-color: #b9b3a8;
  cursor: not-allowed;
}

.vf-button--outline--tertiary {
  background-color: white;
  border: 2px solid #54585a;
  color: #54585a;
}

.vf-button--outline--tertiary:visited {
  background-color: #54585a;
}

.vf-button--outline--tertiary:hover {
  background-color: #707372;
  border-color: #707372;
  color: white;
}

.vf-button--outline--tertiary[disabled] {
  background-color: #b9b3a8;
  cursor: not-allowed;
}

.vf-button--pill {
  border-radius: 500px;
}

.vf-button--rounded {
  border-radius: 16px;
}

.vf-button--s {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.57;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  padding: 12px 8px;
}

.vf-button--s.vf-button--rounded {
  border-radius: 8px;
}

.vf-button--l {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  padding: 20px 32px;
}

[span*='Examples '] {
  display: none;
}

.vf-figure {
  margin: 0;
}

.vf-figure__image {
  margin: 0 0 21px 0;
}

.vf-figure__caption {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.57;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  color: #707372;
  font-style: italic;
}

.vf-figure__image {
  height: auto;
  width: 100%;
}

.vf-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.71;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-list__item {
  margin-bottom: 16px;
}

.vf-list--l {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  line-height: 1.421;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-list--ordered {
  margin: 0;
  list-style-type: decimal;
  padding-left: 16px;
}

.vf-list--ordered__item {
  margin-bottom: 16px;
}

.vf-list--unordered {
  margin: 0;
  padding-left: 16px;
  list-style-type: disc;
}

.vf-list--unordered__item {
  margin-bottom: 16px;
}

.vf-list--inline {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.vf-list--inline [class*=__item] {
  display: inline;
}

.vf-list--inline__item {
  margin-bottom: 16px;
}

.vf-list__link {
  color: #287ae2;
}

.vf-list__link:visited {
  color: #54585a;
}

.vf-list__link:hover {
  color: #003da5;
}

.vf-list__link[disabled] {
  color: #b9b3a8;
  cursor: not-allowed;
}

.vf-blockquote {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  line-height: 1.421;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  margin: 0;
  padding: 10px 8px 10px 32px;
  position: relative;
}

.vf-blockquote::before {
  content: '';
  border-left: 4px solid #b9b3a8;
  position: absolute;
  left: 12px;
  height: 100%;
  top: 0;
}

.vf-divider {
  background-color: #D8D8D8;
  margin: 0 8px;
  height: 1px;
  border: none;
  grid-column: 1 / -1;
  margin-bottom: 24px;
}

.vf-box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 24px;
  width: 100%;
}

.vf-box--s {
  padding: 16px;
}

.vf-box--r {
  padding: 24px;
}

.vf-box--l {
  padding: 32px;
}

.vf-box--primary {
  background-color: #003da5;
  border-color: #003da5;
  color: white;
}

.vf-box--secondary {
  background-color: #009f4d;
  border-color: #009f4d;
  color: white;
}

.vf-box--tertiary {
  background-color: #54585a;
  border-color: #54585a;
  color: white;
}

.vf-box--rounded {
  border-radius: 8px;
}

.vf-box--outline {
  background-color: transparent;
  border-style: solid;
  border-width: 2px;
  color: #282d23;
}

.vf-content .vf-text {
  margin: 0 0 16px 0;
}

.vf-content .vf-text--heading-s {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 500;
  line-height: 1.5;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-content .vf-text--heading-r {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 21px;
  font-weight: 500;
  line-height: 1.29;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-content .vf-text--heading-alt {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.333;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-content .vf-text--heading-l {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.333;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-content .vf-text--heading-xl {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.547;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-content .vf-text--has-tag {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.vf-content .vf-text--has-tag .vf-badge {
  margin-left: 8px;
}

.vf-content .vf-text--invert {
  background-color: #282d23;
  color: white;
  display: inline-block;
  padding: 4px 8px 4px 4px;
}

.vf-content .vf-badge {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  border: 1px solid currentColor;
  color: inherit;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  letter-spacing: .05em;
  padding: 4px 8px;
  text-decoration: none;
  text-transform: uppercase;
}

.vf-content .vf-badge--pill {
  border-radius: 500px;
}

.vf-content .vf-badge--rounded {
  border-radius: 4px;
}

.vf-content .vf-badge--square {
  border: 0;
  height: 12px;
  padding: 0;
  width: 12px;
  margin: 0;
  position: relative;
}

.vf-content .vf-badge--phases {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 12px 0 0;
  min-width: 52px;
}

.vf-content .vf-badge--primary {
  background-color: #287ae2;
  border-color: #287ae2;
  color: white;
}

.vf-content a.vf-badge--primary:hover {
  background-color: #003da5;
  border-color: #003da5;
}

.vf-content .vf-badge--secondary {
  background-color: #009f4d;
  border-color: #009f4d;
  color: white;
}

.vf-content .vf-badge--tertiary {
  background-color: #54585a;
  border-color: #54585a;
  color: white;
}

.vf-content .vf-badge--outline {
  background-color: transparent;
  color: #287ae2;
}

.vf-content .vf-text--body > a {
  color: #287ae2;
}

.vf-content .vf-text--body > a:visited {
  color: #54585a;
}

.vf-content .vf-text--body > a:hover {
  color: #003da5;
}

.vf-content .vf-text--body > a[disabled] {
  color: #b9b3a8;
  cursor: not-allowed;
}

.vf-content .vf-text--body-xs {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.5;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-content .vf-text--body-s {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.57;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-content .vf-text--body-s-alt {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.57;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-content .vf-text--body-r {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.71;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-content .vf-text--body-l {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  line-height: 1.421;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-content .vf-text--body-xl {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.3125;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-content .vf-text--body-link {
  color: #287ae2;
}

.vf-content .vf-text--body-link:visited {
  color: #54585a;
}

.vf-content .vf-text--body-link:hover {
  color: #003da5;
}

.vf-content .vf-text--body-link[disabled] {
  color: #b9b3a8;
  cursor: not-allowed;
}

.vf-content .vf-link {
  color: #287ae2;
}

.vf-content .vf-link:visited {
  color: #54585a;
}

.vf-content .vf-link:hover {
  color: #003da5;
}

.vf-content .vf-link[disabled] {
  color: #b9b3a8;
  cursor: not-allowed;
}

.vf-content .vf-link--visited {
  color: #54585a;
}

.vf-content .vf-link--hover {
  color: #4286ff;
}

.vf-content .vf-form__helper {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.57;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  margin: 0 0 4px 0;
  color: #707372;
}

.vf-content .vf-form__input:not([type='file']) {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.71;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  border-color: #707372;
  border-style: solid;
  border-width: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #54585a;
  display: block;
  padding: 16px 24px;
  width: 100%;
}

.vf-content .vf-form__input:not([type='file']):focus, .vf-content .vf-form__input:not([type='file']):hover {
  border-color: currentColor;
  color: #282d23;
  outline: 0;
}

.vf-content .vf-form__wrap .vf-form__label {
  border-radius-top-left: 3px;
  display: block;
  line-height: 1;
  opacity: 0;
  position: absolute;
  top: -16px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  visibility: hidden;
  z-index: 1;
}

.vf-content .vf-form__form .vf-form__wrap {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  position: relative;
  text-rendering: optimizeLegibility;
}

.vf-content .vf-form__form input.vf-form__input:-moz-placeholder,
.vf-content .vf-form__form select.vf-form__select:-moz-placeholder,
.vf-content .vf-form__form textarea.vf-form__textarea:-moz-placeholder {
  color: #54585a;
}

.vf-content .vf-form__form input.vf-form__input::-moz-placeholder,
.vf-content .vf-form__form select.vf-form__select::-moz-placeholder,
.vf-content .vf-form__form textarea.vf-form__textarea::-moz-placeholder {
  color: #54585a;
}

.vf-content .vf-form__form input.vf-form__input:-ms-input-placeholder,
.vf-content .vf-form__form select.vf-form__select:-ms-input-placeholder,
.vf-content .vf-form__form textarea.vf-form__textarea:-ms-input-placeholder {
  color: #54585a;
}

.vf-content .vf-form__form input.vf-form__input::-webkit-input-placeholder,
.vf-content .vf-form__form select.vf-form__select::-webkit-input-placeholder,
.vf-content .vf-form__form textarea.vf-form__textarea::-webkit-input-placeholder {
  color: #54585a;
}

.vf-content .vf-form__form select.vf-form__select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #54585a;
  cursor: pointer;
  position: relative;
}

.vf-content .vf-form__form select.vf-form__select::-ms-expand {
  display: none;
}

.vf-content .vf-form__form .vf-form__is-active input.vf-form__input,
.vf-content .vf-form__form .vf-form__is-active select.vf-form__select,
.vf-content .vf-form__form .vf-form__is-active textarea.vf-form__textarea {
  background-color: #fff;
  border-color: #dfdfdf;
  color: #444;
}

.vf-content .vf-form__form .vf-form__has-focus input.vf-form__input,
.vf-content .vf-form__form .vf-form__has-focus select.vf-form__select,
.vf-content .vf-form__form .vf-form__has-focus textarea.vf-form__textarea {
  background-color: #fff;
  border-color: #282d23;
}

.vf-content .vf-form__wrap .vf-form__form label.vf-form__label {
  border-radius-top-left: 3px;
  color: #54585a;
  display: block;
  left: 26px;
  opacity: 0;
  position: absolute;
  top: -24px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  visibility: hidden;
  z-index: 1;
}

.vf-content .vf-form__form .vf-form__is-active label.vf-form__label {
  opacity: 1;
  visibility: visible;
}

.vf-content .vf-form__form .vf-form__has-focus label.vf-form__label {
  color: #282d23;
}

.vf-content .vf-form__form .vf-form__is-required::before {
  color: #D32F2F;
  content: '*';
  display: block;
  font-size: 16px;
  line-height: 1.75;
  opacity: 1;
  padding: 6px 0 0;
  position: absolute;
  right: 15px;
  top: 1px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  z-index: 1;
}

.vf-content .vf-form__form .vf-form__is-required.vf-form__is-active::before {
  opacity: 0;
}

.vf-content .vf-form__select-container {
  background: white;
  height: 61.5px;
  position: relative;
}

.vf-content .vf-form__select-container::after {
  border-color: #707372 transparent transparent transparent;
  border-style: solid;
  border-width: 9px 9px 0 9px;
  bottom: 0;
  content: '';
  height: 0;
  margin: auto;
  pointer-events: none;
  position: absolute;
  right: 21px;
  top: 0;
  width: 0;
}

.vf-content .vf-form__select-container::before {
  border-left: 3px solid #707372;
  bottom: 1px;
  content: '';
  pointer-events: none;
  position: absolute;
  right: 1px;
  top: 1px;
  width: 56px;
}

.vf-content .vf-form__select-container:hover::after {
  border-color: #282d23 transparent transparent transparent;
}

.vf-content .vf-form__select-container:hover::before {
  border-left: 3px solid #282d23;
}

.vf-content .vf-form__select-container .vf-form__select {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.71;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  border: none;
  border: 3px solid #707372;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #54585a;
  cursor: pointer;
  height: 100%;
  outline: none;
  padding-left: 15px;
  padding-right: 35px;
  width: 100%;
}

.vf-content .vf-form__select-container .vf-form__select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0;
}

.vf-content .vf-form__select-container .vf-form__select::-ms-expand {
  display: none;
}

.vf-content .vf-form__select-container .vf-form__select:hover {
  border-color: #282d23;
  color: #282d23;
}

.vf-content .vf-form__select-container .vf-form__select:focus {
  border-color: #282d23;
  color: #282d23;
}

@media all and (min-width: 0\0) and (min-resolution: 0.001dpcm) {
  .vf-content .vf-form__select-container .vf-form__select {
    padding-right: 0;
  }
  .vf-content .vf-form__select-container::after, .vf-content .vf-form__select-container::before {
    display: none;
  }
}

.vf-content .vf-form__checkbox {
  opacity: 0;
  position: absolute;
}

.vf-content .vf-form__checkbox + .vf-form__label {
  color: #54585a;
  cursor: pointer;
  padding: 0;
  position: relative;
}

.vf-content .vf-form__checkbox + .vf-form__label::before {
  background: white;
  border: 3px solid #707372;
  content: '';
  display: inline-block;
  height: 16px;
  margin-right: 10px;
  position: relative;
  top: 6px;
  vertical-align: center;
  width: 16px;
}

.vf-content .vf-form__checkbox:hover + .vf-form__label:before {
  border-color: #54585a;
}

.vf-content .vf-form__checkbox:focus + .vf-form__label:before {
  border-color: #54585a;
}

.vf-content .vf-form__checkbox:checked + .vf-form__label:before {
  background: #287ae2;
  border-color: #287ae2;
}

.vf-content .vf-form__checkbox:disabled + .vf-form__label {
  color: #54585a;
  cursor: auto;
}

.vf-content .vf-form__checkbox:disabled + .vf-form__label:before {
  background: #707372;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.vf-content .vf-form__radio {
  opacity: 0;
  position: absolute;
}

.vf-content .vf-form__radio + .vf-form__label {
  color: #54585a;
  cursor: pointer;
  padding: 0;
  position: relative;
}

.vf-content .vf-form__radio + .vf-form__label::before {
  background: white;
  border: 3px solid #707372;
  border-radius: 50%;
  content: '';
  display: inline-block;
  height: 16px;
  margin-right: 10px;
  position: relative;
  top: 6px;
  vertical-align: center;
  width: 16px;
}

.vf-content .vf-form__radio:hover + .vf-form__label::before {
  border-color: #54585a;
}

.vf-content .vf-form__radio:focus + .vf-form__label::before {
  border-color: #54585a;
}

.vf-content .vf-form__radio:checked + .vf-form__label::before {
  background: #003da5;
  border-color: #003da5;
}

.vf-content .vf-form__radio:disabled + .vf-form__label {
  color: #54585a;
  cursor: auto;
}

.vf-content .vf-form__radio:disabled + .vf-form__label::before {
  background: #707372;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.vf-content .vf-form__textarea {
  border: 3px solid #707372;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  padding: 16px 8px;
  width: 100%;
}

.vf-content .vf-form__textarea:focus {
  border-color: #54585a;
  outline: 0;
}

.vf-content .vf-form__item {
  display: block;
  margin-bottom: 32px;
  position: relative;
}

.vf-content .vf-form__item--inline .vf-form__label {
  display: inline-block;
}

.vf-content .vf-form__label {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.57;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  margin: 0 0 4px 0;
  color: #707372;
  display: block;
  left: 26px;
  position: relative;
}

.vf-content .vf-button {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 16px 24px;
  text-decoration: none;
}

.vf-content .vf-button--primary {
  background-color: #287ae2;
  border: 2px solid #287ae2;
  color: white;
}

.vf-content .vf-button--primary:visited {
  background-color: #54585a;
}

.vf-content .vf-button--primary:hover {
  background-color: #003da5;
  border-color: #003da5;
}

.vf-content .vf-button--primary[disabled] {
  background-color: #b9b3a8;
  cursor: not-allowed;
}

.vf-content .vf-button--secondary {
  background-color: #009f4d;
  border: 2px solid #009f4d;
  color: white;
}

.vf-content .vf-button--secondary:visited {
  background-color: #54585a;
}

.vf-content .vf-button--secondary:hover {
  background-color: #007b53;
  border-color: #007b53;
}

.vf-content .vf-button--secondary[disabled] {
  background-color: #b9b3a8;
  cursor: not-allowed;
}

.vf-content .vf-button--tertiary {
  background-color: #54585a;
  border: 2px solid #54585a;
  color: white;
}

.vf-content .vf-button--tertiary:visited {
  background-color: #54585a;
}

.vf-content .vf-button--tertiary:hover {
  background-color: #707372;
  border-color: #707372;
}

.vf-content .vf-button--tertiary[disabled] {
  background-color: #b9b3a8;
  cursor: not-allowed;
}

.vf-content .vf-button--outline--primary {
  background-color: white;
  border: 2px solid #287ae2;
  color: #287ae2;
}

.vf-content .vf-button--outline--primary:visited {
  background-color: #54585a;
}

.vf-content .vf-button--outline--primary:hover {
  background-color: #003da5;
  border-color: #003da5;
  color: white;
}

.vf-content .vf-button--outline--primary[disabled] {
  background-color: #b9b3a8;
  cursor: not-allowed;
}

.vf-content .vf-button--outline--secondary {
  background-color: white;
  border: 2px solid #009f4d;
  color: #009f4d;
}

.vf-content .vf-button--outline--secondary:visited {
  background-color: #54585a;
}

.vf-content .vf-button--outline--secondary:hover {
  background-color: #007b53;
  border-color: #007b53;
  color: white;
}

.vf-content .vf-button--outline--secondary[disabled] {
  background-color: #b9b3a8;
  cursor: not-allowed;
}

.vf-content .vf-button--outline--tertiary {
  background-color: white;
  border: 2px solid #54585a;
  color: #54585a;
}

.vf-content .vf-button--outline--tertiary:visited {
  background-color: #54585a;
}

.vf-content .vf-button--outline--tertiary:hover {
  background-color: #707372;
  border-color: #707372;
  color: white;
}

.vf-content .vf-button--outline--tertiary[disabled] {
  background-color: #b9b3a8;
  cursor: not-allowed;
}

.vf-content .vf-button--pill {
  border-radius: 500px;
}

.vf-content .vf-button--rounded {
  border-radius: 16px;
}

.vf-content .vf-button--s {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.57;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  padding: 12px 8px;
}

.vf-content .vf-button--s.vf-button--rounded {
  border-radius: 8px;
}

.vf-content .vf-button--l {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  padding: 20px 32px;
}

.vf-content [span*='Examples '] {
  display: none;
}

.vf-content .vf-figure {
  margin: 0;
}

.vf-content .vf-figure__image {
  margin: 0 0 21px 0;
}

.vf-content .vf-figure__caption {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.57;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  color: #707372;
  font-style: italic;
}

.vf-content .vf-figure__image {
  height: auto;
  width: 100%;
}

.vf-content .vf-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.71;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-list__item {
  margin-bottom: 16px;
}

.vf-content .vf-list--l {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  line-height: 1.421;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-content .vf-list--ordered {
  margin: 0;
  list-style-type: decimal;
  padding-left: 16px;
}

.vf-list--ordered__item {
  margin-bottom: 16px;
}

.vf-content .vf-list--unordered {
  margin: 0;
  padding-left: 16px;
  list-style-type: disc;
}

.vf-list--unordered__item {
  margin-bottom: 16px;
}

.vf-content .vf-list--inline {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.vf-content .vf-list--inline [class*=__item] {
  display: inline;
}

.vf-list--inline__item {
  margin-bottom: 16px;
}

.vf-content .vf-list__link {
  color: #287ae2;
}

.vf-content .vf-list__link:visited {
  color: #54585a;
}

.vf-content .vf-list__link:hover {
  color: #003da5;
}

.vf-content .vf-list__link[disabled] {
  color: #b9b3a8;
  cursor: not-allowed;
}

.vf-content .vf-blockquote {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  line-height: 1.421;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  margin: 0;
  padding: 10px 8px 10px 32px;
  position: relative;
}

.vf-content .vf-blockquote::before {
  content: '';
  border-left: 4px solid #b9b3a8;
  position: absolute;
  left: 12px;
  height: 100%;
  top: 0;
}

.vf-content .vf-divider {
  background-color: #D8D8D8;
  margin: 0 8px;
  height: 1px;
  border: none;
  grid-column: 1 / -1;
  margin-bottom: 24px;
}

.vf-content .vf-box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 24px;
  width: 100%;
}

.vf-content .vf-box--s {
  padding: 16px;
}

.vf-content .vf-box--r {
  padding: 24px;
}

.vf-content .vf-box--l {
  padding: 32px;
}

.vf-content .vf-box--primary {
  background-color: #003da5;
  border-color: #003da5;
  color: white;
}

.vf-content .vf-box--secondary {
  background-color: #009f4d;
  border-color: #009f4d;
  color: white;
}

.vf-content .vf-box--tertiary {
  background-color: #54585a;
  border-color: #54585a;
  color: white;
}

.vf-content .vf-box--rounded {
  border-radius: 8px;
}

.vf-content .vf-box--outline {
  background-color: transparent;
  border-style: solid;
  border-width: 2px;
  color: #282d23;
}

.vf-content h1 {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.547;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  margin: 0;
}

.vf-content h1 + small {
  display: block;
  margin-bottom: 35px;
  margin-top: 22px;
}

.vf-content h2 {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.333;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  border-top: 3px solid #b9b3a8;
  display: block;
  margin-bottom: 39px;
  margin-top: 0;
  padding-top: 13px;
}

.vf-content h3 {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.333;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  display: block;
  margin: 24px 0 13px 0;
}

.vf-content h4 {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 21px;
  font-weight: 500;
  line-height: 1.29;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  display: block;
  margin: 24px 0 13px;
}

.vf-content h5 {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 500;
  line-height: 1.5;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  display: block;
  margin: 24px 0 13px;
}

.vf-content h6 {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 500;
  line-height: 1.5;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  display: block;
  margin: 24px 0 13px;
}

.vf-content p {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  line-height: 1.421;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  margin: 0 0 24px 0;
}

.vf-content p + p {
  margin: 0;
}

.vf-content a {
  color: #287ae2;
}

.vf-content a:visited {
  color: #54585a;
}

.vf-content a:hover {
  color: #003da5;
}

.vf-content a[disabled] {
  color: #b9b3a8;
  cursor: not-allowed;
}

.vf-content a:visited {
  color: #54585a;
}

.vf-content a:hover {
  color: #003da5;
}

.vf-content small {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.57;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  display: block;
}

.vf-content ol {
  margin: 0;
  list-style-type: decimal;
  padding-left: 16px;
}

.vf-list--ordered__item {
  margin-bottom: 16px;
}

.vf-content ul {
  margin: 0;
  padding-left: 16px;
  list-style-type: disc;
}

.vf-list--unordered__item {
  margin-bottom: 16px;
}

.vf-content li {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.71;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  margin-bottom: 8px;
}

.vf-content li:last-of-type {
  margin-bottom: 16px;
}

.vf-content hr {
  background-color: #D8D8D8;
  margin: 0 8px;
  height: 1px;
  border: none;
}

.vf-content code {
  background: #fafafa;
  padding-left: 3px;
  padding-right: 3px;
}

.vf-content .vf-content__standfirst {
  font-size: 21px;
  line-height: 31px;
  margin-bottom: 46px;
  margin-top: 0;
}

.vf-content .vf-content__standfirst + .vf-content__standfirst {
  margin-bottom: 24px;
}

.vf-content .vf-content__standfirst + small {
  margin-bottom: 42px;
}
