$componentInfo: (
             name: "@visual-framework/vf-componenet-rollup",
             version: "1.2.1",
             location: "components/vf-componenet-rollup",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Thu, 29 Oct 2020 18:41:12 GMT"
          );