$componentInfo: (
             name: "@visual-framework/vf-componenet-rollup",
             version: "1.2.2",
             location: "components/vf-componenet-rollup",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Fri, 30 Oct 2020 14:49:41 GMT"
          );