$componentInfo: (
             name: "@visual-framework/vf-componenet-rollup",
             version: "1.2.1",
             location: "components/vf-componenet-rollup",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Tue, 27 Oct 2020 11:23:26 GMT"
          );