<div class="vf-stack vf-stack--1200">
  <p class="vf-text"><code class="vf-code-example">vf-form__item</code></p>
  {% render '@vf-form__item--example'%}
  <hr class="vf-divider">


  <p class="vf-text"><code class="vf-code-example">vf-form__label</code></p>
  {% render '@vf-form__label'%}
  <hr class="vf-divider">


  <p class="vf-text"><code class="vf-code-example">vf-form__label--required</code></p>
  {% render '@vf-form__label--required'%}
  <hr class="vf-divider">


  <p class="vf-text"><code class="vf-code-example">vf-form__input</code></p>
  {% render '@vf-form__input'%}
  {% render '@vf-form__input--password'%}
  {% render '@vf-form__input--search'%}
  {% render '@vf-form__input--disabled'%}
  <hr class="vf-divider">


  <p class="vf-text"><code class="vf-code-example">vf-form__helper</code></p>
  {% render '@vf-form__helper'%}
  <hr class="vf-divider">


  <p class="vf-text"><code class="vf-code-example">vf-form__helper--error</code></p>
  {% render '@vf-form__helper--error'%}
  <hr class="vf-divider">


  <p class="vf-text"><code class="vf-code-example">vf-form__legend</code></p>
  {% render '@vf-form__legend'%}
  <hr class="vf-divider">


  <p class="vf-text"><code class="vf-code-example">vf-form__fieldset</code> <em>(with no content)</em></p>
  {% render '@vf-form__fieldset'%}
  <hr class="vf-divider">


  <p class="vf-text"><code class="vf-code-example">vf-form__checkbox</code></p>
  {% render '@vf-form__checkbox'%}
  <hr class="vf-divider">


  <p class="vf-text"><code class="vf-code-example">vf-form__checkbox--inline</code></p>
  {% render '@vf-form__checkbox--inline'%}
  <hr class="vf-divider">


  <p class="vf-text"><code class="vf-code-example">vf-form__radio</code></p>
  {% render '@vf-form__radio'%}
  <hr class="vf-divider">

    <p class="vf-text"><code class="vf-code-example">vf-form__radio--inline</code></p>
  {% render '@vf-form__radio--inline'%}
  <hr class="vf-divider">


  <p class="vf-text"><code class="vf-code-example">vf-form__select</code></p>
  {% render '@vf-form__select'%}
  <hr class="vf-divider">


  <p class="vf-text"><code class="vf-code-example">vf-form__textarea</code></p>
  {% render '@vf-form__textarea'%}

</div>
