<code class="vf-code-example">vf-form__checkbox</code>
{% render '@vf-form__checkbox'%}

{% render '@vf-divider'%}
<code class="vf-code-example">vf-form__helper</code>
{% render '@vf-form__helper'%}

{% render '@vf-divider'%}
<code class="vf-code-example">vf-form__input</code>
{% render '@vf-form__input'%}

{% render '@vf-divider'%}
<code class="vf-code-example">vf-form__item</code>
{% render '@vf-form__item'%}

{% render '@vf-divider'%}
<code class="vf-code-example">vf-form__label</code>
{% render '@vf-form__label'%}

{% render '@vf-divider'%}
<code class="vf-code-example">vf-form__radio</code>
{% render '@vf-form__radio'%}

{% render '@vf-divider'%}
<code class="vf-code-example">vf-form__select</code>
{% render '@vf-form__select'%}

{% render '@vf-divider'%}
<code class="vf-code-example">vf-form__textarea</code>
{% render '@vf-form__textarea'%}
