$componentInfo: (
             name: "@visual-framework/vf-design-tokens",
             version: "1.2.2",
             location: "components/vf-design-tokens",
             vfCoreVersion: "2.2.6"
          );