$componentInfo: (
             name: "@visual-framework/vf-design-tokens",
             version: "2.0.0",
             location: "components/vf-design-tokens",
             vfCoreVersion: "2.2.8",
             buildTimeStamp: "Tue, 20 Oct 2020 07:45:08 GMT"
          );