$componentInfo: (
             name: "@visual-framework/vf-design-tokens",
             version: "1.1.0",
             location: "components/vf-design-tokens",
             vfCoreVersion: "2.2.3"
          );