$componentInfo: (
             name: "@visual-framework/vf-code-example",
             version: "1.2.0",
             location: "components/vf-code-example",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Thu, 05 Nov 2020 11:32:01 GMT"
          );