$componentInfo: (
             name: "@visual-framework/vf-code-example",
             version: "1.1.0",
             location: "components/vf-code-example",
             vfCoreVersion: "2.2.8",
             buildTimeStamp: "Thu, 22 Oct 2020 12:35:45 GMT"
          );