$componentInfo: (
             name: "@visual-framework/vf-code-example",
             version: "1.0.1",
             location: "components/vf-code-example",
             vfCoreVersion: "2.2.7"
          );