/* stylelint-disable */
:root {
  --vf-color--green: #18974c;
  --vf-color--green--darkest: #0a5032;
  --vf-color--green--dark: #007b53;
  --vf-color--green--light: #6cc24a;
  --vf-color--green--lightest: #d0debb;
  --vf-color--grey: #707372;
  --vf-color--grey--darkest: #373a36;
  --vf-color--grey--dark: #54585a;
  --vf-color--grey--light: #a8a99e;
  --vf-color--grey--lightest: #d0d0ce;
  --vf-color--red: #d41645;
  --vf-color--red--dark: #a6093d;
  --vf-color--red--light: #e58f9e;
  --vf-color--blue: #3b6fb6;
  --vf-color--blue--dark: #193f90;
  --vf-color--blue--light: #8bb8e8;
  --vf-color--purple: #734595;
  --vf-color--purple--dark: #563d82;
  --vf-color--purple--light: #cba3d8;
  --vf-color--orange: #f49e17;
  --vf-color--orange--dark: #b65417;
  --vf-color--orange--light: #efc06e;
  --vf-color--yellow: #f4c61f;
  --vf-color--yellow--dark: #ffb81c;
  --vf-color--yellow--light: #fdd757;
  --vf-color--bright-green: #a1be1f;
  --vf-color--bright-green--dark: #7fb428;
  --vf-color--bright-green--light: #e2e868;
}

:root {
  --vf-ui-color--black: #000000;
  --vf-ui-color--grey: #d8d8d8;
  --vf-ui-color--grey--light: #f3f3f3;
  --vf-ui-color--yellow: #fffadc;
  --vf-ui-color--red: #d32f2f;
  --vf-ui-color--white: #ffffff;
  --vf-ui-color--off-white: #fafafa;
}

/* stylelint-enable */
/*!
 * Component: @visual-framework/vf-code-example
 * Version: 1.0.1
 * Location: components/vf-code-example
 */
.vf-content pre,
.vf-content code,
.vf-code-example__pre,
.vf-code-example {
  font-family: "IBM Plex Mono", Monaco, Consolas, "Lucida Console", monospace;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.57;
  margin: 0 0 0 0;
  padding-bottom: 4px;
  padding-top: 4px;
  background: #f3f3f3;
  border-radius: 4px;
}

.vf-content code,
.vf-code-example {
  font-size: inherit;
}

.vf-content pre,
.vf-code-example__pre {
  border: 1px;
  display: grid;
  min-width: 0;
  overflow: auto;
  white-space: pre-wrap;
}

/* github.com style (c) Vasily Polovnyov <vast@whiteants.net> */
.hljs {
  background: #f3f3f3;
  color: #000000;
  display: block;
  overflow-x: auto;
  padding: .5em;
}

.hljs-comment,
.hljs-quote {
  color: #707372;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #000000;
  font-weight: bold;
}

.hljs-string,
.hljs-doctag {
  color: #d41645;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #a6093d;
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #3b6fb6;
  font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #193f90;
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: #18974c;
}

.hljs-symbol,
.hljs-bullet {
  color: #a6093d;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #3b6fb6;
}

.hljs-meta {
  color: #d0d0ce;
  font-weight: bold;
}

.hljs-deletion {
  background: #e58f9e;
}

.hljs-addition {
  background: #e2e868;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
