$componentInfo: (
             name: "@visual-framework/vf-sass-config",
             version: "1.4.3",
             location: "components/vf-sass-config",
             vfCoreVersion: "2.2.7"
          );