$componentInfo: (
             name: "@visual-framework/vf-sass-config",
             version: "1.4.1",
             location: "components/vf-sass-config",
             vfCoreVersion: "2.2.5"
          );