:root {
  --vf-color--green: #18974c;
  --vf-color--green--darkest: #0a5032;
  --vf-color--green--dark: #007b53;
  --vf-color--green--light: #6cc24a;
  --vf-color--green--lightest: #d0debb;
  --vf-color--grey: #707372;
  --vf-color--grey--darkest: #373a36;
  --vf-color--grey--dark: #54585a;
  --vf-color--grey--light: #a8a99e;
  --vf-color--grey--lightest: #d0d0ce;
  --vf-color--red: #d41645;
  --vf-color--red--dark: #a6093d;
  --vf-color--red--light: #e58f9e;
  --vf-color--blue: #3b6fb6;
  --vf-color--blue--dark: #193f90;
  --vf-color--blue--light: #8bb8e8;
  --vf-color--purple: #734595;
  --vf-color--purple--dark: #563d82;
  --vf-color--purple--light: #cba3d8;
  --vf-color--orange: #f49e17;
  --vf-color--orange--dark: #b65417;
  --vf-color--orange--light: #efc06e;
  --vf-color--yellow: #f4c61f;
  --vf-color--yellow--dark: #ffb81c;
  --vf-color--yellow--light: #fdd757;
  --vf-color--bright-green: #a1be1f;
  --vf-color--bright-green--dark: #7fb428;
  --vf-color--bright-green--light: #e2e868;
}

:root {
  --vf-ui-color--black: #000000;
  --vf-ui-color--grey: #f3f3f3;
  --vf-ui-color--grey--light: #d8d8d8;
  --vf-ui-color--yellow: #fffadc;
  --vf-ui-color--red: #d32f2f;
  --vf-ui-color--white: #ffffff;
  --vf-ui-color--off-white: #fafafa;
}

/*!
 * Component: @visual-framework/vf-card
 * Version: 1.0.5
 * Location: components/vf-card
 */
.vf-card {
  --card-text-color: var(--vf-card-theme-color--foreground, #000000);
  --card-background-color: var(--vf-card-theme-color--background , #ffffff);
  background-color: var(--card-background-color);
  display: grid;
  grid-template-rows: 216px 1fr;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.vf-card:hover {
  -webkit-box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.vf-card--is-link {
  cursor: pointer;
  text-decoration: none;
}

.vf-card__image {
  grid-column: 1 / -1;
  grid-row: 1 / span 3;
  height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.vf-card__content {
  grid-column: 1 / -1;
  padding: 16px 24px;
}

.vf-card__title {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.333;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  background-color: var(--card-background-color);
  color: #000000;
  color: var(--card-text-color, #000000);
  text-decoration: none;
}

.vf-card__text {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.421;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  color: #000000;
  color: var(--card-text-color, #000000);
}

.vf-card__link {
  border-bottom: none;
  text-decoration: none;
  color: #3b6fb6;
}

.vf-card__link:visited {
  color: #734595;
  border-bottom: none;
}

.vf-card__link:visited:hover {
  color: #734595;
  text-decoration: underline;
}

.vf-card__link:hover {
  color: #193f90;
  border-bottom: none;
  text-decoration: underline;
}

.vf-card--very-easy {
  border-bottom: 8px solid rgba(0, 0, 0, 0);
}

.vf-card--easy {
  border-bottom: 8px solid #000000;
  border-bottom-color: var(--vf-card-theme-color--border, #000000);
}

.vf-card--easy .vf-card__title {
  --card-text-color: #3b6fb6;
}

.vf-card--easy .vf-card__text {
  --card-text-color: #000000;
}

.vf-card--normal {
  --card-text-color: var(--vf-card-theme-color--foreground, #ffffff);
  --card-background-color: var(--vf-card-theme-color--background, #000000);
}

.vf-card--hard {
  --card-text-color: var(--vf-card-theme-color--foreground, #ffffff);
  --card-background-color: var(--vf-card-theme-color--background, #000000);
}

.vf-card--hard .vf-card__content {
  grid-row: 2 / -1;
}

.vf-card--hard .vf-card__title {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.57;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  display: inline-block;
  margin-bottom: 0;
  margin-left: -24px;
  margin-top: 2px;
  padding: 16px 24px;
  text-transform: uppercase;
}

.vf-card--hard .vf-card__text {
  padding-top: 16px;
}

[class*='ary'].vf-card--easy {
  --vf-card-theme-color--background: #ffffff;
}

.vf-card-theme--primary {
  --vf-card-theme-color--foreground: #ffffff;
  --vf-card-theme-color--border: #18974c;
  --vf-card-theme-color--background: #18974c;
}

.vf-card-theme--secondary {
  --vf-card-theme-color--foreground: #ffffff;
  --vf-card-theme-color--border: #3b6fb6;
  --vf-card-theme-color--background: #3b6fb6;
}

.vf-card-theme--tertiary {
  --vf-card-theme-color--foreground: #ffffff;
  --vf-card-theme-color--border: #707372;
  --vf-card-theme-color--background: #707372;
}

.vf-card-theme--quaternary {
  --vf-card-theme-color--foreground: #000000;
  --vf-card-theme-color--border: #f4c61f;
  --vf-card-theme-color--background: #f4c61f;
}
