// vf-figure

@import 'package.variables.scss';
// Debug information from component's `package.json`:
// ---
/*!
 * Component: #{map-get($componentInfo, 'name')}
 * Version: #{map-get($componentInfo, 'version')}
 * Location: #{map-get($componentInfo, 'location')}
 */

.vf-figure {
  @include figure;
}

.vf-figure__image {
  height: auto;
  max-width: 100%;
  width: 100%;
}

.vf-figure--float {
  display: table;

  .vf-figure__image {
    max-width: unset;
    width: auto;
  }

  .vf-figure__caption {
    caption-side: bottom;
    display: table-caption;
  }
}

.vf-figure--float-inline-start {
  float: left;
}

.vf-figure--float-inline-end {
  float: right;
}
