// vf-figure

@import 'package.variables.scss';
// Debug information from component's `package.json`:
// ---
/*!
 * Component: #{map-get($componentInfo, 'name')}
 * Version: #{map-get($componentInfo, 'version')}
 * Location: #{map-get($componentInfo, 'location')}
 */

.vf-figure {
  @include figure;
}

.vf-figure__image {
  height: auto;
  max-width: 100%;
  width: var(--vf-figure__width, 100%);
}

.vf-figure--align {
  display: table;

  .vf-figure__image {
    max-width: unset;
    width: var(--vf-figure__width, auto);
  }

  .vf-figure__caption {
    caption-side: bottom;
    display: table-caption;
  }
}

.vf-figure--align-inline-start {
  float: left;
}

.vf-figure--align-inline-end {
  float: right;
}

.vf-figure--align-centered {
  margin: 0 auto;
}
