$componentInfo: (
             name: "@visual-framework/vf-stack",
             version: "1.2.0",
             location: "components/vf-stack",
             vfCoreVersion: "2.2.8",
             buildTimeStamp: "Fri, 23 Oct 2020 10:02:05 GMT"
          );