$componentInfo: (
             name: "@visual-framework/vf-stack",
             version: "1.2.0",
             location: "components/vf-stack",
             vfCoreVersion: "2.2.8",
             buildTimeStamp: "Tue, 20 Oct 2020 08:09:51 GMT"
          );