$componentInfo: (
             name: "@visual-framework/vf-stack",
             version: "2.0.0",
             location: "components/vf-stack",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Mon, 09 Nov 2020 11:17:26 GMT"
          );