{# Make sure any variables are listed inside the following if statement #}
{% if context %}
  {# {% set vf-smooth-scroll = context.vf-smooth-scroll %} #}
{% endif %}

<div class="vf-smooth-scroll">
{# Simple example borrowed from https://developer.mozilla.org/en-US/docs/Web/CSS/scroll-behavior #}
  <p class="nav">
      Scroll to:
      <a href="#pageA">A</a>
      <a href="#pageB">B</a>
      <a href="#pageC">C</a>
  </p>
  <div id="example-element" style="scroll-behavior: smooth;">
      <article id="vf-box">A</article>
      <article id="vf-box">B</article>
      <article id="vf-box">C</article>
  </div>
</div>

{# You can do Nunjucks logic in your templates that references the .yml settings
   What's Nunjucks: https://mozilla.github.io/nunjucks/templating.html #}
{#
{% if item.image == "blank" %}
  <span><!-- no image --></span>
  {% else %}
  {{ item.image }}
{% endif %}
#}
