{# Make sure any variables are listed inside the following if statement #}
{% if context %}
  {# {% set vf-smooth-scroll = context.vf-smooth-scroll %} #}
{% endif %}

<div class="vf-smooth-scroll">
  /* vf-smooth-scroll template file */
</div>

{# You can do Nunjucks logic in your templates that references the .yml settings
   What's Nunjucks: https://mozilla.github.io/nunjucks/templating.html #}
{#
{% if item.image == "blank" %}
  <span><!-- no image --></span>
  {% else %}
  {{ item.image }}
{% endif %}
#}
