// vf-tag

$vf-tag--primary-color--background: set-color(vf-color-azure) !default;
$vf-tag--primary-color--border: set-color(vf-color-azure) !default;
$vf-tag--primary-color--text: set-color(vf-color-white) !default;
$vf-tag--primary--hover-color--background: set-color(vf-color-azure-dark) !default;
$vf-tag--primary--hover-color--border: set-color(vf-color-azure-dark) !default;

$vf-tag-rounded-border--radius: $vf-radius--xs !default;
$vf-tag-pill-border--radius: $vf-radius-pill !default;

$vf-tag--outline-color--background: transparent !default;
$vf-tag--outline-color--text: set-color(vf-color-azure) !default;

$vf-tag--secondary-color--background: set-color(vf-color-green) !default;
$vf-tag--secondary-color--border: set-color(vf-color-green) !default;
$vf-tag--secondary-color--text: set-color(vf-color-white) !default;

$vf-tag--tertiary-color--background: set-color(vf-color-gray-dark) !default;
$vf-tag--tertiary-color--border: set-color(vf-color-gray-dark) !default;
$vf-tag--tertiary-color--text: set-color(vf-color-white) !default;


.vf-tag {
  @include set-type(button--r);

  border: 1px solid currentColor;
  color: inherit;
  display: inline-flex;
  letter-spacing: .05em;
  padding: 4px 8px;
  text-decoration: none;
  text-transform: uppercase;
}

.vf-tag--pill {
  border-radius: $vf-radius-pill;
}

.vf-tag--rounded {
  border-radius: $vf-radius--xs;
}

.vf-tag--square {
  border: 0;
  display: inline-block;
  height: 12px;
  padding: 0;
  width: 12px;
}

.vf-tag--primary {
  background-color: $vf-tag--primary-color--background;
  border-color: $vf-tag--primary-color--border;
  color: $vf-tag--primary-color--text;

  &:hover {
    background-color: $vf-tag--primary--hover-color--background;
    border-color: $vf-tag--primary--hover-color--border;
  }
}

.vf-tag--secondary {
  background-color: $vf-tag--secondary-color--background;
  border-color: $vf-tag--secondary-color--border;
  color: $vf-tag--secondary-color--text;
}

.vf-tag--tertiary {
  background-color: $vf-tag--tertiary-color--background;
  border-color: $vf-tag--tertiary-color--border;
  color: $vf-tag--tertiary-color--text;
}

.vf-tag--outline {
  background-color: $vf-tag--outline-color--background;
  color: $vf-tag--outline-color--text;
}

.vf-tag--square {
  height: 12px;
  margin-left: 0;
  padding: 0;
  position: relative;
  width: 12px;
}


.vf-tag--phases {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  margin: 0 12px 0 0;
  min-width: 52px;
}

.Tree-entityLink {
  align-items: center;
  display: flex;
}


.Status,
.Status-dots {
  align-items: center;
  display: flex;
}

.Status-dot {
  background-color: white;
  border: 1px solid transparent;
  border-radius: 100%;
  height: .5rem;
  width: .5rem;
}

.Status-dot + .Status-dot {
  margin-left: 3px;
}

.Status-label {
  border-radius: 2rem;
  color: white;
  display: inline-block;
  font: normal .75rem/1.66667 'Open Sans', Helvetica, Arial, sans-serif;
  padding: .125rem .75rem;
  white-space: nowrap;
}

.Status-label + .Status-label {
  margin-left: 3px;
}

.Status--labelled {
  .Status-label {
    margin-right: 3px;
  }
}
