<span class="vf-tag vf-tag--primary vf-tag--rounded">{{vf-tag-name}}</span>
<span class="vf-tag vf-tag--primary vf-tag--pill">{{vf-tag-name}}</span>
<span class="vf-tag vf-tag--primary vf-tag--square"></span>
<span class="vf-tag vf-tag--primary vf-tag--phases">{{vf-tag-name}}</span>
<span class="vf-tag vf-tag--primary vf-tag--phases">beta</span>
