<style>
li {
  color: black;
}
</style>
<h2>Default</h2>
{{render '@vf-tag'}}
<h2>Colours</h2>
{{render '@vf-tag--styles'}}
<ul class="vf-list vf-list--inline">
  <li>vf-tag--primary</li>
  <li>vf-tag--secondary</li>
  <li>vf-tag--tertiary</li>
</ul>
<h2>Variants</h2>
{{render '@vf-tag--variants'}}
<ul class="vf-list vf-list--inline">
  <li>vf-tag--pill</li>
  <li>vf-tag--rounded</li>
  <li>vf-tag--square</li>
</ul>
<h2>Outlines</h2>
{{render '@vf-tag--outline'}}
<ul class="vf-list vf-list--inline">
  <li>vf-tag--outline</li>
</ul>
