// Reusable styling for html blockquote elements
// @include blockquote();

@mixin blockquote($custom-margin-bottom: vf-spacing--0, $custom-border-color: vf-color--grey--lightest) {
  @include set-type(text-body--2);
  @include margin--block(bottom, map-get($vf-spacing-map, $custom-margin-bottom));
  border: 0;
  padding: 10px 8px 10px 32px;
  position: relative;

  &::before {
    border-left: 4px solid map-get($vf-colors-map, $custom-border-color);
    content: '';
    height: 100%;
    left: 12px;
    position: absolute;
    top: 0;
  }
}
