// Reusable styling for button elements
// @include vf-button();

@mixin vf-button() {
  /* stylelint-disable */
  -webkit-appearance: none;
  appearance: none;
  /* stylelint-enable */
  border: 0;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 16px 24px;
  text-decoration: none;
}
