// Reusable styling for divider elements and styling
// @include vf-divider;

@mixin divider() {
  background-color: set-ui-color(vf-ui-color--grey);
  margin: 0 map-get($vf-spacing-map, vf-spacing--200);
  height: 1px;
  border: none;
}
