// Reusable styling for divider elements and styling
// @include vf-divider;

@mixin divider($margin--block-end: 1.5rem, $margin--inline: 1rem) {
  // This custom property is set up ready for you to use if you are using it with
  // vf-u-fullbleed.
  --context-margin--inline: #{$margin--inline};

  background-color: ui-color(grey);
  border: none;
  height: 1px;
  margin-block: 0 var(--vf-divider-margin--block-end, $margin--block-end);
  margin-top: #{map-get($vf-spacing-map, vf-spacing--400)}; /* IE Fallback */
  margin-top: var(--vf-stack-margin, #{map-get($vf-spacing-map, vf-spacing--400)});
  width: 100%;
}
