@mixin inline-link(
  $vf-link-color: $vf-link-color,
  $vf-link-hover-color: $vf-link-hover-color,
  $vf-link-visited-color: $vf-link-visited-color,
  $vf-include-normalisations: $vf-include-normalisations) {

  /// @todo Add documentation about how/when/where to expect, use $vf-include-normalisations
  @if $vf-include-normalisations == true {
    border-bottom: none;
    text-decoration: underline;
  }

  color: $vf-link-color;

  &:visited {
    color: $vf-link-visited-color;

    @if $vf-include-normalisations == true {
      border-bottom: none;
      text-decoration: underline;
    }
  }

  &:hover {
    color: $vf-link-hover-color;

    @if $vf-include-normalisations == true {
      border-bottom: none;
      text-decoration: underline;
    }
  }
}


@mixin button-link(
  $vf-link-color: $vf-link-color,
  $vf-link-hover-color: $vf-link-hover-color,
  $vf-link-visited-color: $vf-link-visited-color) {

  background-color: $vf-link-color;
  border: 2px solid $vf-link-color;
  color: map-get($vf-colors-map, vf-color-white);

  &:visited {
    background-color: $vf-link-visited-color;
    border-color: $vf-link-visited-color;
  }

  &:hover {
    background-color: $vf-link-hover-color;
    border-color: $vf-link-hover-color;
  }
}


@mixin button-link--ghost(
  $vf-link-color: $vf-link-color,
  $vf-link-hover-color: $vf-link-hover-color,
  $vf-link-visited-color: $vf-link-visited-color) {

  background-color: map-get($vf-colors-map, vf-color-white);
  color: $vf-link-color;

  &:visited {
    background-color: $vf-link-visited-color;
    color: map-get($vf-colors-map, vf-color-white);
  }

  &:hover {
    background-color: $vf-link-hover-color;
    color: map-get($vf-colors-map, vf-color-white);
  }
}
