@mixin inline-link(
  $vf-link-color: $vf-link-color,
  $vf-link-hover-color: $vf-link-hover-color,
  $vf-link-visited-color: $vf-link-visited-color,
  $vf-link-disabled-color: $vf-link-disabled-color) {

  color: $vf-link-color;

  &:visited {
    color: $vf-link-visited-color;
  }

  &:hover {
    color: $vf-link-hover-color;
  }

  &[disabled] {
    color: $vf-link-disabled-color;
    cursor: not-allowed;
  }
}


@mixin button-link(
  $vf-link-color: $vf-link-color,
  $vf-link-hover-color: $vf-link-hover-color,
  $vf-link-visited-color: $vf-link-visited-color) {

  background-color: $vf-link-color;
  border: 2px solid $vf-link-color;
  color: map-get($vf-colors-map, vf-color-white);


  &:visited {
    background-color: $vf-link-visited-color;
    border-color: $vf-link-visited-color;
  }

  &:hover {
    background-color: $vf-link-hover-color;
    border-color: $vf-link-hover-color;
  }

  &[disabled] {
    background-color: $vf-link-disabled-color;
    cursor: not-allowed;
  }
}


@mixin button-link--ghost(
  $vf-link-color: $vf-link-color,
  $vf-link-hover-color: $vf-link-hover-color,
  $vf-link-visited-color: $vf-link-visited-color) {
    
  background-color: map-get($vf-colors-map, vf-color-white);
  border: 2px solid $vf-link-color;
  color: $vf-link-color;

  &:visited {
    background-color: $vf-link-visited-color;
    border-color: $vf-link-visited-color;
    color: map-get($vf-colors-map, vf-color-white);
  }

  &:hover {
    background-color: $vf-link-hover-color;
    border-color: $vf-link-hover-color;
    color: map-get($vf-colors-map, vf-color-white);
  }

  &[disabled] {
    background-color: $vf-link-disabled-color;
    cursor: not-allowed;
  }
}
