// mixin to generate correct font information when included into an element
// $custom-margin-bottom: variable, auto, disable
@mixin set-type($font-size, $global-font-family: $global-font-family, $custom-margin-bottom: auto) {
  // @if $global-font-family != $vf-typography--monospace {

    font-family: $global-font-family;
    $map-font-family: $vf-typography--sans-serif;
    font-size: map-deep-get($map-font-family, $font-size, font-size);

    @if map-deep-get($map-font-family, $font-size, font-weight) == 400 {

    }
    @else {
      font-weight: map-deep-get($map-font-family, $font-size, font-weight);
    }
    line-height: map-deep-get($map-font-family, $font-size, line-height);

    @if $custom-margin-bottom == 'disable' {
    }
    @else if $custom-margin-bottom != 'auto' {
      margin: 0 0 $custom-margin-bottom 0;
      // margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
    }
    @else {
      @if (str-index($font-size, 'body--')) {
        margin: 0 0 $vf-text-margin--bottom 0;
        margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
      }
      @else if (str-index($font-size, 'heading--')) {
        // This approach would work if  we want a $vf-heading-margin--bottom, or something
        margin: 0 0 $vf-text-margin--bottom 0;
        margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
      }
    }

  // }
  // @else {
  //
  //   $map-font-family: $vf-typography--monospace;
  //   font-size: map-deep-get($map-font-family, $font-size, font-size);
  //   @if map-deep-get($map-font-family, $font-size, font-weight) == 400 {
  //
  //   }
  //   @else {
  //     font-weight: map-deep-get($map-font-family, $font-size, font-weight);
  //   }
  //   line-height: map-deep-get($map-font-family, $font-size, line-height);
  // }
}
