@mixin type-modifiers() {

  @each $font-group, $ruleset in $vf-typography--sans-serif {
    &__#{$font-group} {
      font-size: map-get($ruleset, font-size);
      font-weight: map-get($ruleset, font-weight);
      line-height: map-get($ruleset, line-height);
    }
  }
}
