// Generate lists of values in design token maps.
// Intended for use by the `vf-utility-classes` component

@mixin type-modifiers() {
  @each $font-group, $ruleset in $vf-font--sans-serif {
    &__#{$font-group} {
      font-size: map-get($ruleset, font-size);
      font-weight: map-get($ruleset, font-weight);
      line-height: map-get($ruleset, line-height);
    }
  }
}
