// A non-jitter causing way to slide elements up/down on hover.
// @include vf-slide-on-hover($shift-distance, $direction:up);
//
// via https://codepen.io/csilverman/post/fixing-the-jitter-bug
// Basic usage:
//   .card {
//     @include vf-slide-on-hover(distance, direction);
//   }
// - distance can be any unit
// - direction can be 'up' or 'down', and is optional: defaults to 'up'

@mixin vf-slide-on-hover($shift-distance, $direction:up) {
  // in case the user enters a negative value
  $shift-distance: abs($shift-distance);

  &:hover {
    position: relative;
    @if $direction == 'up' {
      transform: translateY(-#{$shift-distance});
    }
    @else {
      transform: translateY($shift-distance);
    }

    &:after {
      content: '';
      height: calc(100% + #{$shift-distance} + 2px);
      left: -.05%;
      position: absolute;
      width: 101%;

      z-index: set-layer(vf-z-index--negative);

      @if $direction == 'up' {
        bottom: -#{$shift-distance};
        top: 0;
      }
      @else {
        bottom: 0;
        top: calc(-#{$shift-distance} - 2px); // -2px to avoid jitter on the edge
      }
    }
  }
}
