// setup files required

@import 'vf-variables';
@import 'vf-functions';
@import 'vf-mixins';

// other components being used

@import '../vf-grid/vf-grid.scss';
@import '../vf-heading/vf-heading.scss';
@import '../vf-activity-list/vf-activity-list.scss';

// component specific styles

@import 'vf-activity-group.scss';
