$componentInfo: (
             name: "@visual-framework/vf-activity-group",
             version: "1.0.0-alpha.9",
             location: "components/vf-activity-group",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Fri, 06 Nov 2020 14:56:35 GMT"
          );