$componentInfo: (
             name: "@visual-framework/vf-activity-group",
             version: "1.0.0-alpha.9",
             location: "components/vf-activity-group",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Tue, 27 Oct 2020 15:23:29 GMT"
          );