$componentInfo: (
             name: "@visual-framework/vf-activity-group",
             version: "1.0.0-alpha.9",
             location: "components/vf-activity-group",
             vfCoreVersion: "2.2.6"
          );