:root {
  --vf-color--green: #18974c;
  --vf-color--green--darkest: #0a5032;
  --vf-color--green--dark: #007b53;
  --vf-color--green--light: #6cc24a;
  --vf-color--green--lightest: #d0debb;
  --vf-color--grey: #707372;
  --vf-color--grey--darkest: #373a36;
  --vf-color--grey--dark: #54585a;
  --vf-color--grey--light: #a8a99e;
  --vf-color--grey--lightest: #d0d0ce;
  --vf-color--red: #d41645;
  --vf-color--red--dark: #a6093d;
  --vf-color--red--light: #e58f9e;
  --vf-color--blue: #3b6fb6;
  --vf-color--blue--dark: #193f90;
  --vf-color--blue--light: #8bb8e8;
  --vf-color--purple: #734595;
  --vf-color--purple--dark: #563d82;
  --vf-color--purple--light: #cba3d8;
  --vf-color--orange: #f49e17;
  --vf-color--orange--dark: #b65417;
  --vf-color--orange--light: #efc06e;
  --vf-color--yellow: #f4c61f;
  --vf-color--yellow--dark: #ffb81c;
  --vf-color--yellow--light: #fdd757;
  --vf-color--bright-green: #a1be1f;
  --vf-color--bright-green--dark: #7fb428;
  --vf-color--bright-green--light: #e2e868;
}

:root {
  --vf-ui-color--black: #000000;
  --vf-ui-color--grey: #f3f3f3;
  --vf-ui-color--grey--light: #d8d8d8;
  --vf-ui-color--yellow: #fffadc;
  --vf-ui-color--red: #d32f2f;
  --vf-ui-color--white: #ffffff;
  --vf-ui-color--off-white: #fafafa;
}

/*!
 * Component: @visual-framework/vf-grid
 * Version: 1.0.0-rc.0
 * Location: components/vf-grid
 */
/* stylelint-disable order/order */
.vf-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.vf-grid > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 10px;
}

[class*='vf-grid__'] {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.vf-grid__col-2 > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 20px);
          flex: 0 0 calc(50% - 20px);
}

.vf-grid__col-3 > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(33.3333% - 20px);
          flex: 0 0 calc(33.3333% - 20px);
}

.vf-grid__col-4 > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(25% - 20px);
          flex: 0 0 calc(25% - 20px);
}

.vf-grid__col-5 > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(16% - 20px);
          flex: 0 0 calc(16% - 20px);
}

.vf-grid__col-6 > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(16.666666667% - 20px);
          flex: 0 0 calc(16.666666667% - 20px);
}

@media (max-width: 1023px) {
  .vf-grid {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .vf-grid > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 20px);
            flex: 0 0 calc(50% - 20px);
  }
}

@supports (display: grid) {
  .vf-grid {
    display: grid;
    grid-column: main;
    grid-column-gap: var(--page-grid-gap);
  }
  @media (min-width: 840px) {
    .vf-grid {
      grid-auto-flow: column;
    }
  }
  @media (max-width: 1299px) {
    .vf-grid {
      grid-column: 1 / -1;
    }
  }
  .vf-grid > * {
    margin: 0;
  }
  [class*='grid__'] {
    grid-auto-flow: unset;
  }
  .vf-grid__col-1 > * + * {
    border-top: 1px solid #707372;
  }
  .vf-grid__col-1 > * + *:last-of-type {
    margin-bottom: 0;
  }
  .vf-grid__col-1 {
    grid-template-columns: repeat(1, 1fr);
  }
  @media (min-width: 768px) {
    .vf-grid__col-2 {
      grid-template-columns: repeat(2, 1fr);
    }
    .vf-grid__col-3 {
      grid-template-columns: repeat(3, 1fr);
    }
    .vf-grid__col-4 {
      grid-template-columns: repeat(2, 1fr);
    }
    .vf-grid__col-5 {
      grid-template-columns: repeat(3, 1fr);
    }
    .vf-grid__col-6 {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media (min-width: 1024px) {
    .vf-grid__col-4 {
      grid-template-columns: repeat(4, 1fr);
    }
    .vf-grid__col-5 {
      grid-template-columns: repeat(5, 1fr);
    }
    .vf-grid__col-6 {
      grid-template-columns: repeat(6, 1fr);
    }
  }
  .vf-grid__col--span-2 {
    grid-column-end: span 2;
  }
  .vf-grid__col--span-3 {
    grid-column-end: span 3;
  }
  .vf-grid__col--span-4 {
    grid-column-end: span 4;
  }
  .vf-grid__col--span-5 {
    grid-column-end: span 5;
  }
}

/* stylelint-enable order/order */
/*!
 * Component: @visual-framework/vf-heading
 * Version: 1.0.0-rc.0
 * Location: components/vf-heading
 */
.vf-text {
  margin: 0 0 16px 0;
}

.vf-text-heading--5 {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 500;
  line-height: 1.5;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-text-heading--4 {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 21px;
  font-weight: 500;
  line-height: 1.29;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-text-heading--3 {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.333;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-text-heading--2 {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.333;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-text-heading--1 {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.547;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-text--has-tag {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.vf-text--has-tag .vf-badge {
  margin-left: 8px;
}

.vf-text--invert {
  background-color: #000000;
  color: #ffffff;
  display: inline-block;
  padding: 4px 8px 4px 4px;
}

/*!
 * Component: @visual-framework/vf-activity-list
 * Version: 1.0.0-alpha.8
 * Location: components/vf-activity-list
 */
.vf-activity {
  margin-bottom: 54px;
}

.vf-activity__date {
  margin: 0 0 32px 0;
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 500;
  line-height: 1.5;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-activity__list {
  padding: 0;
}

.vf-activity__item {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.421;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  margin: 0 0 8px 0;
  background-color: #ffffff;
  border: 1px solid #707372;
  padding: 22px 16px;
}

.vf-activity__item > a {
  border-bottom: none;
  text-decoration: underline;
  color: #3b6fb6;
}

.vf-activity__item > a:visited {
  color: #54585a;
  border-bottom: none;
  text-decoration: underline;
}

.vf-activity__item > a:hover {
  color: #193f90;
  border-bottom: none;
  text-decoration: underline;
}

.vf-activity__blockquote {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.57;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  color: #54585a;
  margin-bottom: 8px;
  margin-top: 16px;
}

/*!
 * Component: @visual-framework/vf-activity-group
 * Version: 1.0.0-alpha.8
 * Location: components/vf-activity-group
 */
.vf-activity-group {
  background-color: #d0d0ce;
  grid-column: 1 / -1;
}

.vf-activity-group__heading {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 21px;
  font-weight: 500;
  line-height: 1.29;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  margin: 0 0 16px 0;
}

.vf-activity {
  grid-column: 2 / auto;
}
