<section class="vf-activity-group | embl-grid">

  <h3 class="vf-activity-group__heading">{{ heading }}</h3>

  {% render '@vf-activity-list', activity_list__1 %}
  {% render '@vf-activity-list', activity_list__2 %}
  {% render '@vf-activity-list', activity_list__3 %}

</section>
