// vf-list
.vf-list {
  @include list(vf-list);
  @include set-type(body--r);
}
.vf-list--l {
  @include set-type(body--l);
}

.vf-list--ordered {
  @include list(vf-list--ordered, ordered);
}
.vf-list--unordered {
  @include list(vf-list--unordered, unordered);
}

.vf-list--inline  {
  @include list(vf-list--inline, inline);
  display: inline-block;
}

.vf-list__link {
  @include inline-link;
}
