{{> @vf-header}}

<div class="vf-body">
  <section class="embl-grid embl-grid--with-label">
    <div></div>
    {{> @vf-intro }}
  </section>
</div>

<div class="vf-body">
  <section class="vf-grid">
    Footer to come
  </section>
</div>
