<p class="vf-text--body">This component shows examples of all the `vf-core` patterns (either directly, or as sub-components). This is mostly used for integration testing and less a visual showcase.</p>

{% render '@vf-divider' %}

{% render '@vf-heading', {"type": "large", "html": "vf-content"} %}
{% render '@vf-content' %}


{#
{% render '@vf-divider' %}

{% render '@vf-heading', {"type": "extra-large", "html": "Typography"} %}

{% render '@vf-divider' %}

{% render '@vf-heading', {"type": "large", "html": "Headings"} %}

{% render '@vf-heading--display' %}
{% render '@vf-heading--extra-large' %}
{% render '@vf-heading--large' %}
{% render '@vf-heading--regular' %}
{% render '@vf-heading--small' %}

{% render '@vf-divider' %}

{% render '@vf-heading', {"type": "large", "html": "Body text"} %}

{% render '@vf-text--extra-large' %}
{% render '@vf-text--large' %}
{% render '@vf-text--regular' %}
{% render '@vf-text--small' %}
{% render '@vf-text--extra-small' %}

{% render '@vf-divider' %}

{% render '@vf-heading', {"type": "extra-large", "html": "Blocks"} %}

{% render '@vf-divider' %}

{% render '@vf-heading', {"type": "large", "html": "Summaries"} %}

{% render '@vf-summary--profile' %}
{% render '@vf-summary--large' %}
{% render '@vf-summary--regular' %}
{% render '@vf-summary--small' %}
{% render '@vf-summary--news' %}
{% render '@vf-summary--job' %}
{% render '@vf-summary--has-image' %}
{% render '@vf-summary--article' %}
#}
