$vf-font-plex-sans-prefix: '..' !default;
// @import 'bold/index';
// @import 'bold/italic/index';
// @import 'extralight/index';
// @import 'extralight/italic/index';
// @import 'italic/index';
// @import 'light/index';
// @import 'light/italic/index';
// @import 'medium/index';
// @import 'medium/italic/index';
// @import 'regular/index';
// @import 'semibold/index';
// @import 'semibold/italic/index';
// @import 'text/index';
// @import 'text/italic/index';
// @import 'thin/index';
// @import 'thin/italic/index';


@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 100 200 300 400 500 600 700;
  src:
    local('IBM Plex Sans'),
    local('IBMPlexSans'),
    url('#{$vf-font-plex-sans-prefix}/IBM-Plex-Sans/fonts/complete/woff/IBMPlexSansVar-Roman.woff2') format('woff2');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 100 200 300 400 500 600 700;
  src:
    local('IBM Plex Sans Italic'),
    local('IBMPlexSans-Italic'),
    url('#{$vf-font-plex-sans-prefix}/IBM-Plex-Sans/fonts/complete/woff/IBMPlexSansVar-Italic.woff2') format('woff2');
}
