// vf-chatbot

@import 'package.variables.scss';
// @import 'vf-chatbot.variables.scss';

.vf-chatbot {
  z-index: 100000;
  position: fixed;
  bottom: calc(2rem + var(--vf-bottom-banner-height, 0px));
  right: 2rem;

  .vf-chatbot-modal-container {
    position: fixed;
    bottom: inherit;
    right: inherit;
    width: 400px;
    display: none;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;

    &--active {
      display: flex;
      flex-direction: column;
      opacity: 1;
      transform: translateY(0);
    }

    &--inactive {
      display: none;
    }

    @media (max-width: 480px) {
      width: calc(100% - 40px);
      height: calc(100vh - 120px);
    }
  }
}