// vf-chatbot

@import 'package.variables.scss';
// @import 'vf-chatbot.variables.scss';

.vf-chatbot {
  z-index: 100000;
  position: fixed;
  bottom: calc(2rem + var(--vf-chatbot-modal-bottom-margin, 0px));
  right: calc(2rem + var(--vf-chatbot-modal-right-margin, 0px));

  &-modal-container{
    @media (max-width: 480px) {
      bottom: 0;
      right: 0;
    }
  }
}