{% if config.type == "modal" %}
  <div class="vf-chatbot" data-vf-js-chatbot>
    {% render '@vf-chatbot-fab' %}
    {% render '@vf-chatbot-modal', { config: config } %}
  </div>
{% elif config.type == "standalone" %}
  {% render '@vf-chatbot-standalone', { config: config } %}
{% endif %}