
<div class="vf-chatbot" data-vf-js-chatbot>
{% render '@vf-chatbot-fab' %}
{% render '@vf-chatbot-modal', {
  title: "AI Assistant",
  welcome_title: "AI assistant",
  welcome_message: "Hello! How can I help you today?",
  input_placeholder: "Ask me ..."
} %}
</div>