<div class="vf-chatbot" data-vf-js-chatbot>
  <div class="vf-chatbot__container">
    {% render '@vf-chatbot-fab', {
      notification_count: notification_count | default(0),
      fab_active: fab_active | default(false)
    } %}

    {% render '@vf-chatbot-modal', {
      title: title | default("Chat with us"),
      welcome_message: welcome_message | default("Hello! How can I help you today?"),
      input_placeholder: input_placeholder | default("Type your message..."),
      show_settings: show_settings | default(true),
      ai_icon: "/assets/vf-chatbot/assets/vf-chatbot--icon-64x64-dark-green.svg",
      disclaimer: 'Disclaimer: This chatbot is designed to assist you with general information and basic inquiries. See our <a class="vf-banner__link" href="JavaScript:Void(0);">disclaimer notes</a>.'
    } %}
    {# {% render '@vf-chatbot-modal', {
      welcome_title: "AI Assistant",
      welcome_description: "Welcome! I'm here to help you discover bioinformatics training and resources.",
      input_placeholder: "Ask me about Bioinformatics trainings...",
      disclaimer: "This chatbot is designed to assist you with general information and basic inquiries. See our disclaimer notes."
    } %} #}
  </div>
</div>
