<div class="vf-links vf-u-background-color--gray-bright">
  <h3 class="vf-links__heading | vf-text vf-text--heading-r">Latest Posts</h3>
  <ul class="vf-links__list">
    <li class="vf-links__item">
      <a class="vf-links__link" href="JavaScript:Void(0);">VF’s top social media posts of 2017 and what we learned from them</a>
    </li>
    <li class="vf-links__item">
      <a class="vf-links__link" href="JavaScript:Void(0);">The VF Imaging Centre: all about visibility</a>
    </li>
    <li class="vf-links__item">
      <a class="vf-links__link" href="JavaScript:Void(0);">Press office sprint 1: journalist personas</a>
    </li>
    <li class="vf-links__item">
      <a class="vf-links__link" href="JavaScript:Void(0);">A colour scheme for VF</a>{{render '@vf-tag'}}<p class="vf-links__meta">Updated 14th February 2018</p>
    </li>
    <li class="vf-links__item">
      <a class="vf-links__link" href="JavaScript:Void(0);">New team members</a>
    </li>
  </ul>
</div>
