// vf-activity-group

@import 'package.variables.scss';
// Debug information from component's `package.json`:
// ---
/*!
 * Component: #{map-get($componentInfo, 'name')}
 * Version: #{map-get($componentInfo, 'version')}
 * Location: #{map-get($componentInfo, 'location')}
 */

.vf-activity-group {
  background-color: color(grey--lightest);
  grid-column: 1 / -1;
}
.vf-activity-group__heading {
  @include set-type(text-heading--4);
  @include margin--block(bottom, 16px);
}

.vf-activity {
  grid-column: 2 / auto;
}
