<section class="vf-activity-group | embl-grid">
  <h3 class="vf-activity-group__heading | vf-text--heading">Recent activity</h3>
  {{render '@vf-activity-list'}}
  {{render '@vf-activity-list'}}
  {{render '@vf-activity-list'}}
</section>
