// vf-activity-group

.vf-activity-group {
  background-color: set-color(vf-color--grey--light);
  grid-column: 1 / -1;
}
.vf-activity-group__heading {
  @include set-type(heading--r);
  @include margin--block(bottom, 16px);
}

.vf-activity {
  grid-column: 2 / auto;
}
