$componentInfo: (
             name: "@visual-framework/vf-lede",
             version: "1.0.1",
             location: "components/vf-lede",
             vfCoreVersion: "2.2.8",
             buildTimeStamp: "Fri, 23 Oct 2020 10:02:05 GMT"
          );