$componentInfo: (
             name: "@visual-framework/vf-lede",
             version: "1.0.1",
             location: "components/vf-lede",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Fri, 06 Nov 2020 14:56:35 GMT"
          );