// Generate lists of values in design token maps.
// Intended for use by the `vf-utility-classes` component

@mixin grid-modifiers($attribute: 'grid-gap', $prefix: '-') {

  @each $name, $hex in $vf-spacing-map {
    $name: str-replace($name, 12);
    &-gap#{$prefix}#{$name} {
      #{$attribute}: $hex;
    }
  }
  $newattribute: 'grid-column-gap';
  @each $name, $hex in $vf-spacing-map {
    $name: str-replace($name, 12);
    &-column-gap#{$prefix}#{$name} {
      #{$newattribute}: $hex;
    }
  }
  $newattribute: 'grid-row-gap';
  @each $name, $hex in $vf-spacing-map {
    $name: str-replace($name, 12);
    &-row-gap#{$prefix}#{$name} {
      #{$newattribute}: $hex;
    }
  }
}
