:root {
  --vf-color-white: rgb(255, 255, 255);
  --vf-color-off-white: rgb(250, 250, 250);
  --vf-color-black: rgb(40, 45, 35);
  --vf-color-gray: rgb(112, 115, 114);
  --vf-color-gray-bright: rgb(185, 179, 168);
  --vf-color-gray-dark: rgb(84, 88, 90);
  --vf-color-green: rgb(0, 159, 77);
  --vf-color-green-bright: rgb(108, 194, 74);
  --vf-color-green-dark: rgb(0, 123, 83);
  --vf-color-light-green: rgb(168, 199, 0);
  --vf-color-light-green-bright: rgb(226, 232, 104);
  --vf-color-light-green-dark: rgb(132, 189, 0);
  --vf-color-ruby: rgb(228, 0, 70);
  --vf-color-ruby-bright: rgb(229, 143, 158);
  --vf-color-ruby-dark: rgb(166, 9, 61);
  --vf-color-yellow: rgb(255, 205, 0);
  --vf-color-yellow-bright: rgb(253, 215, 87);
  --vf-color-yellow-dark: rgb(255, 184, 28);
  --vf-color-purple: rgb(130, 70, 175);
  --vf-color-purple-bright: rgb(203, 163, 216);
  --vf-color-purple-dark: rgb(86, 61, 130);
  --vf-color-amber: rgb(255, 163, 0);
  --vf-color-amber-bright: rgb(190, 84, 0);
  --vf-color-amber-dark: rgb(239, 192, 110);
  --vf-color-azure: rgb(40, 122, 226);
  --vf-color-azure-bright: rgb(139, 184, 232);
  --vf-color-azure-dark: rgb(0, 61, 165);
}

:root {
  --vf-ui-color-black: rgb(0, 0, 0);
  --vf-ui-color-gray: rgb(243, 243, 243);
  --vf-ui-color-gray-light: rgb(216, 216, 216);
  --vf-ui-color-yellow: rgb(255, 250, 220);
  --vf-ui-color-red: rgb(211, 47, 47);
}

.vf-content-hub-html {
  grid-column: 1 / -1;
}
