<div class="vf-form__item">
  <label class="vf-form__label" for="password">Password</label>
  <input type="password" id="password" class="vf-form__input"
  {%- if password_min %} minlength="{{password_min}}"{% endif -%}
  {%- if password_max %} maxlength="{{password_max}}"{% endif -%}
  {%- if password_pattern %} pattern="{{password_pattern}}"{% endif -%}
  >
</div>
