<div class="vf-form__item">
  <label class="vf-form__label | vf-u-sr-only" for="search">Search</label>
  <input type="search" id="search" class="vf-form__input vf-form__input--filter" placeholder="{{ search_placeholder }}">
</div>
