:root {
  --vf-color--green: #009f4d;
  --vf-color--green--darkest: #115740;
  --vf-color--green--dark: #007a53;
  --vf-color--green--light: #6cc24a;
  --vf-color--green--lightest: #d0debb;
  --vf-color--grey: #707372;
  --vf-color--grey--darkest: #373a36;
  --vf-color--grey--dark: #54585a;
  --vf-color--grey--light: #d0d0ce;
  --vf-color--grey--lightest: #a8a99e;
  --vf-color--red: #e40046;
  --vf-color--red--dark: #a6093d;
  --vf-color--red--light: #e58f9e;
  --vf-color--blue: #307fe2;
  --vf-color--blue--dark: #003da5;
  --vf-color--blue--light: #8bb8e8;
  --vf-color--purple: #8246af;
  --vf-color--purple--dark: #563d82;
  --vf-color--purple--light: #cba3d8;
  --vf-color--orange: #ffa300;
  --vf-color--orange--dark: #be5400;
  --vf-color--orange--light: #efc06e;
  --vf-color--yellow: #ffcd00;
  --vf-color--yellow--dark: #ffb81c;
  --vf-color--yellow--light: #fdd757;
  --vf-color--bright-green: #a8c700;
  --vf-color--bright-green--dark: #84bd00;
  --vf-color--bright-green--light: #e2e868;
}

:root {
  --vf-ui-color--black: #000000;
  --vf-ui-color--grey: #f3f3f3;
  --vf-ui-color--grey--light: #d8d8d8;
  --vf-ui-color--yellow: #fffadc;
  --vf-ui-color--red: #d32f2f;
}

.vf-content pre,
.vf-content code,
.vf-code-example__pre,
.vf-code-example {
  font-family: "IBM Plex Mono", Monaco, Consolas, "Lucida Console", monospace;
  font-size: 14px;
  line-height: 1.57;
  margin: 0 0 0 0;
}

.vf-code-example {
  display: grid;
}

.vf-content pre,
.vf-code-example__pre {
  border: 1px;
  min-width: 0;
  overflow: auto;
}

/* github.com style (c) Vasily Polovnyov <vast@whiteants.net> */
.hljs {
  background: #f3f3f3;
  display: block;
  overflow-x: auto;
  padding: .5em;
}

.hljs-comment,
.hljs-quote {
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  font-weight: bold;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: #009f4d;
}

.hljs-meta {
  font-weight: bold;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
