.vf-blockquote {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  line-height: 1.421;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  margin: 0;
  padding: 10px 8px 10px 32px;
  position: relative;
}

.vf-blockquote::before {
  content: '';
  border-left: 4px solid #b9b3a8;
  position: absolute;
  left: 12px;
  height: 100%;
  top: 0;
}
