$componentInfo: (
             name: "@visual-framework/vf-details",
             version: "1.0.0-alpha.1",
             location: "components/vf-details",
             vfCoreVersion: "2.2.4"
          );