
// ebi-header-footer Sass variables file.
// ------------------------------------------------------------

// ------------------------------------------------------------
// Default component variables
// ------------------------------------------------------------
// Colours
// https://wwwdev.ebi.ac.uk/style-lab/general/#embl-ebi-official-colours
$ebi-colour-dark: #222;
$ebi-colour-light: #f8f8f8;
$ebi-colour-dark-grey: #555;
$ebi-colour-medium-grey: #777;
$ebi-colour-light-grey: #eaeaea;
$ebi-colour-light-green: rgb(109,171,73);
$ebi-colour-dark-green: rgb(56,145,152);
$ebi-colour-petrol: rgb(0,124,130);
$ebi-colour-gold: rgb(233,180,0);
$ebi-colour-orange: rgb(251,106,42);
$ebi-colour-blue: rgb(0,134,180);
$ebi-colour-white: rgb(255,255,255);

$primary-color: $ebi-colour-petrol;
$secondary-color: $ebi-colour-dark-grey;

$ebi-colour-main: $ebi-colour-petrol;
$ebi-colour-services: $ebi-colour-dark-green;
$ebi-colour-research: $ebi-colour-light-green;
$ebi-colour-training: $ebi-colour-gold;
$ebi-colour-industry: $ebi-colour-blue;
$ebi-colour-elixir: $ebi-colour-orange;

// Generic colours
$success-color: #3adb76;
$warning-color: #ffae00;
$alert-color: #ec5840;
$light-gray: #e6e6e6;
$medium-gray: $ebi-colour-medium-grey;
$dark-gray: #8a8a8a;
$black: #0a0a0a;
$white: #fefefe;

$body-background: $ebi-colour-white;

// typography
$body-antialiased: true;
$body-font-color: $ebi-colour-dark;
$body-font-family: Helvetica, Arial, FreeSans, 'Liberation Sans', sans-serif;
$body-font-family-serif: 'EB Garamond', 'georgia', serif;
$code-font-family: Consolas, 'Liberation Mono', Courier, monospace;
$table-font-family: $body-font-family;
$table-font-size: 1rem;

// masthead
$masthead-background: $secondary-color;
$masthead-font-color: $ebi-colour-light;

// Set foundation colours
$foundation-palette: (
  primary: $primary-color,
  secondary: $ebi-colour-medium-grey,
  success: $success-color,
  warning: $warning-color,
  alert: $alert-color,
);

// Label tweaks
$label-background: $ebi-colour-white;
$label-color: $primary-color;
$label-padding: 0.33333rem 0;

// Tags
$tag-background: $primary-color;
$tag-color: $label-background;
$tag-font-size: 0.8rem;
$tag-padding: 0.33333rem 0.5rem;

// Headlines
$global-weight-h1: 300;
$global-weight-h2: 400;
$global-weight-h3: 400;
$global-weight-h4: 400;
$global-weight-h5: 400;

// These don't do anything yet...
$global-margin: 1rem;
$global-padding: 1rem;
$global-weight-normal: normal;
$global-weight-bold: 600;
$global-radius: 0;
$global-font-size: 100%;
$global-width: rem-calc(1200);
$global-lineheight: 1.5;
$global-flexbox: false;
