// ebi-header-footer--header

// Disable masthead-black-bar search when told
body.no-global-search .masthead-black-bar ul#global-nav.menu li.search { display: none; }

.ebi-header-footer.masthead-black-bar {
  background-color: var(--vf-color--grey--darkest);

  nav ul.menu li { 
    display: inline-block; 
    margin-bottom: 0;
  }

  > .row {
    opacity: 0;

    body.ebi-black-bar-loaded & {
      opacity: 1;
      opacity: unset; // show the blackbar contents after JS has strapped
    }
  }

  a:focus {
    box-shadow: 0 0 2px var(--vf-color--grey--lightest)
  }

  .global-masthead-interactive-banner {
    height: 0; overflow: hidden;
    display: none;
    background-color: #000;

    &.active {
      display: block;
      height: auto; overflow: visible;
    }
  }

  .search-bar {
    .close-button:hover, .close-button:focus {
      color: var(--vf-ui-color--white);
    }
  }

  .global-nav {

    li a {
      color: #fff;
    }

    a:hover,
    li a:hover,
    li a:active,
    li a:focus,
    li.active a,
    li.active-trail a {
      color: var(--vf-color--grey--darkest);
      border-bottom: none;
      background-color: var(--vf-color--grey--lightest);
    }
    li.active a {
      font-weight: 700;
    }

    li {
      a:before {
        font-family: 'EBI-Generic';
        display: inline-block; // safari 9 & 10 fix
        padding-right: .4rem;
      }
    }

    li.where {
      a:before {
        content: '[';
      }
    }

    // icon for Home
    li.home,
    li.ebi {
      a:before {
        content: 'H';
      }
    }

    // icon for Services
    li.services {
      a:before {
        content: '(';
      }
    }

    // icon for Research
    li.research {
      a:before {
        content: ')';
      }
    }

    // icon for Training
    li.training {
      a:before {
        content: 't';
      }
    }
    // icon for about us
    li.about {
      a:before {
        content: 'i';
      }
    }

    // icon for search
    li.search a:before {
      font-family: 'EBI-Functional';
      content: '1';
      padding-right: 0;
    }

    li.search .dropdown-pane {
      width: 100%;
      left: 0;
      background: var(--vf-color--grey--darkest);
      border: none;
      margin-top: -2px;
      color: var(--vf-ui-color--white);
    }
  }

  // mobile
  @media screen and (max-width: 39.9375em) {
    .masthead-black-bar nav ul.menu > li > a {
        text-align: center;
        font-size: 10px;
        padding: .6rem .35rem;
    }
  }
    
  @media screen and (max-width: 39.9375em) {
    .masthead-black-bar nav ul.menu > li > a > img, 
    .masthead-black-bar nav ul.menu > li > a:before {
        display: block;
        margin: 0 auto 0.25rem;
        font-size: 16px;
    }
  }
}
