// ebi-header-footer--footer

.row {
  max-width: 76.5rem;
  margin-right: auto;
  margin-left: auto;
}
.row::before, .row::after {
  display: table;
  content: ' ';
}

@media screen and (max-width: 0em), screen and (min-width: 40em) {
.show-for-small-only {
  display: none !important; } }

@media screen and (max-width: 39.99875em) {
.show-for-medium {
  display: none !important; } }

@media screen and (max-width: 39.99875em), screen and (min-width: 64em) {
.show-for-medium-only {
  display: none !important; } }

@media screen and (max-width: 63.99875em) {
.show-for-large {
  display: none !important; } }

@media screen and (max-width: 63.99875em), screen and (min-width: 75em) {
.show-for-large-only {
  display: none !important; } }

.clearfix::before, .clearfix::after {
display: table;
content: ' '; }

.clearfix::after {
clear: both; }

.row {
max-width: 80rem;
margin-right: auto;
margin-left: auto; }
.row::before, .row::after {
  display: table;
  content: ' '; }
.row::after {
  clear: both; }
.row .row {
  margin-right: -0.625rem;
  margin-left: -0.625rem; }
  @media print, screen and (min-width: 40em) {
    .row .row {
      margin-right: -0.9375rem;
      margin-left: -0.9375rem; } }
  @media print, screen and (min-width: 64em) {
    .row .row {
      margin-right: -0.9375rem;
      margin-left: -0.9375rem; } }
.row:not(.expanded) .row {
  max-width: none; }

.column, .columns {
width: 100%;
float: left;
padding-right: 0.625rem;
padding-left: 0.625rem; 
box-sizing: border-box;
}
@media print, screen and (min-width: 40em) {
  .column, .columns {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem; } }
.column, .columns, .column:last-child:not(:first-child), .columns:last-child:not(:first-child) {
  float: left;
  clear: none; }
.column:last-child:not(:first-child), .columns:last-child:not(:first-child) {
  float: right; }
.column.end:last-child:last-child, .end.columns:last-child:last-child {
  float: left; }

.column.row.row, .row.row.columns {
float: none; }

.row .column.row.row, .row .row.row.columns {
margin-right: 0;
margin-left: 0;
padding-right: 0;
padding-left: 0; }

@media print, screen and (min-width: 40em) {
.medium-3 {
  width: 25%; }
.medium-5 {
  width: 41.66667%; }
.medium-7 {
  width: 58.33333%; }
.medium-12 {
  width: 100%; }
.medium-up-2 > .column, .medium-up-2 > .columns {
  float: left;
  width: 50%; }
  .medium-up-2 > .column:nth-of-type(1n), .medium-up-2 > .columns:nth-of-type(1n) {
    clear: none; }
  .medium-up-2 > .column:nth-of-type(2n+1), .medium-up-2 > .columns:nth-of-type(2n+1) {
    clear: both; }
  .medium-up-2 > .column:last-child, .medium-up-2 > .columns:last-child {
    float: left; }
.medium-up-3 > .column, .medium-up-3 > .columns {
  float: left;
  width: 33.33333%; }
  .medium-up-3 > .column:nth-of-type(1n), .medium-up-3 > .columns:nth-of-type(1n) {
    clear: none; }
  .medium-up-3 > .column:nth-of-type(3n+1), .medium-up-3 > .columns:nth-of-type(3n+1) {
    clear: both; }
  .medium-up-3 > .column:last-child, .medium-up-3 > .columns:last-child {
    float: left; }
.medium-up-5 > .column, .medium-up-5 > .columns {
  float: left;
  width: 20%; }
  .medium-up-5 > .column:nth-of-type(1n), .medium-up-5 > .columns:nth-of-type(1n) {
    clear: none; }
  .medium-up-5 > .column:nth-of-type(5n+1), .medium-up-5 > .columns:nth-of-type(5n+1) {
    clear: both; }
  .medium-up-5 > .column:last-child, .medium-up-5 > .columns:last-child {
    float: left; }
 }

@media print, screen and (min-width: 64em) {
.large-10 {
  width: 83.33333%; }

.large-up-3 > .column, .large-up-3 > .columns {
  float: left;
  width: 33.33333%; }
  .large-up-3 > .column:nth-of-type(1n), .large-up-3 > .columns:nth-of-type(1n) {
    clear: none; }
  .large-up-3 > .column:nth-of-type(3n+1), .large-up-3 > .columns:nth-of-type(3n+1) {
    clear: both; }
  .large-up-3 > .column:last-child, .large-up-3 > .columns:last-child {
    float: left; }
 }
