// ebi-header-footer--footer

.text-right {
  text-align: right;
}
.float-right {
  float: right !important;
}

.block { display: block; }

.hidden, .hide { display: none !important; }
.inline { display: inline !important; }
.inline-block { display: inline-block !important; }

// no underline for links
.no-underline a,
a.no-underline {
  border-bottom: none;
  text-decoration: none;

  a.underline,
  .underline {
    text-decoration: underline;
  }
}
.no-underline a:hover,
a.no-underline:hover {
  a.underline,
  .underline {
    border-bottom-width: 0;
    border-bottom-style: none;
    border-bottom-color: transparent;
  }
}

// custom spacing
.margin-top-large { margin-top: 1rem; }
.margin-top-xlarge { margin-top: 2rem; }

.margin-bottom-none { margin-bottom: 0; }
.margin-bottom-large { margin-bottom: 1rem; }

.padding-top-xsmall { padding-top: .1rem; }
.padding-top-medium { padding-top: .5rem; }

.padding-left-large { padding-left: 1rem; }

.padding-bottom-medium { padding-bottom: .5rem; }
