// ebi-header-footer--footer
// LOCAL FOOTER
.local-footer {
  border-top: 2px solid #eee;
}

// GLOBAL FOOTER
.global-footer {
  border-top: 5px solid #eee;
  padding-top: 1.5rem;

  h4 {
    display: inline !important;
  }

  .address {
    margin: 1.5em 0 5px 0;
  }

} 

