// ebi-header-footer--footer
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}
.input-group {
  display: table;
  width: 100%;
  margin-bottom: 1rem;
}

[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea { 
  box-sizing: border-box;
  width: 100%;
  height: 2.4375rem;
  padding: 0.5rem;
  border: 1px solid #777;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
  appearance: none;
}

.input-group-button a, .input-group-button input, .input-group-button button, .input-group-button label {
  height: 2.4375rem;
  padding-top: 0;
  padding-bottom: 0;
}
.input-group-label, .input-group-field, .input-group-button, .input-group-button a, .input-group-button input, .input-group-button button, .input-group-button label {
  margin: 0;
  white-space: nowrap;
  display: table-cell;
  vertical-align: middle;
}
.input-group-button {
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
  width: 1%;
  height: 100%;
}
.menu .active > a, .tag, .tabs-title > a:hover, .button, .button.primary {
  background-color: rgb(0,124,130);
}

.menu {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}
.menu a, .menu .button {
  line-height: 1;
  text-decoration: none;
  display: block;
  padding: 0.7rem 1rem;
}

.button {
  display: inline-block;
  vertical-align: middle;
  padding: 0.85em 1em;
  border: 1px solid transparent;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  cursor: pointer;
  background-color: #007c82;
  color: #fefefe;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

.close-button, .close-button.medium {
  right: 1rem;
  top: 0.5rem;
  font-size: 2em;
  line-height: 1;
}

.close-button {
  position: absolute;
  color: #8a8a8a;
  cursor: pointer;
  background: none;
  border: none;
}