{%- if context %}
  {% set disable_ebi_1x_cookie_banner = context.disable_ebi_1x_cookie_banner %}
{% endif -%}

<!-- embl-ebi global footer -->
<footer class="vf-footer" data-vf-google-analytics-region="ebi-footer">
  <div class="vf-footer__inner">
    <p class="vf-footer__notice">
      <a class="vf-footer__link" href="//www.ebi.ac.uk/about/our-impact">EMBL-EBI is the home for big data in biology.</a>
    </p>
    <p class="vf-footer__notice">
    We help scientists exploit complex information to make discoveries that benefit humankind.
  </p>
    <div class="vf-footer__links-group | vf-grid">
      <div class="vf-links">
        <h4 class="vf-links__heading">
          <a class="vf-heading__link" href="//www.ebi.ac.uk/services">Services</a>
        </h4>
        <ul class="vf-links__list | vf-list">
          <li class="vf-list__item" data-list-item-id="e06b64b10f147f3b4394858d6b9ea275c">
            <a class="vf-list__link" href="//www.ebi.ac.uk/services/data-resources-and-tools">Data resources and tools</a>
          </li>
          <li class="vf-list__item" data-list-item-id="e33950d33050cf08afa19ffa95af986ce">
            <a class="vf-list__link" href="//www.ebi.ac.uk/submission">Data submission</a>
          </li>
          <li class="vf-list__item" data-list-item-id="e87c5c359672ea714544de8492edb4ebc">
            <a class="vf-list__link" href="//www.ebi.ac.uk/support">Support and feedback</a>
          </li>
          <li class="vf-list__item" data-list-item-id="eee6b2fbe2e88577790e63180f8f54d3a">
            <a class="vf-list__link" href="//www.ebi.ac.uk/licencing">Licensing</a>
          </li>
          <li class="vf-list__item" data-list-item-id="e752f3cd172f035521d38315d649dad43">
            <a class="vf-list__link" href="//www.ebi.ac.uk/long-term-data-preservation">Long-term data preservation</a>
          </li>
        </ul>
      </div>
      <div class="vf-links">
        <h4 class="vf-links__heading">
          <a class="vf-heading__link" href="//www.ebi.ac.uk/research">Research</a>
        </h4>
        <ul class="vf-links__list | vf-list">
          <li class="vf-list__item" data-list-item-id="e2b605d0d4a93089ef3af81c358b53211">
            <a class="vf-list__link" href="//www.ebi.ac.uk/research/publications">Publications</a>
          </li>
          <li class="vf-list__item" data-list-item-id="e1fcd43e2ba1dab9a6ccb300033ec3968">
            <a class="vf-list__link" href="//www.ebi.ac.uk/research/groups">Research groups</a>
          </li>
          <li class="vf-list__item vf-footer__notice" data-list-item-id="e555b54ec728766f2b58cbc5985570cc7">
            <a class="vf-list__link" href="//www.ebi.ac.uk/research/postdocs">Postdocs</a> and <a class="vf-list__link" href="//www.ebi.ac.uk/research/eipp">PhDs</a>
          </li>
        </ul>
      </div>
      <div class="vf-links">
        <h4 class="vf-links__heading">
          <a class="vf-heading__link" href="//www.ebi.ac.uk/training">Training</a>
        </h4>
        <ul class="vf-links__list | vf-list">
          <li class="vf-list__item" data-list-item-id="ed57a9faeb7128b44be0c25644ec34411">
            <a class="vf-list__link" href="//www.ebi.ac.uk/training/live-events">Live training</a>
          </li>
          <li class="vf-list__item" data-list-item-id="e7f645ab62eec5715b2612dfffa2fbedc">
            <a class="vf-list__link" href="//www.ebi.ac.uk/training/on-demand">On-demand training</a>
          </li>
          <li class="vf-list__item" data-list-item-id="e6096d1d672dc0de2c4bddf3094f09e31">
            <a class="vf-list__link" href="//www.ebi.ac.uk/training/trainer-support">Support for trainers</a>
          </li>
          <li class="vf-list__item" data-list-item-id="e0efbb2c1f13b9512705d699b92f20bb8">
            <a class="vf-list__link" href="//www.ebi.ac.uk/training/contact-us">Contact organisers</a>
          </li>
        </ul>
      </div>
      <div class="vf-links">
        <h4 class="vf-links__heading">
          <a class="vf-heading__link" href="//www.ebi.ac.uk/industry">Industry</a>
        </h4>
        <ul class="vf-links__list | vf-list">
          <li class="vf-list__item" data-list-item-id="e30c7656cbf8eec0ffc0290cb31a66401">
            <a class="vf-list__link" href="//www.ebi.ac.uk/industry/private/members-area/">Members Area</a>
          </li>
          <li class="vf-list__item" data-list-item-id="ef725ec661a3fc149aaf089c92dfa71b6">
            <a class="vf-list__link" href="//www.ebi.ac.uk/industry/contact-us">Contact Industry team</a>
          </li>
        </ul>
      </div>
      <div class="vf-links">
        <h4 class="vf-links__heading">
          <a class="vf-heading__link" href="//www.ebi.ac.uk/about">About</a>
        </h4>
        <ul class="vf-links__list | vf-list">
          <li class="vf-list__item" data-list-item-id="e1c4e9a4810a07b7333a7107987457c21">
            <a class="vf-list__link" href="//www.ebi.ac.uk/about/faq">FAQ</a>
          </li>
          <li class="vf-list__item" data-list-item-id="ed8b263fe5dd9055627a5294ce69d5574">
            <a class="vf-list__link" href="//www.ebi.ac.uk/about/contact">Contact us</a>
          </li>
          <li class="vf-list__item" data-list-item-id="eb6f072c47cfad6d4e835961b75d562b3">
            <a class="vf-list__link" href="//www.ebi.ac.uk/about/events">Events</a>
          </li>
          <li class="vf-list__item" data-list-item-id="ecb2bbf3856277e4e94b3ffd8c7aae380">
            <a class="vf-list__link" href="//www.ebi.ac.uk/about/jobs">Jobs</a>
          </li>
          <li class="vf-list__item" data-list-item-id="e30cdce648b0444300d0e56e3b1038978">
            <a class="vf-list__link" href="//www.ebi.ac.uk/about/news">News</a>
          </li>
          <li class="vf-list__item" data-list-item-id="ed916425cdb483a544951e5a57b07b0df">
            <a class="vf-list__link" href="//www.ebi.ac.uk/about/people">People and groups</a>
          </li>
          <li class="vf-list__item" data-list-item-id="e8a9f26180bc52b1a43470df68bbddfca">
            <a class="vf-list__link" href="//intranet.ebi.ac.uk">Intranet for staff</a>
          </li>
        </ul>
      </div>
    </div>
    <p class="vf-footer__legal">
      <a class="vf-footer__link" href="https://www.google.co.uk/maps/place/Hinxton,+Saffron+Walden+CB10+1SD/@52.0815334,0.1891518,17z/data=!3m1!4b1!4m5!3m4!1s0x47d87ccbfbd2538b:0x7bbdb4cde2779ff3!8m2!3d52.0800838!4d0.186415">
        <span class="vf-footer__legal-text">EMBL-EBI, Wellcome Genome Campus, Hinxton, Cambridgeshire, CB10 1SD, UK.</span></a>
      <span class="vf-footer__legal-text"></span>
      <a class="vf-footer__link" href="tel:00441223494444">
        <span class="vf-footer__legal-text">Tel: +44 (0)1223 49 44 44</span>
      </a>
      <span class="vf-footer__legal-text"></span>
      <a class="vf-footer__link" href="//www.ebi.ac.uk/about/contact">
        <span class="vf-footer__legal-text">Full contact details</span>
      </a>
      <span class="vf-footer__legal-text">&nbsp;</span>
    </p>
    <p class="vf-footer__legal">
      <span class="vf-footer__legal-text">Copyright © EMBL 2026 EMBL-EBI is part of the </span>
      <a class="vf-footer__link" href="//www.embl.org">
        <span class="vf-footer__legal-text">European Molecular Biology Laboratory</span></a>
      <span class="vf-footer__legal-text"></span>
      <a class="vf-footer__link" href="//www.ebi.ac.uk/about/terms-of-use">
        <span class="vf-footer__legal-text">Terms of use</span>
      </a>
      <span class="vf-footer__legal-text">&nbsp;</span>
    </p>
  </div>
</footer>

{% if disable_ebi_1x_cookie_banner == true %}
<!--
  When using legacy EBI 1.x JS, we disable the old cookie banner.
  https://stable.visual-framework.dev/components/ebi-header-footer/
  -->
<div class="vf-u-display-none" data-protection-message-disable="true"></div>
{% endif %}
