{%- if frctl.env.server %}
<link rel="stylesheet" href="../raw/ebi-header-footer/ebi-header-footer.css" type="text/css" media="all" />
{% else %}
<link rel="stylesheet" href="https://dev.assets.emblstatic.net/vf/develop/assets/ebi-header-footer/ebi-header-footer.css" type="text/css" media="all" />
{% endif %}
<link rel="stylesheet" href="https://dev.ebi.emblstatic.net/web_guidelines/EBI-Icon-fonts/v1.3/fonts.css" type="text/css" media="all" />

<header id="masthead-black-bar" class="clearfix masthead-black-bar | ebi-header-footer vf-content vf-u-fullbleed">
</header>

Your content here.

<footer>
  <div id="global-footer" class="global-footer | ebi-header-footer vf-content">
    <nav id="global-nav-expanded" class="global-nav-expanded row">
      <!-- Footer will be automatically inserted by footer.js -->
    </nav>
    <section id="ebi-footer-meta" class="ebi-footer-meta row">
      <!-- Footer meta will be automatically inserted by footer.js -->
    </section>
  </div>
</footer>

<script defer="defer" src="//ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.3/js/script.js"></script>
