// ebi-header-footer--footer
// LOCAL FOOTER
.local-footer {
  border-top: 2px solid #eee;
}

// GLOBAL FOOTER
.global-footer {
  border-top: 5px solid #eee;
  padding-top: 1.5rem;

  h5 {
    margin-top: 1.25rem;
    margin-bottom: 5px;
  }

  .ebi-logo {
    display: block;
    height: 53px;
    width: 89%;
    background-image: url("../images/logos/EMBL-EBI/EMBL_EBI_Logo_black.svg");
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: -.25rem;
    position: relative;
    top: 8px;
  }

  p {
     margin: 0 0 5px 0;
  }

  ul {
    margin-left: 0;
    font-size: 85%;
    list-style: none;
  }

  a {
    color: $ebi-colour-dark-grey;
  }

  a:hover,
  a:focus,
  a:active{
    color: $ebi-colour-dark-grey;
    border-bottom: 1px dashed #e4e4e4;
  }
} // END .global-footer

.ebi-footer-meta {
  font-size: 85%; margin-bottom: 9px;
} // END .ebi-footer-meta
