$componentInfo: (
             name: "@visual-framework/embl-favicon",
             version: "1.0.2",
             location: "components/embl-favicon",
             vfCoreVersion: "2.2.8",
             buildTimeStamp: "Mon, 26 Oct 2020 13:15:08 GMT"
          );