$componentInfo: (
             name: "@visual-framework/vf-favicon",
             version: "1.0.2",
             location: "components/vf-favicon",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Tue, 27 Oct 2020 16:37:12 GMT"
          );