$componentInfo: (
             name: "@visual-framework/vf-favicon",
             version: "1.0.2",
             location: "components/vf-favicon",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Mon, 02 Nov 2020 09:27:39 GMT"
          );