$componentInfo: (
             name: "@visual-framework/vf-favicon",
             version: "1.0.2",
             location: "components/vf-favicon",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Fri, 06 Nov 2020 11:50:55 GMT"
          );