// vf-logo

.vf-logo {
  color: set-ui-color(vf-ui-color--black);
  display: flex;
  height: 41px;
  text-decoration: none;
}


.vf-logo--responsive {
  background-image: url('../assets/vf-logo/assets/logo-small.svg');
  background-repeat: no-repeat;
  background-size: auto 100%;
  display: flex;
  height: 25px;
  min-width: 70px;
}

@media (min-width: 500px) {
  .vf-logo--responsive {
    background-image: url('../assets/vf-logo/assets/logo-medium.svg');
    height: 28px;
  }
}
@media (min-width: 999px) {
  .vf-logo--responsive {
    background-image: url('../assets/vf-logo/assets/logo.svg');
    height: 30px;
  }
}
