// vf-form__helper

.vf-form__helper {
  @include set-type(text-body--5, $custom-margin-bottom: 0);

  color: set-color(vf-color--grey);

  [data-vf-js-form-floatlabel] & {
    left: 24px;
    position: relative;
  }
}
