<link rel="apple-touch-icon" sizes="180x180" href="{{ apple_touch_icon }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ icon_32 }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ icon_16 }}">
<link rel="manifest" href="{{ manifest }}">
<link rel="mask-icon" href="{{ icon_mask }}" color="{{ color_mask }}">
<meta name="msapplication-TileColor" content="{{ color_msapplication }}">
<meta name="theme-color" content="{{ color_theme }}">
