@import "vf-banner.variables.scss";

.vf-banner {
  box-sizing: border-box;
  padding: 0 12px;

  .vf-badge {
    margin-right: 16px;
  }
}


.vf-banner__content {
  align-content: center;
  align-items: center;

  @media (max-width: 63.9375em) {
    display: block; // overideing the .emlb-grid code
  }

  @media (min-width: $vf-breakpoint-l) {
    grid-column: main;
  }
}

.vf-banner__text {
  @include set-type(body--r);
}

.vf-banner--top {
  top: 0;
}

.vf-banner--bottom {
  bottom: 0;
}
