<div class="vf-banner vf-banner--fixed vf-banner--top vf-banner--phase"
data-vf-js-banner
data-vf-js-banner-state="dismissible"
data-vf-js-banner-button-text="Close notice"
data-vf-js-banner-button-theme="primary">
  <div class="vf-banner__content" data-vf-js-banner-text>
    <span class="vf-badge vf-badge--primary">BETA</span>
    <p class="vf-banner__text">This is the new EMBL.org <a href="{{ banner__inline_href }}" class="vf-banner__link">Complete our quick survey</a> to help us make it better.</p>
  </div>
</div>
