.vf-banner--fixed {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: minmax(var(--page-grid-gap), auto) [main-start] minmax(288px, $vf-layout--comfortable) [main-end] minmax(var(--page-grid-gap), auto);
  left: 0;
  margin: 0;
  position: fixed;
  width: 100%;
  z-index: set-layer(vf-z-index--banner);
  a:not(.vf-button):focus:focus-visible {
    outline: transparent auto 1px;
  }
  &.vf-banner--top a:not(.vf-button):focus:focus-visible {
    outline-color: var(--vf-color--grey--darkest);
  }
}
