<!-- This component has been <span style="color: rgb(228, 0, 70);">deprecated</span>. Please use the <a class="vf-link" href="./vf-banner--info/"new</a> component. -->
<div class="vf-banner vf-banner--phase">
  <div class="vf-banner__content">
    <p class="vf-banner__text">This is a new web page. <a href="{{ banner__inline_href }}" class="vf-link">Complete our quick survey</a> to help us make it better.</p>
  </div>
</div>
