$vf-gdpr-banner-color--background: color(grey) !default;
$vf-gdpr-banner-color--text: ui-color(white) !default;
$vf-gdpr-banner-padding: map-get($vf-spacing-map, vf-spacing--400) !default;

$vf-notice-banner-color--background: color(grey) !default;
$vf-notice-banner-color--border: color(grey--darkest) !default;

$vf-notice-banner-color--text: ui-color(white) !default;
$vf-notice-banner-padding: map-get($vf-spacing-map, vf-spacing--400) !default;

$vf-phase-banner-color--background: ui-color(yellow) !default;
$vf-phase-banner-color--text: color(grey--dark) !default;

$vf-banner-color--link: inherit;
