.vf-banner--fixed {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: minmax(var(--page-grid-gap), auto) [main-start] minmax(288px, 76.5em) [main-end] minmax(var(--page-grid-gap), auto);
  left: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
  z-index: set-layer(vf-z-index--banner);
}
