<h2>This component has been <span style="color: rgb(228, 0, 70);">deprecated</span>. Please use the <a class="vf-link" href="./vf-banner--info/">vf-banner--info</a> component.</h2> in the README.md file.

<div class="vf-banner vf-banner--phase">
  <div class="vf-banner__content">
    <p class="vf-banner__text">This is a new web page. <a href="{{ vf-banner--inline_href }}" class="vf-link">Complete our quick survey</a> to help us make it better.</p>
  </div>
</div>
