$vf-gdpr-banner-color--background: set-color(vf-color--grey) !default;
$vf-gdpr-banner-color--text: set-ui-color(vf-ui-color--white) !default;
$vf-gdpr-banner-padding: map-get($vf-spacing-map, vf-spacing--400) !default;

$vf-notice-banner-color--background: set-color(vf-color--grey) !default;
$vf-notice-banner-color--border: set-color(vf-color--grey--darkest) !default;

$vf-notice-banner-color--text: set-ui-color(vf-ui-color--white) !default;
$vf-notice-banner-padding: map-get($vf-spacing-map, vf-spacing--400) !default;

$vf-phase-banner-color--background: set-ui-color(vf-ui-color--yellow) !default;
$vf-phase-banner-color--text: set-color(vf-color--grey--dark) !default;

$vf-banner-color--link: inherit;
