<div
  class="vf-banner vf-banner--fixed vf-banner--bottom vf-banner--gdpr"
  data-service-id="{{data-service-id}}"
  data-protection-version="{{data-protection-version}}"
>
  <div class="vf-banner__content | vf-grid">
    <p class="vf-text vf-text--body-l">
      This website uses cookies, and the limiting processing of your personal data to function. By using the site you are agreeing to this as outlined in our <a class="vf-link" href="JavaScript:Void(0);">Privacy Notice</a> and <a class="vf-link" href="JavaScript:Void(0);">Terms Of Use</a>.
    </p>

    <button class="vf-button vf-button--secondary">
      {{vf-data-protection-banner__link}}
    </button>
  </div>
</div>
