.vf-banner--alert {
  .vf-banner__content {
    display: flex;
  }
  .vf-banner__text,
  [class*='vf-text'] {
    color: currentColor;
  }
  a {
    color: currentColor;
    &:focus {
      outline: 1px solid set-ui-color(vf-ui-color--white);
    }
  }
}

.vf-banner--success {
  background-color: set-color(vf-color--green--light);
  color: set-ui-color(vf-ui-color--black);
}

.vf-banner--danger {
  background-color: set-color(vf-color--red);
  color: set-ui-color(vf-ui-color--white);
}

.vf-banner--info {
  background-color: set-ui-color(vf-ui-color--yellow);
  color: set-color(vf-color--grey--dark);
}


.vf-banner--warning{
  background-color: set-color(vf-color--orange);
  color: set-ui-color(vf-ui-color--black);
}


.vf-banner__button {
  margin-left: auto;
  padding: 2px 6px 4px;

  svg {
    fill: currentColor;
    height: 14px;
  }

  &:focus {
    outline: 1px solid currentColor;
  }

  &:hover {
    color: inherit;
  }
}
