<div class="vf-banner vf-banner--fixed vf-banner--top vf-banner--phase">
  <div class="vf-banner__content">
    <span class="vf-tag vf-tag--primary">BETA</span>
    <p class="vf-text--body-r">This is the new EMBL.org <a href="" class="vf-link">Complete our quick survey</a> to help us make it better.</p>
  </div>
</div>
