$vf-gdpr-banner-color--background: set-color(vf-color--grey--dark);
$vf-gdpr-banner-color--text: set-ui-color(vf-ui-color--white);
$vf-gdpr-banner-padding: map-get($vf-spacing-map, vf-spacing--md);

$vf-notice-banner-color--background: set-color(vf-color--grey--dark);

$vf-notice-banner-color--text: set-ui-color(vf-ui-color--white);
$vf-notice-banner-padding: map-get($vf-spacing-map, vf-spacing--md);

$vf-phase-banner-color--background: set-ui-color(vf-ui-color--yellow);
$vf-phase-banner-color--text: set-color(vf-color--grey--dark);

$vf-banner-color--link: inherit;
