// vf-news-container

@import 'package.variables.scss';
// Debug information from component's `package.json`:
// ---
/*!
 * Component: #{map-get($componentInfo, 'name')}
 * Version: #{map-get($componentInfo, 'version')}
 * Location: #{map-get($componentInfo, 'location')}
 */


.vf-news-container--featured {
  .vf-summary {
    grid-template-columns: none;
  }

  .vf-summary > .vf-summary__date {
    grid-row: 7;
  }

  .vf-summary > .vf-summary__image {
    margin-bottom: 16px;
    max-width: 100%;
  }

  @media (max-width: 600px) {
    .vf-summary {
      grid-row-gap: 0;
    }
  }
}
