<section class="vf-news-container | embl-grid">
  {% render '@vf-section-header'%}

  <div class="vf-news-container__content">
    {% render '@vf-summary--news-has-image', {
      summary__image: "../../assets/vf-summary/assets/vf-summary--news-has-image.jpg",
      summary__image_alt: "News image alt",
      summary__text: "Combinations of cancer drugs can be quickly and cheaply tested using a novel microfluidic device.",
      summary__date: "4 September 2019",
      summary__href: "",
      summary__title: "news article summary"
    } %}
    {% render '@vf-summary--news-has-image', {
      summary__image: "../../assets/vf-summary/assets/vf-summary--news-has-image.jpg",
      summary__image_alt: "News image alt",
      summary__text: "Combinations of cancer drugs can be quickly and cheaply tested using a novel microfluidic device.",
      summary__date: "4 September 2019",
      summary__href: "",
      summary__title: "news article summary"
    } %}
    {% render '@vf-summary--news-has-image', {
      summary__image: "../../assets/vf-summary/assets/vf-summary--news-has-image.jpg",
      summary__image_alt: "News image alt",
      summary__text: "Combinations of cancer drugs can be quickly and cheaply tested using a novel microfluidic device.",
      summary__date: "4 September 2019",
      summary__href: "",
      summary__title: "news article summary"
    } %}
    {% render '@vf-summary--news-has-image', {
      summary__image: "../../assets/vf-summary/assets/vf-summary--news-has-image.jpg",
      summary__image_alt: "News image alt",
      summary__text: "Combinations of cancer drugs can be quickly and cheaply tested using a novel microfluidic device.",
      summary__date: "4 September 2019",
      summary__href: "",
      summary__title: "news article summary"
    } %}
  </div>

  <!--
  <div class="vf-news-container__sidebar">
    Optional vf-news-container__sidebar
  </div>
  -->
</section>
