<section class="vf-news-container vf-news-container--featured | vf-stack">
  {% render '@vf-section-header'%}

  <div class="vf-news-container__content | vf-grid vf-grid__col-4">
    {% render '@vf-summary--news-has-image', {
      summary__href: 'JavaScript:Void(0);',
      summary__image: "../../assets/vf-summary/assets/vf-summary--news-has-image.jpg",
      summary__image_alt: "BioSamples",
      summary__title: "news article summary",
      "summary__text": "",
      summary__date: "4 September 2019"
    } %}
    {% render '@vf-summary--news-has-image', {
      summary__href: 'JavaScript:Void(0);',
      summary__image: "../../assets/vf-summary/assets/vf-summary--news-has-image.jpg",
      summary__image_alt: "BioSamples",
      summary__title: "news article summary",
      "summary__text": "",
      summary__date: "4 September 2019"
    } %}
    {% render '@vf-summary--news-has-image', {
      summary__href: 'JavaScript:Void(0);',
      summary__image: "../../assets/vf-summary/assets/vf-summary--news-has-image.jpg",
      summary__image_alt: "BioSamples",
      summary__title: "news article summary",
      "summary__text": "",
      summary__date: "4 September 2019"
    } %}
    {% render '@vf-summary--news-has-image', {
      summary__href: 'JavaScript:Void(0);',
      summary__image: "../../assets/vf-summary/assets/vf-summary--news-has-image.jpg",
      summary__image_alt: "BioSamples",
      summary__title: "news article summary",
      "summary__text": "",
      summary__date: "4 September 2019"
    } %}
  </div>

  <!--
  <div class="vf-news-container__sidebar">
    Optional vf-news-container__sidebar
  </div>
  -->
</section>

