<section class="vf-news-container | embl-grid">
  {% render '@vf-section-header'%}

  <div class="vf-news-container__content">
    {% render '@vf-summary--news-has-image' %}
    {% render '@vf-summary--news-has-image' %}
    {% render '@vf-summary--news-has-image' %}
  </div>

  <!--
  <div class="vf-news-container__sidebar">
    Optional vf-news-container__sidebar
  </div>
  -->
</section>
