<section class="vf-intro | embl-grid embl-grid--has-centered-content">
  <div><!-- empty --></div>
  <div>
    <h1 class="vf-intro__heading {{#if vf-intro-phase}}vf-intro__heading--has-tag{{/if}}
">Cancer {{#if vf-intro-phase}}<a href="" class="vf-badge vf-badge--primary vf-badge--phases">{{vf-intro-phase}}</a>{{/if}}</h1>
    {{render '@vf-lede'}}
    {{#each vf-intro-text}}
      <p class="vf-intro__text">{{{this}}}</p>
    {{/each}}
  </div>
</section>
