<div class="vf-intro | embl-grid embl-grid--has-centered-content">
  <h1 class="vf-intro__heading vf-intro__heading--has-tag | vf-text--display vf-text--display-xl">Cancer <a href="" class="vf-tag vf-tag--primary vf-tag--phases">BETA</a></h1>
  <p class="vf-lede | vf-text--display vf-text--display-l">Cancer is a generic term for lots of different diseases in which cells divide many more times than usual. This abnormal growth can affect many cell types in almost any part of the body.</p>
  <p class="vf-intro__text | vf-text--body vf-text--body-r">Cancer is a multi-stage process. Normal cells begin to divide abnormally, spreading beyond their normal boundaries, and abnormal tissue growth causes swellings called tumours to form. Tumours can be benign – with no harmful effect on the body – or malignant, invading healthy tissue and interfering with normal bodily functions.</p>
  <p class="vf-intro__text | vf-text--body vf-text--body-r">There are more than 100 types of cancer and symptoms vary depending on the type. <a href="JavaScript:Void(0);">Read more about Cancer</a>.</p>
</div>
