// vf-intro

@import 'package.variables.scss';
// Debug information from component's `package.json`:
// ---
/*!
 * Component: #{map-get($componentInfo, 'name')}
 * Version: #{map-get($componentInfo, 'version')}
 * Location: #{map-get($componentInfo, 'location')}
 */

.vf-intro {
  @include margin--block(bottom, 110px);

  & > * {
    grid-column: 2 / span 1;
  }
  .vf-lede {
    margin-bottom: 2rem;
  }
}

/*
 * We are moving to the idea of not relying on .vf-body for centering.
 * Until then we need to have this litte 'reset'
 */
.vf-body .vf-intro {
  box-sizing: initial;
  margin-left: unset;
  margin-right: unset;
  max-width: unset;
  padding-left: unset;
  padding-right: unset;
}

.vf-intro {
  --vf-intro-spacing: 200px;
  box-sizing: border-box;
  display: grid;
  grid-column: main;
  grid-template-rows: 1fr repeat(10, min-content);
  margin-left: auto;
  margin-right: auto;
  max-width: 78.5em;
  padding-left: 1em;
  padding-right: 1em;
}

@media (min-width: $vf-breakpoint--lg) {
  .vf-intro {
    grid-column-gap: var(--page-grid-gap);
    grid-template-areas: '... header header' '... ...    links';
    grid-template-columns: var(--embl-grid-module--prime) auto var(--embl-grid-module--prime);
  }

  .vf-intro__heading { grid-area: header; }
  .vf-intro .vf-links { grid-area: links; grid-row-end: -1; }
}

.vf-intro__heading {
  @include set-type(text-heading--1);
  @include margin--block(bottom, 56px);
}

.vf-intro__heading--has-tag {
  align-items: center;
  display: flex;

  .vf-badge {
    margin-left: .5rem;
  }

  @media (min-width: $vf-breakpoint--lg) {
    left: -83px;
    position: relative;

    .vf-badge {
      margin-left: 0;
      order: -1;
    }
  }
}

.vf-intro__text {
  @include set-type(text-body--2);
  @include margin--block(bottom, 24px);

  &:last-of-type {
    margin-bottom: 0;
  }

  & > a {
    @include inline-link;
  }
}
