// vf-intro

.vf-intro {
  @include margin--block(bottom, 110px);

  & > * {
    grid-column: 2 / span 1;
  }
  .vf-lede {
    margin-bottom: 2rem;
  }
}

.vf-intro__heading {
  @include set-type(text-heading--1);
  @include margin--block(bottom, 56px);
}

.vf-intro__heading--has-tag {
  align-items: center;
  display: flex;

  .vf-badge {
    margin-left: .5rem;
  }

  @media (min-width: $vf-breakpoint--lg) {
    left: -83px;
    position: relative;

    .vf-badge {
      margin-left: 0;
      order: -1;
    }
  }
}

.vf-intro__text {
  @include set-type(text-body--2);
  @include margin--block(bottom, 24px);

  &:last-of-type {
    margin-bottom: 0;
  }

  & > a {
    @include inline-link;
  }
}
