:root {
  --vf-color--green: #18974c;
  --vf-color--green--darkest: #0a5032;
  --vf-color--green--dark: #007b53;
  --vf-color--green--light: #6cc24a;
  --vf-color--green--lightest: #d0debb;
  --vf-color--grey: #707372;
  --vf-color--grey--darkest: #373a36;
  --vf-color--grey--dark: #54585a;
  --vf-color--grey--light: #a8a99e;
  --vf-color--grey--lightest: #d0d0ce;
  --vf-color--red: #d41645;
  --vf-color--red--dark: #a6093d;
  --vf-color--red--light: #e58f9e;
  --vf-color--blue: #3b6fb6;
  --vf-color--blue--dark: #193f90;
  --vf-color--blue--light: #8bb8e8;
  --vf-color--purple: #734595;
  --vf-color--purple--dark: #563d82;
  --vf-color--purple--light: #cba3d8;
  --vf-color--orange: #f49e17;
  --vf-color--orange--dark: #b65417;
  --vf-color--orange--light: #efc06e;
  --vf-color--yellow: #f4c61f;
  --vf-color--yellow--dark: #ffb81c;
  --vf-color--yellow--light: #fdd757;
  --vf-color--bright-green: #a1be1f;
  --vf-color--bright-green--dark: #7fb428;
  --vf-color--bright-green--light: #e2e868;
}

:root {
  --vf-ui-color--black: #000000;
  --vf-ui-color--grey: #f3f3f3;
  --vf-ui-color--grey--light: #d8d8d8;
  --vf-ui-color--yellow: #fffadc;
  --vf-ui-color--red: #d32f2f;
  --vf-ui-color--white: #ffffff;
  --vf-ui-color--off-white: #fafafa;
}

/*!
 * Component: @visual-framework/vf-utility-classes
 * Version: 1.0.0-beta.8
 * Location: components/vf-utility-classes
 */
.vf-u-clearfix::before {
  content: '';
  display: table;
}

.vf-u-clearfix::after {
  clear: both;
  content: '';
  display: table;
}

.vf-u-float__left {
  float: left !important;
}

.vf-u-float__right {
  float: right !important;
}

.vf-u-float__none {
  float: none !important;
}

@media (min-width: 360px) {
  .vf-u-float__left--xs {
    float: left !important;
  }
  .vf-u-float__right--xs {
    float: right !important;
  }
  .vf-u-float__none--xs {
    float: none !important;
  }
}

@media (min-width: 600px) {
  .vf-u-float__left--sm {
    float: left !important;
  }
  .vf-u-float__right--sm {
    float: right !important;
  }
  .vf-u-float__none--sm {
    float: none !important;
  }
}

@media (min-width: 768px) {
  .vf-u-float__left--md {
    float: left !important;
  }
  .vf-u-float__right--md {
    float: right !important;
  }
  .vf-u-float__none--md {
    float: none !important;
  }
}

@media (min-width: 1024px) {
  .vf-u-float__left--lg {
    float: left !important;
  }
  .vf-u-float__right--lg {
    float: right !important;
  }
  .vf-u-float__none--lg {
    float: none !important;
  }
}

@media (min-width: 1280px) {
  .vf-u-float__left--xl {
    float: left !important;
  }
  .vf-u-float__right--xl {
    float: right !important;
  }
  .vf-u-float__none--xl {
    float: none !important;
  }
}

.vf-u-text--nowrap {
  white-space: nowrap;
}

.vf-u-text--et-al {
  position: relative;
}

.vf-u-text--et-al::after {
  color: inherit;
  content: 'et al.';
  font: inherit;
  position: relative;
  right: 0;
}

.vf-js .vf-u-sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.vf-u-background-color--green {
  background-color: #18974c;
}

.vf-u-background-color--green--darkest {
  background-color: #0a5032;
}

.vf-u-background-color--green--dark {
  background-color: #007b53;
}

.vf-u-background-color--green--light {
  background-color: #6cc24a;
}

.vf-u-background-color--green--lightest {
  background-color: #d0debb;
}

.vf-u-background-color--grey {
  background-color: #707372;
}

.vf-u-background-color--grey--darkest {
  background-color: #373a36;
}

.vf-u-background-color--grey--dark {
  background-color: #54585a;
}

.vf-u-background-color--grey--light {
  background-color: #a8a99e;
}

.vf-u-background-color--grey--lightest {
  background-color: #d0d0ce;
}

.vf-u-background-color--red {
  background-color: #d41645;
}

.vf-u-background-color--red--dark {
  background-color: #a6093d;
}

.vf-u-background-color--red--light {
  background-color: #e58f9e;
}

.vf-u-background-color--blue {
  background-color: #3b6fb6;
}

.vf-u-background-color--blue--dark {
  background-color: #193f90;
}

.vf-u-background-color--blue--light {
  background-color: #8bb8e8;
}

.vf-u-background-color--purple {
  background-color: #734595;
}

.vf-u-background-color--purple--dark {
  background-color: #563d82;
}

.vf-u-background-color--purple--light {
  background-color: #cba3d8;
}

.vf-u-background-color--orange {
  background-color: #f49e17;
}

.vf-u-background-color--orange--dark {
  background-color: #b65417;
}

.vf-u-background-color--orange--light {
  background-color: #efc06e;
}

.vf-u-background-color--yellow {
  background-color: #f4c61f;
}

.vf-u-background-color--yellow--dark {
  background-color: #ffb81c;
}

.vf-u-background-color--yellow--light {
  background-color: #fdd757;
}

.vf-u-background-color--bright-green {
  background-color: #a1be1f;
}

.vf-u-background-color--bright-green--dark {
  background-color: #7fb428;
}

.vf-u-background-color--bright-green--light {
  background-color: #e2e868;
}

.vf-u-background-color-ui--black {
  background-color: #000000;
}

.vf-u-background-color-ui--grey {
  background-color: #f3f3f3;
}

.vf-u-background-color-ui--grey--light {
  background-color: #d8d8d8;
}

.vf-u-background-color-ui--yellow {
  background-color: #fffadc;
}

.vf-u-background-color-ui--red {
  background-color: #d32f2f;
}

.vf-u-background-color-ui--white {
  background-color: #ffffff;
}

.vf-u-background-color-ui--off-white {
  background-color: #fafafa;
}

.vf-u-border-color--green {
  border-color: #18974c;
}

.vf-u-border-color--green--darkest {
  border-color: #0a5032;
}

.vf-u-border-color--green--dark {
  border-color: #007b53;
}

.vf-u-border-color--green--light {
  border-color: #6cc24a;
}

.vf-u-border-color--green--lightest {
  border-color: #d0debb;
}

.vf-u-border-color--grey {
  border-color: #707372;
}

.vf-u-border-color--grey--darkest {
  border-color: #373a36;
}

.vf-u-border-color--grey--dark {
  border-color: #54585a;
}

.vf-u-border-color--grey--light {
  border-color: #a8a99e;
}

.vf-u-border-color--grey--lightest {
  border-color: #d0d0ce;
}

.vf-u-border-color--red {
  border-color: #d41645;
}

.vf-u-border-color--red--dark {
  border-color: #a6093d;
}

.vf-u-border-color--red--light {
  border-color: #e58f9e;
}

.vf-u-border-color--blue {
  border-color: #3b6fb6;
}

.vf-u-border-color--blue--dark {
  border-color: #193f90;
}

.vf-u-border-color--blue--light {
  border-color: #8bb8e8;
}

.vf-u-border-color--purple {
  border-color: #734595;
}

.vf-u-border-color--purple--dark {
  border-color: #563d82;
}

.vf-u-border-color--purple--light {
  border-color: #cba3d8;
}

.vf-u-border-color--orange {
  border-color: #f49e17;
}

.vf-u-border-color--orange--dark {
  border-color: #b65417;
}

.vf-u-border-color--orange--light {
  border-color: #efc06e;
}

.vf-u-border-color--yellow {
  border-color: #f4c61f;
}

.vf-u-border-color--yellow--dark {
  border-color: #ffb81c;
}

.vf-u-border-color--yellow--light {
  border-color: #fdd757;
}

.vf-u-border-color--bright-green {
  border-color: #a1be1f;
}

.vf-u-border-color--bright-green--dark {
  border-color: #7fb428;
}

.vf-u-border-color--bright-green--light {
  border-color: #e2e868;
}

.vf-u-border-color-ui--black {
  border-color: #000000;
}

.vf-u-border-color-ui--grey {
  border-color: #f3f3f3;
}

.vf-u-border-color-ui--grey--light {
  border-color: #d8d8d8;
}

.vf-u-border-color-ui--yellow {
  border-color: #fffadc;
}

.vf-u-border-color-ui--red {
  border-color: #d32f2f;
}

.vf-u-border-color-ui--white {
  border-color: #ffffff;
}

.vf-u-border-color-ui--off-white {
  border-color: #fafafa;
}

.vf-u-margin--0 {
  margin: 0;
}

.vf-u-margin--xs {
  margin: 4px;
}

.vf-u-margin--sm {
  margin: 8px;
}

.vf-u-margin--md {
  margin: 16px;
}

.vf-u-margin--lg {
  margin: 20px;
}

.vf-u-margin--xl {
  margin: 24px;
}

.vf-u-margin--xxl {
  margin: 32px;
}

.vf-u-margin__bottom--0 {
  margin-bottom: 0;
}

.vf-u-margin__bottom--xs {
  margin-bottom: 4px;
}

.vf-u-margin__bottom--sm {
  margin-bottom: 8px;
}

.vf-u-margin__bottom--md {
  margin-bottom: 16px;
}

.vf-u-margin__bottom--lg {
  margin-bottom: 20px;
}

.vf-u-margin__bottom--xl {
  margin-bottom: 24px;
}

.vf-u-margin__bottom--xxl {
  margin-bottom: 32px;
}

.vf-u-margin__top--0 {
  margin-top: 0;
}

.vf-u-margin__top--xs {
  margin-top: 4px;
}

.vf-u-margin__top--sm {
  margin-top: 8px;
}

.vf-u-margin__top--md {
  margin-top: 16px;
}

.vf-u-margin__top--lg {
  margin-top: 20px;
}

.vf-u-margin__top--xl {
  margin-top: 24px;
}

.vf-u-margin__top--xxl {
  margin-top: 32px;
}

.vf-u-margin__left--0 {
  margin-left: 0;
}

.vf-u-margin__left--xs {
  margin-left: 4px;
}

.vf-u-margin__left--sm {
  margin-left: 8px;
}

.vf-u-margin__left--md {
  margin-left: 16px;
}

.vf-u-margin__left--lg {
  margin-left: 20px;
}

.vf-u-margin__left--xl {
  margin-left: 24px;
}

.vf-u-margin__left--xxl {
  margin-left: 32px;
}

.vf-u-margin__right--0 {
  margin-right: 0;
}

.vf-u-margin__right--xs {
  margin-right: 4px;
}

.vf-u-margin__right--sm {
  margin-right: 8px;
}

.vf-u-margin__right--md {
  margin-right: 16px;
}

.vf-u-margin__right--lg {
  margin-right: 20px;
}

.vf-u-margin__right--xl {
  margin-right: 24px;
}

.vf-u-margin__right--xxl {
  margin-right: 32px;
}

.vf-u-padding--0 {
  padding: 0;
}

.vf-u-padding--xs {
  padding: 4px;
}

.vf-u-padding--sm {
  padding: 8px;
}

.vf-u-padding--md {
  padding: 16px;
}

.vf-u-padding--lg {
  padding: 20px;
}

.vf-u-padding--xl {
  padding: 24px;
}

.vf-u-padding--xxl {
  padding: 32px;
}

.vf-u-padding__bottom--0 {
  padding-bottom: 0;
}

.vf-u-padding__bottom--xs {
  padding-bottom: 4px;
}

.vf-u-padding__bottom--sm {
  padding-bottom: 8px;
}

.vf-u-padding__bottom--md {
  padding-bottom: 16px;
}

.vf-u-padding__bottom--lg {
  padding-bottom: 20px;
}

.vf-u-padding__bottom--xl {
  padding-bottom: 24px;
}

.vf-u-padding__bottom--xxl {
  padding-bottom: 32px;
}

.vf-u-padding__top--0 {
  padding-top: 0;
}

.vf-u-padding__top--xs {
  padding-top: 4px;
}

.vf-u-padding__top--sm {
  padding-top: 8px;
}

.vf-u-padding__top--md {
  padding-top: 16px;
}

.vf-u-padding__top--lg {
  padding-top: 20px;
}

.vf-u-padding__top--xl {
  padding-top: 24px;
}

.vf-u-padding__top--xxl {
  padding-top: 32px;
}

.vf-u-padding__left--0 {
  padding-left: 0;
}

.vf-u-padding__left--xs {
  padding-left: 4px;
}

.vf-u-padding__left--sm {
  padding-left: 8px;
}

.vf-u-padding__left--md {
  padding-left: 16px;
}

.vf-u-padding__left--lg {
  padding-left: 20px;
}

.vf-u-padding__left--xl {
  padding-left: 24px;
}

.vf-u-padding__left--xxl {
  padding-left: 32px;
}

.vf-u-padding__right--0 {
  padding-right: 0;
}

.vf-u-padding__right--xs {
  padding-right: 4px;
}

.vf-u-padding__right--sm {
  padding-right: 8px;
}

.vf-u-padding__right--md {
  padding-right: 16px;
}

.vf-u-padding__right--lg {
  padding-right: 20px;
}

.vf-u-padding__right--xl {
  padding-right: 24px;
}

.vf-u-padding__right--xxl {
  padding-right: 32px;
}

.vf-u-text-color--green {
  color: #18974c;
}

.vf-u-text-color--green--darkest {
  color: #0a5032;
}

.vf-u-text-color--green--dark {
  color: #007b53;
}

.vf-u-text-color--green--light {
  color: #6cc24a;
}

.vf-u-text-color--green--lightest {
  color: #d0debb;
}

.vf-u-text-color--grey {
  color: #707372;
}

.vf-u-text-color--grey--darkest {
  color: #373a36;
}

.vf-u-text-color--grey--dark {
  color: #54585a;
}

.vf-u-text-color--grey--light {
  color: #a8a99e;
}

.vf-u-text-color--grey--lightest {
  color: #d0d0ce;
}

.vf-u-text-color--red {
  color: #d41645;
}

.vf-u-text-color--red--dark {
  color: #a6093d;
}

.vf-u-text-color--red--light {
  color: #e58f9e;
}

.vf-u-text-color--blue {
  color: #3b6fb6;
}

.vf-u-text-color--blue--dark {
  color: #193f90;
}

.vf-u-text-color--blue--light {
  color: #8bb8e8;
}

.vf-u-text-color--purple {
  color: #734595;
}

.vf-u-text-color--purple--dark {
  color: #563d82;
}

.vf-u-text-color--purple--light {
  color: #cba3d8;
}

.vf-u-text-color--orange {
  color: #f49e17;
}

.vf-u-text-color--orange--dark {
  color: #b65417;
}

.vf-u-text-color--orange--light {
  color: #efc06e;
}

.vf-u-text-color--yellow {
  color: #f4c61f;
}

.vf-u-text-color--yellow--dark {
  color: #ffb81c;
}

.vf-u-text-color--yellow--light {
  color: #fdd757;
}

.vf-u-text-color--bright-green {
  color: #a1be1f;
}

.vf-u-text-color--bright-green--dark {
  color: #7fb428;
}

.vf-u-text-color--bright-green--light {
  color: #e2e868;
}

.vf-u-text-color--ui--black {
  color: #000000;
}

.vf-u-text-color--ui--grey {
  color: #f3f3f3;
}

.vf-u-text-color--ui--grey--light {
  color: #d8d8d8;
}

.vf-u-text-color--ui--yellow {
  color: #fffadc;
}

.vf-u-text-color--ui--red {
  color: #d32f2f;
}

.vf-u-text-color--ui--white {
  color: #ffffff;
}

.vf-u-text-color--ui--off-white {
  color: #fafafa;
}

.vf-u-type__text-body--1 {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.3125;
}

.vf-u-type__text-body--2 {
  font-size: 19px;
  font-weight: 400;
  line-height: 1.421;
}

.vf-u-type__text-body--3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.71;
}

.vf-u-type__text-body--4 {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.57;
}

.vf-u-type__text-body--5 {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.57;
}

.vf-u-type__text-body--6 {
  font-size: 11px;
  font-weight: 600;
  line-height: 1.5;
}

.vf-u-type__text-button--1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
}

.vf-u-type__text-button--2 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
}

.vf-u-type__text-heading--1 {
  font-size: 42px;
  font-weight: 700;
  line-height: 1.547;
}

.vf-u-type__text-heading--2 {
  font-size: 30px;
  font-weight: 500;
  line-height: 1.333;
}

.vf-u-type__text-heading--3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.333;
}

.vf-u-type__text-heading--4 {
  font-size: 21px;
  font-weight: 500;
  line-height: 1.29;
}

.vf-u-type__text-heading--5 {
  font-size: 19px;
  font-weight: 500;
  line-height: 1.5;
}

.vf-u-grid--reset {
  grid-column: 1 / -1;
}

.vf-u-display-none {
  display: none;
}
