$componentInfo: (
             name: "@visual-framework/vf-box",
             version: "2.2.0",
             location: "components/vf-box",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Thu, 05 Nov 2020 12:33:55 GMT"
          );