/* stylelint-disable */
:root {
  --vf-color--green: #18974c;
  --vf-color--green--darkest: #0a5032;
  --vf-color--green--dark: #007b53;
  --vf-color--green--light: #6cc24a;
  --vf-color--green--lightest: #d0debb;
  --vf-color--grey: #707372;
  --vf-color--grey--darkest: #373a36;
  --vf-color--grey--dark: #54585a;
  --vf-color--grey--light: #a8a99e;
  --vf-color--grey--lightest: #d0d0ce;
  --vf-color--red: #d41645;
  --vf-color--red--dark: #a6093d;
  --vf-color--red--light: #e58f9e;
  --vf-color--blue: #3b6fb6;
  --vf-color--blue--dark: #193f90;
  --vf-color--blue--light: #8bb8e8;
  --vf-color--purple: #734595;
  --vf-color--purple--dark: #563d82;
  --vf-color--purple--light: #cba3d8;
  --vf-color--orange: #f49e17;
  --vf-color--orange--dark: #b65417;
  --vf-color--orange--light: #efc06e;
  --vf-color--yellow: #f4c61f;
  --vf-color--yellow--dark: #ffb81c;
  --vf-color--yellow--light: #fdd757;
  --vf-color--bright-green: #a1be1f;
  --vf-color--bright-green--dark: #7fb428;
  --vf-color--bright-green--light: #e2e868;
}

:root {
  --vf-ui-color--black: #000000;
  --vf-ui-color--grey: #d8d8d8;
  --vf-ui-color--grey--light: #f3f3f3;
  --vf-ui-color--yellow: #fffadc;
  --vf-ui-color--red: #d32f2f;
  --vf-ui-color--white: #ffffff;
  --vf-ui-color--off-white: #fafafa;
}

/* stylelint-enable */
/*!
 * Component: @visual-framework/vf-box
 * Version: 1.0.4
 * Location: components/vf-box
 */
.vf-box {
  --box-text-color: var( --vf-box-theme-color--foreground, var(--vf-theme-color--foreground, #000000));
  --box-background-color: var(--vf-box-theme-color--background, var(--vf-theme-color--background, #ffffff));
  background-color: #ffffff;
  background-color: var(--box-background-color);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #000000;
  color: var(--box-text-color);
  display: block;
  margin-bottom: 24px;
  padding: 24px 16px;
  width: 100%;
}
.vf-box :last-child {
  margin-bottom: 0;
}

.vf-box--is-link {
  text-decoration: none;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}
.vf-box--is-link:hover {
  -webkit-box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.vf-box__heading {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 21px;
  font-weight: 500;
  line-height: 1.29;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-box__text {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.71;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}
.vf-content .vf-box__text a,
.vf-box__text a {
  color: currentColor;
  text-decoration: underline;
}
.vf-content .vf-box__text a:hover,
.vf-box__text a:hover {
  color: currentColor;
}

.vf-box--s {
  padding: 16px;
}

.vf-box--r {
  padding: 24px;
}

.vf-box--l {
  padding: 32px;
}

.vf-box--easy {
  --box-text-color: var(--vf-box-theme-color--background, var(--vf-theme-color--background));
  --box-background-color: #ffffff;
  border-bottom: 4px solid;
}

.vf-box--normal {
  --box-text-color: var(--vf-box-theme-color--foreground, var(--vf-theme-color--foreground, #ffffff));
  --box-background-color: var(--vf-box-theme-color--background, var(--vf-theme-color--background, #000000));
}

.vf-box-theme--primary {
  --vf-box-theme-color--foreground: #ffffff;
  --vf-box-theme-color--background: #18974c;
}

.vf-box-theme--secondary {
  --vf-box-theme-color--foreground: #ffffff;
  --vf-box-theme-color--background: #3b6fb6;
}

.vf-box-theme--tertiary {
  --vf-box-theme-color--foreground: #ffffff;
  --vf-box-theme-color--background: #707372;
}

.vf-box-theme--quaternary {
  --vf-box-theme-color--foreground: #000000;
  --vf-box-theme-color--background: #f4c61f;
}

.vf-box-theme--quinary {
  --vf-box-theme-color--background: #f3f3f3;
  --vf-box-theme-color--foreground: #000000;
}

.vf-box--rounded {
  border-radius: 8px;
}

.vf-box--outline {
  background-color: transparent;
  border-style: solid;
  border-width: 2px;
}