// vf-activity-list

$vf-activity-list__item-background--color: set-ui-color(vf-ui-color--white);
$vf-activity-list__item-border--color: set-color(vf-color--grey);
$vf-activity-list__blockquote-text--color: set-color(vf-color--grey--dark);

.vf-activity {
  margin-bottom: 54px;
}

.vf-activity__date {
  @include margin--block(bottom, 32px);
  @include set-type(heading--s);
}

.vf-activity__list {
  padding: 0;
}

.vf-activity__item {
  @include set-type(body--l);
  @include margin--block(bottom, 8px);

  background-color: $vf-activity-list__item-background--color;
  border: 1px solid $vf-activity-list__item-border--color;
  padding: 22px 16px;

  > a {
    @include inline-link;
  }
}

.vf-activity__blockquote {
  @include set-type(body--s);

  color: $vf-activity-list__blockquote-text--color;
  margin-bottom: 8px;
  margin-top: 16px;
}
