{# if we're being passed "context" from a parent template, use it as "card" #}
{%- if context %}
  {% set card = context %}
{% endif %}

{%- if card %}
  {% set card_href = card.card_href %}
  {% set id = card.id %}
  {% set modifier = card.modifier %}
  {% set override_class = card.override_class %}
  {% set card_image = card.card_image %}
  {% set card_title = card.card_title %}
  {% set card_text = card.card_text %}
{% endif %}


{# Decide upon which 'style' the badge has #}
<article
  {# You're using an ID? Really?? That'll go here #}
  {%- if id %} id="{{-id-}}"{% endif %}

  {# Here is where we are adding any modifier #}
  class="vf-card
  {%- if card_href %} vf-card--is-link{% endif %}
  {%- if modifier %} {{modifier}}{% endif -%}

  {# You want a snowflake of a classname for something, here you go #}
  {%- if override_class %} | {{override_class}}{% endif %}
">
  <img src="{{ card_image }}" alt="" class="vf-card__image">
  <div class="vf-card__content">
    <h3 class="vf-card__title">
      {% if card_href %}<a class="vf-card__link" href="{{ card_href if card_href else '#' }}">{% endif %}
      {{ card_title }}
      {% if card_href %}</a>{% endif %}
    </h3>
    <p class="vf-card__text">
      {{ card_text }}
    </p>
  </div>
</article>
