// vf-card

@import 'package.variables.scss';
// Debug information from component's `package.json`:
// ---
/*!
 * Component: #{map-get($componentInfo, 'name')}
 * Version: #{map-get($componentInfo, 'version')}
 * Location: #{map-get($componentInfo, 'location')}
 */

@import 'vf-card.variables.scss';

.vf-card {
  --card-text-color: var(--vf-card-theme-color--foreground, #{set-ui-color(vf-ui-color--black)});
  --card-background-color: var(--vf-card-theme-color--background , #{set-ui-color(vf-ui-color--white)});

  background-color: var(--card-background-color);
  /* border: 1px solid var(--vf-card-theme-color--border, var(--card-border-color, #{set-color(vf-grey--lightest)})); */
  box-shadow: 0 2px 4px rgba(set-color(vf-color--grey--light), .5);
  display: grid;
  grid-template-rows: 288px 1fr;
  position: relative;
}

.vf-card__image {
  grid-column: 1 / -1;
  grid-row: 1;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.vf-card__content {
  grid-column: 1 / -1;
  padding: 16px 24px;
}

.vf-card__title {
  @include set-type(text-heading--3);

  background-color: var(--card-background-color);
  color: set-ui-color(vf-ui-color--black);
  color: var( --card-text-color, #{set-ui-color(vf-ui-color--black)} );
  text-decoration: none;

  .vf-card__link {
    color: inherit;
    text-decoration: none;

    &::after {
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition-duration: 300ms;
      transition-property: box-shadow;
      transition-timing-function: ease-in-out;
      z-index: 512;
    }

    &:hover {
      color: currentColor;
      text-decoration: none;
      &::after {
        box-shadow: 0 0 4px 4px rgba(0, 0, 0, .2);
        transition-duration: 250ms;
      }
    }
  }

  .vf-card__link:hover,
  .vf-card__link:visited,
  .vf-card__link:visited:hover {
    color: currentColor;
  }
}

.vf-card__text {
  @include set-type(text-body--2);

  color: set-ui-color(vf-ui-color--black);
  color: var( --card-text-color, #{set-ui-color(vf-ui-color--black)} );

  a,
  .vf-card__link {
    position: relative;
    z-index: 1984;
  }
}

.vf-card__link {
  @include inline-link;
}

// vf-card levels of design
.vf-card--very-easy {
  border-bottom: 8px solid rgba(0, 0, 0, 0); // fixes a grid layout glitch when used with variant volume's that have a bottom border
}

.vf-card--easy {
  border-bottom: 8px solid set-ui-color(vf-ui-color--black);
  border-bottom-color: var(--vf-card-theme-color--border, #{set-ui-color(vf-ui-color--black)});

  .vf-card__title {
    --card-text-color: #{set-color(vf-color--blue)};
  }
  .vf-card__text {
    --card-text-color: #{set-ui-color(vf-ui-color--black)};
  }
}

.vf-card--normal {
  --card-text-color: var(--vf-card-theme-color--foreground, #{set-ui-color(vf-ui-color--white)});
  --card-background-color: var(--vf-card-theme-color--background, #{set-ui-color(vf-ui-color--black)});
}

.vf-card--hard {
  --card-text-color: var(--vf-card-theme-color--foreground, #{set-ui-color(vf-ui-color--white)});
  --card-background-color: var(--vf-card-theme-color--background, #{set-ui-color(vf-ui-color--black)});

  .vf-card__content {
    grid-row: 2 / -1;
  }

  .vf-card__title {
    @include set-type(text-body--5);

    display: inline-block;
    margin-bottom: 0;
    margin-left: -24px;
    margin-top: 2px;
    padding: 16px 24px;
    text-transform: uppercase;
  }

  .vf-card__text {
    padding-top: 16px;

    .vf-card__link {
      position: relative;
      z-index: 1984;
    }
  }
}

// vf-card themes

[class*='ary'].vf-card--easy {
  --vf-card-theme-color--background: #{set-ui-color(vf-ui-color--white)};
}
[class*='ary'] {
  .vf-card__text .vf-card__link {
    color: inherit;
    text-decoration: underline;
  }
}

.vf-card-theme--primary {
  --vf-card-theme-color--foreground: #{set-ui-color(vf-ui-color--white)};
  --vf-card-theme-color--border: #{set-color(vf-color--blue)};
  --vf-card-theme-color--background: #{set-color(vf-color--blue)};
}

.vf-card-theme--secondary {
  --vf-card-theme-color--foreground: #{set-ui-color(vf-ui-color--black)};
  --vf-card-theme-color--border: #{set-color(vf-color--green)};
  --vf-card-theme-color--background: #{set-color(vf-color--green)};
}

.vf-card-theme--tertiary {
  --vf-card-theme-color--foreground: #{set-ui-color(vf-ui-color--white)};
  --vf-card-theme-color--border: #{set-color(vf-color--grey--dark)};
  --vf-card-theme-color--background: #{set-color(vf-color--grey--dark)};
}

.vf-card-theme--quaternary {
  --vf-card-theme-color--foreground: #{set-ui-color(vf-ui-color--black)};
  --vf-card-theme-color--border: #{set-color(vf-color--yellow)};
  --vf-card-theme-color--background: #{set-color(vf-color--yellow)};
}
