$componentInfo: (
             name: "@visual-framework/vf-page-header",
             version: "1.0.0",
             location: "components/vf-page-header",
             vfCoreVersion: "2.2.5"
          );