// vf-link
@import 'vf-link.variables.scss';

.vf-link--secondary {
  @include inline-link($vf-link---secondary-color, $vf-link---secondary-color--hover, $vf-link---secondary-color--visited, $vf-include-normalisations: true);
}

.vf-link--secondary--visited {
  color: $vf-link---secondary-color--visited;
}

.vf-link--secondary--hover {
  color: $vf-link---secondary-color--hover;
}
