.vf-link {
  border-bottom: none;
  text-decoration: underline;
  color: #287ae2;
}

.vf-link:visited {
  color: #54585a;
  border-bottom: none;
  text-decoration: underline;
}

.vf-link:hover {
  color: #003da5;
  border-bottom: none;
  text-decoration: underline;
}

.vf-link[disabled] {
  color: #b9b3a8;
  cursor: not-allowed;
  border-bottom: none;
  text-decoration: underline;
}

.vf-link--visited {
  color: #54585a;
}

.vf-link--hover {
  color: #4286ff;
}

.vf-link--secondary {
  border-bottom: none;
  text-decoration: underline;
  color: #707372;
}

.vf-link--secondary:visited {
  color: #b9b3a8;
  border-bottom: none;
  text-decoration: underline;
}

.vf-link--secondary:hover {
  color: #4286ff;
  border-bottom: none;
  text-decoration: underline;
}

.vf-link--secondary[disabled] {
  color: #b9b3a8;
  cursor: not-allowed;
  border-bottom: none;
  text-decoration: underline;
}

.vf-link--secondary--visited {
  color: #b9b3a8;
}

.vf-link--secondary--hover {
  color: #4286ff;
}
