$componentInfo: (
             name: "@visual-framework/vf-activity-list",
             version: "1.0.0-alpha.9",
             location: "components/vf-activity-list",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Tue, 27 Oct 2020 16:37:12 GMT"
          );