$componentInfo: (
             name: "@visual-framework/vf-activity-list",
             version: "1.0.0-alpha.9",
             location: "components/vf-activity-list",
             vfCoreVersion: "2.2.8",
             buildTimeStamp: "Fri, 23 Oct 2020 09:53:36 GMT"
          );