$componentInfo: (
             name: "@visual-framework/vf-activity-list",
             version: "1.0.0-alpha.9",
             location: "components/vf-activity-list",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Mon, 02 Nov 2020 09:27:39 GMT"
          );