<div class="vf-activity">

  <p class="vf-activity__date">{{ date }}</p>

  <ul class="vf-activity__list | vf-list">

    {% for item in list %}

    <li class="vf-activity__item">
      {{ item }}
    </li>

    {% endfor %}

  </ul>
</div>
