$componentInfo: (
             name: "@visual-framework/vf-form__fieldset",
             version: "1.0.1",
             location: "components/vf-form/vf-form__fieldset",
             vfCoreVersion: "2.2.4"
          );