$componentInfo: (
             name: "@visual-framework/vf-video-container",
             version: "1.0.0-beta.1",
             location: "components/vf-video-container",
             vfCoreVersion: "2.2.8",
             buildTimeStamp: "Fri, 23 Oct 2020 11:09:14 GMT"
          );