:root {
  --vf-color--green: #18974c;
  --vf-color--green--darkest: #0a5032;
  --vf-color--green--dark: #007b53;
  --vf-color--green--light: #6cc24a;
  --vf-color--green--lightest: #d0debb;
  --vf-color--grey: #707372;
  --vf-color--grey--darkest: #373a36;
  --vf-color--grey--dark: #54585a;
  --vf-color--grey--light: #a8a99e;
  --vf-color--grey--lightest: #d0d0ce;
  --vf-color--red: #d41645;
  --vf-color--red--dark: #a6093d;
  --vf-color--red--light: #e58f9e;
  --vf-color--blue: #3b6fb6;
  --vf-color--blue--dark: #193f90;
  --vf-color--blue--light: #8bb8e8;
  --vf-color--purple: #734595;
  --vf-color--purple--dark: #563d82;
  --vf-color--purple--light: #cba3d8;
  --vf-color--orange: #f49e17;
  --vf-color--orange--dark: #b65417;
  --vf-color--orange--light: #efc06e;
  --vf-color--yellow: #f4c61f;
  --vf-color--yellow--dark: #ffb81c;
  --vf-color--yellow--light: #fdd757;
  --vf-color--bright-green: #a1be1f;
  --vf-color--bright-green--dark: #7fb428;
  --vf-color--bright-green--light: #e2e868;
}

:root {
  --vf-ui-color--black: #000000;
  --vf-ui-color--grey: #f3f3f3;
  --vf-ui-color--grey--light: #d8d8d8;
  --vf-ui-color--yellow: #fffadc;
  --vf-ui-color--red: #d32f2f;
  --vf-ui-color--white: #ffffff;
  --vf-ui-color--off-white: #fafafa;
}

/*!
 * Component: @visual-framework/embl-grid
 * Version: 1.0.2
 * Location: components/embl-grid
 */
.embl-grid {
  grid-column: main;
  margin-bottom: 48px;
}

.embl-grid > :first-child {
  grid-column: 1 / -1;
  margin-right: var(--embl-grid-spacing-normaliser);
}

@media (min-width: 846px) {
  .embl-grid > :first-child {
    grid-column: span 1;
  }
}

@media (max-width: 845px) {
  .embl-grid > *:not(:first-child) {
    grid-column: 1 / -1;
  }
}

@media (min-width: 600px) {
  .embl-grid {
    display: grid;
    grid-column-gap: var(--page-grid-gap);
    /* stylelint-disable declaration-colon-space-after */
    grid-template-columns: calc(var(--embl-grid-module--prime) + var(--embl-grid-spacing-normaliser)) [main-start] repeat(auto-fit, minmax(288px, 1fr)) [main-end];
    /* stylelint-enable */
  }
}

.embl-grid--has-centered-content {
  --embl-grid-spacing-normaliser: 0;
  --page-grid-gap: 0;
}

@media (min-width: 1024px) {
  .embl-grid--has-centered-content {
    --page-grid-gap: 36px;
    /* stylelint-disable declaration-colon-space-after */
    grid-template-columns: var(--embl-grid-module--prime) auto var(--embl-grid-module--prime);
    /* stylelint-enable */
  }
}

.embl-grid--has-sidebar > *:nth-child(3n+2) {
  grid-column: span 2;
}

@media (max-width: 845px) {
  .embl-grid--has-sidebar > *:last-child {
    grid-column: 1 / -1;
  }
}

@media (min-width: 846px) and (max-width: 1219px) {
  .embl-grid--has-sidebar > *:last-child {
    grid-column: 2 / -1;
  }
}

@media (min-width: 1220px) {
  .embl-grid--has-sidebar > *:last-child {
    position: relative;
  }
  .embl-grid--has-sidebar > *:last-child::before {
    background-color: #d8d8d8;
    content: '';
    height: 100%;
    left: calc(var(--page-grid-gap) / -2);
    position: absolute;
    width: 1px;
  }
}

.embl-grid--alt {
  --page-grid-gap: 0;
  background-color: #000000;
  color: #ffffff;
  grid-column: 1 / -1;
  /* stylelint-disable declaration-colon-space-after */
  grid-template-columns: minmax(1em, auto) calc(var(--embl-grid-module--prime) + var(--embl-grid-spacing-normaliser)) minmax(288px, calc(76.5em - 206px)) minmax(1em, auto);
  /* stylelint-enable */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  /* stylelint-disable order/properties-alphabetical-order, order/order  */
  padding-top: 1.5rem;
  /* stylelint-enable */
}

.embl-grid--alt > :first-child {
  grid-column: 2 / -2;
}

.embl-grid--alt > :last-child {
  grid-column: 2 / -2;
}

@media (min-width: 768px) {
  .embl-grid--alt > :first-child {
    grid-column: 2 / span 1;
  }
  .embl-grid--alt > :last-child {
    grid-column: 3;
    margin-left: 16px;
  }
}

@media (min-width: 1200px) {
  .embl-grid--alt > :last-child {
    margin-left: 30px;
  }
}

/*!
 * Component: @visual-framework/vf-section-header
 * Version: 1.1.0
 * Location: components/vf-section-header
 */
.vf-section-header__heading {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.333;
  margin: 0 0 0 0;
}

.vf-section-header__heading + .vf-section-header__subheading,
.vf-section-header__heading + .vf-section-header__content {
  margin-top: 20px;
}

.vf-section-header__heading--is-link {
  border-bottom: none;
  text-decoration: none;
  color: #3b6fb6;
  cursor: pointer;
  display: block;
}

.vf-section-header__heading--is-link:visited {
  color: #3b6fb6;
  border-bottom: none;
}

.vf-section-header__heading--is-link:visited:hover {
  color: #3b6fb6;
  text-decoration: underline;
}

.vf-section-header__heading--is-link:hover {
  color: #193f90;
  border-bottom: none;
  text-decoration: underline;
}

.vf-section-header__heading--is-link .vf-section-header__icon {
  fill: currentColor;
  margin-left: 8px;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  -webkit-transition-duration: 125ms;
          transition-duration: 125ms;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-timing-function: cubic-bezier(0.45, 0.05, 0.55, 0.95);
          transition-timing-function: cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

.vf-section-header__heading--is-link:hover .vf-section-header__icon, .vf-section-header__heading--is-link:focus .vf-section-header__icon {
  -webkit-transform: translateX(4px) translateY(4px);
          transform: translateX(4px) translateY(4px);
}

.vf-section-header__heading--is-link:hover:visited, .vf-section-header__heading--is-link:focus:visited {
  color: #193f90;
}

.vf-section-header__subheading {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 21px;
  font-weight: 500;
  line-height: 1.29;
  margin: 0 0 0 0;
}

.vf-section-header__text {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.421;
  margin: 0 0 8px 0;
}

.vf-section-header__text:last-of-type {
  margin: 0 0 0 0;
}

.vf-section-header__heading + .vf-section-header__text {
  margin-top: 24px;
}

.vf-section-header__subheading + .vf-section-header__text {
  margin-top: 16px;
}

.vf-section-header__heading + .vf-section-header__text {
  margin-top: 20px;
}

.vf-section-header__subheading + .vf-section-header__text {
  margin-top: 16px;
}

/*!
 * Component: @visual-framework/vf-video
 * Version: 1.0.0-beta.1
 * Location: components/vf-video
 */
.vf-video {
  height: 0;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  position: relative;
}

.vf-video iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/*!
 * Component: @visual-framework/vf-video-teaser
 * Version: 1.0.0-beta.1
 * Location: components/vf-video-teaser
 */
.vf-video-teaser__image {
  display: block;
  margin-bottom: 16px;
}

.vf-video-teaser__title {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.333;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  margin: 0 0 16px 0;
}

/*!
 * Component: @visual-framework/vf-video-container
 * Version: 1.0.0-beta.1
 * Location: components/vf-video-container
 */
