$componentInfo: (
             name: "@visual-framework/vf-form__label",
             version: "1.2.0",
             location: "components/vf-form/vf-form__label",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Thu, 05 Nov 2020 09:33:31 GMT"
          );