$componentInfo: (
             name: "@visual-framework/vf-form__label",
             version: "1.2.0",
             location: "components/vf-form/vf-form__label",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Tue, 27 Oct 2020 15:24:25 GMT"
          );