$componentInfo: (
             name: "@visual-framework/vf-form__label",
             version: "1.2.0",
             location: "components/vf-form/vf-form__label",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Fri, 30 Oct 2020 16:39:45 GMT"
          );