/* Edge cases just for the component library */

/* Ensure the nested iframe preview of components is appropretly sized */
.Pen-panel {
  height: auto !important;

  .Preview-iframe {
    width: 100%;
  }

}

.Preview-iframe {
  border: 1px solid #b3b3b3;
  padding: 0;
}
