$componentInfo: (
             name: "@visual-framework/vf-heading",
             version: "1.0.0",
             location: "components/vf-heading",
             vfCoreVersion: "2.2.8",
             buildTimeStamp: "Fri, 23 Oct 2020 09:33:56 GMT"
          );