$componentInfo: (
             name: "@visual-framework/vf-heading",
             version: "1.0.0",
             location: "components/vf-heading",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Fri, 06 Nov 2020 14:56:35 GMT"
          );