$componentInfo: (
             name: "@visual-framework/vf-heading",
             version: "1.0.0",
             location: "components/vf-heading",
             vfCoreVersion: "2.2.8",
             buildTimeStamp: "Tue, 20 Oct 2020 07:45:08 GMT"
          );