// vf-font-plex-mono

@import 'package.variables.scss';
// Debug information from component's `package.json`:
// ---
/*!
 * Component: #{map-get($componentInfo, 'name')}
 * Version: #{map-get($componentInfo, 'version')}
 * Location: #{map-get($componentInfo, 'location')}
 */

$font-prefix: '../assets/vf-font-plex-mono/assets' !default;
@import 'assets/scss/ibm-plex.scss';

.vf-font-plex-mono {
  @include set-type(text-body--1,$vf-font-family--monospace, $custom-margin-bottom: 0);
}