// setup files required

// sass-lint:disable clean-import-paths
@import 'vf-global-variables';
@import 'vf-variables';
@import 'vf-functions';
@import 'vf-mixins';

// component specific styles

@import 'vf-link/vf-link.variables.scss';
@import 'vf-summary.variables.scss';
@import 'vf-summary.scss';

// component variant styles

@import 'vf-summary--article.scss';
@import 'vf-summary--job.scss';
@import 'vf-summary--news.scss';
@import 'vf-summary--profile.scss';
@import 'vf-summary--has-image.scss';
