/* stylelint-disable */
:root {
  --vf-color--green: #18974c;
  --vf-color--green--darkest: #0a5032;
  --vf-color--green--dark: #007b53;
  --vf-color--green--light: #6cc24a;
  --vf-color--green--lightest: #d0debb;
  --vf-color--grey: #707372;
  --vf-color--grey--darkest: #373a36;
  --vf-color--grey--dark: #54585a;
  --vf-color--grey--light: #a8a99e;
  --vf-color--grey--lightest: #d0d0ce;
  --vf-color--red: #d41645;
  --vf-color--red--dark: #a6093d;
  --vf-color--red--light: #e58f9e;
  --vf-color--blue: #3b6fb6;
  --vf-color--blue--dark: #193f90;
  --vf-color--blue--light: #8bb8e8;
  --vf-color--purple: #734595;
  --vf-color--purple--dark: #563d82;
  --vf-color--purple--light: #cba3d8;
  --vf-color--orange: #f49e17;
  --vf-color--orange--dark: #b65417;
  --vf-color--orange--light: #efc06e;
  --vf-color--yellow: #f4c61f;
  --vf-color--yellow--dark: #ffb81c;
  --vf-color--yellow--light: #fdd757;
  --vf-color--bright-green: #a1be1f;
  --vf-color--bright-green--dark: #7fb428;
  --vf-color--bright-green--light: #e2e868;
}

:root {
  --vf-ui-color--black: #000000;
  --vf-ui-color--grey: #d8d8d8;
  --vf-ui-color--grey--light: #f3f3f3;
  --vf-ui-color--yellow: #fffadc;
  --vf-ui-color--red: #d32f2f;
  --vf-ui-color--white: #ffffff;
  --vf-ui-color--off-white: #fafafa;
}

/* stylelint-enable */
.vf-summary {
  --vf-text-margin--bottom: 16px;
}

.vf-summary--profile {
  --vf-icon--avatar-width: 160px;
}

/*!
 * Component: @visual-framework/vf-summary
 * Version: 1.0.6
 * Location: components/vf-summary
 */
.vf-summary {
  --vf-text-margin--bottom: 16px;
}

.vf-summary--profile {
  --vf-icon--avatar-width: 160px;
}

.vf-summary {
  align-self: start;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  display: grid;
  margin-bottom: 2rem;
  position: relative;
}
.vf-summary > *:last-child {
  margin-bottom: 0;
}
.vf-box .vf-summary .vf-summary__title {
  color: inherit;
}
.vf-box .vf-summary .vf-summary__link {
  color: inherit;
}
.vf-box .vf-summary .vf-summary__date {
  color: inherit;
}
.vf-box .vf-summary .vf-summary__text {
  color: inherit;
}
.vf-box .vf-summary .vf-summary__source {
  color: inherit;
}
.vf-box .vf-summary .vf-summary__author {
  color: inherit;
}
.vf-box .vf-summary .vf-link {
  color: inherit;
}

.vf-summary__category {
  --vf-text-margin--bottom: 0;
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.57;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  color: #707372;
  margin-bottom: 0;
}

.vf-summary__date {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.57;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  color: #707372;
}

.vf-summary__source {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.57;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  color: #707372;
  font-style: italic;
}

.vf-summary__link {
  border-bottom: none;
  text-decoration: none;
  color: #3b6fb6;
}
.vf-summary__link:visited {
  color: #3b6fb6;
  border-bottom: none;
}
.vf-summary__link:visited:hover {
  color: #3b6fb6;
  text-decoration: underline;
}
.vf-summary__link:hover {
  color: #193f90;
  border-bottom: none;
  text-decoration: underline;
}

.vf-summary__link--overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.vf-summary__meta {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.57;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-summary__text {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.421;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-summary__title {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.333;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-summary__author {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.57;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  color: #707372;
  font-style: italic;
}

.vf-summary--article .vf-summary__date {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  position: relative;
}
.vf-summary--article .vf-summary__meta {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.vf-summary--article .vf-summary__meta > * {
  margin-bottom: 0;
}
.vf-summary--article .vf-summary__title {
  --vf-text-margin--bottom: 4px;
}

.vf-summary--job {
  grid-template-columns: auto 1fr;
}
.vf-summary--job .vf-summary__date {
  -ms-flex-item-align: center;
      align-self: center;
}
.vf-summary--job .vf-summary__date span {
  color: #d41645;
}
.vf-summary--job .vf-summary__meta {
  --vf-text-margin--bottom: 4px;
  grid-column: 1/-1;
}
.vf-summary--job .vf-summary__text {
  grid-column: 1/-1;
}
.vf-summary--job .vf-summary__title {
  grid-column: 1/-1;
}

.vf-summary--news {
  -webkit-column-gap: 0;
     -moz-column-gap: 0;
          column-gap: 0;
  grid-template-rows: auto;
  margin-bottom: 48px;
  row-gap: 16px;
}
.vf-summary--news .vf-summary__image {
  grid-column: 1/span 1;
  grid-row: 1/span 4;
  margin-right: 30px;
  max-width: 180px;
  width: 100%;
}
.vf-summary--news .vf-summary__title {
  grid-column: 2/-1;
}
.vf-summary--news .vf-summary__category {
  display: block;
  grid-column: 2/-1;
  margin-bottom: 16px;
  margin-right: 1rem;
  position: relative;
  text-transform: uppercase;
}
.vf-summary--news .vf-summary__date {
  --vf-text-margin--bottom: 0px;
  grid-column: 2/-1;
  grid-row: 1;
}
.vf-summary--news .vf-summary__text {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: block;
  grid-column: 2/-1;
}
.vf-summary--news .vf-summary__text > .vf-summary__category {
  margin-top: -16px;
}
@media (min-width: 600px) {
  .vf-summary--news {
    grid-template-columns: minmax(0, auto) 1fr;
    row-gap: unset;
  }
}

.vf-summary--profile {
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  grid-template-columns: minmax(0, var(--vf-icon--avatar-width)) 1fr;
  grid-template-rows: auto;
  margin-bottom: 48px;
}
.vf-summary--profile .vf-summary__image {
  align-self: start;
  grid-column: 1/span 1;
  grid-row: 1/span 6;
  height: auto;
  margin-right: 30px;
  max-height: var(--vf-icon--avatar-width);
  max-width: var(--vf-icon--avatar-width);
  width: 100%;
}
.vf-summary--profile .vf-summary__title {
  --vf-text-margin--bottom: 0;
  font-size: 19px;
  grid-column: 2/-1;
  line-height: 1.5;
}
.vf-summary--profile .vf-summary__text {
  --vf-text-margin--bottom: 0;
}

.vf-summary__link {
  border-bottom: none;
  text-decoration: none;
  color: #3b6fb6;
}
.vf-summary__link:visited {
  color: #3b6fb6;
  border-bottom: none;
}
.vf-summary__link:visited:hover {
  color: #3b6fb6;
  text-decoration: underline;
}
.vf-summary__link:hover {
  color: #193f90;
  border-bottom: none;
  text-decoration: underline;
}

.vf-summary__link--secondary {
  border-bottom: none;
  text-decoration: none;
  color: #373a36;
}
.vf-summary__link--secondary:visited {
  color: #373a36;
  border-bottom: none;
}
.vf-summary__link--secondary:visited:hover {
  color: #373a36;
  text-decoration: underline;
}
.vf-summary__link--secondary:hover {
  color: #000000;
  border-bottom: none;
  text-decoration: underline;
}

.vf-summary__image--avatar {
  border-radius: 50%;
}

.vf-summary__email {
  --vf-text-margin--bottom: 24px;
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.421;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  word-break: break-all;
}

.vf-summary__phone {
  --vf-text-margin--bottom: 0;
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.421;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}
.vf-summary__phone + .vf-summary__phone {
  --vf-text-margin--bottom: 8px;
}

.vf-summary--mobile {
  position: relative;
}
.vf-summary--mobile::after {
  content: "(mobile)";
  margin-left: 4px;
  position: absolute;
}

.vf-summary__uuid {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.57;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-summary--profile-l {
  --vf-icon--avatar-width: 128px;
}
.vf-summary--profile-l .vf-summary__email {
  --vf-text-margin--bottom: 8px;
}

.vf-summary--profile-r {
  --vf-icon--avatar-width: 80px;
}
.vf-summary--profile-r .vf-summary__title {
  --vf-text-margin--bottom: 8px;
}
.vf-summary--profile-r .vf-summary__text {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.57;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}
.vf-summary--profile-r .vf-summary__email {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.57;
  margin: 0 0 0 0;
}
.vf-summary--profile-r .vf-summary__image {
  margin-right: 16px;
}

.vf-summary--profile-s {
  --vf-icon--avatar-width: 60px;
}
.vf-summary--profile-s .vf-summary__image {
  margin-right: 8px;
}
.vf-summary--profile-s .vf-summary__title {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.57;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-summary--has-image {
  -webkit-column-gap: 18px;
     -moz-column-gap: 18px;
          column-gap: 18px;
  grid-template-columns: minmax(50px, auto) 1fr;
  grid-template-rows: auto;
  margin: 0 0 48px 0;
}
.vf-summary--has-image .vf-summary__image {
  grid-column: 1/span 1;
  grid-row: 1/span 4;
  width: 180px;
}
.vf-summary--has-image .vf-summary__image--thumbnail {
  width: 50px;
}
.vf-summary--has-image .vf-summary__title {
  grid-column: 2/-1;
}
.vf-summary--has-image .vf-summary__text {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: block;
  grid-column: 2/-1;
}