<article class="vf-container embl-grid vf-u-background-color--grey--lightest">
  <div class="vf-section-header"><a class="vf-section-header__heading vf-section-header__heading--is-link" href="JavaScript:Void(0);"> Projects <svg class="vf-section-header__icon | vf-icon vf-icon-arrow--inline-end" width="24" height="24" xmlns="http://www.w3.org/2000/svg"><path d="M0 12c0 6.627 5.373 12 12 12s12-5.373 12-12S18.627 0 12 0C5.376.008.008 5.376 0 12zm13.707-5.209l4.5 4.5a1 1 0 010 1.414l-4.5 4.5a1 1 0 01-1.414-1.414l2.366-2.367a.25.25 0 00-.177-.424H6a1 1 0 010-2h8.482a.25.25 0 00.177-.427l-2.366-2.368a1 1 0 011.414-1.414z" fill="" fill-rule="nonzero"></path></svg></a>
    <p
        class="vf-section-header__subheading">Discover what's on at EMBL</p>
        <p class="vf-section-header__text">Browse upcoming courses, conferences, seminars and events</p>
  </div>
  <div class="vf-container__content | vf-grid vf-grid__col-4">
    <a href="JavaScript:Void(0);" class="vf-summary vf-summary--event | vf-summary--is-link vf-summary--easy vf-summary-theme--primary">
      <p class="vf-summary__date">04 September</p>
      <h3 class="vf-summary__title">Protein Synthesis and Translational Control</h3>
      <p class="vf-summary__text">EMBO Workshop</p>
      <p class="vf-summary__location">Heidelberg</p>

      <svg class="vf-summary__icon | vf-icon vf-icon-arrow--right" width="24" height="24" xmlns="http://www.w3.org/2000/svg"><path d="M23.6 11.289l-9.793-9.7a2.607 2.607 0 00-3.679.075 2.638 2.638 0 00-.068 3.689l3.871 3.714a.25.25 0 01-.173.43H2.135A2.28 2.28 0 00.1 12c0 .815.448 2.51 2 2.51h11.679a.25.25 0 01.177.427l-3.731 3.733a2.66 2.66 0 003.758 3.754l9.625-9.72a1 1 0 00-.008-1.415z" fill="" fill-rule="nonzero"/></svg>
    </a>
    <a href="JavaScript:Void(0);" class="vf-summary vf-summary--event | vf-summary--is-link vf-summary--easy vf-summary-theme--primary">
      <p class="vf-summary__date">04 September</p>
      <h3 class="vf-summary__title">Protein Synthesis and Translational Control</h3>
      <p class="vf-summary__text">EMBO Workshop</p>
      <p class="vf-summary__location">Heidelberg</p>

      <svg class="vf-summary__icon | vf-icon vf-icon-arrow--right" width="24" height="24" xmlns="http://www.w3.org/2000/svg"><path d="M23.6 11.289l-9.793-9.7a2.607 2.607 0 00-3.679.075 2.638 2.638 0 00-.068 3.689l3.871 3.714a.25.25 0 01-.173.43H2.135A2.28 2.28 0 00.1 12c0 .815.448 2.51 2 2.51h11.679a.25.25 0 01.177.427l-3.731 3.733a2.66 2.66 0 003.758 3.754l9.625-9.72a1 1 0 00-.008-1.415z" fill="" fill-rule="nonzero"/></svg>
    </a>
    <a href="JavaScript:Void(0);" class="vf-summary vf-summary--event | vf-summary--is-link vf-summary--easy vf-summary-theme--primary">
      <p class="vf-summary__date">04 September</p>
      <h3 class="vf-summary__title">Protein Synthesis and Translational Control</h3>
      <p class="vf-summary__text">EMBO Workshop</p>
      <p class="vf-summary__location">Heidelberg</p>

      <svg class="vf-summary__icon | vf-icon vf-icon-arrow--right" width="24" height="24" xmlns="http://www.w3.org/2000/svg"><path d="M23.6 11.289l-9.793-9.7a2.607 2.607 0 00-3.679.075 2.638 2.638 0 00-.068 3.689l3.871 3.714a.25.25 0 01-.173.43H2.135A2.28 2.28 0 00.1 12c0 .815.448 2.51 2 2.51h11.679a.25.25 0 01.177.427l-3.731 3.733a2.66 2.66 0 003.758 3.754l9.625-9.72a1 1 0 00-.008-1.415z" fill="" fill-rule="nonzero"/></svg>
    </a>
    <a href="JavaScript:Void(0);" class="vf-summary vf-summary--event | vf-summary--is-link vf-summary--easy vf-summary-theme--primary">
      <p class="vf-summary__date">04 September</p>
      <h3 class="vf-summary__title">Protein Synthesis and Translational Control</h3>
      <p class="vf-summary__text">EMBO Workshop</p>
      <p class="vf-summary__location">Heidelberg</p>

      <svg class="vf-summary__icon | vf-icon vf-icon-arrow--right" width="24" height="24" xmlns="http://www.w3.org/2000/svg"><path d="M23.6 11.289l-9.793-9.7a2.607 2.607 0 00-3.679.075 2.638 2.638 0 00-.068 3.689l3.871 3.714a.25.25 0 01-.173.43H2.135A2.28 2.28 0 00.1 12c0 .815.448 2.51 2 2.51h11.679a.25.25 0 01.177.427l-3.731 3.733a2.66 2.66 0 003.758 3.754l9.625-9.72a1 1 0 00-.008-1.415z" fill="" fill-rule="nonzero"/></svg>
    </a>
  </div>
</article>
