// vf-font-plex-mono

// $use-global-typography: false;
$vf-font-family-sans-serif: 'IBM Plex Sans', Helvetica, Arial, sans-serif;

// html, button {
//   font-family: $vf-font-family-monospace;
// }

$font-prefix: '../assets/vf-font-plex-sans/assets' !default;
@import 'assets/scss/ibm-plex.scss'
