<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" media="all" href="/vf-core/css/styles.css" />
    <title>embl-content-meta-properties | Visual Framework 2.0</title>
    <link rel="shortcut icon" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/favicon.ico">
<link rel="apple-touch-icon" sizes="180x180" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/favicon-16x16.png">
<link rel="manifest" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/site.webmanifest">
<link rel="mask-icon" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/safari-pinned-tab.svg" color="#ffffff">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

    <!-- Descriptive meta -->
    <meta name="title" content="Local components">
    <meta name="author" content="EMBL">
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://visual-framework.github.io/vf-core//components/embl-content-meta-properties/">
    <meta property="og:title" content="Local components">
    <meta property="og:description" content="">
    

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="og:url" content="https://visual-framework.github.io/vf-core//components/embl-content-meta-properties/">
    <meta property="twitter:title" content="Local components">
    <meta property="twitter:description" content="">
    
  </head>
  <body class=" vf-body" >
    <header class="vf-global-header | vf-search-client-side--no-index">

      <div class="vf-global-header__inner">
        
<a href="/vf-core/"
class="vf-logo | vf-logo--has-text">
  <img class="vf-logo__image" src="https://visual-framework.github.io/vf-core/assets/vf-logo/assets/logo.svg" alt="Visual Framework 2.0">
  <span class="vf-logo__text">Visual Framework 2.0</span>
</a>

        <nav class="vf-navigation vf-navigation--global">
          <ul class="vf-navigation__list | vf-list--inline">
            <li class="vf-navigation__item">
              <a href="/vf-core/" class="vf-navigation__link">About</a>
            </li>
            <li class="vf-navigation__item">
              <a href="/vf-core/components" class="vf-navigation__link">Components</a>
            </li>
            <li class="vf-navigation__item">
              <a href="/vf-core/developing" class="vf-navigation__link">Documentation</a>
            </li>
            <li class="vf-navigation__item">
              <a href="/vf-core/search" class="vf-navigation__link">Search</a>
            </li>
            <li class="vf-navigation__item">
              <a href="https://join.slack.com/t/visual-framework/shared_invite/enQtNDAxNzY0NDg4NTY0LWFhMjEwNGY3ZTk3NWYxNWVjOWQ1ZWE4YjViZmY1YjBkMDQxMTNlNjQ0N2ZiMTQ1ZTZiMGM4NjU5Y2E0MjM3ZGQ" class="vf-navigation__link">Help, chat</a>
            </li>
          </ul>
        </nav>
      </div>

    </header>
    
    
    <nav class="vf-breadcrumbs | vf-search-client-side--no-index" aria-label="Breadcrumb">
      <ul class="vf-breadcrumbs__list | vf-list vf-list--inline">
        <li class="vf-breadcrumbs__item">
          <a href="/vf-core/" class="vf-breadcrumbs__link">Visual Framework 2.0</a>
        </li>
        
        
          
          <li class="vf-breadcrumbs__item">
            <a href="/vf-core/components" class="vf-breadcrumbs__link">Components</a>
          </li>
        
        
        
          
        
        
        <li class="vf-breadcrumbs__item">
          
            embl-content-meta-properties
          
        </li>
      </ul>
    </nav>
    

    <div class="embl-grid">
  <div class="vf-search-client-side--no-index">

<div class="vf-links vf-links--tight vf-links__list--s | vf-u-margin__top--md">
  <h3 class="vf-links__heading">Components</h3>
  <ul class="vf-links__list vf-links__list--secondary | vf-list">
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/ebi-header-footer">
        EBI Header and Footer
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/ebi-vf1-integration">
        Compatibility with EBI-VF 1.x Component
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/embl-breadcrumbs-lookup">
        EMBL Breadcrumbs lookup
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/embl-conditional-edit">
        EMBL Conditional Edit Links component
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/embl-content-hub-loader">
        EMBL ContentHub Loader component
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/embl-content-meta-properties">
        EMBL Content meta properties
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/embl-favicon">
        EMBL Favicon
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/embl-grid">
        EMBL Grid
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/embl-logo">
        EMBL Logo
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/embl-notifications">
        EMBL Notifications
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-activity-group">
        Acivity List Group
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-activity-list">
        Activity List
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-analytics-google">
        Google Analytics enhancements
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-article-meta-information">
        Article Meta Information
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-badge">
        Badges
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-banner">
        Banner
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-blockquote">
        Visual Framework Blockquote
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-body">
        Body
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-boilerplate-page">
        VF Boilerplate page
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-box">
        Box
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-breadcrumbs">
        Breadcrumbs
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-button">
        Button
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-card">
        Card
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-card-container">
        Card Container
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-code-example">
        Code Example
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-collapse">
        Collapse
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-componenet-rollup">
        Visual Framework Componet Rollup
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-content">
        Content
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-deprecated">
        Demonstration deprecated pattern
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-design-tokens">
        Design Tokens
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-details">
        Details
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-discussion">
        Discussion
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-divider">
        Visual Framework Divider
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-embed">
        Embed
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-explainer">
        Explainer
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-favicon">
        Favicon
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-figure">
        Visual Framework Figure
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-font-plex-mono">
        Plex Mono Font
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-font-plex-sans">
        Plex Sans Font
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-footer">
        Footer
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-form">
        Vf Form
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-global-header">
        Global Header
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-grid">
        Grid
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-grid-page">
        Page Grid
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-header">
        Header
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-heading">
        Visual Framework Headings
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-hero">
        Hero
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-inlay">
        Inlay
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-intro">
        Intro
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-lede">
        Lede
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-link">
        Visual Framework Link
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-link-list">
        Links List
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-list">
        Visual Framework Lists
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-location-nearest">
        Nearest location
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-logo">
        Logo
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-masthead">
        Masthead
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-navigation">
        Navigation
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-news-container">
        News Container
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-no-js">
        No JS detection
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-page-header">
        Page Header
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-pagination">
        Pagination
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-polyfill-js">
        JavaScript Polyfill
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-profile">
        Profile
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-sass-config">
        Sass config and templates
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-sass-starter">
        Sass Starter
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-search">
        Search
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-search-client-side">
        vf-search-client-side
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-section-header">
        Section Header
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-show-more">
        Show more
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-social-links">
        Social icons
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-summary">
        Summary
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-summary-container">
        Summary Container
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-table">
        Table
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-tabs">
        Tabs
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-text">
        Visual Framework Text
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-tree">
        Tree
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-u-fullbleed">
        Full Bleed
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-utility-classes">
        Utility Classes
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-video">
        Video
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-video-container">
        Video Container
      </a>

    </li>
    <li class="vf-list__item">
      <a class="vf-list__link" href="/vf-core/components/vf-video-teaser">
        Video Teaser
      </a>

    </li>
  </ul>
</div>

  </div>

  <section class="vf-content component-library-notes">
    
    <!-- no special content -->


    
    
    

    
    
      <h1>EMBL Content Meta Properties</h1>
<p><a href="https://badge.fury.io/js/%40visual-framework%25embl-content-meta-properties"><img src="https://badge.fury.io/js/%40visual-framework%25embl-content-meta-properties.svg" alt="npm version"></a></p>
<h2>About</h2>
<p>These meta tags describe the role of page within the EMBL information architecture.</p>
<p>These consist of:</p>
<ul>
<li>Content descriptors
<ul>
<li><code>embl:who</code> the people, groups and teams involved</li>
<li><code>embl:what</code> the activities covered</li>
<li><code>embl:where</code> at which EMBL sites the content applies</li>
<li><code>embl:active</code> which of the above three facets is most important for this content</li>
</ul>
</li>
<li>Content role:
<ul>
<li><code>embl:utility</code> if content is task and work based or if is meant to inspire</li>
<li><code>embl:reach</code> if content is externally (public) or internally focused (those that work at EMBL)</li>
</ul>
</li>
<li>Page infromation:
<ul>
<li><code>embl:maintainer</code> the contact person or group responsible for the page</li>
<li><code>embl:last-review</code> the last time the page was reviewed or updated</li>
<li><code>embl:review-cycle</code> how long in days before the page should be checked</li>
<li><code>embl:expiry</code> if there is a fixed point in time when the page is no longer relevant</li>
</ul>
</li>
</ul>
<p>These tags should be placed in your <code>&lt;head&gt;</code>.</p>
<h2>Why do they matter?</h2>
<ol>
<li>Ensures future quality of content</li>
<li>Will be programatically queried by other patterns to offer contextually-appropriate content and navigation</li>
<li>Can affect the look and feel of content</li>
</ol>
<h2>Installation and Implementation</h2>
<p>This component is distributed with npm. After <a href="https://www.npmjs.com/get-npm">installing npm</a>, you can install the <code>embl-content-meta-properties</code> with this command.</p>
<pre><code>$ yarn add --dev @visual-framework/embl-content-meta-properties
</code></pre>
<p>The source files included are written in <a href="http://sass-lang.com">Sass</a>(<code>scss</code>). You can point your Sass <code>include-path</code> at your <code>node_modules</code> directory and import it like this.</p>
<pre><code>@import &quot;@visual-framework/embl-grid/index.scss&quot;;
</code></pre>
<p><em>Make sure you import Sass requirements along with the modules.</em></p>

    

    
    
    

    
      <section>
         <h1 class="vf-text vf-text-heading--display vf-text--invert">Variants</h1> 
      </section>
        <hr class="vf-divider" />

        <h3>
          Variant: Default
           <span class="vf-badge vf-badge--tertiary vf-badge--">live</span> 

           <span class="vf-badge vf-badge--tertiary vf-badge--">Type: embl-block</span> 
        </h3>


        
        

        <h4>Nunjucks demo</h4>


        <pre><code>{% render '@embl-content-meta-properties--default', {
  &quot;component-type&quot;: &quot;embl-block&quot;,
  &quot;meta_who&quot;: &quot;all&quot;,
  &quot;meta_what&quot;: &quot;services, websites&quot;,
  &quot;meta_where&quot;: &quot;EMBL&quot;,
  &quot;meta_active&quot;: &quot;what&quot;,
  &quot;meta_utility&quot;: -8,
  &quot;meta_reach&quot;: -5,
  &quot;meta_maintainer&quot;: &quot;Strategy and Communications&quot;,
  &quot;meta_last-review&quot;: &quot;2019-01-20&quot;,
  &quot;meta_review-cycle&quot;: 180,
  &quot;meta_expiry&quot;: &quot;2019-06-20&quot;
} %}
        </code></pre>

        

        <h4>Sample output</h4>


        
          <div class="vf-grid">
            <section class="">
              <!-- Content descriptors -->
<meta name="embl:who" content="all"> <!-- the people, groups and teams involved -->
<meta name="embl:where" content="EMBL"> <!-- at which EMBL sites the content applies -->
<meta name="embl:what" content="services, websites"> <!-- the activities covered -->
<meta name="embl:active" content="what"> <!-- which of the who/what/where is active -->

<!-- Content role -->
<meta name="embl:utility" content="-8"> <!-- if content is task and work based or if is meant to inspire -->
<meta name="embl:reach" content="-5"> <!-- if content is externally (public) or internally focused (those that work at EMBL) -->

<!-- Page infromation -->
<meta name="embl:maintainer" content="Strategy and Communications"> <!-- the contact person or group responsible for the page -->
<meta name="embl:last-review" content="NaN"> <!-- the last time the page was reviewed or updated -->
<meta name="embl:review-cycle" content=""> <!-- how long in days before the page should be checked -->
<meta name="embl:expiry" content="2019-06-20"> <!-- if there is a fixed point in time when the page is no longer relevant -->

            </section>
          </div>
        

        <h4>Sample output as HTML</h4>


        
        <pre><span class="hljs-comment">&lt;!-- Content descriptors --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">meta</span> <span class="hljs-attr">name</span>=<span class="hljs-string">&quot;embl:who&quot;</span> <span class="hljs-attr">content</span>=<span class="hljs-string">&quot;all&quot;</span>&gt;</span> <span class="hljs-comment">&lt;!-- the people, groups and teams involved --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">meta</span> <span class="hljs-attr">name</span>=<span class="hljs-string">&quot;embl:where&quot;</span> <span class="hljs-attr">content</span>=<span class="hljs-string">&quot;EMBL&quot;</span>&gt;</span> <span class="hljs-comment">&lt;!-- at which EMBL sites the content applies --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">meta</span> <span class="hljs-attr">name</span>=<span class="hljs-string">&quot;embl:what&quot;</span> <span class="hljs-attr">content</span>=<span class="hljs-string">&quot;services, websites&quot;</span>&gt;</span> <span class="hljs-comment">&lt;!-- the activities covered --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">meta</span> <span class="hljs-attr">name</span>=<span class="hljs-string">&quot;embl:active&quot;</span> <span class="hljs-attr">content</span>=<span class="hljs-string">&quot;what&quot;</span>&gt;</span> <span class="hljs-comment">&lt;!-- which of the who/what/where is active --&gt;</span>

<span class="hljs-comment">&lt;!-- Content role --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">meta</span> <span class="hljs-attr">name</span>=<span class="hljs-string">&quot;embl:utility&quot;</span> <span class="hljs-attr">content</span>=<span class="hljs-string">&quot;-8&quot;</span>&gt;</span> <span class="hljs-comment">&lt;!-- if content is task and work based or if is meant to inspire --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">meta</span> <span class="hljs-attr">name</span>=<span class="hljs-string">&quot;embl:reach&quot;</span> <span class="hljs-attr">content</span>=<span class="hljs-string">&quot;-5&quot;</span>&gt;</span> <span class="hljs-comment">&lt;!-- if content is externally (public) or internally focused (those that work at EMBL) --&gt;</span>

<span class="hljs-comment">&lt;!-- Page infromation --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">meta</span> <span class="hljs-attr">name</span>=<span class="hljs-string">&quot;embl:maintainer&quot;</span> <span class="hljs-attr">content</span>=<span class="hljs-string">&quot;Strategy and Communications&quot;</span>&gt;</span> <span class="hljs-comment">&lt;!-- the contact person or group responsible for the page --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">meta</span> <span class="hljs-attr">name</span>=<span class="hljs-string">&quot;embl:last-review&quot;</span> <span class="hljs-attr">content</span>=<span class="hljs-string">&quot;NaN&quot;</span>&gt;</span> <span class="hljs-comment">&lt;!-- the last time the page was reviewed or updated --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">meta</span> <span class="hljs-attr">name</span>=<span class="hljs-string">&quot;embl:review-cycle&quot;</span> <span class="hljs-attr">content</span>=<span class="hljs-string">&quot;&quot;</span>&gt;</span> <span class="hljs-comment">&lt;!-- how long in days before the page should be checked --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">meta</span> <span class="hljs-attr">name</span>=<span class="hljs-string">&quot;embl:expiry&quot;</span> <span class="hljs-attr">content</span>=<span class="hljs-string">&quot;2019-06-20&quot;</span>&gt;</span> <span class="hljs-comment">&lt;!-- if there is a fixed point in time when the page is no longer relevant --&gt;</span>
        </pre>

      <h3>Assets</h3>
<ul>
<li><a href="/vf-core/assets/embl-content-meta-properties/embl-content-meta-properties.njk">Nunjucks template</a></li>
<li><a href="/vf-core/assets/embl-content-meta-properties/embl-content-meta-properties.config.yml">Config</a></li>
<li><a href="/vf-core/assets/embl-content-meta-properties/CHANGELOG.md">CHANGELOG.md</a></li>
<li><a href="/vf-core/assets/embl-content-meta-properties/embl-content-meta-properties.css">embl-content-meta-properties.css</a></li>
<li><a href="/vf-core/assets/embl-content-meta-properties/embl-content-meta-properties.js">embl-content-meta-properties.js</a></li>
<li><a href="/vf-core/assets/embl-content-meta-properties/embl-content-meta-properties.scss">embl-content-meta-properties.scss</a></li>
</ul>

    

    <hr>
<br/>
<p class="vf-text-body vf-text-body--4">
File system location: <code>components/embl-content-meta-properties</code>
</p>


  </section>
</div>

    

<!-- This page was generated on Invalid DateTime -->
<script src="/vf-core/scripts/scripts.js"></script>

  </body>
</html>
