$componentInfo: (
             name: "@visual-framework/vf-profile",
             version: "1.2.0",
             location: "components/vf-profile",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Fri, 06 Nov 2020 14:56:35 GMT"
          );