/* stylelint-disable */
:root {
  --vf-color--green: #18974c;
  --vf-color--green--darkest: #0a5032;
  --vf-color--green--dark: #007b53;
  --vf-color--green--light: #6cc24a;
  --vf-color--green--lightest: #d0debb;
  --vf-color--grey: #707372;
  --vf-color--grey--darkest: #373a36;
  --vf-color--grey--dark: #54585a;
  --vf-color--grey--light: #a8a99e;
  --vf-color--grey--lightest: #d0d0ce;
  --vf-color--red: #d41645;
  --vf-color--red--dark: #a6093d;
  --vf-color--red--light: #e58f9e;
  --vf-color--blue: #3b6fb6;
  --vf-color--blue--dark: #193f90;
  --vf-color--blue--light: #8bb8e8;
  --vf-color--purple: #734595;
  --vf-color--purple--dark: #563d82;
  --vf-color--purple--light: #cba3d8;
  --vf-color--orange: #f49e17;
  --vf-color--orange--dark: #b65417;
  --vf-color--orange--light: #efc06e;
  --vf-color--yellow: #f4c61f;
  --vf-color--yellow--dark: #ffb81c;
  --vf-color--yellow--light: #fdd757;
  --vf-color--bright-green: #a1be1f;
  --vf-color--bright-green--dark: #7fb428;
  --vf-color--bright-green--light: #e2e868;
}

:root {
  --vf-ui-color--black: #000000;
  --vf-ui-color--grey: #d8d8d8;
  --vf-ui-color--grey--light: #f3f3f3;
  --vf-ui-color--yellow: #fffadc;
  --vf-ui-color--red: #d32f2f;
  --vf-ui-color--white: #ffffff;
  --vf-ui-color--off-white: #fafafa;
}

/* stylelint-enable */
/*!
 * Component: @visual-framework/vf-profile
 * Version: 1.0.1
 * Location: components/vf-profile
 */
.vf-profile {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #373a36;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.vf-profile__image {
  border: 1px solid #d0d0ce;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-height: var(--vf-profile-avatar--size, 160px);
  max-width: var(--vf-profile-avatar--size, 160px);
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.vf-profile__title {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.333;
  margin: 0 0 0 0;
  color: #3b6fb6;
}

.vf-profile__job-title {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 21px;
  font-weight: 500;
  line-height: 1.29;
  margin: 0 0 0.25rem 0;
}

.vf-profile__link {
  color: inherit;
  text-decoration: none;
}

.vf-profile__link:hover, .vf-profile__link:focus {
  text-decoration: underline;
}

.vf-profile__text {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.421;
  margin: 0 0 0 0;
  line-height: 1.2;
}

.vf-profile__email {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.71;
  margin: 0 0 0 0;
  line-height: 1.2;
  word-break: break-all;
}

.vf-profile__email.vf-u-last-item {
  margin-bottom: .75rem;
}

.vf-profile__phone {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.71;
  margin: 0 0 0 0;
  line-height: 1.2;
  word-break: break-all;
}

.vf-profile__phone.vf-u-last-item {
  margin-bottom: .5rem;
}

.vf-profile__uuid {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.57;
  margin: 0 0 0 0;
  line-height: 1;
  word-break: break-all;
}

@media (min-width: 360px) {
  .vf-profile--inline {
    display: grid;
    grid-column-gap: 1.5rem;
    grid-template-columns: var(--vf-profile-avatar--size, 160px) 1fr;
  }
  .vf-profile--inline > * {
    grid-column: 2 / span 1;
  }
  .vf-profile--inline .vf-profile__image {
    align-self: start;
    grid-column: 1 / span 1;
    grid-row: 1 / 100;
  }
}

.vf-profile--small {
  --vf-profile-avatar--size: 64px;
  grid-column-gap: .5rem;
}

.vf-profile--small .vf-profile__title {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 500;
  line-height: 1.5;
  margin: 0 0 0 0;
}

.vf-profile--small .vf-profile__email.vf-u-last-item {
  margin-bottom: 0;
}

.vf-profile--medium {
  --vf-profile-avatar--size: 96px;
  grid-column-gap: 1rem;
}

.vf-profile--medium .vf-profile__title {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 21px;
  font-weight: 500;
  line-height: 1.29;
  margin: 0 0 0 0;
}

.vf-profile--large {
  --vf-profile-avatar--size: 160px;
}

.vf-profile--easy {
  border-bottom: 8px solid var(--vf-profile__border--color);
  padding-bottom: 8px;
}

.vf-profile-theme--primary {
  --vf-profile__border--color: #18974c;
}

.vf-profile-theme--primary .vf-profile__title {
  color: #18974c;
}

.vf-profile-theme--secondary {
  --vf-profile__border--color: #3b6fb6;
}

.vf-profile-theme--secondary .vf-profile__title {
  color: #3b6fb6;
}
