$componentInfo: (
             name: "@visual-framework/vf-location-nearest",
             version: "1.0.0-alpha.1",
             location: "components/vf-location-nearest",
             vfCoreVersion: "2.2.8",
             buildTimeStamp: "Mon, 26 Oct 2020 13:15:08 GMT"
          );