$componentInfo: (
             name: "@visual-framework/vf-location-nearest",
             version: "1.0.0-alpha.1",
             location: "components/vf-location-nearest",
             vfCoreVersion: "2.2.8",
             buildTimeStamp: "Tue, 20 Oct 2020 15:46:11 GMT"
          );