/* Edge cases just for the pattern library */

/* Ensure the nested iframe preview of patterns is appropretly sized */
.Pen-panel {
  height: auto !important;
}
.Pen-panel .Preview-iframe {
  width: 100%;
}
.Preview-iframe {
  border: 1px solid #b3b3b3;
  padding: 0;
}
