$componentInfo: (
             name: "@visual-framework/vf-form__radio",
             version: "1.0.1",
             location: "components/vf-form/vf-form__radio",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Tue, 27 Oct 2020 16:00:05 GMT"
          );