/* stylelint-disable */
:root {
  --vf-color--green: #18974c;
  --vf-color--green--darkest: #0a5032;
  --vf-color--green--dark: #007b53;
  --vf-color--green--light: #6cc24a;
  --vf-color--green--lightest: #d0debb;
  --vf-color--grey: #707372;
  --vf-color--grey--darkest: #373a36;
  --vf-color--grey--dark: #54585a;
  --vf-color--grey--light: #a8a99e;
  --vf-color--grey--lightest: #d0d0ce;
  --vf-color--red: #d41645;
  --vf-color--red--dark: #a6093d;
  --vf-color--red--light: #e58f9e;
  --vf-color--blue: #3b6fb6;
  --vf-color--blue--dark: #193f90;
  --vf-color--blue--light: #8bb8e8;
  --vf-color--purple: #734595;
  --vf-color--purple--dark: #563d82;
  --vf-color--purple--light: #cba3d8;
  --vf-color--orange: #f49e17;
  --vf-color--orange--dark: #b65417;
  --vf-color--orange--light: #efc06e;
  --vf-color--yellow: #f4c61f;
  --vf-color--yellow--dark: #ffb81c;
  --vf-color--yellow--light: #fdd757;
  --vf-color--bright-green: #a1be1f;
  --vf-color--bright-green--dark: #7fb428;
  --vf-color--bright-green--light: #e2e868;
}

:root {
  --vf-ui-color--black: #000000;
  --vf-ui-color--grey: #d8d8d8;
  --vf-ui-color--grey--light: #f3f3f3;
  --vf-ui-color--yellow: #fffadc;
  --vf-ui-color--red: #d32f2f;
  --vf-ui-color--white: #ffffff;
  --vf-ui-color--off-white: #fafafa;
}

/* stylelint-enable */
/*!
 * Component: @visual-framework/vf-form__radio
 * Version: 1.0.1
 * Location: components/vf-form/vf-form__radio
 */
.vf-form__radio {
  opacity: 0;
  position: absolute;
}
.vf-form__radio + .vf-form__label {
  color: #54585a;
  cursor: pointer;
  padding: 0;
  position: relative;
}
.vf-form__radio + .vf-form__label::before {
  background: #ffffff;
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 16px;
  margin-right: 8px;
  position: relative;
  top: 4px;
  width: 16px;
}
.vf-form__radio:hover + .vf-form__label::before {
  border-color: #54585a;
}
.vf-form__radio:focus + .vf-form__label::before {
  border-color: #54585a;
}
.vf-form__radio:checked + .vf-form__label::before {
  background: #3b6fb6;
  border-color: #3b6fb6;
}
.vf-form__radio:disabled + .vf-form__label {
  color: #54585a;
  cursor: auto;
}
.vf-form__radio:disabled + .vf-form__label::before {
  background: #707372;
  -webkit-box-shadow: none;
          box-shadow: none;
}