// vf-factoid

$vf-factoid-color--background: set-color(vf-color-azure-dark) !default;
$vf-factoid-color--foreground: set-color(vf-color-white) !default;
$vf-factoid-spacing: map-get($vf-spacing-map, vf-spacing-r) !default;
$vf-factoid-box-sizing: border-box !default;

.vf-factoid {
  @include padding(all, $vf-factoid-spacing);

  background-color: $vf-factoid-color--background;
  box-sizing: $vf-factoid-box-sizing;
  color: $vf-factoid-color--foreground;

  // we don't want the the last element within the component to have a bottom margin.
  & :last-child {
    margin: 0;
  }
}
