// vf-factoid

$vf-factoid-outer-spacing: map-get($vf-spacing-map, vf-spacing-xl) !default;

.vf-factoid {
  margin-bottom: $vf-factoid-outer-spacing;

  // we don't want the the last element within the component to have a bottom margin.
  & :last-child {
    margin: 0;
  }
}
