<aside class="vf-factoid | vf-box vf-box--secondary vf-box--r">
  <h3 class="vf-factoid__heading | vf-text vf-text--heading-s">Did you know?</h3>
  <p class="vf-factoid__text | vf-text vf-text--s">Invasive cancer is the leading cause of death in the developed world and the second leading in the developing world.</p>
</aside>
