<address class="vf-contact">
  <p class="vf-contact__team">EMBL-EBI Press Office</p>
  <p class="vf-contact__name">Laura Howes</p>

  <p class="vf-contact__job-title">Social media manager</p>

  <a href="mailto:digital-comms@embl.org" class="vf-contact__email">digital-comms@embl.org</a>

  <a href="tel: 01234 567 890" class="vf-contact__phone-number">01234 567 890</a>
  <a href="tel: 09876 543 210" class="vf-contact__phone-number vf-contact__phone-number--mobile">09876 543 210</a>

  <img class="vf-contact__image vf-u-circle" src="http://dev-embl-communications.pantheonsite.io/wp-content/uploads/2018/07/female-head-300x300.jpg" alt="image of the contact">
</address>
