<header class="vf-header">
  <div class="vf-global-header">
    <div class="vf-global-header__inner">
      {% render '@vf-logo--responsive' %}
      <p class="vf-global-header__site-name">{{ frctl.get('project.title') }}</p>
    </div>
  </div>
</header>
