<div class="vf-body | vf-smooth-scroll">
  <div class="vf-box vf-box--normal vf-box-theme--primary">
    <p class="vf-ui-color--white vf-u-margin--0 vf-u-type__text-body--2">This is for example purposes only. Please use the <code>vf-body</code> class on the <code>body</code> element only.</p>
  </div>
</div>
