// vf-body

@import 'package.variables.scss';
// Debug information from component's `package.json`:
// ---
/*!
 * Component: #{map-get($componentInfo, 'name')}
 * Version: #{map-get($componentInfo, 'version')}
 * Location: #{map-get($componentInfo, 'location')}
 */

/* The Body
 * -------------- // --------------
 *
 * All content except for a few design patterns are tied into a grid with a maximum
 * width of 1300px. We center the `body` element to create a simple 3 column
 * grid with the central grid set to a maximum of 81.25em (1300px).
 *
 *
 */

html {
  margin: 0;
}

.vf-body {
  display: block;
  margin: 0 auto;
  max-width: 81.25em;
  max-width: var(--vf-body-width, #{$vf-layout--comfortable});
  padding: 0 1em;
}
