$componentInfo: (
             name: "@visual-framework/vf-footer",
             version: "1.0.5",
             location: "components/vf-footer",
             vfCoreVersion: "2.2.0-alpha.4"
          );