:root {
  --vf-color--green: #18974c;
  --vf-color--green--darkest: #0a5032;
  --vf-color--green--dark: #007b53;
  --vf-color--green--light: #6cc24a;
  --vf-color--green--lightest: #d0debb;
  --vf-color--grey: #707372;
  --vf-color--grey--darkest: #373a36;
  --vf-color--grey--dark: #54585a;
  --vf-color--grey--light: #a8a99e;
  --vf-color--grey--lightest: #d0d0ce;
  --vf-color--red: #d41645;
  --vf-color--red--dark: #a6093d;
  --vf-color--red--light: #e58f9e;
  --vf-color--blue: #3b6fb6;
  --vf-color--blue--dark: #193f90;
  --vf-color--blue--light: #8bb8e8;
  --vf-color--purple: #734595;
  --vf-color--purple--dark: #563d82;
  --vf-color--purple--light: #cba3d8;
  --vf-color--orange: #f49e17;
  --vf-color--orange--dark: #b65417;
  --vf-color--orange--light: #efc06e;
  --vf-color--yellow: #f4c61f;
  --vf-color--yellow--dark: #ffb81c;
  --vf-color--yellow--light: #fdd757;
  --vf-color--bright-green: #a1be1f;
  --vf-color--bright-green--dark: #7fb428;
  --vf-color--bright-green--light: #e2e868;
}

:root {
  --vf-ui-color--black: #000000;
  --vf-ui-color--grey: #d8d8d8;
  --vf-ui-color--grey--light: #f3f3f3;
  --vf-ui-color--yellow: #fffadc;
  --vf-ui-color--red: #d32f2f;
  --vf-ui-color--white: #ffffff;
  --vf-ui-color--off-white: #fafafa;
}

/*!
 * Component: @visual-framework/vf-footer
 * Version: 1.0.5
 * Location: components/vf-footer
 */
.vf-footer {
  background-color: #54585a;
  border-top: 8px solid #18974c;
  grid-column: 1 / -1;
  padding-bottom: 60px;
  padding-top: 24px;
  position: relative;
}

.vf-footer::before {
  background-color: inherit;
  content: '';
  grid-column: 1 / -1;
  height: 100%;
  margin-left: calc(50% - 50vw);
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: -1;
}

.vf-footer::after {
  background-color: #18974c;
  content: '';
  height: 8px;
  margin-left: calc(50% - 50vw);
  position: absolute;
  top: -8px;
  width: 100vw;
  z-index: -1;
}

.vf-footer .vf-links {
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.vf-footer__notice {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.71;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  color: #ffffff;
  max-width: 45em;
}

.vf-footer__inner {
  grid-column: main;
  margin: 0 auto;
  max-width: 76.5em;
  padding: 0 1rem;
}

.vf-footer__legal {
  color: #ffffff;
  -webkit-column-gap: var(--page-grid-gap);
     -moz-column-gap: var(--page-grid-gap);
          column-gap: var(--page-grid-gap);
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.vf-footer__legal .vf-list {
  width: 100%;
}

.vf-footer__legal .vf-footer__legal-text,
.vf-footer__legal .vf-footer__link {
  font-size: 14px;
}

.vf-footer__legal .vf-footer__legal-text {
  color: #d0d0ce;
}

.vf-footer__legal .vf-footer__link {
  text-decoration: none;
}

.vf-footer__legal .vf-list {
  font-size: 19px;
}

.vf-footer__legal .vf-footer__legal-text,
.vf-footer__legal .vf-footer__link {
  padding-top: 12px;
}

@media (min-width: 1024px) {
  .vf-footer__legal {
    display: grid;
    grid-template-columns: repeat(4, -webkit-max-content);
    grid-template-columns: repeat(4, max-content);
  }
}

.vf-footer__link {
  border-bottom: none;
  text-decoration: none;
  color: #ffffff;
}

.vf-footer__link:visited {
  color: #d0d0ce;
  border-bottom: none;
}

.vf-footer__link:visited:hover {
  color: #d0d0ce;
  text-decoration: underline;
}

.vf-footer__link:hover {
  color: #d0d0ce;
  border-bottom: none;
  text-decoration: underline;
}

.vf-footer__list--legal {
  grid-column: 1 / -1;
}

.vf-footer__list--legal .vf-list__item:not(:last-of-type) {
  margin-right: 24px;
}

.vf-footer__links-group {
  border: solid 0px #d0d0ce;
  border-width: 1px 0;
  margin-bottom: 12px;
  padding-bottom: 24px;
}

.vf-footer__links-group .vf-links__heading {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.5;
  margin: 0 0 8px 0;
  color: #d0d0ce;
  text-transform: uppercase;
}

.vf-footer__links-group .vf-links__heading .vf-heading__link {
  border-bottom: none;
  text-decoration: none;
  color: #ffffff;
}

.vf-footer__links-group .vf-links__heading .vf-heading__link:visited {
  color: #d0d0ce;
  border-bottom: none;
}

.vf-footer__links-group .vf-links__heading .vf-heading__link:visited:hover {
  color: #d0d0ce;
  text-decoration: underline;
}

.vf-footer__links-group .vf-links__heading .vf-heading__link:hover {
  color: #d0d0ce;
  border-bottom: none;
  text-decoration: underline;
}

.vf-footer__links-group .vf-links {
  padding-bottom: 0;
  padding-top: 12px;
}

.vf-footer__links-group .vf-list:last-of-type {
  margin-bottom: 0;
}

.vf-footer__links-group .vf-list__item {
  margin-bottom: 0;
}

.vf-footer__links-group .vf-list__link {
  text-decoration: none;
}

@media (min-width: 1024px) {
  .vf-footer__links-group {
    padding-bottom: 4rem;
  }
}

.vf-footer .vf-links__link {
  border-bottom: none;
  text-decoration: none;
  color: #ffffff;
}

.vf-footer .vf-links__link:visited {
  color: #d0d0ce;
  border-bottom: none;
}

.vf-footer .vf-links__link:visited:hover {
  color: #d0d0ce;
  text-decoration: underline;
}

.vf-footer .vf-links__link:hover {
  color: #d0d0ce;
  border-bottom: none;
  text-decoration: underline;
}

.vf-footer .vf-list__link {
  border-bottom: none;
  text-decoration: none;
  color: #ffffff;
  margin-right: 0;
  text-decoration: none;
}

.vf-footer .vf-list__link:visited {
  color: #d0d0ce;
  border-bottom: none;
}

.vf-footer .vf-list__link:visited:hover {
  color: #d0d0ce;
  text-decoration: underline;
}

.vf-footer .vf-list__link:hover {
  color: #d0d0ce;
  border-bottom: none;
  text-decoration: underline;
}

@media screen and (-ms-high-contrast: active) and (min-width: 1024px), screen and (-ms-high-contrast: none) and (min-width: 1024px) {
  .vf-footer {
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    min-width: 100vw;
    position: relative;
    right: 50%;
    width: 100vw;
  }
  .vf-footer__inner {
    margin: 0 auto;
    max-width: 76.5em;
  }
}
