:root {
  --vf-color--green: #009f4d;
  --vf-color--green--darkest: #115740;
  --vf-color--green--dark: #007a53;
  --vf-color--green--light: #6cc24a;
  --vf-color--green--lightest: #d0debb;
  --vf-color--grey: #707372;
  --vf-color--grey--darkest: #373a36;
  --vf-color--grey--dark: #54585a;
  --vf-color--grey--light: #a8a99e;
  --vf-color--grey--lightest: #d0d0ce;
  --vf-color--red: #e40046;
  --vf-color--red--dark: #a6093d;
  --vf-color--red--light: #e58f9e;
  --vf-color--blue: #307fe2;
  --vf-color--blue--dark: #003da5;
  --vf-color--blue--light: #8bb8e8;
  --vf-color--purple: #8246af;
  --vf-color--purple--dark: #563d82;
  --vf-color--purple--light: #cba3d8;
  --vf-color--orange: #ffa300;
  --vf-color--orange--dark: #be5400;
  --vf-color--orange--light: #efc06e;
  --vf-color--yellow: #ffcd00;
  --vf-color--yellow--dark: #ffb81c;
  --vf-color--yellow--light: #fdd757;
  --vf-color--bright-green: #a8c700;
  --vf-color--bright-green--dark: #84bd00;
  --vf-color--bright-green--light: #e2e868;
}

:root {
  --vf-ui-color--black: #000000;
  --vf-ui-color--grey: #f3f3f3;
  --vf-ui-color--grey--light: #d8d8d8;
  --vf-ui-color--yellow: #fffadc;
  --vf-ui-color--red: #d32f2f;
  --vf-ui-color--white: #ffffff;
  --vf-ui-color--off-white: #fafafa;
}

/*!
 * Component: @visual-framework/vf-footer
 * Version: 1.0.0-alpha.7
 * Location: components/vf-footer
 */
.vf-footer {
  background-color: #707372;
  border-top: 8px solid #009f4d;
  padding-bottom: 60px;
  padding-top: 24px;
}

.vf-footer .vf-links {
  padding-left: 0;
  padding-right: 0;
}

.vf-footer__notice {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.71;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  color: #ffffff;
  max-width: 52em;
}

.vf-footer__inner {
  grid-column: main;
}

.vf-footer__legal {
  color: #ffffff;
  display: grid;
  grid-template-columns: repeat(4, -webkit-max-content);
  grid-template-columns: repeat(4, max-content);
}

.vf-footer__legal .vf-footer__legal-text,
.vf-footer__legal .vf-footer__link {
  padding-top: 12px;
}

.vf-footer__link {
  border-bottom: none;
  text-decoration: underline;
  color: #ffffff;
}

.vf-footer__link:visited {
  color: #d0d0ce;
  border-bottom: none;
  text-decoration: underline;
}

.vf-footer__link:hover {
  color: #d0d0ce;
  border-bottom: none;
  text-decoration: underline;
}

.vf-footer__list--legal {
  grid-column: 1 / -1;
}

.vf-footer__links-group {
  border: solid 0px #d0d0ce;
  border-width: 1px 0;
  margin-bottom: 12px;
}

.vf-footer__links-group .vf-links__heading {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.5;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  color: #d0d0ce;
  text-transform: uppercase;
}

.vf-footer__links-group .vf-links {
  margin-bottom: 48px;
  padding-bottom: 0;
  padding-top: 12px;
}

.vf-footer__links-group .vf-links__item {
  margin-bottom: 0;
}

.vf-footer .vf-links__link {
  border-bottom: none;
  text-decoration: underline;
  color: #ffffff;
}

.vf-footer .vf-links__link:visited {
  color: #d0d0ce;
  border-bottom: none;
  text-decoration: underline;
}

.vf-footer .vf-links__link:hover {
  color: #d0d0ce;
  border-bottom: none;
  text-decoration: underline;
}

.vf-footer .vf-list__link {
  border-bottom: none;
  text-decoration: underline;
  color: #ffffff;
  margin-right: 24px;
}

.vf-footer .vf-list__link:visited {
  color: #d0d0ce;
  border-bottom: none;
  text-decoration: underline;
}

.vf-footer .vf-list__link:hover {
  color: #d0d0ce;
  border-bottom: none;
  text-decoration: underline;
}
