// ebi-header-footer--footer
// LOCAL FOOTER
.ebi-header-footer.local-footer {
  border-top: 2px solid var(--vf-ui-color--off-white);;
}

// GLOBAL FOOTER
.ebi-header-footer.global-footer {
  border-top: 5px solid var(--vf-ui-color--off-white);;
  padding-top: 1.5rem;

  h4 {
    display: inline !important;
  }

  p.address {
    margin: 1.5em 0 5px 0;
  }
} 
