// ebi-header-footer--footer
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
.input-group {
  display: table;
  margin-bottom: 1rem;
  width: 100%;
}

[type='text'] {
  /* stylelint-disable */
  -webkit-appearance: none;
  /* stylelint-enable */
  appearance: none;
  border: 1px solid #777;
  box-sizing: border-box;
  height: 2.4375rem;
  padding: .5rem;
  transition: box-shadow .5s, border-color .25s ease-in-out;
  width: 100%;
}

.input-group-button a,
.input-group-button input,
.input-group-button button,
.input-group-button label {
  height: 2.4375rem;
  padding-bottom: 0;
  padding-top: 0;
}
.input-group-label,
.input-group-field,
.input-group-button,
.input-group-button a,
.input-group-button input,
.input-group-button button,
.input-group-button label {
  display: table-cell;
  margin: 0;
  vertical-align: middle;
  white-space: nowrap;
}
.input-group-button {
  height: 100%;
  padding-bottom: 0;
  padding-top: 0;
  text-align: center;
  width: 1%;
}
.menu .active > a,
.tag,
.tabs-title > a:hover,
.button,
.button.primary {
  background-color: rgb(0, 124, 130);
}

.menu a,
.menu .button {
  display: block;
  line-height: 1;
  padding: .6rem 1rem;
  text-decoration: none;
}

.button {
  background-color: var(--vf-color--blue);
  border: 1px solid transparent;
  color: var(--vf-ui-color--off-white);
  cursor: pointer;
  display: inline-block;
  padding: .85em 1em;
  transition: background-color .25s ease-out, color .25s ease-out;
  vertical-align: middle;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

.close-button,
.close-button.medium {
  font-size: 2em;
  line-height: 1;
  right: 1rem;
  top: .5rem;
}

.close-button {
  background: none;
  border: none;
  color: #8a8a8a;
  cursor: pointer;
  position: absolute;
}
