:root {
  --vf-color--green: #18974c;
  --vf-color--green--darkest: #0a5032;
  --vf-color--green--dark: #007b53;
  --vf-color--green--light: #6cc24a;
  --vf-color--green--lightest: #d0debb;
  --vf-color--grey: #707372;
  --vf-color--grey--darkest: #373a36;
  --vf-color--grey--dark: #54585a;
  --vf-color--grey--light: #a8a99e;
  --vf-color--grey--lightest: #d0d0ce;
  --vf-color--red: #d41645;
  --vf-color--red--dark: #a6093d;
  --vf-color--red--light: #e58f9e;
  --vf-color--blue: #3b6fb6;
  --vf-color--blue--dark: #193f90;
  --vf-color--blue--light: #8bb8e8;
  --vf-color--purple: #734595;
  --vf-color--purple--dark: #563d82;
  --vf-color--purple--light: #cba3d8;
  --vf-color--orange: #f49e17;
  --vf-color--orange--dark: #b65417;
  --vf-color--orange--light: #efc06e;
  --vf-color--yellow: #f4c61f;
  --vf-color--yellow--dark: #ffb81c;
  --vf-color--yellow--light: #fdd757;
  --vf-color--bright-green: #a1be1f;
  --vf-color--bright-green--dark: #7fb428;
  --vf-color--bright-green--light: #e2e868;
}

:root {
  --vf-ui-color--black: #000000;
  --vf-ui-color--grey: #f3f3f3;
  --vf-ui-color--grey--light: #d8d8d8;
  --vf-ui-color--yellow: #fffadc;
  --vf-ui-color--red: #d32f2f;
  --vf-ui-color--white: #ffffff;
  --vf-ui-color--off-white: #fafafa;
}

/*!
 * Component: @visual-framework/ebi-header-footer
 * Version: 0.0.2-alpha.0
 * Location: components/ebi-header-footer
 */
body.no-global-search .masthead-black-bar ul#global-nav.menu li.search {
  display: none;
}

.ebi-header-footer.masthead-black-bar {
  background-color: var(--vf-color--grey--darkest);
}

.ebi-header-footer.masthead-black-bar nav ul.menu li {
  display: inline-block;
  margin-bottom: 0;
  float: right;
}

.ebi-header-footer.masthead-black-bar > .row {
  opacity: 0;
}

body.ebi-black-bar-loaded .ebi-header-footer.masthead-black-bar > .row {
  opacity: 1;
  opacity: unset;
}

.ebi-header-footer.masthead-black-bar a:focus {
  -webkit-box-shadow: 0 0 2px var(--vf-color--grey--lightest);
          box-shadow: 0 0 2px var(--vf-color--grey--lightest);
}

.ebi-header-footer.masthead-black-bar .global-masthead-interactive-banner {
  height: 0;
  overflow: hidden;
  display: none;
  background-color: #000;
}

.ebi-header-footer.masthead-black-bar .global-masthead-interactive-banner.active {
  display: block;
  height: auto;
  overflow: visible;
}

.ebi-header-footer.masthead-black-bar .search-bar .close-button:hover, .ebi-header-footer.masthead-black-bar .search-bar .close-button:focus {
  color: var(--vf-ui-color--white);
}

.ebi-header-footer.masthead-black-bar .global-nav li a {
  color: var(--vf-ui-color--white);
}

.ebi-header-footer.masthead-black-bar .global-nav a:hover,
.ebi-header-footer.masthead-black-bar .global-nav li a:hover,
.ebi-header-footer.masthead-black-bar .global-nav li a:active,
.ebi-header-footer.masthead-black-bar .global-nav li a:focus,
.ebi-header-footer.masthead-black-bar .global-nav li.active a,
.ebi-header-footer.masthead-black-bar .global-nav li.active-trail a {
  color: var(--vf-color--grey--darkest);
  border-bottom: none;
  background-color: var(--vf-color--grey--lightest);
}

.ebi-header-footer.masthead-black-bar .global-nav li.active a {
  font-weight: 700;
}

.ebi-header-footer.masthead-black-bar .global-nav li a:before {
  font-family: 'EBI-Generic';
  display: inline-block;
  padding-right: .4rem;
}

.ebi-header-footer.masthead-black-bar .global-nav li.where a:before {
  content: '[';
}

.ebi-header-footer.masthead-black-bar .global-nav li.home a:before,
.ebi-header-footer.masthead-black-bar .global-nav li.ebi a:before {
  content: 'H';
}

.ebi-header-footer.masthead-black-bar .global-nav li.services a:before {
  content: '(';
}

.ebi-header-footer.masthead-black-bar .global-nav li.research a:before {
  content: ')';
}

.ebi-header-footer.masthead-black-bar .global-nav li.training a:before {
  content: 't';
}

.ebi-header-footer.masthead-black-bar .global-nav li.about a:before {
  content: 'i';
}

.ebi-header-footer.masthead-black-bar .global-nav li.search a:before {
  font-family: 'EBI-Functional';
  content: '1';
  padding-right: 0;
}

.ebi-header-footer.masthead-black-bar .global-nav li.search .dropdown-pane {
  width: 100%;
  left: 0;
  background: var(--vf-color--grey--darkest);
  border: none;
  margin-top: -2px;
  color: var(--vf-ui-color--white);
}

@media screen and (max-width: 39.9375em) {
  .ebi-header-footer.masthead-black-bar.masthead-black-bar nav ul.menu > li > a {
    text-align: center;
    font-size: 10px;
    padding: .6rem .35rem;
  }
}

@media screen and (max-width: 39.9375em) {
  .ebi-header-footer.masthead-black-bar.masthead-black-bar nav ul.menu > li > a > img,
  .ebi-header-footer.masthead-black-bar.masthead-black-bar nav ul.menu > li > a:before {
    display: block;
    margin: 0 auto 0.25rem;
    font-size: 16px;
  }
}

.ebi-header-footer.masthead-black-bar li.embl-selector {
  border-left: 0.5px solid rgba(255, 255, 255, 0.5);
  padding-left: 1.5rem;
}

.ebi-header-footer.masthead-black-bar .embl-bar {
  background-color: var(--vf-ui-color--off-white);
  color: var(--vf-color--grey--darkest);
}

.ebi-header-footer.masthead-black-bar .embl-bar a {
  color: var(--vf-color--grey--darkest);
}

.ebi-header-footer.masthead-black-bar .embl-bar a:hover {
  border-bottom: 1px solid var(--vf-ui-color--white);
}

@media screen and (max-width: 39.9375em) {
  .ebi-header-footer.masthead-black-bar .dropdown-pane.embl-dropdown {
    display: none;
    width: 0 !important;
    overflow: hidden;
  }
}

.ebi-header-footer.masthead-black-bar .embl-selector .button.hover,
.ebi-header-footer.masthead-black-bar .embl-selector .button:hover {
  background-color: transparent;
}

.ebi-header-footer.masthead-black-bar .embl-selector .button[aria-expanded="false"]::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border: inset 4px;
  border-color: var(--vf-ui-color--white) transparent transparent;
  border-top-style: solid;
  position: absolute;
  top: 18px;
  margin-left: 55px;
}

.ebi-header-footer.masthead-black-bar .embl-selector.embl-ebi .button,
.ebi-header-footer.masthead-black-bar .embl-selector.embl-ebi .button.hover,
.ebi-header-footer.masthead-black-bar .embl-selector.embl-ebi .button:focus,
.ebi-header-footer.masthead-black-bar .embl-selector.embl-ebi .button:hover {
  background: no-repeat 4px 50% url("https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.3/images/logos/EMBL-EBI/EMBL_EBI_Logo_white.svg");
  padding-left: 95px;
  background-size: 100px;
}

.ebi-header-footer.masthead-black-bar .embl-selector.active {
  background-color: var(--vf-ui-color--off-white);
  padding-right: 1rem;
}

.ebi-header-footer.masthead-black-bar .embl-selector.active .button,
.ebi-header-footer.masthead-black-bar .embl-selector.active .button.hover,
.ebi-header-footer.masthead-black-bar .embl-selector.active .button:focus,
.ebi-header-footer.masthead-black-bar .embl-selector.active .button:hover {
  background-image: url("https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.3/images/logos/EMBL/EMBL-black.svg");
}

.ebi-header-footer.masthead-black-bar .embl-selector.active.embl-ebi .button,
.ebi-header-footer.masthead-black-bar .embl-selector.active.embl-ebi .button.hover,
.ebi-header-footer.masthead-black-bar .embl-selector.active.embl-ebi .button:focus,
.ebi-header-footer.masthead-black-bar .embl-selector.active.embl-ebi .button:hover {
  background-image: url("https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.3/images/logos/EMBL-EBI/EMBL_EBI_Logo_black.svg");
}

@media screen and (max-width: 53em) {
  .ebi-header-footer.masthead-black-bar li.embl-selector {
    padding-left: .5rem;
  }
  .ebi-header-footer.masthead-black-bar .embl-selector .button {
    width: 0px;
    padding-right: 1rem;
    overflow: hidden;
  }
  .ebi-header-footer.masthead-black-bar .embl-selector .button:after {
    display: none;
  }
  .ebi-header-footer.masthead-black-bar nav ul.menu li a {
    padding-right: .35rem;
    padding-left: .35rem;
  }
}

.ebi-header-footer .local-footer {
  border-top: 2px solid var(--vf-ui-color--off-white);
}

.ebi-header-footer .global-footer {
  border-top: 5px solid var(--vf-ui-color--off-white);
  padding-top: 1.5rem;
}

.ebi-header-footer .global-footer h4 {
  display: inline !important;
}

.ebi-header-footer .global-footer .address {
  margin: 1.5em 0 5px 0;
}

.ebi-header-footer .row {
  max-width: 76.5rem;
  margin-right: auto;
  margin-left: auto;
}

.ebi-header-footer .row::before, .ebi-header-footer .row::after {
  display: table;
  content: ' ';
}

@media screen and (max-width: 0em), screen and (min-width: 40em) {
  .ebi-header-footer .show-for-small-only {
    display: none !important;
  }
}

@media screen and (max-width: 39.99875em) {
  .ebi-header-footer .show-for-medium {
    display: none !important;
  }
}

@media screen and (max-width: 39.99875em), screen and (min-width: 64em) {
  .ebi-header-footer .show-for-medium-only {
    display: none !important;
  }
}

@media screen and (max-width: 63.99875em) {
  .ebi-header-footer .show-for-large {
    display: none !important;
  }
}

@media screen and (max-width: 63.99875em), screen and (min-width: 75em) {
  .ebi-header-footer .show-for-large-only {
    display: none !important;
  }
}

.ebi-header-footer .clearfix::before, .ebi-header-footer .clearfix::after {
  display: table;
  content: ' ';
}

.ebi-header-footer .clearfix::after {
  clear: both;
}

.ebi-header-footer .row {
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
}

.ebi-header-footer .row::before, .ebi-header-footer .row::after {
  display: table;
  content: ' ';
}

.ebi-header-footer .row::after {
  clear: both;
}

.ebi-header-footer .row .row {
  margin-right: -0.625rem;
  margin-left: -0.625rem;
}

@media print, screen and (min-width: 40em) {
  .ebi-header-footer .row .row {
    margin-right: -0.9375rem;
    margin-left: -0.9375rem;
  }
}

@media print, screen and (min-width: 64em) {
  .ebi-header-footer .row .row {
    margin-right: -0.9375rem;
    margin-left: -0.9375rem;
  }
}

.ebi-header-footer .row:not(.expanded) .row {
  max-width: none;
}

.ebi-header-footer .column, .ebi-header-footer .columns {
  width: 100%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media print, screen and (min-width: 40em) {
  .ebi-header-footer .column, .ebi-header-footer .columns {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
}

.ebi-header-footer .column, .ebi-header-footer .columns, .ebi-header-footer .column:last-child:not(:first-child), .ebi-header-footer .columns:last-child:not(:first-child) {
  float: left;
  clear: none;
}

.ebi-header-footer .column:last-child:not(:first-child), .ebi-header-footer .columns:last-child:not(:first-child) {
  float: right;
}

.ebi-header-footer .column.end:last-child:last-child, .ebi-header-footer .end.columns:last-child:last-child {
  float: left;
}

.ebi-header-footer .column.row.row, .ebi-header-footer .row.row.columns {
  float: none;
}

.ebi-header-footer .row .column.row.row, .ebi-header-footer .row .row.row.columns {
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
}

@media print, screen and (min-width: 40em) {
  .ebi-header-footer .medium-3 {
    width: 25%;
  }
  .ebi-header-footer .medium-5 {
    width: 41.66667%;
  }
  .ebi-header-footer .medium-7 {
    width: 58.33333%;
  }
  .ebi-header-footer .medium-12 {
    width: 100%;
  }
  .ebi-header-footer .medium-up-2 > .column, .ebi-header-footer .medium-up-2 > .columns {
    float: left;
    width: 50%;
  }
  .ebi-header-footer .medium-up-2 > .column:nth-of-type(1n), .ebi-header-footer .medium-up-2 > .columns:nth-of-type(1n) {
    clear: none;
  }
  .ebi-header-footer .medium-up-2 > .column:nth-of-type(2n+1), .ebi-header-footer .medium-up-2 > .columns:nth-of-type(2n+1) {
    clear: both;
  }
  .ebi-header-footer .medium-up-2 > .column:last-child, .ebi-header-footer .medium-up-2 > .columns:last-child {
    float: left;
  }
  .ebi-header-footer .medium-up-3 > .column, .ebi-header-footer .medium-up-3 > .columns {
    float: left;
    width: 33.33333%;
  }
  .ebi-header-footer .medium-up-3 > .column:nth-of-type(1n), .ebi-header-footer .medium-up-3 > .columns:nth-of-type(1n) {
    clear: none;
  }
  .ebi-header-footer .medium-up-3 > .column:nth-of-type(3n+1), .ebi-header-footer .medium-up-3 > .columns:nth-of-type(3n+1) {
    clear: both;
  }
  .ebi-header-footer .medium-up-3 > .column:last-child, .ebi-header-footer .medium-up-3 > .columns:last-child {
    float: left;
  }
  .ebi-header-footer .medium-up-5 > .column, .ebi-header-footer .medium-up-5 > .columns {
    float: left;
    width: 20%;
  }
  .ebi-header-footer .medium-up-5 > .column:nth-of-type(1n), .ebi-header-footer .medium-up-5 > .columns:nth-of-type(1n) {
    clear: none;
  }
  .ebi-header-footer .medium-up-5 > .column:nth-of-type(5n+1), .ebi-header-footer .medium-up-5 > .columns:nth-of-type(5n+1) {
    clear: both;
  }
  .ebi-header-footer .medium-up-5 > .column:last-child, .ebi-header-footer .medium-up-5 > .columns:last-child {
    float: left;
  }
}

@media print, screen and (min-width: 64em) {
  .ebi-header-footer .large-10 {
    width: 83.33333%;
  }
  .ebi-header-footer .large-up-3 > .column, .ebi-header-footer .large-up-3 > .columns {
    float: left;
    width: 33.33333%;
  }
  .ebi-header-footer .large-up-3 > .column:nth-of-type(1n), .ebi-header-footer .large-up-3 > .columns:nth-of-type(1n) {
    clear: none;
  }
  .ebi-header-footer .large-up-3 > .column:nth-of-type(3n+1), .ebi-header-footer .large-up-3 > .columns:nth-of-type(3n+1) {
    clear: both;
  }
  .ebi-header-footer .large-up-3 > .column:last-child, .ebi-header-footer .large-up-3 > .columns:last-child {
    float: left;
  }
}

.ebi-header-footer fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

.ebi-header-footer .input-group {
  display: table;
  width: 100%;
  margin-bottom: 1rem;
}

.ebi-header-footer [type='text'] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 2.4375rem;
  padding: 0.5rem;
  border: 1px solid #777;
  -webkit-transition: border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s;
  transition: border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.ebi-header-footer .input-group-button a, .ebi-header-footer .input-group-button input, .ebi-header-footer .input-group-button button, .ebi-header-footer .input-group-button label {
  height: 2.4375rem;
  padding-top: 0;
  padding-bottom: 0;
}

.ebi-header-footer .input-group-label, .ebi-header-footer .input-group-field, .ebi-header-footer .input-group-button, .ebi-header-footer .input-group-button a, .ebi-header-footer .input-group-button input, .ebi-header-footer .input-group-button button, .ebi-header-footer .input-group-button label {
  margin: 0;
  white-space: nowrap;
  display: table-cell;
  vertical-align: middle;
}

.ebi-header-footer .input-group-button {
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
  width: 1%;
  height: 100%;
}

.ebi-header-footer .menu .active > a, .ebi-header-footer .tag, .ebi-header-footer .tabs-title > a:hover, .ebi-header-footer .button, .ebi-header-footer .button.primary {
  background-color: #007c82;
}

.ebi-header-footer .menu a, .ebi-header-footer .menu .button {
  line-height: 1;
  text-decoration: none;
  display: block;
  padding: 0.7rem 1rem;
}

.ebi-header-footer .button {
  display: inline-block;
  vertical-align: middle;
  padding: 0.85em 1em;
  border: 1px solid transparent;
  -webkit-transition: background-color 0.25s ease-out, color 0.25s ease-out;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  cursor: pointer;
  background-color: var(--vf-color--blue);
  color: var(--vf-ui-color--off-white);
}

.ebi-header-footer button, .ebi-header-footer input, .ebi-header-footer optgroup, .ebi-header-footer select, .ebi-header-footer textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

.ebi-header-footer .close-button, .ebi-header-footer .close-button.medium {
  right: 1rem;
  top: 0.5rem;
  font-size: 2em;
  line-height: 1;
}

.ebi-header-footer .close-button {
  position: absolute;
  color: #8a8a8a;
  cursor: pointer;
  background: none;
  border: none;
}

.ebi-header-footer .text-right {
  text-align: right;
}

.ebi-header-footer .float-right {
  float: right !important;
}

.ebi-header-footer .block {
  display: block;
}

.ebi-header-footer .hidden, .ebi-header-footer .hide {
  display: none !important;
}

.ebi-header-footer .inline {
  display: inline !important;
}

.ebi-header-footer .inline-block {
  display: inline-block !important;
}

.ebi-header-footer .no-underline a,
.ebi-header-footer a.no-underline {
  border-bottom: none;
  text-decoration: none;
}

.ebi-header-footer .no-underline a a.underline,
.ebi-header-footer .no-underline a .underline,
.ebi-header-footer a.no-underline a.underline,
.ebi-header-footer a.no-underline .underline {
  text-decoration: underline;
}

.ebi-header-footer .no-underline a:hover a.underline,
.ebi-header-footer .no-underline a:hover .underline,
.ebi-header-footer a.no-underline:hover a.underline,
.ebi-header-footer a.no-underline:hover .underline {
  border-bottom-width: 0;
  border-bottom-style: none;
  border-bottom-color: transparent;
}

.ebi-header-footer .margin-top-large {
  margin-top: 1rem;
}

.ebi-header-footer .margin-top-xlarge {
  margin-top: 2rem;
}

.ebi-header-footer .margin-bottom-none {
  margin-bottom: 0;
}

.ebi-header-footer .margin-bottom-large {
  margin-bottom: 1rem;
}

.ebi-header-footer .padding-top-xsmall {
  padding-top: .1rem;
}

.ebi-header-footer .padding-top-medium {
  padding-top: .5rem;
}

.ebi-header-footer .padding-left-large {
  padding-left: 1rem;
}

.ebi-header-footer .padding-bottom-medium {
  padding-bottom: .5rem;
}

.data-protection-banner a {
  border-bottom: none;
  text-decoration: underline;
  color: #ffffff;
  cursor: pointer;
}

.data-protection-banner a:visited {
  color: #ffffff;
  border-bottom: none;
  text-decoration: underline;
}

.data-protection-banner a:hover {
  color: #ffffff;
  border-bottom: none;
  text-decoration: underline;
}
