$componentInfo: (
             name: "@visual-framework/ebi-header-footer",
             version: "1.0.3",
             location: "components/ebi-header-footer",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Tue, 27 Oct 2020 15:43:29 GMT"
          );