$componentInfo: (
             name: "@visual-framework/ebi-header-footer",
             version: "1.0.3",
             location: "components/ebi-header-footer",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Wed, 28 Oct 2020 09:50:49 GMT"
          );