$componentInfo: (
             name: "@visual-framework/ebi-header-footer",
             version: "1.0.3",
             location: "components/ebi-header-footer",
             vfCoreVersion: "2.2.10",
             buildTimeStamp: "Mon, 09 Nov 2020 11:42:24 GMT"
          );