<div class="vf-body">

    <section class="vf-inlay">
      <section class="vf-inlay__content">
        <div class="vf-inlay__content--full-width">
          {% render '@vf-summary--article' %}
        </div>
        <div class="vf-inlay__content--main">
          {% render '@vf-content' %}
        </div>
        <div class="vf-inlay__content--additional">
          {% render '@vf-box--normal-primary' %}
        </div>
        <div class="vf-inlay__content--full-width">
          {% render '@vf-summary--article' %}
        </div>
      </section>
    </section>

</div>
