// vf-inlay

@import 'package.variables.scss';
// Debug information from component's `package.json`:
// ---
/*!
 * Component: #{map-get($componentInfo, 'name')}
 * Version: #{map-get($componentInfo, 'version')}
 * Location: #{map-get($componentInfo, 'location')}
 */

@import 'vf-inlay.variables.scss';

.vf-inlay {

  &:last-of-type {
    @include margin--block(bottom, $vf-inlay__spacing--bottom--narrow);

    @media (min-width: 1024px) {
      @include margin--block(bottom, $vf-inlay__spacing--bottom);
    }
  }

  @media (min-width: 1024px) {
    --page-grid-gap: 36px;
  }
}

.vf-inlay__content {
  display: grid;
  grid-auto-rows: auto;
  grid-gap: 32px 0;
  grid-template-columns:
    [inlay--full-start]
      1fr
    [inlay--full-end]
  ;

  @media (min-width: $vf-breakpoint--lg) {
    grid-row-gap: 32px;
    grid-template-columns:
      [inlay--full-start inlay--main-start]
        1fr
      [inlay--main-end inlay--sidebar-start]
        minmax(auto, 21.25rem)
      [inlay--sidebar-end inlay--full-end]
    ;
  }
}

.vf-inlay__content--full-width {
  grid-area: inlay--full;
  grid-row: span 1;
}

.vf-inlay__content--main {
  grid-area: inlay--full;
  grid-row: span 1;

  @media (min-width: $vf-breakpoint--lg) {
    grid-area: inlay--main;
  }

}

.vf-inlay__content--additional {
  grid-area: inlay--full;
  grid-row: span 1;

  @media (min-width: $vf-breakpoint--lg) {
    grid-area: inlay--sidebar;
  }

}
