<section class="vf-inlay vf-u-background-color-green">

  <header class="vf-inlay__header">

    <div class="vf-masthead">
      <div class="vf-masthead__inner">
        <div class="vf-masthead__title">
          <h1 class="vf-masthead__heading">Häring Group</h1>
        </div>
      </div>
    </div>

    <div class="vf-inlay__navigation vf-inlay__navigation--main">
      {{render '@vf-navigation--main'}}
    </div>

  </header>

  <main class="vf-inlay__content vf-inlay__content--main">
  </main>

  <aside class="vf-inlay__content vf-inlay__content--additional">
  </aside>

</section>
