<article class="vf-inlay">

  <header class="vf-inlay__header">

    <h1 class="vf-inlay__title"></h1>

  </header>

  <main class="vf-inlay__content vf-inlay__content--main">
  </main>

  <aside class="vf-inlay__content vf-inlay__content--additional">
  </aside>

</article>
