
<div class="vf-global-layout--easy">
<section class="vf-inlay">
  <section class="vf-inlay__content">
    <main class="vf-inlay__content--full-width">
      {% render '@vf-summary--article' %}
    </main>
</section>
</div>
<div class="vf-global-layout--normal">
<section class="vf-inlay">
  <section class="vf-inlay__content">
    <main class="vf-inlay__content--full-width">
      {% render '@vf-summary--article' %}
    </main>
</section>
</div>
<div class="vf-global-layout--medium">
<section class="vf-inlay">
  <section class="vf-inlay__content">
    <main class="vf-inlay__content--full-width">
      {% render '@vf-summary--article' %}
    </main>
</section>
</div>
<div class="vf-global-layout--hard">
<section class="vf-inlay">
  <section class="vf-inlay__content">
    <main class="vf-inlay__content--full-width">
      {% render '@vf-summary--article' %}
    </main>
</section>
</div>
<div class="vf-global-layout--extreme">
<section class="vf-inlay">
  <section class="vf-inlay__content">
    <main class="vf-inlay__content--full-width">
      {% render '@vf-summary--article' %}
    </main>
</section>
</div>


<style>
  .vf-global-layout--easy .vf-inlay {
    border: 1px solid red;
    border-bottom-width: 4px;
  }
  .vf-global-layout--normal .vf-inlay {
    border: 1px solid red;
    border-bottom: 0;
  }
  .vf-global-layout--medium .vf-inlay {
    border: 1px solid red;
    border-bottom-width: 4px;
  }
  .vf-global-layout--hard .vf-inlay {
    border: 1px solid red;
    border-top: 0;
    border-bottom-width: 4px;
    padding: 24px 16px;
  }
  .vf-global-layout--extreme .vf-inlay {

  }
</style>
