@import 'vf-inlay.variables.scss';

.vf-inlay {
  display: grid;
  grid-column: 1 / -1;
  /* stylelint-disable  declaration-colon-space-after, indentation */
  grid-template-columns:
    minmax(var(--page-grid-gap), auto)
    [main-start]
      minmax(auto, 76.5em)
    [main-end]
    minmax(var(--page-grid-gap), auto)
  ;
  /* stylelint-enable */

  &:last-of-type {
    @include margin--block(bottom, $vf-inlay__spacing--bottom);
  }

  // overides vf-grid's natural inclination to be full width
  & .vf-grid {
    @media (max-width: 1299px) {
      grid-column: main;
    }
  }

  @media (min-width: 480px) {
    // grid-column: 2 / -2;
  }

  @media (min-width: 1024px) {
    --page-grid-gap: 36px;
  }
}

.vf-inlay__content {
  display: grid;
  grid-column: 2 / 3;
  /* stylelint-disable declaration-colon-space-after, indentation */
  grid-template-columns:
    minmax(var(--page-grid-gap), 60px)
    [main-start]
      minmax(auto, 100%)
      minmax(auto, 22.125em)
    [main-end]
    minmax(var(--page-grid-gap), 60px)
  ;
  /* stylelint-enable */
  padding-top: 36px;
}

.vf-inlay__content--full-width {
  grid-column: 2 / -2;
  @include margin--block(bottom, map-get($vf-spacing-map, vf-spacing-l));
}

.vf-inlay__content--main {
  grid-column: 2 / -2;
  padding-right: var(--page-grid-gap);

  @media (min-width: 1100px) {
    grid-column: 2 / 3;
  }
  @include margin--block(bottom, map-get($vf-spacing-map, vf-spacing-l));
}

.vf-inlay__content--additional {
  grid-column: 2 / -2;

  @media (min-width: 1100px) {
    grid-column: 3 / 4;
  }
}
