<div class="vf-body">
  <div class="vf-grid">
    <div class="vf-box">

      <p class="vf-text vf-text--r">
        Use this for content that should be set within other content.
        The design on this page is not stylisitic, but structural.
      </p>

      <section class="vf-inlay vf-u-background-color-ui--off-white vf-u-text-color--grey--dark">
        <section class="vf-inlay__content">
          <main class="vf-inlay__content--full-width">
            {% render '@vf-summary--article' %}
          </main>
          <main class="vf-inlay__content--main">
            {% render '@vf-content' %}
          </main>
          <main class="vf-inlay__content--additional">
            {% render '@vf-box' %}
          </main>
        </section>
      </section>

    </div>
  </div>
</div>
