$componentInfo: (
             name: "@visual-framework/vf-form__input",
             version: "1.0.1",
             location: "components/vf-form/vf-form__input",
             vfCoreVersion: "2.2.5"
          );