:root {
  --vf-color--green: #18974c;
  --vf-color--green--darkest: #0a5032;
  --vf-color--green--dark: #007b53;
  --vf-color--green--light: #6cc24a;
  --vf-color--green--lightest: #d0debb;
  --vf-color--grey: #707372;
  --vf-color--grey--darkest: #373a36;
  --vf-color--grey--dark: #54585a;
  --vf-color--grey--light: #a8a99e;
  --vf-color--grey--lightest: #d0d0ce;
  --vf-color--red: #d41645;
  --vf-color--red--dark: #a6093d;
  --vf-color--red--light: #e58f9e;
  --vf-color--blue: #3b6fb6;
  --vf-color--blue--dark: #193f90;
  --vf-color--blue--light: #8bb8e8;
  --vf-color--purple: #734595;
  --vf-color--purple--dark: #563d82;
  --vf-color--purple--light: #cba3d8;
  --vf-color--orange: #f49e17;
  --vf-color--orange--dark: #b65417;
  --vf-color--orange--light: #efc06e;
  --vf-color--yellow: #f4c61f;
  --vf-color--yellow--dark: #ffb81c;
  --vf-color--yellow--light: #fdd757;
  --vf-color--bright-green: #a1be1f;
  --vf-color--bright-green--dark: #7fb428;
  --vf-color--bright-green--light: #e2e868;
}

:root {
  --vf-ui-color--black: #000000;
  --vf-ui-color--grey: #d8d8d8;
  --vf-ui-color--grey--light: #f3f3f3;
  --vf-ui-color--yellow: #fffadc;
  --vf-ui-color--red: #d32f2f;
  --vf-ui-color--white: #ffffff;
  --vf-ui-color--off-white: #fafafa;
}

/*!
 * Component: @visual-framework/vf-form__input
 * Version: 1.0.1
 * Location: components/vf-form/vf-form__input
 */
.vf-form__input:not([type='file']) {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.71;
  margin: 0 0 4px 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-color: #f3f3f3;
  border-radius: 0;
  border-style: solid;
  border-width: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #54585a;
  display: block;
  padding: 8px 12px;
  width: 100%;
}

.vf-form__input:not([type='file']):focus, .vf-form__input:not([type='file']):hover {
  border-color: currentColor;
  color: #000000;
  outline: 0;
}

.vf-form__wrap .vf-form__label {
  border-top-left-radius: 3px;
  display: block;
  line-height: 1;
  opacity: 0;
  position: absolute;
  top: -16px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  visibility: hidden;
  z-index: 1;
}

.vf-form__input .vf-form__wrap {
  -webkit-font-smoothing: antialiased;
  position: relative;
  text-rendering: optimizeLegibility;
}

.vf-form__input::-webkit-input-placeholder {
  opacity: 1;
}

.vf-form__input::-moz-placeholder {
  opacity: 1;
}

.vf-form__input:-ms-input-placeholder {
  opacity: 1;
}

.vf-form__input::-ms-input-placeholder {
  opacity: 1;
}

.vf-form__input::placeholder {
  opacity: 1;
}

.vf-form__input::-webkit-input-placeholder, .vf-form__select::-webkit-input-placeholder, .vf-form__textarea::-webkit-input-placeholder {
  color: #a8a99e;
}

.vf-form__input::-moz-placeholder, .vf-form__select::-moz-placeholder, .vf-form__textarea::-moz-placeholder {
  color: #a8a99e;
}

.vf-form__input:-ms-input-placeholder, .vf-form__select:-ms-input-placeholder, .vf-form__textarea:-ms-input-placeholder {
  color: #a8a99e;
}

.vf-form__input::-ms-input-placeholder, .vf-form__select::-ms-input-placeholder, .vf-form__textarea::-ms-input-placeholder {
  color: #a8a99e;
}

.vf-form__input::placeholder,
.vf-form__select::placeholder,
.vf-form__textarea::placeholder {
  color: #a8a99e;
}

.vf-form__input::-moz-placeholder,
.vf-form__select::-moz-placeholder,
.vf-form__textarea::-moz-placeholder {
  color: #a8a99e;
}

.vf-form__input:-ms-input-placeholder,
.vf-form__select:-ms-input-placeholder,
.vf-form__textarea:-ms-input-placeholder {
  color: #a8a99e;
}

.vf-form__input::-webkit-input-placeholder,
.vf-form__select::-webkit-input-placeholder,
.vf-form__textarea::-webkit-input-placeholder {
  color: #a8a99e;
}

.vf-form__input .vf-form__select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #a8a99e;
  cursor: pointer;
  position: relative;
}

.vf-form__input .vf-form__select::-ms-expand {
  display: none;
}

.vf-form__input .vf-form__is-active .vf-form__input,
.vf-form__input .vf-form__is-active .vf-form__select,
.vf-form__input .vf-form__is-active .vf-form__textarea {
  background-color: #ffffff;
}

.vf-form__input .vf-form__has-focus .vf-form__input,
.vf-form__input .vf-form__has-focus .vf-form__select,
.vf-form__input .vf-form__has-focus .vf-form__textarea {
  background-color: #ffffff;
  border-color: #000000;
}

.vf-form__wrap .vf-form__input .vf-form__label {
  border-radius-top-left: 3px;
  color: #54585a;
  display: block;
  left: 24px;
  opacity: 0;
  position: absolute;
  top: -24px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  visibility: hidden;
  z-index: 1;
}

.vf-form__input .vf-form__is-active .vf-form__label {
  opacity: 1;
  visibility: visible;
}

.vf-form__input .vf-form__has-focus .vf-form__label {
  color: #000000;
}

.vf-form__input .vf-form__is-required::before {
  color: #d32f2f;
  content: '*';
  display: block;
  font-size: 16px;
  line-height: 1.75;
  opacity: 1;
  padding: 6px 0 0;
  position: absolute;
  right: 15px;
  top: 1px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  z-index: 1;
}

.vf-form__input .vf-form__is-required.vf-form__is-active::before {
  opacity: 0;
}

.vf-form__input:disabled {
  background: #f3f3f3;
  cursor: not-allowed;
}

.vf-form__input:disabled::-moz-placeholder {
  color: #18974c;
}

.vf-form__input:disabled::placeholder, .vf-form__input:disabled::-moz-placeholder, .vf-form__input:disabled::-ms-input-placeholder, .vf-form__input:disabled::-webkit-input-placeholder {
  color: #18974c;
}

.vf-form__input:invalid {
  border-color: #d32f2f;
}
