<footer class="vf-footer | vf-search-client-side--no-index">
  <div class="vf-footer__inner">
    <p class="vf-footer__notice">The Visual Framework is a toolkit to quickly and collaboratively build better life science websites.</p>
    <p class="vf-footer__notice">It is open source and used on dozens of life science websites and maintained by a community of front end developers, UX specialists and designers. <a class="vf-footer__link" href="{{ "/guidance/discussing-the-vf" | url }}">Get involved</a>.</p>
    <div class="vf-footer__links-group | vf-grid vf-grid__col-5">
      <div class="vf-links">
        <ul class="vf-links__list | vf-list">
          <h4 class="vf-links__heading">
            <a class="vf-heading__link" href="/about">About</a>
          </h4>
          <li class="vf-list__item">
            <a class="vf-list__link" href="{{ '/about/faq' | url }}">FAQ</a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="{{ '/about/roadmap' | url }}">Roadmap</a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="{{ '/about/consultation' | url }}">Consultation process</a>
          </li>
        </ul>
      </div>
      <div class="vf-links">
        <ul class="vf-links__list | vf-list">
          <h4 class="vf-links__heading">
            <a class="vf-heading__link" href="/building">Building</a>
          </h4>
          <li class="vf-list__item">
            <a class="vf-list__link" href="{{ '/components' | url }}">Component list</a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="{{ '/patterns' | url }}">Patterns and examples</a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="{{ '/guidance' | url }}">Guidance and principles</a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="{{ '/troubleshooting' | url }}">Troubleshooting</a>
          </li>
        </ul>
      </div>
      <div class="vf-links">
        <h4 class="vf-links__heading">
          <a class="vf-heading__link" href="/developing">Developing</a>
        </h4>
        <ul class="vf-links__list | vf-list">
          <li class="vf-list__item">
            <a class="vf-list__link" href="{{ '/developing/getting-started/setting-up' | url }}">Setting up</a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="{{ '/developing/getting-started/code-of-conduct' | url }}">Code of conduct</a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="{{ '/developing/getting-started/pull-requests' | url }}">Making a Pull Request</a>
          </li>
        </ul>
      </div>
      <div class="vf-links">
        <h4 class="vf-links__heading">
          Project
        </h4>
        <ul class="vf-links__list | vf-list">
          <li class="vf-list__item">
            <a class="vf-list__link" href="{{ '/search' | url }}">Search</a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="{{ '/updates' | url }}">Changelog, updates</a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="https://github.com/visual-framework/vf-core">GitHub</a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="https://join.slack.com/t/visual-framework/shared_invite/enQtNDAxNzY0NDg4NTY0LWFhMjEwNGY3ZTk3NWYxNWVjOWQ1ZWE4YjViZmY1YjBkMDQxMTNlNjQ0N2ZiMTQ1ZTZiMGM4NjU5Y2E0MjM3ZGQ">Slack</a>
          </li>
        </ul>
      </div>
      <div class="vf-links">
      </div>
      <div class="vf-links">
      </div>
    </div>
    <section class="vf-footer__legal | vf-grid vf-grid__col-1">
      <span class="vf-footer__legal-text">
        <a class="vf-footer__link" href="https://www.embl.org/">Brought to you by the developers, designers and UX teams at EMBL and EMBL-EBI</a>
      </span>
      <span class="vf-footer__legal-text">
        <a class="vf-footer__link" href="https://goo.gl/maps/nbxNg2HGXL1MTtzt9">Meyerhofstraße 1, 69117 Heidelberg, Germany</a>
      </span>
      <span class="vf-footer__legal-text">
        <a class="vf-footer__link" href="tel:004962213870">Tel: +49 6221 387-0</a>
      </span>
      {# <span class="vf-footer__legal-text">
        <a class="vf-footer__link" href="https://www.embl.org/contact">Full contact details</a>
      </span> #}
    </section>
    <section class="vf-footer__legal">
      <span class="vf-footer__legal-text">
        Latest release: <code class="vf-code">{{ siteConfig.vfVersion }}</code> <a href="{{ '/updates' | url }}" class="vf-footer__link">See more releases</a>
      </span>
      <span class="vf-footer__legal-text">
        <a class="vf-footer__link" href="{{ '/feed.xml' | url }}">RSS Feed</a>
      </span>
      <span class="vf-footer__legal-text">
        Code license is <a class="vf-footer__link" href="https://github.com/visual-framework/vf-core/blob/develop/LICENSE">Apache 2.0</a>
      </span>
    </section>
  </div>
</footer>



{% if serverInfo.environment == "development" %}
<div class="vf-grid">
  <div class="vf-body--text">
    <p><code class="vf-code-example__pre"> ⚠️ You're running the {{serverInfo.environment}} command; Page location {{ page.inputPath }} </code></p>
  </div>
</div>
{% endif %}

{% include "scripts.njk" %}
