<footer class="vf-footer">
  <div class="vf-footer__inner">
    <p class="vf-footer__notice">A toolkit to quickly build better life science websites.</p>
    <div class="vf-footer__links-group | vf-grid vf-grid__col-5">
      <div class="vf-links">
        <ul class="vf-links__list | vf-list">
          <li class="vf-list__item">
            <a class="vf-list__link" href="{{ '/' | url }}">About</a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="{{ '/developing' | url }}">Documentation</a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="https://join.slack.com/t/visual-framework/shared_invite/enQtNDAxNzY0NDg4NTY0LWFhMjEwNGY3ZTk3NWYxNWVjOWQ1ZWE4YjViZmY1YjBkMDQxMTNlNjQ0N2ZiMTQ1ZTZiMGM4NjU5Y2E0MjM3ZGQ">Help, chat</a>
          </li>
        </ul>
      </div>
      <div class="vf-links">
        <ul class="vf-links__list | vf-list">
          <li class="vf-list__item">
            <a class="vf-list__link" href="{{ '/search' | url }}">Search</a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="{{ '/components' | url }}">Components</a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="{{ '/updates' | url }}">Changelog, updates</a>
          </li>
        </ul>
      </div>
      <div class="vf-links">
        {# <h4 class="vf-links__heading">Category</h4> #}
        <ul class="vf-links__list | vf-list">
          <li class="vf-list__item">
            <a class="vf-list__link" href="{{ '/feed.xml' | url }}">RSS Feed</a>
          </li>
        </ul>
      </div>
      <div class="vf-links">
      </div>
      <div class="vf-links">
      </div>
    </div>
    <section class="vf-footer__legal | vf-grid vf-grid__col-1">
      <span class="vf-footer__legal-text">
        <a class="vf-footer__link" href="https://www.embl.org/">Brough to you by the developers, designers and UX teams at EMBL and EMBL-EBI</a>
      </span>
      <span class="vf-footer__legal-text">
        <a class="vf-footer__link" href="https://goo.gl/maps/nbxNg2HGXL1MTtzt9">Meyerhofstraße 1, 69117 Heidelberg, Germany</a>
      </span>
      <span class="vf-footer__legal-text">
        <a class="vf-footer__link" href="tel:004962213870">Tel: +49 6221 387-0</a>
      </span>
      {# <span class="vf-footer__legal-text">
        <a class="vf-footer__link" href="https://www.embl.org/contact">Full contact details</a>
      </span> #}
    </section>
    <section class="vf-footer__legal">
      <span class="vf-footer__legal-text">
        Latest release: <code>v{{ siteConfig.vfVersion }}</code> <a href="{{ '/updates' | url }}" class="vf-footer__link">See more releases</a>
      </span>
      <span class="vf-footer__legal-text">
        Code license is Apache 2.0
      </span>
    </section>
  </div>
</footer>



{% if serverInfo.environment == "development" %}
<div class="vf-grid">
  <div class="vf-body--text">
    <p><code class="vf-code-example__pre"> ⚠️ You're running the {{serverInfo.environment}} command; Page location {{ page.inputPath }} </code></p>
  </div>
</div>
{% endif %}

<!-- This page was generated on {{ siteConfig.buildTime }} -->
{% if serverInfo.environment == "development" -%}
  <script src="{{ '/scripts/scripts.js' | url }}"></script>
{%- else -%}
  <script src="https://assets.emblstatic.net/vf/{{ siteConfig.vfVersion }}/scripts/scripts.js"></script>
{%- endif -%}
