{%- set activeStyle = 'aria-current="page"' -%}
<nav class="vf-navigation vf-navigation--main | vf-cluster">
  <ul class="vf-navigation__list | vf-list--inline | vf-cluster__inner">
    <li class="vf-navigation__item">
      {% set navUrl = '/about/' %}
      <a href="{{ navUrl | url }}" class="vf-navigation__link" {% if page.url == navUrl %}{{ activeStyle | safe }}{% endif -%}>About</a>
    </li>
    {# <li class="vf-navigation__item">
      {% set navUrl = '/design-principles/' %}
      <a href="{{ navUrl | url }}" class="vf-navigation__link" {% if page.url == navUrl %}{{ activeStyle | safe }}{% endif -%}>Design Principles</a>
    </li> #}
    <li class="vf-navigation__item">
      {% set navUrl = '/building/' %}
      <a href="{{ navUrl | url }}" class="vf-navigation__link" {% if page.url == navUrl %}{{ activeStyle | safe }}{% endif -%}>Building</a>
    </li>
    <li class="vf-navigation__item">
      {% set navUrl = '/components/' %}
      <a href="{{ navUrl | url }}" class="vf-navigation__link" {% if page.url == navUrl %}{{ activeStyle | safe }}{% endif -%}>Components and patterns</a>
    </li>
    {# <li class="vf-navigation__item">
      {% set navUrl = '/troubleshooting/' %}
      <a href="{{ navUrl | url }}" class="vf-navigation__link" {% if page.url == navUrl %}{{ activeStyle | safe }}{% endif -%}>Troubleshooting</a>
    </li> #}
    <li class="vf-navigation__item">
      {% set navUrl = '/updates/' %}
      <a href="{{ navUrl | url }}" class="vf-navigation__link" {% if page.url == navUrl %}{{ activeStyle | safe }}{% endif -%}>Updates</a>
    </li>
  </ul>
</nav>
