<nav class="vf-navigation vf-navigation--main | vf-cluster">
  <ul class="vf-navigation__list | vf-list--inline | vf-cluster__inner">
    <li class="vf-navigation__item">
      <a href="/about" class="vf-navigation__link">About</a>
    </li>
    <li class="vf-navigation__item">
      <a href="/components" class="vf-navigation__link">Components</a>
    </li>
    <li class="vf-navigation__item">
      <a href="/patterns" class="vf-navigation__link">Examples</a>
    </li>
    <li class="vf-navigation__item">
      <a href="/troubleshooting" class="vf-navigation__link">Troubleshooting</a>
    </li>
    <li class="vf-navigation__item">
      <a href="/building" class="vf-navigation__link">Building</a>
    </li>
    <li class="vf-navigation__item">
      <a href="/updates" class="vf-navigation__link">Updates</a>
    </li>
    {# <li class="vf-navigation__item">
      <a href="/developing" class="vf-navigation__link">Developing</a>
    </li> #}
  </ul>
</nav>
