<!-- IE11 polyfill JS -->
{% render '@vf-polyfill-js' %}

<!-- This page was generated on {{ siteConfig.buildTime }} -->
{% if serverInfo.environment == "development" -%}
  <script src="{{ '/scripts/scripts.js' | url }}"></script>
{%- elif siteConfig.vfVersionPrefix == "dev" -%}
  <script src="https://dev.assets.emblstatic.net/vf/develop/scripts/scripts.js"></script>
{%- else -%}
  <script src="https://assets.emblstatic.net/vf/{{ siteConfig.vfVersion }}/scripts/scripts.js"></script>
{%- endif -%}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-N5ZLH2KNJP"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-N5ZLH2KNJP');
</script>
