.embl-grid {
  display: grid;
  grid-column: main;
  grid-column-gap: var(--page-grid-gap);
  /* stylelint-disable declaration-colon-space-after */
  grid-template-columns:
    calc(var(--embl-grid-module--prime) + var(--embl-grid-spacing-normaliser))
    repeat(auto-fit, minmax(288px, 1fr))
  ;
  /* stylelint-enable */
  margin-bottom: 48px;

  & > :first-child {
    grid-column: 1 / -1;
    margin-right: var(--embl-grid-spacing-normaliser);

    @media (min-width: 846px) {
      grid-column: span 1;
    }
  }
  & > *:not(:first-child) {
    @media (max-width: 845px) {
      grid-column: 1 / -1;
    }
  }
}

.embl-grid--has-centered-content {
  --embl-grid-spacing-normaliser: 0; // removes margin from first child
  --page-grid-gap: 0; //

  @media (min-width: $vf-breakpoint--lg) {
    --page-grid-gap: 36px;

    /* stylelint-disable declaration-colon-space-after */
    grid-template-columns:
      var(--embl-grid-module--prime)
      auto
      var(--embl-grid-module--prime)
    ;
    /* stylelint-enable */
  }
}

.embl-grid--has-sidebar {

  & > *:nth-child(3n+2) {
    grid-column: span 2;
  }

  @media (max-width: 845px) {
    & > *:last-child {
      grid-column: 1 / -1;
    }
  }
  @media (min-width: 846px) and (max-width: 1219px) {
    & > *:last-child {
      grid-column: 2 / -1;
    }
  }
  @media (min-width: 1220px) {
    & > *:last-child {
      position: relative;
    }
    & > *:last-child::before {
      background-color: set-ui-color(vf-ui-color--grey--light);
      content: '';
      height: 100%;
      left: -18px;
      position: absolute;
      width: 1px;
    }
  }
}

.embl-grid--alt {
  --page-grid-gap: 0;
  background-color: set-ui-color(vf-ui-color--black);
  color: set-ui-color(vf-ui-color--white);
  grid-column: 1 / -1;
  /* stylelint-disable declaration-colon-space-after */
  grid-template-columns:
    minmax(1em, auto)
    calc(var(--embl-grid-module--prime) + var(--embl-grid-spacing-normaliser))
    minmax(288px, calc(76.5em - 206px))
    minmax(1em, auto)
  ;
  /* stylelint-enable */
  justify-content: center;
  position: relative;

  & > :first-child {
    grid-column: 2 / -2;
  }
  & > :last-child {
    grid-column: 2 / -2;
  }

  @media (min-width: $vf-breakpoint--md) {
    & > :first-child {
      grid-column: 2 / span 1;
    }
    & > :last-child {
      grid-column: 3;
      margin-left: 16px;
    }
  }
  @media (min-width: 1200px) {
    & > :last-child {
      margin-left: 30px;
    }
  }

  // HACK: put here for now
  /* stylelint-disable order/properties-alphabetical-order, order/order  */
  padding-top: 1.5rem;
  /* stylelint-enable */
}
