{% extends "layouts/doc.njk"%}
{% import "macros/status.njk" as status %}

{% set pathParam = request.params.path %}
{% set doc = frctl.docs.find('path', pathParam | default('')) %}

{% if pathParam and not doc %}{{ throw(404, 'Page not found') }}{% endif %}

{% set page = {
    title: doc.title | default('VF 2.0 Component library') | default(frctl.get('project.title')) | default('Welcome to your component library'),
    lede: doc.lede | default('Browse all the components included in the <a href="https://github.com/visual-framework/vf-core" class="vf-link">Visual Framework 2.0 core</a>.'),
    intro: doc.intro | default('Use this website to browse components, understand the consituent CSS, JS templates, and to install from npm.')
} %}

{% set status = status.tag(doc.status) %}

{% block docContent %}

<div class="component-library-notes">

{% block pageContent %}
{% import "macros/errors.njk" as errors %}
{% if doc %}
    {% set contents = doc.render(null, renderEnv) | async(true) %}
    {% if contents | isError %}
    {{ errors.renderError('page', contents.message) }}
    {% else %}
    {{ contents }}
    {% endif %}
{% endif %}
{% endblock %}
</div>

{% render '@vf-divider' %}

{% if frctl.docs %}
{% render '@vf-heading', {"type": "large", "title": "In this section"} %}
{% endif %}

{% if doc %}
{% set docSection = doc.path.split("/") %}

<ul>
{% asyncEach item in frctl.docs %}

  {% asyncEach menuitem in item %}
    {% if item.path == docSection[0] %}
        <li>
          <a href="{{ path( (menuitem | url), request ) }}">{{ menuitem.title }}</a>
          {% if menuitem.path == doc.path %}
          <span class="vf-badge">You are here</span>
          {% endif %}
        </li>
    {% endif %}
  {% endeach %}
{% endeach %}
</ul>
{% endif %}


{% endblock %}
