// vf-form__select

.vf-form__select {

}


.vf-form__select-container {
  position: relative;
  height: 61.5px;
  background: white;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    right: 21px;
    bottom: 0;
    margin: auto;
    border-style: solid;
    border-width: 9px 9px 0 9px;
    border-color: set-color(vf-color-gray) transparent transparent transparent;
    pointer-events: none;
  }

  &:before {
    width: 56px;
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    border-left: 3px solid set-color(vf-color-gray);;
    content: '';
    pointer-events: none;
  }
  &:hover {
    &:after {
      border-color: set-color(vf-color-black) transparent transparent transparent;
    }
    &:before {
      border-left: 3px solid set-color(vf-color-black);
    }
  }


  .vf-form__select {
    @include set-type(body--r);

    border: none;
    box-shadow: none;
    border-radius: 0;
    background: transparent;
    height: 100%;
    width: 100%;
    cursor: pointer;
    color: set-color(vf-color-gray-dark);
    outline: none;
    padding-right: 35px;
    padding-left: 15px;
    border: 3px solid set-color(vf-color-gray);

    // Disable default styling on ff
    -moz-appearance: none;

    // Disable ugly ass outline on firefox
    &:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 set-color(vf-color-gray-black);
    }

    // Disable default styling on webkit browsers
    -webkit-appearance: none;

    // Disable default arrow on IE 11+
    &::-ms-expand {
      display: none;
    }
    &:hover {
      border-color: set-color(vf-color-black);
      color: set-color(vf-color-black);
    }
    &:focus {
      border-color: set-color(vf-color-black);
      color: set-color(vf-color-black);
    }
  }
}

// IE 9 only
@media all and (min-width:0\0) and (min-resolution:.001dpcm){
  .vf-form__select-container {
    .vf-form__select {
      padding-right: 0;
    }

    &:after, &:before {
      display: none;
    }
  }
}
