// vf-form__select

@import 'package.variables.scss';
// Debug information from component's `package.json`:
// ---
/*!
 * Component: #{map-get($componentInfo, 'name')}
 * Version: #{map-get($componentInfo, 'version')}
 * Location: #{map-get($componentInfo, 'location')}
 */

.vf-form__select {
  @include set-type(text-body--3);

  /* stylelint-disable */
  --webkit-appearance: none;
  appearance: none;
  /* stylelint-enable */
  background-color: set-ui-color(vf-ui-color--white);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='140' height='140'%3E%3Cg fill='%23707372'%3E%3Cpath d='M21.093 56.052a7.303 7.303 0 0010.314 0l37.56-37.467a1.47 1.47 0 012.066 0l37.56 37.467a7.282 7.282 0 0010.314-10.284L75.157 2.13a7.303 7.303 0 00-10.314 0l-43.75 43.64a7.263 7.263 0 000 10.283zM118.907 83.947a7.303 7.303 0 00-10.314 0l-37.56 37.468a1.47 1.47 0 01-2.066 0l-37.56-37.468a7.282 7.282 0 00-10.314 10.285l43.75 43.639a7.31 7.31 0 0010.314 0l43.75-43.64a7.263 7.263 0 000-10.283z'/%3E%3C/g%3E%3C/svg%3E");
  background-position: right 1rem top 50%, 0 0;
  background-repeat: no-repeat, repeat;
  background-size: 1rem;
  border: 2px solid set-color(vf-color--grey);
  border-radius: 0;
  box-sizing: border-box;
  color: set-color(vf-color--grey--dark);
  display: block;
  margin: 0;
  max-width: 100%;
  padding: map-get($vf-spacing-map, vf-spacing--200);
  width: 100%;

  &:focus,
  &:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='140' height='140'%3E%3Cg fill='%2354585A'%3E%3Cpath d='M21.093 56.052a7.303 7.303 0 0010.314 0l37.56-37.467a1.47 1.47 0 012.066 0l37.56 37.467a7.282 7.282 0 0010.314-10.284L75.157 2.13a7.303 7.303 0 00-10.314 0l-43.75 43.64a7.263 7.263 0 000 10.283zM118.907 83.947a7.303 7.303 0 00-10.314 0l-37.56 37.468a1.47 1.47 0 01-2.066 0l-37.56-37.468a7.282 7.282 0 00-10.314 10.285l43.75 43.639a7.31 7.31 0 0010.314 0l43.75-43.64a7.263 7.263 0 000-10.283z'/%3E%3C/g%3E%3C/svg%3E");
    border-color: color(grey--dark);
    box-shadow: 0 0 0 .0625rem color(grey--dark);
    color: set-ui-color(vf-ui-color--black);
    outline: 0;
  }

}

.vf-form__select::-ms-expand {
  display: none;
}



.vf-form__select option {
  font-weight: normal;
}
