<nav class="vf-breadcrumbs" aria-label="Breadcrumb">

  <ul class="vf-breadcrumbs__list | vf-list vf-list--inline">
    <li class="vf-breadcrumbs__item">
      <a href=".." class="vf-breadcrumbs__link">Boilerplates</a>
    </li>
    <li class="vf-breadcrumbs__item">
      
    </li>
  </ul>

  <span class="vf-breadcrumbs__heading">Related:</span>
  <ul class="vf-breadcrumbs__list vf-breadcrumbs__list--related | vf-list vf-list--inline">
    <li class="vf-breadcrumbs__item">
      <a href="../../components" class="vf-breadcrumbs__link">Components</a>
    </li>
  </ul>

</nav>
