// vf-form__textarea

.vf-form__textarea {
  border: 3px solid set-ui-color(vf-ui-color--grey);
  box-sizing: border-box;
  display: block;
  padding: 12px;
  width: 100%;

  &:focus {
    border-color: set-color(vf-color--grey--dark);
    outline: 0;
  }
}
