---
title: In the right place?
label: none
context:
  lede: None yet
  intro: This site is designed as a demonstration of all the components bundled with the Visual Framework.
order: 99
isIndex: true
---

You most likely don't need to clone the
[`vf-core`](https://github.com/visual-framework/vf-core) unless you're
interested in improving the architecture of the system or contributing a global
component for all users of the Visual Framework.

Most developers will want to build a site or design system that use the Visual
Framework architecture and components, for those users we recommend:

1. Reviewing the links below and components on this site; and
2. Utilising the [`vf-eleventy`](https://visual-framework.github.io/vf-eleventy/) templates.
