<div class="vf-tabs">
  <ul class="vf-tabs__list" data-vf-js-tabs>
    {%- for item in tabs -%}
    <li class="vf-tabs__item">
      <a class="vf-tabs__link" href="#vf-tabs__section--{{item.tab_number}}">{{item.tab_title}}</a>
    </li>
    {%- endfor -%}
  </ul>
</div>

<div class="vf-tabs-content" data-vf-js-tabs-content>
  {% for item in tabs %}
  <section class="vf-tabs__section" id="vf-tabs__section--{{item.tab_number}}">
    {% if item.tab_heading %}<h2>{{item.tab_heading}}</h2>{% endif %}
    <p>{{item.tab_content}}</p>
  </section>
  {% endfor %}
</div>
