:root {
  --vf-color--green: #009f4d;
  --vf-color--green--darkest: #115740;
  --vf-color--green--dark: #007a53;
  --vf-color--green--light: #6cc24a;
  --vf-color--green--lightest: #d0debb;
  --vf-color--grey: #707372;
  --vf-color--grey--darkest: #373a36;
  --vf-color--grey--dark: #54585a;
  --vf-color--grey--light: #a8a99e;
  --vf-color--grey--lightest: #d0d0ce;
  --vf-color--red: #e40046;
  --vf-color--red--dark: #a6093d;
  --vf-color--red--light: #e58f9e;
  --vf-color--blue: #307fe2;
  --vf-color--blue--dark: #003da5;
  --vf-color--blue--light: #8bb8e8;
  --vf-color--purple: #8246af;
  --vf-color--purple--dark: #563d82;
  --vf-color--purple--light: #cba3d8;
  --vf-color--orange: #ffa300;
  --vf-color--orange--dark: #be5400;
  --vf-color--orange--light: #efc06e;
  --vf-color--yellow: #ffcd00;
  --vf-color--yellow--dark: #ffb81c;
  --vf-color--yellow--light: #fdd757;
  --vf-color--bright-green: #a8c700;
  --vf-color--bright-green--dark: #84bd00;
  --vf-color--bright-green--light: #e2e868;
}

:root {
  --vf-ui-color--black: #000000;
  --vf-ui-color--grey: #f3f3f3;
  --vf-ui-color--grey--light: #d8d8d8;
  --vf-ui-color--yellow: #fffadc;
  --vf-ui-color--red: #d32f2f;
  --vf-ui-color--white: #ffffff;
  --vf-ui-color--off-white: #fafafa;
}

/*!
 * Component: @visual-framework/embl-breadcrumbs-lookup
 * Version: 1.0.0-alpha.6
 * Location: components/embl-breadcrumbs-lookup
 */
.embl-grid .embl-breadcrumbs-lookup:first-child {
  grid-column: 1/-1;
  margin-bottom: 0;
}

.embl-breadcrumbs-lookup--ghosting {
  -webkit-animation: embl-breadcrumbs-lookup-ghosting-animation 4s ease-in-out infinite alternate;
          animation: embl-breadcrumbs-lookup-ghosting-animation 4s ease-in-out infinite alternate;
  background: 50% top/15% 60% -webkit-gradient(linear, left top, right top, from(#d8d8d8), color-stop(30%, #f3f3f3), color-stop(50%, #f3f3f3), to(#d8d8d8));
  background: 50% top/15% 60% linear-gradient(90deg, #d8d8d8 0%, #f3f3f3 30%, #f3f3f3 50%, #d8d8d8 100%);
  display: block;
  -webkit-filter: blur(1rem);
          filter: blur(1rem);
  height: 17px;
  margin-bottom: 5px;
  margin-top: 5px;
  -webkit-mask-box-image: url("../assets/embl-breadcrumbs-lookup/assets/embl-breadcrumbs-lookup-ghost.svg") stretch;
          mask-border: url("../assets/embl-breadcrumbs-lookup/assets/embl-breadcrumbs-lookup-ghost.svg") stretch;
  max-width: 60rem;
  width: 100%;
}

@-webkit-keyframes embl-breadcrumbs-lookup-ghosting-animation {
  to {
    background-position: 100%;
  }
}

@keyframes embl-breadcrumbs-lookup-ghosting-animation {
  to {
    background-position: 100%;
  }
}
