$componentInfo: (
             name: "@visual-framework/embl-breadcrumbs-lookup",
             version: "1.0.0",
             location: "components/embl-breadcrumbs-lookup",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Wed, 28 Oct 2020 09:50:49 GMT"
          );