$componentInfo: (
             name: "@visual-framework/embl-breadcrumbs-lookup",
             version: "1.0.0",
             location: "components/embl-breadcrumbs-lookup",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Tue, 27 Oct 2020 11:08:48 GMT"
          );