$componentInfo: (
             name: "@visual-framework/vf-tree",
             version: "1.0.0",
             location: "components/vf-tree",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Thu, 05 Nov 2020 09:33:31 GMT"
          );