$componentInfo: (
             name: "@visual-framework/vf-show-more",
             version: "1.0.0-alpha.0",
             location: "components/vf-show-more",
             vfCoreVersion: "2.2.3"
          );