$componentInfo: (
             name: "@visual-framework/vf-show-more",
             version: "1.0.0-alpha.1",
             location: "components/vf-show-more",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Fri, 30 Oct 2020 15:59:26 GMT"
          );