$componentInfo: (
             name: "@visual-framework/vf-show-more",
             version: "1.0.0-alpha.1",
             location: "components/vf-show-more",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Fri, 06 Nov 2020 11:50:55 GMT"
          );