
// vf-tree Sass variables file.
// ------------------------------------------------------------

// ------------------------------------------------------------
// Default component variables
// ------------------------------------------------------------

 /* stylelint-disable */
$vf-tree-bg-color: #F4F3F0;
$vf-tree-bg-color--hover: #E7E6E3;
$vf-tree-bg-color--expanded: #FFF;
$vf-tree-text-weight--hover: 700;
$vf-tree-caret-color: #979797;
$vf-tree-caret-color--hover: ui-color(black);
$vf-tree-caret-color--exapanded: ui-color(black);
 /* stylelint-enable */
