// vf-tree

// **Thinking about deleting this file?**
// If your component needs no CSS/Sass, we still recommend leaving the
// scss files in place. As this is primarily a CSS framework, it is better to
// leave the empty files so you know a file wasn't accidently omitted.
// If you don't have any Sass, you can trim this block down to:
// "This page was intentionally left blank"

@import 'package.variables.scss';
// Debug information from component's `package.json`:
// ---
/*!
 * Component: #{map-get($componentInfo, 'name')}
 * Version: #{map-get($componentInfo, 'version')}
 * Location: #{map-get($componentInfo, 'location')}
 */

@import 'vf-tree.variables.scss';

.vf-tree {
  background-color: $vf-tree-bg-color;
  border-right: 1px solid #E3E3E3;
  padding: 8px 0;
}

.vf-tree__list {
  margin-bottom: 0;
}

.vf-tree__item {
  padding: 4px 8px;
  position: relative;

  &:hover {
    background-color: $vf-tree-bg-color--hover;
  }
}

.vf-tree__button {
  all: unset;
  cursor: pointer;
  float: right;
  margin-left: auto;

  svg {
    stroke: $vf-tree-caret-color;
  }

  &:hover {
    all: unset;
    cursor: pointer;
    float: right;
    margin-left: auto;

    svg {
      stroke: #000;
    }
  }
}

.vf-tree__link {
  @include set-type(text-body--5, $custom-margin-bottom: 0px);

  color: black;
  padding: 8px 0;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.vf-u-expanded {
  background-color: #fff;
  padding-bottom: 16px;

  &:hover {
    background-color: #fff;
  }
  .vf-tree-expand {
    expanded {
      stroke: #000;
    }
  }
}

// this is the button that expands the tree menu list
.vf-tree-expandable {
  stroke: $vf-tree-caret-color;
  &:hover {
    stroke: #000;
  }
}


.vf-tree__item--selected {
  & > .vf-tree__link:first-of-type {
    @include set-type(text-body--4, $custom-margin-bottom: 0px);
  }
}


.vf-tree__list--additional {

  .vf-tree__item {
    margin-left: 16px;
    position: relative;
    &:before {
      border-left: 1px solid $vf-tree-caret-color;
      content: '';
      height: 100%;
      left: -8px;
      position: absolute;
    }
    &:last-of-type {
      padding-bottom: 0;
    }
  }
}



// this should probably be it's own component at some point.


.vf-collapsable {
  display: flex;
  padding: 0 8px;
}

.vf-collapsable__button {
  all: unset;
  cursor: pointer;
  margin-left: auto;

  svg {
    stroke: $vf-tree-caret-color;
  }

  &:hover {
    all: unset;
    cursor: pointer;
    margin-left: auto;

    svg {
      stroke: #000;
    }
  }
}
