{%- if context %}
  {% set search_client_prompt = context.search_client_prompt %}
  {% set search_client_action = context.search_client_action %}
  {% set search_client_results = context.search_client_results %}
  {% set search_client_autofocus = context.search_client_autofocus %}
  {% set search_client_button = context.search_client_button %}
  {% set search_client_button_text = context.search_client_button_text %}
  {% set search_client_script = context.search_client_script %}

  {% set id = context.id %}
  {% set modifiers = context.modifiers %}
  {% set override_class = context.override_class %}
{% endif -%}

<form action="{{ search_client_action }}" method="GET" class="vf-form | vf-search vf-search--inline">
  <div class="vf-container__inner">
    <div class="vf-form__item | vf-search__item">
      <input type="search" id="search" placeholder="{{ search_client_prompt }}" name="search_query" class="vf-form__input | vf-search__input" {%- if search_client_autofocus %} autofocus{%- endif %} data-vf-search-client-side-input>
    </div>
    {%- if search_client_button -%}
    <button type="submit" class="vf-search__button | vf-button vf-button--primary">
      {{ search_client_button_text }}
    </button>
    {%- endif -%}
  </div>
</form>

{%- if search_client_results %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/2.3.8/lunr.js"></script>
{#- https://lunrjs.com/docs/index.html -#}
<script src="{{ search_client_script }}"></script>
<div class="vf-search-client-side vf-grid | vf-content">
  <div class="results-container" data-vf-search-client-side-results>
    Loading...
  </div>
</div>

<script type="text/javascript">
  window.onload = function () {
    vfSearchClientSide();
  };
</script>
{% endif -%}
