<button class="vf-button vf-button--outline vf-button--primary">An Primary Outline Button</button>
<button class="vf-button vf-button--outline vf-button--secondary">A Secondary Outline Button</button>
<button class="vf-button vf-button--outline vf-button--tertiary">A Tertiary Outline Button</button>
