<button class="vf-button vf-button--pill vf-button--primary" href="#">A Pill Button</button>
<a class="vf-button vf-button--pill vf-button--primary " href="#">A Pill Button</a>
<button class="vf-button vf-button--rounded vf-button--primary">A Rounded Button</button>
