<section>
  <button class="vf-button vf-button--outline--primary">An Primary Outline Button</button>
  <button class="vf-button vf-button--outline--secondary">A Secondary Outline Button</button>
  <button class="vf-button vf-button--outline--tertiary">A Tertiary Outline Button</button>
</section>
