

<section>
  <button class="vf-button vf-button--primary">A Primary Button</button>
  <button class="vf-button vf-button--secondary">A Secondary Button</button>
  <button class="vf-button vf-button--tertiary">A Tertiary Button</button>
</section>
