// button reset

.vf-button {
  @include set-type(button--r);

  appearance: none;
  border: 0;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 16px 24px;
  text-decoration: none;

  // @include padding(all, map-get($vf-spacing-map, vf-spacing-r));

}

.vf-button--primary {
  @include button-link($vf-link-color, $vf-link-hover-color);
}

.vf-button--secondary {
  @include button-link($vf-link-color: set-color(vf-color-green), $vf-link-hover-color: set-color(vf-color-green-dark));
}

.vf-button--tertiary {
  @include button-link($vf-link-color: set-color(vf-color-gray-dark), $vf-link-hover-color: set-color(vf-color-gray));
}

.vf-button--outline--primary {
  @include button-link--ghost;
}

.vf-button--outline--secondary {
  @include button-link--ghost($vf-link-color: set-color(vf-color-green), $vf-link-hover-color: set-color(vf-color-green-dark));
}

.vf-button--outline--tertiary {
  @include button-link--ghost($vf-link-color: set-color(vf-color-gray-dark), $vf-link-hover-color: set-color(vf-color-gray));
}

.vf-button--pill {
  border-radius: 500px;
}

.vf-button--rounded {
  border-radius: $vf-radius-r;
}

.vf-button--s {
  @include set-type(button--s);

  padding: 12px 8px;
  // @include padding(all, map-get($vf-spacing-map, vf-spacing-s));

  &.vf-button--rounded {
    border-radius: 8px;
  }
}

.vf-button--l {
  @include set-type(button--r);
  
  padding: 20px 32px;
  // @include padding(all, map-get($vf-spacing-map, vf-spacing-l));
}



[span*='Examples '] {
  display: none;
}
