<section>
  <button class="vf-button vf-button--s">A Small Button</button>
  <button class="vf-button">A Regular Button</button>
  <button class="vf-button vf-button--l">A Large Button</button>
</section>
