<div
  class="vf-chatbot-selector"
  data-vf-js-chatbot-selector
  {% if chatbotRoutes %}
    data-routes-path="{{ chatbotRoutes.routes }}"
    data-multiselect="{{ chatbotRoutes.multiSelect | default(false) }}"
    data-max-multiselect="{{ chatbotRoutes.maxMultiSelect | default(1) }}"
    data-show-search="{{ chatbotRoutes.showSearch | default(true) }}"
    data-show-all-services="{{ chatbotRoutes.showAllServices | default(false) }}"
    data-show-all-services-selected="{{ chatbotRoutes.showAllServicesSelected | default(false)}}"
  {% endif %}
>
<button class="vf-chatbot-selector__title" data-vf-js-selector-toggle>
    <img src="../../assets/vf-chatbot/assets/vf-chatbot--icon-32x32-dark-green.svg" alt="AI Assistant">
    <div class="vf-chatbot-selector__title-content">
      <span class="vf-chatbot-selector__main-text">AI Assistant</span>
      <span class="vf-chatbot-selector__title-text">{{ chatbotRoutes.title | default('Select option') }}</span>
    </div>
    <span class="vf-chatbot-selector__chevron">&#8964;</span>
  </button>

  <div class="vf-chatbot-selector__dropdown" data-vf-js-selector-dropdown>

    {% if chatbotRoutes.showSearch and (chatbotRoutes.routes | length > chatbotRoutes.showSearchThreshold) %}
    <div class="vf-chatbot-selector__search">
      <input type="text" placeholder="{{ chatbotRoutes.placeholder | default('Search...') }}" data-vf-js-selector-search>
    </div>
    {% endif %}

    {% if chatbotRoutes.multiSelect %}
    {% set maxSelect = chatbotRoutes.maxMultiSelect | default(3) %}

    <div class="vf-chatbot-selector__header">
      <span data-max-select="{{ maxSelect }}">Select up to {{ maxSelect }} services</span>
      <a href="#" class="vf-chatbot-selector__clear" data-vf-js-selector-clear>Clear all</a>
    </div>
    {% endif %}
    <ul class="vf-chatbot-selector__list" data-vf-js-chatbot-selector-list>
      <!-- Routes will be populated dynamically via JavaScript -->
    </ul>
  </div>

</div>
