// vf-chatbot-selector

@import 'package.variables.scss';

.vf-chatbot-selector {
  position: relative;
  display: block;
  font-family: var(--vf-font-family);
  width: 100%;
}

.vf-chatbot-selector__title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0px;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--vf-text-color);
  text-align: left;

  &:hover {
    // background-color: var(--vf-color--grey--lightest);
  }

  &--expanded {
    .vf-chatbot-selector__chevron {
      transform: rotate(180deg);
    }
  }
}


.vf-chatbot-selector__title img {
  width: 32px;
  margin: 10px;
  vertical-align: middle;
}

.vf-chatbot-selector__title-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2px;
}

.vf-chatbot-selector__main-text {
  @include set-type(text-heading--5);
  margin-bottom: 0;
}

.vf-chatbot-selector__title-text {
  @include set-type(text-body--5);
  margin-bottom: 0;
}

.vf-chatbot-selector__chevron {
  height: 25px;
  transition: transform 0.2s ease;
  margin-left: 8px;
  font-size: 16px;
}

.vf-chatbot-selector__dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 300px;
  max-width: 400px;
  background: var(--vf-color--neutral--0);
  box-shadow: 0 4px 6px var(--vf-color--grey--light);
  margin-top: 4px;

  &--expanded {
    display: block;
  }
}

.vf-chatbot-selector__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  border-bottom: 1px solid var(--vf-color--grey--light);
  font-size: 14px;
}

.vf-chatbot-selector__clear {
  color: var(--vf-color--grey--dark);
  text-decoration: none;
  pointer-events: none;
  opacity: 0.5;

  &--active {
    color: $vf-link--color;
    pointer-events: auto;
    opacity: 1;
  }
}

.vf-chatbot-selector__search {

  input {
    width: 94%;
    padding: 8px 0px 8px 16px;
    border: 1px solid #333;
    font-size: 14px;
  }
}

.vf-chatbot-selector__list {
  max-height: 400px;
  overflow-y: auto;
  margin: 0;
  padding: 8px 0;
  list-style: none;
}

.vf-chatbot-selector__item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 12px 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    // background-color: var(--vf-color--grey--lightest);
  }

  &--selected {
    // background-color: var(--vf-color--grey--light);

    .vf-chatbot-selector__tick {
      opacity: 1;
    }
  }
}

.vf-chatbot-selector__item-content {
  flex: 1;
  padding-right: 16px;
}

.vf-chatbot-selector__item-title {
  font-weight: 500;
  margin-bottom: 4px;
}

.vf-chatbot-selector__item-description {
  font-size: 14px;
  color: var(--vf-color--grey--dark);
  line-height: 1.4;
}

.vf-chatbot-selector__tick {
  opacity: 0;
  color: var(--vf-color--grey--dark);
  font-weight: bold;
  transition: opacity 0.2s ease;
}
