---
title: Getting started
label: Getting started
context:
  lede: None yet
  intro: If you're new to the Visual Framework, here are some links to look at first.
order: 100
isIndex: true
---

1. [Read the README](https://github.com/visual-framework/vf-core)
1. Understand <a href="https://visual-framework.github.io/vf-welcome/">the basics</a>;
1. Review <a href="https://visual-framework.github.io/vf-welcome/developing/#getting-started/">the documentation</a></a>;
1. Browse <a href="#components">the components</a> below;
1. Learn <a href="https://visual-framework.github.io/vf-welcome/developing/#components">how to create new components</a> or <a href="https://github.com/visual-framework/vf-core/issues/new?template=new-component-request.md">request a new component</a>;
1. Make your <a href="https://github.com/visual-framework/vf-eleventy">own site or design system</a>; and
1. <a href="https://discord.gg/XHAvkUX">Ask the community for help</a> or <a href="http://github.com/visual-framework/vf-core/issues/">open an issue</a>.
