// vf-search

@import 'package.variables.scss';
// Debug information from component's `package.json`:
// ---
/*!
 * Component: #{map-get($componentInfo, 'name')}
 * Version: #{map-get($componentInfo, 'version')}
 * Location: #{map-get($componentInfo, 'location')}
 */

@import 'vf-search.variables.scss';

.vf-search--inline {
  align-items: flex-start;
  display: flex;

  .vf-search__item {
    flex-grow: 1;
  }

  .vf-search__button {
    margin-left: 16px;
    margin-top: 4px;
    position: relative;
  }
}
