---
title: File structure of the Visual Framework
order: 200
isIndex: false
---

{# Tree map generated with
   tree -L 2 . -I 'node_modules|cache|test_*|.git|.github|bin' -a
#}

The `vf-core` repo contains three types of files:

1. Patterns that are located in `./components`
2. Build scripts located in the root of the project (mainly)
3. The web interface `./tools/vf-frctl-theme`


## Detailed overview

<div class="vf-box">

<pre>
    ├── .editorconfig
    ├── CHANGELOG.md
    ├── CONTRIBUTING.md
    ├── README.md
    ├── build (dynamic folder used for rendering of static pattern library)
    ├── components  (all the components you wish to use)
    │   ├── _previews (templates for the web pattern browser)
    │   ├── vf-activity-group
    |   |   ...
    │   └── vf-video-teaser
    ├── docs (documentation files for the web interface)
    ├── fractal.js (configuration for the web pattern library)
    ├── gulpfile.js
    ├── lerna.json
    ├── package.json
    ├── public (dynamic folder used for rendering of global CSS, JS, pattern assets)
    └── tools
        ├── component-generator (make new components)
        ├── css-generator (build requirement)
        └── vf-frctl-theme (web interface)
</pre>

</div>
