---
title: Governance of the Visual Framework
order: 105
isIndex: true
---

The Visual Framework 2.0 is an open source project meant for the wider life
science community, so the maintainers aim to be transparent about what goes in
`vf-core`, what doesn't and why decisions are made.

The guiding spirit of the Visual Framework can be summed up as:

> Instead of a quick way to implement one look and feel,
> the Visual Framework is a way to quickly implement the look
> and feel needed for your content, data, users and organisation.

[More background here](https://blogs.embl.org/communications/2018/09/12/faster-scientific-websites-through-reusability/).

## What goes in

Code committed to `vf-core` should meet these measures:

1. Not lock you into a particular brand look and feel
2. Be useful to many organisations
3. Be mindful of constraints and use cases common for life science content and data
4. Be compatible with a variety of frontend solutions
5. Be modular and extensible

## Where ideas are proposed and discussed

Ideas are typically [discussed on Slack](https://embl-vf.slack.com/messages)
and [GitHub issues](https://github.com/visual-framework/vf-core/issues) and decisions
are documented there.

## What's in decision

We aim to capture:

- What was agreed
- Why it was agreed
- Forever-hold-your-peace

## Who makes the decision

In spirit, "the community" but in practice that falls to the maintainers and
those asking for change.

Who are the maintainers? Currently (as of April 2019) it's limited to EMBL and
EMBL-EBI developers, but we aim to expand this into a consultative group after
`beta.1` in late spring/summer 2019.
