---
title: Contributing
label: Contributing to the Visual Framework
order: 200
isIndex: true
---

If you'd like to contribute code, patterns or documentation to the Visual Framework 2.0,
first of all: thanks! Second: here are some guides.

- [Governance](contributing/governance)
    - How and why we make changes to the Visual Framework
- [Contributing guide](https://github.com/visual-framework/vf-core/blob/develop/CONTRIBUTING.md)
    - We welcome your contributions
- [Deprecating code](contributing/deprecation)
    - Most code is eventually better not used, here's how to mark a pattern as old
- [User base](contributing/user-base)
    - Some notes on who we expect to use Visual Framework core
