---
title: Versioning and updating a component
order: 202
isIndex: false
---

Like the Visual Framework 2.0, components follow [semantic versioning](https://semver.org/) by increasing their full version number every time they have breaking changes.

However the version number of components its not tied to the version number of the Visual Framework's `vf-core`; that is:

- `vf-core​@2.1.2` might use `vf-button​@1.0.1` and `vf-component-x​@8.2.1`.

As such components should specify if they only support specific versions of `vf-core` or require other specific versions of patterns.

You can read more about [component versioning in this issue](https://github.com/visual-framework/vf-core/issues/119).

<span class="vf-badge vf-badge--tertiary">Related</span> [Notes on VF versioning]({{ '/docs/changelog#versioning' | path }}).
