---
title: Writing and language
order: 3
isIndex: true
---

What to do and what not to do.

## Tip: Language and spelling of documentation, code

The `vf-core` project is being led by EMBL where British English and we're aware that most code is American English (`colour` vs `color`); so:

- 📚🇬🇧 Documentation is written in British English 💂‍ `Rarely use centred text, always use colours`
- ⌨️🇺🇸 Code is written in American english 🧢 `$vf-main-color: green;`
