@import 'package.variables.scss';
/*
 *
 * styles.css
 * The Visual Framework kitchen sink of styles.
 * Include this style sheet as a quick way to get *everything*,
 * or follow the guide at github.com/visual-framework/vf-core
 * to learn how to build custom and optimised CSS.
 */
/*! Component: #{map-get($componentInfo, 'name')}
 * Version: #{map-get($componentInfo, 'version')}
 * Location: #{map-get($componentInfo, 'location')}
 * VF Core version in use: #{map-get($componentInfo, 'vfCoreVersion')}
 * Build time: #{map-get($componentInfo, 'buildTimeStamp')}
 */

@import 'vf-sass-config/index.scss';
// Note, you can also do relative imports
// @import '../vf-sass-config/index.scss';

/* All Visual Framework Font components */
@import 'vf-font-plex-mono/vf-font-plex-mono.scss';
@import 'vf-font-plex-sans/vf-font-plex-sans.scss';

html,
button {
  @if $use-global-typography == true {
    font-family: $vf-font-family--sans-serif;
  }
}

/* Visual Framework content compatibility
 * We put this first so it will have the least specificity
 */
@import 'vf-content/vf-content.scss';

/* All Visual Framework grids */

// vf-grid-page is deprecated, use vf-body instead
// @import 'vf-grid-page/vf-grid-page.scss';
@import 'vf-body/vf-body.scss';
@import 'vf-grid/vf-grid.scss';
@import 'vf-cluster/vf-cluster.scss';
@import 'vf-stack/vf-stack.scss';
@import 'vf-flag/vf-flag.scss';
@import 'vf-sidebar/vf-sidebar.scss';

@import 'embl-grid/embl-grid.scss';

/* All Visual Framework Elements */

@import 'vf-badge/vf-badge.scss';
@import 'vf-collapse/vf-collapse.scss';
@import 'vf-link/vf-link.scss';
@import 'vf-logo/vf-logo.scss';
@import 'vf-embed/vf-embed.scss';
@import 'embl-logo/embl-logo.scss';
@import 'vf-explainer/vf-explainer.scss';
@import 'vf-form/vf-form.scss';
@import 'vf-button/vf-button.scss';
@import 'vf-figure/vf-figure.scss';
@import 'vf-list/vf-list.scss';
@import 'vf-blockquote/vf-blockquote.scss';
@import 'vf-divider/vf-divider.scss';
@import 'embl-conditional-edit/embl-conditional-edit.scss';

/* All Visual Framework Blocks */

@import 'vf-box/vf-box.scss';

@import 'vf-breadcrumbs/vf-breadcrumbs.scss';
@import 'vf-breadcrumbs/vf-breadcrumbs--with-related.scss';

@import 'vf-card/vf-card.scss';
@import 'vf-card-container/vf-card-container.scss';

@import 'vf-discussion/vf-discussion.scss';

@import 'vf-code-example/vf-code-example.scss';
@import 'vf-page-header/vf-page-header.scss';
@import 'vf-link-list/vf-link-list.scss';
@import 'vf-header/vf-header.scss';
@import 'vf-hero/vf-hero.scss';

@import 'vf-lede/vf-lede.scss';

/* The vf-masthead is deprecated, but still (currently) compiled */
/* https://github.com/visual-framework/vf-core/pull/1406/ */
@import 'vf-masthead/vf-masthead.scss';

@import 'vf-navigation/vf-navigation.scss';
@import 'vf-navigation/vf-navigation--additional.scss';

@import 'vf-section-header/vf-section-header.scss';
@import 'vf-activity-list/vf-activity-list.scss';
@import 'vf-article-meta-information/vf-article-meta-information.scss';

@import 'vf-profile/vf-profile.scss';

@import 'vf-search/vf-search.scss';

@import 'vf-social-links/vf-social-links.scss';

@import 'vf-summary/vf-summary.scss';
@import 'vf-summary/vf-summary--article.scss';
@import 'vf-summary/vf-summary--job.scss';
@import 'vf-summary/vf-summary--profile.scss';
@import 'vf-summary/vf-summary--event.scss';
@import 'vf-summary/vf-summary--publication.scss';
@import 'vf-summary/vf-summary--news.scss';
@import 'vf-summary/vf-summary--has-image.scss';

@import 'vf-video/vf-video.scss';
@import 'vf-video-teaser/vf-video-teaser.scss';
@import 'vf-global-header/vf-global-header.scss';
@import 'vf-tabs/vf-tabs.scss';
@import 'vf-table/vf-table.scss';
@import 'embl-breadcrumbs-lookup/embl-breadcrumbs-lookup.scss';
@import 'vf-pagination/vf-pagination.scss';
@import 'vf-pagination/vf-pagination--full.scss';
@import 'vf-back-to-top/vf-back-to-top.scss';

/* All Visual Framework Containers */

@import 'vf-activity-group/vf-activity-group.scss';
@import 'vf-intro/vf-intro.scss';
@import 'embl-content-hub-loader/embl-content-hub-loader.scss';

@import 'vf-banner/vf-banner.scss';
@import 'vf-banner/vf-banner--phase.scss';
@import 'vf-banner/vf-banner--alerts.scss';
@import 'vf-banner/vf-banner--fixed.scss';
@import 'vf-banner/vf-banner--gdpr.scss';

@import 'vf-details/vf-details.scss';

@import 'vf-news-container/vf-news-container.scss';
@import 'vf-video-container/vf-video-container.scss';
@import 'vf-footer/vf-footer.scss';

@import 'vf-show-more/vf-show-more.scss';

@import 'vf-tree/vf-tree.scss';

/* All Visual Framework Boilerplates */

// none here

/* All Visual Framework Deprecated components */

@import 'vf-deprecated/vf-deprecated.scss';

/* EBI Specific components */
// ebi-header-footer is not enabled by default
// this may change as more EBI sites move to "pure" sVF 2.0
// @import 'ebi-header-footer/ebi-header-footer.scss';
@import 'ebi-vf1-integration/ebi-vf1-integration.scss';

/* All Visual Framework Utility and high-specificity components */

@import 'vf-heading/vf-heading.scss';
@import 'vf-text/vf-text.scss';
@import 'vf-u-fullbleed/vf-u-fullbleed.scss';

/* Visual Framework Utility Class Mixins */
@import 'vf-sass-config/mixins/vf-utility-mixins.scss';
@import 'vf-utility-classes/vf-utility-classes.scss';

// This is a demonstration of vf-core's ability to warn and proceed on missing
// sass imports
@import 'vf-somepattern/vf-i-dont-exist.scss';

// If you have any local overrides, put them in:
@import 'vf-local-overrides/vf-local-overrides.scss';
