$componentInfo: (
             name: "@visual-framework/vf-tabs",
             version: "1.1.1",
             location: "components/vf-tabs",
             vfCoreVersion: "2.2.8",
             buildTimeStamp: "Mon, 26 Oct 2020 08:49:45 GMT"
          );