:root {
  --vf-color--green: #18974c;
  --vf-color--green--darkest: #0a5032;
  --vf-color--green--dark: #007b53;
  --vf-color--green--light: #6cc24a;
  --vf-color--green--lightest: #d0debb;
  --vf-color--grey: #707372;
  --vf-color--grey--darkest: #373a36;
  --vf-color--grey--dark: #54585a;
  --vf-color--grey--light: #a8a99e;
  --vf-color--grey--lightest: #d0d0ce;
  --vf-color--red: #d41645;
  --vf-color--red--dark: #a6093d;
  --vf-color--red--light: #e58f9e;
  --vf-color--blue: #3b6fb6;
  --vf-color--blue--dark: #193f90;
  --vf-color--blue--light: #8bb8e8;
  --vf-color--purple: #734595;
  --vf-color--purple--dark: #563d82;
  --vf-color--purple--light: #cba3d8;
  --vf-color--orange: #f49e17;
  --vf-color--orange--dark: #b65417;
  --vf-color--orange--light: #efc06e;
  --vf-color--yellow: #f4c61f;
  --vf-color--yellow--dark: #ffb81c;
  --vf-color--yellow--light: #fdd757;
  --vf-color--bright-green: #a1be1f;
  --vf-color--bright-green--dark: #7fb428;
  --vf-color--bright-green--light: #e2e868;
}

:root {
  --vf-ui-color--black: #000000;
  --vf-ui-color--grey: #d8d8d8;
  --vf-ui-color--grey--light: #f3f3f3;
  --vf-ui-color--yellow: #fffadc;
  --vf-ui-color--red: #d32f2f;
  --vf-ui-color--white: #ffffff;
  --vf-ui-color--off-white: #fafafa;
}

/*!
 * Component: @visual-framework/vf-tabs
 * Version: 1.1.0
 * Location: components/vf-tabs
 */
.vf-tabs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -.5rem 0 0 0;
  padding: 0 1rem 0 .5rem;
  position: relative;
}

.vf-tabs__list::before {
  border-bottom: 1px solid #000000;
  bottom: -1px;
  content: '';
  height: 1px;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 1984;
}

.vf-tabs__item {
  display: inline-block;
  margin-left: .5rem;
  margin-top: .5rem;
  position: relative;
}

.vf-tabs__link {
  background: #d0d0ce;
  border-color: transparent;
  border-style: solid;
  border-width: 1px;
  color: #54585a;
  display: block;
  outline: 0;
  padding: 12px 16px;
  position: relative;
  text-decoration: none;
  top: 1px;
}

.vf-tabs__link:hover {
  background-color: #54585a;
  color: #ffffff;
}

.vf-tabs__link.is-active {
  background: #ffffff;
  border-color: #000000;
  border-bottom-color: #ffffff;
  color: #000000;
  font-weight: 500;
  z-index: 1990;
}

.vf-tabs__section {
  padding: 8px 16px;
}

@media (max-width: 767px) {
  .vf-tabs__link.is-active {
    border-color: #000000;
  }
}

.vf-tabs__item {
  -ms-flex-preferred-size: min-content;
      flex-basis: min-content;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
