$componentInfo: (
             name: "@visual-framework/vf-logo",
             version: "1.4.0",
             location: "components/vf-logo",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Fri, 30 Oct 2020 16:39:45 GMT"
          );