$componentInfo: (
             name: "@visual-framework/vf-logo",
             version: "1.4.0",
             location: "components/vf-logo",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Tue, 27 Oct 2020 11:08:48 GMT"
          );