<a href="{{logo_href}}"
{% if id %} id="{{-id-}}"{% endif %}
class="vf-logo{%- if logo_text %} | vf-logo--has-text{% endif -%}
{%- if override_class %} | {{override_class}}{% endif -%}">
  <img class="vf-logo__image" src="{{ image }}" alt="{{ logo_text }}">
  {% if logo_text %}
  <span class="vf-logo__text{% if hidden_text %} vf-u-sr-only{% endif %}">{{logo_text}}</span>
  {% endif %}
</a>
