{% if context %}
  {% set dave = context.dave %}
{% endif %}

<fieldset class="vf-form__fieldset vf-stack vf-stack--400">

  {%- render '@vf-form__legend', { 'context': checkbox_legend } -%}

  {% set context = item_01 %}
  {% include '@vf-form__checkbox' %}
  {% set context = item_02 %}
  {% include '@vf-form__checkbox' %}
  {% set context = item_03 %}
  {% include '@vf-form__checkbox' %}
  {% set context = item_04 %}
  {% include '@vf-form__checkbox' %}
  {% set context = item_05 %}
  {% include '@vf-form__checkbox' %}
  {% set context = item_06 %}
  {% include '@vf-form__checkbox' %}

</fieldset>
