{% if context %}
  {% set checkbox_label = context.checkbox_label %}
  {% set checkbox_helper = context.checkbox_helper %}
  {% set checkbox_group = context.checkbox_group %}
  {% set checkbox_value = context.checkbox_value %}

  {% set disabled = context.disabled %}
  {% set invalid = context.invalid %}
{% endif %}

<div class="vf-form__item vf-form__item--checkbox">
  <input type="checkbox" name="{{checkbox_group}}" value="{{checkbox_value}}" id="{{ checkbox_label.form__label_for }}" class="vf-form__checkbox{% if invalid %} vf-form__checkbox--invalid{% endif %}" {% if disabled %}disabled{% endif %}>

  {%- render '@vf-form__label', { 'context': checkbox_label } -%}
  {%- if checkbox_helper -%}
    {%- if inline -%}
    {%- else -%}
      {%- render '@vf-form__helper', { 'context': checkbox_helper} -%}
    {%- endif -%}
  {%- endif -%}
</div>
