<form action="" class="vf-simple-search | vf-form">
  <div class="vf-simple-search__item | vf-form__item">
    <label class="vf-form__label | vf-sr-only" for="text">Search</label>
    <input type="text" id="text" class="vf-form__input">
  </div>
  <button type="submit" class="vf-simple-search__button | vf-button vf-button--primary">Search</button>
</form>
