$componentInfo: (
             name: "@visual-framework/vf-intro",
             version: "1.3.2",
             location: "components/vf-intro",
             vfCoreVersion: "2.2.8",
             buildTimeStamp: "Fri, 23 Oct 2020 10:02:05 GMT"
          );