$componentInfo: (
             name: "@visual-framework/vf-intro",
             version: "1.4.1",
             location: "components/vf-intro",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Thu, 05 Nov 2020 12:33:55 GMT"
          );