$componentInfo: (
             name: "@visual-framework/vf-intro",
             version: "1.4.1",
             location: "components/vf-intro",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Wed, 28 Oct 2020 09:50:49 GMT"
          );