/* stylelint-disable */
:root {
  --vf-color--green: #18974c;
  --vf-color--green--darkest: #0a5032;
  --vf-color--green--dark: #007b53;
  --vf-color--green--light: #6cc24a;
  --vf-color--green--lightest: #d0debb;
  --vf-color--grey: #707372;
  --vf-color--grey--darkest: #373a36;
  --vf-color--grey--dark: #54585a;
  --vf-color--grey--light: #a8a99e;
  --vf-color--grey--lightest: #d0d0ce;
  --vf-color--red: #d41645;
  --vf-color--red--dark: #a6093d;
  --vf-color--red--light: #e58f9e;
  --vf-color--blue: #3b6fb6;
  --vf-color--blue--dark: #193f90;
  --vf-color--blue--light: #8bb8e8;
  --vf-color--purple: #734595;
  --vf-color--purple--dark: #563d82;
  --vf-color--purple--light: #cba3d8;
  --vf-color--orange: #f49e17;
  --vf-color--orange--dark: #b65417;
  --vf-color--orange--light: #efc06e;
  --vf-color--yellow: #f4c61f;
  --vf-color--yellow--dark: #ffb81c;
  --vf-color--yellow--light: #fdd757;
  --vf-color--bright-green: #a1be1f;
  --vf-color--bright-green--dark: #7fb428;
  --vf-color--bright-green--light: #e2e868;
}

:root {
  --vf-ui-color--black: #000000;
  --vf-ui-color--grey: #d8d8d8;
  --vf-ui-color--grey--light: #f3f3f3;
  --vf-ui-color--yellow: #fffadc;
  --vf-ui-color--red: #d32f2f;
  --vf-ui-color--white: #ffffff;
  --vf-ui-color--off-white: #fafafa;
}

/* stylelint-enable */
/*!
 * Component: @visual-framework/vf-text
 * Version: 1.0.2
 * Location: components/vf-text
 */
.vf-text-body a {
  border-bottom: none;
  text-decoration: none;
  color: #3b6fb6;
}
.vf-text-body a:visited {
  color: #3b6fb6;
  border-bottom: none;
}
.vf-text-body a:visited:hover {
  color: #3b6fb6;
  text-decoration: underline;
}
.vf-text-body a:hover {
  color: #193f90;
  border-bottom: none;
  text-decoration: underline;
}

.vf-text-body--6 {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.5;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-text-body--5 {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.57;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-text-body--4 {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.57;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-text-body--3 {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.71;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-text-body--2 {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.421;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-text-body--1 {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.3125;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

/*!
 * Component: @visual-framework/vf-heading
 * Version: 1.0.0
 * Location: components/vf-heading
 */
.vf-text {
  margin: 0 0 16px 0;
}

.vf-text-heading--5 {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 500;
  line-height: 1.5;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-text-heading--4 {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 21px;
  font-weight: 500;
  line-height: 1.29;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-text-heading--3 {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.333;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-text-heading--2 {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.333;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-text-heading--1 {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.547;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-text--has-tag {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.vf-text--has-tag .vf-badge {
  margin-left: 8px;
}

.vf-text--invert {
  background-color: #000000;
  color: #ffffff;
  display: inline-block;
  padding: 4px 8px 4px 4px;
}

/*!
 * Component: @visual-framework/vf-intro
 * Version: 1.3.0
 * Location: components/vf-intro
 */
.vf-intro {
  margin: 0 0 110px 0;
}
.vf-intro > * {
  grid-column: 2/span 1;
}
.vf-intro .vf-lede {
  margin-bottom: 2rem;
}

/*
 * We are moving to the idea of not relying on .vf-body for centering.
 * Until then we need to have this litte 'reset'
 */
.vf-body .vf-intro {
  -webkit-box-sizing: initial;
          box-sizing: initial;
  margin-left: unset;
  margin-right: unset;
  max-width: unset;
  padding-left: unset;
  padding-right: unset;
}

.vf-intro {
  --vf-intro-spacing: 200px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: grid;
  grid-column: main;
  grid-template-rows: 1fr repeat(10, -webkit-min-content);
  grid-template-rows: 1fr repeat(10, min-content);
  margin-left: auto;
  margin-right: auto;
  max-width: 78.5em;
  padding-left: 1em;
  padding-right: 1em;
}

@media (min-width: 1024px) {
  .vf-intro {
    -webkit-column-gap: var(--page-grid-gap);
       -moz-column-gap: var(--page-grid-gap);
            column-gap: var(--page-grid-gap);
    grid-template-areas: "... header header" "... ...    links";
    grid-template-columns: var(--embl-grid-module--prime) auto var(--embl-grid-module--prime);
  }

  .vf-intro__heading {
    grid-area: header;
  }

  .vf-intro .vf-links {
    grid-area: links;
    grid-row-end: -1;
  }
}
.vf-intro__heading {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.547;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  margin: 0 0 56px 0;
}

.vf-intro__heading--has-tag {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.vf-intro__heading--has-tag .vf-badge {
  margin-left: 0.5rem;
}
@media (min-width: 1024px) {
  .vf-intro__heading--has-tag {
    left: -83px;
    position: relative;
  }
  .vf-intro__heading--has-tag .vf-badge {
    margin-left: 0;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

.vf-intro__text {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.421;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  margin: 0 0 24px 0;
}
.vf-intro__text:last-of-type {
  margin-bottom: 0;
}
.vf-intro__text > a {
  border-bottom: none;
  text-decoration: none;
  color: #3b6fb6;
}
.vf-intro__text > a:visited {
  color: #3b6fb6;
  border-bottom: none;
}
.vf-intro__text > a:visited:hover {
  color: #3b6fb6;
  text-decoration: underline;
}
.vf-intro__text > a:hover {
  color: #193f90;
  border-bottom: none;
  text-decoration: underline;
}