$use-global-typography: true !default;


// grid variables

$global-grid-column-gap: 1em;
$vf-text-margin--bottom: 16px;

// deprecation
$vf-deprecation-warning: "This pattern has been deprecated. Consult the pattern's README.md for migration tips.";
