@import 'vf-font-families.scss';
$use-global-typography: true !default;
$global-font-family: $vf-font-family-sans-serif;


// grid variables

$global-grid-column-gap: 1em;
$vf-text-margin--bottom: 16px;

$global-page-max-width: 76.5em;

// deprecation
$vf-deprecation-warning: 'This pattern has been deprecated. Consult the pattern\'s README.md for migration tips.';
