// typography variables

@import 'vf-font-families.variables.scss';
$use-global-typography: true !default;
$global-font-family: $vf-font-family-sans-serif;
$vf-text-margin--bottom: 16px;

// grid variables

$global-grid-column-gap: 1em;
$global-page-max-width: 76.5em;

// deprecation variables

$vf-deprecation-warning: 'This component has been deprecated. Consult the component\'s README.md for migration tips.';

// normalisation variables
//
// This is set to true to remove styling that is added to the VF 2.0 codebase from older VF 1.0 code that
// could also be included on the same page.

$vf-include-normalisations: true !default;
