// Native CSS properties, currently limited to document spacing.
:root {
  --vf-body-width: #{$vf-layout--comfortable};

  --page-grid-gap: 1em;

  --embl-grid-module--prime: 200px;
  --embl-grid-spacing-normaliser: 6px;

  @media (min-width: 75em) {
    --page-grid-gap: 2em;
  }
}
