// Global Sass variable defaults for the high-level page look of typography, page width,
// deprecated component text, if normalisations should be included.

// typography variables
@import '../../vf-design-tokens/dist/sass/vf-font-families.variables.scss';
$use-global-typography: true !default;
$global-font-family: $vf-font-family--sans-serif !default;
$vf-text-margin--bottom: 16px !default;

// grid variables
$global-grid-column-gap: 1em !default;
$global-page-max-width: 80em !default;

// deprecation variables
$vf-deprecation-warning: 'This component has been deprecated. Consult the component\'s README.md for migration tips.' !default;

// normalisation variables
//
// This is set to true to overset styling from VF 1.x code or other frameworks.
$vf-include-normalisations: true !default;
