// Rollup of global Sass variables.
/* stylelint-disable */
@import '../../vf-design-tokens/dist/sass/vf-border-radius.variables.scss';
@import '../../vf-design-tokens/dist/sass/vf-breakpoints.variables.scss';
@import '../../vf-design-tokens/dist/sass/maps/vf-breakpoints.map.scss';
@import '../../vf-design-tokens/dist/sass/maps/vf-colors.map.scss';
@import '../../vf-design-tokens/dist/sass/maps/vf-color__neutral.map.scss';
@import '../../vf-design-tokens/dist/sass/maps/vf-themes.map.scss';
@import '../../vf-design-tokens/dist/sass/maps/vf-ui-colors.map.scss';
@import '../../vf-design-tokens/dist/sass/vf-layout.variables.scss';
@import '../../vf-design-tokens/dist/sass/vf-font--monospace.scss';
@import '../../vf-design-tokens/dist/sass/vf-font--sans.scss';
@import '../../vf-design-tokens/dist/sass/vf-font-families.variables.scss';
@import '../../vf-design-tokens/dist/sass/vf-links.variables.scss';
@import '../../vf-design-tokens/dist/sass/maps/vf-spacing.map.scss';
@import '../../vf-design-tokens/dist/sass/maps/vf-zindex.map.scss';

@import '../../vf-design-tokens/dist/sass/custom-properties/vf-colors.custom-properties.scss';
@import '../../vf-design-tokens/dist/sass/custom-properties/vf-themes.custom-properties.scss';
@import '../../vf-design-tokens/dist/sass/custom-properties/vf-ui-colors.custom-properties.scss';
/* stylelint-enable */
