// vf-box

.vf-box {
  box-sizing: border-box;
  margin-bottom: 24px;
  width: 100%;
}

.vf-box--s {
  padding: 16px;
}

.vf-box--r {
  padding: 24px;
}

.vf-box--l {
  padding: 32px;
}


.vf-box--primary {
  background-color: set-color(vf-color-azure-dark);
  border-color: set-color(vf-color-azure-dark);
  color: set-color(vf-color-white);
}


.vf-box--secondary {
  background-color: set-color(vf-color-green);
  border-color: set-color(vf-color-green);
  color: set-color(vf-color-white);
}

.vf-box--tertiary {
  background-color: set-color(vf-color-gray-dark);
  border-color: set-color(vf-color-gray-dark);
  color: set-color(vf-color-white);
}

.vf-box--rounded {
  border-radius: 8px;
}

.vf-box--outline {
  background-color: transparent;
  border-style: solid;
  border-width: 2px;
  color: set-color(vf-color-black);
}
