$componentInfo: (
             name: "@visual-framework/vf-body",
             version: "1.0.0",
             location: "components/vf-body",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Fri, 30 Oct 2020 15:23:20 GMT"
          );