$componentInfo: (
             name: "@visual-framework/vf-body",
             version: "1.0.0-alpha.1",
             location: "components/vf-body",
             vfCoreVersion: "2.2.0-alpha.4"
          );