$componentInfo: (
             name: "@visual-framework/embl-content-meta-properties",
             version: "1.0.1",
             location: "components/embl-content-meta-properties",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Thu, 05 Nov 2020 09:33:30 GMT"
          );