$componentInfo: (
             name: "@visual-framework/embl-content-meta-properties",
             version: "1.0.1",
             location: "components/embl-content-meta-properties",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Fri, 06 Nov 2020 11:21:26 GMT"
          );