$componentInfo: (
             name: "@visual-framework/embl-content-meta-properties",
             version: "1.0.1",
             location: "components/embl-content-meta-properties",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Tue, 27 Oct 2020 16:00:05 GMT"
          );