<style>
  :root {
    --vf-hero-bg-image: url('{{ '../../assets/vf-hero/assets/vf-intro-group.png' | path }}');
  }
</style>


<section class="vf-hero vf-hero--easy">
  <div class="vf-hero__content">
    {% if vf_hero_heading %} <h2 class="vf-hero__heading">{{ vf_hero_heading }}</h2>{% endif %}
    <p class="vf-hero__text">{{ vf_hero_text }}<a class="vf-link" href="{{ vf_hero_link }}"> {{ vf_hero_link_text }}</a></p>
  </div>
</section>

<section class="vf-hero vf-hero--normal" style="background-image: var(--vf-hero-bg-image);">

  <div class="vf-hero__content">
    {% if vf_hero_heading %} <h2 class="vf-hero__heading">{{ vf_hero_heading }}</h2>{% endif %}
    <p class="vf-hero__text">{{ vf_hero_text }}<a class="vf-link" href="{{ vf_hero_link }}"> {{ vf_hero_link_text }}</a></p>
  </div>
</section>

<section class="vf-hero vf-hero--medium | vf-hero-theme--primary" style="background-image: var(--vf-hero-bg-image);">

  <div class="vf-hero__content">
    {% if vf_hero_heading %} <h2 class="vf-hero__heading">{{ vf_hero_heading }}</h2>{% endif %}
    <p class="vf-hero__text">{{ vf_hero_text }}<a class="vf-link" href="{{ vf_hero_link }}"> {{ vf_hero_link_text }}</a></p>
  </div>
</section>

<section class="vf-hero vf-hero--hard | vf-hero-theme--tertiary" style="background-image: var(--vf-hero-bg-image);">

  <div class="vf-hero__content">
    {% if vf_hero_heading %} <h2 class="vf-hero__heading">{{ vf_hero_heading }}</h2>{% endif %}
    <p class="vf-hero__text">{{ vf_hero_text }}<a class="vf-link" href="{{ vf_hero_link }}"> {{ vf_hero_link_text }}</a></p>
  </div>
</section>

<section class="vf-hero vf-hero--hard | vf-hero-theme--primary">
  <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" class="vf-lens | vf-hero__lens">
    <path fill="" d="M1,1V199H199V1z"/>
  </svg>

  <div class="vf-hero__content">
    {% if vf_hero_heading %} <h2 class="vf-hero__heading">{{ vf_hero_heading }}</h2>{% endif %}
    <p class="vf-hero__text">{{ vf_hero_text }}<a class="vf-link" href="{{ vf_hero_link }}"> {{ vf_hero_link_text }}</a></p>
  </div>
</section>



{#
<section class="vf-hero vf-hero--extreme">
  <div class="vf-hero__image">
    <img src="{{ '../../assets/vf-hero/assets/vf-intro-group.png' | path }}" alt="">
  </div>

  <div class="vf-hero__content">
    {% if vf_hero_heading %} <h2 class="vf-hero__heading">{{ vf_hero_heading }}</h2>{% endif %}
    <p class="vf-hero__text">{{ vf_hero_text }}<a class="vf-link" href="{{ vf_hero_link }}"> {{ vf_hero_link_text }}</a></p>
  </div>
</section> #}
