// vf-hero

@import 'package.variables.scss';
// Debug information from component's `package.json`:
// ---
/*!
 * Component: #{map-get($componentInfo, 'name')}
 * Version: #{map-get($componentInfo, 'version')}
 * Location: #{map-get($componentInfo, 'location')}
 */
/* stylelint-disable */
@import 'vf-hero.variables.scss';

.vf-hero {
  background-color: set-ui-color(vf-ui-color--white);
  background-color: rgba(
    calc( (0 + var(--vf-hero-bg-color) ) * 255),
    calc( (0 + var(--vf-hero-bg-color) ) * 255),
    calc( (0 + var(--vf-hero-bg-color) ) * 255),
    calc( (0 + var(--vf-hero-bg-color) ) * 100)
  );
  grid-column: 1 / -1;

  display: grid;
  grid-template-columns: minmax(var(--page-grid-gap), auto) [hero-start] minmax(288px, 76.5em) [hero-end] minmax(var(--page-grid-gap), auto);
  grid-template-rows: var(--vf-hero-grid__row, 260px) max-content;
  margin-bottom: 2rem;
  position: relative;

  &:not(.vf-hero--easy) {
    &::before {
      background-image: url('../../assets/vf-hero/assets/vf-intro-group.png');
      background-image: var(--vf-hero-bg-image);
      content: '';
      grid-column: 1 / -1;
      grid-row: 1 / span 1;
      background-position: top center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 348px;
      width: 100%;
    }
  }

  a {
    color: set-ui-color(vf-ui-color--black);
  }
  a:focus,
  a:hover,
  a:visited {
    color: set-ui-color(vf-ui-color--black);
  }

  .vf-hero__content {
    grid-column: 2 / span 1;
  }
}

.vf-hero__content {
  // only needed when text is centered
  padding: 1em;
  width: calc(100% - 24%);
}

.vf-hero__heading {
  @include set-type(text-heading--3);

  // positions to the left
  display: inline-block;
  margin: 0;
  padding: .5em;
}

.vf-hero__text {
  @include set-type(text-body--2);
  margin-bottom: 0;

  padding: 1em .5em;
}


.vf-hero {

  --vf-hero-content-box-shadow:
    2px 0 3px rgba(0, 0, 0, var(--vf-hero-content-shadow-alpha, 0)),
   -2px 0 3px rgba(0, 0, 0, var(--vf-hero-content-shadow-alpha, 0)),
    0 2px 3px rgba(0, 0, 0, var(--vf-hero-content-shadow-alpha, 0));
  --vf-hero__padding: 0;

  --vf-hero-content-shadow-alpha: .1;
  --vf-hero-heading-bg-color: 1;
  --vf-hero-heading-text-color: 0;

  --vf-hero-text-bg-color: 0;
  --vf-hero-text-color: 1;
}

.vf-hero--inlay {
  max-width: 76.5em;
  margin: 0 auto;
}

.vf-hero__content {
  background-color: set-ui-color(vf-ui-color--white);
  background-color: rgba(
    calc( (0 + var(--vf-hero__content-bg-color) ) * 255),
    calc( (0 + var(--vf-hero__content-bg-color) ) * 255),
    calc( (0 + var(--vf-hero__content-bg-color) ) * 255),
    calc( (0 + var(--vf-hero__content-bg-color) ) * 100)
  );


  // box-shadow: 2px 0 3px rgba(0, 0, 0, .1), -2px 0 3px rgba(0, 0, 0, .1), 0 2px 3px rgba(0, 0, 0, .1);
  box-shadow: var(--vf-hero-content-box-shadow);

  padding: calc( (0 + var(--vf-hero__padding) ) * .1em );

  z-index: 5150;
}


.vf-hero__heading {
  background-color: rgb(calc( (0 + var(--vf-hero-heading-bg-color) ) * 255), calc( (0 + var(--vf-hero-heading-bg-color) ) * 255), calc( (0 + var(--vf-hero-heading-bg-color) ) * 255));
  color: rgb(calc( (0 + var(--vf-hero-heading-text-color) ) * 255), calc( (0 + var(--vf-hero-heading-text-color) ) * 255), calc( (0 + var(--vf-hero-heading-text-color) ) * 255));
}

.vf-hero__text {
  --vf-hero-text-bg-color--default: calc( var(--vf-hero-text-bg-color) * 255);

  background-color: rgb(var(--vf-hero-text-bg-color--r, var(--vf-hero-text-bg-color--default)), var(--vf-hero-text-bg-color--g, var(--vf-hero-text-bg-color--default)), var(--vf-hero-text-bg-color--b, var(--vf-hero-text-bg-color--default)));

  color: rgb(calc( (0 + var(--vf-hero-text-color) ) * 255), calc( (0 + var(--vf-hero-text-color) ) * 255), calc( (0 + var(--vf-hero-text-color) ) * 255));
}


.vf-hero--easy {
  --vf-hero__content-bg-color: 1;
  --vf-hero-bg-color: 1;
  --vf-hero-text-bg-color: 1;
  --vf-hero-text-color: 0;
  --vf-hero-grid__row: 1fr;
  --vf-hero-content-box-shadow: none;

  height: auto;
  padding-bottom: 48px;
  padding-top: 48px;

  .vf-hero__content {
    grid-column-start: 2;
    width: 100%;
  }

  .vf-summary {
    align-self: center;
    grid-column: 3 / span 1;
    margin: 0;
  }

  @media (min-width: $vf-breakpoint--md) {
    display: grid;
    grid-template-columns: minmax(var(--page-grid-gap), 60px) [main-start] minmax(auto, 100%) minmax(auto, 22.125em) [main-end] minmax(var(--page-grid-gap), 60px);
    margin: 0 auto;
    max-width: 76.5em;
  }
}

.vf-hero--normal {
  --vf-hero__content-bg-color: 1;
  --vf-hero-bg-color: 1;

  --vf-hero-text-bg-color: 1;
  --vf-hero-text-color: 0;

  & .vf-hero__content {
    grid-row: 2 / span 1;
    justify-self: center;
  }
}

.vf-hero--medium {
  --vf-hero-bg-color: 1;
  --vf-hero-content-box-shadow: none;

  & .vf-hero__content {
    grid-row: 2 / span 1;
    justify-self: flex-start;
  }
}

.vf-hero--hard {
  --vf-hero-bg-color: 1;
  --vf-hero-grid__row: 348px;
  --vf-hero-content-box-shadow: none;

  & > .vf-hero__content {
    align-self: flex-end;
    grid-row: 1 / -1;
  }
}


.vf-hero--extreme {
  --vf-hero-bg-color: 1;
  --vf-hero-text-bg-color: 1;
  --vf-hero-text-color: 0;
  --vf-hero-content-box-shadow: none;
}

.vf-hero-theme--primary {
  --vf-hero-text-bg-color--r: #{red(set-color(vf-color--green))};
  --vf-hero-text-bg-color--g: #{green(set-color(vf-color--green))};
  --vf-hero-text-bg-color--b: #{blue(set-color(vf-color--green))};

  --vf-hero-text-color: 1;
  a {
    color: white;
  }
  a:focus,
  a:hover,
  a:visited {
    color: white;
  }

  .vf-hero__lens {

    + .vf-hero__content .vf-hero__text {
      --vf-hero-text-bg-color--r: 0;
      --vf-hero-text-bg-color--g: 0;
      --vf-hero-text-bg-color--b: 0;
    }
    + .vf-hero__content .vf-hero__heading {
      --vf-hero-heading-bg-color: 1;
    }
  }


  .vf-hero__lens {
    background-color: set-color(vf-color--green); // temporary hack
    height: 100%;
    max-height: 348px;

    path {
      fill: set-color(vf-color--green);
      height: 100%;
      width: 100%;
    }
  }
}

.vf-hero-theme--secondary {
  --vf-hero-text-bg-color--r: #{red(set-color(vf-color--blue))};
  --vf-hero-text-bg-color--g: #{green(set-color(vf-color--blue))};
  --vf-hero-text-bg-color--b: #{blue(set-color(vf-color--blue))};

  --vf-hero-text-color: 1;
  a {
    color: set-ui-color(vf-ui-color--white);
  }
  a:focus,
  a:hover,
  a:visited {
    color: set-ui-color(vf-ui-color--white);
  }

  .vf-hero__lens {
    + .vf-hero__content .vf-hero__text {
      --vf-hero-text-bg-color--r: 0;
      --vf-hero-text-bg-color--g: 0;
      --vf-hero-text-bg-color--b: 0;
    }
    + .vf-hero__content .vf-hero__heading {
      --vf-hero-heading-bg-color: 1;
    }
  }


  .vf-hero__lens {
    background-color: set-color(vf-color--blue); // temporary hack

    path {
      fill: set-color(vf-color--blue);
      height: 100%;
      width: 100%;
    }
  }
}

.vf-hero-theme--tertiary {
  // placeholder

  a {
    color: set-ui-color(vf-ui-color--white);
  }
  a:focus,
  a:hover,
  a:visited {
    color: set-ui-color(vf-ui-color--white);
  }
}

.vf-hero__lens {
  height: 348px;
  position: absolute;
  width: 100%;
}


/* stylelint-enable */
