// vf-hero

@import 'package.variables.scss';
// Debug information from component's `package.json`:
// ---
/*!
 * Component: #{map-get($componentInfo, 'name')}
 * Version: #{map-get($componentInfo, 'version')}
 * Location: #{map-get($componentInfo, 'location')}
 */
/* stylelint-disable */
@import 'vf-hero.variables.scss';

.vf-hero {
  --vf-hero--spacing: #{map-get($vf-spacing-map, vf-spacing--800)};

  background-color: var(--vf-hero--bg-color, #{set-color(vf-color--green)});
  background-image: url('https://acxngcvroo.cloudimg.io/v7/https://www.embl.org/files/wp-content/uploads/roundels.png');
  background-image: var(--vf-hero--bg-image, url('https://acxngcvroo.cloudimg.io/v7/https://www.embl.org/files/wp-content/uploads/roundels.png'));

  margin-bottom: map-get($vf-spacing-map, vf-spacing--800);
  margin-bottom: var(--vf-hero--spacing, #{map-get($vf-spacing-map, vf-spacing--800)});
  padding: map-get($vf-spacing-map, vf-spacing--800) 0;
  padding: var(--vf-hero--spacing, #{map-get($vf-spacing-map, vf-spacing--800)}) 0;
}

.vf-hero.vf-u-fullbleed::before {
  background-size: cover;
  background-size: var(--vf-hero--bg-image-size, cover);
  z-index: 1;
}

.vf-hero__content {
  background-color: set-ui-color(vf-ui-color--white);
  background-color: var(--vf-hero-content--bg-color, set-ui-color(vf-ui-color--white));
  color: set-ui-color(vf-ui-color--black);
  color: var(--vf-hero-content--fg-color, set-ui-color(vf-ui-color--black));
  box-shadow:
    2px 0 3px rgba(0, 0, 0, .1),
    -2px 0 3px rgba(0, 0, 0, .1),
    0 2px 3px rgba(0, 0, 0, .1);
  max-width: 60ch;
  padding: map-get($vf-spacing-map, vf-spacing--400);
  padding: calc( var(--vf-hero--spacing) / 2);
  position: relative;
  width: max-content;
  z-index: set-layer(vf-z-index--hero);

  @supports (filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, .1))) {
    box-shadow: unset;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, .25));
  }
}

.vf-hero__heading {
  @include set-type(text-heading--1, $custom-margin-bottom: 0);

  display: flex;
  flex-direction: column-reverse;
  word-break: break-word;

  a {
    color: inherit;
    text-decoration: none;
  }
}

.vf-hero__heading--additional {
  @include set-type(text-body--3, $custom-margin-bottom: 0);

  position: relative;

  a {
    color: currentColor;
    text-decoration: none;
  }
}

.vf-hero__subheading {
  @include set-type(text-heading--4, $custom-margin-bottom: 0);

  --vf-stack-margin--custom: 0;
}

.vf-hero__text {
  @include set-type(text-body--2, $custom-margin-bottom: 0);

  a {
    color: set-color(vf-color--blue);
    text-decoration: none;
  }
  a:focus,
  a:hover,
  a:visited {
    color: set-color(vf-color--blue--dark);
    text-decoration: underline;
  }
}


.vf-hero__link {
  align-items: center;
  color: set-color(vf-color--blue--dark);
  display: inline-flex;

  svg {
    fill: currentColor;
    margin-left: map-get($vf-spacing-map, vf-spacing--200);
  }

  &:focus,
  &:hover,
  &:visited {
    color: set-color(vf-color--blue--dark);

    svg {
      transform: translateX(.25rem);
    }
  }

  &:hover,
  &:hover {
    text-decoration: none;
  }
}

// ----------------------------------------------------------------------
// variants
// ----------------------------------------------------------------------

// themes
// ----------------------------------------------------------------------
.vf-hero--primary {
  --vf-hero--bg-color: #{set-color(vf-color--green)};
}
.vf-hero--secondary {
  --vf-hero--bg-color: #{set-color(vf-color--blue)};
}
.vf-hero--tertiary {
  --vf-hero--bg-color: #{set-color(vf-color--grey)};
}

// sizes
// ----------------------------------------------------------------------
.vf-hero--800 {
  --vf-hero--spacing: #{map-get($vf-spacing-map, vf-spacing--800)};
}

.vf-hero--1200 {
  --vf-hero--spacing: #{map-get($vf-spacing-map, vf-spacing--1200)};
}

.vf-hero--1600 {
  --vf-hero--spacing: #{map-get($vf-spacing-map, vf-spacing--1600)};
}

// ----------------------------------------------------------------------
// Design Variants
// ----------------------------------------------------------------------

// flushed
// ----------------------------------------------------------------------
.vf-hero--flush {
  .vf-hero__content {
    bottom: -2rem;
    bottom: calc( var(--vf-hero--spacing) / -1);
    filter: none;
  }
}

// offset
// ----------------------------------------------------------------------
.vf-hero--offset {
  margin-bottom: 4rem;
  margin-bottom: calc( var(--vf-hero--spacing) * 2);
  .vf-hero__content {
    bottom: -4rem;
    bottom: calc( var(--vf-hero--spacing) * -2);
  }
}

// centered
// ----------------------------------------------------------------------
.vf-hero--centered {
  .vf-hero__content {
    left: 50%;
    transform: translateX(-50%);
  }
}

// striped
// ----------------------------------------------------------------------
.vf-hero--striped {
  .vf-hero__content {
    background-color: set-ui-color(vf-ui-color--white);
    background-color: var(--vf-hero-content--bg-color, set-ui-color(vf-ui-color--white));
    color: set-ui-color(vf-ui-color--black);
    color: var(--vf-hero-content--fg-color, set-ui-color(vf-ui-color--black));
  }

  .vf-hero__heading {
    margin: calc( var(--vf-hero--spacing) / -2);
    padding: calc( var(--vf-hero--spacing) / 2) calc( var(--vf-hero--spacing) / 2);
    padding-bottom: 0;
  }

  .vf-hero__subheading {
    margin: calc( var(--vf-hero--spacing) / -2);
    margin-bottom: 0;
    padding: calc( var(--vf-hero--spacing) / 2) calc( var(--vf-hero--spacing) / 2);
    padding-bottom: map-get($vf-spacing-map, vf-spacing--200);
  }

  .vf-hero__text {
    --vf-stack-margin: 0;
    background-color: set-ui-color(vf-ui-color--black);
    background-color: var(--vf-hero-content--bg-color, set-ui-color(vf-ui-color--black));
    color: set-ui-color(vf-ui-color--white);
    color: var(--vf-hero-content--fg-color, set-ui-color(vf-ui-color--white));
    margin: calc( var(--vf-hero--spacing) / -2);
    padding: calc( var(--vf-hero--spacing) / 2) calc( var(--vf-hero--spacing) / 2);
    padding-top: map-get($vf-spacing-map, vf-spacing--200);

    a {
      color: currentColor;
      text-decoration: underline;
    }
  }

  &.vf-hero--inverted  .vf-hero__text a {
    color: set-color(vf-color--blue);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &.vf-hero--block .vf-hero__heading,
  &.vf-hero--block .vf-hero__subheading,
  &.vf-hero--block .vf-hero__text {
    position: relative;

    &::before {
      background-color: inherit;
      content: "";
      height: 100%;
      margin-left: calc(50% - calc(50vw - var(--context-margin--inline, 0px) + 2rem));
      position: absolute;
      top: 0;
      width: calc(50vw - (var(--context-margin--inline, 0px) * 2));
      z-index: -1;
    }
  }

  @supports(--var: true) {
    .vf-hero__content {
      box-shadow: unset;
    }
  }
}

// inverted variant
// ----------------------------------------------------------------------
.vf-hero--inverted {
  .vf-hero__content {
    --vf-hero-content--bg-color: black;
    --vf-hero-content--fg-color: white;
  }
  .vf-hero__text {
    --vf-hero-content--bg-color: white;
    --vf-hero-content--fg-color: black;
    a {
      color: currentColor;
    }
  }
}

// block variant
// ----------------------------------------------------------------------
.vf-hero--block {
  .vf-hero__content {

    // padding: 1.5rem;
    // padding-left: 0;

    &::before {
      background-color: inherit;
      // background-color: var(--vf-masthead__color--background-default, var(--global-bg-color,  set-ui-color(vf-ui-color--black)));
      content: '';
      height: 100%;
      margin-left: calc(50% - calc(50vw - var(--context-margin--inline, 0px)));
      position: absolute;
      top: 0;
      width: calc(50vw - (var(--context-margin--inline, 0px) * 2));
      z-index: -1;
    }
  }

  .vf-hero__subheading {
    --vf-stack-margin--custom: 0;
  }
}

