<section class="vf-hero vf-hero--very-easy">
  <div class="vf-hero__content">
    {% if vf_hero_heading %} <h2 class="vf-hero__heading">{{ vf_hero_heading }}</h2>{% endif %}
    <p class="vf-hero__text">{{ vf_hero_text }}<a class="vf-link" href="{{ vf_hero_link }}"> </a></p>
  </div>
  <article class="vf-summary | vf-summary--profile vf-summary--profile-r" data-embl-js-conditional-edit="4473">
              <a href="http://www.ebi.ac.uk/about/people/helen-parkinson" class="vf-summary__image" target="_blank" rel="noopener noreferrer">
          <img class="vf-summary__image vf-summary__image--avatar" src="http://dev.content.embl.org//sites/default/files/styles/medium/public/persons/CP-60002372?itok=vKJ1sABp" alt="image of Helen Parkinson">
        </a>
      <h3 class="vf-summary__title">Team Leader Samples Phenotypes &amp; Ontolog</h3>
              <p class="vf-summary__text">
          <a href="http://www.ebi.ac.uk/about/people/helen-parkinson" class="vf-summary__link" target="_blank" rel="noopener noreferrer">
            Helen Parkinson
          </a>
        </p>
      <p class="vf-summary__email">
        <a href="mailto:parkinso@ebi.ac.uk" class="vf-summary__link vf-summary__link--secondary">parkinso@ebi.ac.uk</a>
      </p>
      <a class="vf-text vf-text--body-r vf-link embl-conditional-edit" href="https://dev.content.embl.org/node/4473" target="_blank" rel="noopener noreferrer">Edit</a>
    </article>
</section>
