// vf-hero

@import 'package.variables.scss';
// Debug information from component's `package.json`:
// ---
/*!
 * Component: #{map-get($componentInfo, 'name')}
 * Version: #{map-get($componentInfo, 'version')}
 * Location: #{map-get($componentInfo, 'location')}
 */
/* stylelint-disable */
@import 'vf-hero.variables.scss';

.vf-hero {
  --vf-hero--spacing: #{map-get($vf-spacing-map, vf-spacing--800)};
  background-color: set-ui-color(vf-ui-color--white);
  background-color: set-color(vf-color--grey--light);
  background-image: var(--vf-hero-bg-image);
  margin-bottom: 2rem;
  margin-bottom: var(--vf-hero--spacing, 2rem);
  padding: map-get($vf-spacing-map, vf-spacing--800) 0;
  padding: var(--vf-hero--spacing, 2rem) 0;
  position: relative;

  .vf-hero__link {
    align-items: center;
    color: inherit;
    display: inline-flex;

    svg {
      fill: currentColor;
      margin-left: .5rem;
    }

    &:focus,
    &:hover,
    &:visited {
      color: inherit;

      svg {
        transform: translateX(.25rem);
      }
    }

    &:hover,
    &:hover {
      text-decoration: none;
    }
  }
}

.vf-hero.vf-u-fullbleed::before {
  z-index: 1;
}

.vf-hero__content {
  background-color: set-ui-color(vf-ui-color--white);
  background-color: var(--vf-hero-theme--bg-color, set-ui-color(vf-ui-color--white));
  color: set-ui-color(vf-ui-color--black);
  color: var(--vf-hero-theme--fg-color, set-ui-color(vf-ui-color--black));
  box-shadow: 2px 0 3px rgba(0, 0, 0, .1), -2px 0 3px rgba(0, 0, 0, .1), 0 2px 3px rgba(0, 0, 0, .1);
  max-width: 64ch;
  padding: 1rem;
  padding: calc( var(--vf-hero--spacing) / 2);
  position: relative;
  z-index: set-layer(vf-z-index--hero);

  @supports (filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, .1))) {
    box-shadow: unset;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, .25));
  }
}

.vf-hero__heading {
  @include set-type(text-heading--2, $custom-margin-bottom: 0);

  display: inline-block;
}

.vf-hero__subheading {
  @include set-type(text-heading--4, $custom-margin-bottom: 0);

  --vf-stack-margin--custom: 0;
}

.vf-hero__text {
  @include set-type(text-body--2, $custom-margin-bottom: 0);

  a,
  a:focus,
  a:hover,
  a:visited {
    color: inherit;
  }
}

// sizes

.vf-hero--800 {
  --vf-hero--spacing: #{map-get($vf-spacing-map, vf-spacing--800)};
}

.vf-hero--1200 {
  --vf-hero--spacing: #{map-get($vf-spacing-map, vf-spacing--1200)};
}

.vf-hero--1600 {
  --vf-hero--spacing: #{map-get($vf-spacing-map, vf-spacing--1600)};
}

// variants

.vf-hero--flush {
  .vf-hero__content {
    bottom: -2rem;
    bottom: calc( var(--vf-hero--spacing) / -1);
    filter: none;
  }
}

.vf-hero--offset {
  margin-bottom: 4rem;
  margin-bottom: calc( var(--vf-hero--spacing) * 2);
  .vf-hero__content {
    bottom: -4rem;
    bottom: calc( var(--vf-hero--spacing) * -2);
  }
}

.vf-hero--centered {
  .vf-hero__content {
    left: 50%;
    transform: translateX(-50%);
  }
}

.vf-hero--alt {
  .vf-hero__content {
    background-color: initial;
    color: set-ui-color(vf-ui-color--black);
  }
  .vf-hero__heading {
    background-color: set-ui-color(vf-ui-color--white);
    margin: -1rem;
    padding: 1rem;
  }
  .vf-hero__subheading {
    background-color: set-ui-color(vf-ui-color--white);
    margin: -1rem;
    padding: .5rem 1rem;
  }
  .vf-hero__text {
    background-color: set-ui-color(vf-ui-color--black);
    background-color: var(--vf-hero-theme--bg-color, set-ui-color(vf-ui-color--black));
    color: set-ui-color(vf-ui-color--white);
    color: var(--vf-hero-theme--fg-color, set-ui-color(vf-ui-color--white));
    margin: -1rem;
    padding: 1rem;
  }

  @supports(--var: true) {
    .vf-hero__content {
      box-shadow: unset;
    }
  }
}

// themes

.vf-hero-theme--primary {
  --vf-hero-theme--bg-color: #{set-color(vf-color--blue)};
  --vf-hero-theme--fg-color: #{set-ui-color(vf-ui-color--white)};
}

.vf-hero-theme--secondary {
  --vf-hero-theme--bg-color: #{set-color(vf-color--green)};
  --vf-hero-theme--fg-color: #{set-ui-color(vf-ui-color--black)};
}

.vf-hero-theme--tertiary {
  --vf-hero-theme--bg-color: #{set-color(vf-color--grey--dark)};
  --vf-hero-theme--fg-color: #{set-ui-color(vf-ui-color--white)};
}
