// Begin deprecated classes and styles
html:not(.vf-disable-deprecated) {

  // Deprecated in 1.1.0
  // Will be removed in v2.0
  .vf-box--factoid {
    background-color: set-color(vf-color--green);
    border-color: set-color(vf-color--green);
  }

  .vf-box--factoid,
  .vf-box--factoid .vf-box__text,
  .vf-box--factoid .vf-box__heading {
    color: set-ui-color(vf-ui-color--white);
  }

}
