// Begin deprecated classes and styles
html:not(.vf-disable-deprecated) {

  // Deprecated in 1.2.0
  // Will be removed in v2.0
  .vf-box--inlay {
    background-color: set-ui-color(vf-ui-color--grey);
    border-color: set-ui-color(vf-ui-color--grey);
    color: set-ui-color(vf-ui-color--black);
  }

}
