{%- if context %}
  {% set deprecated_text = context.deprecated_text %}
  {% set box_href = context.box_href %}
  {% set id = context.id %}
  {% set variant = context.variant %}
  {% set theme = context.theme %}
  {% set box_modifier = context.box_modifier %}
  {% set override_class = context.override_class %}
  {% set box_heading = context.box_heading %}
  {% set box_text = context.box_text %}
{% endif %}

<div
  {%- if id %} id="{{-id-}}"{% endif %}

  class="vf-box
  {%- if box_href %} vf-box--is-link{% endif -%}

  {%- if theme %} vf-box-theme--{{theme}}{% endif -%}
  {%- if variant %} vf-box--{{variant}}{% endif -%}

  {%- if box_modifier %} {{box_modifier}}{% endif -%}
  {%- if override_class %} | {{override_class}}{% endif -%}
">

  <h3 class="vf-box__heading">
    {%- if box_href %}<a class="vf-box__link" href="{{ box_href if box_href else '#' }}">{% endif -%}
    {{- box_heading -}}
    {%- if box_href %}</a>{%- endif -%}
  </h3>
  <p class="vf-box__text">{{- box_text | safe -}}</p>
</div>
