// vf-box

@import 'vf-box.variables.scss';

.vf-box {
  background-color: set-color(vf-color-gray-dark);
  border-color: set-color(vf-color-gray-dark);
  box-sizing: border-box;
  color: set-color(vf-color-white);
  margin-bottom: $vf-box-outer-spacing;
  padding: 24px 16px;
  width: 100%;

  // we don't want the the last element within the component to have a bottom margin.
  & :last-child {
    margin: 0;
  }
}

.vf-box__heading {
  @include set-type(heading--r);
}

.vf-box__text {
  @include set-type(body--r);
}

// The CSS below is on notice

.vf-box--s {
  padding: 16px;
}

.vf-box--r {
  padding: 24px;
}

.vf-box--l {
  padding: 32px;
}

.vf-box--primary {
  background-color: set-color(vf-color-azure-dark);
  border-color: set-color(vf-color-azure-dark);
  color: set-color(vf-color-white);
}

.vf-box--secondary {
  background-color: set-color(vf-color-green);
  border-color: set-color(vf-color-green);
  color: set-color(vf-color-white);
}

.vf-box--tertiary {
  background-color: set-color(vf-color-gray-dark);
  border-color: set-color(vf-color-gray-dark);
  color: set-color(vf-color-white);
}

.vf-box--rounded {
  border-radius: 8px;
}

.vf-box--outline {
  background-color: transparent;
  border-style: solid;
  border-width: 2px;
  color: set-color(vf-color-black);
}
