<div class="vf-box">
  <h2 class="vf-text vf-text--heading-l">Hello World</h2>
  <p class="vf-text vf-text--body-r">This is some more content that would be in the box.</p>
</div>


<div class="vf-box vf-box--primary">
  <h2 class="vf-text vf-text--heading-l">Hello World</h2>
  <p class="vf-text vf-text--body-r">This is some more content that would be in the box.</p>
</div>

<div class="vf-box vf-box--secondary">
  <h2 class="vf-text vf-text--heading-l">Hello World</h2>  
  <p class="vf-text vf-text--body-r">This is some more content that would be in the box.</p>
</div>

<div class="vf-box vf-box--tertiary">
  <h2 class="vf-text vf-text--heading-l">Hello World</h2>  
  <p class="vf-text vf-text--body-r">This is some more content that would be in the box.</p>
</div>


<div class="vf-box vf-box--primary vf-box--s">
  <h2 class="vf-text vf-text--heading-l">Hello World</h2>  
  <p class="vf-text vf-text--body-r">This is some more content that would be in the box.</p>
</div>

<div class="vf-box vf-box--primary vf-box--r">
  <h2 class="vf-text vf-text--heading-l">Hello World</h2>  
  <p class="vf-text vf-text--body-r">This is some more content that would be in the box.</p>
</div>

<div class="vf-box vf-box--primary vf-box--l">
  <h2 class="vf-text vf-text--heading-l">Hello World</h2>  
  <p class="vf-text vf-text--body-r">This is some more content that would be in the box.</p>
</div>

<div class="vf-box vf-box--primary vf-box--rounded">
  <h2 class="vf-text vf-text--heading-l">Hello World</h2>  
  <p class="vf-text vf-text--body-r">This is some more content that would be in the box.</p>
</div>

<div class="vf-box vf-box--primary vf-box--outline">
  <h2 class="vf-text vf-text--heading-l">Hello World</h2>  
  <p class="vf-text vf-text--body-r">This is some more content that would be in the box.</p>
</div>

<div class="vf-box vf-box-vf-box--secondary vf-box--outline">
  <h2 class="vf-text vf-text--heading-l">Hello World</h2>  
  <p class="vf-text vf-text--body-r">This is some more content that would be in the box.</p>
</div>

<div class="vf-box vf-box-vf-box--secondary vf-box--outline vf-box--rounded">
  <h2 class="vf-text vf-text--heading-l">Hello World</h2>  
  <p class="vf-text vf-text--body-r">This is some more content that would be in the box.</p>
</div>
