{# Determine type of element to use, if not explicitly set -#}

{% if href %}
  {% set tags = 'a' %}
{% else %}
  {% set tags = 'span' %}
{% endif %}

{# Work out what colour theme is needed for the styling #}
{% if theme %}
  {% set theme_class = theme %}
{% endif %}


{# Decide upon which 'style' the badge has #}


<{{tags}}

{%- if tags == 'a' %}
 href="{{ href if href else '#' }}"
{%- endif %}

{% if id %} id="{{-id-}}"{% endif %}

class="vf-badge
{%- if theme_class %} vf-badge--{{theme_class}}{% endif %}
{%- if style %}
  {% for styles in style %} vf-badge--{{styles}}{% endfor -%}
{% endif -%}

{%- if overide_class %} {{overide_class}}{% endif -%}

">

   {{- html | safe if html else text -}}

</{{tags}}>
