<span class="vf-badge vf-badge--primary">{{vf_badge_name}}</span>
<span class="vf-badge vf-badge--secondary">{{vf_badge_name}}</span>
<span class="vf-badge vf-badge--tertiary">{{vf_badge_name}}</span>
