<style>
li {
  color: black;
}
</style>
<h2>Default</h2>
{{render '@vf-badge'}}
<h2>Colours</h2>
{{render '@vf-badge--styles'}}
<ul class="vf-list vf-list--inline">
  <li>vf-badge--primary</li>
  <li>vf-badge--secondary</li>
  <li>vf-badge--tertiary</li>
</ul>
<h2>Variants</h2>
{{render '@vf-badge--variants'}}
<ul class="vf-list vf-list--inline">
  <li>vf-badge--pill</li>
  <li>vf-badge--rounded</li>
  <li>vf-badge--square</li>
</ul>
<h2>Outlines</h2>
{{render '@vf-badge--outline'}}
<ul class="vf-list vf-list--inline">
  <li>vf-badge--outline</li>
</ul>
