<span class="vf-badge vf-badge--primary">{{vf_badge_name}}</span>
<span class="vf-badge vf-badge--secondary">{{vf_badge_name}}</span>
<span class="vf-badge vf-badge--tertiary">{{vf_badge_name}}</span>
<span class="vf-badge vf-badge--primary vf-badge--rounded">{{vf_badge_name}}</span>
<span class="vf-badge vf-badge--primary vf-badge--pill">{{vf_badge_name}}</span>
<span class="vf-badge vf-badge--primary vf-badge--square"></span>


<span class="vf-badge vf-badge--primary vf-badge--outline">{{vf_badge_name}}</span>
