<span class="vf-badge vf-badge--primary vf-badge--rounded">{{vf-badge-name}}</span>
<span class="vf-badge vf-badge--primary vf-badge--pill">{{vf-badge-name}}</span>
<span class="vf-badge vf-badge--primary vf-badge--square"></span>
<span class="vf-badge vf-badge--primary vf-badge--phases">{{vf-badge-name}}</span>
<span class="vf-badge vf-badge--primary vf-badge--phases">beta</span>
