<span class="vf-badge vf-badge--primary vf-badge--rounded">{{vf_badge_name}}</span>
<span class="vf-badge vf-badge--primary vf-badge--pill">{{vf_badge_name}}</span>
<div class="vf-badge vf-badge--primary vf-badge--square" arta-label="{{vf_badge_name}}"></div>
<span class="vf-badge vf-badge--primary vf-badge--phases">{{vf_badge_name}}</span>
<span class="vf-badge vf-badge--primary vf-badge--phases">beta</span>
