<span class="vf-badge vf-badge--primary">{{vf-badge-name}}</span>
<span class="vf-badge vf-badge--secondary">{{vf-badge-name}}</span>
<span class="vf-badge vf-badge--tertiary">{{vf-badge-name}}</span>
