// vf-badge

@import 'package.variables.scss';
// Debug information from component's `package.json`:
// ---
/*!
 * Component: #{map-get($componentInfo, 'name')}
 * Version: #{map-get($componentInfo, 'version')}
 * Location: #{map-get($componentInfo, 'location')}
 */

$vf-badge--primary-color--background: color(blue) !default;
$vf-badge--primary-color--border: color(blue) !default;
$vf-badge--primary-color--text: ui-color(white) !default;
$vf-badge--primary--hover-color--background: color(blue--dark) !default;
$vf-badge--primary--hover-color--border: color(blue--dark) !default;

$vf-badge-rounded-border--radius: $vf-radius--xs !default;
$vf-badge-pill-border--radius: vf-radius--pill !default;

$vf-badge--outline-color--background: transparent !default;
$vf-badge--outline-color--text: color(blue) !default;

$vf-badge--secondary-color--background: color(green) !default;
$vf-badge--secondary-color--border: color(green) !default;
$vf-badge--secondary-color--text: ui-color(black) !default;

$vf-badge--tertiary-color--background: color(grey--dark) !default;
$vf-badge--tertiary-color--border: color(grey--dark) !default;
$vf-badge--tertiary-color--text: ui-color(white) !default;


.vf-badge {
  @include set-type(text-button--2, $custom-margin-bottom: disable);

  border: 1px solid;
  color: inherit;
  display: inline-flex;
  letter-spacing: .05em;
  padding: 4px 8px;
  text-decoration: none;
  text-transform: uppercase;
}

.vf-badge--primary {
  @include theme(primary, border);

  color: $vf-badge--primary-color--text;

  a.vf-badge & {
    @include inline-link($vf-badge--secondary-color--text,$vf-badge--secondary-color--text,$vf-badge--secondary-color--text, $vf-include-normalisations: false);
  }
}

a.vf-badge--primary:hover {
  @include theme(primary--dark, border);
}


html:not(.vf-disable-deprecated) {
  .vf-badge--secondary {
    @include theme(secondary, border);

    color: $vf-badge--secondary-color--text;

    a.vf-badge & {
      @include inline-link($vf-badge--secondary-color--text,$vf-badge--secondary-color--text,$vf-badge--secondary-color--text, $vf-include-normalisations: false);
    }

  }

  .vf-badge--tertiary {
    color: $vf-badge--tertiary-color--text;

    @include inline-link($vf-badge--tertiary-color--text,$vf-badge--tertiary-color--text,$vf-badge--tertiary-color--text, $vf-include-normalisations: false);
    @include theme(tertiary, border);
  }

  .vf-badge--outline {
    &[class*='primary'] {
      @include theme-outline(primary);

      @at-root a#{&} {
        &:hover {
          @include theme-outline(primary--dark);
        }
      }
    }
    &[class*='secondary'] {
      @include theme-outline(secondary);

      @at-root a#{&} {
        &:hover {
          @include theme-outline(secondary--dark);
        }
      }
    }
    &[class*='tertiary'] {
      @include theme-outline(tertiary);

      @at-root a#{&} {
        &:hover {
          @include theme-outline(tertiary--dark);
        }
      }
    }
  }

  .vf-badge--pill {
    border-radius: $vf-radius--pill;
  }

  .vf-badge--rounded {
    border-radius: $vf-radius--xs;
  }

  .vf-badge--square {
    border: 0;
    height: 12px;
    margin: 0;
    padding: 0;
    position: relative;
    width: 12px;
  }

  .vf-badge--phases {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    margin: 0 12px 0 0;
    min-width: 52px;
  }
}
