{# Determine type of element to use, if not explicitly set -#}
{% if href %}
  {% set element = 'a' %}
{% else %}
  {% set element = 'span' %}
{% endif %}

{# Work out what colour theme is needed for the styling #}
{% if theme %}
  {% set palette_class = theme %}
{% endif %}


{# Decide upon which 'style' the badge has #}
{% if style %}
  {% set style_class = style %}
{% endif %}

{#  If there's an href present you will get a link #}
{%- if element == 'a' -%}
  <a
  href="{{ href if href else '#' }}"
  class="vf-badge
  {%- if palette_class %} vf-badge--{{palette_class}}{% endif %}
  {% if style_class %} vf-badge--{{style_class}}{% endif -%}
  ">
     {{- html | safe if html else text -}}
  </a>

{#  Otherwise you get a span #}
{%- elseif element == 'span' -%}
  <span
  class="vf-badge
  {%- if palette_class %} vf-badge--{{palette_class}}{% endif %}
  {% if style_class %} vf-badge--{{style_class}}{% endif -%}
  ">
     {{- html | safe if html else text -}}
  </span>
{%- endif %}
