:root {
  --vf-color-white: rgb(255, 255, 255);
  --vf-color-off-white: rgb(250, 250, 250);
  --vf-color-black: rgb(40, 45, 35);
  --vf-color-gray: rgb(112, 115, 114);
  --vf-color-gray-bright: rgb(185, 179, 168);
  --vf-color-gray-dark: rgb(84, 88, 90);
  --vf-color-green: rgb(0, 159, 77);
  --vf-color-green-bright: rgb(108, 194, 74);
  --vf-color-green-dark: rgb(0, 123, 83);
  --vf-color-light-green: rgb(168, 199, 0);
  --vf-color-light-green-bright: rgb(226, 232, 104);
  --vf-color-light-green-dark: rgb(132, 189, 0);
  --vf-color-ruby: rgb(228, 0, 70);
  --vf-color-ruby-bright: rgb(229, 143, 158);
  --vf-color-ruby-dark: rgb(166, 9, 61);
  --vf-color-yellow: rgb(255, 205, 0);
  --vf-color-yellow-bright: rgb(253, 215, 87);
  --vf-color-yellow-dark: rgb(255, 184, 28);
  --vf-color-purple: rgb(130, 70, 175);
  --vf-color-purple-bright: rgb(203, 163, 216);
  --vf-color-purple-dark: rgb(86, 61, 130);
  --vf-color-amber: rgb(255, 163, 0);
  --vf-color-amber-bright: rgb(190, 84, 0);
  --vf-color-amber-dark: rgb(239, 192, 110);
  --vf-color-azure: rgb(40, 122, 226);
  --vf-color-azure-bright: rgb(139, 184, 232);
  --vf-color-azure-dark: rgb(0, 61, 165);
}

:root {
  --vf-ui-color-black: rgb(0, 0, 0);
  --vf-ui-color-gray: rgb(243, 243, 243);
  --vf-ui-color-gray-light: rgb(216, 216, 216);
  --vf-ui-color-yellow: rgb(255, 250, 220);
  --vf-ui-color-red: rgb(211, 47, 47);
}

.vf-text {
  margin: 0 0 16px 0;
}

.vf-text--heading-s {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 500;
  line-height: 1.5;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-text--heading-r {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 21px;
  font-weight: 500;
  line-height: 1.29;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-text--heading-alt {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.333;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-text--heading-l {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.333;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-text--heading-xl {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.547;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-text--has-tag {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.vf-text--has-tag .vf-badge {
  margin-left: 8px;
}

.vf-text--invert {
  background-color: #282d23;
  color: white;
  display: inline-block;
  padding: 4px 8px 4px 4px;
}

.vf-page-header {
  margin: 0 0 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.vf-page-header__heading {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.333;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  margin: 0;
}

.vf-page-header__sub-heading {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 21px;
  font-weight: 500;
  line-height: 1.29;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  margin: 0 0 0;
  color: #707372;
}
