:root {
  --vf-color--green: #009f4d;
  --vf-color--green--darkest: #115740;
  --vf-color--green--dark: #007a53;
  --vf-color--green--light: #6cc24a;
  --vf-color--green--lightest: #d0debb;
  --vf-color--grey: #707372;
  --vf-color--grey--darkest: #373a36;
  --vf-color--grey--dark: #54585a;
  --vf-color--grey--light: #d0d0ce;
  --vf-color--grey--lightest: #a8a99e;
  --vf-color--red: #e40046;
  --vf-color--red--dark: #a6093d;
  --vf-color--red--light: #e58f9e;
  --vf-color--blue: #307fe2;
  --vf-color--blue--dark: #003da5;
  --vf-color--blue--light: #8bb8e8;
  --vf-color--purple: #8246af;
  --vf-color--purple--dark: #563d82;
  --vf-color--purple--light: #cba3d8;
  --vf-color--orange: #ffa300;
  --vf-color--orange--dark: #be5400;
  --vf-color--orange--light: #efc06e;
  --vf-color--yellow: #ffcd00;
  --vf-color--yellow--dark: #ffb81c;
  --vf-color--yellow--light: #fdd757;
  --vf-color--bright-green: #a8c700;
  --vf-color--bright-green--dark: #84bd00;
  --vf-color--bright-green--light: #e2e868;
}

:root {
  --vf-ui-color--black: #000000;
  --vf-ui-color--grey: #f3f3f3;
  --vf-ui-color--grey--light: #d8d8d8;
  --vf-ui-color--yellow: #fffadc;
  --vf-ui-color--red: #d32f2f;
  --vf-ui-color--white: #ffffff;
  --vf-ui-color--off-white: #fafafa;
}

.vf-tabs__list {
  border-bottom: 1px solid #000000;
  margin: 0;
  padding: 0 0 0px 16px;
}

.vf-tabs__item,
.vf-tabs__link {
  display: inline-block;
  position: relative;
}

.vf-tabs__link {
  background: #d0d0ce;
  border-color: transparent transparent #000000 transparent;
  border-style: solid;
  border-width: 1px;
  color: #54585a;
  outline: 0;
  padding: 12px 16px;
  text-decoration: none;
  top: 1px;
}

.vf-tabs__link:hover {
  background-color: #54585a;
  color: #ffffff;
}

.vf-tabs__link.is-active {
  background: #fafafa;
  border-bottom-color: #ffffff;
  color: #000000;
}

.vf-tabs__section {
  padding: 8px 16px;
}

@media (max-width: 550px) {
  .vf-tabs__list {
    border-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }
  .vf-tabs__item {
    display: block;
    flex-basis: auto;
    /* default value */
    flex-grow: 1;
    margin: 2px;
    position: static;
  }
  .vf-tabs__link {
    border-color: transparent;
    display: block;
    top: unset;
  }
  .vf-tabs__link.is-active {
    border-color: #000000;
    position: static;
  }
  .vf-tabs__section {
    padding: 8px;
  }
}
