.vf-pagination__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding-left: 0;
}

.vf-pagination__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  text-align: center;
}

.vf-pagination__item:hover {
  background-color: #707372;
}

.vf-pagination__item:hover .vf-pagination__link {
  color: white;
}

.vf-pagination__item--is-active {
  background-color: #707372;
}

.vf-pagination__item--is-active .vf-pagination__link {
  color: white;
}

.vf-pagination__item--is-active:hover {
  background-color: #54585a;
}

.vf-pagination__link {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.71;
  margin: 0 0 0 0;
  color: #707372;
  display: block;
  padding: 4px 8px;
  text-decoration: none;
}
