$componentInfo: (
             name: "@visual-framework/vf-sass-starter",
             version: "0.1.10",
             location: "components/vf-sass-starter",
             vfCoreVersion: "2.2.8",
             buildTimeStamp: "Wed, 21 Oct 2020 09:23:50 GMT"
          );