$componentInfo: (
             name: "@visual-framework/vf-sass-starter",
             version: "0.1.12",
             location: "components/vf-sass-starter",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Mon, 09 Nov 2020 11:17:26 GMT"
          );