$componentInfo: (
             name: "@visual-framework/vf-sass-starter",
             version: "0.1.10",
             location: "components/vf-sass-starter",
             vfCoreVersion: "2.2.8",
             buildTimeStamp: "Fri, 23 Oct 2020 10:02:05 GMT"
          );