---
is_index: true
promoted: true
title: Contributing
subtitle: Developing and contributing to the Visual Framework Core and its components.
intro: A guide to what you need to do, how you should write it and how to maintain <code class="vf-code-example">vf-core</code> components.
date: 2019-04-09 12:24:50
section: developing
order: 1
tags:
  - developing
  - documentation
  - sections
layout: layouts/section.njk
templateEngineOverride: njk, md
---

#### In the right place?

Need to just make a VF-powered site? If you want to make a site or design system that uses
Visual Framework components, then [check out the "Visual Framework building guide"]({{ '/building' | url }}).

#### Getting started <a id="getting-started"></a>

If you'd like to contribute code, components or documentation to the Visual Framework 2.0,
first of all: thanks!

We welcome ideas, bug reports, opinions and pull requests. Telling the maintainers
why you want or have done something is always very helpful.

<ol>
{%- for page in collections['getting started'] | sort(false, true, 'order') %}
{%- if page.data.layout %}
  <li><a href="{{ page.url | url }}">{{ page.data.title }}</a></li>
{%- endif %}
{%- endfor %}
</ol>

#### Making components <a id="components"></a>

Once you've set up the VF Core locally or made a new design system, you'll want to
extend it by creating components to add new charts, tables or other types of functionality.

[See the Guidance section]({{ '/guidance' | url }})

#### General guidelines, best practice <a id="guidelines"></a>

[See the Guidance section]({{ '/guidance' | url }})
