---
is_index: true
promoted: true
title: Contributing
subtitle: Developing and contributing to the Visual Framework Core and its components.
intro: A guide to what you need to do, how you should write it and how to maintain <code class="vf-code-example">vf-core</code> components.
date: 2019-04-09 12:24:50
section: developing
order: 1
tags:
  - developing
  - documentation
  - sections
layout: layouts/section.njk
templateEngineOverride: njk
---

{% include "navigation-in-this-section.njk" %}

<div class="vf-grid vf-grid__col-3">
  <article class="vf-grid__col--span-2 | vf-content ">
{% markdown %}

If you'd like to contribute code, components or documentation to the Visual Framework 2.0,
first of all: thanks! We welcome ideas, bug reports, opinions and pull requests.

- Not writing new components and need to just make a VF-powered site?
    <br>If you want to make a site or design system that uses Visual Framework components, then [check out the "Visual Framework building guide"]({{ '/building' | url }}).
- General guidelines, best practice? <a id="guidelines"></a>
    <br>[See the Guidance section]({{ '/guidance' | url }})

{% endmarkdown %}
  </article>
  <div></div>
</div>
