

<!DOCTYPE html>
<html lang="en" class="vf-no-js">
<head>
<script>
// Detect if JS is on and swap vf-no-js for vf-js on the html element
(function(H){H.className=H.className.replace(/\bvf-no-js\b/,'vf-js')})(document.documentElement);
</script>
  <title>Compatibility with EBI-VF 1.x Component: Default | Visual Framework 2.0</title>

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, minimum-scale=1" name="viewport">

<link rel="apple-touch-icon" sizes="180x180" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/favicon-16x16.png">
<link rel="manifest" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/site.webmanifest">
<link rel="mask-icon" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/safari-pinned-tab.svg" color="#ffffff">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="https://dev.assets.emblstatic.net/vf/develop/css/styles.css">
  <style>
    .vf-component__container {
      margin: 2em 0;
    }
  </style>
</head>
<body class="vf-body">
  <div class="vf-grid">
    <div class="vf-component__container">
      <link rel="stylesheet" href="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.3/css/ebi-global.css" type="text/css" media="all" />
<link rel="stylesheet" href="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.3/css/theme-embl-petrol.css" type="text/css" media="all" />

<p>A demonstration of a few fixes. To make an entire page "VF 2.x-ish" add `class="ebi-vf1-integration"` to your body element.</p>

<div class="ebi-vf1-integration">

  <h3>With .ebi-vf1-integration</h3>

  <p>With <code class="vf-code-example">.ebi-vf1-integration</code></p>

  <h1>h1</h1>
  <h2>h2</h2>
  <h3>h3</h3>

  <div><strong>I'm bold</strong></div>

  <div> <button class="vf-button vf-button--primary">a link variant</button> </div>

  <div><a href="https://example.com">A link</a></div>

  <input type="search" class="vf-form__input | vf-search__input" value="" name="s">

</div>

<br/><br/>

<hr class="vf-divider" />

<div class="">

  <h3>With<em>out</em> .ebi-vf1-integration</h3>

  <p>With<em>out</em> <code class="vf-code-example">.ebi-vf1-integration</code></p>

  <h1>h1</h1>
  <h2>h2</h2>
  <h3>h3</h3>

  <div><strong>I'm bold</strong></div>

  <div> <button class="vf-button vf-button--primary">a link variant</button> </div>
  (click the link to see the visited state)

  <div><a href="https://example.com">A link</a></div>

  <input type="search" class="vf-form__input | vf-search__input" value="" name="s">

</div>

    </div>
  </div>

  <script src="../../scripts/scripts.js"></script>
</body>
</html>

