

<!-- Content descriptors -->
<meta name="embl:who" content="all"> <!-- the people, groups and teams involved -->
<meta name="embl:where" content="EMBL"> <!-- at which EMBL sites the content applies -->
<meta name="embl:what" content="services, websites"> <!-- the activities covered -->
<meta name="embl:active" content="what"> <!-- which of the who/what/where is active -->

<!-- Content role -->
<meta name="embl:utility" content="-8"> <!-- if content is task and work based or if is meant to inspire -->
<meta name="embl:reach" content="-5"> <!-- if content is externally (public) or internally focused (those that work at EMBL) -->

<!-- Page infromation -->
<meta name="embl:maintainer" content="Strategy and Communications"> <!-- the contact person or group responsible for the page -->
<meta name="embl:last-review" content="NaN"> <!-- the last time the page was reviewed or updated -->
<meta name="embl:review-cycle" content=""> <!-- how long in days before the page should be checked -->
<meta name="embl:expiry" content="2019-06-20"> <!-- if there is a fixed point in time when the page is no longer relevant -->

