

<!DOCTYPE html>
<html lang="en" class="vf-no-js">
<head>
<script>
// Detect if JS is on and swap vf-no-js for vf-js on the html element
(function(H){H.className=H.className.replace(/\bvf-no-js\b/,'vf-js')})(document.documentElement);
</script>
  <title> | Visual Framework 2.0</title>

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, minimum-scale=1" name="viewport">

<link rel="apple-touch-icon" sizes="180x180" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/favicon-16x16.png">
<link rel="manifest" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/site.webmanifest">
<link rel="mask-icon" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/safari-pinned-tab.svg" color="#ffffff">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">
<!-- Content descriptors -->
<meta name="embl:who" content="Group Jane"> <!-- the people, groups and teams involved -->
<meta name="embl:where" content="Barcelona"> <!-- at which EMBL sites the content applies -->
<meta name="embl:what" content="Research"> <!-- the activities covered -->
<meta name="embl:active" content="what"> <!-- which of the who/what/where is active -->

<!-- Content role -->
<meta name="embl:utility" content="-8"> <!-- if content is task and work based or if is meant to inspire -->
<meta name="embl:reach" content="-5"> <!-- if content is externally (public) or internally focused (those that work at EMBL) -->

<!-- Page infromation -->
<meta name="embl:maintainer" content=""> <!-- the contact person or group responsible for the page -->
<meta name="embl:last-review" content="NaN"> <!-- the last time the page was reviewed or updated -->
<meta name="embl:review-cycle" content=""> <!-- how long in days before the page should be checked -->
<meta name="embl:expiry" content=""> <!-- if there is a fixed point in time when the page is no longer relevant -->

  <link rel="stylesheet" href="https://dev.assets.emblstatic.net/vf/develop/css/styles.css">
</head>
<body>

  <!-- dismissible banner -->
  <section class="vf-banner vf-banner--fixed vf-banner--bottom vf-banner--phase" data-vf-js-banner data-vf-js-banner-state="dismissible" data-vf-js-banner-button-text="Close notice">
    <div class="vf-banner__content" data-vf-js-banner-text>
      <div>
        <h3 class="vf-text vf-text--heading-r">
          Don't need to customise the EMBL Design Language for Websites?
        </h3>
        <p class="vf-banner__text">Here's the core CSS and JS you need. Don't forget to <a href="http://dev.beta.embl.org/guidelines/visual-framework/dev-docs/" class="vf-link">consult the pattern library</a>.</p>
<code class="Code Code--lang-html vf-code-example"><pre class="vf-code-example__pre"><span class="hljs-tag">&lt;<span class="hljs-name">link</span> <span class="hljs-attr">rel</span>=<span class="hljs-string">"stylesheet"</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"https://dev.assets.emblstatic.net/vf/develop/css/styles.css"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">script</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"https://dev.assets.emblstatic.net/vf/develop/scripts/scripts.js"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">script</span>&gt;</span>
</pre></code>      </div>
    </div>
  </section>

  <link rel="import" href="https://dev.beta.embl.org/api/v1/pattern.html?filter-content-type=article&filter-id=574&pattern=node-body&source=contenthub" data-target="self" data-embl-js-content-hub-loader>


  <div class="vf-body vf-body__main-content embl-group-page--bg-color">

    <section class="vf-grid">
      <nav class="vf-breadcrumbs embl-breadcrumbs-lookup" aria-label="Breadcrumb" data-embl-js-breadcrumbs-lookup>
        <div class="vf-list vf-list--inline | vf-breadcrumbs__list | embl-breadcrumbs-lookup--ghosting"></div>
      </nav>
    </section>

    <div class="vf-grid">
      <link rel="import" href="https://dev.beta.embl.org/api/v1/pattern.html?pattern=node-body&filter-content-type=article&filter-id=580&source=contenthub" data-target="self" data-embl-js-content-hub-loader="">
    </div>

<style>
:root {
  /* These CSS properties are theming variables. If used, add to your HTML
     after the VF CSS for vf-masthead and before the HTML for vf-masthead. */
  --vf-masthead__bg-image: url('../../assets/vf-masthead/assets/group-bg_2d4155.png');
}
</style>

<header class="vf-header vf-header--inlay">

<style>
:root {
  /* These CSS properties are theming variables. If used, add to your HTML
     after the VF CSS for vf-masthead and before the HTML for vf-masthead. */
  --vf-masthead__bg-image: url('../../assets/vf-masthead/assets/group-bg_2d4155.png');
}
</style>
<div data-vf-js-masthead class="vf-masthead" style="background-color: 'var(--vf-masthead__color--background', var(--vf-masthead__color--background-default)); color: var(--vf-masthead__color--foreground, var(--vf-masthead__color--foreground-default) );">
  <div class="vf-masthead__inner">
    <div class="vf-masthead__title">
      <h1 class="vf-masthead__heading">
        <a class="vf-masthead__heading__link" href="#">Häring Group</a>
        <span class="vf-masthead__heading--additional">Chromosome structure and dynamics</span>
      </h1>
    </div>
  </div>
</div>
<!--/vf-masthead-->
<nav class="vf-navigation vf-navigation--main">
  <ul class="vf-navigation__list | vf-list--inline">
    <li class="vf-navigation__item">
      <a href="JavaScript:Void(0);" class="vf-navigation__link">Home</a>
    </li>
    <li class="vf-navigation__item">
      <a href="JavaScript:Void(0);" class="vf-navigation__link">Download</a>
    </li>
    <li class="vf-navigation__item">
      <a href="JavaScript:Void(0);" class="vf-navigation__link">Release Notes</a>
    </li>
    <li class="vf-navigation__item">
      <a href="JavaScript:Void(0);" class="vf-navigation__link">FAQ</a>
    </li>
    <li class="vf-navigation__item">
      <a href="JavaScript:Void(0);" class="vf-navigation__link">Help</a>
    </li>
    <li class="vf-navigation__item">
      <a href="JavaScript:Void(0);" class="vf-navigation__link">Licence</a>
    </li>
    <li class="vf-navigation__item">
      <a href="JavaScript:Void(0);" class="vf-navigation__link">About</a>
    </li>
    <li class="vf-navigation__item">
      <a href="JavaScript:Void(0);" class="vf-navigation__link">Feedback</a>
    </li>
  </ul>
</nav>

</header>

    <section class="vf-inlay">



      <section class="vf-inlay__content vf-u-background-color-white">

        <main class="vf-inlay__content--main">
          <div class="vf-text vf-text--body-xl">The Häring group aims to understand the molecular machinery that organises eukaryotic genomes. <a class="vf-link" href="http://vfthemeprototype.lndo.site/about/">Read more about the Häring group</a></div>  </main>
        </main>

        <aside class="vf-inlay__content--additional">
        <article class="vf-summary vf-summary--profile vf-summary--profile-r">
          <img class="vf-summary__image vf-summary__image--avatar" src="../../assets/vf-summary/assets/vf-summary--profile-img.png" alt="">
          <h3 class="vf-summary__title">
            <a href="javascript:void(0);" class="vf-summary__link">FirstName Surname</a>
          </h3>
          <p class="vf-summary__text">EMBL Press Office</p>
          <p class="vf-summary__email">
            <a href="mailto:contact@persons.com" class="vf-summary__link vf-summary__link--secondary">contact@persons.com</a>
          </p>
        </article>
      </aside>

      <hr class="vf-divider" />
    </section>

    <section class="vf-inlay__content vf-u-background-color-white">
      <main class="vf-inlay__content--main">
<div class="vf-content">
  <h1 id="embl-communications-strategy-2018-2020">EMBL communications strategy 2018-2020</h1>

  <small>Cian O'Luanaigh, 2 July 2018 at 12:55 pm</small>
  <p class="vf-content__standfirst">This <a href="#">communications strategy</a> outlines EMBL’s vision, mission and goals. It is intended to support everyone who communicates on behalf of EMBL, within and outside of the organisation, in order to provide aligned messaging and help EMBL to achieve its goals. The strategy is supported by an operational plan for the Strategy and Communications team.</p>
  <p class="vf-content__standfirst">The plan reflects the priorities defined in the communications strategy and translates them into a set of deliverables and projects managed by the Strategy and Communications team. This documentation will be regularly reviewed and revised. Your feedback is welcome at any time: please contact EMBL’s Strategy and Communications team.</p>
  <small><i>This document was last revised 7 March 2018</i></small>

<h2 id="section-1-embls-vision-and-mission">Section 1: EMBL’s vision and mission</h2>
<h3 id="embls-vision">EMBL’s vision</h3>
<p>Enabling scientists worldwide to discover the secrets of life</p>
<h3 id="embls-mission">EMBL’s mission</h3>
<ol>
<li>Uncovering the molecular basis of life through research</li>
<li>Providing research infrastructure and services</li>
<li>Training and inspiring the next generation of scientists</li>
<li>Driving research, innovation and progress through technology development</li>
<li>Interactions with industry and technology transfer</li>
<li>Playing a leading role in the integration of life science research</li>
</ol>

  <h3>What is EMBL?</h3>
  <p>EMBL is Europe’s flagship laboratory for the life sciences. We are an intergovernmental organisation established in 1974 and are supported by over 20 member states.</p>
  <p>EMBL performs fundamental research in molecular biology, studying the story of life. We offer services to the scientific community; train the next generation of scientists and strive to integrate the life sciences across Europe.</p>
  <p>We are international, innovative and interdisciplinary. We are more than 1600 people, from over 80 countries, operating across six sites in Barcelona (Spain), Cambridge (UK), Grenoble (France), Hamburg (Germany), Heidelberg (Germany), and Rome (Italy). Our scientists work in independent groups and conduct research and offer services in all areas of molecular biology.</p>
  <p>Our research drives the development of new technology and methods in the life sciences. We work to transfer this knowledge for the benefit of society.</p>

  <h2>Section 2: EMBL’s goals</h2>

  <h3>Goal 1: Advancing society</h3>
  <p>The fundamental knowledge that we create, enable and share is immensely valuable to society. Life-science research and services help to address society’s grand challenges, from human health, agriculture, to the environment and beyond.</p>

  <h4>Communications goals:</h4>
  <p>Show the impact of our work in tackling society’s big challenges</p>

  <h3>Goal 2: Enable excellent science to advance our understanding of life</h3>
  <p>We support scientists worldwide with infrastructure, services, technologies, training and platforms for exchange to carry out the best possible research. We are driven by curiosity about life, the most exciting story in the universe. We believe that advancing humankind’s understanding of life is a noble goal in itself.</p>

  <h4>Communications goals:</h4>
  <ul>
    <li>Develop and sustain support for EMBL from important stakeholders</li>
    <li>Attract the best scientists, engineers, technicians and support staff</li>
    <li>Inform scientists about training opportunities and services</li>
  </ul>
</div>
      </main>

      <aside class="vf-inlay__content--additional">
<div



class="vf-box">
  <h3 class="vf-box__heading">Did You Know?</h3>
  <p class="vf-box__text">This is some more content that would be in the box.</p>
</div>
      </aside>

    </section>

  </section>
</div>

<div class="vf-body vf-body__additional-content">
  <section class="vf-news-container | embl-grid embl-grid--has-sidebar vf-u-margin__top-xl">

<div class="vf-section-header">
  <h2 class="vf-section-header__heading"></h2>
</div>

    <div class="vf-news-container__content">
<article class="vf-summary vf-summary--news">
  <span class="vf-summary__date">22 June 2018</span>
  <h3 class="vf-summary__title">
    <a href="#" class="vf-summary__link">
      What is Cancer?
    </a>
  </h3>
  <p class="vf-summary__text">
    <span class="vf-summary__category">
      General
    </span>
    Combinations of cancer drugs can be quickly and cheaply tested using a novel microfluidic device.
  </p>
</article>
<article class="vf-summary vf-summary--news">
  <span class="vf-summary__date">22 June 2018</span>
  <h3 class="vf-summary__title">
    <a href="#" class="vf-summary__link">
      What is Cancer?
    </a>
  </h3>
  <p class="vf-summary__text">
    <span class="vf-summary__category">
      General
    </span>
    Combinations of cancer drugs can be quickly and cheaply tested using a novel microfluidic device.
  </p>
</article>
<article class="vf-summary vf-summary--news">
  <span class="vf-summary__date">22 June 2018</span>
  <h3 class="vf-summary__title">
    <a href="#" class="vf-summary__link">
      What is Cancer?
    </a>
  </h3>
  <p class="vf-summary__text">
    <span class="vf-summary__category">
      General
    </span>
    Combinations of cancer drugs can be quickly and cheaply tested using a novel microfluidic device.
  </p>
</article>
<article class="vf-summary vf-summary--news">
  <span class="vf-summary__date">22 June 2018</span>
  <h3 class="vf-summary__title">
    <a href="#" class="vf-summary__link">
      What is Cancer?
    </a>
  </h3>
  <p class="vf-summary__text">
    <span class="vf-summary__category">
      General
    </span>
    Combinations of cancer drugs can be quickly and cheaply tested using a novel microfluidic device.
  </p>
</article>
    </div>

    <div class="vf-news-container__sidebar">
    </div>

  </section>

</div>



<link rel="import" href="https://dev.beta.embl.org/api/v1/pattern.html?filter-content-type=article&filter-id=569&pattern=node-body&source=contenthub" data-target="self" data-embl-js-content-hub-loader>

<script src="../../scripts/scripts.js"></script>
</body>
</html>


