<!DOCTYPE html>
<html lang="en" dir="ltr" class="vf-no-js">
<head>
  <script>
// Detect if JS is on and swap vf-no-js for vf-js on the html element
(function(H){H.className=H.className.replace(/\bvf-no-js\b/,'vf-js')})(document.documentElement);
</script>

  <title>Error rendering component vf-boilerplate-page pattern | Visual Framework 2.0</title>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, minimum-scale=1" name="viewport">
  <link rel="apple-touch-icon" sizes="180x180" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/favicon-16x16.png">
<link rel="manifest" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/site.webmanifest">
<link rel="mask-icon" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/safari-pinned-tab.svg" color="#ffffff">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

  
  
  <script>
  window.frctl = {
    env: 'static'
  };
  </script>
  
<link rel="stylesheet" href="https://dev.assets.emblstatic.net/vf/develop/css/styles.css?cachebust=0.0.1" type="text/css">


<link rel="stylesheet" href="../../themes/vf-frctl-theme/css/default.css?cachebust=0.0.1" type="text/css">


</head>
<body>


<header class="vf-header">
  <div class="vf-global-header">
    <div class="vf-global-header__inner">
      <a href="/" class="vf-logo--responsive"></a>

      <p class="vf-global-header__site-name">Visual Framework 2.0</p>
    </div>
  </div>
</header>


<section class="Frame-body" data-role="body">
<!--
embl-grid embl-grid--has-sidebar
-->
  
<div class="Error Error--render">
    <h4 class="Error-title">Error rendering component</h4>
    <div class="Error-message pattern-library-notes">
        <p>(unknown path) [Line 33, Column 14]
  unknown block tag: codeblock</p>

    </div>
    
    <code class="Error-stack vf-code-example">
        <pre class="vf-code-example__pre">Template render error: (unknown path) [Line 33, Column 14]
  unknown block tag: codeblock
    at Object._prettifyError (/home/travis/build/visual-framework/vf-core/node_modules/nunjucks/src/lib.js:36:11)
    at Template.render (/home/travis/build/visual-framework/vf-core/node_modules/nunjucks/src/environment.js:542:21)
    at Environment.renderString (/home/travis/build/visual-framework/vf-core/node_modules/nunjucks/src/environment.js:380:17)
    at Environment.tryCatcher (/home/travis/build/visual-framework/vf-core/node_modules/bluebird/js/release/util.js:16:23)
    at Environment.ret [as renderStringAsync] (eval at makeNodePromisifiedEval (/home/travis/build/visual-framework/vf-core/node_modules/bluebird/js/release/promisify.js:184:12), <anonymous>:14:23)
    at NunjucksAdapter.render (/home/travis/build/visual-framework/vf-core/node_modules/@frctl/nunjucks/src/adapter.js:101:28)
    at ComponentSource._renderVariant (/home/travis/build/visual-framework/vf-core/node_modules/@frctl/fractal/src/api/components/source.js:207:30)
    at _renderVariant.next (<anonymous>)
    at onFulfilled (/home/travis/build/visual-framework/vf-core/node_modules/co/index.js:65:19)
    at bound (domain.js:395:14)
    at runBound (domain.js:408:12)
    at tryCatcher (/home/travis/build/visual-framework/vf-core/node_modules/@frctl/fractal/node_modules/bluebird/js/release/util.js:16:23)
    at Promise._settlePromiseFromHandler (/home/travis/build/visual-framework/vf-core/node_modules/@frctl/fractal/node_modules/bluebird/js/release/promise.js:512:31)
    at Promise._settlePromise (/home/travis/build/visual-framework/vf-core/node_modules/@frctl/fractal/node_modules/bluebird/js/release/promise.js:569:18)
    at Promise._settlePromise0 (/home/travis/build/visual-framework/vf-core/node_modules/@frctl/fractal/node_modules/bluebird/js/release/promise.js:614:10)
    at Promise._settlePromises (/home/travis/build/visual-framework/vf-core/node_modules/@frctl/fractal/node_modules/bluebird/js/release/promise.js:694:18)
    at Promise._fulfill (/home/travis/build/visual-framework/vf-core/node_modules/@frctl/fractal/node_modules/bluebird/js/release/promise.js:638:18)
    at Promise._resolveCallback (/home/travis/build/visual-framework/vf-core/node_modules/@frctl/fractal/node_modules/bluebird/js/release/promise.js:432:57)
    at Promise._settlePromiseFromHandler (/home/travis/build/visual-framework/vf-core/node_modules/@frctl/fractal/node_modules/bluebird/js/release/promise.js:524:17)
    at Promise._settlePromise (/home/travis/build/visual-framework/vf-core/node_modules/@frctl/fractal/node_modules/bluebird/js/release/promise.js:569:18)
    at Promise._settlePromise0 (/home/travis/build/visual-framework/vf-core/node_modules/@frctl/fractal/node_modules/bluebird/js/release/promise.js:614:10)
    at Promise._settlePromises (/home/travis/build/visual-framework/vf-core/node_modules/@frctl/fractal/node_modules/bluebird/js/release/promise.js:694:18)</pre>
    </code>
    
</div>

</section>



<!--<script src="../../themes/vf-frctl-theme/js/vf-frctl-theme.js?cachebust=0.0.1"></script>-->


<script src="https://dev.assets.emblstatic.net/vf/develop/scripts/scripts.js?cachebust=0.0.1"></script>


<script>
  var resizeIframeChecks = 0;
  function resizeIframe(obj) {
    var obj = obj || document.getElementsByClassName("Preview-iframe")[0];
    var newHeight = obj.contentWindow.document.body.scrollHeight;
    if (newHeight < 10) {
      if (resizeIframeChecks < 2) {
        // if less than 10px high, that's weird check again. maybe some JS is at play?
        setTimeout(resizeIframe, 1000);
        resizeIframeChecks ++;
      }
    } else {
      obj.style.height = newHeight + 'px';
    }
  }
</script>

</body>
</html>
