

<!DOCTYPE html>
<html lang="en" class="vf-no-js">
<head>
<script>
// Detect if JS is on and swap vf-no-js for vf-js on the html element
(function(H){H.className=H.className.replace(/\bvf-no-js\b/,'vf-js')})(document.documentElement);
</script>
  <title>Reusable Design Tokens: Colours | Visual Framework 2.0</title>

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, minimum-scale=1" name="viewport">

<link rel="apple-touch-icon" sizes="180x180" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/favicon-16x16.png">
<link rel="manifest" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/site.webmanifest">
<link rel="mask-icon" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/safari-pinned-tab.svg" color="#ffffff">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="https://dev.assets.emblstatic.net/vf/develop/css/styles.css">
</head>
<body class="vf-body">
  <div class="vf-grid">
    <div class="vf-component__container">
      <style>
/* vf-swatches might one day be a component, but for now it's CSS we'll just use for the design token demonstration */
.vf-swatches {
  grid-row-gap: 32px;
  margin: 48px 0;
}
.vf-swatch {
  border: 1px solid #d0d0ce;
  display: grid;
  grid-template-rows: 160px 1fr;
}

.vf-swatch__details {
  padding: 16px;
  border-top: 1px solid #d0d0ce;
}
.vf-swatch:nth-of-type(6),
.vf-swatch:nth-of-type(11) {
  grid-column-start: 1;
}
.vf-swatch__colour {
  /* margin: 16px;
  height: calc(100% - 32px);
  width: calc(100% - 32px); */
  height: 100%;
  width: 100%;
}
.vf-swatch__colour-name {
  margin: 0 0 12px 0;
}

.vf-swatch__colour-hex,
.vf-swatch__sass-variable,
.vf-swatch__comment,
.vf-swatch__css-property {
  margin: 0 0 12px 0;
}

.vf-swatch__colour-hex,
.vf-swatch__sass-variable,
.vf-swatch__css-property {
  font-family: monospace;
  font-size: 1em;
  align-items: start;
}

.vf-swatch__colour-hex,
.vf-swatch__sass-variable,
.vf-swatch__css-property {
  font-family: 'IBM Plex Mono', Monaco, Consolas, 'Lucida Console', monospace;
  font-size: 14px;
}

.vf-swatch__notes {
  margin: 12px 0 0px 0;
}

.vf-swatch__notes,
.vf-swatch__colour-name,
.vf-swatch__meta {
  font-family: 'IBM Plex Sans', Helvetica, Arial, sans-serif;
}
.vf-swatch__colour-name {
  padding: 16px;
}

.vf-swatch__meta {
  font-size: 16px;
}

.vf-swatch__details p {
  margin-bottom: 16px;
}
.vf-swatch__details p:last-of-type {
  margin-bottom: 0;
}
</style>


<main class="vf-swatches | vf-grid vf-grid__col-3">


<article class="vf-swatch">
  <div class="vf-swatch__colour" style="background-color: #009f4d;">
  </div>

  <section class="vf-swatch__details">
    <h3 class="vf-swatch__colour-name">EMBL Green
    </h3>
    <p class="vf-swatch__colour-hex">
      <span class="vf-swatch__meta">Hex: </span>
      #009f4d
    </p>
    <p class="vf-swatch__colour-hex">
      <span class="vf-swatch__meta">RGB: </span>
      rgb(0, 159, 77)
    </p>
      <p class="vf-swatch__sass-variable">
        <span class="vf-swatch__meta">Sass Variable: </span>
        $`vf-color--green`
      </p>
      <p class="vf-swatch__sass-variable">
        <span class="vf-swatch__meta">Sass Map: </span>
        map-get($vf-colors-map, `vf-color--green)`
      </p>
      <p class="vf-swatch__css-property">
        <span class="vf-swatch__meta">CSS Custom Property: </span>
        `--vf-color--green`
      </p>
  </section>
</article>



<article class="vf-swatch">
  <div class="vf-swatch__colour" style="background-color: #115740;">
  </div>

  <section class="vf-swatch__details">
    <h3 class="vf-swatch__colour-name">EMBL Green, Darkest Tint
    </h3>
    <p class="vf-swatch__colour-hex">
      <span class="vf-swatch__meta">Hex: </span>
      #115740
    </p>
    <p class="vf-swatch__colour-hex">
      <span class="vf-swatch__meta">RGB: </span>
      rgb(17, 87, 64)
    </p>
      <p class="vf-swatch__sass-variable">
        <span class="vf-swatch__meta">Sass Variable: </span>
        $`vf-color--green--darkest`
      </p>
      <p class="vf-swatch__sass-variable">
        <span class="vf-swatch__meta">Sass Map: </span>
        map-get($vf-colors-map, `vf-color--green--darkest)`
      </p>
      <p class="vf-swatch__css-property">
        <span class="vf-swatch__meta">CSS Custom Property: </span>
        `--vf-color--green--darkest`
      </p>
  </section>
</article>



<article class="vf-swatch">
  <div class="vf-swatch__colour" style="background-color: #007a53;">
  </div>

  <section class="vf-swatch__details">
    <h3 class="vf-swatch__colour-name">EMBL Green, Dark Tint
    </h3>
    <p class="vf-swatch__colour-hex">
      <span class="vf-swatch__meta">Hex: </span>
      #007a53
    </p>
    <p class="vf-swatch__colour-hex">
      <span class="vf-swatch__meta">RGB: </span>
      rgb(0, 122, 83)
    </p>
      <p class="vf-swatch__sass-variable">
        <span class="vf-swatch__meta">Sass Variable: </span>
        $`vf-color--green--dark`
      </p>
      <p class="vf-swatch__sass-variable">
        <span class="vf-swatch__meta">Sass Map: </span>
        map-get($vf-colors-map, `vf-color--green--dark)`
      </p>
      <p class="vf-swatch__css-property">
        <span class="vf-swatch__meta">CSS Custom Property: </span>
        `--vf-color--green--dark`
      </p>
  </section>
</article>



<article class="vf-swatch">
  <div class="vf-swatch__colour" style="background-color: #6cc24a;">
  </div>

  <section class="vf-swatch__details">
    <h3 class="vf-swatch__colour-name">EMBL Green, Light Tint
    </h3>
    <p class="vf-swatch__colour-hex">
      <span class="vf-swatch__meta">Hex: </span>
      #6cc24a
    </p>
    <p class="vf-swatch__colour-hex">
      <span class="vf-swatch__meta">RGB: </span>
      rgb(108, 194, 74)
    </p>
      <p class="vf-swatch__sass-variable">
        <span class="vf-swatch__meta">Sass Variable: </span>
        $`vf-color--green--light`
      </p>
      <p class="vf-swatch__sass-variable">
        <span class="vf-swatch__meta">Sass Map: </span>
        map-get($vf-colors-map, `vf-color--green--light)`
      </p>
      <p class="vf-swatch__css-property">
        <span class="vf-swatch__meta">CSS Custom Property: </span>
        `--vf-color--green--light`
      </p>
  </section>
</article>



<article class="vf-swatch">
  <div class="vf-swatch__colour" style="background-color: #d0debb;">
  </div>

  <section class="vf-swatch__details">
    <h3 class="vf-swatch__colour-name">EMBL Green, Lightest Tine
    </h3>
    <p class="vf-swatch__colour-hex">
      <span class="vf-swatch__meta">Hex: </span>
      #d0debb
    </p>
    <p class="vf-swatch__colour-hex">
      <span class="vf-swatch__meta">RGB: </span>
      rgb(208, 222, 187)
    </p>
      <p class="vf-swatch__sass-variable">
        <span class="vf-swatch__meta">Sass Variable: </span>
        $`vf-color--green--lightest`
      </p>
      <p class="vf-swatch__sass-variable">
        <span class="vf-swatch__meta">Sass Map: </span>
        map-get($vf-colors-map, `vf-color--green--lightest)`
      </p>
      <p class="vf-swatch__css-property">
        <span class="vf-swatch__meta">CSS Custom Property: </span>
        `--vf-color--green--lightest`
      </p>
  </section>
</article>



<article class="vf-swatch">
  <div class="vf-swatch__colour" style="background-color: #707372;">
  </div>

  <section class="vf-swatch__details">
    <h3 class="vf-swatch__colour-name">EMBL Grey
    </h3>
    <p class="vf-swatch__colour-hex">
      <span class="vf-swatch__meta">Hex: </span>
      #707372
    </p>
    <p class="vf-swatch__colour-hex">
      <span class="vf-swatch__meta">RGB: </span>
      rgb(112, 115, 114)
    </p>
      <p class="vf-swatch__sass-variable">
        <span class="vf-swatch__meta">Sass Variable: </span>
        $`vf-color--grey`
      </p>
      <p class="vf-swatch__sass-variable">
        <span class="vf-swatch__meta">Sass Map: </span>
        map-get($vf-colors-map, `vf-color--grey)`
      </p>
      <p class="vf-swatch__css-property">
        <span class="vf-swatch__meta">CSS Custom Property: </span>
        `--vf-color--grey`
      </p>
  </section>
</article>



<article class="vf-swatch">
  <div class="vf-swatch__colour" style="background-color: #373a36;">
  </div>

  <section class="vf-swatch__details">
    <h3 class="vf-swatch__colour-name">EMBL Grey, Darkest Tint
    </h3>
    <p class="vf-swatch__colour-hex">
      <span class="vf-swatch__meta">Hex: </span>
      #373a36
    </p>
    <p class="vf-swatch__colour-hex">
      <span class="vf-swatch__meta">RGB: </span>
      rgb(55, 58, 54)
    </p>
      <p class="vf-swatch__sass-variable">
        <span class="vf-swatch__meta">Sass Variable: </span>
        $`vf-color--grey--darkest`
      </p>
      <p class="vf-swatch__sass-variable">
        <span class="vf-swatch__meta">Sass Map: </span>
        map-get($vf-colors-map, `vf-color--grey--darkest)`
      </p>
      <p class="vf-swatch__css-property">
        <span class="vf-swatch__meta">CSS Custom Property: </span>
        `--vf-color--grey--darkest`
      </p>
  </section>
</article>



<article class="vf-swatch">
  <div class="vf-swatch__colour" style="background-color: #54585a;">
  </div>

  <section class="vf-swatch__details">
    <h3 class="vf-swatch__colour-name">EMBL Grey, Dark Tint
    </h3>
    <p class="vf-swatch__colour-hex">
      <span class="vf-swatch__meta">Hex: </span>
      #54585a
    </p>
    <p class="vf-swatch__colour-hex">
      <span class="vf-swatch__meta">RGB: </span>
      rgb(84, 88, 90)
    </p>
      <p class="vf-swatch__sass-variable">
        <span class="vf-swatch__meta">Sass Variable: </span>
        $`vf-color--grey--dark`
      </p>
      <p class="vf-swatch__sass-variable">
        <span class="vf-swatch__meta">Sass Map: </span>
        map-get($vf-colors-map, `vf-color--grey--dark)`
      </p>
      <p class="vf-swatch__css-property">
        <span class="vf-swatch__meta">CSS Custom Property: </span>
        `--vf-color--grey--dark`
      </p>
  </section>
</article>



<article class="vf-swatch">
  <div class="vf-swatch__colour" style="background-color: #a8a99e;">
  </div>

  <section class="vf-swatch__details">
    <h3 class="vf-swatch__colour-name">EMBL Grey, Light Tint
    </h3>
    <p class="vf-swatch__colour-hex">
      <span class="vf-swatch__meta">Hex: </span>
      #a8a99e
    </p>
    <p class="vf-swatch__colour-hex">
      <span class="vf-swatch__meta">RGB: </span>
      rgb(168, 169, 158)
    </p>
      <p class="vf-swatch__sass-variable">
        <span class="vf-swatch__meta">Sass Variable: </span>
        $`vf-color--grey--light`
      </p>
      <p class="vf-swatch__sass-variable">
        <span class="vf-swatch__meta">Sass Map: </span>
        map-get($vf-colors-map, `vf-color--grey--light)`
      </p>
      <p class="vf-swatch__css-property">
        <span class="vf-swatch__meta">CSS Custom Property: </span>
        `--vf-color--grey--light`
      </p>
  </section>
</article>



<article class="vf-swatch">
  <div class="vf-swatch__colour" style="background-color: #d0d0ce;">
  </div>

  <section class="vf-swatch__details">
    <h3 class="vf-swatch__colour-name">EMBL Grey, Lightest Tint
    </h3>
    <p class="vf-swatch__colour-hex">
      <span class="vf-swatch__meta">Hex: </span>
      #d0d0ce
    </p>
    <p class="vf-swatch__colour-hex">
      <span class="vf-swatch__meta">RGB: </span>
      rgb(208, 208, 206)
    </p>
      <p class="vf-swatch__sass-variable">
        <span class="vf-swatch__meta">Sass Variable: </span>
        $`vf-color--grey--lightest`
      </p>
      <p class="vf-swatch__sass-variable">
        <span class="vf-swatch__meta">Sass Map: </span>
        map-get($vf-colors-map, `vf-color--grey--lightest)`
      </p>
      <p class="vf-swatch__css-property">
        <span class="vf-swatch__meta">CSS Custom Property: </span>
        `--vf-color--grey--lightest`
      </p>
  </section>
</article>



<article class="vf-swatch">
  <div class="vf-swatch__colour" style="background-color: #e40046;">
  </div>

  <section class="vf-swatch__details">
    <h3 class="vf-swatch__colour-name">EMBL Red
    </h3>
    <p class="vf-swatch__colour-hex">
      <span class="vf-swatch__meta">Hex: </span>
      #e40046
    </p>
    <p class="vf-swatch__colour-hex">
      <span class="vf-swatch__meta">RGB: </span>
      rgb(228, 0, 70)
    </p>
      <p class="vf-swatch__sass-variable">
        <span class="vf-swatch__meta">Sass Variable: </span>
        $`vf-color--red`
      </p>
      <p class="vf-swatch__sass-variable">
        <span class="vf-swatch__meta">Sass Map: </span>
        map-get($vf-colors-map, `vf-color--red)`
      </p>
      <p class="vf-swatch__css-property">
        <span class="vf-swatch__meta">CSS Custom Property: </span>
        `--vf-color--red`
      </p>
  </section>
</article>



<article class="vf-swatch">
  <div class="vf-swatch__colour" style="background-color: #a6093d;">
  </div>

  <section class="vf-swatch__details">
    <h3 class="vf-swatch__colour-name">EMBL Red, Dark Tint
    </h3>
    <p class="vf-swatch__colour-hex">
      <span class="vf-swatch__meta">Hex: </span>
      #a6093d
    </p>
    <p class="vf-swatch__colour-hex">
      <span class="vf-swatch__meta">RGB: </span>
      rgb(166, 9, 61)
    </p>
      <p class="vf-swatch__sass-variable">
        <span class="vf-swatch__meta">Sass Variable: </span>
        $`vf-color--red--dark`
      </p>
      <p class="vf-swatch__sass-variable">
        <span class="vf-swatch__meta">Sass Map: </span>
        map-get($vf-colors-map, `vf-color--red--dark)`
      </p>
      <p class="vf-swatch__css-property">
        <span class="vf-swatch__meta">CSS Custom Property: </span>
        `--vf-color--red--dark`
      </p>
  </section>
</article>



<article class="vf-swatch">
  <div class="vf-swatch__colour" style="background-color: #e58f9e;">
  </div>

  <section class="vf-swatch__details">
    <h3 class="vf-swatch__colour-name">EMBL Red, Light Tint
    </h3>
    <p class="vf-swatch__colour-hex">
      <span class="vf-swatch__meta">Hex: </span>
      #e58f9e
    </p>
    <p class="vf-swatch__colour-hex">
      <span class="vf-swatch__meta">RGB: </span>
      rgb(229, 143, 158)
    </p>
      <p class="vf-swatch__sass-variable">
        <span class="vf-swatch__meta">Sass Variable: </span>
        $`vf-color--red--light`
      </p>
      <p class="vf-swatch__sass-variable">
        <span class="vf-swatch__meta">Sass Map: </span>
        map-get($vf-colors-map, `vf-color--red--light)`
      </p>
      <p class="vf-swatch__css-property">
        <span class="vf-swatch__meta">CSS Custom Property: </span>
        `--vf-color--red--light`
      </p>
  </section>
</article>



<article class="vf-swatch">
  <div class="vf-swatch__colour" style="background-color: #307fe2;">
  </div>

  <section class="vf-swatch__details">
    <h3 class="vf-swatch__colour-name">EMBL Blue
    </h3>
    <p class="vf-swatch__colour-hex">
      <span class="vf-swatch__meta">Hex: </span>
      #307fe2
    </p>
    <p class="vf-swatch__colour-hex">
      <span class="vf-swatch__meta">RGB: </span>
      rgb(48, 127, 226)
    </p>
      <p class="vf-swatch__sass-variable">
        <span class="vf-swatch__meta">Sass Variable: </span>
        $`vf-color--blue`
      </p>
      <p class="vf-swatch__sass-variable">
        <span class="vf-swatch__meta">Sass Map: </span>
        map-get($vf-colors-map, `vf-color--blue)`
      </p>
      <p class="vf-swatch__css-property">
        <span class="vf-swatch__meta">CSS Custom Property: </span>
        `--vf-color--blue`
      </p>
  </section>
</article>



<article class="vf-swatch">
  <div class="vf-swatch__colour" style="background-color: #003da5;">
  </div>

  <section class="vf-swatch__details">
    <h3 class="vf-swatch__colour-name">EMBL Blue, Dark Tint
    </h3>
    <p class="vf-swatch__colour-hex">
      <span class="vf-swatch__meta">Hex: </span>
      #003da5
    </p>
    <p class="vf-swatch__colour-hex">
      <span class="vf-swatch__meta">RGB: </span>
      rgb(0, 61, 165)
    </p>
      <p class="vf-swatch__sass-variable">
        <span class="vf-swatch__meta">Sass Variable: </span>
        $`vf-color--blue--dark`
      </p>
      <p class="vf-swatch__sass-variable">
        <span class="vf-swatch__meta">Sass Map: </span>
        map-get($vf-colors-map, `vf-color--blue--dark)`
      </p>
      <p class="vf-swatch__css-property">
        <span class="vf-swatch__meta">CSS Custom Property: </span>
        `--vf-color--blue--dark`
      </p>
  </section>
</article>



<article class="vf-swatch">
  <div class="vf-swatch__colour" style="background-color: #8bb8e8;">
  </div>

  <section class="vf-swatch__details">
    <h3 class="vf-swatch__colour-name">EMBL Blue, Light Tint
    </h3>
    <p class="vf-swatch__colour-hex">
      <span class="vf-swatch__meta">Hex: </span>
      #8bb8e8
    </p>
    <p class="vf-swatch__colour-hex">
      <span class="vf-swatch__meta">RGB: </span>
      rgb(139, 184, 232)
    </p>
      <p class="vf-swatch__sass-variable">
        <span class="vf-swatch__meta">Sass Variable: </span>
        $`vf-color--blue--light`
      </p>
      <p class="vf-swatch__sass-variable">
        <span class="vf-swatch__meta">Sass Map: </span>
        map-get($vf-colors-map, `vf-color--blue--light)`
      </p>
      <p class="vf-swatch__css-property">
        <span class="vf-swatch__meta">CSS Custom Property: </span>
        `--vf-color--blue--light`
      </p>
  </section>
</article>



<article class="vf-swatch">
  <div class="vf-swatch__colour" style="background-color: #8246af;">
  </div>

  <section class="vf-swatch__details">
    <h3 class="vf-swatch__colour-name">EMBL Purple
    </h3>
    <p class="vf-swatch__colour-hex">
      <span class="vf-swatch__meta">Hex: </span>
      #8246af
    </p>
    <p class="vf-swatch__colour-hex">
      <span class="vf-swatch__meta">RGB: </span>
      rgb(130, 70, 175)
    </p>
      <p class="vf-swatch__sass-variable">
        <span class="vf-swatch__meta">Sass Variable: </span>
        $`vf-color--purple`
      </p>
      <p class="vf-swatch__sass-variable">
        <span class="vf-swatch__meta">Sass Map: </span>
        map-get($vf-colors-map, `vf-color--purple)`
      </p>
      <p class="vf-swatch__css-property">
        <span class="vf-swatch__meta">CSS Custom Property: </span>
        `--vf-color--purple`
      </p>
  </section>
</article>



<article class="vf-swatch">
  <div class="vf-swatch__colour" style="background-color: #563d82;">
  </div>

  <section class="vf-swatch__details">
    <h3 class="vf-swatch__colour-name">EMBL Purple, Dark Tint
    </h3>
    <p class="vf-swatch__colour-hex">
      <span class="vf-swatch__meta">Hex: </span>
      #563d82
    </p>
    <p class="vf-swatch__colour-hex">
      <span class="vf-swatch__meta">RGB: </span>
      rgb(86, 61, 130)
    </p>
      <p class="vf-swatch__sass-variable">
        <span class="vf-swatch__meta">Sass Variable: </span>
        $`vf-color--purple--dark`
      </p>
      <p class="vf-swatch__sass-variable">
        <span class="vf-swatch__meta">Sass Map: </span>
        map-get($vf-colors-map, `vf-color--purple--dark)`
      </p>
      <p class="vf-swatch__css-property">
        <span class="vf-swatch__meta">CSS Custom Property: </span>
        `--vf-color--purple--dark`
      </p>
  </section>
</article>



<article class="vf-swatch">
  <div class="vf-swatch__colour" style="background-color: #cba3d8;">
  </div>

  <section class="vf-swatch__details">
    <h3 class="vf-swatch__colour-name">EMBL Purple, Light Tint
    </h3>
    <p class="vf-swatch__colour-hex">
      <span class="vf-swatch__meta">Hex: </span>
      #cba3d8
    </p>
    <p class="vf-swatch__colour-hex">
      <span class="vf-swatch__meta">RGB: </span>
      rgb(203, 163, 216)
    </p>
      <p class="vf-swatch__sass-variable">
        <span class="vf-swatch__meta">Sass Variable: </span>
        $`vf-color--purple--light`
      </p>
      <p class="vf-swatch__sass-variable">
        <span class="vf-swatch__meta">Sass Map: </span>
        map-get($vf-colors-map, `vf-color--purple--light)`
      </p>
      <p class="vf-swatch__css-property">
        <span class="vf-swatch__meta">CSS Custom Property: </span>
        `--vf-color--purple--light`
      </p>
  </section>
</article>



<article class="vf-swatch">
  <div class="vf-swatch__colour" style="background-color: #ffa300;">
  </div>

  <section class="vf-swatch__details">
    <h3 class="vf-swatch__colour-name">EMBL Orange
    </h3>
    <p class="vf-swatch__colour-hex">
      <span class="vf-swatch__meta">Hex: </span>
      #ffa300
    </p>
    <p class="vf-swatch__colour-hex">
      <span class="vf-swatch__meta">RGB: </span>
      rgb(255, 163, 0)
    </p>
      <p class="vf-swatch__sass-variable">
        <span class="vf-swatch__meta">Sass Variable: </span>
        $`vf-color--orange`
      </p>
      <p class="vf-swatch__sass-variable">
        <span class="vf-swatch__meta">Sass Map: </span>
        map-get($vf-colors-map, `vf-color--orange)`
      </p>
      <p class="vf-swatch__css-property">
        <span class="vf-swatch__meta">CSS Custom Property: </span>
        `--vf-color--orange`
      </p>
  </section>
</article>



<article class="vf-swatch">
  <div class="vf-swatch__colour" style="background-color: #be5400;">
  </div>

  <section class="vf-swatch__details">
    <h3 class="vf-swatch__colour-name">EMBL Orange, Dark Tint
    </h3>
    <p class="vf-swatch__colour-hex">
      <span class="vf-swatch__meta">Hex: </span>
      #be5400
    </p>
    <p class="vf-swatch__colour-hex">
      <span class="vf-swatch__meta">RGB: </span>
      rgb(190, 84, 0)
    </p>
      <p class="vf-swatch__sass-variable">
        <span class="vf-swatch__meta">Sass Variable: </span>
        $`vf-color--orange--dark`
      </p>
      <p class="vf-swatch__sass-variable">
        <span class="vf-swatch__meta">Sass Map: </span>
        map-get($vf-colors-map, `vf-color--orange--dark)`
      </p>
      <p class="vf-swatch__css-property">
        <span class="vf-swatch__meta">CSS Custom Property: </span>
        `--vf-color--orange--dark`
      </p>
  </section>
</article>



<article class="vf-swatch">
  <div class="vf-swatch__colour" style="background-color: #efc06e;">
  </div>

  <section class="vf-swatch__details">
    <h3 class="vf-swatch__colour-name">EMBL Orange, Light Tint
    </h3>
    <p class="vf-swatch__colour-hex">
      <span class="vf-swatch__meta">Hex: </span>
      #efc06e
    </p>
    <p class="vf-swatch__colour-hex">
      <span class="vf-swatch__meta">RGB: </span>
      rgb(239, 192, 110)
    </p>
      <p class="vf-swatch__sass-variable">
        <span class="vf-swatch__meta">Sass Variable: </span>
        $`vf-color--orange--light`
      </p>
      <p class="vf-swatch__sass-variable">
        <span class="vf-swatch__meta">Sass Map: </span>
        map-get($vf-colors-map, `vf-color--orange--light)`
      </p>
      <p class="vf-swatch__css-property">
        <span class="vf-swatch__meta">CSS Custom Property: </span>
        `--vf-color--orange--light`
      </p>
  </section>
</article>



<article class="vf-swatch">
  <div class="vf-swatch__colour" style="background-color: #ffcd00;">
  </div>

  <section class="vf-swatch__details">
    <h3 class="vf-swatch__colour-name">EMBL Yellow
    </h3>
    <p class="vf-swatch__colour-hex">
      <span class="vf-swatch__meta">Hex: </span>
      #ffcd00
    </p>
    <p class="vf-swatch__colour-hex">
      <span class="vf-swatch__meta">RGB: </span>
      rgb(255, 205, 0)
    </p>
      <p class="vf-swatch__sass-variable">
        <span class="vf-swatch__meta">Sass Variable: </span>
        $`vf-color--yellow`
      </p>
      <p class="vf-swatch__sass-variable">
        <span class="vf-swatch__meta">Sass Map: </span>
        map-get($vf-colors-map, `vf-color--yellow)`
      </p>
      <p class="vf-swatch__css-property">
        <span class="vf-swatch__meta">CSS Custom Property: </span>
        `--vf-color--yellow`
      </p>
  </section>
</article>



<article class="vf-swatch">
  <div class="vf-swatch__colour" style="background-color: #ffb81c;">
  </div>

  <section class="vf-swatch__details">
    <h3 class="vf-swatch__colour-name">EMBL Yellow, Dark Tint
    </h3>
    <p class="vf-swatch__colour-hex">
      <span class="vf-swatch__meta">Hex: </span>
      #ffb81c
    </p>
    <p class="vf-swatch__colour-hex">
      <span class="vf-swatch__meta">RGB: </span>
      rgb(255, 184, 28)
    </p>
      <p class="vf-swatch__sass-variable">
        <span class="vf-swatch__meta">Sass Variable: </span>
        $`vf-color--yellow--dark`
      </p>
      <p class="vf-swatch__sass-variable">
        <span class="vf-swatch__meta">Sass Map: </span>
        map-get($vf-colors-map, `vf-color--yellow--dark)`
      </p>
      <p class="vf-swatch__css-property">
        <span class="vf-swatch__meta">CSS Custom Property: </span>
        `--vf-color--yellow--dark`
      </p>
  </section>
</article>



<article class="vf-swatch">
  <div class="vf-swatch__colour" style="background-color: #fdd757;">
  </div>

  <section class="vf-swatch__details">
    <h3 class="vf-swatch__colour-name">EMBL Yellow, Light Tint
    </h3>
    <p class="vf-swatch__colour-hex">
      <span class="vf-swatch__meta">Hex: </span>
      #fdd757
    </p>
    <p class="vf-swatch__colour-hex">
      <span class="vf-swatch__meta">RGB: </span>
      rgb(253, 215, 87)
    </p>
      <p class="vf-swatch__sass-variable">
        <span class="vf-swatch__meta">Sass Variable: </span>
        $`vf-color--yellow--light`
      </p>
      <p class="vf-swatch__sass-variable">
        <span class="vf-swatch__meta">Sass Map: </span>
        map-get($vf-colors-map, `vf-color--yellow--light)`
      </p>
      <p class="vf-swatch__css-property">
        <span class="vf-swatch__meta">CSS Custom Property: </span>
        `--vf-color--yellow--light`
      </p>
  </section>
</article>



<article class="vf-swatch">
  <div class="vf-swatch__colour" style="background-color: #a8c700;">
  </div>

  <section class="vf-swatch__details">
    <h3 class="vf-swatch__colour-name">EMBL Bright Green
    </h3>
    <p class="vf-swatch__colour-hex">
      <span class="vf-swatch__meta">Hex: </span>
      #a8c700
    </p>
    <p class="vf-swatch__colour-hex">
      <span class="vf-swatch__meta">RGB: </span>
      rgb(168, 199, 0)
    </p>
      <p class="vf-swatch__sass-variable">
        <span class="vf-swatch__meta">Sass Variable: </span>
        $`vf-color--bright-green`
      </p>
      <p class="vf-swatch__sass-variable">
        <span class="vf-swatch__meta">Sass Map: </span>
        map-get($vf-colors-map, `vf-color--bright-green)`
      </p>
      <p class="vf-swatch__css-property">
        <span class="vf-swatch__meta">CSS Custom Property: </span>
        `--vf-color--bright-green`
      </p>
  </section>
</article>



<article class="vf-swatch">
  <div class="vf-swatch__colour" style="background-color: #84bd00;">
  </div>

  <section class="vf-swatch__details">
    <h3 class="vf-swatch__colour-name">EMBL Bright Green, Dark Tint
    </h3>
    <p class="vf-swatch__colour-hex">
      <span class="vf-swatch__meta">Hex: </span>
      #84bd00
    </p>
    <p class="vf-swatch__colour-hex">
      <span class="vf-swatch__meta">RGB: </span>
      rgb(132, 189, 0)
    </p>
      <p class="vf-swatch__sass-variable">
        <span class="vf-swatch__meta">Sass Variable: </span>
        $`vf-color--bright-green--dark`
      </p>
      <p class="vf-swatch__sass-variable">
        <span class="vf-swatch__meta">Sass Map: </span>
        map-get($vf-colors-map, `vf-color--bright-green--dark)`
      </p>
      <p class="vf-swatch__css-property">
        <span class="vf-swatch__meta">CSS Custom Property: </span>
        `--vf-color--bright-green--dark`
      </p>
  </section>
</article>



<article class="vf-swatch">
  <div class="vf-swatch__colour" style="background-color: #e2e868;">
  </div>

  <section class="vf-swatch__details">
    <h3 class="vf-swatch__colour-name">EMBL Bright Green, Light Tint
    </h3>
    <p class="vf-swatch__colour-hex">
      <span class="vf-swatch__meta">Hex: </span>
      #e2e868
    </p>
    <p class="vf-swatch__colour-hex">
      <span class="vf-swatch__meta">RGB: </span>
      rgb(226, 232, 104)
    </p>
      <p class="vf-swatch__sass-variable">
        <span class="vf-swatch__meta">Sass Variable: </span>
        $`vf-color--bright-green--light`
      </p>
      <p class="vf-swatch__sass-variable">
        <span class="vf-swatch__meta">Sass Map: </span>
        map-get($vf-colors-map, `vf-color--bright-green--light)`
      </p>
      <p class="vf-swatch__css-property">
        <span class="vf-swatch__meta">CSS Custom Property: </span>
        `--vf-color--bright-green--light`
      </p>
  </section>
</article>

</main>

    </div>
  </div>

  <script src="../../scripts/scripts.js"></script>
</body>
</html>

