

<!DOCTYPE html>
<html lang="en" class="vf-no-js">
<head>
<script>
// Detect if JS is on and swap vf-no-js for vf-js on the html element
(function(H){H.className=H.className.replace(/\bvf-no-js\b/,'vf-js')})(document.documentElement);
</script>
  <title>Discussion: Default | Visual Framework 2.0</title>

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, minimum-scale=1" name="viewport">

<link rel="apple-touch-icon" sizes="180x180" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/favicon-16x16.png">
<link rel="manifest" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/site.webmanifest">
<link rel="mask-icon" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/safari-pinned-tab.svg" color="#ffffff">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="https://dev.assets.emblstatic.net/vf/develop/css/styles.css">
</head>
<body class="vf-body">
  <div class="vf-grid">
    <div class="vf-component__container">
      <section class="vf-discussion">
  <h3 class="vf-discussion__title"><span>3</span> comments on 'EMBL's graphic design history'</h3>

  <ol class="vf-discussion__list | vf-list">
    <li class="vf-discussion__item">
      <div class="vf-discussion__meta">
        <img class="vf-discussion__author-avatar" src="../../assets/vf-summary/assets/vf-summary--profile-img.png" alt="">
        <cite class="vf-discussion__author">Title If Relevant</cite><span> says:</span>
        <p class="vf-discussion__date">15th February 2018</p>
      </div>
      <div class="vf-discussion__comment | vf-content">
        <p>Really enjoyed reading this post, thank you.</p> <p>For me, any communications strategy should be deeply rooted in the organisational strategy. And yet, your closing question reminded me how the discussions we lead about communications can often result in much broader discussions on organisational goals, ambitions and approaches.</p>
      </div>
      <button class="vf-button vf-button--outline vf-button--primary | vf-discussion__reply">Reply</button>

      
    </li>
    <li class="vf-discussion__item">
      <div class="vf-discussion__meta">
        <img class="vf-discussion__author-avatar" src="../../assets/vf-summary/assets/vf-summary--profile-img.png" alt="">
        <cite class="vf-discussion__author">Title If Relevant</cite><span> says:</span>
        <p class="vf-discussion__date">15th February 2018</p>
      </div>
      <div class="vf-discussion__comment | vf-content">
        <p>Really enjoyed reading this post, thank you.</p>
      </div>
      <button class="vf-button vf-button--outline vf-button--primary | vf-discussion__reply">Reply</button>
      <a href="#" class="vf-button vf-button--outline vf-button--tertiary | vf-discussion__action">Optional action</a>

        <ol class="vf-discussion__list | vf-list">
          <li class="vf-discussion__item">
            <div class="vf-discussion__meta">
              <img class="vf-discussion__author-avatar" src="../../assets/vf-summary/assets/vf-summary--profile-img.png" alt="">
              <cite class="vf-discussion__author">Mr. Nested</cite><span> says:</span>
              <p class="vf-discussion__date">16th Febraury 2018</p>
            </div>
            <div class="vf-discussion__comment | vf-content">
              <p>Really enjoyed reading this post, thank you.</p>
            </div>
            <button class="vf-button vf-button--outline vf-button--primary | vf-discussion__reply">Reply</button>
          </li>
        </ol>
      
    </li>

  </ol>
</section>

    </div>
  </div>

  <script src="../../scripts/scripts.js"></script>
</body>
</html>

