

<!DOCTYPE html>
<html lang="en" class="vf-no-js">
<head>
<script>
// Detect if JS is on and swap vf-no-js for vf-js on the html element
(function(H){H.className=H.className.replace(/\bvf-no-js\b/,'vf-js')})(document.documentElement);
</script>
  <title>Design Tokens: Spacing | Visual Framework 2.0</title>

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, minimum-scale=1" name="viewport">

<link rel="shortcut icon" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/favicon.ico">
<link rel="apple-touch-icon" sizes="180x180" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/favicon-16x16.png">
<link rel="manifest" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/site.webmanifest">
<link rel="mask-icon" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/safari-pinned-tab.svg" color="#ffffff">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="https://dev.assets.emblstatic.net/vf/develop/css/styles.css">
  <style>
    .vf-component__container {
      margin: 2em 0;
    }
  </style>
</head>
<body class="vf-body">
  <div class="vf-grid">
    <div class="vf-component__container">
      
<style>
.swatches {
    grid-row-gap: 32px;
}
.swatch {
  border: 2px solid #333;
}
.swatch__details {
  padding: 16px;
}
.spacing__example {
  border-bottom: 2px solid #333;
  background-color: #f3f3f3;
  display: flex;
  width: 100%;
  height: 200px;
  justify-content: center;
  align-items: center;
}
</style>
<main class="swatches | vf-grid vf-grid__col-4">

<article class="swatch">
  <div class="spacing__example">
    <item class="spacing" style="height: 0; width: 0; background: #009f4d;"></item>
  </div>
  <section class="swatch__details">
  <h3 class="swatch__colour-name">Spacing 0</h3>
  <p class="swatch__colour-hex"><span class="swatch__meta">Value: </span>0</p>
  <p class="swatch__sass-variable"><span class="swatch__meta">Sass Variable: </span>`$vf-spacing--0`</p>
  <p class="swatch__css-property"><span class="swatch__meta">CSS: </span>`--vf-spacing--0`</p>
  </section>
</article>


<article class="swatch">
  <div class="spacing__example">
    <item class="spacing" style="height: 4px; width: 4px; background: #009f4d;"></item>
  </div>
  <section class="swatch__details">
  <h3 class="swatch__colour-name">Spacing Extra Small</h3>
  <p class="swatch__colour-hex"><span class="swatch__meta">Value: </span>4px</p>
  <p class="swatch__sass-variable"><span class="swatch__meta">Sass Variable: </span>`$vf-spacing--xs`</p>
  <p class="swatch__css-property"><span class="swatch__meta">CSS: </span>`--vf-spacing--xs`</p>
  </section>
</article>


<article class="swatch">
  <div class="spacing__example">
    <item class="spacing" style="height: 8px; width: 8px; background: #009f4d;"></item>
  </div>
  <section class="swatch__details">
  <h3 class="swatch__colour-name">Spacing Small</h3>
  <p class="swatch__colour-hex"><span class="swatch__meta">Value: </span>8px</p>
  <p class="swatch__sass-variable"><span class="swatch__meta">Sass Variable: </span>`$vf-spacing--sm`</p>
  <p class="swatch__css-property"><span class="swatch__meta">CSS: </span>`--vf-spacing--sm`</p>
  </section>
</article>


<article class="swatch">
  <div class="spacing__example">
    <item class="spacing" style="height: 16px; width: 16px; background: #009f4d;"></item>
  </div>
  <section class="swatch__details">
  <h3 class="swatch__colour-name">Spacing Medium</h3>
  <p class="swatch__colour-hex"><span class="swatch__meta">Value: </span>16px</p>
  <p class="swatch__sass-variable"><span class="swatch__meta">Sass Variable: </span>`$vf-spacing--md`</p>
  <p class="swatch__css-property"><span class="swatch__meta">CSS: </span>`--vf-spacing--md`</p>
  </section>
</article>


<article class="swatch">
  <div class="spacing__example">
    <item class="spacing" style="height: 20px; width: 20px; background: #009f4d;"></item>
  </div>
  <section class="swatch__details">
  <h3 class="swatch__colour-name">Spacing Large</h3>
  <p class="swatch__colour-hex"><span class="swatch__meta">Value: </span>20px</p>
  <p class="swatch__sass-variable"><span class="swatch__meta">Sass Variable: </span>`$vf-spacing--lg`</p>
  <p class="swatch__css-property"><span class="swatch__meta">CSS: </span>`--vf-spacing--lg`</p>
  </section>
</article>


<article class="swatch">
  <div class="spacing__example">
    <item class="spacing" style="height: 24px; width: 24px; background: #009f4d;"></item>
  </div>
  <section class="swatch__details">
  <h3 class="swatch__colour-name">Spacing Extra Large</h3>
  <p class="swatch__colour-hex"><span class="swatch__meta">Value: </span>24px</p>
  <p class="swatch__sass-variable"><span class="swatch__meta">Sass Variable: </span>`$vf-spacing--xl`</p>
  <p class="swatch__css-property"><span class="swatch__meta">CSS: </span>`--vf-spacing--xl`</p>
  </section>
</article>


<article class="swatch">
  <div class="spacing__example">
    <item class="spacing" style="height: 32px; width: 32px; background: #009f4d;"></item>
  </div>
  <section class="swatch__details">
  <h3 class="swatch__colour-name">Spacing Extra Extra Large</h3>
  <p class="swatch__colour-hex"><span class="swatch__meta">Value: </span>32px</p>
  <p class="swatch__sass-variable"><span class="swatch__meta">Sass Variable: </span>`$vf-spacing--xxl`</p>
  <p class="swatch__css-property"><span class="swatch__meta">CSS: </span>`--vf-spacing--xxl`</p>
  </section>
</article>

</main>

    </div>
  </div>

  <script src="../../scripts/scripts.js"></script>
</body>
</html>

