

<!DOCTYPE html>
<html lang="en" class="vf-no-js">
<head>
<script>
// Detect if JS is on and swap vf-no-js for vf-js on the html element
(function(H){H.className=H.className.replace(/\bvf-no-js\b/,'vf-js')})(document.documentElement);
</script>
  <title>Reusable Design Tokens: Typography | Visual Framework 2.0</title>

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, minimum-scale=1" name="viewport">

<link rel="apple-touch-icon" sizes="180x180" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/favicon-16x16.png">
<link rel="manifest" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/site.webmanifest">
<link rel="mask-icon" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/safari-pinned-tab.svg" color="#ffffff">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="https://dev.assets.emblstatic.net/vf/develop/css/styles.css">
</head>
<body class="vf-body">
  <div class="vf-grid">
    <div class="vf-component__container">
      <main class="vf-swatches | vf-grid vf-grid__col-2">


<article class="vf-swatch">
  <div class="vf-swatch__colour">
    <h3 class="vf-swatch__colour-name">
      Button, regular
    </h3>
  </div>

  <section class="vf-swatch__details">
    <p style="font-size: 24px; font-weight: 700; line-height: 1">The five boxing wizards jump quickly.</p>
  </section>
  <ul class="">
    <li><span>Font Size: </span>24px</li>
    <li><span>Font Weight: </span>700</li>
    <li><span>Ling Height: </span>1</li>
  </ul>
  <ul>
    <li><span>Sass: </span><code>@mixin set-type(`text-button--1`)</code></li>
  </ul>
</article>

<article class="vf-swatch">
  <div class="vf-swatch__colour">
    <h3 class="vf-swatch__colour-name">
      Button, small
    </h3>
  </div>

  <section class="vf-swatch__details">
    <p style="font-size: 16px; font-weight: 700; line-height: 1">The five boxing wizards jump quickly.</p>
  </section>
  <ul class="">
    <li><span>Font Size: </span>16px</li>
    <li><span>Font Weight: </span>700</li>
    <li><span>Ling Height: </span>1</li>
  </ul>
  <ul>
    <li><span>Sass: </span><code>@mixin set-type(`text-button--2`)</code></li>
  </ul>
</article>

<article class="vf-swatch">
  <div class="vf-swatch__colour">
    <h3 class="vf-swatch__colour-name">
      Body, extra large
    </h3>
  </div>

  <section class="vf-swatch__details">
    <p style="font-size: 32px; font-weight: 500; line-height: 1.3125">The five boxing wizards jump quickly.</p>
  </section>
  <ul class="">
    <li><span>Font Size: </span>32px</li>
    <li><span>Font Weight: </span>500</li>
    <li><span>Ling Height: </span>1.3125</li>
  </ul>
  <ul>
    <li><span>Sass: </span><code>@mixin set-type(`text-body--1`)</code></li>
  </ul>
</article>

<article class="vf-swatch">
  <div class="vf-swatch__colour">
    <h3 class="vf-swatch__colour-name">
      Body, large
    </h3>
  </div>

  <section class="vf-swatch__details">
    <p style="font-size: 19px; font-weight: 400; line-height: 1.421">The five boxing wizards jump quickly.</p>
  </section>
  <ul class="">
    <li><span>Font Size: </span>19px</li>
    <li><span>Font Weight: </span>400</li>
    <li><span>Ling Height: </span>1.421</li>
  </ul>
  <ul>
    <li><span>Sass: </span><code>@mixin set-type(`text-body--2`)</code></li>
  </ul>
</article>

<article class="vf-swatch">
  <div class="vf-swatch__colour">
    <h3 class="vf-swatch__colour-name">
      Body, regular
    </h3>
  </div>

  <section class="vf-swatch__details">
    <p style="font-size: 16px; font-weight: 400; line-height: 1.71">The five boxing wizards jump quickly.</p>
  </section>
  <ul class="">
    <li><span>Font Size: </span>16px</li>
    <li><span>Font Weight: </span>400</li>
    <li><span>Ling Height: </span>1.71</li>
  </ul>
  <ul>
    <li><span>Sass: </span><code>@mixin set-type(`text-body--3`)</code></li>
  </ul>
</article>

<article class="vf-swatch">
  <div class="vf-swatch__colour">
    <h3 class="vf-swatch__colour-name">
      Body, small (alternate)
    </h3>
  </div>

  <section class="vf-swatch__details">
    <p style="font-size: 14px; font-weight: 500; line-height: 1.57">The five boxing wizards jump quickly.</p>
  </section>
  <ul class="">
    <li><span>Font Size: </span>14px</li>
    <li><span>Font Weight: </span>500</li>
    <li><span>Ling Height: </span>1.57</li>
  </ul>
  <ul>
    <li><span>Sass: </span><code>@mixin set-type(`text-body--4`)</code></li>
  </ul>
</article>

<article class="vf-swatch">
  <div class="vf-swatch__colour">
    <h3 class="vf-swatch__colour-name">
      Body, small
    </h3>
  </div>

  <section class="vf-swatch__details">
    <p style="font-size: 14px; font-weight: 400; line-height: 1.57">The five boxing wizards jump quickly.</p>
  </section>
  <ul class="">
    <li><span>Font Size: </span>14px</li>
    <li><span>Font Weight: </span>400</li>
    <li><span>Ling Height: </span>1.57</li>
  </ul>
  <ul>
    <li><span>Sass: </span><code>@mixin set-type(`text-body--5`)</code></li>
  </ul>
</article>

<article class="vf-swatch">
  <div class="vf-swatch__colour">
    <h3 class="vf-swatch__colour-name">
      Body, extra small
    </h3>
  </div>

  <section class="vf-swatch__details">
    <p style="font-size: 11px; font-weight: 600; line-height: 1.5">The five boxing wizards jump quickly.</p>
  </section>
  <ul class="">
    <li><span>Font Size: </span>11px</li>
    <li><span>Font Weight: </span>600</li>
    <li><span>Ling Height: </span>1.5</li>
  </ul>
  <ul>
    <li><span>Sass: </span><code>@mixin set-type(`text-body--6`)</code></li>
  </ul>
</article>

<article class="vf-swatch">
  <div class="vf-swatch__colour">
    <h3 class="vf-swatch__colour-name">
      Heading, extra large
    </h3>
  </div>

  <section class="vf-swatch__details">
    <p style="font-size: 42px; font-weight: 700; line-height: 1.547">The five boxing wizards jump quickly.</p>
  </section>
  <ul class="">
    <li><span>Font Size: </span>42px</li>
    <li><span>Font Weight: </span>700</li>
    <li><span>Ling Height: </span>1.547</li>
  </ul>
  <ul>
    <li><span>Sass: </span><code>@mixin set-type(`text-heading--1`)</code></li>
  </ul>
</article>

<article class="vf-swatch">
  <div class="vf-swatch__colour">
    <h3 class="vf-swatch__colour-name">
      Heading, large
    </h3>
  </div>

  <section class="vf-swatch__details">
    <p style="font-size: 30px; font-weight: 500; line-height: 1.333">The five boxing wizards jump quickly.</p>
  </section>
  <ul class="">
    <li><span>Font Size: </span>30px</li>
    <li><span>Font Weight: </span>500</li>
    <li><span>Ling Height: </span>1.333</li>
  </ul>
  <ul>
    <li><span>Sass: </span><code>@mixin set-type(`text-heading--2`)</code></li>
  </ul>
</article>

<article class="vf-swatch">
  <div class="vf-swatch__colour">
    <h3 class="vf-swatch__colour-name">
      Heading, large (alternative)
    </h3>
  </div>

  <section class="vf-swatch__details">
    <p style="font-size: 24px; font-weight: 500; line-height: 1.333">The five boxing wizards jump quickly.</p>
  </section>
  <ul class="">
    <li><span>Font Size: </span>24px</li>
    <li><span>Font Weight: </span>500</li>
    <li><span>Ling Height: </span>1.333</li>
  </ul>
  <ul>
    <li><span>Sass: </span><code>@mixin set-type(`text-heading--3`)</code></li>
  </ul>
</article>

<article class="vf-swatch">
  <div class="vf-swatch__colour">
    <h3 class="vf-swatch__colour-name">
      Heading, regular
    </h3>
  </div>

  <section class="vf-swatch__details">
    <p style="font-size: 21px; font-weight: 500; line-height: 1.29">The five boxing wizards jump quickly.</p>
  </section>
  <ul class="">
    <li><span>Font Size: </span>21px</li>
    <li><span>Font Weight: </span>500</li>
    <li><span>Ling Height: </span>1.29</li>
  </ul>
  <ul>
    <li><span>Sass: </span><code>@mixin set-type(`text-heading--4`)</code></li>
  </ul>
</article>

<article class="vf-swatch">
  <div class="vf-swatch__colour">
    <h3 class="vf-swatch__colour-name">
      Heading, small
    </h3>
  </div>

  <section class="vf-swatch__details">
    <p style="font-size: 19px; font-weight: 500; line-height: 1.5">The five boxing wizards jump quickly.</p>
  </section>
  <ul class="">
    <li><span>Font Size: </span>19px</li>
    <li><span>Font Weight: </span>500</li>
    <li><span>Ling Height: </span>1.5</li>
  </ul>
  <ul>
    <li><span>Sass: </span><code>@mixin set-type(`text-heading--5`)</code></li>
  </ul>
</article>
</main>

    </div>
  </div>

  <script src="../../scripts/scripts.js"></script>
</body>
</html>

