

<div class="vf-form__item vf-form__item--checkbox">
  <input type="checkbox" id="checkbox-01" class="vf-form__checkbox">
  <label for="checkbox-01" class="vf-form__label">Form Label</label>
</div>


<div class="vf-form__item vf-form__item--checkbox vf-form__item--inline">
  <input type="checkbox" id="checkbox-02" class="vf-form__checkbox">
  <label for="checkbox-02" class="vf-form__label">Form Label</label>
</div>

<p class="vf-form__helper">Form helper text</p>

<form action="" class="vf-form">
  <div class="vf-form__item">
    <label class="vf-form__label" for="text">Text</label>
    <input type="text" id="text" class="vf-form__input">
  </div>

  <div class="vf-form__item">
    <label class="vf-form__label" for="password">Password</label>
    <input type="password" id="password" class="vf-form__input">
  </div>

  <div class="vf-form__item">
    <label class="vf-form__label" for="email">Disabled email</label>
    <input type="email" id="email" class="vf-form__input" disabled>
  </div>
</form>

<div class="vf-form__item">
  <label for="text" class="vf-form__label">Form Label</label>
  <input type="text" id="text" class="vf-form__input">
  <p class="vf-form__helper">Form helper text</p>
</div>

<div class="vf-form__item">
  <label for="text" class="vf-form__label">Form Label</label>
  <input type="text" id="text" class="vf-form__input">
</div>

<div class="vf-form__item vf-form__item--radio">

  <input type="radio" name="radio-button-group" id="radio-1" class="vf-form__radio">
  <label for="radio-1" class="vf-form__label">Form Label</label>
  <input type="radio" name="radio-button-group" id="radio-2" class="vf-form__radio">
  <label for="radio-2" class="vf-form__label">Form Label</label>
  <input type="radio" name="radio-button-group" id="radio-3" class="vf-form__radio">
  <label for="radio-3" class="vf-form__label">Form Label</label>
</div>


<div class="vf-form__item vf-form__item--inline vf-form__item--radio">

  <input type="radio" name="radio-button-group--inline" id="radio-inline-1" class="vf-form__radio">
  <label for="radio-inline-1" class="vf-form__label">Form Label</label>

  <input type="radio" name="radio-button-group--inline" id="radio-inline-2" class="vf-form__radio">
  <label for="radio-inline-2" class="vf-form__label">Form Label</label>

  <input type="radio" name="radio-button-group--inline" id="radio-inline-3" class="vf-form__radio">
  <label for="radio-inline-3" class="vf-form__label">Form Label</label>
</div>

<div class="vf-form__item">

  <label class="vf-form__label" for="vf-form__select">Choose a pet:</label>

  <select class="vf-form__select" id="vf-form__select">
    <option value="cat">Cat</option>
    <option value="hamster">Hamster</option>
    <option value="parrot">Parrot</option>
    <option value="dog" selected>Dog</option>
    <option value="spider">Spider</option>
    <option value="goldfish">Goldfish</option>
  </select>

</div>

<div class="vf-form__item">
  <label class="vf-form__label" for="vf-form__textarea">Write Some More details</label>
  <textarea class="vf-form__textarea" id="vf-form__textarea" name="vf-form__textarea" rows="5"></textarea>
</div>

