

<div class="vf-form__item vf-form__item--radio">

  <input type="radio" name="radio-button-group" id="radio-1" class="vf-form__radio">
  <label for="radio-1" class="vf-form__label">Form Label</label>
  <input type="radio" name="radio-button-group" id="radio-2" class="vf-form__radio">
  <label for="radio-2" class="vf-form__label">Form Label</label>
  <input type="radio" name="radio-button-group" id="radio-3" class="vf-form__radio">
  <label for="radio-3" class="vf-form__label">Form Label</label>
</div>


<div class="vf-form__item vf-form__item--inline vf-form__item--radio">

  <input type="radio" name="radio-button-group--inline" id="radio-inline-1" class="vf-form__radio">
  <label for="radio-inline-1" class="vf-form__label">Form Label</label>

  <input type="radio" name="radio-button-group--inline" id="radio-inline-2" class="vf-form__radio">
  <label for="radio-inline-2" class="vf-form__label">Form Label</label>

  <input type="radio" name="radio-button-group--inline" id="radio-inline-3" class="vf-form__radio">
  <label for="radio-inline-3" class="vf-form__label">Form Label</label>
</div>

