

<!DOCTYPE html>
<html lang="en" class="vf-no-js">
<head>
<script>
// Detect if JS is on and swap vf-no-js for vf-js on the html element
(function(H){H.className=H.className.replace(/\bvf-no-js\b/,'vf-js')})(document.documentElement);
</script>
  <title>Forms: Example | Visual Framework 2.0</title>

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, minimum-scale=1" name="viewport">

<link rel="shortcut icon" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/favicon.ico">
<link rel="apple-touch-icon" sizes="180x180" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/favicon-16x16.png">
<link rel="manifest" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/site.webmanifest">
<link rel="mask-icon" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/safari-pinned-tab.svg" color="#ffffff">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="https://dev.assets.emblstatic.net/vf/develop/css/styles.css">
  <style>
    .vf-component__container {
      margin: 2em 0;
    }
  </style>
</head>
<body class="vf-body">
  <div class="vf-grid">
    <div class="vf-component__container">
      <div class="vf-u-margin__bottom--xxl">
  <p class="vf-text | vf-u-margin__bottom--l"><code class="vf-code-example">vf-form__item</code></p>
<div class="vf-form__item">
  <label for="text" class="vf-form__label vf-form__label--required"><span class="vf-u-sr-only">this field is required.</span> <span class="vf-icon vf-icon--asterick"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>asterick</title><path d="M23.555,8.729a1.505,1.505,0,0,0-1.406-.98H16.062a.5.5,0,0,1-.472-.334L13.405,1.222a1.5,1.5,0,0,0-2.81,0l-.005.016L8.41,7.415a.5.5,0,0,1-.471.334H1.85A1.5,1.5,0,0,0,.887,10.4l5.184,4.3a.5.5,0,0,1,.155.543L4.048,21.774a1.5,1.5,0,0,0,2.31,1.684l5.346-3.92a.5.5,0,0,1,.591,0l5.344,3.919a1.5,1.5,0,0,0,2.312-1.683l-2.178-6.535a.5.5,0,0,1,.155-.543l5.194-4.306A1.5,1.5,0,0,0,23.555,8.729Z"/></svg></span></label>
  <label for="text" class="vf-form__label">Form Label</label>

  <input type="text" id="text" class="vf-form__input" placeholder="for item example">
  <p class="vf-form__helper vf-form__helper--error">You have done something wrong.</p>
  <p class="vf-form__helper">Form helper text</p>
</div>
</div>
<div class="vf-u-margin__bottom--xxl">
  <p class="vf-text | vf-u-margin__bottom--l"><code class="vf-code-example">vf-form__label</code></p>
<div class="vf-form__item">
  <label for="text" class="vf-form__label">Form Label</label>
</div>
</div>
<div class="vf-u-margin__bottom--xxl">
  <p class="vf-text | vf-u-margin__bottom--l"><code class="vf-code-example">vf-form__label--required</code></p>
<div class="vf-form__item">
  <p for="text" class="vf-form__label vf-form__label--required"><span class="vf-u-sr-only">field is required.</span> <span class="vf-icon vf-icon--asterick"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>asterick</title><path d="M23.555,8.729a1.505,1.505,0,0,0-1.406-.98H16.062a.5.5,0,0,1-.472-.334L13.405,1.222a1.5,1.5,0,0,0-2.81,0l-.005.016L8.41,7.415a.5.5,0,0,1-.471.334H1.85A1.5,1.5,0,0,0,.887,10.4l5.184,4.3a.5.5,0,0,1,.155.543L4.048,21.774a1.5,1.5,0,0,0,2.31,1.684l5.346-3.92a.5.5,0,0,1,.591,0l5.344,3.919a1.5,1.5,0,0,0,2.312-1.683l-2.178-6.535a.5.5,0,0,1,.155-.543l5.194-4.306A1.5,1.5,0,0,0,23.555,8.729Z"/></svg></span></p>
</div>
</div>
<div class="vf-u-margin__bottom--xxl">
  <p class="vf-text | vf-u-margin__bottom--l"><code class="vf-code-example">vf-form__input</code></p>
<form action="" class="vf-form">
  <div class="vf-form__item">
    <label class="vf-form__label" for="text">Text</label>
    <input type="text" id="text" class="vf-form__input" placeholder="Text">
  </div>

  <div class="vf-form__item">
    <label class="vf-form__label" for="password">Password</label>
    <input type="password" id="password" class="vf-form__input" placeholder="Password">
  </div>

  <div class="vf-form__item">
    <label class="vf-form__label" for="email">Disabled email</label>
    <input type="email" id="email" class="vf-form__input" disabled placeholder="disabled">
  </div>
  <div class="vf-form__item">
    <label class="vf-form__label" for="text-invalid">Invalid Text</label>
    <p for="text" class="vf-form__label vf-form__label--required"><span class="vf-u-sr-only">field is required.</span> <span class="vf-icon vf-icon--asterick"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>asterick</title><path d="M23.555,8.729a1.505,1.505,0,0,0-1.406-.98H16.062a.5.5,0,0,1-.472-.334L13.405,1.222a1.5,1.5,0,0,0-2.81,0l-.005.016L8.41,7.415a.5.5,0,0,1-.471.334H1.85A1.5,1.5,0,0,0,.887,10.4l5.184,4.3a.5.5,0,0,1,.155.543L4.048,21.774a1.5,1.5,0,0,0,2.31,1.684l5.346-3.92a.5.5,0,0,1,.591,0l5.344,3.919a1.5,1.5,0,0,0,2.312-1.683l-2.178-6.535a.5.5,0,0,1,.155-.543l5.194-4.306A1.5,1.5,0,0,0,23.555,8.729Z"/></svg></span></p>

    <input type="text" id="text-invalid" class="vf-form__input" required placeholder="invalid">
    
    <p class="vf-form__helper vf-form__helper--error">You need to fill this out.</p>
  </div>
</form>
</div>
<div class="vf-u-margin__bottom--xxl">
  <p class="vf-text | vf-u-margin__bottom--l"><code class="vf-code-example">vf-form__helper</code></p>
<p class="vf-form__helper">Form helper text</p>
</div>
<div class="vf-u-margin__bottom--xxl">
  <p class="vf-text | vf-u-margin__bottom--l"><code class="vf-code-example">vf-form__helper--error</code></p>
<p class="vf-form__helper vf-form__helper--error">You have done something wrong.</p>
</div>
<div class="vf-u-margin__bottom--xxl">
  <p class="vf-text | vf-u-margin__bottom--l"><code class="vf-code-example">vf-form__legend</code></p>
<legend class="vf-form__legend">This is a form legend</legend>
</div>
<div class="vf-u-margin__bottom--xxl">
  <p class="vf-text | vf-u-margin__bottom--l"><code class="vf-code-example">vf-form__fieldset</code> <em>(with no content)</em></p>
<fieldset class="vf-form__fieldset">
</fieldset>
</div>
<div class="vf-u-margin__bottom--xxl">
  <p class="vf-text | vf-u-margin__bottom--l"><code class="vf-code-example">vf-form__checkbox</code></p>
<div class="vf-form__item vf-form__item--checkbox">
  <input type="checkbox" id="checkbox-01" class="vf-form__checkbox">
  <label for="checkbox-01" class="vf-form__label">Form Label</label>
</div>
</div>
<div class="vf-u-margin__bottom--xxl">
  <p class="vf-text | vf-u-margin__bottom--l"><code class="vf-code-example">vf-form__checkbox--inline</code></p>
<div class="vf-form__item vf-form__item--checkbox vf-form__item--checkbox--inline">
  <input type="checkbox" id="checkbox-01" class="vf-form__checkbox">
  <label for="checkbox-01" class="vf-form__label">Form Label</label>
</div>
</div>
<div class="vf-u-margin__bottom--xxl">
  <p class="vf-text | vf-u-margin__bottom--l"><code class="vf-code-example">vf-form__radio</code></p>
<div class="vf-form__item vf-form__item--radio">

  <input type="radio" name="radio-button-group" id="radio-1" class="vf-form__radio">
  <label for="radio-1" class="vf-form__label">Form Label</label>
  <input type="radio" name="radio-button-group" id="radio-2" class="vf-form__radio">
  <label for="radio-2" class="vf-form__label">Form Label</label>
  <input type="radio" name="radio-button-group" id="radio-3" class="vf-form__radio">
  <label for="radio-3" class="vf-form__label">Form Label</label>
</div>


<div class="vf-form__item vf-form__item--inline vf-form__item--radio">

  <input type="radio" name="radio-button-group--inline" id="radio-inline-1" class="vf-form__radio">
  <label for="radio-inline-1" class="vf-form__label">Form Label</label>

  <input type="radio" name="radio-button-group--inline" id="radio-inline-2" class="vf-form__radio">
  <label for="radio-inline-2" class="vf-form__label">Form Label</label>

  <input type="radio" name="radio-button-group--inline" id="radio-inline-3" class="vf-form__radio">
  <label for="radio-inline-3" class="vf-form__label">Form Label</label>
</div>
</div>
<div class="vf-u-margin__bottom--xxl">
  <p class="vf-text | vf-u-margin__bottom--l"><code class="vf-code-example">vf-form__select</code></p>
<div class="vf-form__item">

  <label class="vf-form__label" for="vf-form__select">Choose a pet:</label>

  <select class="vf-form__select" id="vf-form__select">
    <option value="cat">Cat</option>
    <option value="hamster">Hamster</option>
    <option value="parrot">Parrot</option>
    <option value="dog" selected>Dog</option>
    <option value="spider">Spider</option>
    <option value="goldfish">Goldfish</option>
  </select>

</div>
</div>
<div class="vf-u-margin__bottom--xxl">
  <p class="vf-text | vf-u-margin__bottom--l"><code class="vf-code-example">vf-form__textarea</code></p>
<div class="vf-form__item">
  <label class="vf-form__label" for="vf-form__textarea">Write Some More details</label>
  <textarea class="vf-form__textarea" id="vf-form__textarea" name="vf-form__textarea" rows="5" placeholder="Write Some More details"></textarea>
</div>
</div>

    </div>
  </div>

  <script src="../../scripts/scripts.js"></script>
</body>
</html>

