

<!DOCTYPE html>
<html lang="en" class="vf-no-js">
<head>
<script>
// Detect if JS is on and swap vf-no-js for vf-js on the html element
(function(H){H.className=H.className.replace(/\bvf-no-js\b/,'vf-js')})(document.documentElement);
</script>
  <title>Hero: Default | Visual Framework 2.0</title>

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, minimum-scale=1" name="viewport">

<link rel="apple-touch-icon" sizes="180x180" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/favicon-16x16.png">
<link rel="manifest" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/site.webmanifest">
<link rel="mask-icon" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/safari-pinned-tab.svg" color="#ffffff">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="https://dev.assets.emblstatic.net/vf/develop/css/styles.css">
  <style>
    .vf-component__container {
      margin: 2em 0;
    }
  </style>
</head>
<body class="vf-body">
  <div class="vf-grid">
    <div class="vf-component__container">
      <section class="vf-hero vf-hero--easy">
  <div class="vf-hero__content">
 <h2 class="vf-hero__heading">About the Hentze group</h2>    <p class="vf-hero__text">The Hentze group combines biochemical and systems–level approaches to investigate the connections between gene expression and cell metabolism, and their roles in human disease.<a class="vf-link" href="https://example.com/"> </a></p>
  </div>
  <article class="vf-summary | vf-summary--profile vf-summary--profile-r" data-embl-js-conditional-edit="4473">
              <a href="http://www.ebi.ac.uk/about/people/helen-parkinson" class="vf-summary__image" target="_blank" rel="noopener noreferrer">
          <img class="vf-summary__image vf-summary__image--avatar" src="http://dev.content.embl.org//sites/default/files/styles/medium/public/persons/CP-60002372?itok=vKJ1sABp" alt="image of Helen Parkinson">
        </a>
      <h3 class="vf-summary__title">Team Leader Samples Phenotypes &amp; Ontolog</h3>
              <p class="vf-summary__text">
          <a href="http://www.ebi.ac.uk/about/people/helen-parkinson" class="vf-summary__link" target="_blank" rel="noopener noreferrer">
            Helen Parkinson
          </a>
        </p>
      <p class="vf-summary__email">
        <a href="mailto:parkinso@ebi.ac.uk" class="vf-summary__link vf-summary__link--secondary">parkinso@ebi.ac.uk</a>
      </p>
      <a class="vf-text vf-text--body-r vf-link embl-conditional-edit" href="https://dev.content.embl.org/node/4473" target="_blank" rel="noopener noreferrer">Edit</a>
    </article>
</section>

    </div>
  </div>

  <script src="../../scripts/scripts.js"></script>
</body>
</html>

