

<nav class="vf-navigation vf-navigation--additional">
  <h3 class="vf-navigation__heading">European Bioinformatics Institute</h3>
  <ul class="vf-navigation__list | vf-list--inline">
    <li class="vf-navigation__item">
      <a href="#" class="vf-navigation__link">Services</a>
    </li>
    <li class="vf-navigation__item">
      <a href="#" class="vf-navigation__link">Research</a>
    </li>
    <li class="vf-navigation__item">
      <a href="#" class="vf-navigation__link">Training</a>
    </li>
    <li class="vf-navigation__item">
      <a href="#" class="vf-navigation__link">About Us</a>
    </li>
  </ul>
</nav>

