

<p class="vf-text--body vf-text--body-r">
  Generally reserved for deep and enganging databses of infromation,
  ulitmately you should try to avoid needing such a complex pager and
  mitigate through search and faceting filters.
</p>

<nav class="vf-pagination" aria-label="Pagination">
  <ul class="vf-pagination__list">
    <li class="vf-pagination__item vf-pagination__item--previous-page">
      <a href="#" class="vf-pagination__link">
        Previous<span class="vf-sr-only"> page</span>
      </a>
    </li>
    <li class="vf-pagination__item vf-pagination__item--jump-back">
      <a href="#" class="vf-pagination__link">
        -10<span class="vf-sr-only"> page</span>
      </a>
    </li>
    <li class="vf-pagination__item">
      <a href="#" class="vf-pagination__link">
        <span class="vf-sr-only">Page </span>1
      </a>
    </li>
    <li class="vf-pagination__item">
      <a href="#" class="vf-pagination__link">
        <span class="vf-sr-only">Page </span>2
      </a>
    </li>
    <li class="vf-pagination__item">
      <span class="vf-pagination__label">
        ...
      </span>
    </li>
    <li class="vf-pagination__item">
      <a href="#" class="vf-pagination__link">
        <span class="vf-sr-only">Page </span>17
      </a>
    </li>
    <li class="vf-pagination__item vf-pagination__item--is-active">
      <span class="vf-pagination__label" aria-current="page">
        <span class="vf-sr-only">Page </span>18
      </span>
    </li>
    <li class="vf-pagination__item">
      <a href="#" class="vf-pagination__link">
        <span class="vf-sr-only">Page </span>19
      </a>
    </li>
    <li class="vf-pagination__item">
      <span class="vf-pagination__label">
        ...
      </span>
    </li>
    <li class="vf-pagination__item">
      <a href="#" class="vf-pagination__link">
        <span class="vf-sr-only">Page </span>91
      </a>
    </li>
    <li class="vf-pagination__item">
      <a href="#" class="vf-pagination__link">
        <span class="vf-sr-only">Page </span>92
      </a>
    </li>
    <li class="vf-pagination__item vf-pagination__item--jump-forward">
      <a href="#" class="vf-pagination__link">
        +10<span class="vf-sr-only"> page</span>
      </a>
    </li>
    <li class="vf-pagination__item vf-pagination__item--next-page">
      <a href="#" class="vf-pagination__link">
        Next<span class="vf-sr-only"> page</span>
      </a>
    </li>

    <li class="vf-pagination__item vf-pagination__item--pages-per">

      <div class="vf-form__item--inline">
        <label class="vf-form__label" for="vf-form__select">Results per page</label>

        <div class="DISABLE_UNTIL_WE_THINK_ABOUT_IT_vf-form__select-container">
          <select class="vf-form__select" id="vf-form__select">
            <option value="10" selected>10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="40">40</option>
            <option value="50">50</option>
          </select>
        </div>

      </div>
    </li>


  </ul>
</nav>

