

<p class="vf-text--body vf-text--body-r">
  The most simple of pagers, best used for non-complex needs, such as blogs.
<p>


<nav class="vf-pagination" aria-label="Pagination">
  <ul class="vf-pagination__list">
    <li class="vf-pagination__item vf-pagination__item--previous-page">
      <a href="#" class="vf-pagination__link">
        Previous<span class="vf-sr-only"> page</span>
      </a>
    </li>
    <li class="vf-pagination__item vf-pagination__item--next-page">
      <a href="#" class="vf-pagination__link">
        Next<span class="vf-sr-only"> page</span>
      </a>
    </li>
  </ul>
</nav>

