

<p class="vf-text--body vf-text--body-r">
  Use this if there are many pages of results where users may go deep into the
  result set, and want to know the total depth of results.
</p>

<nav class="vf-pagination" aria-label="Pagination">
  <ul class="vf-pagination__list">
    <li class="vf-pagination__item vf-pagination__item--jump-back">
      <a href="#" class="vf-pagination__link">
        First<span class="vf-sr-only"> page</span> (1)
      </a>
    </li>
    <li class="vf-pagination__item vf-pagination__item--previous-page">
      <a href="#" class="vf-pagination__link">
        Previous<span class="vf-sr-only"> page</span> (5)
      </a>
    </li>
    <li class="vf-pagination__item vf-pagination__item--is-active">
      <span class="vf-pagination__label" aria-current="page">
        <span class="vf-sr-only">Page </span>6
      </span>
    </li>
    <li class="vf-pagination__item vf-pagination__item--next-page">
      <a href="#" class="vf-pagination__link">
        Next<span class="vf-sr-only"> page</span> (7)
      </a>
    </li>
    <li class="vf-pagination__item vf-pagination__item--jump-forward">
      <a href="#" class="vf-pagination__link">
        Last<span class="vf-sr-only"> page</span> (88)
      </a>
    </li>
  </ul>
</nav>

