

<article class="vf-summary vf-summary--job">
  <p class="vf-summary__meta">
    <a href="JavaScript:Void(0);" class="vf-summary__link">Science Faculty</a>
     in
    <a href="JavaScript:Void(0);" class="vf-summary__link">Heidelberg</a>
  </p>

  <h3 class="vf-summary__title">

    <a href="#" class="vf-summary__link">
      Group Leader - Cell and Biophysics
    </a>
    
  </h3>

  <p class="vf-summary__text">
    We are seeking to recruit outstanding group leaders who wish to carry out cutting-edge molecular cell biology research and/or technology development.
  </p>

  <a href="JavaScript:Void(0);" class="vf-summary__button vf-button--tertiary">Apply Now</a>

  <p class="vf-summary__date"><span>Closes in 8 days.</span> Posted 11th August 2018</p>

</article>

