

<!DOCTYPE html>
<html lang="en" class="vf-no-js">
<head>
<script>
// Detect if JS is on and swap vf-no-js for vf-js on the html element
(function(H){H.className=H.className.replace(/\bvf-no-js\b/,'vf-js')})(document.documentElement);
</script>
  <title>Summary: Has Image | Visual Framework 2.0</title>

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, minimum-scale=1" name="viewport">

<link rel="apple-touch-icon" sizes="180x180" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/favicon-16x16.png">
<link rel="manifest" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/site.webmanifest">
<link rel="mask-icon" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/safari-pinned-tab.svg" color="#ffffff">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="https://dev.assets.emblstatic.net/vf/develop/css/styles.css">
</head>
<body class="vf-body">
  <div class="vf-grid">
    <div class="vf-component__container">
      <article class="vf-summary vf-summary--has-image">
  <a href="//www.ebi.ac.uk/biosamples/" class="vf-summary__link">
    <img class="vf-summary__image vf-summary__image--thumbnail" src="https://www.ebi.ac.uk/biosamples/images/logo_biosamples.png" alt="BioSamples">
  </a>
  <h3 class="vf-summary__title">
    <a href="//www.ebi.ac.uk/biosamples/" class="vf-summary__link">
      BioSamples
    </a>
  </h3>
  <p class="vf-summary__text">
    A database describing biological samples and providing links to associated experimental data.
  </p>
</article>

<article class="vf-summary vf-summary--has-image">
  <!-- for cases when there is no image -->
  <h3 class="vf-summary__title">
    <a href="//www.ebi.ac.uk/biosamples/" class="vf-summary__link">
      Imageless sample
    </a>
  </h3>
  <p class="vf-summary__text">
    Not all lists with images have an image for every item.
  </p>
</article>

    </div>
  </div>

  <script src="../../scripts/scripts.js"></script>
</body>
</html>

