

<article class="vf-summary vf-summary--has-image">
  <a href="//www.ebi.ac.uk/biosamples/" class="vf-summary__link">
    <img class="vf-summary__image vf-summary__image--thumbnail" src="https://www.ebi.ac.uk/biosamples/images/logo_biosamples.png" alt="BioSamples">
  </a>
  <h3 class="vf-summary__title">
    <a href="//www.ebi.ac.uk/biosamples/" class="vf-summary__link">
      BioSamples
    </a>
  </h3>
  <p class="vf-summary__text">
    A database describing biological samples and providing links to associated experimental data.
  </p>
</article>

<article class="vf-summary vf-summary--has-image">
  <!-- for cases when there is no image -->
  <h3 class="vf-summary__title">
    <a href="//www.ebi.ac.uk/biosamples/" class="vf-summary__link">
      Imageless sample
    </a>
  </h3>
  <p class="vf-summary__text">
    Not all lists with images have an image for every item.
  </p>
</article>

