

<!DOCTYPE html>
<html lang="en" class="vf-no-js">
<head>
<script>
// Detect if JS is on and swap vf-no-js for vf-js on the html element
(function(H){H.className=H.className.replace(/\bvf-no-js\b/,'vf-js')})(document.documentElement);
</script>
  <title>Sass utilities component: Default | Visual Framework 2.0</title>

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, minimum-scale=1" name="viewport">

<link rel="apple-touch-icon" sizes="180x180" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/favicon-16x16.png">
<link rel="manifest" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/site.webmanifest">
<link rel="mask-icon" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/safari-pinned-tab.svg" color="#ffffff">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="https://dev.assets.emblstatic.net/vf/develop/css/styles.css">
</head>
<body class="vf-body">
  <div class="vf-grid">
    <div class="vf-component__container">
      <div class="vf-content">

<h3 id="available-sass-utilities">Available Sass utilities</h3>
<h3 id="et-al">Et al.</h3>
<ul>
<li><code>.vf-et-al</code> for use in publications lists and similar</li>
</ul>
<p><span class="vf-et-al">Jon Smith, Jane Johnson, </span></p>
<h3 id="screenreader-text">Screenreader text</h3>
<ul>
<li><code>.vf-sr-only</code> some things should only be shown to screen readers</li>
</ul>
<p><span class="vf-sr-only">Like this text</span></p>
<h3 id="no-wrap">No-wrap.</h3>
<ul>
<li><code>.vf-no-wrap</code> keep text together, as much as possible</li>
</ul>
<p>I&#39;m some words that can break awkwardly but keep the <span class="vf-no-wrap">Company Name</span> together.</p>

</div>

    </div>
  </div>

  <script src="../../scripts/scripts.js"></script>
</body>
</html>

