

<!DOCTYPE html>
<html lang="en" class="vf-no-js">
<head>
<script>
// Detect if JS is on and swap vf-no-js for vf-js on the html element
(function(H){H.className=H.className.replace(/\bvf-no-js\b/,'vf-js')})(document.documentElement);
</script>
  <title>Summary: Publication | Visual Framework 2.0</title>

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, minimum-scale=1" name="viewport">

<link rel="shortcut icon" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/favicon.ico">
<link rel="apple-touch-icon" sizes="180x180" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/favicon-16x16.png">
<link rel="manifest" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/site.webmanifest">
<link rel="mask-icon" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/safari-pinned-tab.svg" color="#ffffff">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="https://dev.assets.emblstatic.net/vf/develop/css/styles.css">
  <style>
    .vf-component__container {
      margin: 2em 0;
    }
  </style>
</head>
<body class="vf-body">
  <div class="vf-grid">
    <div class="vf-component__container">
      <article class="vf-summary vf-summary--publication">
  <h3 class="vf-summary__title">
    <a href="JavaScript:Void(0);" class="vf-summary__link">
      Computer modeling in developmental biology: growing today, essential tomorrow.
    </a>
  </h3>
  <p class="vf-summary__author">
    Jimenez RC, Albar JP, Bhak J, Blatter MC, Blicher T, Brazas MD, Brooksbank C, Budd A, De Las Rivas J, Dreyer J, van Driel MA, Dunn MJ, Fernandes PL, van Gelder CW, Hermjakob H, Ioannidis V, Judge DP, Kahlem P, Korpelainen E, Kraus HJ, Loveland J, Mayer C, McDowall J, Moran F, Mulder N, Nyronen T, Rother K, Salazar GA, Schneider R, Via A, Villaveces JM, Yu P, Schneider MV, Attwood TK, Corpas M.
  </p>
  <p class="vf-summary__source">
    The Journal of cell biology
    <span class="vf-summary__date">2019</span>
  </p>

  <p class="vf-summary__text">
    144(23):4214-4225. doi: 10.1242/dev.151274.
    <a class="vf-link" href="JavaScript:Void(0);">Europe</a>
    <a class="vf-link" href="JavaScript:Void(0);">PMC</a>
  </p>
</article>

    </div>
  </div>

  <script src="../../scripts/scripts.js"></script>
</body>
</html>

