

<!DOCTYPE html>
<html lang="en" class="vf-no-js">
<head>
  <script>
  // Detect if JS is on and swap vf-no-js for vf-js on the html element
  (function(H){H.className=H.className.replace(/\bvf-no-js\b/,'vf-js')})(document.documentElement);
  </script>
  <title>The Snippet: Default | Visual Framework 2.0</title>

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, minimum-scale=1" name="viewport">

  <link rel="apple-touch-icon" sizes="180x180" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/favicon-16x16.png">
  <link rel="manifest" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/site.webmanifest">
  <link rel="mask-icon" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/safari-pinned-tab.svg" color="#ffffff">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="https://dev.assets.emblstatic.net/vf/css/styles.css">
</head>
<body class="vf-body">
  <div class="vf-grid">
    <div class="vf-pattern__container">
      <article class="vf-snippet">
  <h2 class="vf-snippet__heading | vf-text vf-text--heading-r">
    <a href="JavaScript:Void(0);" class="vf-snippet__link">EMBL&#x27;s top social media posts of 2017 and what we learned from them</a>
  </h2>
  <span class="vf-snippet__meta | vf-text vf-text--s">
    <a href="JavaScript:Void(0);" class="vf-snippet__link | vf-snippet__author">Laura Howes</a>
    <date class="vf-snippet__date">06 February 2018</date>
    <a href="JavaScript:Void(0);" class="vf-snippet__link">Leave Comment</a>
  </span>
  <p class="vf-snippet__teaser | vf-text vf-text--r">I want to take a look back at my first full year as EMBL&#x27;s social media manager. So what worked best over 2017 and what can I learn from this? My basic goals for VF’s social media are to build community and develop a shared understanding of who we as an organisation are. Consequently, I care about what resonates on the different social sites much more than driving traffic back to Visual Framework websites, although traffic is obviously a by-product.</p>
  <a class="vf-snippet__read-more | vf-text vf-text--r" href="JavaScript:Void(0);">Read More</a>
</article>

    </div>
  </div>
  <script src="../../scripts/scripts.js"></script>
</body>
</html>

