

<!DOCTYPE html>
<html lang="en" class="vf-no-js">
<head>
<script>
// Detect if JS is on and swap vf-no-js for vf-js on the html element
(function(H){H.className=H.className.replace(/\bvf-no-js\b/,'vf-js')})(document.documentElement);
</script>
  <title>Table: Selectable | Visual Framework 2.0</title>

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, minimum-scale=1" name="viewport">

<link rel="shortcut icon" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/favicon.ico">
<link rel="apple-touch-icon" sizes="180x180" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/favicon-16x16.png">
<link rel="manifest" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/site.webmanifest">
<link rel="mask-icon" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/safari-pinned-tab.svg" color="#ffffff">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="https://dev.assets.emblstatic.net/vf/develop/css/styles.css">
  <style>
    .vf-component__container {
      margin: 2em 0;
    }
  </style>
</head>
<body class="vf-body">
  <div class="vf-grid">
    <div class="vf-component__container">
      <svg class="vf-icon-sprite vf-icon-sprite--tables" display="none">
	<defs>
		<g id="vf-table-sortable--up">
			<path xmlns="http://www.w3.org/2000/svg" d="M17.485,5.062,12.707.284a1.031,1.031,0,0,0-1.415,0L6.515,5.062a1,1,0,0,0,.707,1.707H10.25a.25.25,0,0,1,.25.25V22.492a1.5,1.5,0,1,0,3,0V7.019a.249.249,0,0,1,.25-.25h3.028a1,1,0,0,0,.707-1.707Z"/>
		</g>
		<g id="vf-table-sortable--down">
			<path xmlns="http://www.w3.org/2000/svg" d="M17.7,17.838a1,1,0,0,0-.924-.617H13.75a.249.249,0,0,1-.25-.25V1.5a1.5,1.5,0,0,0-3,0V16.971a.25.25,0,0,1-.25.25H7.222a1,1,0,0,0-.707,1.707l4.777,4.778a1,1,0,0,0,1.415,0l4.778-4.778A1,1,0,0,0,17.7,17.838Z"/>
		</g>
		<g id="vf-table-sortable">
			<path xmlns="http://www.w3.org/2000/svg" d="M9,19a1,1,0,0,0-.707,1.707l3,3a1,1,0,0,0,1.414,0l3-3A1,1,0,0,0,15,19H13.5a.25.25,0,0,1-.25-.25V5.249A.25.25,0,0,1,13.5,5H15a1,1,0,0,0,.707-1.707l-3-3a1,1,0,0,0-1.414,0l-3,3A1,1,0,0,0,9,5h1.5a.25.25,0,0,1,.25.25v13.5a.25.25,0,0,1-.25.25Z"/>
		</g>
	</defs>
</svg>

<table class="vf-table">


  <thead class="vf-table__header">
    <tr class="vf-table__row"><th class="vf-table__heading" scope="col">
          <input type="checkbox" id="select-all" class="vf-form__checkbox | vf-table__checkbox">
          <label for="select-all" class="vf-form__label vf-table__label">
            <span class="vf-u-sr-only">Select all rows</span>
          </label>
        </th>        <th class="vf-table__heading" scope="col"
      >        Event
      </th>
        <th class="vf-table__heading" scope="col"
      >        Date
      </th>
        <th class="vf-table__heading" scope="col"
      >        Type
      </th>
        <th class="vf-table__heading" scope="col"
      >        Location
      </th>
</tr>
  </thead>

  <tbody class="vf-table__body">    <tr class="vf-table__row
"><th class="vf-table__cell vf-table__cell--selectable" scope="row">
            <input type="checkbox" id="checkbox-1" class="vf-form__checkbox | vf-table__checkbox"
>
            <label for="checkbox-1" class="vf-form__label vf-table__label">
              <span class="vf-u-sr-only">Form Label</span>
            </label>
        </th><td class="vf-table__cell"
            >dave</td>
<td class="vf-table__cell"
            >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima accusamus a nostrum odit aliquid repudiandae architecto molestiae, dolores.</td>
<td class="vf-table__cell"
            >roger</td>
<td class="vf-table__cell"
            >London, U.K.</td>
</tr>
    <tr class="vf-table__row
"><th class="vf-table__cell vf-table__cell--selectable" scope="row">
            <input type="checkbox" id="checkbox-2" class="vf-form__checkbox | vf-table__checkbox"
>
            <label for="checkbox-2" class="vf-form__label vf-table__label">
              <span class="vf-u-sr-only">Form Label</span>
            </label>
        </th><td class="vf-table__cell"
            >dave</td>
<td class="vf-table__cell"
            >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio fugit illo officia dignissimos amet.</td>
<td class="vf-table__cell"
            >roger</td>
<td class="vf-table__cell"
            >London, U.K.</td>
</tr>
    <tr class="vf-table__row
"><th class="vf-table__cell vf-table__cell--selectable" scope="row">
            <input type="checkbox" id="checkbox-3" class="vf-form__checkbox | vf-table__checkbox"
>
            <label for="checkbox-3" class="vf-form__label vf-table__label">
              <span class="vf-u-sr-only">Form Label</span>
            </label>
        </th><td class="vf-table__cell"
            >dave</td>
<td class="vf-table__cell"
            >Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
<td class="vf-table__cell"
            >roger</td>
<td class="vf-table__cell"
            >London, U.K.</td>
</tr>
  </tbody></table>


    </div>
  </div>

  <script src="../../scripts/scripts.js"></script>
</body>
</html>

