

<!DOCTYPE html>
<html lang="en" class="vf-no-js">
<head>
<script>
// Detect if JS is on and swap vf-no-js for vf-js on the html element
(function(H){H.className=H.className.replace(/\bvf-no-js\b/,'vf-js')})(document.documentElement);
</script>
  <title>Utility Classes: Grid Gap | Visual Framework 2.0</title>

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, minimum-scale=1" name="viewport">

<link rel="shortcut icon" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/favicon.ico">
<link rel="apple-touch-icon" sizes="180x180" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/favicon-16x16.png">
<link rel="manifest" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/site.webmanifest">
<link rel="mask-icon" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/safari-pinned-tab.svg" color="#ffffff">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="https://dev.assets.emblstatic.net/vf/develop/css/styles.css">
</head>
<body class="vf-body">
  <div class="vf-grid">
    <div class="vf-component__container">
      <style>
  .vf-utility--example div {
    background: green;
    height: 40px;
  }
  .vf-utility--example p {
    grid-column: 1 / -1;
    margin-bottom: 0 !important;
  }
  .vf-utility__examples h4 {
  }
</style>
<div class="vf-content">

<h3 id="grid-gap">Grid Gap</h3>
  <section class="vf-utility__examples | vf-content">
    <h4>vf-u-grid-gap</h4>

    <article class="vf-utility--example vf-grid vf-grid__col-3 vf-u-grid-gap--xs">
      <p><code>.vf-u-grid-gap--xs</code></p>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </article>
    <br>
    <article class="vf-utility--example vf-grid vf-grid__col-3 vf-u-grid-gap--sm">
      <p><code>.vf-u-grid-gap--sm</code></p>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </article>
    <br>
    <article class="vf-utility--example vf-grid vf-grid__col-3 vf-u-grid-gap--md">
      <p><code>.vf-u-grid-gap--md</code></p>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </article>
    <br>
    <article class="vf-utility--example vf-grid vf-grid__col-3 vf-u-grid-gap--lg">
      <p><code>.vf-u-grid-gap--lg</code></p>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </article>
    <br>
    <article class="vf-utility--example vf-grid vf-grid__col-3 vf-u-grid-gap--xl">
      <p><code>.vf-u-grid-gap--xl</code></p>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </article>
    <br>
    <article class="vf-utility--example vf-grid vf-grid__col-3 vf-u-grid-gap--xxl">
      <p><code>.vf-u-grid-gap--xxl</code></p>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </article>
    <br>
    <br>
    <hr class="vf-divider">
    <h4>vf-u-grid-column-gap</h4>
    <article class="vf-utility--example vf-grid vf-grid__col-3 vf-u-grid-column-gap--xs">
      <p><code>.vf-u-grid-gap--xs</code></p>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </article>
    <br>
    <article class="vf-utility--example vf-grid vf-grid__col-3 vf-u-grid-column-gap--sm">
      <p><code>.vf-u-grid-gap--sm</code></p>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </article>
    <br>
    <article class="vf-utility--example vf-grid vf-grid__col-3 vf-u-grid-column-gap--md">
      <p><code>.vf-u-grid-gap--md</code></p>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </article>
    <br>
    <article class="vf-utility--example vf-grid vf-grid__col-3 vf-u-grid-column-gap--lg">
      <p><code>.vf-u-grid-gap--lg</code></p>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </article>
    <br>
    <article class="vf-utility--example vf-grid vf-grid__col-3 vf-u-grid-column-gap--xl">
      <p><code>.vf-u-grid-gap--xl</code></p>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </article>
    <br>
    <article class="vf-utility--example vf-grid vf-grid__col-3 vf-u-grid-column-gap--xxl">
      <p><code>.vf-u-grid-gap--xxl</code></p>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </article>
    <br>
    <br>
    <hr class="vf-divider">
    <h4>vf-u-grid-row-gap</h4>
    <article class="vf-utility--example vf-grid vf-grid__col-3 vf-u-grid-row-gap--xs">
      <p><code>.vf-u-grid-gap--xs</code></p>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </article>
    <br>
    <article class="vf-utility--example vf-grid vf-grid__col-3 vf-u-grid-row-gap--sm">
      <p><code>.vf-u-grid-gap--sm</code></p>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </article>
    <br>
    <article class="vf-utility--example vf-grid vf-grid__col-3 vf-u-grid-row-gap--md">
      <p><code>.vf-u-grid-gap--md</code></p>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </article>
    <br>
    <article class="vf-utility--example vf-grid vf-grid__col-3 vf-u-grid-row-gap--lg">
      <p><code>.vf-u-grid-gap--lg</code></p>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </article>
    <br>
    <article class="vf-utility--example vf-grid vf-grid__col-3 vf-u-grid-row-gap--xl">
      <p><code>.vf-u-grid-gap--xl</code></p>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </article>
    <br>
    <article class="vf-utility--example vf-grid vf-grid__col-3 vf-u-grid-row-gap--xxl">
      <p><code>.vf-u-grid-gap--xxl</code></p>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </article>

  </section>
</div>

    </div>
  </div>

  <script src="../../scripts/scripts.js"></script>
</body>
</html>

