

<!DOCTYPE html>
<html lang="en" class="vf-no-js">
<head>
<script>
// Detect if JS is on and swap vf-no-js for vf-js on the html element
(function(H){H.className=H.className.replace(/\bvf-no-js\b/,'vf-js')})(document.documentElement);
</script>
  <title>Utility Classes: Width | Visual Framework 2.0</title>

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, minimum-scale=1" name="viewport">

<link rel="apple-touch-icon" sizes="180x180" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/favicon-16x16.png">
<link rel="manifest" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/site.webmanifest">
<link rel="mask-icon" href="https://dev.assets.emblstatic.net/vf/develop/assets/vf-favicon/assets/safari-pinned-tab.svg" color="#ffffff">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="https://dev.assets.emblstatic.net/vf/develop/css/styles.css">
  <style>
    .vf-component__container {
      margin: 2em 0;
    }
  </style>
</head>
<body class="vf-body">
  <div class="vf-grid">
    <div class="vf-component__container">
      <style>  
  .vf-utility--example div[class^='vf-u-width'] {
    background: green;
    height: 40px;
  }
</style>
<div class="vf-content">

<h3 id="width">Width</h3>
  <section class="vf-utility__examples | vf-content">
    <h4></h4>
    <p>Use the utility clasees <code>.vf-u-width__20</code> to set responive width in 5 percentage increments.</p>
   
    <article class="vf-utility--example vf-u-clearfix">
      <p><code>.vf-u-width__5</code></p>
        <div class="vf-u-width__5"></div>
    </article>

    <article class="vf-utility--example vf-u-clearfix">
      <p><code>.vf-u-width__10</code></p>
        <div class="vf-u-width__10"></div>
    </article>

    <article class="vf-utility--example vf-u-clearfix">
      <p><code>.vf-u-width__15</code></p>
        <div class="vf-u-width__15"></div>
    </article>

    <article class="vf-utility--example vf-u-clearfix">
      <p><code>.vf-u-width__20</code></p>
        <div class="vf-u-width__20"></div>
    </article>

    <article class="vf-utility--example vf-u-clearfix">
      <p><code>.vf-u-width__30</code></p>
        <div class="vf-u-width__30"></div>
    </article>

    <article class="vf-utility--example vf-u-clearfix">
      <p><code>.vf-u-width__40</code></p>
        <div class="vf-u-width__40"></div>
    </article>

    And so on up to 100.
  </section>

  <section class="vf-utility__examples | vf-content">
    <h4>Responsive</h4>

<p>You can also make these conditional on screen size with <code>--xs</code>, <code>--sm</code>, <code>--md</code>, <code>--lg</code> or <code>--xl</code>.</p>

   
    <article class="vf-utility--example vf-u-clearfix">
      <p><code>.vf-u-width__20--sm</code></p>
        <div class="vf-u-width__20--sm"></div>
    </article>

   
    <article class="vf-utility--example vf-u-clearfix">
      <p><code>.vf-u-width__20--xl</code></p>
        <div class="vf-u-width__20--xl"></div>
    </article>




  </section>

</div>

    </div>
  </div>

  <script src="../../scripts/scripts.js"></script>
</body>
</html>

