$componentInfo: (
             name: "@visual-framework/vf-navigation",
             version: "1.2.5",
             location: "components/vf-navigation",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Tue, 27 Oct 2020 15:23:29 GMT"
          );