$componentInfo: (
             name: "@visual-framework/vf-navigation",
             version: "1.2.5",
             location: "components/vf-navigation",
             vfCoreVersion: "2.2.8",
             buildTimeStamp: "Fri, 23 Oct 2020 09:33:56 GMT"
          );