$componentInfo: (
             name: "@visual-framework/vf-navigation",
             version: "2.1.0",
             location: "components/vf-navigation",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Fri, 06 Nov 2020 14:56:35 GMT"
          );