:root {
  --vf-color--green: #18974c;
  --vf-color--green--darkest: #0a5032;
  --vf-color--green--dark: #007b53;
  --vf-color--green--light: #6cc24a;
  --vf-color--green--lightest: #d0debb;
  --vf-color--grey: #707372;
  --vf-color--grey--darkest: #373a36;
  --vf-color--grey--dark: #54585a;
  --vf-color--grey--light: #a8a99e;
  --vf-color--grey--lightest: #d0d0ce;
  --vf-color--red: #d41645;
  --vf-color--red--dark: #a6093d;
  --vf-color--red--light: #e58f9e;
  --vf-color--blue: #3b6fb6;
  --vf-color--blue--dark: #193f90;
  --vf-color--blue--light: #8bb8e8;
  --vf-color--purple: #734595;
  --vf-color--purple--dark: #563d82;
  --vf-color--purple--light: #cba3d8;
  --vf-color--orange: #f49e17;
  --vf-color--orange--dark: #b65417;
  --vf-color--orange--light: #efc06e;
  --vf-color--yellow: #f4c61f;
  --vf-color--yellow--dark: #ffb81c;
  --vf-color--yellow--light: #fdd757;
  --vf-color--bright-green: #a1be1f;
  --vf-color--bright-green--dark: #7fb428;
  --vf-color--bright-green--light: #e2e868;
}

:root {
  --vf-ui-color--black: #000000;
  --vf-ui-color--grey: #f3f3f3;
  --vf-ui-color--grey--light: #d8d8d8;
  --vf-ui-color--yellow: #fffadc;
  --vf-ui-color--red: #d32f2f;
  --vf-ui-color--white: #ffffff;
  --vf-ui-color--off-white: #fafafa;
}

/*!
 * Component: @visual-framework/vf-list
 * Version: 1.0.0-beta.8
 * Location: components/vf-list
 */
.vf-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.71;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-list__item {
  margin-bottom: 16px;
}

.vf-list--l {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.421;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-list--ordered {
  margin: 0;
  list-style-type: decimal;
  padding-left: 16px;
}

.vf-list--ordered__item {
  margin-bottom: 16px;
}

.vf-list--unordered {
  margin: 0;
  padding-left: 16px;
  list-style-type: disc;
}

.vf-list--unordered__item {
  margin-bottom: 16px;
}

.vf-list--inline {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.vf-list--inline [class*=__item] {
  display: inline;
}

.vf-list--inline__item {
  margin-bottom: 16px;
}

.vf-list__link {
  border-bottom: none;
  text-decoration: underline;
  color: #3b6fb6;
}

.vf-list__link:visited {
  color: #54585a;
  border-bottom: none;
  text-decoration: underline;
}

.vf-list__link:hover {
  color: #193f90;
  border-bottom: none;
  text-decoration: underline;
}

/*!
 * Component: @visual-framework/vf-navigation
 * Version: 1.0.0-alpha.8
 * Location: components/vf-navigation
 */
.vf-navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.vf-navigation__heading {
  margin: 0;
}

.vf-navigation--global .vf-navigation__item:not(:first-child) {
  margin-left: 24px;
}

.vf-navigation--global .vf-navigation__link {
  border-bottom: none;
  text-decoration: underline;
  color: #54585a;
  text-decoration: none;
}

.vf-navigation--global .vf-navigation__link:visited {
  color: #54585a;
  border-bottom: none;
  text-decoration: underline;
}

.vf-navigation--global .vf-navigation__link:hover {
  color: #000000;
  border-bottom: none;
  text-decoration: underline;
}

.vf-navigation--main {
  background-color: #54585a;
  grid-column: main;
  margin: 0 auto;
  max-width: 76.5em;
  position: relative;
  width: 100%;
}

.vf-navigation--main::before {
  background-color: inherit;
  content: '';
  height: 100%;
  left: 50%;
  margin: 0 -50vw;
  position: absolute;
  right: 50%;
  width: 100vw;
  z-index: -1;
}

.vf-navigation--main .vf-navigation__list {
  display: block;
}

@media (min-width: 1024px) {
  .vf-navigation--main .vf-navigation__list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    margin-left: -1rem;
  }
}

.vf-navigation--main .vf-navigation__item {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 500;
  line-height: 1.5;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  display: block;
  margin: 0;
}

.vf-navigation--main .vf-navigation__item.is-active {
  background-color: #ffffff;
}

.vf-navigation--main .vf-navigation__item.is-active .vf-navigation__link {
  color: #000000;
}

.vf-navigation--main .vf-navigation__item:hover {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.vf-navigation--main .vf-navigation__item:hover .vf-navigation__link {
  color: #000000;
  display: block;
}

@media (min-width: 1024px) {
  .vf-navigation--main .vf-navigation__item {
    padding: 4px calc(var(--page-grid-gap) / 2);
  }
}

.vf-navigation--main .vf-navigation__link {
  border-bottom: none;
  text-decoration: underline;
  color: #ffffff;
  text-decoration: none;
}

.vf-navigation--main .vf-navigation__link:visited {
  color: #54585a;
  border-bottom: none;
  text-decoration: underline;
}

.vf-navigation--main .vf-navigation__link:hover {
  color: #ffffff;
  border-bottom: none;
  text-decoration: underline;
}

.vf-navigation--main .vf-navigation__link:visited {
  color: #ffffff;
}

@media (max-width: 1023px) {
  .vf-navigation--main {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 1rem;
  }
}

.vf-navigation--additional {
  background-color: #54585a;
  border: 0px solid #707372;
  border-width: 1px 0 1px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 76.5em;
  padding: 4px 0;
  position: relative;
  text-transform: uppercase;
  width: 100%;
}

.vf-navigation--additional::before {
  background-color: inherit;
  border: 0px solid #707372;
  border-width: 1px 0 1px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  content: '';
  height: calc(100% + 1px);
  left: 50%;
  margin: 0 -50vw;
  position: absolute;
  right: 50%;
  top: 0;
  width: 100vw;
  z-index: -1;
}

.vf-navigation--additional .vf-navigation__heading {
  color: #ffffff;
  padding-top: 6px;
}

.vf-navigation--additional .vf-navigation__list {
  margin-left: auto;
  padding-top: 5px;
}

.vf-navigation--additional .vf-navigation__item:not(:first-child) {
  margin-left: 24px;
}

.vf-navigation--additional .vf-navigation__link {
  border-bottom: none;
  text-decoration: underline;
  color: #fafafa;
  text-decoration: none;
}

.vf-navigation--additional .vf-navigation__link:visited {
  color: #ffffff;
  border-bottom: none;
  text-decoration: underline;
}

.vf-navigation--additional .vf-navigation__link:hover {
  color: #ffffff;
  border-bottom: none;
  text-decoration: underline;
}
