$componentInfo: (
             name: "@visual-framework/vf-figure",
             version: "1.3.0",
             location: "components/vf-figure",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Mon, 09 Nov 2020 11:17:26 GMT"
          );