$componentInfo: (
             name: "@visual-framework/vf-figure",
             version: "1.2.0",
             location: "components/vf-figure",
             vfCoreVersion: "2.2.0-alpha.4"
          );